(test) 55kitchen - sync ggsheet (ok) copy-161.json
{"createdAt":"2023-07-09T10:07:11.742Z","updatedAt":"2023-07-09T10:18:30.000Z","id":"161","name":"(test) 55Kitchen - Sync GGSheet (OK) copy","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"app_id\": \"cli_a41487bb51f8d02f\",\n    \"app_secret\": \"luOwRQprGDvMhz3pN8N4TeM6X8fnsTdR\"\n}","options":{}},"id":"c642efad-956b-4001-a28a-93ca3d667146","name":"HTTP Request - Lark Ternant","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,320],"disabled":true},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/Ev3cb0rrJamJansrYGllPsRwgre/tables/tblnyeeR1DXfqNIE/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"🥣Order ID\":\"{{ $('ggsheet').item.json[\"OrderID\"] }}\",\"🥣OrderIDAuth\":\"{{ $('ggsheet').item.json[\"OrderIDAuth\"] }}\",\"shopify_link\":\"{{ $('ggsheet').item.json[\"LinkShopify\"] }}\",\"shopify_CusFirstName\":\"{{ $('ggsheet').item.json[\"Firstname\"] }}\",\"shopify_CusLastName\":\"{{ $('ggsheet').item.json[\"Lastname\"] }}\",\"shopify_Cusphone\":\"{{ $('ggsheet').item.json[\"Phone\"] }}\",\"🧏‍♂️CusZalo\":\"{{ $('ggsheet').item.json[\"Zalo\"] }}\",\"shopify_Createdate\":\"{{ $('ggsheet').item.json[\"Createdate\"] }}\",\"shopify_Deliverydate\":\"{{ $('ggsheet').item.json[\"Deliverydate\"] }}\",\"shopify_Deliveryaddress\":\"{{ $('ggsheet').item.json[\"Deliveryaddress\"] }}\",\"shopify_ID+F.Name\":\"{{ $('ggsheet').item.json[\"Foodname\"] }}\",\"shopify_id+mer.name\":\"{{ $('ggsheet').item.json[\"Merchantname\"] }}\",\"shopify_Qty\":\"{{ $('ggsheet').item.json[\"Qty\"] }}\",\"shopify_Unitprice\":\"{{ $('ggsheet').item.json[\"Unitprice\"] }}\",\"shopify_Somontongbill\":\"{{ $('ggsheet').item.json[\"Somontongbill\"] }}\",\"shopify_Tongtien\":\"{{  $('ggsheet').item.json[\"Totalprice\"]}}\"}}","options":{}},"id":"a73b7f52-4c04-4cee-a3ca-6facfb815ba4","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1020,320],"disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1ar-ryono31SgJ3IUzXy8CHeGdYJjaDqN-onRB-FHO_0","mode":"list","cachedResultName":"55-Kitchen-Order-From-Shopify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ar-ryono31SgJ3IUzXy8CHeGdYJjaDqN-onRB-FHO_0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1969433794,"mode":"list","cachedResultName":"Order-LineItems","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ar-ryono31SgJ3IUzXy8CHeGdYJjaDqN-onRB-FHO_0/edit#gid=1969433794"},"event":"rowAdded","options":{}},"id":"67b6a596-a702-4528-8ef7-eda5e6a6d741","name":"ggsheet","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[580,320],"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"38","name":"Google Sheets Trigger account (hình như của ngothaikhang@gmail)"}},"disabled":true},{"parameters":{"additionalFields":{}},"id":"f9c75624-02df-42c6-8c82-1a32b7377d8b","name":"Shopify","type":"n8n-nodes-base.shopify","typeVersion":1,"position":[580,20]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"app_id\": \"cli_a41487bb51f8d02f\",\n    \"app_secret\": \"luOwRQprGDvMhz3pN8N4TeM6X8fnsTdR\"\n}","options":{}},"id":"2228be7f-ebce-4be8-a6e7-e21e5928e05b","name":"HTTP Request - Lark Ternant1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,20]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/Ev3cb0rrJamJansrYGllPsRwgre/tables/tblnyeeR1DXfqNIE/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"🥣Order ID\":\"{{ $('ggsheet').item.json[\"OrderID\"] }}\",\"🥣OrderIDAuth\":\"{{ $('ggsheet').item.json[\"OrderIDAuth\"] }}\",\"shopify_link\":\"{{ $('ggsheet').item.json[\"LinkShopify\"] }}\",\"shopify_CusFirstName\":\"{{ $('ggsheet').item.json[\"Firstname\"] }}\",\"shopify_CusLastName\":\"{{ $('ggsheet').item.json[\"Lastname\"] }}\",\"shopify_Cusphone\":\"{{ $('ggsheet').item.json[\"Phone\"] }}\",\"🧏‍♂️CusZalo\":\"{{ $('ggsheet').item.json[\"Zalo\"] }}\",\"shopify_Createdate\":\"{{ $('ggsheet').item.json[\"Createdate\"] }}\",\"shopify_Deliverydate\":\"{{ $('ggsheet').item.json[\"Deliverydate\"] }}\",\"shopify_Deliveryaddress\":\"{{ $('ggsheet').item.json[\"Deliveryaddress\"] }}\",\"shopify_ID+F.Name\":\"{{ $('ggsheet').item.json[\"Foodname\"] }}\",\"shopify_id+mer.name\":\"{{ $('ggsheet').item.json[\"Merchantname\"] }}\",\"shopify_Qty\":\"{{ $('ggsheet').item.json[\"Qty\"] }}\",\"shopify_Unitprice\":\"{{ $('ggsheet').item.json[\"Unitprice\"] }}\",\"shopify_Somontongbill\":\"{{ $('ggsheet').item.json[\"Somontongbill\"] }}\",\"shopify_Tongtien\":\"{{  $('ggsheet').item.json[\"Totalprice\"]}}\"}}","options":{}},"id":"4bdcd763-21c9-430f-943d-9ee1388b0f26","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1020,20]}],"connections":{"HTTP Request - Lark Ternant":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"ggsheet":{"main":[[{"node":"HTTP Request - Lark Ternant","type":"main","index":0}]]},"Shopify":{"main":[[{"node":"HTTP Request - Lark Ternant1","type":"main","index":0}]]},"HTTP Request - Lark Ternant1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{},"staticData":{"node:ggsheet":{"documentId":"1ar-ryono31SgJ3IUzXy8CHeGdYJjaDqN-onRB-FHO_0","sheetId":1969433794,"lastIndexChecked":84}},"pinData":{},"versionId":"20c0f976-6ddc-4e4d-a9ae-f771cc0277c8","triggerCount":1,"tags":[]}