-caresoft- get customer (contact) every hour-126.json
{"createdAt":"2023-06-13T07:53:49.993Z","updatedAt":"2023-06-19T07:13:30.000Z","id":"126","name":"[Caresoft] Get customer (contact) every hour","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"177a3657-d480-4af8-88d4-aac33ac22c04","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[120,340]},{"parameters":{"jsCode":"// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet startDate = new Date($('Schedule Trigger').first().json.timestamp);\nlet endDate = new Date($('Schedule Trigger').first().json.timestamp);\n\nstartDate.setHours(startDate.getHours() - 1);\n// startDate.setHours(startDate.getHours() - 720);\nstartDate.setMinutes(0);\nstartDate.setSeconds(1);\n\nreturn {\n  json: {\n    startDate: startDate.toISOString(),\n    endDate: endDate.toISOString(),\n  },\n};"},"id":"aa5085a7-9392-4de1-ade4-4a68bc458094","name":"Get start time","type":"n8n-nodes-base.code","typeVersion":1,"position":[300,340]},{"parameters":{"jsCode":"let input = $('Get customer in the last hour').first().json.contacts;\n\n// Get calls data\nlet records = input.map((contact) => {\n  let fields = {\n    id: contact.id,\n    username: contact.username,\n    phone_no:contact.phone_no, \n    updated_at: new Date(contact.updated_at).getTime(),\n    created_at: new Date(contact.created_at).getTime(),    \n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;"},"id":"3c383a84-4d00-4007-87d2-d8aea5eed488","name":"Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[680,340]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tbljzeaqj3GQGfGn/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get Lark tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('Convert to Lark format').first().json.records) }}}","options":{}},"id":"5616076b-24ec-46ec-9b43-af7bcbd5a89d","name":"Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1240,340]},{"parameters":{"url":"https://web11.caresoft.vn/hsvn/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"created_since","value":"={{ $node[\"Get start time\"].json.startDate }}"},{"name":"created_to","value":"={{ $node[\"Get start time\"].json.endDate }}"},{"name":"count","value":"500"},{"name":"page","value":"1"},{"name":"order_by","value":"created_at"},{"name":"order_type","value":"desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization"}]},"options":{}},"id":"8ea47dc3-0c31-48bf-9001-035b285fb095","name":"Get customer in the last hour","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[480,340]},{"parameters":{"url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $('Set Lark auth').json.appId }}/tables/{{ $('Set Lark auth').json.appId }}/records  ","options":{}},"id":"dd889737-b7eb-451e-ac74-a01cd11e1f31","name":"Get Lark tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1040,340]},{"parameters":{"values":{"string":[{"name":"appId"},{"name":"appSecret"}]},"options":{}},"id":"30366cd2-4d19-44fd-9216-e39822069a21","name":"Set Lark auth","type":"n8n-nodes-base.set","typeVersion":1,"position":[860,340]}],"connections":{"Schedule Trigger":{"main":[[]]},"Get start time":{"main":[[{"node":"Get customer in the last hour","type":"main","index":0}]]},"Convert to Lark format":{"main":[[{"node":"Set Lark auth","type":"main","index":0}]]},"Get customer in the last hour":{"main":[[{"node":"Convert to Lark format","type":"main","index":0}]]},"Set Lark auth":{"main":[[{"node":"Get Lark tenant access token","type":"main","index":0}]]},"Get Lark tenant access token":{"main":[[{"node":"Add records to Bitable","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"0c711e54-9490-4a6f-9508-cd8cec85acf6","triggerCount":0,"tags":[{"createdAt":"2023-02-27T05:42:03.910Z","updatedAt":"2023-02-27T05:42:03.910Z","id":"10","name":"Caresoft"},{"createdAt":"2023-04-13T09:24:58.649Z","updatedAt":"2023-06-13T07:54:39.069Z","id":"14","name":"Template"}]}