-caresoft- get chat every hour-125.json
{"createdAt":"2023-06-13T07:53:12.642Z","updatedAt":"2023-06-19T07:16:12.000Z","id":"125","name":"[Caresoft] Get chat every hour","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"587b7927-e21e-4cb5-bb17-fae11b0102f3","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,380]},{"parameters":{"jsCode":"// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet startDate = new Date($('Schedule Trigger').first().json.timestamp);\nlet endDate = new Date($('Schedule Trigger').first().json.timestamp);\n\nstartDate.setHours(startDate.getHours() + 6);\n// startDate.setHours(startDate.getHours() - 720); // fetch data previous 30 days\nstartDate.setMinutes(0);\nstartDate.setSeconds(1);\n\nendDate.setHours(endDate.getHours() + 7); // Add 7 hrs to compensate for Caresoft time\n\nreturn {\n  json: {\n    startDate: startDate.toISOString(),\n    endDate: endDate.toISOString(),\n  },\n};"},"id":"5fd9c1a6-902a-4f00-836a-3ee59def51e3","name":"Get start time","type":"n8n-nodes-base.code","typeVersion":1,"position":[180,380]},{"parameters":{"url":"https://web11.caresoft.vn/hsvn/api/v1/chats","sendQuery":true,"queryParameters":{"parameters":[{"name":"start_time_since","value":"={{ $node[\"Get start time\"].json.startDate }}"},{"name":"start_time_to","value":"={{ $node[\"Get start time\"].json.endDate }}"},{"name":"count","value":"500"},{"name":"chat_type","value":"1"},{"name":"page","value":"1"},{"name":"order_by","value":"start_time"},{"name":"order_type","value":"desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization"}]},"options":{}},"id":"192de21b-8837-4b14-a5c7-9c3a7dda7063","name":"Get chat from agents in the last hour","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[460,300]},{"parameters":{"url":"https://web11.caresoft.vn/hsvn/api/v1/chats","sendQuery":true,"queryParameters":{"parameters":[{"name":"start_time_since","value":"={{ $node[\"Get start time\"].json.startDate }}"},{"name":"start_time_to","value":"={{ $node[\"Get start time\"].json.endDate }}"},{"name":"count","value":"500"},{"name":"chat_type","value":"0"},{"name":"page","value":"1"},{"name":"order_by","value":"start_time"},{"name":"order_type","value":"desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization"}]},"options":{}},"id":"530d20c0-eed4-4ada-bff9-f6270f196b5b","name":"Get chat from customers in the last hour","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[460,520]},{"parameters":{"jsCode":"let data = $('Get chat from agents in the last hour').first().json\nlet chats = data.chats;\n\n// Get chat data\nchats = chats.map((chat) => {\n  return { ...chat, chat_type: 1 };\n});\n\nreturn chats;\n"},"id":"2654a0f9-57d6-479c-8849-909737868e89","name":"Add chat type for agents","type":"n8n-nodes-base.code","typeVersion":1,"position":[660,300]},{"parameters":{"jsCode":"let data = $('Get chat from customers in the last hour').first().json\nlet chats = data.chats;\n\n// Get chat data\nchats = chats.map((chat) => {\n  return { ...chat, chat_type: 0 };\n});\n\nreturn chats;\n"},"id":"0e4712ac-aecf-4076-b844-2c5f6833d976","name":"Add chat type for customers","type":"n8n-nodes-base.code","typeVersion":1,"position":[660,520]},{"parameters":{"jsCode":"let input1 = $('Add chat type for agents').all();\nlet input2 = $('Add chat type for customers').all();\n\nconst input = [...input1, ...input2];\n\n// Get calls data\nlet records = input.map((chat) => {\n  let fields = {\n    ticket_id: chat.json.ticket_id,\n    ticket_no: chat.json.ticket_no,\n    customer_id: chat.json.customer_id,\n    group_name: chat.json.group_name,\n    conversation_id: chat.json.conversation_id,\n    cus_email: chat.json.cus_email,\n    cus_name: chat.json.cus_name,\n    cus_phone: chat.json.cus_phone,\n    start_time: new Date(chat.json.start_time).getTime() - 3600000*7,\n    end_time: new Date(chat.json.end_time).getTime() - 3600000*7,\n    chat_duration: chat.json.chat_duration,\n    agent_email: chat.json.agent_email,\n    agent_name: chat.json.agent_name,\n    ring_time: chat.json.ring_time && new Date(chat.json.ring_time).getTime() - 3600000*7,\n    meet_time: chat.json.meet_time && new Date(chat.json.meet_time).getTime() - 3600000*7,\n    waitTime: chat.json.waitTime,\n    answer_time: chat.json.answer_time,\n    chat_status: chat.json.chat_status,\n    is_trigger: chat.json.is_trigger,\n    facebook_page_id: chat.json.facebook_page_id,\n    service_id: chat.json.service_id,\n    chat_type: chat.json.chat_type,\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;\n"},"id":"a67ac33f-5a2f-4aaf-bc35-dc0b405aaa94","name":"[Raw chat] Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[1240,260]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tbli8yYZM1ABVqbO/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get Lark tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('[Raw chat] Convert to Lark format').first().json.records) }}}","options":{}},"id":"b6f75f74-1230-4365-a0c9-8c15ec2f804d","name":"[Raw chat] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1460,260]},{"parameters":{"jsCode":"let input1 = $('Add chat type for agents').all();\nlet input2 = $('Add chat type for customers').all();\n\nconst input = [...input1, ...input2];\n\nconsole.log(input)\n\n// Get calls data\nlet records = input.map((chat) => {\n  let fields = {\n    \"ID chat\": chat.json.conversation_id,\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;\n"},"id":"73982cec-fcd8-4b9c-afbc-461ca869dd0e","name":"[Chat] Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[1240,560]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tbl91enKGtCUlweo/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get Lark tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('[Chat] Convert to Lark format').first().json.records) }}}","options":{}},"id":"48610dd9-75a3-4b57-9af3-c9a06bf261bc","name":"[Chat] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1460,560]},{"parameters":{"url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $('Set Lark auth').json.appId }}/tables/{{ $('Set Lark auth').json.appId }}/records  ","options":{}},"id":"20b43aa3-484b-4607-9001-23edc025d630","name":"Get Lark tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1040,400]},{"parameters":{"values":{"string":[{"name":"appId"},{"name":"appSecret"}]},"options":{}},"id":"1e12f391-589f-445d-b692-054ac61710ec","name":"Set Lark auth","type":"n8n-nodes-base.set","typeVersion":1,"position":[860,400]}],"connections":{"Get start time":{"main":[[{"node":"Get chat from agents in the last hour","type":"main","index":0},{"node":"Get chat from customers in the last hour","type":"main","index":0}]]},"Get chat from agents in the last hour":{"main":[[{"node":"Add chat type for agents","type":"main","index":0}]]},"Get chat from customers in the last hour":{"main":[[{"node":"Add chat type for customers","type":"main","index":0}]]},"Add chat type for agents":{"main":[[{"node":"Set Lark auth","type":"main","index":0}]]},"Add chat type for customers":{"main":[[{"node":"Set Lark auth","type":"main","index":0}]]},"[Raw chat] Convert to Lark format":{"main":[[{"node":"[Raw chat] Add records to Bitable","type":"main","index":0}]]},"[Chat] Convert to Lark format":{"main":[[{"node":"[Chat] Add records to Bitable","type":"main","index":0}]]},"Set Lark auth":{"main":[[{"node":"Get Lark tenant access token","type":"main","index":0}]]},"Get Lark tenant access token":{"main":[[{"node":"[Raw chat] Convert to Lark format","type":"main","index":0},{"node":"[Chat] Convert to Lark format","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"98e1390e-d453-4874-b909-001289b5b2d6","triggerCount":0,"tags":[{"createdAt":"2023-02-27T05:42:03.910Z","updatedAt":"2023-02-27T05:42:03.910Z","id":"10","name":"Caresoft"},{"createdAt":"2023-04-13T09:24:58.649Z","updatedAt":"2023-06-13T07:54:39.069Z","id":"14","name":"Template"}]}