-lark-get-app-access-token-33.json
{"createdAt":"2023-02-24T02:35:49.606Z","updatedAt":"2023-02-24T02:38:01.000Z","id":"33","name":"[Lark] Get app access token","active":false,"nodes":[{"parameters":{},"id":"0d2483c3-d460-47a7-b561-27ea1c406edc","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[620,400]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"{ \"app_id\" : \"cli_a372a34abe789010\", \"app_secret\" : \"DKmzzhZm18FAtMhlk2pLwczi6JVMvytI\"  }","options":{}},"id":"500013e7-7854-42f6-b92b-2e93dff15f64","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[840,400]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/authen/v1/access_token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{     \"grant_type\": \"authorization_code\",     \"code\": \"141hfefa068a4ba7abdf99a1c98ad47v\" }","options":{}},"id":"746cbc58-f6df-419d-8083-f66139a61bb0","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1060,400]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RDBBTEXxrC07DE8hjVFYrhIzz5h9BHhojcFhgZDOBxU","mode":"list","cachedResultName":"Lark Connector Token","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDBBTEXxrC07DE8hjVFYrhIzz5h9BHhojcFhgZDOBxU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDBBTEXxrC07DE8hjVFYrhIzz5h9BHhojcFhgZDOBxU/edit#gid=0"},"columnToMatchOn":"key","valueToMatchOn":"lark_key","fieldsUi":{"values":[{"column":"access_token","fieldValue":"={{ $json[\"data\"][\"access_token\"] }}"},{"column":"expires_in","fieldValue":"={{ $json[\"data\"][\"expires_in\"] }}"},{"column":"refresh_token","fieldValue":"={{ $json[\"data\"][\"refresh_token\"] }}"},{"column":"refresh_expires_in","fieldValue":"={{ $json[\"data\"][\"refresh_expires_in\"] }}"}]},"options":{}},"id":"8f93c974-c5a6-45cb-80dc-13d263532f8d","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[1280,400],"credentials":{"googleSheetsOAuth2Api":{"id":"3","name":"Google Sheets lekhoi456@gmail.com"}}}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"7b1cc06a-a537-466f-88ca-6a0357911207","triggerCount":0,"tags":[]}