2- woocommerce - base-495.json
{"createdAt":"2023-08-29T10:56:33.132Z","updatedAt":"2023-08-29T12:29:47.000Z","id":"495","name":"2- Woocommerce - Base","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"woocommerce-to-base-demo-03-08-2023-zth-01","options":{}},"id":"38025dbf-8496-438d-a3e7-36b54211abc3","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[260,200],"webhookId":"844b5c94-8365-451b-a684-7304f589ec6d"},{"parameters":{"values":{"string":[{"name":"appId","value":"cli_a43de77666b9d009"},{"name":"appSecret","value":"90BzblYO0KqaflN2WjeVskjsu7U0gRz2"},{"name":"baseId","value":"KQARbKCYFaIkkRskqvfuWldUsce"},{"name":"tableId","value":"tblQEyC3W0OL3i3e"}]},"options":{}},"id":"eced20d4-2be0-421e-9fe1-b8055903fdbf","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[480,200]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"app_id\" : \"{{ $('Set').item.json[\"appId\"] }}\",\n\"app_secret\" : \"{{ $('Set').item.json[\"appSecret\"] }}\" \n}","options":{}},"id":"f97b431c-b720-4785-b177-e03df84b4671","name":"get app_access_token","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[700,200]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $('Set').item.json[\"baseId\"] }}/tables/{{ $('Set').item.json[\"tableId\"] }}/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('get app_access_token').item.json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\":\n  { \n    \"name\":\"{{ $('Webhook').item.json[\"query\"][\"name\"] }}\",\n    \"phone\":\"{{$('Webhook').item.json[\"query\"][\"phone\"]}}\",\n    \"email\":\"{{$('Webhook').item.json[\"query\"][\"email\"]}}\"\n   }\n}","options":{}},"id":"1c298bce-2ffe-480e-99e8-437301c12e6f","name":"add data","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[920,200]}],"connections":{"Webhook":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"get app_access_token","type":"main","index":0}]]},"get app_access_token":{"main":[[{"node":"add data","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Set":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Go-http-client/2.0","content-length":"0","accept-encoding":"gzip","x-forwarded-for":"3.211.55.69","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"3.211.55.69","x-tt-env":"prod","x-tt-logid":"02169330907946800000000000000000000ffffc126791d3621ae"},"params":{},"query":{"email":"nguyenhao@gmail.com","name":"Nguyên Hảo","phone":"0987683175"},"body":{},"appId":"cli_a43de77666b9d009","appSecret":"90BzblYO0KqaflN2WjeVskjsu7U0gRz2","baseId":"KQARbKCYFaIkkRskqvfuWldUsce","tableId":"tblQEyC3W0OL3i3e"},"pairedItem":{"item":0}}],"get app_access_token":[{"json":{"app_access_token":"t-g2058tbCIKSILN3QHVKIVP3BRHRW42L4MFJ2TIJW","code":0,"expire":7200,"msg":"ok","tenant_access_token":"t-g2058tbCIKSILN3QHVKIVP3BRHRW42L4MFJ2TIJW"},"pairedItem":{"item":0}}]},"versionId":"73b600d5-ea48-4c32-be21-1de64fbe1ec8","triggerCount":0,"tags":[]}