4-11_moi pv-517.json
{"createdAt":"2023-09-08T09:49:22.149Z","updatedAt":"2023-09-09T01:10:37.000Z","id":"517","name":"4.11_Moi PV","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"411_MoiPV","options":{}},"id":"d2f75a77-fa73-4c24-be54-e49157f296ec","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[120,260],"webhookId":"fe210e12-631f-43e7-9aba-a609d34b4486"},{"parameters":{"fromEmail":"GRGR Tuyển Dụng <Tuyendung@grgr.vn>","toEmail":"={{ $json.query.Email }}","subject":"GRGR | THƯ MỜI PHỎNG VẤN","emailFormat":"html","html":"=<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\" style=\"font-family:arial, 'helvetica neue', helvetica, sans-serif\">\n<head>\n<meta charset=\"UTF-8\">\n<meta content=\"width=device-width, initial-scale=1\" name=\"viewport\">\n<meta name=\"x-apple-disable-message-reformatting\">\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n<meta content=\"telephone=no\" name=\"format-detection\">\n<title>THƯ MỜI PHỎNG VẤN</title><!--[if (mso 16)]>\n<style type=\"text/css\">\na {text-decoration: none;}\n</style>\n<![endif]--><!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]--><!--[if gte mso 9]>\n<xml>\n<o:OfficeDocumentSettings>\n<o:AllowPNG></o:AllowPNG>\n<o:PixelsPerInch>96</o:PixelsPerInch>\n</o:OfficeDocumentSettings>\n</xml>\n<![endif]--><!--[if !mso]><!-- -->\n<link href=\"https://fonts.googleapis.com/css2?family=Imprima&display=swap\" rel=\"stylesheet\"><!--<![endif]-->\n<style type=\"text/css\">\n#outlook a {\npadding:0;\n}\n.es-button {\nmso-style-priority:100!important;\ntext-decoration:none!important;\n}\na[x-apple-data-detectors] {\ncolor:inherit!important;\ntext-decoration:none!important;\nfont-size:inherit!important;\nfont-family:inherit!important;\nfont-weight:inherit!important;\nline-height:inherit!important;\n}\n.es-desk-hidden {\ndisplay:none;\nfloat:left;\noverflow:hidden;\nwidth:0;\nmax-height:0;\nline-height:0;\nmso-hide:all;\n}\n.btn-link {\n    border: none;\n    outline: none;\n    background: none;\n    cursor: pointer;\n    color: #0000EE;\n    padding: 0;\n    text-decoration: underline;\n    font-family: inherit;\n    font-size: inherit;\n}\n@media only screen and (max-width:600px) {p, ul li, ol li, a { line-height:150%!important } h1, h2, h3, h1 a, h2 a, h3 a { line-height:120% } h1 { font-size:30px!important; text-align:left } h2 { font-size:24px!important; text-align:left } h3 { font-size:20px!important; text-align:left } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important; text-align:left } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:24px!important; text-align:left } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important; text-align:left } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a { font-size:14px!important } .es-content-body p, .es-content-body ul li, .es-content-body ol li, .es-content-body a { font-size:14px!important } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a { font-size:12px!important } *[class=\"gmail-fix\"] { display:none!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 { text-align:right!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-button-border { display:block!important } a.es-button, button.es-button { font-size:18px!important; display:block!important; border-right-width:0px!important; border-left-width:0px!important; border-top-width:15px!important; border-bottom-width:15px!important } .es-adaptive table, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .es-adapt-td { display:block!important; width:100%!important } .adapt-img { width:100%!important; height:auto!important } .es-m-p0 { padding:0px!important } .es-m-p0r { padding-right:0px!important } .es-m-p0l { padding-left:0px!important } .es-m-p0t { padding-top:0px!important } .es-m-p0b { padding-bottom:0!important } .es-m-p20b { padding-bottom:20px!important } .es-mobile-hidden, .es-hidden { display:none!important } tr.es-desk-hidden, td.es-desk-hidden, table.es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } table.es-social { display:inline-block!important } table.es-social td { display:inline-block!important } .es-desk-hidden { display:table-row!important; width:auto!important; overflow:visible!important; max-height:inherit!important } .h-auto { height:auto!important } }\n</style>\n</head>\n<body data-new-gr-c-s-loaded=\"14.1101.0\" style=\"width:100%;font-family:arial, 'helvetica neue', helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0\">\n<div class=\"es-wrapper-color\" style=\"background-color:#FFFFFF\"><!--[if gte mso 9]>\n<v:background xmlns:v=\"urn:schemas-microsoft-com:vml\" fill=\"t\">\n<v:fill type=\"tile\" color=\"#ffffff\"></v:fill>\n</v:background>\n<![endif]-->\n<table class=\"es-wrapper\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#FFFFFF\">\n<tr>\n<td valign=\"top\" style=\"padding:0;Margin:0\">\n<table cellpadding=\"0\" cellspacing=\"0\" class=\"es-content\" align=\"center\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0\">\n<table bgcolor=\"#efefef\" class=\"es-content-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#EFEFEF;border-radius:20px 20px 0 0;width:600px\">\n<tr>\n<td align=\"left\" style=\"padding:0;Margin:0;padding-top:40px;padding-left:40px;padding-right:40px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:520px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0;font-size:0px\"><a target=\"_blank\" href=\"https://www.facebook.com/profile.php?id=100070155469589\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:18px\"><img src=\"http://grgr.vn/Content/img/Logo.png\" alt style=\"display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;border-radius:30px\" width=\"200\"></a></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n<tr>\n<td align=\"left\" style=\"padding:0;Margin:0;padding-top:20px;padding-left:40px;padding-right:40px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:520px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" bgcolor=\"#fafafa\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:separate;border-spacing:0px;background-color:#fafafa;border-radius:10px\" role=\"presentation\">\n<tr>\n  <td align=\"left\" style=\"padding:20px;Margin:0\"><h3 style=\"Margin:0;line-height:34px;mso-line-height-rule:exactly;font-family:Imprima, Arial, sans-serif;font-size:28px;font-style:normal;font-weight:bold;color:#2D3142\">Gửi Bạn {{ $json.query.Name }},</h3><p style=\"Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Imprima, Arial, sans-serif;line-height:27px;color:#2D3142;font-size:18px\"><br><br>Lời đầu tiên, chúng tôi cảm ơn Bạn đã ứng tuyển vị trí: <strong>{{ $json.query.pos}}</strong>. Sau vòng sơ vấn và buổi đào tạo online, chúng tôi nhận thấy rằng Bạn có đầy đủ kiến thức, kỹ năng, kinh nghiệm và rất phù hợp với vị trí ứng tuyển. Chúng tôi trân trọng mời Bạn tham gia buổi phỏng vấn online theo chi tiết dưới đây:.<br><br><strong>Thời gian:</strong> {{ $json.query.tg }} <br><br><strong>Link phỏng vấn: </strong> {{ $json.query.link }} \n<br><br>\nĐể có sự chuẩn bị tốt nhất cho buổi phỏng vấn, Bạn vui lòng xác nhận lịch phỏng vấn bằng nút <strong>Xác Nhận</strong> bên dưới!<br><br>Trân trọng,<br><strong>GRGR</strong><br><br>\nP/S: Nếu có bất kỳ thắc mắc nào, Bạn hãy gọi {{ $json.query.dtll}} để tiện trao đổi.</p></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table>\n<table cellpadding=\"0\" cellspacing=\"0\" class=\"es-content\" align=\"center\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0\">\n<table bgcolor=\"#efefef\" class=\"es-content-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#EFEFEF;width:600px\">\n<tr>\n<td align=\"left\" style=\"Margin:0;padding-top:30px;padding-bottom:40px;padding-left:40px;padding-right:40px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:520px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0\"><!--[if mso]><a href=\"\" target=\"_blank\" hidden>\n<v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:w=\"urn:schemas-microsoft-com:office:word\" esdevVmlButton href=\"\"\nstyle=\"height:56px; v-text-anchor:middle; width:520px\" arcsize=\"50%\" stroke=\"f\" fillcolor=\"#7630f3\">\n<w:anchorlock></w:anchorlock>\n<center style='color:#ffffff; font-family:-apple-system, \"system-ui\", \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\"; font-size:22px; font-weight:700; line-height:22px; mso-text-raise:1px'>Take a Test</center>\n</v:roundrect></a>\n<![endif]--><!--[if !mso]><!-- -->\n   <form action=\"https://app.n8n.vn/webhook/411_ok?recordID={{ $json[\"query\"][\"RecordID\"] }}\" method=\"post\">\n    <button type=\"submit\" style=\"mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#FFFFFF;font-size:22px;padding:15px 20px 15px 20px;display:block;background:#2B4FC4;border-radius:30px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';font-weight:bold;font-style:normal;line-height:26px;width:auto;text-align:center;mso-hide:all;padding-left:50px;padding-right:50px;border-color:#2B4FC4\">XÁC NHẬN</button>\n</form>\n<!--<![endif]--></td>\n</tr>\n  </table></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table>\n\n<table cellpadding=\"0\" cellspacing=\"0\" class=\"es-footer\" align=\"center\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0\">\n<table bgcolor=\"#bcb8b1\" class=\"es-footer-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px\">\n<tr>\n<td align=\"left\" style=\"Margin:0;padding-left:20px;padding-right:20px;padding-bottom:30px;padding-top:40px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"left\" style=\"padding:0;Margin:0;width:560px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" class=\"es-m-txt-c\" style=\"padding:0;Margin:0;padding-top:10px;padding-bottom:20px;font-size:0\">\n<table cellpadding=\"0\" cellspacing=\"0\" class=\"es-table-not-adapt es-social\" role=\"presentation\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0\"><a target=\"_blank\" href=\"https://www.facebook.com/profile.php?id=100070155469589\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"><img src=\"https://dnsfnr.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png\" alt=\"Fb\" title=\"Facebook\" height=\"24\" style=\"display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic\"></a></td>\n\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0\"><a target=\"_blank\" href=\"https://goo.gl/maps/qoCMKgPT5DDoMmZj9\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"><img src=\"https://dnsfnr.stripocdn.email/content/assets/img/other-icons/logo-black/location-logo-black.png\" alt=\"Map Marker\" title=\"Map Marker\" height=\"24\" style=\"display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic\"></a></td>\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0\"><a target=\"_blank\" href=\"tel:0908376800\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"><img src=\"https://dnsfnr.stripocdn.email/content/assets/img/other-icons/logo-black/phone-logo-black.png\" alt=\"Phone\" title=\"Phone\" height=\"24\" style=\"display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic\"></a></td>\n\n</tr>\n</table></td>\n</tr>\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0;padding-top:20px\"><p style=\"Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Imprima, Arial, sans-serif;line-height:21px;color:#2D3142;font-size:14px\"><a target=\"_blank\" href=\"\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"></a>Copyright © 2023&nbsp;GRGR<a target=\"_blank\" href=\"\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"></a></p></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table>\n</div>\n</body>\n</html>","options":{}},"id":"4857eb1c-7706-41d8-8523-cb2089bcd656","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[560,240],"credentials":{"smtp":{"id":"56","name":"SMTP account 6"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query.check }}","value2":"OK"}]}},"id":"e49be5f5-a853-49d3-a5e6-647ab0a22057","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[320,280]}],"connections":{"Webhook":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"733ac08f-d7e1-415a-8ea8-92b368ba395a","triggerCount":1,"tags":[{"createdAt":"2023-09-08T09:35:18.470Z","updatedAt":"2023-09-08T09:35:18.470Z","id":"38","name":"GR_SPX caller"}]}