55kitchen - nhận data từ casso đẩy qua base-484.json
{"createdAt":"2023-08-23T04:59:33.680Z","updatedAt":"2023-08-26T15:24:41.000Z","id":"484","name":"55Kitchen - Nhận data từ Casso đẩy qua Base","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"app_id\": \"cli_a41487bb51f8d02f\",\n    \"app_secret\": \"luOwRQprGDvMhz3pN8N4TeM6X8fnsTdR\"\n}","options":{}},"id":"7c0ae9b4-69c0-49a6-9d4d-6425b10e6131","name":"HTTP Request - Lark Ternant","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[700,320]},{"parameters":{"httpMethod":"POST","path":"a7f2ee97-a3f1-450f-99c8-10a7d7ef493d","options":{}},"id":"b34ae18a-2895-4586-a30d-5a2d82a4af6e","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[480,320],"webhookId":"a7f2ee97-a3f1-450f-99c8-10a7d7ef493d"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/Ev3cb0rrJamJansrYGllPsRwgre/tables/tblA0mVdwlKVyrSL/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"TID\":\"{{ $('Webhook').item.json.body.data[0].tid }}\",\"c_description\":\"{{ $('Webhook').item.json.body.data[0].description }}\",\"c_amount\":\" {{ $('Webhook').item.json.body.data[0].amount }}\",\"c_balance\":\" {{ $('Webhook').item.json.body.data[0].cusum_balance }}\",\"c_bankname\":\" {{ $('Webhook').item.json.body.data[0].bankName }}\",\"c_bankid\":\" {{ $('Webhook').item.json.body.data[0].corresponsiveBankId }}\"}}","options":{}},"id":"8bd4ee40-d9ce-4816-a762-3eb4bbc3ca61","name":"HTTP Request: Create record in LarkBase","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[920,320]}],"connections":{"HTTP Request - Lark Ternant":{"main":[[{"node":"HTTP Request: Create record in LarkBase","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request - Lark Ternant","type":"main","index":0}]]}},"settings":{},"staticData":{"node:ggsheet":{"documentId":"1ar-ryono31SgJ3IUzXy8CHeGdYJjaDqN-onRB-FHO_0","sheetId":1969433794,"lastIndexChecked":190}},"pinData":{},"versionId":"e5979770-ac7a-44f0-889a-18ae126e5ee1","triggerCount":1,"tags":[]}