55kitchen - sync ggsheet ok (copy 17-07-2023)-185.json
{"createdAt":"2023-07-17T12:00:31.689Z","updatedAt":"2023-07-20T12:47:04.000Z","id":"185","name":"55Kitchen - Sync GGSheet OK (copy 17/07/2023)","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"app_id\": \"cli_a41487bb51f8d02f\",\n    \"app_secret\": \"luOwRQprGDvMhz3pN8N4TeM6X8fnsTdR\"\n}","options":{}},"id":"a2f5992d-fe96-482c-a472-734bbf36a77f","name":"HTTP Request - Lark Ternant","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,320]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/Ev3cb0rrJamJansrYGllPsRwgre/tables/tblnyeeR1DXfqNIE/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"🥣Order ID\":\"{{ $('ggsheet').item.json[\"OrderID\"] }}\",\"shopify_OrderIDAuth\":\"{{ $('ggsheet').item.json[\"OrderIDAuth\"] }}\",\"shopify_link\":\"{{ $('ggsheet').item.json[\"LinkShopify\"] }}\",\"shopify_CusFirstName\":\"{{ $('ggsheet').item.json[\"Firstname\"] }}\",\"shopify_CusLastName\":\"{{ $('ggsheet').item.json[\"Lastname\"] }}\",\"shopify_Cusphone\":\"{{ $('ggsheet').item.json[\"Phone\"] }}\",\"shopify_CusZalo\":\"{{ $('ggsheet').item.json[\"Zalo\"] }}\",\"shopify_Createdate\":\"{{ $('ggsheet').item.json[\"Createdate\"] }}\",\"shopify_Deliverydate\":\"{{ $('ggsheet').item.json[\"Deliverydate\"] }}\",\"shopify_Deliveryaddress\":\"{{ $('ggsheet').item.json[\"Deliveryaddress\"] }}\",\"shopify_ID+F.Name\":\"{{ $('ggsheet').item.json[\"Foodname\"] }}\",\"shopify_id+mer.name\":\"{{ $('ggsheet').item.json[\"Merchantname\"] }}\",\"shopify_Qty\":\"{{ $('ggsheet').item.json[\"Qty\"] }}\",\"shopify_Unitprice\":\"{{ $('ggsheet').item.json[\"Unitprice\"] }}\",\"shopify_Somontongbill\":\"{{ $('ggsheet').item.json[\"Somontongbill\"] }}\",\"shopify_Tongtien\":\"{{  $('ggsheet').item.json[\"Totalprice\"]}}\"}}","options":{}},"id":"64051f44-976c-48b3-8fa3-ccde8c11d6c2","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1020,320]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1ar-ryono31SgJ3IUzXy8CHeGdYJjaDqN-onRB-FHO_0","mode":"list","cachedResultName":"55-Kitchen-Order-From-Shopify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ar-ryono31SgJ3IUzXy8CHeGdYJjaDqN-onRB-FHO_0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1969433794,"mode":"list","cachedResultName":"Order-LineItems","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ar-ryono31SgJ3IUzXy8CHeGdYJjaDqN-onRB-FHO_0/edit#gid=1969433794"},"event":"rowAdded","options":{}},"id":"0a37ab60-a6e9-4b74-9a65-79b341f9a3aa","name":"ggsheet","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[580,320],"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"84","name":"Google Sheets Trigger 55kitchen.vn@gmail.com"}}}],"connections":{"HTTP Request - Lark Ternant":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"ggsheet":{"main":[[{"node":"HTTP Request - Lark Ternant","type":"main","index":0}]]}},"settings":{},"staticData":{"node:ggsheet":{"documentId":"1ar-ryono31SgJ3IUzXy8CHeGdYJjaDqN-onRB-FHO_0","sheetId":1969433794,"lastIndexChecked":190}},"pinData":{},"versionId":"ac93303a-da54-4275-bfd4-727d57802483","triggerCount":1,"tags":[]}