[caresoft] get chat every hour-37.json
{"createdAt":"2023-02-27T08:54:26.591Z","updatedAt":"2023-05-15T04:28:00.000Z","id":"37","name":"[Caresoft] Get chat every hour","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"30e9137c-8f8c-42d8-82fd-06d0775d7c82","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[800,380]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"app_id\": \"cli_a372a34abe789010\",\n    \"app_secret\": \"DKmzzhZm18FAtMhlk2pLwczi6JVMvytI\"\n}","options":{}},"id":"655d5dfb-ea6b-4fc8-87cc-17817b7e311b","name":"Get tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1800,420]},{"parameters":{"jsCode":"// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet startDate = new Date($('Schedule Trigger').first().json.timestamp);\nlet endDate = new Date($('Schedule Trigger').first().json.timestamp);\n\nstartDate.setHours(startDate.getHours() + 6);\n// startDate.setHours(startDate.getHours() - 720); // fetch data previous 30 days\nstartDate.setMinutes(0);\nstartDate.setSeconds(1);\n\nendDate.setHours(endDate.getHours() + 7); // Add 7 hrs to compensate for Caresoft time\n\nreturn {\n  json: {\n    startDate: startDate.toISOString(),\n    endDate: endDate.toISOString(),\n  },\n};"},"id":"b4b4b035-7389-4dae-82b2-a2b7cf126819","name":"Get start time","type":"n8n-nodes-base.code","typeVersion":1,"position":[960,380]},{"parameters":{"url":"https://web11.caresoft.vn/hsvn/api/v1/chats","sendQuery":true,"queryParameters":{"parameters":[{"name":"start_time_since","value":"={{ $node[\"Get start time\"].json.startDate }}"},{"name":"start_time_to","value":"={{ $node[\"Get start time\"].json.endDate }}"},{"name":"count","value":"500"},{"name":"chat_type","value":"1"},{"name":"page","value":"1"},{"name":"order_by","value":"start_time"},{"name":"order_type","value":"desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1g6yF9w3pPbn-kc"}]},"options":{}},"id":"ae517972-e83d-4541-bf93-3eda14885a38","name":"Get chat from agents in the last hour","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1240,300]},{"parameters":{"url":"https://web11.caresoft.vn/hsvn/api/v1/chats","sendQuery":true,"queryParameters":{"parameters":[{"name":"start_time_since","value":"={{ $node[\"Get start time\"].json.startDate }}"},{"name":"start_time_to","value":"={{ $node[\"Get start time\"].json.endDate }}"},{"name":"count","value":"500"},{"name":"chat_type","value":"0"},{"name":"page","value":"1"},{"name":"order_by","value":"start_time"},{"name":"order_type","value":"desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1g6yF9w3pPbn-kc"}]},"options":{}},"id":"98a195ed-b9ee-4f92-bcc1-274bdaef7e3e","name":"Get chat from customers in the last hour","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1240,520]},{"parameters":{"jsCode":"let data = $('Get chat from agents in the last hour').first().json\nlet chats = data.chats;\n\n// Get chat data\nchats = chats.map((chat) => {\n  return { ...chat, chat_type: 1 };\n});\n\nreturn chats;\n"},"id":"fdc669f7-2e61-42d8-b509-dac1b6accb9c","name":"Add chat type for agents","type":"n8n-nodes-base.code","typeVersion":1,"position":[1440,300]},{"parameters":{"jsCode":"let data = $('Get chat from customers in the last hour').first().json\nlet chats = data.chats;\n\n// Get chat data\nchats = chats.map((chat) => {\n  return { ...chat, chat_type: 0 };\n});\n\nreturn chats;\n"},"id":"4c0ca03a-f9fe-49e8-9d88-281dfa2fc8d7","name":"Add chat type for customers","type":"n8n-nodes-base.code","typeVersion":1,"position":[1440,520]},{"parameters":{"jsCode":"let input1 = $('Add chat type for agents').all();\nlet input2 = $('Add chat type for customers').all();\n\nconst input = [...input1, ...input2];\n\n// Get calls data\nlet records = input.map((chat) => {\n  let fields = {\n    ticket_id: chat.json.ticket_id,\n    ticket_no: chat.json.ticket_no,\n    customer_id: chat.json.customer_id,\n    group_name: chat.json.group_name,\n    conversation_id: chat.json.conversation_id,\n    cus_email: chat.json.cus_email,\n    cus_name: chat.json.cus_name,\n    cus_phone: chat.json.cus_phone,\n    start_time: new Date(chat.json.start_time).getTime() - 3600000*7,\n    end_time: new Date(chat.json.end_time).getTime() - 3600000*7,\n    chat_duration: chat.json.chat_duration,\n    agent_email: chat.json.agent_email,\n    agent_name: chat.json.agent_name,\n    ring_time: chat.json.ring_time && new Date(chat.json.ring_time).getTime() - 3600000*7,\n    meet_time: chat.json.meet_time && new Date(chat.json.meet_time).getTime() - 3600000*7,\n    waitTime: chat.json.waitTime,\n    answer_time: chat.json.answer_time,\n    chat_status: chat.json.chat_status,\n    is_trigger: chat.json.is_trigger,\n    facebook_page_id: chat.json.facebook_page_id,\n    service_id: chat.json.service_id,\n    chat_type: chat.json.chat_type,\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;\n"},"id":"cc345f46-5589-47b9-a79d-7c45cc74a45e","name":"[Raw chat] Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[2020,260]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tbli8yYZM1ABVqbO/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('[Raw chat] Convert to Lark format').first().json.records) }}}","options":{}},"id":"71c29c56-edb3-433e-bd65-648afc6ca78c","name":"[Raw chat] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[2240,260]},{"parameters":{"jsCode":"let input1 = $('Add chat type for agents').all();\nlet input2 = $('Add chat type for customers').all();\n\nconst input = [...input1, ...input2];\n\nconsole.log(input)\n\n// Get calls data\nlet records = input.map((chat) => {\n  let fields = {\n    \"ID chat\": chat.json.conversation_id,\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;\n"},"id":"cff219b0-10ab-458d-9f54-5155b9d6c85b","name":"[Chat] Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[2020,560]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tbl91enKGtCUlweo/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('[Chat] Convert to Lark format').first().json.records) }}}","options":{}},"id":"777318c0-c6a7-40d6-929e-27be746f1a6b","name":"[Chat] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[2240,560]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get start time","type":"main","index":0}]]},"Get chat from agents in the last hour":{"main":[[{"node":"Add chat type for agents","type":"main","index":0}]]},"Get start time":{"main":[[{"node":"Get chat from agents in the last hour","type":"main","index":0},{"node":"Get chat from customers in the last hour","type":"main","index":0}]]},"Add chat type for agents":{"main":[[{"node":"Get tenant access token","type":"main","index":0}]]},"Get chat from customers in the last hour":{"main":[[{"node":"Add chat type for customers","type":"main","index":0}]]},"[Raw chat] Convert to Lark format":{"main":[[{"node":"[Raw chat] Add records to Bitable","type":"main","index":0}]]},"Get tenant access token":{"main":[[{"node":"[Chat] Convert to Lark format","type":"main","index":0},{"node":"[Raw chat] Convert to Lark format","type":"main","index":0}]]},"[Chat] Convert to Lark format":{"main":[[{"node":"[Chat] Add records to Bitable","type":"main","index":0}]]},"Add chat type for customers":{"main":[[{"node":"Get tenant access token","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2023-05-15T00:00:00.000+07:00","Readable date":"May 15th 2023, 11:26:24 am","Readable time":"11:26:24 am","Day of week":"Monday","Year":"2023","Month":"May","Day of month":"15","Hour":"11","Minute":"26","Second":"24","Timezone":"+07 +07:00"}}]},"versionId":"a06c5e84-3182-408f-92a0-4fc53e62e4c0","triggerCount":1,"tags":[{"createdAt":"2023-02-27T05:42:03.910Z","updatedAt":"2023-02-27T05:42:03.910Z","id":"10","name":"Caresoft"}]}