[caresoft] get groups daily-40.json
{"createdAt":"2023-03-01T07:08:36.232Z","updatedAt":"2023-03-01T07:17:59.000Z","id":"40","name":"[Caresoft] Get groups daily","active":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"c7be411e-8a92-4bab-99fe-f7d86bc5ef9d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[840,400]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"app_id\": \"cli_a372a34abe789010\",\n    \"app_secret\": \"DKmzzhZm18FAtMhlk2pLwczi6JVMvytI\"\n}","options":{}},"id":"e0cb034b-1125-4b39-bd3d-24eeb1e9e733","name":"Get tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1000,400]},{"parameters":{"jsCode":"let input = $('Get groups').first().json.groups;\n\n// Get group data\nlet records = input.map((group) => {\n  let fields = {\n    group_id: group.group_id,\n    group_name: group.group_name,\n    created_at: new Date(group.created_at).getTime(),\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;"},"id":"a7d1eb4b-2b6d-4639-a548-2c09bf988a7a","name":"Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[2220,420]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tblgtgataBeDsj3U/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('Convert to Lark format').first().json.records) }}}","options":{}},"id":"23f5b069-4a6c-4562-9da6-080994dcf097","name":"Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[2420,420]},{"parameters":{"url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tblgtgataBeDsj3U/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get tenant access token\"].json.tenant_access_token }}"}]},"options":{}},"id":"4db7878c-b757-4615-8bcc-e5dbc40471de","name":"Get all records","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1180,400]},{"parameters":{"jsCode":"let input = $('Get all records').first().json.data.items;\nlet records=[]\nif (input){\nrecords   = input.map((record) => {\n  return record.record_id\n})\n}\n\n\nreturn {json: {records}};"},"id":"abe23209-ba80-47f3-b2cb-e0aa1c0fc8ca","name":"Get record id","type":"n8n-nodes-base.code","typeVersion":1,"position":[1580,280]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tblgtgataBeDsj3U/records/batch_delete","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($node[\"Get record id\"].json.records) }} }","options":{}},"id":"3bb891d5-2e13-445f-88a7-2db081519137","name":"Delete records","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1780,280]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.data.items?.length }}","operation":"larger"}]}},"id":"6f4a1025-e8cf-43b0-93d6-79ef106efbab","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1400,400]},{"parameters":{"url":"https://web11.caresoft.vn/hsvn/api/v1/groups","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1g6yF9w3pPbn-kc"}]},"options":{}},"id":"fa8e589f-668f-428e-b793-134508b9a9ab","name":"Get groups","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[2020,420]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get tenant access token","type":"main","index":0}]]},"Get tenant access token":{"main":[[{"node":"Get all records","type":"main","index":0}]]},"Get all records":{"main":[[{"node":"IF","type":"main","index":0}]]},"Get record id":{"main":[[{"node":"Delete records","type":"main","index":0}]]},"Delete records":{"main":[[{"node":"Get groups","type":"main","index":0}]]},"Convert to Lark format":{"main":[[{"node":"Add records to Bitable","type":"main","index":0}]]},"IF":{"main":[[{"node":"Get record id","type":"main","index":0}],[{"node":"Get groups","type":"main","index":0}]]},"Get groups":{"main":[[{"node":"Convert to Lark format","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"751a617a-6fcc-4be2-ade7-44c48a7ac9b4","triggerCount":1,"tags":[{"createdAt":"2023-02-27T05:42:03.910Z","updatedAt":"2023-02-27T05:42:03.910Z","id":"10","name":"Caresoft"}]}