[caresoft]-get-services-daily-38.json
{"createdAt":"2023-03-01T02:50:25.268Z","updatedAt":"2023-03-01T03:21:03.000Z","id":"38","name":"[Caresoft] Get services daily","active":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"11ef4d74-ec72-4891-922c-dc1c04143dcb","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[840,400]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"app_id\": \"cli_a372a34abe789010\",\n    \"app_secret\": \"DKmzzhZm18FAtMhlk2pLwczi6JVMvytI\"\n}","options":{}},"id":"961a4016-d024-44da-922b-177b90fba90c","name":"Get tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1000,400]},{"parameters":{"jsCode":"let input = $('Get services').first().json.services;\n\n// Get service data\nlet records = input.map((service) => {\n  let fields = {\n    service_id: service.service_id,\n    service_name: service.service_name,\n    service_type: service.service_type,\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;"},"id":"a6263710-643e-44bb-9795-9807bd58c6f2","name":"Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[2220,420]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tblvWBVlhi8a1SSh/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('Convert to Lark format').first().json.records) }}}","options":{}},"id":"1d4696d1-89c6-4930-aeed-740ede43eddf","name":"Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[2420,420]},{"parameters":{"url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tblvWBVlhi8a1SSh/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get tenant access token\"].json.tenant_access_token }}"}]},"options":{}},"id":"9b527dea-7ee7-431a-9243-5e25d4bafb8a","name":"Get all records","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1180,400]},{"parameters":{"jsCode":"let input = $('Get all records').first().json.data.items;\nlet records=[]\nif (input){\nrecords   = input.map((record) => {\n  return record.record_id\n})\n}\n\n\nreturn {json: {records}};"},"id":"b198d543-a7d3-4457-96d2-fb6986978edd","name":"Get record id","type":"n8n-nodes-base.code","typeVersion":1,"position":[1580,280]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tblvWBVlhi8a1SSh/records/batch_delete","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($node[\"Get record id\"].json.records) }} }","options":{}},"id":"5dcb1f29-b36a-4369-bfbd-2007ab609d81","name":"Delete records","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1780,280]},{"parameters":{"url":"https://web11.caresoft.vn/hsvn/api/v1/services","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1g6yF9w3pPbn-kc"}]},"options":{}},"id":"cd326008-4c61-495f-ae6d-0d6e6026fdec","name":"Get services","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[2020,420]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.data.items?.length }}","operation":"larger"}]}},"id":"e4634045-1d1e-4eb3-9877-2c2098126d1c","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1400,400]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get tenant access token","type":"main","index":0}]]},"Get tenant access token":{"main":[[{"node":"Get all records","type":"main","index":0}]]},"Get all records":{"main":[[{"node":"IF","type":"main","index":0}]]},"Get record id":{"main":[[{"node":"Delete records","type":"main","index":0}]]},"Delete records":{"main":[[{"node":"Get services","type":"main","index":0}]]},"Convert to Lark format":{"main":[[{"node":"Add records to Bitable","type":"main","index":0}]]},"Get services":{"main":[[{"node":"Convert to Lark format","type":"main","index":0}]]},"IF":{"main":[[{"node":"Get record id","type":"main","index":0}],[{"node":"Get services","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"e83fe7d4-43b2-4617-970d-507147af4b3f","triggerCount":1,"tags":[{"createdAt":"2023-02-27T05:42:03.910Z","updatedAt":"2023-02-27T05:42:03.910Z","id":"10","name":"Caresoft"}]}