[caresoft] get agents daily-36.json
{"createdAt":"2023-02-27T07:44:22.984Z","updatedAt":"2023-03-01T03:17:23.000Z","id":"36","name":"[Caresoft] Get agents daily","active":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"f9daa424-4069-40ab-a679-b065d765c7d1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[840,400]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"app_id\": \"cli_a372a34abe789010\",\n    \"app_secret\": \"DKmzzhZm18FAtMhlk2pLwczi6JVMvytI\"\n}","options":{}},"id":"cf95d5c8-492c-45a7-aafa-c284c9146382","name":"Get tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1000,400]},{"parameters":{"jsCode":"let input = $('Get agents').first().json.agents;\n\n// Get calls data\nlet records = input.map((agent) => {\n  let fields = {\n     \"id\":agent.id,\n    \"username\":agent.username,\n    \"email\":{\n      text: agent.email,\n      link: agent.email\n    },\n    \"phone_no\":agent.phone_no,\n    \"agent_id\":agent.agent_id,\n    \"created_at\":agent.created_at,\n    \"updated_at\":agent.updated_at,\n    \"group_id\":agent.group_id,\n    \"group_name\":agent.group_name,\n    \"role_id\":agent.role_id,\n    \"login_status\":agent.login_status,\n    \"call_status\":agent.call_status,\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;"},"id":"f22c39b7-9b44-4957-a254-c747f06ef854","name":"Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[2140,420]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tblTRHA0aXNj5TXU/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('Convert to Lark format').first().json.records) }}}","options":{}},"id":"8784d563-bc3c-4b25-a1d9-ec5e40ca1f6c","name":"Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[2340,420]},{"parameters":{"url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tblTRHA0aXNj5TXU/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get tenant access token\"].json.tenant_access_token }}"}]},"options":{}},"id":"37c07281-2603-4d06-a86d-1b3b8a594d3f","name":"Get all records","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1180,400]},{"parameters":{"jsCode":"let input = $('Get all records').first().json.data.items;\n\nlet records = input.map((record) => {\n  return record.record_id\n})\n\nreturn {json: {records}};"},"id":"0c65d3bc-1193-4280-995c-5c585cb29442","name":"Get record id","type":"n8n-nodes-base.code","typeVersion":1,"position":[1520,180]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tblTRHA0aXNj5TXU/records/batch_delete","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($node[\"Get record id\"].json.records) }} }","options":{}},"id":"69699655-1c78-4080-a89f-e4e76c2dc87a","name":"Delete records","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1740,180]},{"parameters":{"url":"https://web11.caresoft.vn/hsvn/api/v1/agents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1g6yF9w3pPbn-kc"}]},"options":{}},"id":"771eed38-4240-4b8d-addb-51ed8fdb8bf6","name":"Get agents","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1940,420]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.data.items?.length }}","operation":"larger"}]}},"id":"9f462855-ac74-4b3f-be2d-c918a7c0c02f","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1360,400]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get tenant access token","type":"main","index":0}]]},"Get tenant access token":{"main":[[{"node":"Get all records","type":"main","index":0}]]},"Get all records":{"main":[[{"node":"IF","type":"main","index":0}]]},"Get record id":{"main":[[{"node":"Delete records","type":"main","index":0}]]},"Get agents":{"main":[[{"node":"Convert to Lark format","type":"main","index":0}]]},"Delete records":{"main":[[{"node":"Get agents","type":"main","index":0}]]},"Convert to Lark format":{"main":[[{"node":"Add records to Bitable","type":"main","index":0}]]},"IF":{"main":[[{"node":"Get record id","type":"main","index":0}],[{"node":"Get agents","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"2c147ad4-b3ed-442f-9500-d6e3c828836d","triggerCount":1,"tags":[{"createdAt":"2023-02-27T05:42:03.910Z","updatedAt":"2023-02-27T05:42:03.910Z","id":"10","name":"Caresoft"}]}