[dc media] nhận chuyển khoản-213.json
{"createdAt":"2023-07-20T05:32:10.348Z","updatedAt":"2023-07-20T16:14:48.000Z","id":"213","name":"[DC Media] Nhận chuyển khoản","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"dcmedia-bank-bot","options":{}},"id":"9c73a054-6972-4914-9b54-0a7b7807766e","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1860,1200],"webhookId":"b459d9da-c462-43e0-880c-12b8d6304763"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  let elements = [];\n\n  elements.push({\n    tag: 'div',\n    fields: [\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Ngân hàng**: ${data.bankName.toUpperCase()}`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số tài khoản**: ${data.receiverAccount}`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số dư thay đổi:** ${data.transactionType.type} ${data.transactionAmount.amountText} VND`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Nội dung:** ${data.transactionMessage}`,\n        },\n      },\n    ],\n  });\n\n  // Append transaction ID if exist\n  if (data.transactionId) {\n    elements[0].fields.push({\n      is_short: false,\n      text: {\n        tag: 'lark_md',\n        content: `**Mã giao dịch:** ${data.transactionId}`,\n      },\n    });\n  }\n\n  // Append received time\n  elements[0].fields.push({\n    is_short: false,\n    text: {\n      tag: 'lark_md',\n      content: `**Thời gian nhận:** ${data.receivedTime.text}`,\n    },\n  });\n\n  // Kiểm tra enableBalance nếu true thì thêm phần tử \"Số dư tạm tính\" vào mảng fields\n  if ($input.item.json.enableBalance) {\n    const balanceIndex = elements[0].fields.findIndex((field) =>\n      field?.text?.content?.includes('Số dư thay đổi')\n    );\n    if (balanceIndex !== -1) {\n      elements[0].fields.splice(balanceIndex + 1, 0, {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số dư tạm tính**: ${data.balance.amountText} VND`,\n        },\n      });\n    }\n  }\n\n  // create message card\n  let result = {\n    msg_type: 'interactive',\n    card: {\n      config: {\n        wide_screen_mode: true,\n      },\n      header: {\n        template: data.larkMessConfig?.cardColor ?? 'blue',\n        title: {\n          content: `${data.bankName.toUpperCase()}-${data.receiverAccount} (${\n            data.transactionType.type\n          }) ${data.transactionAmount.amountText}VND`,\n          tag: 'plain_text',\n        },\n      },\n      elements,\n    },\n  };\n\n  return {\n    json: {\n      isSend: true,\n      data: result,\n      customBotURL: $input.item.json.customBotURL,\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"4fb0225f-fb63-4fb6-b098-94c1ecba8b02","name":"Convert to Lark Message Card","type":"n8n-nodes-base.code","typeVersion":1,"position":[440,1240]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"={ \"app_id\" : \"{{ $input.item.json[\"appId\"] }}\", \"app_secret\" : \"{{ $input.item.json[\"appSecret\"] }}\" }","options":{}},"id":"afef7d70-c6d4-4d88-909f-45ec96e8e5ac","name":"Get Lark tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-620,940]},{"parameters":{"method":"POST","url":"={{ $input.item.json.customBotURL }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.item.json.data)}}","options":{}},"id":"76b54eac-8db2-48bf-bbb0-40057b1025f3","name":"[Lark] Send noti to group chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[860,1100]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  // Convert to Lark Base format\n  const records = [\n    {\n      fields: {\n        ID: data.bankName + '-' + data.receiverAccount,\n        Bank: data.bankName.toUpperCase(),\n        Account: data.receiverAccount,\n        'Transaction Type': data.transactionType.typeText,\n        Debit:\n          data.transactionType.type === '+'\n            ? data.transactionAmount.amount\n            : undefined,\n        Credit:\n          data.transactionType.type === '-'\n            ? data.transactionAmount.amount\n            : undefined,\n        'Transaction ID': data.transactionId,\n        'Transaction Message': data.transactionMessage,\n        'Original Message': data.originalMessage,\n        'Time received': data.receivedTime.timestamp,\n      },\n    },\n  ];\n\n  // Kiểm tra enableBalance nếu true thì thêm phần tử \"Balance\" vào mảng fields\n  if ($input.item.json.enableBalance) {\n    records[0].fields = {\n      ...records[0].fields,\n      Balance: data.balance.amount,\n    };\n  }\n\n  return {\n    json: {\n      isSend: true,\n      records,\n      configs: {\n        baseId: $input.item.json.baseId,\n        tableId: $input.item.json.tableId,\n      },\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"92725260-21ed-4a54-954b-b4979769b59b","name":"Convert to Lark Base format","type":"n8n-nodes-base.code","typeVersion":1,"position":[420,840]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $json[\"configs\"][\"baseId\"] }}/tables/{{  $json[\"configs\"][\"tableId\"]}}/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get Lark tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($json[\"records\"]) }}}","options":{}},"id":"825f31ba-a961-464f-b5a2-46eb6896331e","name":"[SMS Log] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[840,780]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isBankSupport }}","value2":true}]}},"id":"6b99acad-2041-4164-9a24-e45b4f1488e7","name":"ifBankSupport","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1440,1200]},{"parameters":{"method":"POST","url":"https://app.n8n.vn/webhook/kdigi-bank-bot-process-data","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.first().json.body) }}","options":{}},"id":"879801c1-a77f-444e-a348-57e2e78c16cc","name":"getBankData","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1660,1200]},{"parameters":{},"id":"09ab6654-2a2e-4402-8a77-db0313f13158","name":"Start Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1240,1180]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  let message = [];\n\n  message.push(\n    `<b>${data.bankName.toUpperCase()}-${data.receiverAccount} (${\n      data.transactionType.type\n    }) ${data.transactionAmount.amountText}VND</b>\\n`,\n    `<b>Ngân hàng:</b> ${data.bankName.toUpperCase()}`,\n    `<b>Số tài khoản:</b> ${data.receiverAccount}`,\n    `<b>Số dư thay đổi:</b> ${data.transactionType.type} ${data.transactionAmount.amountText} VND`\n  );\n\n  // Add balance\n  if ($input.item.json.enableBalance) {\n    message.push(`<b>Số dư tạm tính:</b> ${data.balance.amountText} VND`);\n  }\n\n  message.push(`<b>Nội dung:</b>\\n ${data.transactionMessage}`);\n\n  // Check transaction ID\n  if (data.transactionId) {\n    message.push(`<b>Mã giao dịch:</b> ${data.transactionId}`);\n  }\n\n  message.push(`<b>Thời gian nhận:</b> ${data.receivedTime.text}`);\n\n  return {\n    json: {\n      isSend: true,\n      botToken: $input.item.json.botToken,\n      payload: {\n        chat_id: $input.item.json.chatId,\n        parse_mode: 'HTML',\n        text: message.join('\\n'),\n      },\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"e1384b70-bb87-4379-9ef2-0ad900d87d65","name":"Create Telegram Message","type":"n8n-nodes-base.code","typeVersion":1,"position":[-120,1680]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $input.item.json.botToken }}/sendMessage ","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.item.json.payload) }}","options":{}},"id":"970f1a66-e160-424c-a15e-766e3bec3b47","name":"Send to Telegram chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[340,1600]},{"parameters":{"values":{"string":[{"name":"appId","value":"cli_a4054c355978d009"},{"name":"appSecret","value":"gIBdgOBBQVCQeRpQw1y7Zencd2sOqigf"}]},"options":{}},"id":"34b7a335-237c-4e6d-8606-0046da108888","name":"Set Lark Configs","type":"n8n-nodes-base.set","typeVersion":2,"position":[-800,940]},{"parameters":{"values":{"string":[{"name":"customBotURL","value":"https://open.larksuite.com/open-apis/bot/v2/hook/bceec975-568b-4918-8e46-78cd5cb9e0c0"}],"boolean":[{"name":"enableBalance"},{"name":"enableOTP"},{"name":"enableOutgoing"},{"name":"enableIncoming","value":true}]},"options":{}},"id":"16183a44-f42f-4381-b442-e440f7a80431","name":"Set Lark Mess Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[-200,1200]},{"parameters":{"values":{"string":[{"name":"baseId","value":"QgjqbjcZTadaV8sOKvIuuyb3sue"},{"name":"tableId","value":"tbl9sSLAu37au2qP"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP","value":true},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"310c3654-da19-4908-b1dc-4975688edfdc","name":"Set Lark Base Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[-180,800]},{"parameters":{},"id":"e80f6afa-bc31-4ac1-8258-1f6a3b670e66","name":"Start Lark Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-960,940]},{"parameters":{},"id":"2e7cb2d7-9f1f-4a0f-a857-123768564e9e","name":"Start Lark Base","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-400,800]},{"parameters":{},"id":"665ce889-7b55-4af2-bde4-685f9bcbdf07","name":"Start Lark Mess","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-420,1200]},{"parameters":{},"id":"e36c0526-b0e6-41fb-b660-1a7cd5885edc","name":"Start Telegram Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-920,1600]},{"parameters":{"values":{"string":[{"name":"botToken","value":"set-bot-token"},{"name":"chatId","value":"set-chat-id"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP","value":true},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"3ba1be6c-204f-4100-a78b-113090bce899","name":"Set Telegram Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[-720,1600]},{"parameters":{},"id":"89050dfa-d3fb-4503-8bc3-ac9c8c54aca8","name":"Start Lark Base Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[40,780]},{"parameters":{},"id":"0ed7aec3-d88b-4cd5-9edc-563d13176c30","name":"Start Lark Mess Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[20,1180]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\n// create message card\nlet result = {\n  msg_type: 'text',\n  content: {\n    text: `Từ: ${smsContent.from}\\n${smsContent.text.toString()}`,\n  },\n};\n\nreturn {\n  json: {\n    data: result,\n    customBotURL: $input.item.json.customBotURL,\n  },\n};\n"},"id":"bd87c16c-ab7e-48a1-8b70-b6c0c4feb593","name":"Convert to Message Card for OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[440,1080]},{"parameters":{},"id":"a7020cfb-6ae9-4ca1-9962-45d5a651030a","name":"Start Telegram Mess Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-520,1600]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\nlet message = [];\n\nmessage.push(\n  `<b>${smsContent.from.toUpperCase()}</b>\\n`,\n  `${smsContent.text.toString()}`\n);\n\nreturn {\n  json: {\n    botToken: $input.item.json.botToken,\n    payload: {\n      chat_id: $input.item.json.chatId,\n      parse_mode: 'HTML',\n      text: message.join('\\n'),\n    },\n  },\n};\n"},"id":"1467ad7f-b603-4e40-81d0-fc1e226fa309","name":"Create Telegram Message for OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[-120,1520]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"a09aedc5-a7d3-46f9-9249-970c7d69fd45","name":"ifSend","type":"n8n-nodes-base.if","typeVersion":1,"position":[640,1240]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"704811b8-7a40-41ee-9701-e1e78aa269dc","name":"ifSend1","type":"n8n-nodes-base.if","typeVersion":1,"position":[600,840]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"abb28609-5f26-4c5a-870e-6a256e52ad4d","name":"ifSend2","type":"n8n-nodes-base.if","typeVersion":1,"position":[100,1680]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\n  // Convert to Lark Base format\n  const records = [\n    {\n      fields: {\n        ID: smsContent.from,\n        Bank: smsContent.from,\n        'Transaction Type': 'OTP',\n        'Transaction Message': smsContent.text.toString(),\n        'Original Message': smsContent.text.toString(),\n        'Time received': smsContent.sentStamp,\n      },\n    },\n  ];\n\n  return {\n    json: {\n      records,\n      configs: {\n        baseId: $input.item.json.baseId,\n        tableId: $input.item.json.tableId,\n      },\n    },\n  };\n"},"id":"7685a26b-33a8-4bec-a240-dc0152636b1d","name":"Convert to Lark Base format OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[420,600]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"7b450e71-7fc1-4043-bac9-360cfee751b4","name":"ifOTPLarkBase","type":"n8n-nodes-base.if","typeVersion":1,"position":[220,780]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"ba3c9497-44b0-4a2c-b184-bc235cd1fd6a","name":"ifOTPLarkMess","type":"n8n-nodes-base.if","typeVersion":1,"position":[180,1180]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"443b9c30-26c8-4ebe-87fc-4d834462f834","name":"ifOTPTelegram","type":"n8n-nodes-base.if","typeVersion":1,"position":[-340,1600]},{"parameters":{},"id":"8f6d64f1-1e22-4de2-8c7d-4d388f93be80","name":"Start Pre-order áo","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-960,1300]},{"parameters":{"method":"POST","url":"https://app.n8n.vn/webhook/dcgr/preorder2023/nhan-chuyen-khoan","sendBody":true,"bodyParameters":{"parameters":[{"name":"bankName","value":"={{ $('getBankData').item.json.result.bankName }}"},{"name":"bank_sub_acc_id","value":"={{ $('getBankData').item.json.result.receiverAccount }}"},{"name":"amount","value":"={{ $('getBankData').item.json.result.transactionAmount.amount }}"},{"name":"cusum_balance","value":"={{ $('getBankData').item.json.result.balance.amount }}"},{"name":"description","value":"={{ $('getBankData').item.json.result.transactionMessage }}"},{"name":"when","value":"={{ $('getBankData').item.json.result.receivedTime.text }}"}]},"options":{}},"id":"3d79ad8d-4478-4cec-abf6-8589f2f772ca","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-720,1320]}],"connections":{"Webhook":{"main":[[{"node":"getBankData","type":"main","index":0}]]},"Convert to Lark Message Card":{"main":[[{"node":"ifSend","type":"main","index":0}]]},"Get Lark tenant access token":{"main":[[{"node":"Start Lark Base","type":"main","index":0},{"node":"Start Lark Mess","type":"main","index":0}]]},"Convert to Lark Base format":{"main":[[{"node":"ifSend1","type":"main","index":0}]]},"ifBankSupport":{"main":[[{"node":"Start Actions","type":"main","index":0}]]},"getBankData":{"main":[[{"node":"ifBankSupport","type":"main","index":0}]]},"Start Actions":{"main":[[{"node":"Start Lark Actions","type":"main","index":0},{"node":"Start Pre-order áo","type":"main","index":0}]]},"Create Telegram Message":{"main":[[{"node":"ifSend2","type":"main","index":0}]]},"Set Lark Configs":{"main":[[{"node":"Get Lark tenant access token","type":"main","index":0}]]},"Set Lark Mess Config":{"main":[[{"node":"Start Lark Mess Actions","type":"main","index":0}]]},"Set Lark Base Config":{"main":[[{"node":"Start Lark Base Actions","type":"main","index":0}]]},"Start Lark Actions":{"main":[[{"node":"Set Lark Configs","type":"main","index":0}]]},"Start Lark Base":{"main":[[{"node":"Set Lark Base Config","type":"main","index":0}]]},"Start Lark Mess":{"main":[[{"node":"Set Lark Mess Config","type":"main","index":0}]]},"Start Telegram Actions":{"main":[[{"node":"Set Telegram Config","type":"main","index":0}]]},"Set Telegram Config":{"main":[[{"node":"Start Telegram Mess Actions","type":"main","index":0}]]},"Start Lark Base Actions":{"main":[[{"node":"ifOTPLarkBase","type":"main","index":0}]]},"Start Lark Mess Actions":{"main":[[{"node":"ifOTPLarkMess","type":"main","index":0}]]},"Convert to Message Card for OTP":{"main":[[{"node":"[Lark] Send noti to group chat","type":"main","index":0}]]},"Start Telegram Mess Actions":{"main":[[{"node":"ifOTPTelegram","type":"main","index":0}]]},"Create Telegram Message for OTP":{"main":[[{"node":"Send to Telegram chat","type":"main","index":0}]]},"ifSend":{"main":[[{"node":"[Lark] Send noti to group chat","type":"main","index":0}]]},"ifSend1":{"main":[[{"node":"[SMS Log] Add records to Bitable","type":"main","index":0}]]},"ifSend2":{"main":[[{"node":"Send to Telegram chat","type":"main","index":0}]]},"Convert to Lark Base format OTP":{"main":[[{"node":"[SMS Log] Add records to Bitable","type":"main","index":0}]]},"ifOTPLarkBase":{"main":[[{"node":"Convert to Lark Base format OTP","type":"main","index":0}],[{"node":"Convert to Lark Base format","type":"main","index":0}]]},"ifOTPLarkMess":{"main":[[{"node":"Convert to Message Card for OTP","type":"main","index":0}],[{"node":"Convert to Lark Message Card","type":"main","index":0}]]},"ifOTPTelegram":{"main":[[{"node":"Create Telegram Message for OTP","type":"main","index":0}],[{"node":"Create Telegram Message","type":"main","index":0}]]},"Start Pre-order áo":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"SMS Forwarder App","transfer-encoding":"chunked","accept-encoding":"gzip","content-type":"application/json; charset=utf-8","x-forwarded-for":"125.235.237.18","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"125.235.237.18"},"params":{},"query":{},"body":{"from":"Vietcombank","text":"SD TK 6681888888 +10,000VND luc 20-07-2023 12:46:52. SD 23,191,071VND. Ref 836878.200723.124651.test","sentStamp":1689832012000,"receivedStamp":1689832012772,"sim":"sim1"}},"pairedItem":{"item":0}}]},"versionId":"75f74da2-4f2d-48f4-a4bc-095b9260bf82","triggerCount":1,"tags":[{"createdAt":"2023-07-14T18:38:08.838Z","updatedAt":"2023-07-14T18:38:08.838Z","id":"26","name":"dcgr"}]}