[dc media] thông báo chuyển tiền copy-139.json
{"createdAt":"2023-06-19T09:49:38.453Z","updatedAt":"2023-06-19T10:04:05.000Z","id":"139","name":"[DC Media] Thông báo chuyển tiền copy","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dcmedia-chuyen-khoan","options":{}},"id":"b22f8bbe-bad8-4e23-a720-f21762771251","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[900,520],"webhookId":"8da527b3-4a03-4961-8c0a-c59684409774"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isValidRecordId }}","value2":"={{ true }}"}]}},"id":"9c6967db-91e3-47fc-a4b1-3e9542290f9a","name":"check_found_order","type":"n8n-nodes-base.if","typeVersion":1,"position":[2440,320]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.moneyReceive }}","operation":"largerEqual","value2":"={{ $json.moneyTotal }}"}]}},"id":"c9aaf870-0688-4785-90b3-c73e1f21679c","name":"check-full-payment","type":"n8n-nodes-base.if","typeVersion":1,"position":[2780,-80]},{"parameters":{"method":"POST","url":"https://app.n8n.vn/webhook/dcmedia-thanh-toan-mot-phan","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"record_id\": \"{{ $('handle_record_id').item.json[\"record_id\"] }}\",\n\"order_id\": \"{{ $('handle_record_id').item.json[\"order_id\"] }}\",\n\"moneyReceive\":{{ $('handle_record_id').item.json[\"moneyReceive\"] }},\n\"moneyTotal\": {{ $('handle_record_id').item.json[\"moneyTotal\"] }},\n\"moneyRest\": {{ $('handle_record_id').item.json[\"moneyRest\"] }},\n\"statusPayment\": \"{{ $('handle_record_id').item.json[\"statusPayment\"] }}\",\n\"email\": \"{{ $('handle_record_id').item.json[\"email\"] }}\"\n}","options":{}},"id":"a093989d-1535-497e-91b5-927a838788e2","name":"send_email_thanh_toan_mot_phan","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3000,-80]},{"parameters":{"method":"POST","url":"https://app.n8n.vn/webhook/dcmedia-thanh-toan-full","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"record_id\": \"{{ $('handle_record_id').item.json[\"record_id\"] }}\",\n\"order_id\": \"{{ $('handle_record_id').item.json[\"order_id\"] }}\",\n\"moneyReceive\":{{ $('handle_record_id').item.json[\"moneyReceive\"] }},\n\"moneyTotal\": {{ $('handle_record_id').item.json[\"moneyTotal\"] }},\n\"moneyRest\": {{ $('handle_record_id').item.json[\"moneyRest\"] }},\n\"statusPayment\": \"{{ $('handle_record_id').item.json[\"statusPayment\"] }}\",\n\"email\": \"{{ $('handle_record_id').item.json[\"email\"] }}\"\n}","options":{}},"id":"5f061597-edaa-4d08-84ce-39b26cc7ce7c","name":"send_email_thanh_toan_full","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3000,-440]},{"parameters":{"jsCode":"const data = $(\"check_found_order\").first().json;\nconst products = [data.order_data];\n\nlet elements = [];\n\n// Add products\nproducts.forEach((product) => {\n    elements.push({\n        tag: \"div\",\n        fields: [\n            {\n                is_short: false,\n                text: {\n                    tag: \"lark_md\",\n                    content: `**Mẫu áo:** ${product['Mẫu áo']}`,\n                },\n            },\n            {\n                is_short: true,\n                text: {\n                    tag: \"lark_md\",\n                    content: `**Size áo:** ${product['Size áo']}`,\n                },\n            },\n          {\n                is_short: true,\n                text: {\n                    tag: \"lark_md\",\n                    content: `**Màu:** ${product['Màu']}`,\n                },\n            },\n          {\n                is_short: true,\n                text: {\n                    tag: \"lark_md\",\n                    content: `**Số lượng:** ${product['Số lượng']}`,\n                },\n            },\n            {\n                is_short: true,\n                text: {\n                    tag: \"lark_md\",\n                    content: `**Đơn giá:** ${product['Đơn giá'][0].toLocaleString(\"en-US\") + \" VND\"}`,\n                },\n            },\n            {\n                is_short: false,\n                text: {\n                    tag: \"lark_md\",\n                    content: `**Tạm tính:** ${product['Thành tiền'].toLocaleString(\"en-US\") + \" VND\"}`,\n                },\n            },\n        ],\n    });\n    elements.push({\n        tag: \"hr\",\n    });\n});\n\n// Add Order Info\nelements.push({\n    tag: \"div\",\n    fields: [\n        {\n            is_short: true,\n            text: {\n                tag: \"lark_md\",\n                content: `**Mã đơn hàng:** ${data.order_id}`,\n            },\n        },\n        {\n            is_short: true,\n            text: {\n                tag: \"lark_md\",\n                content: `**Trạng thái thanh toán:** ${data.statusPayment}`,\n            },\n        },\n        {\n            is_short: true,\n            text: {\n                tag: \"lark_md\",\n                content: `**Tổng tiền đã thanh toán:** ${data.moneyReceive.toLocaleString(\"en-US\") + \" VND\"}`,\n            },\n        },\n      {\n            is_short: true,\n            text: {\n                tag: \"lark_md\",\n                content: `**Tổng tiền còn lại:** ${data.moneyRest.toLocaleString(\"en-US\") + \" VND\"}`,\n            },\n        },\n    ],\n});\nelements.push({\n    tag: \"hr\",\n});\n\n// Add customer info\nelements.push({\n    tag: \"div\",\n    fields: [\n        {\n            is_short: true,\n            text: {\n                tag: \"lark_md\",\n                content: `**Họ và tên:** ${data.order_data['Họ và Tên']}`,\n            },\n        },\n        {\n            is_short: true,\n            text: {\n                tag: \"lark_md\",\n                content: `**Số điện thoại:** ${data.order_data['Số điện thoại']}`,\n            },\n        },\n        {\n            is_short: false,\n            text: {\n                tag: \"lark_md\",\n                content: `**Email:** ${data.order_data['Email']}`,\n            },\n        },\n        {\n            is_short: false,\n            text: {\n                tag: \"lark_md\",\n                content: `**Địa chỉ:** ${data.order_data['Địa chỉ nhận hàng'].full_address}`,\n            },\n        }\n      \n    ],\n});\n\nlet result = {\n    msg_type: \"interactive\",\n    card: {\n        config: {\n            wide_screen_mode: true,\n        },\n        header: {\n            template: \"blue\",\n            title: {\n                content: `🛒 MỘT CẬP NHẬT TỪ Pre-order Áo DCME - ${data.order_id}`,\n                tag: \"plain_text\",\n            },\n        },\n        elements,\n    },\n};\n\nreturn { json: result };"},"id":"ae3ae453-414b-4887-bca9-defa2a90743f","name":"Format data","type":"n8n-nodes-base.code","typeVersion":1,"position":[2800,200]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bot/v2/hook/d6f7a37d-123f-4e99-bba6-04ab8110e166","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Format data').first().json)}}","options":{}},"id":"58e40a47-e26d-4bce-b99d-b4d242be4bc4","name":"Send message to group","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3000,200]},{"parameters":{"jsCode":"const data = $('Webhook').first().json.body.data[0]\nlet is_true_tx = !!data.description.indexOf('DCME')\nlet indexOfDCME = data.description.indexOf('DCME')\nlet tempText = data.description.slice(indexOfDCME,data.description.length)\nlet order_id = tempText.slice(0, data.description.indexOf(' ')+1 ? data.description.indexOf(' ') : data.description.length)\nlet total_receive = data.amount\nreturn {\n  is_true_tx,\n  order_id,\n  total_receive\n}"},"id":"6aaf7a8e-92df-4148-9ef9-712d7916436d","name":"get_order_id_from_tx","type":"n8n-nodes-base.code","typeVersion":1,"position":[1120,520]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.is_true_tx }}","value2":"={{ true }}"}]}},"id":"39026c9a-22a0-4c9e-aa71-364192d79eb6","name":"check_is_true_tx","type":"n8n-nodes-base.if","typeVersion":1,"position":[1340,520]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"bodyParameters":{"parameters":[{"name":"app_id","value":"cli_a4054c355978d009"},{"name":"app_secret","value":"gIBdgOBBQVCQeRpQw1y7Zencd2sOqigf"}]},"options":{}},"id":"46266662-a89d-45a9-b6c6-93fcdd50a963","name":"get_access_token","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1440,320]},{"parameters":{"url":"={{ $('Config Url').first().json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('get_access_token').item.json.tenant_access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"a1b658fd-2205-4623-9b43-b47434a8e8ab","name":"get_list_record","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2000,320]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $('get_list_record').item.json.data.has_more }}","value2":true}]}},"id":"8a5104f3-99de-461f-bd14-e328612f40c0","name":"if_has_more_list","type":"n8n-nodes-base.if","typeVersion":1,"position":[2640,400]},{"parameters":{"jsCode":"const data = $('get_list_record').first().json.data\nconst order = data.items.find(forItem => forItem.fields.order_id === $('get_order_id_from_tx').first().json.order_id)\nlet isValidRecordId = !!order?.record_id\nif (!order) return {isValidRecordId}\nlet order_id = order?.fields.order_id\nlet record_id = order?.record_id\nlet moneyReceive = $('get_order_id_from_tx').first().json.total_receive\nconsole.log(moneyReceive)\nlet moneyTotal = order?.fields.total\n// thằng chuyển nhiều tiền hơn orderTotal\nlet moneyRest = (moneyTotal-moneyReceive)>0 ? moneyTotal-moneyReceive : moneyTotal-moneyReceive\nlet statusPayment = $('check_is_true_tx').first().json.total_receive === moneyTotal?'Đã thanh toán đủ':'Đã thanh toán một phần'\nconsole.log(order)\nlet email = order?.fields.email\nreturn {\n  isValidRecordId,\n  email,\n  statusPayment,\n  moneyReceive,\n  moneyTotal,\n  moneyRest,\n  record_id,\n  order_id,\n  order_data: order?.fields\n}"},"id":"937f9969-4a95-4ea0-b0c9-5c41917a36ae","name":"handle_record_id","type":"n8n-nodes-base.code","typeVersion":1,"position":[2180,320]},{"parameters":{"jsCode":"if (items[0].json?.pageToken){\n  return {\n    url: `https://open.larksuite.com/open-apis/bitable/v1/apps/JxmFbMji9a8sGHs8KrfuAkkfsgf/tables/tblNSWaikG3Anktj/records?page_size=5&page_token=${items[0].json?.pageToken}&sort=%5B%22created_at+DESC%22%5D`\n  }\n}\n\nreturn {\n  url: 'https://open.larksuite.com/open-apis/bitable/v1/apps/JxmFbMji9a8sGHs8KrfuAkkfsgf/tables/tblNSWaikG3Anktj/records?page_size=5&sort=%5B%22created_at+DESC%22%5D'\n}"},"id":"8349aaff-4238-46e0-893d-625a10086558","name":"Config Url","type":"n8n-nodes-base.code","typeVersion":1,"position":[1720,320]},{"parameters":{"values":{"string":[{"name":"pageToken","value":"={{ $('get_list_record').item.json.data.page_token}}"}]},"options":{}},"id":"782060c7-ffed-47cc-86f6-0a884f00aa42","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[2000,560]}],"connections":{"Webhook":{"main":[[{"node":"get_order_id_from_tx","type":"main","index":0}]]},"check_found_order":{"main":[[{"node":"check-full-payment","type":"main","index":0},{"node":"Format data","type":"main","index":0}],[{"node":"if_has_more_list","type":"main","index":0}]]},"check-full-payment":{"main":[[{"node":"send_email_thanh_toan_full","type":"main","index":0}],[{"node":"send_email_thanh_toan_mot_phan","type":"main","index":0}]]},"Format data":{"main":[[{"node":"Send message to group","type":"main","index":0}]]},"get_order_id_from_tx":{"main":[[{"node":"check_is_true_tx","type":"main","index":0}]]},"check_is_true_tx":{"main":[[{"node":"get_access_token","type":"main","index":0}]]},"get_access_token":{"main":[[{"node":"Config Url","type":"main","index":0}]]},"get_list_record":{"main":[[{"node":"handle_record_id","type":"main","index":0}]]},"if_has_more_list":{"main":[[{"node":"Set","type":"main","index":0}]]},"handle_record_id":{"main":[[{"node":"check_found_order","type":"main","index":0}]]},"Config Url":{"main":[[{"node":"get_list_record","type":"main","index":0}]]},"Set":{"main":[[{"node":"Config Url","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"axios/0.21.4","content-length":"419","accept":"application/json, text/plain, */*","content-type":"application/json","secure-token":"null","x-forwarded-for":"3.1.211.20","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"ba8c3a24b3d5","x-real-ip":"3.1.211.20","accept-encoding":"gzip"},"params":{},"query":{},"body":{"error":0,"data":[{"id":3390751,"tid":"5213 - 78587","description":"795887.190623.133058.DCME00014","amount":500,"cusum_balance":7354463,"when":"2023-06-19 13:30:59","bank_sub_acc_id":"6681888888","subAccId":"6681888888","bankName":"Vietcombank","bankAbbreviation":"VCB","virtualAccount":"","virtualAccountName":"","corresponsiveName":"","corresponsiveAccount":"","corresponsiveBankId":"","corresponsiveBankName":""}]}}}],"get_order_id_from_tx":[{"json":{"is_true_tx":true,"order_id":"DCME00014","total_receive":500},"pairedItem":{"item":0}}],"get_access_token":[{"json":{"code":0,"expire":7200,"msg":"ok","tenant_access_token":"t-g2056j9XZUSWD3ZFTNWZYO6NYF672QGM3GBEPRST"},"pairedItem":{"item":0}}]},"versionId":"642204cc-a724-46fd-a836-2b11d8324ab5","triggerCount":1,"tags":[]}