[domains] contact form-25.json
{"createdAt":"2023-01-30T09:12:13.772Z","updatedAt":"2023-02-24T17:44:25.000Z","id":"25","name":"[domains] Contact Form","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"domain-contact","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Methods","value":"POST"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"}]}}},"id":"d72da675-f3ee-4ea3-b184-b276fee76835","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[1060,620],"webhookId":"0f00a442-2d60-46eb-8bb9-0c7089d29ce4"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/basusdhCpMksXcO8QYicVoQnzyh/tables/tblcLjNL9RueKk97/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"tenant_access_token\"] }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n   \"fields\": {\n      \"name\": \"{{ $node[\"Webhook\"].json[\"body\"][\"name\"] }}\",\n      \"phone\": {\n         \"text\": \"{{ $node[\"Webhook\"].json[\"body\"][\"phone\"] }}\",\n         \"link\": \"tel:{{ $node[\"Webhook\"].json[\"body\"][\"phone\"] }}\"\n      },\n      \"email\": {\n         \"text\": \"{{ $node[\"Webhook\"].json[\"body\"][\"email\"] }}\",\n         \"link\": \"mailto:{{ $node[\"Webhook\"].json[\"body\"][\"email\"] }}\"\n      },\n      \"message\": \"{{ $node[\"Webhook\"].json[\"body\"][\"message\"] }}\",\n      \"domain\": \"{{ $node[\"Webhook\"].json[\"body\"][\"domain\"] }}\"\n   }\n}","options":{}},"id":"14facdfc-3821-43d2-a4f8-4d5ce48e7784","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1500,620]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"bodyParameters":{"parameters":[{"name":"app_id","value":"cli_a33cd37530b8900a"},{"name":"app_secret","value":"qNz8YxoCCZoGm9Nlm2bOrcUriJsJtHHD"}]},"options":{}},"id":"e0f91538-4ec7-4e31-96f7-f13c2dd8e467","name":"POST to get access_token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1280,620]}],"connections":{"Webhook":{"main":[[{"node":"POST to get access_token","type":"main","index":0}]]},"POST to get access_token":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36 Edg/109.0.1518.52","content-length":"557","accept":"*/*","accept-encoding":"gzip, deflate, br","accept-language":"en-US,en;q=0.9,vi;q=0.8","cache-control":"no-cache","content-type":"multipart/form-data; boundary=----WebKitFormBoundaryWJgUHLOels9GJwWg","dnt":"1","origin":"http://127.0.0.1:5500","pragma":"no-cache","referer":"http://127.0.0.1:5500/","sec-ch-ua":"\"Not_A Brand\";v=\"99\", \"Microsoft Edge\";v=\"109\", \"Chromium\";v=\"109\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"14.241.182.189","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"af4013275608","x-real-ip":"14.241.182.189"},"params":{},"query":{},"body":{"name":"Hieu Thanh Kieu","email":"hieulv@kdigi.app","phone":"0348204060","message":"a","domain":"127.0.0.1"}}}],"POST to get access_token":[{"json":{"code":0,"expire":5058,"msg":"ok","tenant_access_token":"t-g2052oh7JEE2SRHAZMGUTQVBRROS6LUPCLKQI4HD"}}]},"versionId":"69c94975-f44b-4ec1-a84d-97ae1707398d","triggerCount":1,"tags":[{"createdAt":"2023-01-05T09:55:57.214Z","updatedAt":"2023-01-05T09:55:57.214Z","id":"1","name":"Lark"},{"createdAt":"2023-01-31T10:26:00.772Z","updatedAt":"2023-01-31T10:26:00.772Z","id":"8","name":"domains"}]}