[kdigi-vn] contact form-6.json
{"createdAt":"2023-01-06T09:31:47.177Z","updatedAt":"2023-05-23T17:47:39.000Z","id":"6","name":"[Kdigi.vn] Contact Form","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"kdigivn-to-automation","options":{}},"id":"a8bc0643-64db-42a7-9c15-bce29cce029c","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[800,620],"webhookId":"31ac83d4-357d-4be6-8e44-95999d1aa54a"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"{ \"app_id\" : \"cli_a36a65082eb85009\", \"app_secret\" : \"n6EEtyICEiK2IoQGXLAFtedQTGY0Z5Sk\" }","options":{}},"id":"b1d660f6-7f77-4f18-b747-52572ecdd562","name":"Get tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1160,620]},{"parameters":{"jsCode":"const input = $('Webhook').first().json.body;\n\n// Get calls data\nlet records = [{\n   fields : {\n    name: input.name,\n    phone: {\n      text: input.phone,\n      link: input.phone\n    },\n    email: {\n      text: input.email,\n      link: input.email\n    },\n    files: input.files,\n    message: input.message,    \n  }\n}];\n\nlet result = { json: { records } };\nreturn result;\n"},"id":"c6aef471-fddf-447a-bfdc-2927d36dc5d9","name":"Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[1360,620]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $node[\"Set values\"].parameter[\"values\"][\"string\"][0][\"value\"] }}/tables/{{ $node[\"Set values\"].parameter[\"values\"][\"string\"][1][\"value\"] }}/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('Convert to Lark format').first().json.records) }}}","options":{}},"id":"46942c1c-16c6-46b8-9fe2-97be35b31043","name":"Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1580,620]},{"parameters":{"values":{"string":[{"name":"baseId","value":"basusJkexxPH4LURRo2mqnTVkkc"},{"name":"tableId","value":"tblod2o41EweKObC"}]},"options":{}},"id":"52782c6c-c4ad-4c8c-99eb-71f056ac9201","name":"Set values","type":"n8n-nodes-base.set","typeVersion":2,"position":[980,620]}],"connections":{"Webhook":{"main":[[{"node":"Set values","type":"main","index":0}]]},"Get tenant access token":{"main":[[{"node":"Convert to Lark format","type":"main","index":0}]]},"Convert to Lark format":{"main":[[{"node":"Add records to Bitable","type":"main","index":0}]]},"Set values":{"main":[[{"node":"Get tenant access token","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"node-fetch/1.0 (+https://github.com/bitinn/node-fetch)","content-length":"608","accept":"*/*","accept-encoding":"gzip,deflate","content-type":"multipart/form-data;boundary=--------------------------572707572506649573859843","x-forwarded-for":"125.235.236.54","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"ba8c3a24b3d5","x-real-ip":"125.235.236.54"},"params":{},"query":{},"body":{"name":"Thanh","phone":"0348204069","email":"thanhkh@kdigi.vn","message":"","files":""}}}]},"versionId":"603c3abb-7eca-44ee-b44f-970e6234258e","triggerCount":1,"tags":[{"createdAt":"2023-01-05T09:55:57.214Z","updatedAt":"2023-01-05T09:55:57.214Z","id":"1","name":"Lark"},{"createdAt":"2023-01-06T09:31:53.849Z","updatedAt":"2023-01-06T09:31:53.849Z","id":"2","name":"Kdigi.vn"}]}