[kiotviet] get new orders every hour-127.json
{"createdAt":"2023-06-13T07:54:25.974Z","updatedAt":"2023-06-19T07:15:01.000Z","id":"127","name":"[KiotViet] Get new orders every hour","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"5dc5e73b-4ecd-4fea-9098-44a6bd2632cc","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-480,440]},{"parameters":{"jsCode":"// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet startDate = new Date($('Schedule Trigger').first().json.timestamp);\nlet endDate = new Date($('Schedule Trigger').first().json.timestamp);\n\nstartDate.setHours(startDate.getHours() - 1);\n// startDate.setHours(startDate.getHours() - 960); // fetch data previous 30 days\nstartDate.setMinutes(0);\nstartDate.setSeconds(1);\n\nreturn {\n  json: {\n    startDate: startDate.toISOString(),\n    endDate: endDate.toISOString(),\n  },\n};"},"id":"bb70cd1a-208d-4433-9122-c95e66a8372e","name":"Get start time","type":"n8n-nodes-base.code","typeVersion":1,"position":[-300,440]},{"parameters":{"method":"POST","url":"https://id.kiotviet.vn/connect/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scopes","value":"PublicApi.Access"},{"name":"grant_type","value":"client_credentials"},{"name":"client_id"},{"name":"client_secret"}]},"options":{}},"id":"3cc47d1c-de85-4cbd-8abb-f995dd5e0c8b","name":"[KiotViet_HN] Get access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-40,340]},{"parameters":{"method":"POST","url":"https://id.kiotviet.vn/connect/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scopes","value":"PublicApi.Access"},{"name":"grant_type","value":"client_credentials"},{"name":"client_id"},{"name":"client_secret"}]},"options":{}},"id":"8286d697-f562-4f24-969e-b715a9920b99","name":"[KiotViet_HCM] Get access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-40,540]},{"parameters":{},"id":"4ba7db9b-b0c2-4a8f-aab1-00e2343f49d9","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[560,440]},{"parameters":{"url":"https://public.kiotapi.com/orders","sendQuery":true,"queryParameters":{"parameters":[{"name":"pageSize","value":"100"},{"name":"currentItem","value":"0"},{"name":"orderBy","value":"purchaseDate"},{"name":"orderDirection","value":"desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('[KiotViet_HN] Get access token').first().json.access_token }}"},{"name":"Retailer","value":"hsvn"}]},"options":{}},"id":"ff359532-109f-44bd-ae62-bd55195b4cd8","name":"[KiotViet_HN] Get all orders","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[160,340]},{"parameters":{"url":"https://public.kiotapi.com/orders","sendQuery":true,"queryParameters":{"parameters":[{"name":"pageSize","value":"100"},{"name":"currentItem","value":"0"},{"name":"orderBy","value":"purchaseDate"},{"name":"orderDirection","value":"desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('[KiotViet_HCM] Get access token').first().json.access_token }}"},{"name":"Retailer","value":"cnhcm"}]},"options":{}},"id":"30a078b7-c610-4784-ad17-35a948e6de29","name":"[KiotViet_HCM] Get all orders","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[160,540]},{"parameters":{"jsCode":"let timeData = $('Get start time').first().json;\n\nlet data = $('[KiotViet_HN] Get all orders').first().json;\nlet orders = data.data;\n\n// Filter orders from last hour\norders = orders.filter((order) => {\n  let date = new Date(order.purchaseDate);\n  date.setHours(date.getHours() - 7);\n\n  const isoPurchaseDate = date.toISOString();\n  return (\n    timeData.startDate <= isoPurchaseDate && isoPurchaseDate <= timeData.endDate\n  );\n});\n\n// Get orders data\norders = orders.map((order) => {\n  return { ...order, hsvnBranch: 'HN' };\n});\n\nreturn orders;\n"},"id":"d201df6c-64d5-4ffb-a107-3ab209a93875","name":"Filter orders from last hour & Add HSVN branch for HN","type":"n8n-nodes-base.code","typeVersion":1,"position":[340,340]},{"parameters":{"jsCode":"let timeData = $('Get start time').first().json;\n\nlet data = $('[KiotViet_HCM] Get all orders').first().json;\nlet orders = data.data;\n\n// Filter orders from last hour\norders = orders.filter((order) => {\n  let date = new Date(order.purchaseDate);\n  date.setHours(date.getHours() - 7);\n\n  const isoPurchaseDate = date.toISOString();\n  return (\n    timeData.startDate <= isoPurchaseDate && isoPurchaseDate <= timeData.endDate\n  );\n});\n\n// Get orders data\norders = orders.map((order) => {\n  return { ...order, hsvnBranch: 'HCM' };\n});\n\nreturn orders;\n"},"id":"ba717efe-ff96-4f5f-8a67-1e74fe76d744","name":"Filter orders from last hour & Add HSVN branch for HCM","type":"n8n-nodes-base.code","typeVersion":1,"position":[340,540]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tblbAkzrlJSMQ0LN/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get Lark tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('[Raw order] Convert to Lark format').first().json.records) }}}","options":{}},"id":"71ac30c5-fa1f-418e-9106-f762012b5319","name":"[Raw order data] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1260,220]},{"parameters":{"jsCode":"let input = $('Merge').all();\n\n// Get calls data\nlet records = input.map((order) => {\n  order = order.json;\n  let fields = {\n    id: order.id + '',\n    uuid: order.uuid,\n    code: order.code,\n    purchaseDate: new Date(order.purchaseDate).getTime() - 3600000*7,\n    branchId: order.branchId,\n    branchName: order.branchName,\n    soldById: order.soldById,\n    soldByName: order.soldByName,\n    customerId: order.customerId,\n    customerCode: order.customerCode,\n    customerName: order.customerName,\n    orderId: order.orderId,\n    orderCode: order.orderCode,\n    total: order.total,\n    totalPayment: order.totalPayment,\n    discount: order.discount,\n    status: order.status,\n    statusValue: order.statusValue,\n    description: order.description,\n    usingCod: order.usingCod,\n    createdDate: new Date(order.createdDate).getTime() - 3600000*7,\n    hsvnBranch: order.hsvnBranch,\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;\n"},"id":"05e8083e-2a8e-4923-aad7-e42aeeecee93","name":"[Raw order] Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[1060,220]},{"parameters":{"jsCode":"let input = $('Merge').all();\n\n// Get calls data\nlet records = input.map((order) => {\n  order = order.json;\n  let fields = {\n    'ID đơn hàng': order.id+\"\",\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;\n"},"id":"9e07f00a-0731-48f9-88a1-aacf093de4d6","name":"[Order] Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[1060,440]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tblBk4ORszXYRZna/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get Lark tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('[Order] Convert to Lark format').first().json.records) }}}","options":{}},"id":"6c88860d-fd90-4a56-b6f8-21c9a9d43bd6","name":"[Order data] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1260,440]},{"parameters":{"jsCode":"let input = $('Merge').all();\n\n// Get calls data\nlet records = input.map((order) => {\n  order = order.json;\n  let fields = {\n    ID: order.id+\"\",\n    type: 'Order',\n    purchaseDate:new Date(order.purchaseDate).getTime() - 3600000*7,\n    createdDate:new Date(order.createdDate).getTime() - 3600000*7,\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;\n"},"id":"c9b1b123-0740-45cd-ae77-c58a94139932","name":"[Order+Invoice] Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[1060,660]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tbl700SZbgdgShtP/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get Lark tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('[Order+Invoice] Convert to Lark format').first().json.records) }}}","options":{}},"id":"be8620b2-fd12-423e-8636-d3ecdc477e0e","name":"[Order+Invoice data] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1260,660]},{"parameters":{"url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $('Set Lark auth').json.appId }}/tables/{{ $('Set Lark auth').json.appId }}/records  ","options":{}},"id":"a9c153f7-fac4-480b-899a-45fc77c2868b","name":"Get Lark tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[860,440]},{"parameters":{"values":{"string":[{"name":"appId"},{"name":"appSecret"}]},"options":{}},"id":"b7613d00-dbde-4e5b-aa03-06ce6541ecfc","name":"Set Lark auth","type":"n8n-nodes-base.set","typeVersion":1,"position":[700,440]}],"connections":{"Get start time":{"main":[[{"node":"[KiotViet_HN] Get access token","type":"main","index":0},{"node":"[KiotViet_HCM] Get access token","type":"main","index":0}]]},"[KiotViet_HN] Get access token":{"main":[[{"node":"[KiotViet_HN] Get all orders","type":"main","index":0}]]},"[KiotViet_HCM] Get access token":{"main":[[{"node":"[KiotViet_HCM] Get all orders","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Set Lark auth","type":"main","index":0}]]},"[KiotViet_HN] Get all orders":{"main":[[{"node":"Filter orders from last hour & Add HSVN branch for HN","type":"main","index":0}]]},"[KiotViet_HCM] Get all orders":{"main":[[{"node":"Filter orders from last hour & Add HSVN branch for HCM","type":"main","index":0}]]},"Filter orders from last hour & Add HSVN branch for HN":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Filter orders from last hour & Add HSVN branch for HCM":{"main":[[{"node":"Merge","type":"main","index":1}]]},"[Raw order] Convert to Lark format":{"main":[[{"node":"[Raw order data] Add records to Bitable","type":"main","index":0}]]},"[Order] Convert to Lark format":{"main":[[{"node":"[Order data] Add records to Bitable","type":"main","index":0}]]},"[Order+Invoice] Convert to Lark format":{"main":[[{"node":"[Order+Invoice data] Add records to Bitable","type":"main","index":0}]]},"Set Lark auth":{"main":[[{"node":"Get Lark tenant access token","type":"main","index":0}]]},"Get Lark tenant access token":{"main":[[{"node":"[Raw order] Convert to Lark format","type":"main","index":0},{"node":"[Order] Convert to Lark format","type":"main","index":0},{"node":"[Order+Invoice] Convert to Lark format","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"dd3d10e3-7063-4f54-b0f1-6f684208a107","triggerCount":0,"tags":[{"createdAt":"2023-03-13T02:38:31.340Z","updatedAt":"2023-03-13T02:38:31.340Z","id":"11","name":"KiotViet"},{"createdAt":"2023-04-13T09:24:58.649Z","updatedAt":"2023-06-13T07:54:39.069Z","id":"14","name":"Template"}]}