[kiotviet]-get-orders-every-hour-49.json
{"createdAt":"2023-03-19T15:49:28.062Z","updatedAt":"2023-03-23T07:54:30.000Z","id":"49","name":"[KiotViet] Get orders every hour","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"097192f9-5db3-47b0-b25f-3448aa2f40a0","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-920,640]},{"parameters":{"jsCode":"// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nlet startDate = new Date($('Schedule Trigger').first().json.timestamp);\nlet endDate = new Date($('Schedule Trigger').first().json.timestamp);\n\nstartDate.setHours(startDate.getHours() - 1);\n// startDate.setHours(startDate.getHours() - 960); // fetch data previous 30 days\nstartDate.setMinutes(0);\nstartDate.setSeconds(1);\n\nreturn {\n  json: {\n    startDate: startDate.toISOString(),\n    endDate: endDate.toISOString(),\n  },\n};"},"id":"27fc18cb-7008-48fd-b892-bd4fd02cdde1","name":"Get start time","type":"n8n-nodes-base.code","typeVersion":1,"position":[-760,640]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"app_id\": \"cli_a372a34abe789010\",\n    \"app_secret\": \"DKmzzhZm18FAtMhlk2pLwczi6JVMvytI\"\n}","options":{}},"id":"2a5469d0-3e04-43c0-b352-b1af4f7a2ac0","name":"[Lark] Get tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[280,640]},{"parameters":{"method":"POST","url":"https://id.kiotviet.vn/connect/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scopes","value":"PublicApi.Access"},{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"fd7a52b1-d2da-4c83-aecb-aeb809c155ad"},{"name":"client_secret","value":"5C19A423F0EA1C9737CC99C8920DE9E7B51617CD"}]},"options":{}},"id":"5b1f9753-b227-48a0-8ec7-86ebe8e3d941","name":"[KiotViet_HN] Get access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-500,540]},{"parameters":{"method":"POST","url":"https://id.kiotviet.vn/connect/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scopes","value":"PublicApi.Access"},{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"f42db3cb-c567-41dc-9720-233de955b423"},{"name":"client_secret","value":"7395EB38A48D49BFDEABC7D140BEAAA605F0F9AA"}]},"options":{}},"id":"6b202828-5962-4386-925b-af29414bfb7f","name":"[KiotViet_HCM] Get access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-500,740]},{"parameters":{},"id":"4d75873d-1cb8-43f4-bc99-297d4f8525cb","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[100,640]},{"parameters":{"url":"https://public.kiotapi.com/orders","sendQuery":true,"queryParameters":{"parameters":[{"name":"pageSize","value":"100"},{"name":"currentItem","value":"0"},{"name":"orderBy","value":"purchaseDate"},{"name":"orderDirection","value":"desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('[KiotViet_HN] Get access token').first().json.access_token }}"},{"name":"Retailer","value":"hsvn"}]},"options":{}},"id":"74b21e27-0fa8-44cf-80c9-73673dd2f21d","name":"[KiotViet_HN] Get all orders","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-300,540]},{"parameters":{"url":"https://public.kiotapi.com/orders","sendQuery":true,"queryParameters":{"parameters":[{"name":"pageSize","value":"100"},{"name":"currentItem","value":"0"},{"name":"orderBy","value":"purchaseDate"},{"name":"orderDirection","value":"desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('[KiotViet_HCM] Get access token').first().json.access_token }}"},{"name":"Retailer","value":"cnhcm"}]},"options":{}},"id":"c2b442ec-723c-427c-a490-d9a46cd9205e","name":"[KiotViet_HCM] Get all orders","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-300,740]},{"parameters":{"jsCode":"let timeData = $('Get start time').first().json;\n\nlet data = $('[KiotViet_HN] Get all orders').first().json;\nlet orders = data.data;\n\n// Filter orders from last hour\norders = orders.filter((order) => {\n  let date = new Date(order.purchaseDate);\n  date.setHours(date.getHours() - 7);\n\n  const isoPurchaseDate = date.toISOString();\n  return (\n    timeData.startDate <= isoPurchaseDate && isoPurchaseDate <= timeData.endDate\n  );\n});\n\n// Get orders data\norders = orders.map((order) => {\n  return { ...order, hsvnBranch: 'HN' };\n});\n\nreturn orders;\n"},"id":"ce3414d8-b4c6-41e2-bcfc-cf346c6252f9","name":"Filter orders from last hour & Add HSVN branch for HN","type":"n8n-nodes-base.code","typeVersion":1,"position":[-120,540]},{"parameters":{"jsCode":"let timeData = $('Get start time').first().json;\n\nlet data = $('[KiotViet_HCM] Get all orders').first().json;\nlet orders = data.data;\n\n// Filter orders from last hour\norders = orders.filter((order) => {\n  let date = new Date(order.purchaseDate);\n  date.setHours(date.getHours() - 7);\n\n  const isoPurchaseDate = date.toISOString();\n  return (\n    timeData.startDate <= isoPurchaseDate && isoPurchaseDate <= timeData.endDate\n  );\n});\n\n// Get orders data\norders = orders.map((order) => {\n  return { ...order, hsvnBranch: 'HCM' };\n});\n\nreturn orders;\n"},"id":"ebb1dc0a-37e9-46aa-b189-23c3a4d5ae6f","name":"Filter orders from last hour & Add HSVN branch for HCM","type":"n8n-nodes-base.code","typeVersion":1,"position":[-120,740]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tblbAkzrlJSMQ0LN/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"[Lark] Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('[Raw order] Convert to Lark format').first().json.records) }}}","options":{}},"id":"dbfa750c-c653-45a0-880e-1e0c12647187","name":"[Raw order data] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[720,420]},{"parameters":{"jsCode":"let input = $('Merge').all();\n\n// Get calls data\nlet records = input.map((order) => {\n  order = order.json;\n  let fields = {\n    id: order.id + '',\n    uuid: order.uuid,\n    code: order.code,\n    purchaseDate: new Date(order.purchaseDate).getTime() - 3600000*7,\n    branchId: order.branchId,\n    branchName: order.branchName,\n    soldById: order.soldById,\n    soldByName: order.soldByName,\n    customerId: order.customerId,\n    customerCode: order.customerCode,\n    customerName: order.customerName,\n    orderId: order.orderId,\n    orderCode: order.orderCode,\n    total: order.total,\n    totalPayment: order.totalPayment,\n    discount: order.discount,\n    status: order.status,\n    statusValue: order.statusValue,\n    description: order.description,\n    usingCod: order.usingCod,\n    createdDate: new Date(order.createdDate).getTime() - 3600000*7,\n    hsvnBranch: order.hsvnBranch,\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;\n"},"id":"e5d0a546-f4d5-43e9-94b1-7faa403f4817","name":"[Raw order] Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[520,420]},{"parameters":{"jsCode":"let input = $('Merge').all();\n\n// Get calls data\nlet records = input.map((order) => {\n  order = order.json;\n  let fields = {\n    'ID đơn hàng': order.id+\"\",\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;\n"},"id":"62e289e3-5f47-406d-93f2-38cec659efab","name":"[Order] Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[520,640]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tblBk4ORszXYRZna/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"[Lark] Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('[Order] Convert to Lark format').first().json.records) }}}","options":{}},"id":"28df0ef9-47a1-48c0-ae10-058e3625d351","name":"[Order data] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[720,640]},{"parameters":{"jsCode":"let input = $('Merge').all();\n\n// Get calls data\nlet records = input.map((order) => {\n  order = order.json;\n  let fields = {\n    ID: order.id+\"\",\n    type: 'Order',\n    purchaseDate:new Date(order.purchaseDate).getTime() - 3600000*7,\n    createdDate:new Date(order.createdDate).getTime() - 3600000*7,\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;\n"},"id":"fa60d596-68a9-49f4-830f-9053392d43d8","name":"[Order+Invoice] Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[520,860]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tbl700SZbgdgShtP/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"[Lark] Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('[Order+Invoice] Convert to Lark format').first().json.records) }}}","options":{}},"id":"b2f0b9a2-d198-4678-b0f6-dee3b21cec01","name":"[Order+Invoice data] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[720,860]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get start time","type":"main","index":0}]]},"[Lark] Get tenant access token":{"main":[[{"node":"[Raw order] Convert to Lark format","type":"main","index":0},{"node":"[Order] Convert to Lark format","type":"main","index":0},{"node":"[Order+Invoice] Convert to Lark format","type":"main","index":0}]]},"[KiotViet_HN] Get access token":{"main":[[{"node":"[KiotViet_HN] Get all orders","type":"main","index":0}]]},"[KiotViet_HCM] Get access token":{"main":[[{"node":"[KiotViet_HCM] Get all orders","type":"main","index":0}]]},"Merge":{"main":[[{"node":"[Lark] Get tenant access token","type":"main","index":0}]]},"Get start time":{"main":[[{"node":"[KiotViet_HN] Get access token","type":"main","index":0},{"node":"[KiotViet_HCM] Get access token","type":"main","index":0}]]},"[KiotViet_HN] Get all orders":{"main":[[{"node":"Filter orders from last hour & Add HSVN branch for HN","type":"main","index":0}]]},"[KiotViet_HCM] Get all orders":{"main":[[{"node":"Filter orders from last hour & Add HSVN branch for HCM","type":"main","index":0}]]},"Filter orders from last hour & Add HSVN branch for HN":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Filter orders from last hour & Add HSVN branch for HCM":{"main":[[{"node":"Merge","type":"main","index":1}]]},"[Raw order] Convert to Lark format":{"main":[[{"node":"[Raw order data] Add records to Bitable","type":"main","index":0}]]},"[Order] Convert to Lark format":{"main":[[{"node":"[Order data] Add records to Bitable","type":"main","index":0}]]},"[Order+Invoice] Convert to Lark format":{"main":[[{"node":"[Order+Invoice data] Add records to Bitable","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2023-03-23T14:00:00.000+07:00","Readable date":"March 23rd 2023, 2:50:57 pm","Readable time":"2:50:57 pm","Day of week":"Thursday","Year":"2023","Month":"March","Day of month":"23","Hour":"14","Minute":"50","Second":"57","Timezone":"+07 +07:00"}}]},"versionId":"32c05c34-414a-470e-846a-a986fad8804e","triggerCount":1,"tags":[{"createdAt":"2023-03-13T02:38:31.340Z","updatedAt":"2023-03-13T02:38:31.340Z","id":"11","name":"KiotViet"}]}