[kiotviet] get invoices every hour-48.json
{"createdAt":"2023-03-13T02:38:26.375Z","updatedAt":"2023-03-23T07:50:37.000Z","id":"48","name":"[KiotViet] Get invoices every hour","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"e64d5874-244f-4cce-94bb-2f84ee4d12cc","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-920,640]},{"parameters":{"jsCode":"let startDate = new Date($('Schedule Trigger').first().json.timestamp);\nlet endDate = new Date($('Schedule Trigger').first().json.timestamp);\n\nstartDate.setHours(startDate.getHours() - 1);\n// startDate.setHours(startDate.getHours() - 960); // fetch data previous 30 days\nstartDate.setMinutes(0);\nstartDate.setSeconds(1);\n\nreturn {\n  json: {\n    startDate: startDate.toISOString(),\n    endDate: endDate.toISOString(),\n  },\n};"},"id":"1038c2c9-6659-4984-b739-6b92ebec9407","name":"Get start time","type":"n8n-nodes-base.code","typeVersion":1,"position":[-760,640]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"app_id\": \"cli_a372a34abe789010\",\n    \"app_secret\": \"DKmzzhZm18FAtMhlk2pLwczi6JVMvytI\"\n}","options":{}},"id":"d3f212db-626c-4947-9ea8-e6853d7e0427","name":"[Lark] Get tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[280,640]},{"parameters":{"jsCode":"let input = $('Merge').all();\n\n// Get calls data\nlet records = input.map((invoice) => {\n  invoice = invoice.json;\n  let fields = {\n    id: invoice.id + '',\n    uuid: invoice.uuid,\n    code: invoice.code,\n    purchaseDate: new Date(invoice.purchaseDate).getTime() - 3600000*7,\n    branchId: invoice.branchId,\n    branchName: invoice.branchName,\n    soldById: invoice.soldById,\n    soldByName: invoice.soldByName,\n    customerId: invoice.customerId,\n    customerCode: invoice.customerCode,\n    customerName: invoice.customerName,\n    orderId: invoice.orderId,\n    orderCode: invoice.orderCode,\n    total: invoice.total,\n    totalPayment: invoice.totalPayment,\n    discount: invoice.discount,\n    status: invoice.status,\n    statusValue: invoice.statusValue,\n    description: invoice.description,\n    usingCod: invoice.usingCod,\n    createdDate: new Date(invoice.createdDate).getTime() - 3600000*7,\n    hsvnBranch: invoice.hsvnBranch,\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;\n"},"id":"19242efe-deee-4523-9df1-d5edd75e020c","name":"[Raw invoice] Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[520,420]},{"parameters":{"jsCode":"let input = $('Merge').all();\n\n// Get calls data\nlet records = input.map((invoice) => {\n  invoice = invoice.json;\n  let fields = {\n    'ID hoá đơn': invoice.id+\"\",\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;\n"},"id":"df442939-1e26-47f3-9cc6-25b5f3d007f1","name":"[Invoice] Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[520,640]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tblXaAcA44lgEryg/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"[Lark] Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('[Raw invoice] Convert to Lark format').first().json.records) }}}","options":{}},"id":"ef17b988-1cc3-472a-85a6-49ee9dd505cb","name":"[Raw invoice data] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[720,420]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tbleHHPxpu06Uaku/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"[Lark] Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('[Invoice] Convert to Lark format').first().json.records) }}}","options":{}},"id":"66829fc4-6fcb-43e5-938c-250a0ac39692","name":"[Invoice data] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[720,640]},{"parameters":{"method":"POST","url":"https://id.kiotviet.vn/connect/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scopes","value":"PublicApi.Access"},{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"fd7a52b1-d2da-4c83-aecb-aeb809c155ad"},{"name":"client_secret","value":"5C19A423F0EA1C9737CC99C8920DE9E7B51617CD"}]},"options":{}},"id":"27618cc2-9fa5-4daa-92fb-1a3bdefe4a89","name":"[KiotViet_HN] Get access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-500,540]},{"parameters":{"url":"https://public.kiotapi.com/invoices","sendQuery":true,"queryParameters":{"parameters":[{"name":"fromPurchaseDate1","value":"={{ $node[\"Get start time\"].json.startDate }}"},{"name":"toPurchaseDate1","value":"={{ $node[\"Get start time\"].json.endDate }}"},{"name":"pageSize","value":"100"},{"name":"currentItem","value":"0"},{"name":"orderBy","value":"purchaseDate"},{"name":"orderDirection","value":"desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('[KiotViet_HN] Get access token').first().json.access_token }}"},{"name":"Retailer","value":"hsvn"}]},"options":{}},"id":"cb5f6306-4c5c-4f18-91a4-85c50510a143","name":"[KiotViet_HN] Get invoices in the last hour","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-300,540]},{"parameters":{"method":"POST","url":"https://id.kiotviet.vn/connect/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scopes","value":"PublicApi.Access"},{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"f42db3cb-c567-41dc-9720-233de955b423"},{"name":"client_secret","value":"7395EB38A48D49BFDEABC7D140BEAAA605F0F9AA"}]},"options":{}},"id":"9cb5197e-1b31-454a-91e8-8da2451dc58b","name":"[KiotViet_HCM] Get access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-500,740]},{"parameters":{},"id":"40d2cf91-6b47-4572-b23c-744fb204d00d","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[100,640]},{"parameters":{"url":"https://public.kiotapi.com/invoices","sendQuery":true,"queryParameters":{"parameters":[{"name":"fromPurchaseDate","value":"={{ $node[\"Get start time\"].json.startDate }}"},{"name":"toPurchaseDate","value":"={{ $node[\"Get start time\"].json.endDate }}"},{"name":"pageSize","value":"100"},{"name":"currentItem","value":"0"},{"name":"orderBy","value":"purchaseDate"},{"name":"orderDirection","value":"desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('[KiotViet_HCM] Get access token').first().json.access_token }}"},{"name":"Retailer","value":"cnhcm"}]},"options":{}},"id":"917f8c37-fbd9-42e8-b565-1f4f052806b2","name":"[KiotViet_HCM] Get invoices in the last hour","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-300,740]},{"parameters":{"jsCode":"let input = $('Merge').all();\n\n// Get calls data\nlet records = input.map((invoice) => {\n  invoice = invoice.json;\n  let fields = {\n    ID: invoice.id+\"\",\n    type: 'Invoice',\n    purchaseDate:new Date(invoice.purchaseDate).getTime() - 3600000*7,\n    createdDate:new Date(invoice.createdDate).getTime() - 3600000*7,\n  };\n  return { fields };\n});\n\nlet result = { json: { records } };\nreturn result;\n"},"id":"350c3160-2f28-433c-bfd0-dc887f4286fe","name":"[Order + Invoice] Convert to Lark format","type":"n8n-nodes-base.code","typeVersion":1,"position":[520,860]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/baslg7TBWBKBB5Bc5vJhovnm3Jc/tables/tbl700SZbgdgShtP/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"[Lark] Get tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($('[Order + Invoice] Convert to Lark format').first().json.records) }}}","options":{}},"id":"ffa30b11-e63e-4177-90af-62a009611429","name":"[Order + Invoice data] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[720,860]},{"parameters":{"jsCode":"let timeData = $('Get start time').first().json;\n\nlet data = $('[KiotViet_HN] Get invoices in the last hour').first().json;\nlet invoices = data.data;\n\n// Filter invoices from last hour\ninvoices = invoices.filter((invoice) => {\n  let date = new Date(invoice.purchaseDate);\n  date.setHours(date.getHours() - 7);\n\n  const isoPurchaseDate = date.toISOString();\n  return (\n    timeData.startDate <= isoPurchaseDate && isoPurchaseDate <= timeData.endDate\n  );\n});\n\n// Get invoices data\ninvoices = invoices.map((invoice) => {\n  return { ...invoice, hsvnBranch: 'HN' };\n});\n\nreturn invoices;"},"id":"3f9d1866-7d81-494c-914f-6ac8c42de7b5","name":"Filter by purchaseDate & Add HSVN branch for HN","type":"n8n-nodes-base.code","typeVersion":1,"position":[-120,540]},{"parameters":{"jsCode":"let timeData = $('Get start time').first().json;\n\nlet data = $('[KiotViet_HCM] Get invoices in the last hour').first().json;\nlet invoices = data.data;\n\n// Filter invoices from last hour\ninvoices = invoices.filter((invoice) => {\n  let date = new Date(invoice.purchaseDate);\n  date.setHours(date.getHours() - 7);\n\n  const isoPurchaseDate = date.toISOString();\n  return (\n    timeData.startDate <= isoPurchaseDate && isoPurchaseDate <= timeData.endDate\n  );\n});\n\n// Get invoices data\ninvoices = invoices.map((invoice) => {\n  return { ...invoice, hsvnBranch: 'HCM' };\n});\n\nreturn invoices;\n"},"id":"bf5111ee-47ca-45a6-9b77-8812f9da9677","name":"Filter by purchaseDate & Add HSVN branch for HCM","type":"n8n-nodes-base.code","typeVersion":1,"position":[-120,740]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get start time","type":"main","index":0}]]},"[Lark] Get tenant access token":{"main":[[{"node":"[Raw invoice] Convert to Lark format","type":"main","index":0},{"node":"[Invoice] Convert to Lark format","type":"main","index":0},{"node":"[Order + Invoice] Convert to Lark format","type":"main","index":0}]]},"[Raw invoice] Convert to Lark format":{"main":[[{"node":"[Raw invoice data] Add records to Bitable","type":"main","index":0}]]},"[Invoice] Convert to Lark format":{"main":[[{"node":"[Invoice data] Add records to Bitable","type":"main","index":0}]]},"[KiotViet_HN] Get access token":{"main":[[{"node":"[KiotViet_HN] Get invoices in the last hour","type":"main","index":0}]]},"[KiotViet_HCM] Get access token":{"main":[[{"node":"[KiotViet_HCM] Get invoices in the last hour","type":"main","index":0}]]},"Merge":{"main":[[{"node":"[Lark] Get tenant access token","type":"main","index":0}]]},"[KiotViet_HN] Get invoices in the last hour":{"main":[[{"node":"Filter by purchaseDate & Add HSVN branch for HN","type":"main","index":0}]]},"Get start time":{"main":[[{"node":"[KiotViet_HN] Get access token","type":"main","index":0},{"node":"[KiotViet_HCM] Get access token","type":"main","index":0}]]},"[KiotViet_HCM] Get invoices in the last hour":{"main":[[{"node":"Filter by purchaseDate & Add HSVN branch for HCM","type":"main","index":0}]]},"[Order + Invoice] Convert to Lark format":{"main":[[{"node":"[Order + Invoice data] Add records to Bitable","type":"main","index":0}]]},"Filter by purchaseDate & Add HSVN branch for HN":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Filter by purchaseDate & Add HSVN branch for HCM":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2023-03-23T14:00:00.000+07:00","Readable date":"March 23rd 2023, 2:25:56 pm","Readable time":"2:25:56 pm","Day of week":"Thursday","Year":"2023","Month":"March","Day of month":"23","Hour":"14","Minute":"25","Second":"56","Timezone":"+07 +07:00"}}]},"versionId":"97a2bcd3-0b4f-4b86-a847-eb3f64622cb8","triggerCount":1,"tags":[{"createdAt":"2023-03-13T02:38:31.340Z","updatedAt":"2023-03-13T02:38:31.340Z","id":"11","name":"KiotViet"}]}