[lark] get refresh token-34.json
{"createdAt":"2023-02-24T02:36:37.047Z","updatedAt":"2023-02-24T02:39:36.000Z","id":"34","name":"[Lark] Get Refresh token","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":110}]}},"id":"2dfbf5fa-2bff-4c7d-bcf4-1ddafc925f89","name":"110m","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[520,180]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"{ \"app_id\" : \"cli_a372a34abe789010\", \"app_secret\" : \"DKmzzhZm18FAtMhlk2pLwczi6JVMvytI\" }","options":{}},"id":"55f57b77-db00-4aa4-bf8b-a20fd7596435","name":"Get app_access_token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[740,180]},{"parameters":{"documentId":{"__rl":true,"value":"1RDBBTEXxrC07DE8hjVFYrhIzz5h9BHhojcFhgZDOBxU","mode":"list","cachedResultName":"Lark Connector Token","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDBBTEXxrC07DE8hjVFYrhIzz5h9BHhojcFhgZDOBxU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Kdigivn","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDBBTEXxrC07DE8hjVFYrhIzz5h9BHhojcFhgZDOBxU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"key","lookupValue":"lark_key"}]},"options":{}},"id":"ecfb0782-4125-4a40-b876-f150fd2f6fac","name":"Get refresh_token","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[960,180],"credentials":{"googleSheetsOAuth2Api":{"id":"3","name":"Google Sheets lekhoi456@gmail.com"}}},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/authen/v1/refresh_access_token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get app_access_token\"].json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"grant_type\": \"refresh_token\",\n    \"refresh_token\": \"{{ $json[\"refresh_token\"] }}\"\n}","options":{}},"id":"6195d85f-5e54-4ae1-8318-f1ecfd42f0b0","name":"Get access_token, refresh_token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1180,180]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RDBBTEXxrC07DE8hjVFYrhIzz5h9BHhojcFhgZDOBxU","mode":"list","cachedResultName":"Lark Connector Token","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDBBTEXxrC07DE8hjVFYrhIzz5h9BHhojcFhgZDOBxU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Kdigivn","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDBBTEXxrC07DE8hjVFYrhIzz5h9BHhojcFhgZDOBxU/edit#gid=0"},"columnToMatchOn":"key","valueToMatchOn":"lark_key","fieldsUi":{"values":[{"column":"access_token","fieldValue":"={{ $json[\"data\"][\"access_token\"] }}"},{"column":"expires_in","fieldValue":"={{ $json[\"data\"][\"expires_in\"] }}"},{"column":"refresh_token","fieldValue":"={{ $json[\"data\"][\"refresh_token\"] }}"},{"column":"refresh_expires_in","fieldValue":"={{ $json[\"data\"][\"refresh_expires_in\"] }}"}]},"options":{}},"id":"4ab7811f-075e-4b56-8aef-eccf6c06f862","name":"Update access token, refresh token","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[1400,180],"credentials":{"googleSheetsOAuth2Api":{"id":"3","name":"Google Sheets lekhoi456@gmail.com"}}}],"connections":{"110m":{"main":[[{"node":"Get app_access_token","type":"main","index":0}]]},"Get app_access_token":{"main":[[{"node":"Get refresh_token","type":"main","index":0}]]},"Get refresh_token":{"main":[[{"node":"Get access_token, refresh_token","type":"main","index":0}]]},"Get access_token, refresh_token":{"main":[[{"node":"Update access token, refresh token","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"fd9278d9-ea73-47c2-b4da-a7fa88dd893f","triggerCount":0,"tags":[]}