[mekongsmiletour-vn] advice announcement-555.json
{"createdAt":"2023-09-29T10:05:30.990Z","updatedAt":"2023-10-04T02:12:04.000Z","id":"555","name":"[Mekongsmiletour.vn] Advice Announcement","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"mekongsmiletour-advice","options":{}},"id":"cbb56d72-32a4-48ac-bd67-d80c5c6abd8f","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[540,220],"webhookId":"8713eb78-eff8-4772-aee3-fdbf8aabfb38"},{"parameters":{"jsCode":"const data = $('Webhook').first().json.body;\nconst fullname = data.fullname || '-';\nconst phone = data.phone || '-';\nconst source_title = data.source_title;\nconst source_url = data.source_url;\nconst message = data.message;\n\nreturn {\n  fullname,\n  phone,\n  message,\n  source_title,\n  source_url\n}\n\n\n\n"},"id":"18d8e9b2-60b4-4aba-b0a7-0d035117866d","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[760,220]},{"parameters":{"jsCode":"const data = $(\"Code\").first().json;\n\nlet elements = [];\n\nelements.push({\n    tag: \"div\",\n    fields: [\n        {\n            is_short: true,\n            text: {\n                tag: \"lark_md\",\n                content: `**Họ và tên:** ${data.fullname}`,\n            }\n        },\n        {\n            is_short: true,\n            text: {\n                tag: \"lark_md\",\n                content: `**Số điện thoại:** ${data.phone}`,\n            }\n        },\n        {\n            is_short: false,\n            text: {\n                tag: \"lark_md\",\n                content: `**Lời nhắn:** ${data.message}`,\n            }\n        }\n    ],\n});\n\n// Add action buttons\nelements.push({\n    tag: \"action\",\n    actions: [\n        {\n            tag: \"button\",\n            text: {\n                tag: \"plain_text\",\n                content: \"Chat Zalo cá nhân\",\n            },\n            url: `https://zalo.me/${data.phone}`,\n            type: \"primary\",\n        },\n        {\n            tag: \"button\",\n            text: {\n                tag: \"plain_text\",\n                content: \"Gọi điện cá nhân\",\n            },\n            url: `tel:${data.phone}`,\n            type: \"default\",\n        },\n        {\n            tag: \"button\",\n            text: {\n                tag: \"plain_text\",\n                content: \"Xem trên web\",\n            },\n            url: `${data.source_url}`,\n            type: \"default\",\n        }\n    ],\n});\n\n\nlet result = {\n    msg_type: \"interactive\",\n    card: {\n        config: {\n            wide_screen_mode: true,\n        },\n        header: {\n            template: \"green\",\n            title: {\n                content: `Yêu cầu tư vấn ${data.source_title}`,\n                tag: \"plain_text\",\n            },\n        },\n        elements,\n    },\n};\nreturn { json: result };"},"id":"426d24aa-c305-4add-84d8-0f3385c3b8ad","name":"Code1","type":"n8n-nodes-base.code","typeVersion":1,"position":[980,220]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bot/v2/hook/06101cb7-023a-403a-8f70-4a8c4dabed98","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Code1').first().json)}}","options":{}},"id":"a066937b-0a02-47cc-bf39-ad31c467374b","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1200,220]}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"WordPress/6.3; https://mekongsmiletour.com","content-length":"207","accept":"*/*","accept-encoding":"deflate, gzip, br","content-type":"application/json; charset=UTF-8","x-forwarded-for":"103.175.248.236","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"103.175.248.236"},"params":{},"query":{},"body":{"fullname":"Tran Tu My","phone":"0796858854","message":"test1","source_title":"Can Tho Vegetarian Food Tour - Wrap And Roll","source_url":"https://mekongsmiletour.com/tour/can-tho-vegetarian-food-tour"}},"pairedItem":{"item":0}}]},"versionId":"2715d26d-0133-4f7d-9290-c14e914423a0","triggerCount":1,"tags":[]}