[ncmk] phòng vé mời khách hàng đánh giá-46.json
{"createdAt":"2023-03-08T07:41:48.722Z","updatedAt":"2023-10-31T05:01:40.000Z","id":"46","name":"[NCMK] Phòng vé mời khách hàng đánh giá","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"ncmk-phong-ve-zns-danh-gia","options":{}},"id":"ad07e1f8-f84d-453e-a42a-ed68e55cf48e","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[840,520],"webhookId":"13e41e45-134c-4e8d-884c-5ffccb6974c1"},{"parameters":{"application":{"__rl":true,"value":"appg7xGBQYqUYbJAr","mode":"id"},"table":{"__rl":true,"value":"tblWAtHbJemABDvCG","mode":"id"},"id":"recqr9eRsaI69jq2D"},"id":"0c71694d-ae9a-4857-86b1-b81ddc802644","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":1,"position":[1080,520],"credentials":{"airtableApi":{"id":"20","name":"Airtable: lekhoi456@gmail.com"}}},{"parameters":{"jsCode":"let data = $('Webhook').first().json.body\nlet sdtZalo = '84' + data.sdt_zalo.slice(1)\nlet tenKhachHang = data.ten_khach_hang.replace(/\\n/g, \", \");\nif (tenKhachHang === '') {\n  tenKhachHang = 'KHÔNG RÕ'\n}\nlet dichVu = data.dich_vu.replace(/\\n/g, \", \");\nlet maDatCho = data.ma_dat_cho;\nif (maDatCho === '') {\n  maDatCho = '-'\n}\n\nreturn {\n  sdtZalo,\n  tenKhachHang,\n  dichVu,\n  maDatCho\n}\n        "},"id":"c4c4d542-880d-44db-ad08-5aa1cab3d3ea","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[1300,540]},{"parameters":{"method":"POST","url":"https://business.openapi.zalo.me/message/template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access_token","value":"={{ $node.Airtable.json.fields.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"phone\": \"{{ $node[\"Code\"].json[\"sdtZalo\"] }}\",\n    \"template_id\": \"249055\",\n    \"template_data\": {\n        \"customer_name\": \"{{ $node[\"Code\"].json[\"tenKhachHang\"] }}\",\n        \"ten_dich_vu\": \"{{ $node[\"Code\"].json[\"dichVu\"] }}\",\n        \"ma_don_hang\": \"{{ $node[\"Code\"].json[\"maDatCho\"] }}\"\n    },\n    \"tracking_id\": \"ncmk_phong_ve_moi_danh_gia\"\n}\n","options":{}},"id":"31182224-b28e-4f3f-b09f-44bf335f69b4","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1540,540]}],"connections":{"Webhook":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Go-http-client/2.0","content-length":"589","accept-encoding":"gzip","content-type":"multipart/form-data; boundary=f2574d3f7373bc6da90a2a61c964750547006ac19c54e0ca5d2cd8828b73","x-forwarded-for":"3.211.55.69","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"fb5eed96f106","x-real-ip":"3.211.55.69","x-tt-env":"prod","x-tt-logid":"02169872828048500000000000000000000ffffdd19ee942db58b"},"params":{},"query":{},"body":{"ten_khach_hang":"An An","sdt_zalo":"0368248689","dich_vu":"n8n vn","ma_dat_cho":"VIPN8N"}}}]},"versionId":"f7b4c914-ff63-4065-9cb5-4c2d38520d0c","triggerCount":1,"tags":[]}