[preorder áo] send email thanh toán 1 phần-215.json
{"createdAt":"2023-07-20T14:39:14.215Z","updatedAt":"2023-08-11T07:17:36.000Z","id":"215","name":"[Preorder áo] Send email thanh toán 1 phần","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"/dcgr/preorder2023/email-thanh-toan-mot-phan","options":{}},"id":"87224ccd-16a5-4c40-8b0f-dc0d49e8db6e","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[620,600],"webhookId":"ce13cb3f-f538-4761-b006-23c811550610"},{"parameters":{"jsCode":"const data = $('Webhook').first().json.body\nlet moneyReceive = data.moneyReceive.toLocaleString(\"en-US\") + \" VND\"\nlet moneyPayment = data.moneyPayment.toLocaleString(\"en-US\") + \" VND\"\nlet moneyTotal = data.moneyTotal.toLocaleString(\"en-US\") + \" VND\"\nlet moneyRest = data.moneyRest.toLocaleString(\"en-US\") + \" VND\"\nlet status = data.status == \"on-hold\" ? \"Đã thanh toán một phần\": \"Đã thanh toán quá số tiền\"\nlet url_payment = `https://img.vietqr.io/image/VCB-6681888888-compact.png?amount=${Number(data.moneyRest)}&addInfo=${data.order_id}&accountName=Le%20Quoc%20Khoi`\nif (data.style === 'Mẫu 1') {\n  url_img = 'https://s3.kdigi.app/dcgr/mau-1.jpg'\n} else if (data.style === 'Mẫu 2') {\n  url_img = 'https://s3.kdigi.app/dcgr/mau-2.jpg'\n} else {\n  url_img = 'https://s3.kdigi.app/dcgr/mau-3.jpg'\n}\nreturn {\n  moneyReceive,\n  moneyPayment,\n  moneyTotal,\n  moneyRest,\n  status,\n  url_img,\n  url_payment\n}"},"id":"dfe44a98-dd48-4fbc-8e7d-d05421184ba6","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[840,600]},{"parameters":{"fromEmail":"DC Media <no-reply@dcmedia.vn>","toEmail":"={{ $('Webhook').item.json.body.email }}","subject":"=[DC Media] Xác nhận Đơn hàng #{{ $('Webhook').item.json.body.order_id }}","emailFormat":"html","html":"=\n<!doctype html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">\n  <head>\n    <title>\n      \n    </title>\n    <!--[if !mso]><!-->\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <!--<![endif]-->\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <style type=\"text/css\">\n      #outlook a { padding:0; }\n      body { margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; }\n      table, td { border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt; }\n      img { border:0;height:auto;line-height:100%; outline:none;text-decoration:none;-ms-interpolation-mode:bicubic; }\n      p { display:block;margin:13px 0; }\n    </style>\n    <!--[if mso]>\n    <noscript>\n    <xml>\n    <o:OfficeDocumentSettings>\n      <o:AllowPNG/>\n      <o:PixelsPerInch>96</o:PixelsPerInch>\n    </o:OfficeDocumentSettings>\n    </xml>\n    </noscript>\n    <![endif]-->\n    <!--[if lte mso 11]>\n    <style type=\"text/css\">\n      .mj-outlook-group-fix { width:100% !important; }\n    </style>\n    <![endif]-->\n    \n  <!--[if !mso]><!-->\n    <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\" type=\"text/css\">\n    <style type=\"text/css\">\n      @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);\n    </style>\n  <!--<![endif]-->\n\n\n    \n<style type=\"text/css\">\n  @media only screen and (min-width:480px) {\n    .mj-column-px-250 { width:250px !important; max-width: 250px; }\n.mj-column-per-100 { width:100% !important; max-width: 100%; }\n.mj-column-per-50 { width:50% !important; max-width: 50%; }\n  }\n</style>\n<style media=\"screen and (min-width:480px)\">\n  .moz-text-html .mj-column-px-250 { width:250px !important; max-width: 250px; }\n.moz-text-html .mj-column-per-100 { width:100% !important; max-width: 100%; }\n.moz-text-html .mj-column-per-50 { width:50% !important; max-width: 50%; }\n</style>\n\n    <style type=\"text/css\">\n    \n    \n\n@media only screen and (max-width:480px) {\n  table.mj-full-width-mobile { width: 100% !important; }\n  td.mj-full-width-mobile { width: auto !important; }\n}\n\n    </style>\n    \n    \n  </head>\n  <body style=\"word-spacing:normal;\">\n    \n    \n  <div\n     style=\"\"\n  >\n    \n  \n  <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><v:rect style=\"width:600px;\" xmlns:v=\"urn:schemas-microsoft-com:vml\" fill=\"true\" stroke=\"false\"><v:fill origin=\"0.5, 0\" position=\"0.5, 0\" src=\"https://s3-ap-southeast-1.kdigi.net/dcgr/dc-abstract.jpeg\" type=\"tile\" /><v:textbox style=\"mso-fit-shape-to-text:true\" inset=\"0,0,0,0\"><![endif]-->\n      \n  <div  style=\"background:url(https://s3-ap-southeast-1.kdigi.net/dcgr/dc-abstract.jpeg) center top / auto repeat;background-position:center top;background-repeat:repeat;background-size:auto;margin:0px auto;max-width:600px;\">\n    <div  style=\"line-height:0;font-size:0;\">\n    <table\n       align=\"center\" background=\"https://s3-ap-southeast-1.kdigi.net/dcgr/dc-abstract.jpeg\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:url(https://s3-ap-southeast-1.kdigi.net/dcgr/dc-abstract.jpeg) center top / auto repeat;background-position:center top;background-repeat:repeat;background-size:auto;width:100%;\"\n    >\n      <tbody>\n        <tr>\n          <td\n             style=\"direction:ltr;font-size:0px;padding:20px;text-align:center;\"\n          >\n            <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:250px;\" ><![endif]-->\n        \n  <div\n     class=\"mj-column-px-250 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"\n  >\n    \n  <table\n     border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"\n  >\n    <tbody>\n      \n          <tr>\n            <td\n               align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"\n            >\n              \n  <table\n     border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"\n  >\n    <tbody>\n      <tr>\n        <td  style=\"width:200px;\">\n          \n  <img\n     height=\"auto\" src=\"https://s3-ap-southeast-1.kdigi.net/dcgr/logo-dc-media.png\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;\" width=\"200\"\n  />\n\n        </td>\n      </tr>\n    </tbody>\n  </table>\n\n            </td>\n          </tr>\n        \n    </tbody>\n  </table>\n\n  </div>\n\n      <!--[if mso | IE]></td></tr></table><![endif]-->\n          </td>\n        </tr>\n      </tbody>\n    </table>\n    </div>\n  </div>\n\n    <!--[if mso | IE]></v:textbox></v:rect></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n\n  \n  <div  style=\"margin:0px auto;max-width:600px;\">\n    \n    <table\n       align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"\n    >\n      <tbody>\n        <tr>\n          <td\n             style=\"direction:ltr;font-size:0px;padding:0px 0px;text-align:center;\"\n          >\n            <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:600px;\" ><![endif]-->\n        \n  <div\n     class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"\n  >\n    \n  <table\n     border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"\n  >\n    <tbody>\n      \n          <tr>\n            <td\n               align=\"center\" style=\"font-size:0px;padding:0px 25px;word-break:break-word;\"\n            >\n              \n  <div\n     style=\"font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:center;color:#000000;\"\n  ><h1>Xác nhận thanh toán một phần đơn hàng</h1></div>\n\n            </td>\n          </tr>\n        \n          <tr>\n            <td\n               align=\"left\" style=\"font-size:0px;padding:0px 25px;word-break:break-word;\"\n            >\n              \n  <div\n     style=\"font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;\"\n  ><div><font face=\"Roboto\" size=\"3\"><span>Xin chào {{ $('Webhook').item.json[\"body\"][\"name\"] }}, chúng tôi</span><span style=\"background-color: transparent;\">&nbsp;vừa nhận được một khoản thanh toán cho đơn hàng #{{ $('Webhook').item.json[\"body\"][\"order_id\"] }} của bạn.</span></font></div></div>\n\n            </td>\n          </tr>\n        \n    </tbody>\n  </table>\n\n  </div>\n\n      <!--[if mso | IE]></td></tr></table><![endif]-->\n          </td>\n        </tr>\n      </tbody>\n    </table>\n    \n  </div>\n\n  \n  <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n\n  \n  <div  style=\"margin:0px auto;max-width:600px;\">\n    \n    <table\n       align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"\n    >\n      <tbody>\n        <tr>\n          <td\n             style=\"direction:ltr;font-size:0px;padding:10px 150px;text-align:center;\"\n          >\n            <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:300px;\" ><![endif]-->\n        \n  <div\n     class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"\n  >\n    \n  <table\n     border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"\n  >\n    <tbody>\n      \n          <tr>\n            <td\n               align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"\n            >\n              \n  <div\n     style=\"font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;\"\n  ><font size=\"3\"><b>Nhận thanh toán:</b> {{ $('Code').item.json[\"moneyReceive\"] }}</font><div><font size=\"3\"><b>Giá trị đơn hàng:</b> {{ $('Code').item.json[\"moneyTotal\"] }}</font></div><div><font size=\"3\"><b>Đã thanh toán:</b> {{ $('Code').item.json[\"moneyPayment\"] }}</font></div><div><font size=\"3\"><b>Còn lại:</b> {{ $('Code').item.json[\"moneyRest\"] }}</font></div></div>\n\n            </td>\n          </tr>\n        \n    </tbody>\n  </table>\n\n  </div>\n\n      <!--[if mso | IE]></td></tr></table><![endif]-->\n          </td>\n        </tr>\n      </tbody>\n    </table>\n    \n  </div>\n\n  \n  <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n\n  \n  <div  style=\"margin:0px auto;max-width:600px;\">\n    \n    <table\n       align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"\n    >\n      <tbody>\n        <tr>\n          <td\n             style=\"direction:ltr;font-size:0px;padding:0px 0px;text-align:center;\"\n          >\n            <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:300px;\" ><![endif]-->\n        \n  <div\n     class=\"mj-column-per-50 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"\n  >\n    \n  <table\n     border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"\n  >\n    <tbody>\n      \n          <tr>\n            <td\n               align=\"left\" style=\"font-size:0px;padding:0px 25px;word-break:break-word;\"\n            >\n              \n  <div\n     style=\"font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;\"\n  ><h2>Thông tin thanh toán</h2></div>\n\n            </td>\n          </tr>\n        \n          <tr>\n            <td\n               align=\"left\" style=\"font-size:0px;padding:0px 25px;word-break:break-word;\"\n            >\n              \n  <div\n     style=\"font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;\"\n  ><div><font size=\"3\">Vui lòng chuyển khoản theo thông tin dưới đây:</font></div><div><font size=\"3\"><b>Ngân hàng:</b> Vietcombank</font></div><div><font size=\"3\"><b>Số tài khoản:</b> 6681888888</font></div><div><font size=\"3\"><b>Tên tài khoản:</b> Lê Quốc Khôi</font></div><div><font size=\"3\"><b>Số tiền:</b> {{ $('Code').item.json[\"moneyRest\"] }}</font></div><div><font size=\"3\"><b>Nội dung:</b> <span style=\"background-color: rgb(251, 255, 0);\">{{ $('Webhook').item.json[\"body\"][\"order_id\"] }}</span></font></div><div><font size=\"3\"><br></font></div><div><font size=\"3\">Lưu ý: Đơn hàng này được xác nhận tự động. Vui lòng chuyển khoản đúng nội dung và số tiền để đơn hàng được xử lý nhanh nhất.</font></div></div>\n\n            </td>\n          </tr>\n        \n    </tbody>\n  </table>\n\n  </div>\n\n      <!--[if mso | IE]></td><td class=\"\" style=\"vertical-align:top;width:300px;\" ><![endif]-->\n        \n  <div\n     class=\"mj-column-per-50 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"\n  >\n    \n  <table\n     border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"\n  >\n    <tbody>\n      \n          <tr>\n            <td\n               align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"\n            >\n              \n  <table\n     border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"\n  >\n    <tbody>\n      <tr>\n        <td  style=\"width:250px;\">\n          \n  <img\n     height=\"auto\" src=\"{{ $('Code').item.json[\"url_payment\"] }}\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;\" width=\"250\"\n  />\n\n        </td>\n      </tr>\n    </tbody>\n  </table>\n\n            </td>\n          </tr>\n        \n    </tbody>\n  </table>\n\n  </div>\n\n      <!--[if mso | IE]></td></tr></table><![endif]-->\n          </td>\n        </tr>\n      </tbody>\n    </table>\n    \n  </div>\n\n  \n  <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n\n  \n  <div  style=\"margin:0px auto;max-width:600px;\">\n    \n    <table\n       align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"\n    >\n      <tbody>\n        <tr>\n          <td\n             style=\"direction:ltr;font-size:0px;padding:0px;text-align:center;\"\n          >\n            <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:600px;\" ><![endif]-->\n        \n  <div\n     class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"\n  >\n    \n  <table\n     border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"\n  >\n    <tbody>\n      \n          <tr>\n            <td\n               align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"\n            >\n              \n  <table\n     border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"\n  >\n    <tbody>\n      <tr>\n        <td  style=\"width:550px;\">\n          \n  <img\n     height=\"auto\" src=\"{{ $('Code').item.json[\"url_img\"] }}\" style=\"border:0;border-radius:8px;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;\" width=\"550\"\n  />\n\n        </td>\n      </tr>\n    </tbody>\n  </table>\n\n            </td>\n          </tr>\n        \n    </tbody>\n  </table>\n\n  </div>\n\n      <!--[if mso | IE]></td></tr></table><![endif]-->\n          </td>\n        </tr>\n      </tbody>\n    </table>\n    \n  </div>\n\n  \n  <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n\n  \n  <div  style=\"margin:0px auto;max-width:600px;\">\n    \n    <table\n       align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"\n    >\n      <tbody>\n        <tr>\n          <td\n             style=\"direction:ltr;font-size:0px;padding:0px 0px;text-align:center;\"\n          >\n            <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:300px;\" ><![endif]-->\n        \n  <div\n     class=\"mj-column-per-50 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"\n  >\n    \n  <table\n     border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"\n  >\n    <tbody>\n      \n          <tr>\n            <td\n               align=\"left\" style=\"font-size:0px;padding:0px 25px;word-break:break-word;\"\n            >\n              \n  <div\n     style=\"font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;\"\n  ><h2>Thông tin đơn hàng</h2></div>\n\n            </td>\n          </tr>\n        \n          <tr>\n            <td\n               align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"\n            >\n              \n  <div\n     style=\"font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;\"\n  ><b><font size=\"3\">Áo DCGR 2023</font></b><div><font size=\"3\"><b>Mẫu:</b> {{ $('Webhook').item.json[\"body\"][\"style\"] }}</font></div><div><font size=\"3\"><b>Kích cỡ: </b>Size {{ $('Webhook').item.json[\"body\"][\"size\"] }}</font></div><div><font size=\"3\"><b>Giá Pre-order:</b> {{ $('Webhook').item.json[\"body\"][\"price\"] }}</font></div><div><font size=\"3\"><b>Số lượng:</b> {{ $('Webhook').item.json[\"body\"][\"amount\"] }}</font></div><div><font size=\"3\"><b>Thành tiền:</b> {{ $('Webhook').item.json[\"body\"][\"total\"] }}</font></div></div>\n\n            </td>\n          </tr>\n        \n    </tbody>\n  </table>\n\n  </div>\n\n      <!--[if mso | IE]></td><td class=\"\" style=\"vertical-align:top;width:300px;\" ><![endif]-->\n        \n  <div\n     class=\"mj-column-per-50 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"\n  >\n    \n  <table\n     border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"\n  >\n    <tbody>\n      \n          <tr>\n            <td\n               align=\"left\" style=\"font-size:0px;padding:0px 25px;word-break:break-word;\"\n            >\n              \n  <div\n     style=\"font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;\"\n  ><h2 style=\"color: rgb(0, 0, 0); text-transform: none;\">Địa chỉ giao hàng</h2></div>\n\n            </td>\n          </tr>\n        \n          <tr>\n            <td\n               align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"\n            >\n              \n  <div\n     style=\"font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;\"\n  ><div><font size=\"3\"><b>Tên người nhận:</b> {{ $('Webhook').item.json[\"body\"][\"name\"] }}</font></div><div><font size=\"3\"><b>Số điện thoại:</b> {{ $('Webhook').item.json[\"body\"][\"phone\"] }}</font></div><div><font size=\"3\"><b>Địa chỉ:</b> {{ $('Webhook').item.json[\"body\"][\"address\"] }}</font></div><div><font size=\"3\"><br></font></div><div><span style=\"background-color: transparent;\"><font size=\"3\">Thời gian dự kiến nhận hàng: từ 2-4 ngày</font></span></div></div>\n\n            </td>\n          </tr>\n        \n    </tbody>\n  </table>\n\n  </div>\n\n      <!--[if mso | IE]></td></tr></table><![endif]-->\n          </td>\n        </tr>\n      </tbody>\n    </table>\n    \n  </div>\n\n  \n  <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n\n  \n  <div  style=\"margin:0px auto;max-width:600px;\">\n    \n    <table\n       align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"\n    >\n      <tbody>\n        <tr>\n          <td\n             style=\"direction:ltr;font-size:0px;padding:20px 0;text-align:center;\"\n          >\n            <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:600px;\" ><![endif]-->\n        \n  <div\n     class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"\n  >\n    \n  <table\n     border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"\n  >\n    <tbody>\n      \n          <tr>\n            <td\n               align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"\n            >\n              \n  <div\n     style=\"font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;\"\n  ><div><span><b><font size=\"3\">DC MEDIA</font></b></span></div><div><font size=\"3\">Hỗ trợ: 0333111868</font></div></div>\n\n            </td>\n          </tr>\n        \n          <tr>\n            <td\n               align=\"center\" style=\"font-size:0px;padding:10px 0px;word-break:break-word;\"\n            >\n              \n  <p\n     style=\"border-top:solid 4px #2980b9;font-size:1px;margin:0px auto;width:100%;\"\n  >\n  </p>\n  \n  <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-top:solid 4px #2980b9;font-size:1px;margin:0px auto;width:600px;\" role=\"presentation\" width=\"600px\" ><tr><td style=\"height:0;line-height:0;\"> &nbsp;\n</td></tr></table><![endif]-->\n\n\n            </td>\n          </tr>\n        \n    </tbody>\n  </table>\n\n  </div>\n\n      <!--[if mso | IE]></td></tr></table><![endif]-->\n          </td>\n        </tr>\n      </tbody>\n    </table>\n    \n  </div>\n\n  \n  <!--[if mso | IE]></td></tr></table><![endif]-->\n\n\n  </div>\n\n  </body>\n</html>\n","options":{}},"id":"b9cf793d-2532-4166-b068-0298608ab418","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1040,600],"credentials":{"smtp":{"id":"62","name":"SMTP no-reply@dcmedia.vn"}}}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"6a70926f-99e6-4686-b445-c049dc537140","triggerCount":1,"tags":[{"createdAt":"2023-07-14T18:38:08.838Z","updatedAt":"2023-07-14T18:38:08.838Z","id":"26","name":"dcgr"}]}