[tvhs - job confirmation] candidate confirmation-553.json
{"createdAt":"2023-09-27T14:39:07.803Z","updatedAt":"2023-09-27T16:54:04.000Z","id":"553","name":"[TVHs - Job Confirmation] Candidate Confirmation","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"candidate-confirmation","options":{"responseData":"Hẹn gặp bạn ở buổi checkin nhận việc nhé!"}},"id":"0a2056e2-6158-41ad-ab57-8b24651fa22e","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[460,460],"webhookId":"7fa7d95d-3075-4639-ab81-7f0a1152380e"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal","sendBody":true,"bodyParameters":{"parameters":[{"name":"app_id","value":"cli_a4f2f2539db8d02f"},{"name":"app_secret","value":"nnuHqN4YPTlQcGOduU0C6gpQtgpMkVNk"}]},"options":{}},"id":"04c6fa4c-0047-4286-9b2f-8ee919ebf24f","name":"tenant_access_token","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[680,460]},{"parameters":{"method":"PUT","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/Up5mbfSkYaY43gsKz73ljNIFgSh/tables/tblIP9AoTbcupwNW/records/{{ $('Webhook').item.json.query.recordID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('tenant_access_token').first().json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"fields\": {\"Candidate Confirm\": \"Yes\"} }","options":{}},"id":"a67a4f74-31c9-4240-9f86-603b5a9b4d7e","name":"update_candidate_confirm","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[880,460]}],"connections":{"Webhook":{"main":[[{"node":"tenant_access_token","type":"main","index":0}]]},"tenant_access_token":{"main":[[{"node":"update_candidate_confirm","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"96d0e96c-c979-418f-8af2-be93725188d8","triggerCount":1,"tags":[]}