[tết quê em] khách đăng ký-18.json
{"createdAt":"2023-01-18T03:50:54.716Z","updatedAt":"2023-01-18T04:45:38.000Z","id":"18","name":"[Tết Quê Em] Khách đăng ký","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"tqe-khdk","options":{}},"id":"4cf8aade-ec4b-4485-858b-1bb8213cc5a9","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[1100,580],"webhookId":"51b575da-193b-482d-876f-f5a20e99aa8f"},{"parameters":{"method":"POST","url":"https://hook.us1.make.com/x03p6yyyjb8p5wa8fqi1pxlagkaese16","sendBody":true,"bodyParameters":{"parameters":[{"name":"event_name","value":"={{ $json[\"body\"][\"event_name\"] }}"},{"name":"name","value":"={{ $json[\"body\"][\"name\"] }}"},{"name":"phone","value":"={{ $json[\"body\"][\"phone\"] }}"},{"name":"email","value":"={{ $json[\"body\"][\"email\"] }}"},{"name":"start_date","value":"={{ $json[\"body\"][\"start_date\"] }}"},{"name":"end_date","value":"={{ $json[\"body\"][\"end_date\"] }}"},{"name":"link_checkin","value":"={{ $json[\"body\"][\"link_checkin\"] }}"}]},"options":{}},"id":"a7b3cc67-a5e8-4222-9b7b-f001504a732a","name":"Send to MAKE <- gửi lịch","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1360,460]},{"parameters":{"fromEmail":"KDIGI Tết Quê Em <test@kdigi.app>","toEmail":"={{ $json[\"body\"][\"email\"] }}","bccEmail":"automation@kdigi.app","subject":"=Đăng ký sự kiện {{ $json[\"body\"][\"event_name\"] }} thành công","html":"=Xin chào {{ $json[\"body\"][\"name\"] }},\n<br><br>\nChúc mừng bạn đã đăng ký tham gia thành công sự kiện {{ $json[\"body\"][\"event_name\"] }}.\n<br><br>\nĐây là link check-in khi đến tham gia, bạn nhớ check-in để nhận quà nhé: <a href=\"{{ $json[\"body\"][\"link_checkin\"] }}\">{{ $json[\"body\"][\"link_checkin\"] }}</a>\n<br><br>\nRegards!","options":{}},"id":"0e037f33-7255-44f4-a500-490efb661760","name":"Gửi Email xác nhận đăng ký thành công","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[1360,660],"credentials":{"smtp":{"id":"15","name":"SMTP account: test@kdigi.app"}}}],"connections":{"Webhook":{"main":[[{"node":"Gửi Email xác nhận đăng ký thành công","type":"main","index":0},{"node":"Send to MAKE <- gửi lịch","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Go-http-client/2.0","content-length":"997","accept-encoding":"gzip","content-type":"multipart/form-data; boundary=b024b0ff7ade21e540359242fafe1ff834b2ecb0a24bc14f24faab79d7d8","x-forwarded-for":"3.211.55.69","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"af4013275608","x-real-ip":"3.211.55.69","x-tt-logid":"02167401559011300000000000000000000ffff3a75f5a1069206"},"params":{},"query":{},"body":{"event_name":"Tết Quê Em","name":"Lê Quốc Khôi","phone":"0333111868","email":"n8n.kdigi@gmail.com","start_date":"2023/01/22 07:00","end_date":"2023/01/22 17:30","link_checkin":"https://t.ly/tqe-checkin"}}}]},"versionId":"40f933f4-ce05-4110-92bd-66175da72b48","triggerCount":1,"tags":[{"createdAt":"2023-01-05T09:55:57.214Z","updatedAt":"2023-01-05T09:55:57.214Z","id":"1","name":"Lark"},{"createdAt":"2023-01-18T03:50:59.834Z","updatedAt":"2023-01-18T03:50:59.834Z","id":"5","name":"Tết Quê Em"}]}