[vere-me] khách cần tư vấn-88.json
{"createdAt":"2023-05-03T05:57:03.182Z","updatedAt":"2023-05-14T04:57:59.000Z","id":"88","name":"[Vere.me] Khách cần tư vấn","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"vere-dat-ve","options":{}},"id":"60d8f66b-e08e-495c-84ed-1c9fdd0f8525","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[820,500],"webhookId":"b991f32f-3136-4f61-9188-92c971ec0fea"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bot/v2/hook/12319b57-14ab-4066-ae74-2837f7c98e50","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"msg_type\": \"post\",\n    \"content\": {\n        \"post\": {\n            \"en_us\": {\n                \"title\": \"[Vé Rẻ.me] {{ $node[\"Webhook\"].json[\"body\"][\"fullname\"] }} cần tư vấn\",\n                \"content\": [\n                    [                      \n                        {\n                            \"tag\": \"a\",\n                            \"text\": \"{{ $node[\"Webhook\"].json[\"body\"][\"source_title\"] }}\\n\",\n                            \"href\": \"{{ $node[\"Webhook\"].json[\"body\"][\"source_url\"] }}\"\n                        },\n                        {\n                            \"tag\": \"text\",\n                            \"text\": \"Số điện thoại: {{$node[\"Webhook\"].json[\"body\"][\"phone\"]}}\"\n                        },\n                        {\n                            \"tag\": \"a\",\n                            \"text\": \"\\nNhắn Zalo cá nhân cho khách\",\n                            \"href\": \"https://zalo.me/{{ $node[\"Webhook\"].json[\"body\"][\"phone\"] }}\"\n                        }\n                    ]\n                ]\n            }\n        }\n    }\n}","options":{}},"id":"4ae29e14-e70c-48b7-915a-15e5754ae334","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1040,500]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.StatusMessage }}","value2":"success"}]}},"id":"3e9bf129-a78f-4ba3-90dc-4e630c64d887","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1260,500]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bot/v2/hook/12319b57-14ab-4066-ae74-2837f7c98e50","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"msg_type\": \"post\",\n    \"content\": {\n        \"post\": {\n            \"en_us\": {\n                \"title\": \"[Vé Rẻ.me] Có lỗi khi gửi thông tin khách cần tư vấn\",\n                \"content\": [\n                    [                      \n                        {\n                            \"tag\": \"a\",\n                            \"text\": \"{{ $node[\"Webhook\"].json[\"body\"][\"source_title\"] }}\\n\",\n                            \"href\": \"{{ $node[\"Webhook\"].json[\"body\"][\"source_url\"] }}\"\n                        },\n                        {\n                            \"tag\": \"text\",\n                            \"text\": \"Vui lòng kiểm tra\"\n                        }\n                    ]\n                ]\n            }\n        }\n    }\n}","options":{}},"id":"87f52baf-909b-4de5-8e54-9ae542dd03f7","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1480,580]}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"WordPress/6.2; https://vere.me","content-length":"291","accept":"*/*","accept-encoding":"deflate, gzip, br","content-type":"application/json; charset=UTF-8","x-forwarded-for":"103.175.248.236","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"422302823b8a","x-real-ip":"103.175.248.236"},"params":{},"query":{},"body":{"fullname":"Khoi Le Quoc","phone":"0333111868","source_title":"Vé tàu cao tốc Cần Thơ đi Côn Đảo giá rẻ - Tàu cao tốc Mai Linh Express","source_url":"https://vere.me:443/ve-tau-cao-toc/can-tho-con-dao-mai-linh-express-2"}}}]},"versionId":"77b9269f-5306-47de-b33e-96ed52230bec","triggerCount":1,"tags":[{"createdAt":"2023-05-09T11:00:16.326Z","updatedAt":"2023-05-09T11:00:16.326Z","id":"16","name":"vere"}]}