a-233.json
{"createdAt":"2023-07-27T13:18:11.155Z","updatedAt":"2023-08-14T21:32:11.000Z","id":"233","name":"A","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"A","options":{}},"id":"98c8199f-3ee0-4c99-8556-459bdd32769a","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[560,220],"webhookId":"824be3d2-4814-4514-a109-507ec73bf043"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"={ \"app_id\" : \"{{ $('setData').item.json[\"appId\"] }}\",\n \"app_secret\" : \"{{ $('setData').item.json[\"appSecret\"] }}\" } ","options":{}},"id":"ef9973ce-9f96-466f-8896-14b0d2d19a44","name":"app_token","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[940,220]},{"parameters":{"values":{"string":[{"name":"appId","value":"cli_a43f02058738d0099"},{"name":"appSecret","value":"ayBQyWmXTY2f1Js58pU1XdVIDrzqYDA2"},{"name":"recordID","value":"={{ $json.query.recordID }}"},{"name":"OK","value":"OK"}]},"options":{}},"id":"c1ae61cb-9d4e-406b-8c5f-4792b7e4b85d","name":"setData","type":"n8n-nodes-base.set","typeVersion":2,"position":[780,220]},{"parameters":{"method":"PUT","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/SFdibrWjyaVvaNsqQxnugyp5sHg/tables/tblTTEfBCIGNY53A/records/{{ $('setData').item.json[\"recordID\"] }}\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"fields\" : {\"FB\":\"OK\"}}","options":{}},"id":"feb79064-db79-48e0-ac2e-347baebd986e","name":"Update record","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1160,220]}],"connections":{"Webhook":{"main":[[{"node":"setData","type":"main","index":0}]]},"app_token":{"main":[[{"node":"Update record","type":"main","index":0}]]},"setData":{"main":[[{"node":"app_token","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"fb296e89-c3c5-4969-a99a-8fd919130bd7","triggerCount":1,"tags":[{"createdAt":"2023-07-27T13:18:08.568Z","updatedAt":"2023-07-27T13:18:08.568Z","id":"29","name":"Lark365"}]}