affiliate 01- webhook - copyggdrive(fromtemplate) - respond_fileid-url-76.json
{"createdAt":"2023-04-23T13:04:55.248Z","updatedAt":"2023-04-25T04:49:24.000Z","id":"76","name":"Affiliate 01# Webhook - CopyGGDrive(fromtemplate) - Respond_FileID&URL","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"19be3fe6-352e-4eea-946a-da7662f238ce","responseMode":"responseNode","options":{}},"id":"c05ef03d-9263-4700-af61-8c11e465be5a","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[820,400],"webhookId":"19be3fe6-352e-4eea-946a-da7662f238ce"},{"parameters":{"resource":"spreadsheet","title":"=Publisher_{{ $json.body.name }}_ {{ $json.body.ref_code }}","sheetsUi":{"sheetValues":[{"title":"=Dashboard"}]},"options":{}},"id":"9790e970-3b13-4fd5-890e-22982f766b77","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[1660,660],"credentials":{"googleSheetsOAuth2Api":{"id":"35","name":"Google Sheets ngothaikhang@gmail.com"}},"disabled":true},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1FW4KRt9s6jp-LyVMKngAwc8UTk6xiODBxC9WYQ1rCBo","mode":"list","cachedResultName":"Template of Publisher","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FW4KRt9s6jp-LyVMKngAwc8UTk6xiODBxC9WYQ1rCBo/edit?usp=drivesdk"},"options":{"name":"=Publisher_ {{ $json.body.name }}_ {{ $json.body.ref_code }}","parents":["1vyE3eZUMV0VOOY9b2BTzAQzXbSnoZWd_"]}},"id":"0c3de9cc-3324-4d7e-ba94-6e1f8149ab7c","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":2,"position":[1060,400],"credentials":{"googleDriveOAuth2Api":{"id":"36","name":"Google Drive account"}}},{"parameters":{"respondWith":"json","responseBody":"={\n\"status\":\"ok\",\n\"dash_id\":\"{{ $json[\"id\"] }}\",\n\"dash_filename\":\"{{ $json[\"name\"] }}\",\n\"dash_filelink\":\"https://docs.google.com/spreadsheets/d/{{ $json[\"id\"] }}\" \n}","options":{"responseCode":200}},"id":"504750a5-5cc9-47e8-a2e6-73f601583265","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1280,400]}],"connections":{"Webhook":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"c85cd91a-06c9-40f0-8056-a95865f0cee4","triggerCount":0,"tags":[]}