backbot_kdigi-544.json
{"createdAt":"2023-09-26T04:40:57.482Z","updatedAt":"2023-10-02T03:20:36.000Z","id":"544","name":"Backbot_KDIGI","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"bank-bot-khshop-1106","options":{}},"id":"c5fb40e4-85fe-4fd1-afc5-92e15cbcfe64","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1980,1220],"webhookId":"b459d9da-c462-43e0-880c-12b8d6304763"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  let elements = [];\n\n  elements.push({\n    tag: 'div',\n    fields: [\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Ngân hàng**: ${data.bankName.toUpperCase()}`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số tài khoản**: ${data.receiverAccount}`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số dư thay đổi:** ${data.transactionType.type} ${data.transactionAmount.amountText} VND`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Nội dung:** ${data.transactionMessage}`,\n        },\n      },\n    ],\n  });\n\n  // Append transaction ID if exist\n  if (data.transactionId) {\n    elements[0].fields.push({\n      is_short: false,\n      text: {\n        tag: 'lark_md',\n        content: `**Mã giao dịch:** ${data.transactionId}`,\n      },\n    });\n  }\n\n  // Append received time\n  elements[0].fields.push({\n    is_short: false,\n    text: {\n      tag: 'lark_md',\n      content: `**Thời gian nhận:** ${data.receivedTime.text}`,\n    },\n  });\n\n  // Kiểm tra enableBalance nếu true thì thêm phần tử \"Số dư tạm tính\" vào mảng fields\n  if ($input.item.json.enableBalance) {\n    const balanceIndex = elements[0].fields.findIndex((field) =>\n      field?.text?.content?.includes('Số dư thay đổi')\n    );\n    if (balanceIndex !== -1) {\n      elements[0].fields.splice(balanceIndex + 1, 0, {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số dư tạm tính**: ${data.balance.amountText} VND`,\n        },\n      });\n    }\n  }\n\n  // create message card\n  let result = {\n    msg_type: 'interactive',\n    card: {\n      config: {\n        wide_screen_mode: true,\n      },\n      header: {\n        template: data.larkMessConfig?.cardColor ?? 'blue',\n        title: {\n          content: `${data.bankName.toUpperCase()}-${data.receiverAccount} (${\n            data.transactionType.type\n          }) ${data.transactionAmount.amountText}VND`,\n          tag: 'plain_text',\n        },\n      },\n      elements,\n    },\n  };\n\n  return {\n    json: {\n      isSend: true,\n      data: result,\n      customBotURL: $input.item.json.customBotURL,\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"23ab0fa5-f885-46e1-9342-9c9dc7b29fb7","name":"Convert to Lark Message Card","type":"n8n-nodes-base.code","typeVersion":1,"position":[360,1240]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"={ \"app_id\" : \"{{ $input.item.json[\"appId\"] }}\", \"app_secret\" : \"{{ $input.item.json[\"appSecret\"] }}\" }","options":{}},"id":"4cca2479-f89c-4b4e-930c-528479a51e5e","name":"Get Lark tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-740,960]},{"parameters":{"method":"POST","url":"={{ $input.item.json.customBotURL }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.item.json.data)}}","options":{}},"id":"8e559d25-c499-4e31-a0a7-5e97a65fc627","name":"[Lark] Send noti to group chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[720,1080]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  // Convert to Lark Base format\n  const records = [\n    {\n      fields: {\n        ID: data.bankName + '-' + data.receiverAccount,\n        Bank: data.bankName.toUpperCase(),\n        Account: data.receiverAccount,\n        'Transaction Type': data.transactionType.typeText,\n        Debit:\n          data.transactionType.type === '-'\n            ? data.transactionAmount.amount\n            : undefined,\n        Credit:\n          data.transactionType.type === '+'\n            ? data.transactionAmount.amount\n            : undefined,\n        'Transaction ID': data.transactionId,\n        'Transaction Message': data.transactionMessage,\n        'Original Message': data.originalMessage,\n        'Transaction Time': data.transactionTime.timestamp,\n        'Time received': data.receivedTime.timestamp,\n      },\n    },\n  ];\n\n  // Kiểm tra enableBalance nếu true thì thêm phần tử \"Balance\" vào mảng fields\n  if ($input.item.json.enableBalance) {\n    records[0].fields = {\n      ...records[0].fields,\n      Balance: data.balance.amount,\n    };\n  }\n\n  return {\n    json: {\n      isSend: true,\n      records,\n      configs: {\n        baseId: $input.item.json.baseId,\n        tableId: $input.item.json.tableId,\n      },\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"cb0df172-64eb-4b48-887d-62de5ef07dcd","name":"Convert to Lark Base format","type":"n8n-nodes-base.code","typeVersion":1,"position":[300,860]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $json[\"configs\"][\"baseId\"] }}/tables/{{  $json[\"configs\"][\"tableId\"]}}/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get Lark tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($json[\"records\"]) }}}","options":{}},"id":"2e0ea37f-fd42-4d21-a043-605f63455585","name":"[SMS Log] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[680,780]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isBankSupport }}","value2":true}]}},"id":"de623b5f-a4e1-4980-9d71-db266e627b50","name":"ifBankSupport","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1560,1220]},{"parameters":{"method":"POST","url":"https://vn1.n8n.vn/webhook/kdigi-bank-bot-process-data","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.first().json.body) }}","options":{}},"id":"a084dbe0-9b36-4e50-b53e-4b9ed0e1e6ca","name":"getBankData","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1780,1220]},{"parameters":{},"id":"b5509e19-4ddc-40c6-8b88-7d189f07acf0","name":"Start Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1360,1200]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  let message = [];\n\n  message.push(\n    `<b>${data.bankName.toUpperCase()}-${data.receiverAccount} (${\n      data.transactionType.type\n    }) ${data.transactionAmount.amountText}VND</b>\\n`,\n    `<b>Ngân hàng:</b> ${data.bankName.toUpperCase()}`,\n    `<b>Số tài khoản:</b> ${data.receiverAccount}`,\n    `<b>Số dư thay đổi:</b> ${data.transactionType.type} ${data.transactionAmount.amountText} VND`\n  );\n\n  // Add balance\n  if ($input.item.json.enableBalance) {\n    message.push(`<b>Số dư tạm tính:</b> ${data.balance.amountText} VND`);\n  }\n\n  message.push(`<b>Nội dung:</b>\\n ${data.transactionMessage}`);\n\n  // Check transaction ID\n  if (data.transactionId) {\n    message.push(`<b>Mã giao dịch:</b> ${data.transactionId}`);\n  }\n\n  message.push(`<b>Thời gian nhận:</b> ${data.receivedTime.text}`);\n\n  return {\n    json: {\n      isSend: true,\n      botToken: $input.item.json.botToken,\n      payload: {\n        chat_id: $input.item.json.chatId,\n        parse_mode: 'HTML',\n        text: message.join('\\n'),\n      },\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"8568dce3-22b7-4091-9885-c03217114d2f","name":"Create Telegram Message","type":"n8n-nodes-base.code","typeVersion":1,"position":[-300,1820]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $input.item.json.botToken }}/sendMessage ","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.item.json.payload) }}","options":{}},"id":"74c4be71-05c3-452a-ab97-40ca7a632187","name":"Send to Telegram chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[160,1740]},{"parameters":{"values":{"string":[{"name":"appId","value":"cli_a598e1042cb8d010"},{"name":"appSecret","value":"Am43PW7VTtZzgE0sXWgNjgUX8SbZaDTq"}]},"options":{}},"id":"ebacc0d8-5fb6-4bd5-99d9-3641ed4ca1e3","name":"Set Lark Configs","type":"n8n-nodes-base.set","typeVersion":2,"position":[-920,960]},{"parameters":{"values":{"string":[{"name":"customBotURL","value":"https://open.larksuite.com/open-apis/bot/v2/hook/3a7dd60a-dc59-4721-a7e2-8c9959b4ffe6"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP","value":true},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"b5e639c8-f750-4804-ad46-6b62d3089355","name":"Set Lark Mess Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[-300,1180]},{"parameters":{"values":{"string":[{"name":"baseId","value":"ZZZ0btAebahmxPsgtaUlMEKUgsq"},{"name":"tableId","value":"tbl7BCFrOgMRxSN8"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP","value":true},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"661685ec-b0e0-4e57-a022-a3b361dfc096","name":"Set Lark Base Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[-280,800]},{"parameters":{},"id":"bbd3a8ed-475c-43d7-885a-92e6d2cf2455","name":"Start Lark Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1080,960]},{"parameters":{},"id":"835e98b6-ecb5-413d-a839-21b28d962f0a","name":"Start Lark Base","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-520,820]},{"parameters":{},"id":"93789170-307a-403f-9a67-05aa3ed4fcfe","name":"Start Lark Mess","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-520,1180]},{"parameters":{},"id":"f5b076ff-cfd4-4788-a8e9-18dd1a9f5f00","name":"Start Telegram Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1100,1740]},{"parameters":{"values":{"string":[{"name":"botToken","value":"6141412510:AAEVEPZcCa7Hehbb9pfnX7M9cpd0f5rK1q4"},{"name":"chatId","value":"-1001958985351"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP"},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"3d2a6912-0a07-40e5-ba85-e872cd79b3c5","name":"Set Telegram Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[-900,1620]},{"parameters":{},"id":"8dc5a697-45be-46d2-b7c6-5050fa6c2a04","name":"Start Lark Base Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-80,800]},{"parameters":{},"id":"759071d1-cf50-4526-805f-6f7aea0eba6f","name":"Start Lark Mess Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-80,1160]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\n// create message card\nlet result = {\n  msg_type: 'text',\n  content: {\n    text: `Từ: ${smsContent.from}\\n${smsContent.text.toString()}`,\n  },\n};\n\nreturn {\n  json: {\n    data: result,\n    customBotURL: $input.item.json.customBotURL,\n  },\n};\n"},"id":"deb89a3e-9ecf-4db2-a7f1-438029526abe","name":"Convert to Message Card for OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[360,1060]},{"parameters":{},"id":"fa2fd27f-fdff-4aad-a4af-b4a44d56ec49","name":"Start Telegram Mess Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-700,1740]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\nlet message = [];\n\nmessage.push(\n  `<b>${smsContent.from.toUpperCase()}</b>\\n`,\n  `${smsContent.text.toString()}`\n);\n\nreturn {\n  json: {\n    botToken: $input.item.json.botToken,\n    payload: {\n      chat_id: $input.item.json.chatId,\n      parse_mode: 'HTML',\n      text: message.join('\\n'),\n    },\n  },\n};\n"},"id":"a70deeb5-1b3b-4e6b-9239-89fccb1a6cfa","name":"Create Telegram Message for OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[-300,1660]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"c4838982-87b9-4715-bb2e-e8f638af6ba0","name":"ifSend","type":"n8n-nodes-base.if","typeVersion":1,"position":[540,1220]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"afcdd09c-2c08-4a6b-9894-563c080dd053","name":"ifSend1","type":"n8n-nodes-base.if","typeVersion":1,"position":[480,860]},{"parameters":{"values":{"string":[{"name":"botToken","value":"6380831923:AAFzYGZTFmXbqKWgNu6Drj6IbERm2j9XYQ8"},{"name":"chatId","value":"-1001958985351"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP"},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"c038fca9-dbf0-4cf8-8638-b5ffdae4c090","name":"Set Telegram Config1","type":"n8n-nodes-base.set","typeVersion":2,"position":[-900,1860]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"8cbe84f1-8cd4-4c24-9bc3-d2da1934620a","name":"ifSend2","type":"n8n-nodes-base.if","typeVersion":1,"position":[-80,1820]},{"parameters":{"values":{"string":[{"name":"botToken","value":"6319174707:AAGXbX_bYMcHUTK0gD6WT159QUL3RqMJ_lo"},{"name":"chatId","value":"-1001958985351"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP"},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"e5543c5c-c2f5-4535-b297-fc3edb901093","name":"Set Telegram Config2","type":"n8n-nodes-base.set","typeVersion":2,"position":[-900,2060]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\n  // Convert to Lark Base format\n  const records = [\n    {\n      fields: {\n        ID: smsContent.from,\n        Bank: smsContent.from,\n        'Transaction Type': 'OTP',\n        'Transaction Message': smsContent.text.toString(),\n        'Original Message': smsContent.text.toString(),\n        'Time received': smsContent.sentStamp,\n      },\n    },\n  ];\n\n  return {\n    json: {\n      records,\n      configs: {\n        baseId: $input.item.json.baseId,\n        tableId: $input.item.json.tableId,\n      },\n    },\n  };\n"},"id":"5591bff0-715f-4de3-a98b-d0e091c024a6","name":"Convert to Lark Base format OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[380,660]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"4dc1fc63-5523-4d96-a072-cec528ffa3e8","name":"ifOTPLarkBase","type":"n8n-nodes-base.if","typeVersion":1,"position":[100,800]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"0672f15b-c44d-4e16-9b71-806a430c6404","name":"ifOTPLarkMess","type":"n8n-nodes-base.if","typeVersion":1,"position":[80,1160]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"c5fc1290-1857-4b8b-b921-a8e524b3a834","name":"ifOTPTelegram","type":"n8n-nodes-base.if","typeVersion":1,"position":[-520,1740]}],"connections":{"Webhook":{"main":[[{"node":"getBankData","type":"main","index":0}]]},"Convert to Lark Message Card":{"main":[[{"node":"ifSend","type":"main","index":0}]]},"Get Lark tenant access token":{"main":[[{"node":"Start Lark Base","type":"main","index":0},{"node":"Start Lark Mess","type":"main","index":0}]]},"Convert to Lark Base format":{"main":[[{"node":"ifSend1","type":"main","index":0}]]},"ifBankSupport":{"main":[[{"node":"Start Actions","type":"main","index":0}]]},"getBankData":{"main":[[{"node":"ifBankSupport","type":"main","index":0}]]},"Create Telegram Message":{"main":[[{"node":"ifSend2","type":"main","index":0}]]},"Set Lark Configs":{"main":[[{"node":"Get Lark tenant access token","type":"main","index":0}]]},"Set Lark Mess Config":{"main":[[{"node":"Start Lark Mess Actions","type":"main","index":0}]]},"Set Lark Base Config":{"main":[[{"node":"Start Lark Base Actions","type":"main","index":0}]]},"Start Lark Actions":{"main":[[{"node":"Set Lark Configs","type":"main","index":0}]]},"Start Lark Base":{"main":[[{"node":"Set Lark Base Config","type":"main","index":0}]]},"Start Lark Mess":{"main":[[{"node":"Set Lark Mess Config","type":"main","index":0}]]},"Start Telegram Actions":{"main":[[{"node":"Set Telegram Config","type":"main","index":0},{"node":"Set Telegram Config1","type":"main","index":0},{"node":"Set Telegram Config2","type":"main","index":0}]]},"Set Telegram Config":{"main":[[{"node":"Start Telegram Mess Actions","type":"main","index":0}]]},"Start Lark Base Actions":{"main":[[{"node":"ifOTPLarkBase","type":"main","index":0}]]},"Start Lark Mess Actions":{"main":[[{"node":"ifOTPLarkMess","type":"main","index":0}]]},"Convert to Message Card for OTP":{"main":[[{"node":"[Lark] Send noti to group chat","type":"main","index":0}]]},"Start Telegram Mess Actions":{"main":[[{"node":"ifOTPTelegram","type":"main","index":0}]]},"Create Telegram Message for OTP":{"main":[[{"node":"Send to Telegram chat","type":"main","index":0}]]},"ifSend":{"main":[[{"node":"[Lark] Send noti to group chat","type":"main","index":0}]]},"ifSend1":{"main":[[{"node":"[SMS Log] Add records to Bitable","type":"main","index":0}]]},"Set Telegram Config1":{"main":[[{"node":"Start Telegram Mess Actions","type":"main","index":0}]]},"ifSend2":{"main":[[{"node":"Send to Telegram chat","type":"main","index":0}]]},"Set Telegram Config2":{"main":[[{"node":"Start Telegram Mess Actions","type":"main","index":0}]]},"Convert to Lark Base format OTP":{"main":[[{"node":"[SMS Log] Add records to Bitable","type":"main","index":0}]]},"ifOTPLarkBase":{"main":[[{"node":"Convert to Lark Base format OTP","type":"main","index":0}],[{"node":"Convert to Lark Base format","type":"main","index":0}]]},"ifOTPLarkMess":{"main":[[{"node":"Convert to Message Card for OTP","type":"main","index":0}],[{"node":"Convert to Lark Message Card","type":"main","index":0}]]},"ifOTPTelegram":{"main":[[{"node":"Create Telegram Message for OTP","type":"main","index":0}],[{"node":"Create Telegram Message","type":"main","index":0}]]},"Start Actions":{"main":[[{"node":"Start Lark Actions","type":"main","index":0},{"node":"Start Telegram Actions","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"a55b4717-46c8-4e61-8f8a-4430ab340e18","triggerCount":1,"tags":[]}