bao hanh trip-192.json
{"createdAt":"2023-07-19T04:15:19.338Z","updatedAt":"2023-07-19T04:15:19.338Z","id":"192","name":"Bao Hanh TRIP","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"bao-hanh-trip","options":{}},"id":"8987c2ec-8523-48d0-95e8-6971739cbb08","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[1440,700],"webhookId":"8aba7f1f-52de-42bc-b484-64e9b6b8789d"},{"parameters":{"method":"POST","url":"https://api.infusionsoft.com/crm/rest/v1/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Keap-API-Key","value":"KeapAK-92d6c1b7992aa8d49e447eac57ec430e509d07527cce90182a"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \n  \"birthday\": \"{{ $('Webhook').item.json[\"body\"][\"ngaysinh1\"] }}\",  \n  \"custom_fields\": [\n{\n\"content\": \"{{ $('Webhook').item.json[\"body\"][\"serial\"] }}\",\n\"id\": 516\n},\n{\n\"content\": \"{{ $('Webhook').item.json[\"body\"][\"sanpham\"] }}\",\n\"id\": 514\n},\n{\n\"content\": \"{{ $('Webhook').item.json[\"body\"][\"ngaykichhoat1\"] }}\",\n\"id\": 510\n},\n{\n\"content\": \"{{ $('Webhook').item.json[\"body\"][\"hanbaohanh1\"] }}\",\n\"id\": 512\n}\n],\n  \"email_addresses\": [\n    {\n      \"email\": \"{{ $('Webhook').item.json[\"body\"][\"emailKH\"] }}\",\n      \"field\": \"EMAIL1\"\n    }\n  ],\n  \"given_name\": \"{{ $('Webhook').item.json[\"body\"][\"name\"] }}\",\n  \"opt_in_reason\": \"Kích hoạt bảo hành\",\n  \"phone_numbers\": [\n    {      \n      \"field\": \"PHONE1\",\n      \"number\": \"{{ $('Webhook').item.json[\"body\"][\"phoneKH\"] }}\",\n      \"type\": \"Mobile\"\n    }\n  ]\n}","options":{}},"id":"fd45e88b-cc6c-4f7d-8d50-4114996aee6f","name":"Keap - New Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1660,700]},{"parameters":{"method":"POST","url":"=https://api.infusionsoft.com/crm/rest/v1/contacts/{{ $json[\"id\"] }}/tags","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Keap-API-Key","value":"KeapAK-92d6c1b7992aa8d49e447eac57ec430e509d07527cce90182a"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"tagIds\": [\n15474\n]\n}","options":{}},"id":"1288dd99-d974-413e-9092-858de9dbe1d8","name":"Keap - Add Tag","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1860,700]}],"connections":{"Webhook":{"main":[[{"node":"Keap - New Contact","type":"main","index":0}]]},"Keap - New Contact":{"main":[[{"node":"Keap - Add Tag","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8.quanchatbot.com","user-agent":"axios/0.19.2","content-length":"234","accept":"application/json, text/plain, */*","content-type":"application/json","x-forwarded-for":"34.87.3.106","x-forwarded-host":"n8.quanchatbot.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"cc3a1a76fa48","x-real-ip":"34.87.3.106","accept-encoding":"gzip"},"params":{},"query":{},"body":{"serial":"444482068","sanpham":"Vali Trip PC911 size 70 xanh dương","ngaykichhoat1":"2023-06-15","hanbaohanh1":"2024-08-16","name":"Lê Hồng Quân","emailKH":"lehongquan@gmail.com","phoneKH":"0866088807","ngaysinh1":"1984-12-25"}},"pairedItem":{"item":0}}]},"versionId":"a923d71e-9639-4d1b-b354-dbe8af72fd55","triggerCount":0,"tags":[]}