bắn thông báo bank về lark-203.json
{"createdAt":"2023-07-19T05:14:31.588Z","updatedAt":"2023-11-21T10:53:30.000Z","id":"203","name":"Bắn thông báo bank về Lark","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"GP99","options":{}},"id":"39616c14-7a1e-4583-a84e-3c0fdc670f64","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1760,820],"webhookId":"b459d9da-c462-43e0-880c-12b8d6304763"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  let elements = [];\n\n  elements.push({\n    tag: 'div',\n    fields: [\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Ngân hàng**: ${data.bankName.toUpperCase()}`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số tài khoản**: ${data.receiverAccount}`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số dư thay đổi:** ${data.transactionType.type} ${data.transactionAmount.amountText} VND`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Nội dung:** ${data.transactionMessage}`,\n        },\n      },\n    ],\n  });\n\n  // Append transaction ID if exist\n  if (data.transactionId) {\n    elements[0].fields.push({\n      is_short: false,\n      text: {\n        tag: 'lark_md',\n        content: `**Mã giao dịch:** ${data.transactionId}`,\n      },\n    });\n  }\n\n  // Append received time\n  elements[0].fields.push({\n    is_short: false,\n    text: {\n      tag: 'lark_md',\n      content: `**Thời gian nhận:** ${data.receivedTime.text}`,\n    },\n  });\n\n  // Kiểm tra enableBalance nếu true thì thêm phần tử \"Số dư tạm tính\" vào mảng fields\n  if ($input.item.json.enableBalance) {\n    const balanceIndex = elements[0].fields.findIndex((field) =>\n      field?.text?.content?.includes('Số dư thay đổi')\n    );\n    if (balanceIndex !== -1) {\n      elements[0].fields.splice(balanceIndex + 1, 0, {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số dư tạm tính**: ${data.balance.amountText} VND`,\n        },\n      });\n    }\n  }\n\n  // create message card\n  let result = {\n    msg_type: 'interactive',\n    card: {\n      config: {\n        wide_screen_mode: true,\n      },\n      header: {\n        template: data.larkMessConfig?.cardColor ?? 'blue',\n        title: {\n          content: `${data.bankName.toUpperCase()}-${data.receiverAccount} (${\n            data.transactionType.type\n          }) ${data.transactionAmount.amountText}VND`,\n          tag: 'plain_text',\n        },\n      },\n      elements,\n    },\n  };\n\n  return {\n    json: {\n      isSend: true,\n      data: result,\n      customBotURL: $input.item.json.customBotURL,\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"80fe64f5-f9e8-4552-9f81-5e7b866128d1","name":"Convert to Lark Message Card","type":"n8n-nodes-base.code","typeVersion":1,"position":[540,860]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"={ \"app_id\" : \"{{ $input.item.json[\"appId\"] }}\", \"app_secret\" : \"{{ $input.item.json[\"appSecret\"] }}\" }","options":{}},"id":"478244be-5246-45f1-8848-98260bac9e32","name":"Get Lark tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-520,560]},{"parameters":{"method":"POST","url":"={{ $input.item.json.customBotURL }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.item.json.data)}}","options":{}},"id":"e6a9349f-1eea-4f9b-96b4-d84147a924d4","name":"[Lark] Send noti to group chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[960,720]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  // Convert to Lark Base format\n  const records = [\n    {\n      fields: {\n        ID: data.bankName + '-' + data.receiverAccount,\n        Bank: data.bankName.toUpperCase(),\n        Account: data.receiverAccount,\n        'Transaction Type': data.transactionType.typeText,\n        Debit:\n          data.transactionType.type === '+'\n            ? data.transactionAmount.amount\n            : undefined,\n        Credit:\n          data.transactionType.type === '-'\n            ? data.transactionAmount.amount\n            : undefined,\n        'Transaction ID': data.transactionId,\n        'Transaction Message': data.transactionMessage,\n        'Original Message': data.originalMessage,\n        'Time received': data.receivedTime.timestamp,\n      },\n    },\n  ];\n\n  // Kiểm tra enableBalance nếu true thì thêm phần tử \"Balance\" vào mảng fields\n  if ($input.item.json.enableBalance) {\n    records[0].fields = {\n      ...records[0].fields,\n      Balance: data.balance.amount,\n    };\n  }\n\n  return {\n    json: {\n      isSend: true,\n      records,\n      configs: {\n        baseId: $input.item.json.baseId,\n        tableId: $input.item.json.tableId,\n      },\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"3cff83dc-6739-4687-9ebd-6c4570ce5eab","name":"Convert to Lark Base format","type":"n8n-nodes-base.code","typeVersion":1,"position":[520,460]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $json[\"configs\"][\"baseId\"] }}/tables/{{  $json[\"configs\"][\"tableId\"]}}/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get Lark tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($json[\"records\"]) }}}","options":{}},"id":"3aa73533-8f8e-4d14-a473-0d53a79b59fc","name":"[SMS Log] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[940,400]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isBankSupport }}","value2":true}]}},"id":"282294c2-22b2-444f-af3a-c3db78349e77","name":"ifBankSupport","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1340,820]},{"parameters":{"method":"POST","url":"https://vn1.n8n.vn/webhook/v2/kdigi-bank-bot-process-data","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.first().json.body) }}","options":{}},"id":"c3d8ae00-2462-4fbc-96b3-b4334a957a89","name":"getBankData","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1560,820]},{"parameters":{},"id":"272b8568-ff1e-42dc-bc44-ceffa592c8db","name":"Start Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1140,800]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  let message = [];\n\n  message.push(\n    `<b>${data.bankName.toUpperCase()}-${data.receiverAccount} (${\n      data.transactionType.type\n    }) ${data.transactionAmount.amountText}VND</b>\\n`,\n    `<b>Ngân hàng:</b> ${data.bankName.toUpperCase()}`,\n    `<b>Số tài khoản:</b> ${data.receiverAccount}`,\n    `<b>Số dư thay đổi:</b> ${data.transactionType.type} ${data.transactionAmount.amountText} VND`\n  );\n\n  // Add balance\n  if ($input.item.json.enableBalance) {\n    message.push(`<b>Số dư tạm tính:</b> ${data.balance.amountText} VND`);\n  }\n\n  message.push(`<b>Nội dung:</b>\\n ${data.transactionMessage}`);\n\n  // Check transaction ID\n  if (data.transactionId) {\n    message.push(`<b>Mã giao dịch:</b> ${data.transactionId}`);\n  }\n\n  message.push(`<b>Thời gian nhận:</b> ${data.receivedTime.text}`);\n\n  return {\n    json: {\n      isSend: true,\n      botToken: $input.item.json.botToken,\n      payload: {\n        chat_id: $input.item.json.chatId,\n        parse_mode: 'HTML',\n        text: message.join('\\n'),\n      },\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"29590a94-2ec4-456b-b8a4-6f3f55ea0664","name":"Create Telegram Message","type":"n8n-nodes-base.code","typeVersion":1,"position":[-20,1300]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $input.item.json.botToken }}/sendMessage ","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.item.json.payload) }}","options":{}},"id":"e86e13f3-54a6-4708-b83a-987d9ee1f32b","name":"Send to Telegram chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[440,1220]},{"parameters":{"values":{"string":[{"name":"appId","value":"cli_a45a6d87f278d010"},{"name":"appSecret","value":"IMke1avruR57zwKwRQ6DqeBL5FbA3NKQ"}]},"options":{}},"id":"93020eda-75f2-454e-be21-0f45e1965cf9","name":"Set Lark Configs","type":"n8n-nodes-base.set","typeVersion":2,"position":[-700,560]},{"parameters":{"values":{"string":[{"name":"customBotURL","value":"https://open.larksuite.com/open-apis/bot/v2/hook/e6de3249-8fbd-4a85-8335-bbcad9b13757"}],"boolean":[{"name":"enableBalance"},{"name":"enableOTP"},{"name":"enableOutgoing"},{"name":"enableIncoming","value":true}]},"options":{}},"id":"37b0358e-fce9-40e6-8f0c-9ecd95a9e223","name":"Set Lark Mess Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[-100,820]},{"parameters":{"values":{"string":[{"name":"baseId","value":"VhHSbxCw7a0flUsucRTl5KKzgVh"},{"name":"tableId","value":"tbl4IraU5vmOYhM7"}],"boolean":[{"name":"enableBalance"},{"name":"enableOTP"},{"name":"enableOutgoing"},{"name":"enableIncoming","value":true}]},"options":{}},"id":"643598fb-a80e-430f-9b13-88560217c9b9","name":"Set Lark Base Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[-80,400]},{"parameters":{},"id":"47035fa0-b6ff-41de-9278-f184d6ae8a9d","name":"Start Lark Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-860,560]},{"parameters":{},"id":"681a20e3-1b6c-403b-9e73-56805bf7c83b","name":"Start Lark Base","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-300,420]},{"parameters":{},"id":"96d49e9d-0ee9-4fb4-b9b8-eedc9288e334","name":"Start Lark Mess","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-320,820]},{"parameters":{},"id":"dc27df87-7f0a-4ebe-a181-c7c13fac0621","name":"Start Telegram Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-820,1220]},{"parameters":{"values":{"string":[{"name":"botToken","value":"set-bot-token"},{"name":"chatId","value":"set-chat-id"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP","value":true},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"a046c9ca-406b-4cbd-810e-ce8402efce78","name":"Set Telegram Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[-620,1220]},{"parameters":{},"id":"d4997618-fffe-4662-8a96-de0dff868c6d","name":"Start Lark Base Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[140,400]},{"parameters":{},"id":"5b61229a-0ceb-48d9-8b3a-8dd3066c5cb3","name":"Start Lark Mess Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[120,800]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\n// create message card\nlet result = {\n  msg_type: 'text',\n  content: {\n    text: `Từ: ${smsContent.from}\\n${smsContent.text.toString()}`,\n  },\n};\n\nreturn {\n  json: {\n    data: result,\n    customBotURL: $input.item.json.customBotURL,\n  },\n};\n"},"id":"15250981-9e6e-4782-bde7-bb68423a165e","name":"Convert to Message Card for OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[540,700]},{"parameters":{},"id":"dfa7befb-4fa4-4c60-a4ef-8778bb294367","name":"Start Telegram Mess Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-420,1220]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\nlet message = [];\n\nmessage.push(\n  `<b>${smsContent.from.toUpperCase()}</b>\\n`,\n  `${smsContent.text.toString()}`\n);\n\nreturn {\n  json: {\n    botToken: $input.item.json.botToken,\n    payload: {\n      chat_id: $input.item.json.chatId,\n      parse_mode: 'HTML',\n      text: message.join('\\n'),\n    },\n  },\n};\n"},"id":"92e86b62-6f13-4c19-b013-e7a61f8d492c","name":"Create Telegram Message for OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[-20,1140]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"ee4ae9a7-3a0c-420d-bcfa-224e542954ae","name":"ifSend","type":"n8n-nodes-base.if","typeVersion":1,"position":[740,860]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"eaf3ef69-8ca7-4078-aa97-b6e6c7ddc9e3","name":"ifSend1","type":"n8n-nodes-base.if","typeVersion":1,"position":[700,460]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"db8e8ac1-b63b-420f-8325-454288e66d21","name":"ifSend2","type":"n8n-nodes-base.if","typeVersion":1,"position":[200,1300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\n  // Convert to Lark Base format\n  const records = [\n    {\n      fields: {\n        ID: smsContent.from,\n        Bank: smsContent.from,\n        'Transaction Type': 'OTP',\n        'Transaction Message': smsContent.text.toString(),\n        'Original Message': smsContent.text.toString(),\n        'Time received': smsContent.sentStamp,\n      },\n    },\n  ];\n\n  return {\n    json: {\n      records,\n      configs: {\n        baseId: $input.item.json.baseId,\n        tableId: $input.item.json.tableId,\n      },\n    },\n  };\n"},"id":"d7e0383a-61f8-437b-acf6-1787c53b99d0","name":"Convert to Lark Base format OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[520,220]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"785ac81a-500c-4190-b52a-115d320f7875","name":"ifOTPLarkBase","type":"n8n-nodes-base.if","typeVersion":1,"position":[320,400]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"25eb70be-5a8f-4548-9f53-9ed0fd6a0c03","name":"ifOTPLarkMess","type":"n8n-nodes-base.if","typeVersion":1,"position":[280,800]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"1a5a98a1-2f1c-470d-b644-b52e4624fecb","name":"ifOTPTelegram","type":"n8n-nodes-base.if","typeVersion":1,"position":[-240,1220]}],"connections":{"Webhook":{"main":[[{"node":"getBankData","type":"main","index":0}]]},"Convert to Lark Message Card":{"main":[[{"node":"ifSend","type":"main","index":0}]]},"Get Lark tenant access token":{"main":[[{"node":"Start Lark Base","type":"main","index":0},{"node":"Start Lark Mess","type":"main","index":0}]]},"Convert to Lark Base format":{"main":[[{"node":"ifSend1","type":"main","index":0}]]},"ifBankSupport":{"main":[[{"node":"Start Actions","type":"main","index":0}]]},"getBankData":{"main":[[{"node":"ifBankSupport","type":"main","index":0}]]},"Start Actions":{"main":[[{"node":"Start Lark Actions","type":"main","index":0}]]},"Create Telegram Message":{"main":[[{"node":"ifSend2","type":"main","index":0}]]},"Set Lark Configs":{"main":[[{"node":"Get Lark tenant access token","type":"main","index":0}]]},"Set Lark Mess Config":{"main":[[{"node":"Start Lark Mess Actions","type":"main","index":0}]]},"Set Lark Base Config":{"main":[[{"node":"Start Lark Base Actions","type":"main","index":0}]]},"Start Lark Actions":{"main":[[{"node":"Set Lark Configs","type":"main","index":0}]]},"Start Lark Base":{"main":[[{"node":"Set Lark Base Config","type":"main","index":0}]]},"Start Lark Mess":{"main":[[{"node":"Set Lark Mess Config","type":"main","index":0}]]},"Start Telegram Actions":{"main":[[{"node":"Set Telegram Config","type":"main","index":0}]]},"Set Telegram Config":{"main":[[{"node":"Start Telegram Mess Actions","type":"main","index":0}]]},"Start Lark Base Actions":{"main":[[{"node":"ifOTPLarkBase","type":"main","index":0}]]},"Start Lark Mess Actions":{"main":[[{"node":"ifOTPLarkMess","type":"main","index":0}]]},"Convert to Message Card for OTP":{"main":[[{"node":"[Lark] Send noti to group chat","type":"main","index":0}]]},"Start Telegram Mess Actions":{"main":[[{"node":"ifOTPTelegram","type":"main","index":0}]]},"Create Telegram Message for OTP":{"main":[[{"node":"Send to Telegram chat","type":"main","index":0}]]},"ifSend":{"main":[[{"node":"[Lark] Send noti to group chat","type":"main","index":0}]]},"ifSend1":{"main":[[{"node":"[SMS Log] Add records to Bitable","type":"main","index":0}]]},"ifSend2":{"main":[[{"node":"Send to Telegram chat","type":"main","index":0}]]},"Convert to Lark Base format OTP":{"main":[[{"node":"[SMS Log] Add records to Bitable","type":"main","index":0}]]},"ifOTPLarkBase":{"main":[[{"node":"Convert to Lark Base format OTP","type":"main","index":0}],[{"node":"Convert to Lark Base format","type":"main","index":0}]]},"ifOTPLarkMess":{"main":[[{"node":"Convert to Message Card for OTP","type":"main","index":0}],[{"node":"Convert to Lark Message Card","type":"main","index":0}]]},"ifOTPTelegram":{"main":[[{"node":"Create Telegram Message for OTP","type":"main","index":0}],[{"node":"Create Telegram Message","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"SMS Forwarder App","transfer-encoding":"chunked","accept-encoding":"gzip","content-type":"application/json; charset=utf-8","x-forwarded-for":"116.110.15.92","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"116.110.15.92"},"params":{},"query":{},"body":{"from":"Vietcombank","text":"SD TK 0041000198242 +10,000VND luc 07-08-2023 20:42:09. SD 153,423,489VND. Ref 458410.070823.204209.PHUNG THI HUONG GIANG chuyen tien den PHUNG THI HUONG GIA...","sentStamp":1691415729000,"receivedStamp":1691415729977,"sim":"sim2"}}}]},"versionId":"6a17084d-d2be-4987-bc0d-a13c0b1aad72","triggerCount":1,"tags":[]}