bắn aproval lệnh sx-111.json
{"createdAt":"2023-05-31T08:40:31.792Z","updatedAt":"2023-07-28T07:50:24.000Z","id":"111","name":"Bắn aproval lệnh sx","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal","sendBody":true,"bodyParameters":{"parameters":[{"name":"app_id","value":"cli_a4d6c704d9b85009"},{"name":"app_secret","value":"mY1fnsO5t2PvCRhKV6TxLfYuO5Iw57zh"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"ced292be-dedb-4f31-8991-2a9574963166","name":"Tenant","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[260,360]},{"parameters":{"httpMethod":"POST","path":"b89bc4bd-a37b-47a3-9f9f-8e2631d1ca79","options":{}},"id":"4ef4c428-1682-4e60-be32-719875ca6645","name":"NhanLinkDraftMieu","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-100,360],"webhookId":"f41ab63e-0f01-40f2-a328-e5e050fd6449"},{"parameters":{"url":"https://open.larksuite.com/open-apis/bitable/v1/apps/QncPb90v9azHZRsiBsMutNctsrY/tables/tbl7pE4Q4B5FwP0m/records","sendQuery":true,"queryParameters":{"parameters":[{"name":"filter","value":"=CurrentValue.[Mã Sketch_ID]=\"{{ $('NhanLinkDraftMieu').item.json[\"body\"][\"marap\"] }}\""},{"name":"page_size","value":"20"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Tenant').item.json[\"body\"][\"tenant_access_token\"] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"3a4635a6-3037-46ec-866f-f99f41513549","name":"layrecordsid","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[520,360]},{"parameters":{"method":"PUT","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/QncPb90v9azHZRsiBsMutNctsrY/tables/tbl7pE4Q4B5FwP0m/records/{{ $node[\"layrecordsid\"].json[\"body\"][\"data\"][\"page_token\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Tenant\"].json[\"body\"][\"tenant_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"fields\":{\"⛔Approval form status\":\"OK\"}}","options":{"response":{"response":{"fullResponse":true}}}},"id":"d04fd679-a8d2-4187-ab67-5990a2f2cf4f","name":"CapNhatSTT","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[860,360]}],"connections":{"Tenant":{"main":[[{"node":"layrecordsid","type":"main","index":0}]]},"NhanLinkDraftMieu":{"main":[[{"node":"Tenant","type":"main","index":0}]]},"layrecordsid":{"main":[[{"node":"CapNhatSTT","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"033d11d1-d537-4f32-a1d5-3cfbf4dbb480","triggerCount":1,"tags":[]}