check n8-quanchatbot-com-190.json
{"createdAt":"2023-07-19T02:35:27.918Z","updatedAt":"2023-08-03T10:19:37.000Z","id":"190","name":"Check n8.quanchatbot.com","active":true,"nodes":[{"parameters":{},"id":"3f6eeaae-143c-4e5b-a29d-f4dd152d603c","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[800,320]},{"parameters":{"returnAll":false,"limit":1,"filters":{"activeWorkflows":false}},"id":"5af8751a-c32d-4c2a-a0f1-8978b0714a1a","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1060,400],"credentials":{"n8nApi":{"id":"86","name":"n8.quanchatbot.com"}},"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.id }}","operation":"isEmpty"}]}},"id":"f7303ec0-68c6-4899-8e9d-fbad0f798ed2","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1240,400]},{"parameters":{"chatId":"-823683118","text":"⛔ Có vấn đề với server n8.quanchatbot.com kìa anh em!","additionalFields":{}},"id":"e8aa94bb-87de-49f9-aa95-1b0afaaf67db","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1660,380],"credentials":{"telegramApi":{"id":"87","name":"hita_5ptb_bot"}},"continueOnFail":true},{"parameters":{"operation":"sendPhoto","chatId":"-823683118","file":"AgACAgUAAxkBAAJ--GS3UcuXymzEv22XKtzuafdugrjcAALDtTEbEsW5VQpzzSUoCXRRAQADAgADeAADLwQ","additionalFields":{}},"id":"59696ea2-b249-4dcd-b59f-e00ab78f7d93","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1460,380],"credentials":{"telegramApi":{"id":"87","name":"hita_5ptb_bot"}},"continueOnFail":true},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"34d3ac8d-da4e-42ea-af2f-f9271ce1e8e7","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[800,540]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"n8n","type":"main","index":0}]]},"IF":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","executionTimeout":30},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"4e3bb048-0b0e-4835-a805-541f9f8be83a","triggerCount":1,"tags":[]}