confirm interview-54.json
{"createdAt":"2023-04-06T09:22:47.753Z","updatedAt":"2023-06-30T07:23:56.000Z","id":"54","name":"Confirm Interview","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"confirm-interview","responseCode":"200","options":{"responseData":"Thank you for your response! See you in the interview!"}},"id":"184417d5-8dc7-4afb-8c29-a51dbc7b3c47","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[260,460],"webhookId":"98edff47-c9f7-4d9e-aa91-47eab79adeeb"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"app_id\": \"cli_a31d441721f8500a\",\n  \"app_secret\": \"pgsa9rESeuH6ltJlMpR8EfbemxaJOnCu\"\n}","options":{}},"id":"fc36eca1-f4f4-4678-a3b2-1b576b2e6ea9","name":"Token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[480,460]},{"parameters":{"method":"PUT","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/Jpeab1HTAa6APNsNThVu33z6s6d/tables/tbl4ARTmaxIDqC6R/records/{{ $node[\"Webhook\"].json[\"query\"][\"recordID\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n  \"Interview Confirm\": \"OK\"\n  }\n}","options":{}},"id":"18bdd668-ba62-4074-9502-4fd04c056496","name":"Send Confirm","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[680,460]}],"connections":{"Token":{"main":[[{"node":"Send Confirm","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Token","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"aa1abf94-0c4c-44b2-a73e-22628fb0119d","triggerCount":1,"tags":[]}