cong_send-472.json
{"createdAt":"2023-08-11T08:45:58.949Z","updatedAt":"2023-09-22T19:21:55.000Z","id":"472","name":"CONG_SEND","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"congBella","options":{}},"id":"eb0d7c83-d232-4893-81e6-d38553343387","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[40,320],"webhookId":"6a8fa695-6349-4a58-ba09-8e8952333c7e"},{"parameters":{"dataType":"string","value1":"={{ $json.body.loai }}","rules":{"rules":[{"value2":"PL","output":"0"},{"value2":"PH","output":3}]}},"id":"f528ecd9-7ca2-40b3-a642-bc7c7d706414","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[240,320]},{"parameters":{"fromEmail":"GRGR <ns@grgr.vn>","toEmail":"={{ $json.body.email }}","subject":"=GRGR | THÔNG BÁO CÔNG","emailFormat":"html","html":"=<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\" style=\"font-family:arial, 'helvetica neue', helvetica, sans-serif\">\n<head>\n<meta charset=\"UTF-8\">\n<meta content=\"width=device-width, initial-scale=1\" name=\"viewport\">\n<meta name=\"x-apple-disable-message-reformatting\">\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n<meta content=\"telephone=no\" name=\"format-detection\">\n<title>GRGR | XÁC NHẬN CÔNG THÁNG</title><!--[if (mso 16)]>\n<style type=\"text/css\">\na {text-decoration: none;}\n</style>\n<![endif]--><!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]--><!--[if gte mso 9]>\n<xml>\n<o:OfficeDocumentSettings>\n<o:AllowPNG></o:AllowPNG>\n<o:PixelsPerInch>96</o:PixelsPerInch>\n</o:OfficeDocumentSettings>\n</xml>\n<![endif]--><!--[if !mso]><!-- -->\n<link href=\"https://fonts.googleapis.com/css2?family=tahoma&display=swap\" rel=\"stylesheet\"><!--<![endif]-->\n<style type=\"text/css\">\n#outlook a {\npadding:0;\n}\n.es-button {\nmso-style-priority:100!important;\ntext-decoration:none!important;\n}\na[x-apple-data-detectors] {\ncolor:inherit!important;\ntext-decoration:none!important;\nfont-size:inherit!important;\nfont-family:inherit!important;\nfont-weight:inherit!important;\nline-height:inherit!important;\n}\n.es-desk-hidden {\ndisplay:none;\nfloat:left;\noverflow:hidden;\nwidth:0;\nmax-height:0;\nline-height:0;\nmso-hide:all;\n}\n.btn-link {\n    border: none;\n    outline: none;\n    background: none;\n    cursor: pointer;\n    color: #0000EE;\n    padding: 0;\n    text-decoration: underline;\n    font-family: inherit;\n    font-size: inherit;\n}\n@media only screen and (max-width:600px) {p, ul li, ol li, a { line-height:150%!important } h1, h2, h3, h1 a, h2 a, h3 a { line-height:120% } h1 { font-size:30px!important; text-align:left } h2 { font-size:24px!important; text-align:left } h3 { font-size:20px!important; text-align:left } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important; text-align:left } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:24px!important; text-align:left } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important; text-align:left } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a { font-size:14px!important } .es-content-body p, .es-content-body ul li, .es-content-body ol li, .es-content-body a { font-size:14px!important } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a { font-size:12px!important } *[class=\"gmail-fix\"] { display:none!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 { text-align:right!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-button-border { display:block!important } a.es-button, button.es-button { font-size:18px!important; display:block!important; border-right-width:0px!important; border-left-width:0px!important; border-top-width:15px!important; border-bottom-width:15px!important } .es-adaptive table, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .es-adapt-td { display:block!important; width:100%!important } .adapt-img { width:100%!important; height:auto!important } .es-m-p0 { padding:0px!important } .es-m-p0r { padding-right:0px!important } .es-m-p0l { padding-left:0px!important } .es-m-p0t { padding-top:0px!important } .es-m-p0b { padding-bottom:0!important } .es-m-p20b { padding-bottom:20px!important } .es-mobile-hidden, .es-hidden { display:none!important } tr.es-desk-hidden, td.es-desk-hidden, table.es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } table.es-social { display:inline-block!important } table.es-social td { display:inline-block!important } .es-desk-hidden { display:table-row!important; width:auto!important; overflow:visible!important; max-height:inherit!important } .h-auto { height:auto!important } }\n</style>\n</head>\n<body data-new-gr-c-s-loaded=\"14.1101.0\" style=\"width:100%;font-family:arial, 'helvetica neue', helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0\">\n<div class=\"es-wrapper-color\" style=\"background-color:#FFFFFF\"><!--[if gte mso 9]>\n<v:background xmlns:v=\"urn:schemas-microsoft-com:vml\" fill=\"t\">\n<v:fill type=\"tile\" color=\"#ffffff\"></v:fill>\n</v:background>\n<![endif]-->\n<table class=\"es-wrapper\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#FFFFFF\">\n<tr>\n<td valign=\"top\" style=\"padding:0;Margin:0\">\n<table cellpadding=\"0\" cellspacing=\"0\" class=\"es-content\" align=\"center\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0\">\n<table bgcolor=\"#efefef\" class=\"es-content-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#EFEFEF;border-radius:20px 20px 0 0;width:600px\">\n<tr>\n<td align=\"left\" style=\"padding:0;Margin:0;padding-top:40px;padding-left:40px;padding-right:40px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:520px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0;font-size:0px\"><a target=\"_blank\" href=\"https://www.facebook.com/profile.php?id=100070155469589\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:18px\"><img src=\"http://grgr.vn/Content/img/Logo.png\" alt style=\"display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;border-radius:100px\" width=\"220\"></a></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n<tr>\n<td align=\"left\" style=\"padding:0;Margin:0;padding-top:20px;padding-left:40px;padding-right:40px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n\n <td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:520px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" bgcolor=\"#fafafa\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:separate;border-spacing:0px;background-color:#fafafa;border-radius:10px\" role=\"presentation\">\n<tr>\n<td align=\"left\" style=\"padding:20px;Margin:0\">\n<h3 style=\"Margin:0;line-height:34px;mso-line-height-rule:exactly;font-family:Imprima, Arial, sans-serif;font-size:28px;font-style:normal;font-weight:bold;color:#2D3142\">Thân Chào {{ $json.body.hoten }},</h3>\n<p style=\"Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Imprima, Arial, sans-serif;line-height:20px;color:#2D3142;font-size:18px\">\n<br><br>PNS trân trọng thông báo giờ CÔNG THÁNG {{ $json.body.kyluong }} :\n\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;margin-top:15px\">\n<thead>\n<tr>\n      <th style=\"border-bottom: 1px solid #EB6BFF; text-align:left; padding:8px; width: 10%\">NGÀY</th>\n      <th style=\"border-bottom: 1px solid #EB6BFF; text-align:left; padding:8px; width: 90%\">CÔNG</th>\n    </tr>\n</thead>\n\n  <tbody>\n\n  <tr>\n<td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n1 }}</td>\n<td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc1 }}</td>\n</tr>\n\n <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%;\">{{ $json.query.n2 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc2 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n3 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc3 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n4 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc4 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n5 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc5 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n6 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc6 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n7 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc7 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n8 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc8 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n9 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc9 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n10 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc10 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n11 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc11 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n12 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc12 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n13 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc13 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n14 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc14 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n15 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc15 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n16 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc16 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n17 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc17 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n18 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc18 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n19 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc19 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n20 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc20 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n21 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc21 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n22 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc22 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n23 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc23 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n24 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc24 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n25 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc25 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n26 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc26 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n27 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc27 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n28 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc28 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n29 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc29 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n30 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc30 }}</td>\n  </tr>\n  <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.query.n31 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">{{ $json.query.nc31 }}</td>\n  </tr>\n  \n\n <tr>\n<td colspan=\"2\" style=\"border-bottom: 1px solid #EB6BFF;padding:8px; width: 10%\"><STRONG>TỔNG CÔNG</STRONG></td>\n</tr>\n  \n <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.body.t1 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">   {{ $json.query.tv1 }} </td>\n  </tr>\n  \n    <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.body.t2 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">   {{ $json.query.tv2 }} </td>\n  </tr>\n \n     \n    <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.body.t3 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">   {{ $json.query.tv3 }} </td>\n  </tr>\n  \n    <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.body.t4 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">   {{ $json.query.tv4 }} </td>\n  </tr>\n  \n    <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.body.t5 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">   {{ $json.query.tv5 }} </td>\n  </tr>\n  \n    <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.body.t6 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">   {{ $json.query.tv6 }} </td>\n  </tr>\n  \n    <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.body.t7 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">   {{ $json.query.tv7 }} </td>\n  </tr>\n  \n    <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.body.t8 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">   {{ $json.query.tv8 }} </td>\n  </tr>\n  \n    <tr>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 10%\">{{ $json.body.t9 }}</td>\n    <td style=\"border-bottom: 1px solid #ddd;padding:8px; width: 90%\">   {{ $json.query.tv9 }} </td>\n  </tr>\n \n \n   \n\n <tr>\n<td colspan=\"3\" style=\"padding: 12px\">\n  <br>\n <strong> Vui lòng phản hồi/xác nhận <a href=\"{{ $json.body.linkph }}\" style=\"color: red; text-decoration: none;\">TẠI ĐÂY!</a></strong>\n</td>\n\n</tr>\n  \n<tr>\n</tbody>\n</table>\n</td>\n</tr>\n  \n</table>\n</td>\n</tr>\n</table>\n</td>\n</tr>\n</table>\n  \n\n<table cellpadding=\"0\" cellspacing=\"0\" class=\"es-content\" align=\"center\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0\">\n<table bgcolor=\"#efefef\" class=\"es-content-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#EFEFEF;width:600px\">\n<tr>\n<td align=\"left\" style=\"Margin:0;padding-top:30px;padding-bottom:40px;padding-left:40px;padding-right:40px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:520px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0\"><!--[if mso]><a href=\"\" target=\"_blank\" hidden>\n<v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:w=\"urn:schemas-microsoft-com:office:word\" esdevVmlButton href=\"\"\nstyle=\"height:56px; v-text-anchor:middle; width:520px\" arcsize=\"50%\" stroke=\"f\" fillcolor=\"#7630f3\">\n<w:anchorlock></w:anchorlock>\n<center style='color:#ffffff; font-family:-apple-system, \"system-ui\", \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\"; font-size:22px; font-weight:700; line-height:22px; mso-text-raise:1px'>Take a Test</center>\n</v:roundrect></a>\n<![endif]--><!--[if !mso]><!-- -->\n \n<!--<![endif]--></td>\n</tr>\n  </table></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table>\n\n<table cellpadding=\"0\" cellspacing=\"0\" class=\"es-footer\" align=\"center\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0\">\n<table bgcolor=\"#bcb8b1\" class=\"es-footer-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px\">\n<tr>\n<td align=\"left\" style=\"Margin:0;padding-left:20px;padding-right:20px;padding-bottom:30px;padding-top:40px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"left\" style=\"padding:0;Margin:0;width:560px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" class=\"es-m-txt-c\" style=\"padding:0;Margin:0;padding-top:10px;padding-bottom:20px;font-size:0\">\n<table cellpadding=\"0\" cellspacing=\"0\" class=\"es-table-not-adapt es-social\" role=\"presentation\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0\"><a target=\"_blank\" href=\"https://www.facebook.com/profile.php?id=100070155469589\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"><img src=\"https://dnsfnr.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png\" alt=\"Fb\" title=\"Facebook\" height=\"24\" style=\"display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic\"></a></td>\n\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0\"><a target=\"_blank\" href=\"https://goo.gl/maps/qoCMKgPT5DDoMmZj9\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"><img src=\"https://dnsfnr.stripocdn.email/content/assets/img/other-icons/logo-black/location-logo-black.png\" alt=\"Map Marker\" title=\"Map Marker\" height=\"24\" style=\"display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic\"></a></td>\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0\"><a target=\"_blank\" href=\"tel:0908376800\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"><img src=\"https://dnsfnr.stripocdn.email/content/assets/img/other-icons/logo-black/phone-logo-black.png\" alt=\"Phone\" title=\"Phone\" height=\"24\" style=\"display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic\"></a></td>\n\n</tr>\n</table></td>\n</tr>\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0;padding-top:20px\"><p style=\"Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Imprima, Arial, sans-serif;line-height:21px;color:#2D3142;font-size:14px\"><a target=\"_blank\" href=\"\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"></a>Copyright © 2023&nbsp;GRGR<a target=\"_blank\" href=\"\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"></a></p></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table>\n</div>\n</body>\n</html>","options":{"bccEmail":"hoangnv@co.grgr.vn"}},"id":"ee67dc6c-0815-44a1-a303-02be0ab9a13d","name":"Send SOC_CH_PL","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[440,240],"credentials":{"smtp":{"id":"56","name":"SMTP account 6"}}},{"parameters":{"fromEmail":"GRGR <ns@grgr.vn>","toEmail":"={{ $json.body.email }}","subject":"GRGR | THÔNG BÁO CÔNG","emailFormat":"html","html":"=<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\" style=\"font-family:arial, 'helvetica neue', helvetica, sans-serif\">\n<head>\n<meta charset=\"UTF-8\">\n<meta content=\"width=device-width, initial-scale=1\" name=\"viewport\">\n<meta name=\"x-apple-disable-message-reformatting\">\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n<meta content=\"telephone=no\" name=\"format-detection\">\n<title>GRGR | PHIẾU LƯƠNG THÁNG</title><!--[if (mso 16)]>\n<style type=\"text/css\">\na {text-decoration: none;}\n</style>\n<![endif]--><!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]--><!--[if gte mso 9]>\n<xml>\n<o:OfficeDocumentSettings>\n<o:AllowPNG></o:AllowPNG>\n<o:PixelsPerInch>96</o:PixelsPerInch>\n</o:OfficeDocumentSettings>\n</xml>\n<![endif]--><!--[if !mso]><!-- -->\n<link href=\"https://fonts.googleapis.com/css2?family=tahoma&display=swap\" rel=\"stylesheet\"><!--<![endif]-->\n<style type=\"text/css\">\n#outlook a {\npadding:0;\n}\n.es-button {\nmso-style-priority:100!important;\ntext-decoration:none!important;\n}\na[x-apple-data-detectors] {\ncolor:inherit!important;\ntext-decoration:none!important;\nfont-size:inherit!important;\nfont-family:inherit!important;\nfont-weight:inherit!important;\nline-height:inherit!important;\n}\n.es-desk-hidden {\ndisplay:none;\nfloat:left;\noverflow:hidden;\nwidth:0;\nmax-height:0;\nline-height:0;\nmso-hide:all;\n}\n.btn-link {\n    border: none;\n    outline: none;\n    background: none;\n    cursor: pointer;\n    color: #0000EE;\n    padding: 0;\n    text-decoration: underline;\n    font-family: inherit;\n    font-size: inherit;\n}\n@media only screen and (max-width:600px) {p, ul li, ol li, a { line-height:150%!important } h1, h2, h3, h1 a, h2 a, h3 a { line-height:120% } h1 { font-size:30px!important; text-align:left } h2 { font-size:24px!important; text-align:left } h3 { font-size:20px!important; text-align:left } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important; text-align:left } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:24px!important; text-align:left } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important; text-align:left } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a { font-size:14px!important } .es-content-body p, .es-content-body ul li, .es-content-body ol li, .es-content-body a { font-size:14px!important } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a { font-size:12px!important } *[class=\"gmail-fix\"] { display:none!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 { text-align:right!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-button-border { display:block!important } a.es-button, button.es-button { font-size:18px!important; display:block!important; border-right-width:0px!important; border-left-width:0px!important; border-top-width:15px!important; border-bottom-width:15px!important } .es-adaptive table, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .es-adapt-td { display:block!important; width:100%!important } .adapt-img { width:100%!important; height:auto!important } .es-m-p0 { padding:0px!important } .es-m-p0r { padding-right:0px!important } .es-m-p0l { padding-left:0px!important } .es-m-p0t { padding-top:0px!important } .es-m-p0b { padding-bottom:0!important } .es-m-p20b { padding-bottom:20px!important } .es-mobile-hidden, .es-hidden { display:none!important } tr.es-desk-hidden, td.es-desk-hidden, table.es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } table.es-social { display:inline-block!important } table.es-social td { display:inline-block!important } .es-desk-hidden { display:table-row!important; width:auto!important; overflow:visible!important; max-height:inherit!important } .h-auto { height:auto!important } }\n</style>\n</head>\n<body data-new-gr-c-s-loaded=\"14.1101.0\" style=\"width:100%;font-family:arial, 'helvetica neue', helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0\">\n<div class=\"es-wrapper-color\" style=\"background-color:#FFFFFF\"><!--[if gte mso 9]>\n<v:background xmlns:v=\"urn:schemas-microsoft-com:vml\" fill=\"t\">\n<v:fill type=\"tile\" color=\"#ffffff\"></v:fill>\n</v:background>\n<![endif]-->\n<table class=\"es-wrapper\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#FFFFFF\">\n<tr>\n<td valign=\"top\" style=\"padding:0;Margin:0\">\n<table cellpadding=\"0\" cellspacing=\"0\" class=\"es-content\" align=\"center\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0\">\n<table bgcolor=\"#efefef\" class=\"es-content-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#EFEFEF;border-radius:20px 20px 0 0;width:600px\">\n<tr>\n<td align=\"left\" style=\"padding:0;Margin:0;padding-top:40px;padding-left:40px;padding-right:40px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:520px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0;font-size:0px\"><a target=\"_blank\" href=\"https://www.facebook.com/profile.php?id=100070155469589\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:18px\"><img src=\"http://grgr.vn/Content/img/Logo.png\" alt style=\"display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;border-radius:100px\" width=\"250\"></a></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n<tr>\n<td align=\"left\" style=\"padding:0;Margin:0;padding-top:20px;padding-left:40px;padding-right:40px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n\n <td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:520px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" bgcolor=\"#fafafa\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:separate;border-spacing:0px;background-color:#fafafa;border-radius:10px\" role=\"presentation\">\n<tr>\n<td align=\"left\" style=\"padding:20px;Margin:0\">\n<h3 style=\"Margin:0;line-height:34px;mso-line-height-rule:exactly;font-family:Imprima, Arial, sans-serif;font-size:28px;font-style:normal;font-weight:bold;color:#2D3142\">Gửi {{ $json.body.hoten }},</h3>\n<p style=\"Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Imprima, Arial, sans-serif;line-height:20px;color:#2D3142;font-size:18px\">\n<br><br>GRGR xin trả lời về thắc mắc như sau:\n\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;margin-top:15px\">\n<thead>\n<tr>\n<th style=\"border-bottom: 1px solid #ddd;text-align:left;padding:8px\">...</th>\n<th style=\"border-bottom: 1px solid #ddd;text-align:left;padding:8px\">NỘI DUNG</th>\n<th style=\"border-bottom: 1px solid #ddd;text-align:left;padding:8px\">GHI CHÚ</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td style=\"border-bottom: 1px solid #ddd;padding:8px\">CÂU HỎI CỦA BẠN</td>\n<td style=\"border-bottom: 1px solid #ddd;padding:8px\">{{ $json.body.thacmac }}</td>\n<td style=\"border-bottom: 1px solid #ddd;padding:8px\"></td>\n</tr>\n<tr>\n<td style=\"border-bottom: 1px solid #ddd;padding:8px\">TRẢ LỜI</td>\n<td style=\"border-bottom: 1px solid #ddd;padding:8px\">{{ $json.body.reply }}</td>\n<td style=\"border-bottom: 1px solid #ddd;padding:8px\"></td>\n</tr>\n\n\n   \n\n  \n  \n  <tr>\n    <td colspan=\"3\" style=\"border-top: 1px solid #ddd;padding:8px\">\n        Nếu còn thắc mắc, vui lòng <strong style=\"color: red;\">phản hồi theo <a href=\"{{ $json.body.linkph }}\" style=\"color: red; text-decoration: underline;\">LINK NÀY</a></strong> <br>\n        Hoặc bấm nút \"OK\" bên dưới để xác nhận vấn đề\n    </td>\n</tr>\n\n  \n</tbody>\n \n</table>\n</td>\n</tr>\n</table>\n</td>\n</tr>\n</table>\n</td>\n</tr>\n</table>\n  \n\n<table cellpadding=\"0\" cellspacing=\"0\" class=\"es-content\" align=\"center\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0\">\n<table bgcolor=\"#efefef\" class=\"es-content-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#EFEFEF;width:600px\">\n<tr>\n<td align=\"left\" style=\"Margin:0;padding-top:30px;padding-bottom:40px;padding-left:40px;padding-right:40px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0;width:520px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0\"><!--[if mso]><a href=\"\" target=\"_blank\" hidden>\n<v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:w=\"urn:schemas-microsoft-com:office:word\" esdevVmlButton href=\"\"\nstyle=\"height:56px; v-text-anchor:middle; width:520px\" arcsize=\"50%\" stroke=\"f\" fillcolor=\"#7630f3\">\n<w:anchorlock></w:anchorlock>\n<center style='color:#ffffff; font-family:-apple-system, \"system-ui\", \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\"; font-size:22px; font-weight:700; line-height:22px; mso-text-raise:1px'>Take a Test</center>\n</v:roundrect></a>\n<![endif]--><!--[if !mso]><!-- -->\n   <form action=\"https://app.n8n.vn/webhook/xnpl?recordID={{ $json[\"body\"][\"rcID\"] }}&loai=PH\" method=\"post\">\n    <button type=\"submit\" style=\"mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#FFFFFF;font-size:22px;padding:15px 20px 15px 20px;display:block;background:#0F0F87;border-radius:30px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';font-weight:bold;font-style:normal;line-height:26px;width:auto;text-align:center;mso-hide:all;padding-left:50px;padding-right:50px;border-color:#1818D9 \">OK</button>\n</form>\n<!--<![endif]--></td>\n</tr>\n  </table></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table>\n\n<table cellpadding=\"0\" cellspacing=\"0\" class=\"es-footer\" align=\"center\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top\">\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0\">\n<table bgcolor=\"#bcb8b1\" class=\"es-footer-body\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px\">\n<tr>\n<td align=\"left\" style=\"Margin:0;padding-left:20px;padding-right:20px;padding-bottom:30px;padding-top:40px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"left\" style=\"padding:0;Margin:0;width:560px\">\n<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" role=\"presentation\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" class=\"es-m-txt-c\" style=\"padding:0;Margin:0;padding-top:10px;padding-bottom:20px;font-size:0\">\n<table cellpadding=\"0\" cellspacing=\"0\" class=\"es-table-not-adapt es-social\" role=\"presentation\" style=\"mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px\">\n<tr>\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0\"><a target=\"_blank\" href=\"https://www.facebook.com/profile.php?id=100070155469589\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"><img src=\"https://dnsfnr.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png\" alt=\"Fb\" title=\"Facebook\" height=\"24\" style=\"display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic\"></a></td>\n\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0\"><a target=\"_blank\" href=\"https://goo.gl/maps/qoCMKgPT5DDoMmZj9\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"><img src=\"https://dnsfnr.stripocdn.email/content/assets/img/other-icons/logo-black/location-logo-black.png\" alt=\"Map Marker\" title=\"Map Marker\" height=\"24\" style=\"display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic\"></a></td>\n<td align=\"center\" valign=\"top\" style=\"padding:0;Margin:0\"><a target=\"_blank\" href=\"tel:0908376800\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"><img src=\"https://dnsfnr.stripocdn.email/content/assets/img/other-icons/logo-black/phone-logo-black.png\" alt=\"Phone\" title=\"Phone\" height=\"24\" style=\"display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic\"></a></td>\n\n</tr>\n</table></td>\n</tr>\n<tr>\n<td align=\"center\" style=\"padding:0;Margin:0;padding-top:20px\"><p style=\"Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Imprima, Arial, sans-serif;line-height:21px;color:#2D3142;font-size:14px\"><a target=\"_blank\" href=\"\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"></a>Copyright © 2023&nbsp;GRGR<a target=\"_blank\" href=\"\" style=\"-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#2D3142;font-size:14px\"></a></p></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table>\n</div>\n</body>\n</html>","options":{"bccEmail":"hoangnv@co.grgr.vn"}},"id":"b610e857-39f0-4ff9-8ad2-6b7ad34103d1","name":"Send SOC_CH_PH","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[440,380],"credentials":{"smtp":{"id":"56","name":"SMTP account 6"}}},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"{ \"app_id\" : \"cli_a459df5dd6b8500a\",  \"app_secret\" : \"TTFD16iqQU0Psui0fewGVg2q2bcWIFBt\" } ","options":{}},"id":"afb4224a-b707-4526-930c-2d535954cc01","name":"TOKEN","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[580,240]},{"parameters":{"method":"PUT","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/O8bfbil7eaz58esKiRPuu4YDsVg/tables/tblLbMgH0N0x4iiO/records/{{ $('Webhook').item.json.body.rcID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"fields\" : {\"LỆNH\":\"XONG\"}}","options":{}},"id":"96dadd71-9252-439c-8d5b-9fc9bf1c1ab1","name":"LENH_XONG","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[720,240]}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send SOC_CH_PL","type":"main","index":0}],[],[],[{"node":"Send SOC_CH_PH","type":"main","index":0}]]},"Send SOC_CH_PL":{"main":[[{"node":"TOKEN","type":"main","index":0}]]},"TOKEN":{"main":[[{"node":"LENH_XONG","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"7cb948c0-d03c-4c92-9150-1e05b6c61512","triggerCount":1,"tags":[{"createdAt":"2023-08-11T08:45:57.223Z","updatedAt":"2023-08-11T08:45:57.223Z","id":"37","name":"SOC-CH"}]}