demo send email-230.json
{"createdAt":"2023-07-26T07:18:17.026Z","updatedAt":"2023-08-03T07:10:12.000Z","id":"230","name":"Demo send email","active":false,"nodes":[{"parameters":{},"id":"f1e15c5f-f6cb-46c4-bf6e-bd46fd2b05c1","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[560,500]},{"parameters":{"fromEmail":"DC Media <no-reply@dcmedia.vn>","toEmail":"={{ $input.item.json.receivers }}","subject":"[DC Media] Lời cảm ơn sau sự kiện Offline Hà Nội: Video ngắn viral - Chuyển đổi đa nền tảng","emailFormat":"html","html":"=\n    <!doctype html>\n    <html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">\n      <head>\n        <title>\n          \n        </title>\n        <!--[if !mso]><!-->\n        <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n        <!--<![endif]-->\n        <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <style type=\"text/css\">\n          #outlook a { padding:0; }\n          body { margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; }\n          table, td { border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt; }\n          img { border:0;height:auto;line-height:100%; outline:none;text-decoration:none;-ms-interpolation-mode:bicubic; }\n          p { display:block;margin:13px 0; }\n        </style>\n        <!--[if mso]>\n        <noscript>\n        <xml>\n        <o:OfficeDocumentSettings>\n          <o:AllowPNG/>\n          <o:PixelsPerInch>96</o:PixelsPerInch>\n        </o:OfficeDocumentSettings>\n        </xml>\n        </noscript>\n        <![endif]-->\n        <!--[if lte mso 11]>\n        <style type=\"text/css\">\n          .mj-outlook-group-fix { width:100% !important; }\n        </style>\n        <![endif]-->\n        \n        \n    <style type=\"text/css\">\n      @media only screen and (min-width:480px) {\n        .mj-column-per-100 { width:100% !important; max-width: 100%; }\n      }\n    </style>\n    <style media=\"screen and (min-width:480px)\">\n      .moz-text-html .mj-column-per-100 { width:100% !important; max-width: 100%; }\n    </style>\n  \n        <style type=\"text/css\">\n        \n        \n\n    @media only screen and (max-width:480px) {\n      table.mj-full-width-mobile { width: 100% !important; }\n      td.mj-full-width-mobile { width: auto !important; }\n    }\n  \n        </style>\n        \n        \n      </head>\n      <body style=\"word-spacing:normal;\">\n        \n        \n      <div\n         style=\"\"\n      >\n        \n      \n      <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n    \n      \n      <div  style=\"margin:0px auto;max-width:600px;\">\n        \n        <table\n           align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"\n        >\n          <tbody>\n            <tr>\n              <td\n                 style=\"direction:ltr;font-size:0px;padding:20px 0;text-align:center;\"\n              >\n                <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:600px;\" ><![endif]-->\n            \n      <div\n         class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"\n      >\n        \n      <table\n         border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"\n      >\n        <tbody>\n          \n              <tr>\n                <td\n                   align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"\n                >\n                  \n      <div\n         style=\"font-family:Times New Roman, Times, serif;font-size:21px;line-height:26px;text-align:left;color:#000000;\"\n      ><div data-page-id=\"TAcvd6DVPo22auxTuvGuf6XJsdd\" data-docx-has-block-data=\"false\"><div style=\"\" class=\"ace-line ace-line old-record-id-AKsddqbY9o3c8xxPuY6uTS1bseY\">Chào anh em,</div><div style=\"\" class=\"ace-line ace-line old-record-id-ItutdrI6soXDVbxO8w9u7EYAsOh\"><br></div><div style=\"\" class=\"ace-line ace-line old-record-id-IFSIdiOA6o3uZjx2LZAu0s27sCf\">Cảm ơn anh em đã tới tham gia buổi Offline Hà Nội \"Video ngắn viral - Chuyển đổi đa nền tảng\". Sinh tố lúa mạch anh em uống hôm offline giờ đã hết tác dụng, nhưng mong là những kiến thức được Duy Muối và Doãn Kỷ chia sẻ hôm đó vẫn đang hữu ích với ae.</div><div style=\"\" class=\"ace-line ace-line old-record-id-P8ARdKHuioVFeCxt44Tuqx6isNf\"><br></div><div style=\"\" class=\"ace-line ace-line old-record-id-FF0VdZfofoWEHSxdKdwuoM1tsSd\">Để cảm ơn mọi người nhiệt tình tham dự, cuối buổi anh Duy Muối đã tặng tất cả ae đi offline <b><font color=\"#c10000\">voucher giảm 10% khóa đào tạo của DC</font></b>. Với voucher này, ae có thể được <b><font color=\"#c10000\">giảm trực tiếp 2 triệu</font></b> khi đăng ký khóa học sáng tạo để bán hàng trên TikTok Shop của Duy Muối.</div><div style=\"\" class=\"ace-line ace-line old-record-id-Aio0d7zKKoUznLxMr61u4apTsuq\"><br></div><div style=\"\" class=\"ace-line ace-line old-record-id-BCl2dKnNJoNZpKxTutquyv1csMg\">Anh em tham gia offline lập team đi học sẽ được giảm giá, mà lập team toàn các ae hôm offline thì lại giảm thêm nữa. Đi off chủ yếu là có mối quan hệ, học về xong lại kết hợp làm thêm vài dự án tiền tỷ nữa 😎</div><div style=\"\" class=\"ace-line ace-line old-record-id-DpcudJKDuovNcUxj5tTuqDz7sQf\"><br></div><div style=\"\" class=\"ace-line ace-line old-record-id-LrNYd7ATFoGb9zxbNJjudcSjs0c\">Anh em liên hệ page <a href=\"https://bit.ly/DCOS_VCPHN\" draggable=\"false\"><b>DCOS</b></a> để được hỗ trợ sử dụng voucher nhé!</div><div style=\"\" class=\"ace-line ace-line old-record-id-NgcddCJb2omlQzxXHQYuobYlsdc\">Link page DCOS: <b>https://bit.ly/DCOS_VCPHN</b></div></div><span data-lark-record-data=\"{&quot;isCut&quot;:false,&quot;rootId&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;parentId&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;blockIds&quot;:[7,8,9,10,11,12,13,14,15,16],&quot;recordIds&quot;:[&quot;AKsddqbY9o3c8xxPuY6uTS1bseY&quot;,&quot;ItutdrI6soXDVbxO8w9u7EYAsOh&quot;,&quot;IFSIdiOA6o3uZjx2LZAu0s27sCf&quot;,&quot;P8ARdKHuioVFeCxt44Tuqx6isNf&quot;,&quot;FF0VdZfofoWEHSxdKdwuoM1tsSd&quot;,&quot;Aio0d7zKKoUznLxMr61u4apTsuq&quot;,&quot;BCl2dKnNJoNZpKxTutquyv1csMg&quot;,&quot;DpcudJKDuovNcUxj5tTuqDz7sQf&quot;,&quot;LrNYd7ATFoGb9zxbNJjudcSjs0c&quot;,&quot;NgcddCJb2omlQzxXHQYuobYlsdc&quot;],&quot;recordMap&quot;:{&quot;AKsddqbY9o3c8xxPuY6uTS1bseY&quot;:{&quot;id&quot;:&quot;AKsddqbY9o3c8xxPuY6uTS1bseY&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;initialAttributedTexts&quot;:{&quot;text&quot;:{&quot;0&quot;:&quot;Chào anh em,&quot;},&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+c&quot;}},&quot;apool&quot;:{&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;]},&quot;nextNum&quot;:1}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;ItutdrI6soXDVbxO8w9u7EYAsOh&quot;:{&quot;id&quot;:&quot;ItutdrI6soXDVbxO8w9u7EYAsOh&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:0,&quot;numToAttrib&quot;:{}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;IFSIdiOA6o3uZjx2LZAu0s27sCf&quot;:{&quot;id&quot;:&quot;IFSIdiOA6o3uZjx2LZAu0s27sCf&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:1,&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;]}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+6z&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;Cảm ơn anh em đã tới tham gia buổi Offline Hà Nội \\&quot;Video ngắn viral - Chuyển đổi đa nền tảng\\&quot;. Sinh tố lúa mạch anh em uống hôm offline giờ đã hết tác dụng, nhưng mong là những kiến thức được Duy Muối và Doãn Kỷ chia sẻ hôm đó vẫn đang hữu ích với ae.&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;P8ARdKHuioVFeCxt44Tuqx6isNf&quot;:{&quot;id&quot;:&quot;P8ARdKHuioVFeCxt44Tuqx6isNf&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:0,&quot;numToAttrib&quot;:{}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;FF0VdZfofoWEHSxdKdwuoM1tsSd&quot;:{&quot;id&quot;:&quot;FF0VdZfofoWEHSxdKdwuoM1tsSd&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:2,&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;],&quot;1&quot;:[&quot;bold&quot;,&quot;true&quot;]}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+2k*0*1+10*0+y*0*1+m*0+d*0*1+1n*0+1&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;Để cảm ơn mọi người nhiệt tình tham dự, cuối buổi anh Duy Muối đã tặng tất cả ae đi offline voucher giảm 10% khóa đào tạo của DC. Với voucher này, ae có thể được giảm trực tiếp 2 triệu khi đăng ký khóa học sáng tạo để bán hàng trên TikTok Shop của Duy Muối.&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;Aio0d7zKKoUznLxMr61u4apTsuq&quot;:{&quot;id&quot;:&quot;Aio0d7zKKoUznLxMr61u4apTsuq&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:0,&quot;numToAttrib&quot;:{}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;BCl2dKnNJoNZpKxTutquyv1csMg&quot;:{&quot;id&quot;:&quot;BCl2dKnNJoNZpKxTutquyv1csMg&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:1,&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;]}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+5s&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;Anh em tham gia offline lập team đi học sẽ được giảm giá, mà lập team toàn các ae hôm offline thì lại giảm thêm nữa. Đi off chủ yếu là có mối quan hệ, học về xong lại kết hợp làm thêm vài dự án tiền tỷ nữa 😎&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;DpcudJKDuovNcUxj5tTuqDz7sQf&quot;:{&quot;id&quot;:&quot;DpcudJKDuovNcUxj5tTuqDz7sQf&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:0,&quot;numToAttrib&quot;:{}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;LrNYd7ATFoGb9zxbNJjudcSjs0c&quot;:{&quot;id&quot;:&quot;LrNYd7ATFoGb9zxbNJjudcSjs0c&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:3,&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;],&quot;1&quot;:[&quot;author&quot;,&quot;7197004472571133957&quot;],&quot;2&quot;:[&quot;link&quot;,&quot;https%3A%2F%2Fbit.ly%2FDCOS_VCPHN&quot;]}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+k*1*2+4*0+10&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;Anh em liên hệ page DCOS để được hỗ trợ sử dụng voucher nhé!&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;NgcddCJb2omlQzxXHQYuobYlsdc&quot;:{&quot;id&quot;:&quot;NgcddCJb2omlQzxXHQYuobYlsdc&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;initialAttributedTexts&quot;:{&quot;text&quot;:{&quot;0&quot;:&quot;Link page DCOS: https://bit.ly/DCOS_VCPHN&quot;},&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+g*0*1+p&quot;}},&quot;apool&quot;:{&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;],&quot;1&quot;:[&quot;link-id&quot;,&quot;c9ce59b9-6251-442c-bd64-b3d29d31051a&quot;]},&quot;nextNum&quot;:2}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;:{&quot;id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;page&quot;,&quot;parent_id&quot;:&quot;&quot;,&quot;comments&quot;:null,&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[&quot;WgPfdV1VuoWEjcxNOi3uXNros0e&quot;,&quot;X0tRdMId1oFyGHxOv7XuRBARsUg&quot;,&quot;JiOVd3UOBoTfUfxbuemuxcydsEd&quot;,&quot;FYmFduvKHoEhzGxG0UquuNu6spI&quot;,&quot;Zfz8dvZPHoHlg7x4TXxufp6ksef&quot;,&quot;AKsddqbY9o3c8xxPuY6uTS1bseY&quot;,&quot;ItutdrI6soXDVbxO8w9u7EYAsOh&quot;,&quot;IFSIdiOA6o3uZjx2LZAu0s27sCf&quot;,&quot;P8ARdKHuioVFeCxt44Tuqx6isNf&quot;,&quot;FF0VdZfofoWEHSxdKdwuoM1tsSd&quot;,&quot;Aio0d7zKKoUznLxMr61u4apTsuq&quot;,&quot;BCl2dKnNJoNZpKxTutquyv1csMg&quot;,&quot;DpcudJKDuovNcUxj5tTuqDz7sQf&quot;,&quot;LrNYd7ATFoGb9zxbNJjudcSjs0c&quot;,&quot;NgcddCJb2omlQzxXHQYuobYlsdc&quot;,&quot;NFo9dgqhHoBDNjxI1pluOBgWshg&quot;,&quot;NZjfdQ8dzokMZnxgjl0uouDIsAf&quot;,&quot;BHUddzJt9owQSQx0Szpu8akBs1f&quot;,&quot;XXxIdhlEaopEJtxjmN0uDzVRsyh&quot;,&quot;SpRwdHn8toYrSOxy8Geu6EMJsOc&quot;,&quot;VpgIdo9YGodUl1x0mCVu4hlOsOb&quot;],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:1,&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;]}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+w&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;Email sau sự kiện Offline Hà Nội&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;doc_info&quot;:{&quot;editors&quot;:[&quot;7199530311460323333&quot;,&quot;7197004472571133957&quot;],&quot;options&quot;:[&quot;editors&quot;,&quot;create_time&quot;],&quot;deleted_editors&quot;:[]}}}},&quot;payloadMap&quot;:{&quot;AKsddqbY9o3c8xxPuY6uTS1bseY&quot;:{&quot;level&quot;:1},&quot;ItutdrI6soXDVbxO8w9u7EYAsOh&quot;:{&quot;level&quot;:1},&quot;IFSIdiOA6o3uZjx2LZAu0s27sCf&quot;:{&quot;level&quot;:1},&quot;P8ARdKHuioVFeCxt44Tuqx6isNf&quot;:{&quot;level&quot;:1},&quot;FF0VdZfofoWEHSxdKdwuoM1tsSd&quot;:{&quot;level&quot;:1},&quot;Aio0d7zKKoUznLxMr61u4apTsuq&quot;:{&quot;level&quot;:1},&quot;BCl2dKnNJoNZpKxTutquyv1csMg&quot;:{&quot;level&quot;:1},&quot;DpcudJKDuovNcUxj5tTuqDz7sQf&quot;:{&quot;level&quot;:1},&quot;LrNYd7ATFoGb9zxbNJjudcSjs0c&quot;:{&quot;level&quot;:1},&quot;NgcddCJb2omlQzxXHQYuobYlsdc&quot;:{&quot;level&quot;:1}},&quot;extra&quot;:{&quot;mention_page_title&quot;:{},&quot;external_mention_url&quot;:{}},&quot;isKeepQuoteContainer&quot;:false,&quot;selection&quot;:[{&quot;id&quot;:7,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:12},&quot;recordId&quot;:&quot;AKsddqbY9o3c8xxPuY6uTS1bseY&quot;},{&quot;id&quot;:8,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:0},&quot;recordId&quot;:&quot;ItutdrI6soXDVbxO8w9u7EYAsOh&quot;},{&quot;id&quot;:9,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:251},&quot;recordId&quot;:&quot;IFSIdiOA6o3uZjx2LZAu0s27sCf&quot;},{&quot;id&quot;:10,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:0},&quot;recordId&quot;:&quot;P8ARdKHuioVFeCxt44Tuqx6isNf&quot;},{&quot;id&quot;:11,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:257},&quot;recordId&quot;:&quot;FF0VdZfofoWEHSxdKdwuoM1tsSd&quot;},{&quot;id&quot;:12,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:0},&quot;recordId&quot;:&quot;Aio0d7zKKoUznLxMr61u4apTsuq&quot;},{&quot;id&quot;:13,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:208},&quot;recordId&quot;:&quot;BCl2dKnNJoNZpKxTutquyv1csMg&quot;},{&quot;id&quot;:14,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:0},&quot;recordId&quot;:&quot;DpcudJKDuovNcUxj5tTuqDz7sQf&quot;},{&quot;id&quot;:15,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:60},&quot;recordId&quot;:&quot;LrNYd7ATFoGb9zxbNJjudcSjs0c&quot;},{&quot;id&quot;:16,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:41},&quot;recordId&quot;:&quot;NgcddCJb2omlQzxXHQYuobYlsdc&quot;}],&quot;pasteFlag&quot;:&quot;34425157-1680-49ee-9ebf-3067c3ce545f&quot;}\" data-lark-record-format=\"docx/record\" class=\"lark-record-clipboard\"></span></div>\n    \n                </td>\n              </tr>\n            \n              <tr>\n                <td\n                   align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"\n                >\n                  \n      <table\n         border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"\n      >\n        <tbody>\n          <tr>\n            <td  style=\"width:550px;\">\n              \n      <img\n         height=\"auto\" src=\"https://app.emailbuilder.vn/api/saemailbuilder/64cb2d5344eafc07824a6393/images/5c2303a0-a866-4be3-a49a-793cc0689fac.PNG\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;\" width=\"550\"\n      />\n    \n            </td>\n          </tr>\n        </tbody>\n      </table>\n    \n                </td>\n              </tr>\n            \n              <tr>\n                <td\n                   align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"\n                >\n                  \n      <div\n         style=\"font-family:Times New Roman, Times, serif;font-size:21px;line-height:26px;text-align:left;color:#000000;\"\n      ><div data-page-id=\"TAcvd6DVPo22auxTuvGuf6XJsdd\" data-docx-has-block-data=\"false\"><div style=\"\" class=\"ace-line ace-line old-record-id-AKsddqbY9o3c8xxPuY6uTS1bseY\"><div data-page-id=\"TAcvd6DVPo22auxTuvGuf6XJsdd\" data-docx-has-block-data=\"false\"><div style=\"\" class=\"ace-line ace-line old-record-id-NZjfdQ8dzokMZnxgjl0uouDIsAf\">Một lần nữa, cảm ơn ae đã dành ra ngày chủ nhật nghỉ ngơi để đến gặp nhau chém gió và ăn nhậu. Phấn đấu từ giờ đến cuối năm làm thêm 1-2 buổi nữa để ae có cớ đi nhậu tiếp 🤣🤣 Anh chị em có gì phản hồi hay tâm sự kín thì liên hệ team DC nhé!</div><div style=\"\" class=\"ace-line ace-line old-record-id-BHUddzJt9owQSQx0Szpu8akBs1f\"><br></div><div style=\"\" class=\"ace-line ace-line old-record-id-XXxIdhlEaopEJtxjmN0uDzVRsyh\">Trân trọng,</div><div style=\"\" class=\"ace-line ace-line old-record-id-SpRwdHn8toYrSOxy8Geu6EMJsOc\">DC Media</div></div><span data-lark-record-data=\"{&quot;isCut&quot;:false,&quot;rootId&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;parentId&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;blockIds&quot;:[18,19,20,21],&quot;recordIds&quot;:[&quot;NZjfdQ8dzokMZnxgjl0uouDIsAf&quot;,&quot;BHUddzJt9owQSQx0Szpu8akBs1f&quot;,&quot;XXxIdhlEaopEJtxjmN0uDzVRsyh&quot;,&quot;SpRwdHn8toYrSOxy8Geu6EMJsOc&quot;],&quot;recordMap&quot;:{&quot;NZjfdQ8dzokMZnxgjl0uouDIsAf&quot;:{&quot;id&quot;:&quot;NZjfdQ8dzokMZnxgjl0uouDIsAf&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;initialAttributedTexts&quot;:{&quot;text&quot;:{&quot;0&quot;:&quot;Một lần nữa, cảm ơn ae đã dành ra ngày chủ nhật nghỉ ngơi để đến gặp nhau chém gió và ăn nhậu. Phấn đấu từ giờ đến cuối năm làm thêm 1-2 buổi nữa để ae có cớ đi nhậu tiếp 🤣🤣 Anh chị em có gì phản hồi hay tâm sự kín thì liên hệ team DC nhé!&quot;},&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+6p&quot;}},&quot;apool&quot;:{&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;]},&quot;nextNum&quot;:1}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;BHUddzJt9owQSQx0Szpu8akBs1f&quot;:{&quot;id&quot;:&quot;BHUddzJt9owQSQx0Szpu8akBs1f&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:0,&quot;numToAttrib&quot;:{}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;XXxIdhlEaopEJtxjmN0uDzVRsyh&quot;:{&quot;id&quot;:&quot;XXxIdhlEaopEJtxjmN0uDzVRsyh&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:1,&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;]}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+b&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;Trân trọng,&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;SpRwdHn8toYrSOxy8Geu6EMJsOc&quot;:{&quot;id&quot;:&quot;SpRwdHn8toYrSOxy8Geu6EMJsOc&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;initialAttributedTexts&quot;:{&quot;text&quot;:{&quot;0&quot;:&quot;DC Media&quot;},&quot;attribs&quot;:{&quot;0&quot;:&quot;*0*1+8&quot;}},&quot;apool&quot;:{&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;abbreviation-data&quot;,&quot;{\\&quot;id\\&quot;:\\&quot;d5bfad06-86ca-4358-90f9-15661e249d42\\&quot;,\\&quot;abbr_ids\\&quot;:\\&quot;enterprise_7247051735749902341\\&quot;,\\&quot;is_visible\\&quot;:1,\\&quot;is_first\\&quot;:1}&quot;],&quot;1&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;]},&quot;nextNum&quot;:2}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;:{&quot;id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;page&quot;,&quot;parent_id&quot;:&quot;&quot;,&quot;comments&quot;:null,&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[&quot;WgPfdV1VuoWEjcxNOi3uXNros0e&quot;,&quot;X0tRdMId1oFyGHxOv7XuRBARsUg&quot;,&quot;JiOVd3UOBoTfUfxbuemuxcydsEd&quot;,&quot;FYmFduvKHoEhzGxG0UquuNu6spI&quot;,&quot;Zfz8dvZPHoHlg7x4TXxufp6ksef&quot;,&quot;AKsddqbY9o3c8xxPuY6uTS1bseY&quot;,&quot;ItutdrI6soXDVbxO8w9u7EYAsOh&quot;,&quot;IFSIdiOA6o3uZjx2LZAu0s27sCf&quot;,&quot;P8ARdKHuioVFeCxt44Tuqx6isNf&quot;,&quot;FF0VdZfofoWEHSxdKdwuoM1tsSd&quot;,&quot;Aio0d7zKKoUznLxMr61u4apTsuq&quot;,&quot;BCl2dKnNJoNZpKxTutquyv1csMg&quot;,&quot;DpcudJKDuovNcUxj5tTuqDz7sQf&quot;,&quot;LrNYd7ATFoGb9zxbNJjudcSjs0c&quot;,&quot;NgcddCJb2omlQzxXHQYuobYlsdc&quot;,&quot;NFo9dgqhHoBDNjxI1pluOBgWshg&quot;,&quot;NZjfdQ8dzokMZnxgjl0uouDIsAf&quot;,&quot;BHUddzJt9owQSQx0Szpu8akBs1f&quot;,&quot;XXxIdhlEaopEJtxjmN0uDzVRsyh&quot;,&quot;SpRwdHn8toYrSOxy8Geu6EMJsOc&quot;,&quot;VpgIdo9YGodUl1x0mCVu4hlOsOb&quot;],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:1,&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;]}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+w&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;Email sau sự kiện Offline Hà Nội&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;doc_info&quot;:{&quot;editors&quot;:[&quot;7199530311460323333&quot;,&quot;7197004472571133957&quot;],&quot;options&quot;:[&quot;editors&quot;,&quot;create_time&quot;],&quot;deleted_editors&quot;:[]}}}},&quot;payloadMap&quot;:{&quot;NZjfdQ8dzokMZnxgjl0uouDIsAf&quot;:{&quot;level&quot;:1},&quot;BHUddzJt9owQSQx0Szpu8akBs1f&quot;:{&quot;level&quot;:1},&quot;XXxIdhlEaopEJtxjmN0uDzVRsyh&quot;:{&quot;level&quot;:1},&quot;SpRwdHn8toYrSOxy8Geu6EMJsOc&quot;:{&quot;level&quot;:1}},&quot;extra&quot;:{&quot;mention_page_title&quot;:{},&quot;external_mention_url&quot;:{}},&quot;isKeepQuoteContainer&quot;:false,&quot;selection&quot;:[{&quot;id&quot;:18,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:241},&quot;recordId&quot;:&quot;NZjfdQ8dzokMZnxgjl0uouDIsAf&quot;},{&quot;id&quot;:19,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:0},&quot;recordId&quot;:&quot;BHUddzJt9owQSQx0Szpu8akBs1f&quot;},{&quot;id&quot;:20,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:11},&quot;recordId&quot;:&quot;XXxIdhlEaopEJtxjmN0uDzVRsyh&quot;},{&quot;id&quot;:21,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:8},&quot;recordId&quot;:&quot;SpRwdHn8toYrSOxy8Geu6EMJsOc&quot;}],&quot;pasteFlag&quot;:&quot;34425157-1680-49ee-9ebf-3067c3ce545f&quot;}\" data-lark-record-format=\"docx/record\" class=\"lark-record-clipboard\"></span></div></div><span data-lark-record-data=\"{&quot;isCut&quot;:false,&quot;rootId&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;parentId&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;blockIds&quot;:[7,8,9,10,11,12,13,14,15,16],&quot;recordIds&quot;:[&quot;AKsddqbY9o3c8xxPuY6uTS1bseY&quot;,&quot;ItutdrI6soXDVbxO8w9u7EYAsOh&quot;,&quot;IFSIdiOA6o3uZjx2LZAu0s27sCf&quot;,&quot;P8ARdKHuioVFeCxt44Tuqx6isNf&quot;,&quot;FF0VdZfofoWEHSxdKdwuoM1tsSd&quot;,&quot;Aio0d7zKKoUznLxMr61u4apTsuq&quot;,&quot;BCl2dKnNJoNZpKxTutquyv1csMg&quot;,&quot;DpcudJKDuovNcUxj5tTuqDz7sQf&quot;,&quot;LrNYd7ATFoGb9zxbNJjudcSjs0c&quot;,&quot;NgcddCJb2omlQzxXHQYuobYlsdc&quot;],&quot;recordMap&quot;:{&quot;AKsddqbY9o3c8xxPuY6uTS1bseY&quot;:{&quot;id&quot;:&quot;AKsddqbY9o3c8xxPuY6uTS1bseY&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;initialAttributedTexts&quot;:{&quot;text&quot;:{&quot;0&quot;:&quot;Chào anh em,&quot;},&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+c&quot;}},&quot;apool&quot;:{&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;]},&quot;nextNum&quot;:1}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;ItutdrI6soXDVbxO8w9u7EYAsOh&quot;:{&quot;id&quot;:&quot;ItutdrI6soXDVbxO8w9u7EYAsOh&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:0,&quot;numToAttrib&quot;:{}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;IFSIdiOA6o3uZjx2LZAu0s27sCf&quot;:{&quot;id&quot;:&quot;IFSIdiOA6o3uZjx2LZAu0s27sCf&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:1,&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;]}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+6z&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;Cảm ơn anh em đã tới tham gia buổi Offline Hà Nội \\&quot;Video ngắn viral - Chuyển đổi đa nền tảng\\&quot;. Sinh tố lúa mạch anh em uống hôm offline giờ đã hết tác dụng, nhưng mong là những kiến thức được Duy Muối và Doãn Kỷ chia sẻ hôm đó vẫn đang hữu ích với ae.&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;P8ARdKHuioVFeCxt44Tuqx6isNf&quot;:{&quot;id&quot;:&quot;P8ARdKHuioVFeCxt44Tuqx6isNf&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:0,&quot;numToAttrib&quot;:{}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;FF0VdZfofoWEHSxdKdwuoM1tsSd&quot;:{&quot;id&quot;:&quot;FF0VdZfofoWEHSxdKdwuoM1tsSd&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:2,&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;],&quot;1&quot;:[&quot;bold&quot;,&quot;true&quot;]}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+2k*0*1+10*0+y*0*1+m*0+d*0*1+1n*0+1&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;Để cảm ơn mọi người nhiệt tình tham dự, cuối buổi anh Duy Muối đã tặng tất cả ae đi offline voucher giảm 10% khóa đào tạo của DC. Với voucher này, ae có thể được giảm trực tiếp 2 triệu khi đăng ký khóa học sáng tạo để bán hàng trên TikTok Shop của Duy Muối.&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;Aio0d7zKKoUznLxMr61u4apTsuq&quot;:{&quot;id&quot;:&quot;Aio0d7zKKoUznLxMr61u4apTsuq&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:0,&quot;numToAttrib&quot;:{}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;BCl2dKnNJoNZpKxTutquyv1csMg&quot;:{&quot;id&quot;:&quot;BCl2dKnNJoNZpKxTutquyv1csMg&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:1,&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;]}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+5s&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;Anh em tham gia offline lập team đi học sẽ được giảm giá, mà lập team toàn các ae hôm offline thì lại giảm thêm nữa. Đi off chủ yếu là có mối quan hệ, học về xong lại kết hợp làm thêm vài dự án tiền tỷ nữa 😎&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;DpcudJKDuovNcUxj5tTuqDz7sQf&quot;:{&quot;id&quot;:&quot;DpcudJKDuovNcUxj5tTuqDz7sQf&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:0,&quot;numToAttrib&quot;:{}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;LrNYd7ATFoGb9zxbNJjudcSjs0c&quot;:{&quot;id&quot;:&quot;LrNYd7ATFoGb9zxbNJjudcSjs0c&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:3,&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;],&quot;1&quot;:[&quot;author&quot;,&quot;7197004472571133957&quot;],&quot;2&quot;:[&quot;link&quot;,&quot;https%3A%2F%2Fbit.ly%2FDCOS_VCPHN&quot;]}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+k*1*2+4*0+10&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;Anh em liên hệ page DCOS để được hỗ trợ sử dụng voucher nhé!&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;NgcddCJb2omlQzxXHQYuobYlsdc&quot;:{&quot;id&quot;:&quot;NgcddCJb2omlQzxXHQYuobYlsdc&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;text&quot;,&quot;parent_id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;comments&quot;:[],&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[],&quot;text&quot;:{&quot;initialAttributedTexts&quot;:{&quot;text&quot;:{&quot;0&quot;:&quot;Link page DCOS: https://bit.ly/DCOS_VCPHN&quot;},&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+g*0*1+p&quot;}},&quot;apool&quot;:{&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;],&quot;1&quot;:[&quot;link-id&quot;,&quot;c9ce59b9-6251-442c-bd64-b3d29d31051a&quot;]},&quot;nextNum&quot;:2}},&quot;align&quot;:&quot;&quot;,&quot;folded&quot;:false}},&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;:{&quot;id&quot;:&quot;TAcvd6DVPo22auxTuvGuf6XJsdd&quot;,&quot;snapshot&quot;:{&quot;type&quot;:&quot;page&quot;,&quot;parent_id&quot;:&quot;&quot;,&quot;comments&quot;:null,&quot;locked&quot;:false,&quot;hidden&quot;:false,&quot;author&quot;:&quot;7199530311460323333&quot;,&quot;children&quot;:[&quot;WgPfdV1VuoWEjcxNOi3uXNros0e&quot;,&quot;X0tRdMId1oFyGHxOv7XuRBARsUg&quot;,&quot;JiOVd3UOBoTfUfxbuemuxcydsEd&quot;,&quot;FYmFduvKHoEhzGxG0UquuNu6spI&quot;,&quot;Zfz8dvZPHoHlg7x4TXxufp6ksef&quot;,&quot;AKsddqbY9o3c8xxPuY6uTS1bseY&quot;,&quot;ItutdrI6soXDVbxO8w9u7EYAsOh&quot;,&quot;IFSIdiOA6o3uZjx2LZAu0s27sCf&quot;,&quot;P8ARdKHuioVFeCxt44Tuqx6isNf&quot;,&quot;FF0VdZfofoWEHSxdKdwuoM1tsSd&quot;,&quot;Aio0d7zKKoUznLxMr61u4apTsuq&quot;,&quot;BCl2dKnNJoNZpKxTutquyv1csMg&quot;,&quot;DpcudJKDuovNcUxj5tTuqDz7sQf&quot;,&quot;LrNYd7ATFoGb9zxbNJjudcSjs0c&quot;,&quot;NgcddCJb2omlQzxXHQYuobYlsdc&quot;,&quot;NFo9dgqhHoBDNjxI1pluOBgWshg&quot;,&quot;NZjfdQ8dzokMZnxgjl0uouDIsAf&quot;,&quot;BHUddzJt9owQSQx0Szpu8akBs1f&quot;,&quot;XXxIdhlEaopEJtxjmN0uDzVRsyh&quot;,&quot;SpRwdHn8toYrSOxy8Geu6EMJsOc&quot;,&quot;VpgIdo9YGodUl1x0mCVu4hlOsOb&quot;],&quot;text&quot;:{&quot;apool&quot;:{&quot;nextNum&quot;:1,&quot;numToAttrib&quot;:{&quot;0&quot;:[&quot;author&quot;,&quot;7199530311460323333&quot;]}},&quot;initialAttributedTexts&quot;:{&quot;attribs&quot;:{&quot;0&quot;:&quot;*0+w&quot;},&quot;text&quot;:{&quot;0&quot;:&quot;Email sau sự kiện Offline Hà Nội&quot;}}},&quot;align&quot;:&quot;&quot;,&quot;doc_info&quot;:{&quot;editors&quot;:[&quot;7199530311460323333&quot;,&quot;7197004472571133957&quot;],&quot;options&quot;:[&quot;editors&quot;,&quot;create_time&quot;],&quot;deleted_editors&quot;:[]}}}},&quot;payloadMap&quot;:{&quot;AKsddqbY9o3c8xxPuY6uTS1bseY&quot;:{&quot;level&quot;:1},&quot;ItutdrI6soXDVbxO8w9u7EYAsOh&quot;:{&quot;level&quot;:1},&quot;IFSIdiOA6o3uZjx2LZAu0s27sCf&quot;:{&quot;level&quot;:1},&quot;P8ARdKHuioVFeCxt44Tuqx6isNf&quot;:{&quot;level&quot;:1},&quot;FF0VdZfofoWEHSxdKdwuoM1tsSd&quot;:{&quot;level&quot;:1},&quot;Aio0d7zKKoUznLxMr61u4apTsuq&quot;:{&quot;level&quot;:1},&quot;BCl2dKnNJoNZpKxTutquyv1csMg&quot;:{&quot;level&quot;:1},&quot;DpcudJKDuovNcUxj5tTuqDz7sQf&quot;:{&quot;level&quot;:1},&quot;LrNYd7ATFoGb9zxbNJjudcSjs0c&quot;:{&quot;level&quot;:1},&quot;NgcddCJb2omlQzxXHQYuobYlsdc&quot;:{&quot;level&quot;:1}},&quot;extra&quot;:{&quot;mention_page_title&quot;:{},&quot;external_mention_url&quot;:{}},&quot;isKeepQuoteContainer&quot;:false,&quot;selection&quot;:[{&quot;id&quot;:7,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:12},&quot;recordId&quot;:&quot;AKsddqbY9o3c8xxPuY6uTS1bseY&quot;},{&quot;id&quot;:8,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:0},&quot;recordId&quot;:&quot;ItutdrI6soXDVbxO8w9u7EYAsOh&quot;},{&quot;id&quot;:9,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:251},&quot;recordId&quot;:&quot;IFSIdiOA6o3uZjx2LZAu0s27sCf&quot;},{&quot;id&quot;:10,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:0},&quot;recordId&quot;:&quot;P8ARdKHuioVFeCxt44Tuqx6isNf&quot;},{&quot;id&quot;:11,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:257},&quot;recordId&quot;:&quot;FF0VdZfofoWEHSxdKdwuoM1tsSd&quot;},{&quot;id&quot;:12,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:0},&quot;recordId&quot;:&quot;Aio0d7zKKoUznLxMr61u4apTsuq&quot;},{&quot;id&quot;:13,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:208},&quot;recordId&quot;:&quot;BCl2dKnNJoNZpKxTutquyv1csMg&quot;},{&quot;id&quot;:14,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:0},&quot;recordId&quot;:&quot;DpcudJKDuovNcUxj5tTuqDz7sQf&quot;},{&quot;id&quot;:15,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:60},&quot;recordId&quot;:&quot;LrNYd7ATFoGb9zxbNJjudcSjs0c&quot;},{&quot;id&quot;:16,&quot;type&quot;:&quot;text&quot;,&quot;selection&quot;:{&quot;start&quot;:0,&quot;end&quot;:41},&quot;recordId&quot;:&quot;NgcddCJb2omlQzxXHQYuobYlsdc&quot;}],&quot;pasteFlag&quot;:&quot;34425157-1680-49ee-9ebf-3067c3ce545f&quot;}\" data-lark-record-format=\"docx/record\" class=\"lark-record-clipboard\"></span></div>\n    \n                </td>\n              </tr>\n            \n        </tbody>\n      </table>\n    \n      </div>\n    \n          <!--[if mso | IE]></td></tr></table><![endif]-->\n              </td>\n            </tr>\n          </tbody>\n        </table>\n        \n      </div>\n    \n      \n      <!--[if mso | IE]></td></tr></table><![endif]-->\n    \n    \n      </div>\n    \n      </body>\n    </html>\n  ","options":{"attachments":""}},"id":"5775de44-2199-4392-aaf0-db6b437a732e","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1800,500],"credentials":{"smtp":{"id":"62","name":"SMTP no-reply@dcmedia.vn"}}},{"parameters":{"values":{"string":[{"name":"baseId","value":"KLDkb8aBiaaFVVsOBSEufPrss7e"},{"name":"tableId","value":"tblyIx26l98n67BE"}]},"options":{}},"id":"377536e3-c1a5-4050-88b8-a4f6cc29ff48","name":"Set Lark Base Info","type":"n8n-nodes-base.set","typeVersion":2,"position":[940,500]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"bodyParameters":{"parameters":[{"name":"app_id","value":"cli_a4054c355978d009"},{"name":"app_secret","value":"gIBdgOBBQVCQeRpQw1y7Zencd2sOqigf"}]},"options":{}},"id":"e90f4b6d-c214-4f96-91cf-86e23bb6376e","name":"get_access_token","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[740,500]},{"parameters":{"url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $input.item.json.baseId }}/tables/{{ $input.item.json.tableId }}/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('get_access_token').item.json.tenant_access_token }}"}]},"options":{}},"id":"9d401a02-929a-4609-a0de-605a4cd9cb38","name":"get_list_record","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1160,500]},{"parameters":{"jsCode":"let records = $input.first().json.data.items\nlet receivers = records.map(record => record.fields.Email)\n\nreturn {\n  json :{\n    receivers\n  }\n}"},"id":"62e26f6c-e43d-457b-948f-b0d41e93a591","name":"Extract Emails","type":"n8n-nodes-base.code","typeVersion":1,"position":[1360,500]},{"parameters":{"fieldToSplitOut":"receivers","options":{}},"id":"73137e90-80e2-495c-ae07-7ceee8630957","name":"Split emails","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1560,500]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"get_access_token","type":"main","index":0}]]},"Set Lark Base Info":{"main":[[{"node":"get_list_record","type":"main","index":0}]]},"get_access_token":{"main":[[{"node":"Set Lark Base Info","type":"main","index":0}]]},"get_list_record":{"main":[[{"node":"Extract Emails","type":"main","index":0}]]},"Extract Emails":{"main":[[{"node":"Split emails","type":"main","index":0}]]},"Split emails":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"78f1e61d-f4f6-4169-847b-c7006177fe23","triggerCount":0,"tags":[]}