download grab-s file and upload to onedrive-87.json
{"createdAt":"2023-05-01T09:56:36.346Z","updatedAt":"2023-09-17T18:37:18.000Z","id":"87","name":"Download Grab's file and upload to Onedrive","active":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{"downloadAttachments":true}},"id":"48753341-52eb-44db-ba81-49205f7257c2","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[260,360],"credentials":{"gmailOAuth2":{"id":"47","name":"Gmail account Hoai"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"from\"][\"value\"][0][\"address\"] }}","operation":"contains","value2":"no-reply@grab.com"}]}},"id":"6685271c-9a8e-4f07-a7cf-a126f9f3b72f","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[480,360]},{"parameters":{"fileName":"={{ $node[\"Gmail Trigger\"].binary.attachment_0.fileName }}","parentId":"5E00F87B95E5BBEF!155620","binaryData":true,"binaryPropertyName":"attachment_0"},"id":"03a27504-b0ca-44ff-8fb8-3e6babc3de7e","name":"Microsoft OneDrive","type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[780,300],"alwaysOutputData":false,"credentials":{"microsoftOneDriveOAuth2Api":{"id":"45","name":"Microsoft Drive account Long"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Microsoft OneDrive","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Gmail Trigger":{"possibleDuplicates":["18aa46e71aa5b82b"],"lastTimeChecked":1694975814}},"pinData":{},"versionId":"fae2eece-e8e1-427f-b3f9-cc0c728c8428","triggerCount":1,"tags":[]}