enroll khoá học online 26-08-23-490.json
{"createdAt":"2023-08-26T03:48:22.799Z","updatedAt":"2023-09-07T04:35:44.000Z","id":"490","name":"Enroll khoá học online 26.08.23","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://app.n8n.vn/webhook/thinkific","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"first_name\": \"HV\",\n  \"last_name\": \"{{ $json[\"query\"][\"name\"] }}\",\n  \"email\": \"{{ $json[\"query\"][\"email\"] }}\",\n\"phone\": \"{{ $json[\"query\"][\"phone\"] }}\",\n  \"password\": \"TG2023@TTL\",\n\"type\": \"course\",\n\"learning_id\": \"2238865\"\n}","options":{}},"id":"b12eeccf-db2f-4b52-8566-ed2387bac817","name":"Ghi Chép Thông Minh","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[900,0],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://api.quanchatbot.com/tamtriluc/add-customer.php?ref_Code=KHT2457872","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"fullName","value":"={{ $json[\"query\"][\"name\"] }}"},{"name":"phone","value":"={{ $json[\"query\"][\"phone\"] }}"},{"name":"email","value":"={{ $json[\"query\"][\"email\"] }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"0302902f-6ec6-4ed5-bd50-088b77bacece","name":"Create Ref","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[900,540],"continueOnFail":true},{"parameters":{"method":"POST","url":"https://app.n8n.vn/webhook/thinkific","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"first_name\": \"HV\",\n  \"last_name\": \"{{ $json[\"query\"][\"name\"] }}\",\n  \"email\": \"{{ $json[\"query\"][\"email\"] }}\",\n\"phone\": \"{{ $json[\"query\"][\"phone\"] }}\",\n  \"password\": \"TG2023@TTL\",\n\"type\": \"course\",\n\"learning_id\": \"2248518\"\n}","options":{}},"id":"f2f2aed5-6fb0-4ec9-b614-f69ac058b7bb","name":"Giúp Con Học Học Giỏi","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[900,180],"continueOnFail":true},{"parameters":{"method":"POST","url":"https://app.n8n.vn/webhook/thinkific","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"first_name\": \"HV\",\n  \"last_name\": \"{{ $json[\"query\"][\"name\"] }}\",\n  \"email\": \"{{ $json[\"query\"][\"email\"] }}\",\n\"phone\": \"{{ $json[\"query\"][\"phone\"] }}\",\n  \"password\": \"TG2023@TTL\",\n\"type\": \"course\",\n\"learning_id\": \"2238939\"\n}","options":{}},"id":"fbc5e929-8d16-44e7-891f-44ea9960d30a","name":"CMH CTT","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[900,360],"continueOnFail":true},{"parameters":{"path":"quatang230823","responseMode":"responseNode","options":{}},"id":"d32615cb-7195-43d1-80b7-ac9fe3ec2052","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[620,300],"webhookId":"632d2974-bd43-488d-bd70-bfbd6b2e4de9"},{"parameters":{"respondWith":"text","responseBody":"=<meta http-equiv=\"refresh\" content=\"0; url=https://edu.hitacamp.vn/users/sign_in\">","options":{}},"id":"087eb8ac-6523-457d-9c0c-b90cdc97bf91","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1200,540]},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","projectId":"p_6rha1z35lfpa3l","table":"md_98ueyjcy3bpj2t","fieldsUi":{"fieldValues":[{"fieldName":"name","fieldValue":"={{ $('Webhook').first().json.query.name }}"},{"fieldName":"phone","fieldValue":"={{ $('Webhook').first().json.query.phone }}"},{"fieldName":"email","fieldValue":"={{ $('Webhook').first().json.query.email }}"},{"fieldName":"course","fieldValue":"Ghi Chép Thông Minh"}]}},"id":"9b55c708-7705-41dd-893a-279f1d52882f","name":"NocoDB","type":"n8n-nodes-base.nocoDb","typeVersion":2,"position":[1200,0],"credentials":{"nocoDbApiToken":{"id":"118","name":"NocoDB Token account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","projectId":"p_6rha1z35lfpa3l","table":"md_98ueyjcy3bpj2t","fieldsUi":{"fieldValues":[{"fieldName":"name","fieldValue":"={{ $('Webhook').first().json.query.name }}"},{"fieldName":"phone","fieldValue":"={{ $('Webhook').first().json.query.phone }}"},{"fieldName":"email","fieldValue":"={{ $('Webhook').first().json.query.email }}"},{"fieldName":"course","fieldValue":"Giúp Con Học Giỏi"}]}},"id":"8ab3358b-e280-4ddf-a3a1-61badf261c81","name":"NocoDB1","type":"n8n-nodes-base.nocoDb","typeVersion":2,"position":[1200,180],"credentials":{"nocoDbApiToken":{"id":"118","name":"NocoDB Token account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","projectId":"p_6rha1z35lfpa3l","table":"md_98ueyjcy3bpj2t","fieldsUi":{"fieldValues":[{"fieldName":"name","fieldValue":"={{ $('Webhook').first().json.query.name }}"},{"fieldName":"phone","fieldValue":"={{ $('Webhook').first().json.query.phone }}"},{"fieldName":"email","fieldValue":"={{ $('Webhook').first().json.query.email }}"},{"fieldName":"course","fieldValue":"Cha Mẹ Học Con Thành Tài"}]}},"id":"dffcbd20-b867-4ce3-990e-3e281e4187b7","name":"NocoDB2","type":"n8n-nodes-base.nocoDb","typeVersion":2,"position":[1200,360],"credentials":{"nocoDbApiToken":{"id":"118","name":"NocoDB Token account"}}}],"connections":{"Webhook":{"main":[[{"node":"CMH CTT","type":"main","index":0},{"node":"Giúp Con Học Học Giỏi","type":"main","index":0},{"node":"Ghi Chép Thông Minh","type":"main","index":0},{"node":"Create Ref","type":"main","index":0}]]},"Ghi Chép Thông Minh":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"NocoDB","type":"main","index":0}]]},"Giúp Con Học Học Giỏi":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"NocoDB1","type":"main","index":0}]]},"CMH CTT":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"NocoDB2","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br","accept-language":"vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5","cache-control":"max-age=0","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX18tE3PyKuDWRWbU30tCyZxRaT78vww9ZPQ%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2Ba9XjKZBGwnvZqV5qVLBFO3JeSj1raisE%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVjOTI4YTJlLTE2NjgtNGMzMS1hYTE1LTM1NzM0Yzc0YTM3NiIsImVtYWlsIjoibWFya2V0aW5nLmhpdGFib3RAZ21haWwuY29tIiwicGFzc3dvcmQiOiJhMjM2NjUwM2ZlZmRhYmE2ZTc5MjBlODBiNjY4MThmMWQyMDc1MzVjNmM5YjE0NzRkN2Q4M2JjMWEyMTBiMDY2IiwiaWF0IjoxNjkyODgyNTA4LCJleHAiOjE2OTM0ODczMDh9._aqlmrqv8RTjBlk08cbecPUkksWq-ANygNDQ7lAwW_U; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2FUwmMCNH3H68gOzMm89npSOSXEgkDumhUaqTOUXoMgDlMZZ2tTSe%2BeiYyeF%2B%2Bux6FRlwXhdgO5ig%3D%3D; rl_group_id=RudderEncrypt%3AU2FsdGVkX1%2BlYbRwy7wBuZ1KHKFca2W7ZC4cd50gITU%3D; rl_group_trait=RudderEncrypt%3AU2FsdGVkX1%2BzUPYbM6r7WSkzw1mPcVwjlVRrZ5CoHes%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX18zKUvBUtUxdyrEn48QgYIwr0lEPNxYK0hKOkqYAXsJ71o%2BpcD7kkPFsPj43VT3nWfs88yrnObuG%2Ff2tyj4h155AYHizcThBe6%2BLUSp5nQIWhmdn%2B1d2OqC66w4WnsCyR5ch3V81VZrbtB6BDeUNPVpcCzND1hsJcA%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FDhOTRQJDf3UQPbZSaZ89nLN5oIU8exePbJL1PJb2eXTky02n1OEUPl1fy6dBXLe08ha%2FgnuPPDO2ouRPp2xtH6pATmtnpPywuZlDIog3Kn6VuGUcR%2BpgF9FqYKFLIbZnSS%2Baw4yKjU5eyh%2FGV5FvJQ0%2FDjqSFcvE%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24active_feature_flags%22%3A%5B%22013_distribution_test%22%2C%22011_ask_AI%22%2C%22012_signup_cta_wording%22%2C%22009_choosing_trial_plan%22%2C%22006_cloud_opt_in%22%2C%22010_relevant_usecase%22%2C%22schema-view%22%5D%2C%22%24enabled_feature_flags%22%3A%7B%22013_distribution_test%22%3A%22variant%22%2C%22011_ask_AI%22%3A%22gpt3%22%2C%22012_signup_cta_wording%22%3A%22variant%22%2C%22009_choosing_trial_plan%22%3A%22control%22%2C%22004_checklist%22%3Afalse%2C%22008_template_variants%22%3Afalse%2C%22006_cloud_opt_in%22%3A%22control%22%2C%22010_relevant_usecase%22%3A%22control%22%2C%22schema-view%22%3Atrue%7D%2C%22%24feature_flag_payloads%22%3A%7B%7D%2C%22distinct_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%235c928a2e-1668-4c31-aa15-35734c74a376%22%2C%22%24device_id%22%3A%22018a21d6-167e-735e-bb88-4adda9eb3e2e%22%2C%22%24user_state%22%3A%22identified%22%2C%22%24user_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%235c928a2e-1668-4c31-aa15-35734c74a376%22%2C%22%24stored_person_properties%22%3A%7B%22instance_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%22%2C%22created_at_timestamp%22%3A1689569970679%7D%2C%22%24sesid%22%3A%5B1693028572968%2C%22018a304f-be70-73e4-9998-6b7fe022acea%22%2C1693027647088%5D%2C%22%24session_recording_enabled_server_side%22%3Afalse%2C%22%24autocapture_disabled_server_side%22%3Afalse%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2BW00P7u6%2FP4TPegnDxR4KFWXohOQxHc56mNzndrbg0YxzEGOwyN9gC9s34yO%2Fcx3H53zj%2FgGfL74HOf%2B0a99FUSd7MUalQTFuFgWYz44x2RK%2B7g%2BKWtRl4OwTGIZWwHCBBylZnZnZaoQ%3D%3D","sec-ch-ua":"\"Chromium\";v=\"116\", \"Not)A;Brand\";v=\"24\", \"Google Chrome\";v=\"116\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"116.110.41.251","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"116.110.41.251"},"params":{},"query":{"name":"Lê Hồng Quân","phone":"0985767138","email":"nguyenngocxu594@gmail.com"},"body":{}}}]},"versionId":"86204cbf-02fc-4e68-a113-793caf182d75","triggerCount":1,"tags":[]}