error_telegram-508.json
{"createdAt":"2023-09-04T15:14:08.348Z","updatedAt":"2023-09-04T15:16:51.000Z","id":"508","name":"Error_Telegram","active":false,"nodes":[{"parameters":{"chatId":"-823683118","text":"=⛔ Có vấn đề với 1 lệnh trong Workflow tại app.n8n.vn kìa anh em!\n- Tên: {{ $('Error Trigger').item.json[\"workflow\"][\"name\"] }}\n- Link: {{ $('Error Trigger').item.json[\"execution\"][\"url\"] }}\n- Node: {{ $('Error Trigger').item.json[\"execution\"][\"lastNodeExecuted\"] }}","additionalFields":{}},"id":"db4f4501-0c0c-4125-97dc-8cb542a27423","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1000,220],"credentials":{"telegramApi":{"id":"87","name":"hita_5ptb_bot"}},"continueOnFail":true},{"parameters":{"operation":"sendPhoto","chatId":"-823683118","file":"AgACAgUAAxkBAAJ--GS3UcuXymzEv22XKtzuafdugrjcAALDtTEbEsW5VQpzzSUoCXRRAQADAgADeAADLwQ","additionalFields":{}},"id":"73273547-0854-4b24-9018-c403c3c793e9","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[800,220],"credentials":{"telegramApi":{"id":"87","name":"hita_5ptb_bot"}},"continueOnFail":true},{"parameters":{},"id":"ed04ff4b-e706-44c0-8b25-3cc251719204","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[560,220]}],"connections":{"Telegram1":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Telegram1","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"1093dafa-c1a8-41ed-9144-18e027655cd4","triggerCount":0,"tags":[]}