gctm 99k -hnc - chi tiết đơn-491.json
{"createdAt":"2023-08-26T09:03:18.358Z","updatedAt":"2023-08-28T10:24:04.000Z","id":"491","name":"GCTM 99k |HNC > Chi tiết đơn","active":true,"nodes":[{"parameters":{"respondWith":"text","responseBody":"=<meta http-equiv=\"refresh\" content=\"0; url=https://hitacamp.vn/chi-tiet/thank-you-page/?order_id={{ $('WooCommerce').first().json.id }}&key={{ $('WooCommerce').first().json.order_key }}\">","options":{}},"id":"51579619-9627-4134-902e-e315d16d2168","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1260,620]},{"parameters":{"resource":"order","operation":"create","additionalFields":{"customerId":"={{ $('Create Customer').item.json.set_attributes.customer_id }}"},"billingUi":{"billingValues":{"firstName":"={{ $('Webhook1').item.json.query.name }}","lastName":"","company":"","address_1":"","address_2":"","city":"","postcode":"","country":"","email":"={{ $('Webhook1').item.json.query.email }}","phone":"={{ $('Webhook1').item.json.query.phone }}"}},"couponLinesUi":{"couponLinesValues":[{"code":"={{ $json.coupon }}","metadataUi":{}}]},"feeLinesUi":{},"lineItemsUi":{"lineItemsValues":[{"name":"={{ $json.name }}","productId":"={{ $('Webhook1').item.json.query.product }}","variationId":0,"quantity":1,"taxClass":"","subtotal":"","total":"={{ $json.saleprice }}","metadataUi":{}}]},"metadataUi":{"metadataValues":[{"key":"messid","value":"={{ $('Webhook1').item.json.query.messid }}"},{"key":"pageid","value":"={{ $('Webhook1').item.json.query.pageid }}"}]},"shippingUi":{},"shippingLinesUi":{}},"id":"fca82116-10f2-4d7c-adda-dc50cb81801c","name":"Create Order","type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[1380,160],"credentials":{"wooCommerceApi":{"id":"81","name":"HitaCamp.vn"}}},{"parameters":{"resource":"order","operation":"update","orderId":"={{ $('HTTP Request').item.json.set_attributes.order_id }}","updateFields":{"status":"on-hold"},"billingUi":{},"couponLinesUi":{},"feeLinesUi":{},"lineItemsUi":{},"metadataUi":{},"shippingUi":{},"shippingLinesUi":{}},"id":"60024976-9cf0-473b-b733-02b0be69e64a","name":"Update status","type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[1260,460],"credentials":{"wooCommerceApi":{"id":"81","name":"HitaCamp.vn"}}},{"parameters":{"method":"POST","url":"=https://api.smax.bot/bots/{{ $json[\"botid\"] }}/users/{{ $('Webhook1').item.json[\"query\"][\"messid\"] }}/send?bot_token={{ $json[\"bottoken\"] }}&block_name=ComboOnline-ConfirmOrder&messaging_tag=\"POST_PURCHASE_UPDATE\"","sendQuery":true,"queryParameters":{"parameters":[{"name":"order_id","value":"={{ $('HTTP Request').item.json.set_attributes.order_id }}"},{"name":"product","value":"={{ $('NocoDB1').item.json.name }}"},{"name":"order_total","value":"={{ $('NocoDB1').item.json.saleprice }}"},{"name":"order_phone","value":"={{ $('Webhook1').item.json.query.phone }}"},{"name":"order_key","value":"={{ $('HTTP Request').item.json.set_attributes.order_key }}"}]},"options":{}},"id":"7ad35e8c-383f-42b5-a120-96b14ce4305b","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1260,780]},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"p_2pveriyaytwhp1","table":"md_1rkfsmdjfp6ocp","limit":1,"options":{"where":"=(pageid,eq,{{ $('Webhook1').first().json.query.pageid }})"}},"id":"40a9df17-8642-49b3-9286-96b0d267770d","name":"NocoDB","type":"n8n-nodes-base.nocoDb","typeVersion":2,"position":[1060,620],"credentials":{"nocoDbApiToken":{"id":"118","name":"NocoDB Token account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"p_2pveriyaytwhp1","table":"md_ynlmbd2zmsq0oo","limit":1,"options":{"where":"=(productid,eq,{{ $('Webhook1').item.json.query.product }})"}},"id":"77b1f7ae-885a-437a-b7ca-659cbdde7935","name":"NocoDB1","type":"n8n-nodes-base.nocoDb","typeVersion":2,"position":[780,320],"credentials":{"nocoDbApiToken":{"id":"118","name":"NocoDB Token account"}}},{"parameters":{"url":"=https://hitacamp.vn/wp-json/woo_smaxbot/create_user?secret=6688","sendQuery":true,"queryParameters":{"parameters":[{"name":"name","value":"={{ $json.query.name }}"},{"name":"email","value":"={{ $json.query.email }}"},{"name":"messid","value":"={{ $json.query.messid }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"15fcb157-7b70-436a-b88f-4cc998480256","name":"Create Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1560,160]},{"parameters":{"path":"gctm-hnc","responseMode":"responseNode","options":{}},"id":"dab60acc-206f-4096-80d1-82e6ee69cf1d","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[140,480],"webhookId":"2602d74a-630b-4687-87d9-09cc09f70c3c"},{"parameters":{"url":"=https://hitacamp.vn/wp-json/woo_smaxbot/create_order?secret=6688&email={{ $('Webhook1').item.json.query.email }}&phone={{ $('Webhook1').item.json.query.phone }}&product={{ $('Webhook1').item.json.query.product }}&coupon={{ $json.query.coupon }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"name","value":"={{ $('Webhook1').item.json.query.name }}"}]},"options":{}},"id":"7818fb8c-655a-4fe9-90e0-cb2ea6e1b52e","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[360,480],"continueOnFail":true},{"parameters":{"resource":"order","operation":"update","orderId":"={{ $('HTTP Request').item.json.set_attributes.order_id }}","updateFields":{},"billingUi":{},"couponLinesUi":{},"feeLinesUi":{},"lineItemsUi":{"lineItemsValues":[{"name":"","productId":14538,"variationId":0,"quantity":1,"taxClass":"","subtotal":"","total":"99000","metadataUi":{}}]},"metadataUi":{},"shippingUi":{},"shippingLinesUi":{}},"id":"43009cf9-131e-48fe-83ee-e2d7ffe7dcda","name":"WooCommerce","type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[800,480],"credentials":{"wooCommerceApi":{"id":"81","name":"HitaCamp.vn"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook1').item.json.query.product }}","operation":"contains","value2":"29200"}]}},"id":"48e4e9d2-7897-4d53-913c-bcde2621215c","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[640,680]}],"connections":{"NocoDB":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0},{"node":"Update status","type":"main","index":0}]]},"NocoDB1":{"main":[[{"node":"NocoDB","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"IF","type":"main","index":0},{"node":"NocoDB1","type":"main","index":0}]]},"IF":{"main":[[{"node":"WooCommerce","type":"main","index":0}],[{"node":"NocoDB","type":"main","index":0}]]},"WooCommerce":{"main":[[{"node":"NocoDB","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook1":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br","accept-language":"vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX18tE3PyKuDWRWbU30tCyZxRaT78vww9ZPQ%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2Ba9XjKZBGwnvZqV5qVLBFO3JeSj1raisE%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVjOTI4YTJlLTE2NjgtNGMzMS1hYTE1LTM1NzM0Yzc0YTM3NiIsImVtYWlsIjoibWFya2V0aW5nLmhpdGFib3RAZ21haWwuY29tIiwicGFzc3dvcmQiOiJhMjM2NjUwM2ZlZmRhYmE2ZTc5MjBlODBiNjY4MThmMWQyMDc1MzVjNmM5YjE0NzRkN2Q4M2JjMWEyMTBiMDY2IiwiaWF0IjoxNjkyODgyNTA4LCJleHAiOjE2OTM0ODczMDh9._aqlmrqv8RTjBlk08cbecPUkksWq-ANygNDQ7lAwW_U; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19tn6NpOCQr3kblcelSFsSu%2Bx7KPKV%2Bm5PrOOGk0x%2FABioauTB2kFUQ%2BaB%2FQV21DrOvZnNVBgPrOg%3D%3D; rl_group_id=RudderEncrypt%3AU2FsdGVkX19qikbOUVjQ%2BXXRULqS9gXKiCMRgVC%2FdP0%3D; rl_group_trait=RudderEncrypt%3AU2FsdGVkX1%2BdQAMuX9xOxpiJESeaJFvz8W7ZkI1CFe0%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19l9HR6sgFW3YlELE4rSyh83IiV3nIC%2FLRw9mGwTWzOmj5aav691knr2XW707r4JFTshhYvQSGU4l1rCUMuKJPhz0taE8hofvD6sULoXufgeyqcOTj8cmw51N2%2BIhsztvROHznaa%2FShlUkfUsw2ODjb8c0AYJ%2Bph74%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19oirFpUFwRIX9nBkg1gZnS6utUJ8YW04Fi%2BFSLXzTcr8ynwvVLaSlor8mp4Wkg07B5hcWt58bufUagY2JgFr%2FOvWdkw2Ip9XTaKiFYCtL8%2BlC%2FxxGhVbs5kcq%2Fy8XOTOqvPZZQF14Gstqu%2FLgHLnX0dOHWrQypGZw%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24active_feature_flags%22%3A%5B%22013_distribution_test%22%2C%22011_ask_AI%22%2C%22012_signup_cta_wording%22%2C%22009_choosing_trial_plan%22%2C%22006_cloud_opt_in%22%2C%22010_relevant_usecase%22%2C%22schema-view%22%5D%2C%22%24enabled_feature_flags%22%3A%7B%22013_distribution_test%22%3A%22variant%22%2C%22011_ask_AI%22%3A%22gpt3%22%2C%22012_signup_cta_wording%22%3A%22variant%22%2C%22009_choosing_trial_plan%22%3A%22control%22%2C%22004_checklist%22%3Afalse%2C%22008_template_variants%22%3Afalse%2C%22006_cloud_opt_in%22%3A%22control%22%2C%22010_relevant_usecase%22%3A%22control%22%2C%22schema-view%22%3Atrue%7D%2C%22%24feature_flag_payloads%22%3A%7B%7D%2C%22distinct_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%235c928a2e-1668-4c31-aa15-35734c74a376%22%2C%22%24device_id%22%3A%22018a21d6-167e-735e-bb88-4adda9eb3e2e%22%2C%22%24user_state%22%3A%22identified%22%2C%22%24user_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%235c928a2e-1668-4c31-aa15-35734c74a376%22%2C%22%24stored_person_properties%22%3A%7B%22instance_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%22%2C%22created_at_timestamp%22%3A1689569970679%7D%2C%22%24sesid%22%3A%5B1693209536007%2C%22018a3b0d-24c2-7671-b290-2cd0e21f7840%22%2C1693207831746%5D%2C%22%24session_recording_enabled_server_side%22%3Afalse%2C%22%24autocapture_disabled_server_side%22%3Afalse%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19JW%2FBSkXuOerEGPvEXi8pRZMkCBttVbzVJUqXFxB0Zd2gE%2FKza%2BTDU2c6lqkvOr3%2B1CFGdgoERVWzyu55aN1%2FnchNHNc83ZSMOqRC8FgN0Q%2Bb7CUlDiRSNYok1ONNeIklmYXVyemjfaw%3D%3D","sec-ch-ua":"\"Chromium\";v=\"116\", \"Not)A;Brand\";v=\"24\", \"Google Chrome\";v=\"116\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"14.241.231.236","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"14.241.231.236"},"params":{},"query":{"name":"Xử","phone":"0909477729","email":"nguyenngocxu594@gmail.com","pageid":"267860490322486","messid":"4501448519887732","product":"14538,29200,29471,16994","coupon":"99hnc01"},"body":{}},"pairedItem":{"item":0}}],"HTTP Request":[{"json":{"set_attributes":{"messid":"","order_id":"31685","order_key":"wc_order_3L8Q7fHPZviXN","order_total":"868000","order_total_discount":"1436000","order_status":"processing","first_name":"Xử","last_name":"","order_email":"nguyenngocxu594@gmail.com","order_phone":"0909477729","order_url":"https://hitacamp.vn/membership-zone/view-order/31685/","ref_id":"","ref_name":"","nguon":"","note":""}},"pairedItem":{"item":0}}],"NocoDB1":[{"json":{"Id":2,"name":"Combo HỌC NHƯ CHƠI 1 NĂM, GHI CHÉP THÔNG MINH THUỘC BÀI TẠI LỚP","CreatedAt":"2023-08-18 11:35:39+00:00","UpdatedAt":"2023-08-18 11:44:26+00:00","productid":"14538,29200,29471,16994","img":null,"price":null,"saleprice":"967000","coupon":"99hnc01"},"pairedItem":{"item":0}}],"NocoDB":[{"json":{"Id":1,"page":"Nguyễn Phùng Phong","CreatedAt":"2023-08-18 11:01:03+00:00","UpdatedAt":"2023-08-18 11:02:29+00:00","pageid":"267860490322486","botid":"613b2d63e82fb23b1a1a949b","bottoken":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYxM2IyZDYzZTgyZmIyM2IxYTFhOTQ5YiIsIm5hbWUiOiJUw6JtIFRyw60gTOG7sWMgLSBDb3B5IiwiaWF0IjoxNjMxMjY4MTk1LCJleHAiOjE5NDY2MjgxOTV9.44WRJetqqp_V7IfEshUi41qzXXEQU47N4n9a5XUVGqQ"},"pairedItem":{"item":0}}]},"versionId":"b72f9deb-94bd-47aa-9c7b-87979908cb6c","triggerCount":1,"tags":[]}