gctm 99k -hnc - chi tiết đơn-491.json
{"createdAt":"2023-08-26T09:03:18.358Z","updatedAt":"2023-09-09T04:36:25.000Z","id":"491","name":"GCTM 99k |HNC > Chi tiết đơn","active":false,"nodes":[{"parameters":{"respondWith":"text","responseBody":"=<meta http-equiv=\"refresh\" content=\"0; url=https://hitacamp.vn/chi-tiet/thank-you-page/?order_id={{ $('HTTP Request').first().json.set_attributes.order_id }}&key={{ $('HTTP Request').first().json.set_attributes.order_key }}\">","options":{}},"id":"51579619-9627-4134-902e-e315d16d2168","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[860,580],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"resource":"order","operation":"update","orderId":"={{ $('HTTP Request').first().json.set_attributes.order_id }}","updateFields":{"status":"on-hold"},"billingUi":{},"couponLinesUi":{},"feeLinesUi":{},"lineItemsUi":{},"metadataUi":{},"shippingUi":{},"shippingLinesUi":{}},"id":"60024976-9cf0-473b-b733-02b0be69e64a","name":"Update status","type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[1060,400],"credentials":{"wooCommerceApi":{"id":"81","name":"HitaCamp.vn"}}},{"parameters":{"method":"POST","url":"=https://api.smax.bot/bots/{{ $('NocoDB').first().json[\"botid\"] }}/users/{{ $('Webhook1').first().json[\"query\"][\"messid\"] }}/send?bot_token={{ $('NocoDB').first().json[\"bottoken\"] }}&block_name=GCTM-ConfirmOrder&messaging_tag=\"POST_PURCHASE_UPDATE\"","sendQuery":true,"queryParameters":{"parameters":[{"name":"order_id","value":"={{ $('HTTP Request').first().json.set_attributes.order_id }}"},{"name":"product","value":"={{ $('HTTP Request3').first().json.set_attributes.product }}"},{"name":"order_total","value":"={{ $('HTTP Request3').first().json.set_attributes.order_total }}"},{"name":"order_phone","value":"={{ $('Webhook1').first().json.query.phone }}"},{"name":"order_key","value":"={{ $('HTTP Request').first().json.set_attributes.order_key }}"}]},"options":{}},"id":"7ad35e8c-383f-42b5-a120-96b14ce4305b","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1700,460]},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"p_2pveriyaytwhp1","table":"md_1rkfsmdjfp6ocp","limit":1,"options":{"where":"=(pageid,eq,{{ $('Webhook1').first().json.query.pageid }})"}},"id":"40a9df17-8642-49b3-9286-96b0d267770d","name":"NocoDB","type":"n8n-nodes-base.nocoDb","typeVersion":2,"position":[1080,580],"alwaysOutputData":true,"credentials":{"nocoDbApiToken":{"id":"118","name":"NocoDB Token account"}},"continueOnFail":true},{"parameters":{"path":"gctm-hnc","responseMode":"responseNode","options":{}},"id":"dab60acc-206f-4096-80d1-82e6ee69cf1d","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[120,580],"webhookId":"2602d74a-630b-4687-87d9-09cc09f70c3c"},{"parameters":{"url":"=https://hitacamp.vn/wp-json/woo_smaxbot/create_order?secret=6688&email={{ $('Webhook1').first().json.query.email }}&phone={{ $('Webhook1').first().json.query.phone }}&product={{ $('Webhook1').first().json.query.product }}&coupon={{ $('Webhook1').first().json[\"query\"][\"coupon\"] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"name","value":"={{ $('Webhook1').first().json.query.name }}"}]},"options":{}},"id":"7818fb8c-655a-4fe9-90e0-cb2ea6e1b52e","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[300,580],"continueOnFail":true},{"parameters":{"resource":"order","operation":"update","orderId":"={{ $('HTTP Request').first().json.set_attributes.order_id }}","updateFields":{},"billingUi":{},"couponLinesUi":{},"feeLinesUi":{},"lineItemsUi":{"lineItemsValues":[{"name":"GHI CHÉP THÔNG MINH -  THUỘC BÀI TẠI LỚP","productId":14538,"variationId":0,"quantity":1,"taxClass":"","subtotal":"","total":"99000","metadataUi":{}}]},"metadataUi":{},"shippingUi":{},"shippingLinesUi":{}},"id":"43009cf9-131e-48fe-83ee-e2d7ffe7dcda","name":"WooCommerce","type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[620,420],"credentials":{"wooCommerceApi":{"id":"81","name":"HitaCamp.vn"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook1').item.json.query.product }}","operation":"contains","value2":"29200"}]}},"id":"48e4e9d2-7897-4d53-913c-bcde2621215c","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[460,580]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.set_attributes.item_id }}","value2":"14538"}]}},"id":"b6313972-25d2-4603-b138-d2913dd7b0a2","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[1480,580]},{"parameters":{"method":"POST","url":"=https://api.smax.bot/bots/{{ $('NocoDB').first().json[\"botid\"] }}/users/{{ $('Webhook1').first().json[\"query\"][\"messid\"] }}/send?bot_token={{ $('NocoDB').first().json[\"bottoken\"] }}&block_name=5PTB-ConfirmOrder&messaging_tag=\"POST_PURCHASE_UPDATE\"","sendQuery":true,"queryParameters":{"parameters":[{"name":"order_id","value":"={{ $('HTTP Request3').first().json.set_attributes.order_id }}"},{"name":"product","value":"={{ $('HTTP Request3').first().json.set_attributes.product }}"},{"name":"order_total","value":"={{ $('HTTP Request3').first().json.set_attributes.order_total }}"},{"name":"order_phone","value":"={{ $('Webhook1').first().json.query.phone }}"},{"name":"order_key","value":"={{ $('HTTP Request').first().json.set_attributes.order_key }}"}]},"options":{}},"id":"7ce8811b-89de-45f6-9ded-e62f94ca04e7","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1700,680]},{"parameters":{"url":"https://hitacamp.vn/wp-json/woo_smaxbot/get_order?secret=6688","sendQuery":true,"queryParameters":{"parameters":[{"name":"order_id","value":"={{ $('HTTP Request').first().json.set_attributes.order_id }}"}]},"options":{}},"id":"4a8830bd-29b1-46d7-87b7-f52dae895ad7","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1280,580],"alwaysOutputData":false,"continueOnFail":true}],"connections":{"NocoDB":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"WooCommerce","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"WooCommerce":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"IF1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"IF1","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Update status","type":"main","index":0},{"node":"NocoDB","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook1":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br","accept-language":"vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5","cache-control":"max-age=0","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX18tE3PyKuDWRWbU30tCyZxRaT78vww9ZPQ%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2Ba9XjKZBGwnvZqV5qVLBFO3JeSj1raisE%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVjOTI4YTJlLTE2NjgtNGMzMS1hYTE1LTM1NzM0Yzc0YTM3NiIsImVtYWlsIjoibWFya2V0aW5nLmhpdGFib3RAZ21haWwuY29tIiwicGFzc3dvcmQiOiJhMjM2NjUwM2ZlZmRhYmE2ZTc5MjBlODBiNjY4MThmMWQyMDc1MzVjNmM5YjE0NzRkN2Q4M2JjMWEyMTBiMDY2IiwiaWF0IjoxNjkzMjI4MTU2LCJleHAiOjE2OTM4MzI5NTZ9.kSAkGeKCWdtkRRCR0W-J3tKyCkc3_EJleqUMvojscc0; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BUyuH6pT3CvnpDoZXBRYdwsreCalBxkj%2BGlu3S430QCdhe6r%2BPLjPYShg%2F5UKourfJ4XM9bLtMQA%3D%3D; rl_group_id=RudderEncrypt%3AU2FsdGVkX1%2BjK%2FDKZgA1Lfylw8bVByqGawAxbIEvjTo%3D; rl_group_trait=RudderEncrypt%3AU2FsdGVkX19hMfg6ZznZG7RPEOiH3RO3mSM%2B6MAFE9A%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2B8prp5K%2FUJdHjZpvKeZ%2FnMyvkEozMhyv0hPWi7KlOWpcp82CpbVPRf37kwZxs3K4cQMdvBiyAezcvPOpiK9j06zDgMV7U6c5cnEm5dLcFH4wtlhPG6ho9d2DFHD9rrt4Axx0j4Obl4vaM4WbsD4kCuq%2BLlmG6kmik%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX18sOHTSybx0JJI6Veu8fQeIuaUPmy0pj0D9B2CAqb8g%2Fh9E6xRQiJlR5XkUgKB4kZIOxkUd00RlaJ6G96NXyzdmWVnUMHcZIAI2Yhqs55EShHmSmmcaVebfbH0UhFaUn60BUd9kimSDDefbSwTwscUOEdkC%2FnVUWno%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24active_feature_flags%22%3A%5B%22013_distribution_test%22%2C%22011_ask_AI%22%2C%22012_signup_cta_wording%22%2C%22009_choosing_trial_plan%22%2C%22006_cloud_opt_in%22%2C%22010_relevant_usecase%22%2C%22schema-view%22%5D%2C%22%24enabled_feature_flags%22%3A%7B%22013_distribution_test%22%3A%22variant%22%2C%22011_ask_AI%22%3A%22gpt3%22%2C%22012_signup_cta_wording%22%3A%22variant%22%2C%22009_choosing_trial_plan%22%3A%22control%22%2C%22004_checklist%22%3Afalse%2C%22008_template_variants%22%3Afalse%2C%22006_cloud_opt_in%22%3A%22control%22%2C%22010_relevant_usecase%22%3A%22control%22%2C%22schema-view%22%3Atrue%7D%2C%22%24feature_flag_payloads%22%3A%7B%7D%2C%22distinct_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%235c928a2e-1668-4c31-aa15-35734c74a376%22%2C%22%24device_id%22%3A%22018a21d6-167e-735e-bb88-4adda9eb3e2e%22%2C%22%24user_state%22%3A%22identified%22%2C%22%24user_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%235c928a2e-1668-4c31-aa15-35734c74a376%22%2C%22%24stored_person_properties%22%3A%7B%22instance_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%22%2C%22created_at_timestamp%22%3A1689569970679%7D%2C%22%24sesid%22%3A%5B1693399244535%2C%22018a4675-d924-7036-a6aa-7446e0ddfeac%22%2C1693399243044%5D%2C%22%24session_recording_enabled_server_side%22%3Afalse%2C%22%24autocapture_disabled_server_side%22%3Afalse%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FVEgvJzO5IIHCHeDJDgLOHetOFKAmech%2FIgcawTG%2FAOTIUpISgMqaMew1w3%2Bz2GGdkZEMhetKjMyjcmak0n0%2FWwPGOLMc6qaURryGmtZO185h5H4G%2F2pHId7QfJTDNBr%2FSJztPHlhuRg%3D%3D","if-none-match":"W/\"2c-M3w8p21f0REjQwu2uz8Qm+/AE/A\"","sec-ch-ua":"\"Chromium\";v=\"116\", \"Not)A;Brand\";v=\"24\", \"Google Chrome\";v=\"116\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"14.241.231.236","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"14.241.231.236"},"params":{},"query":{"name":"Xử Test","phone":"0909477729","email":"nguyenngocxu594@gmail.com","pageid":"267860490322486","messid":"4501448519887732","product":"14538,29200,29471,16994","coupon":"99hnc01"},"body":{}},"pairedItem":{"item":0}}],"HTTP Request":[{"json":{"set_attributes":{"messid":"","order_id":"31991","order_key":"wc_order_GkPIIcb2ywo23","order_total":"868000","order_total_discount":"1436000","order_status":"processing","first_name":"Xử Test","last_name":"","order_email":"nguyenngocxu594@gmail.com","order_phone":"0909477729","order_url":"https://hitacamp.vn/membership-zone/view-order/31991/","ref_id":"","ref_name":"","nguon":"","note":""}},"pairedItem":{"item":0}}],"WooCommerce":[{"json":{"id":31991,"parent_id":0,"status":"processing","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-30T19:41:18","date_modified":"2023-08-30T19:41:19","discount_total":"1337000","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"967000","total_tax":"0","customer_id":0,"order_key":"wc_order_GkPIIcb2ywo23","billing":{"first_name":"Xử Test","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","email":"nguyenngocxu594@gmail.com","phone":"0909477729"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"ttvcbwoo_hethongsms","payment_method_title":"Chuyển khoản ngân hàng ACB","transaction_id":"","customer_ip_address":"103.169.35.196","customer_user_agent":"axios/0.21.4","created_via":"","customer_note":"","date_completed":null,"date_paid":"2023-08-30T19:41:19","cart_hash":"","number":"31991","meta_data":[{"id":1062035,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1062044,"key":"messid","value":"4501448519887732"},{"id":1062045,"key":"order_key","value":"wc_order_GkPIIcb2ywo23"},{"id":1062046,"key":"mail","value":"nguyenngocxu594@gmail.com"},{"id":1062047,"key":"phone","value":"909477729"},{"id":1062048,"key":"ref_id","value":"R_"},{"id":1062049,"key":"ref_name","value":""},{"id":1062050,"key":"nguon","value":"KHT2687302"},{"id":1062051,"key":"note","value":""}],"line_items":[{"id":19816,"name":"GHI CHÉP THÔNG MINH -  THUỘC BÀI TẠI LỚP","product_id":14538,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"368000","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[],"sku":"","price":0,"image":{"id":"14539","src":"https://hitacamp.vn/wp-content/uploads/2023/04/GHI-CHEP_2-02-scaled.jpg"},"parent_name":null},{"id":19817,"name":"Combo HỌC NHƯ CHƠI 1 NĂM","product_id":29200,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"868000","subtotal_tax":"0","total":"868000","total_tax":"0","taxes":[],"meta_data":[],"sku":"","price":868000,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null},{"id":19818,"name":"BÌNH NƯỚC HITACAMP","product_id":29471,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"200000","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[],"sku":"","price":0,"image":{"id":"31878","src":"https://hitacamp.vn/wp-content/uploads/2023/08/Group-1.png"},"parent_name":null},{"id":19819,"name":"5 PHÚT THUỘC BÀI 1 NĂM","product_id":16994,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"868000","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[],"sku":"","price":0,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null},{"id":19821,"name":"","product_id":14538,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":195784,"key":"Zoom ID","value":"","display_key":"Zoom ID","display_value":""},{"id":195785,"key":"Zoom Passcode","value":"","display_key":"Zoom Passcode","display_value":""},{"id":195786,"key":"Zoom Date","value":"","display_key":"Zoom Date","display_value":""},{"id":195787,"key":"Ref link for Order Completed","value":"","display_key":"Ref link for Order Completed","display_value":""},{"id":195788,"key":"Content button Ref","value":"","display_key":"Content button Ref","display_value":""},{"id":195789,"key":"Order detail URL","value":"","display_key":"Order detail URL","display_value":""},{"id":195790,"key":"learning_type","value":"course","display_key":"learning_type","display_value":"course"},{"id":195791,"key":"learning_id","value":"2238865","display_key":"learning_id","display_value":"2238865"},{"id":195792,"key":"sale_order_id","value":"","display_key":"sale_order_id","display_value":""}],"sku":"","price":99000,"image":{"id":"14539","src":"https://hitacamp.vn/wp-content/uploads/2023/04/GHI-CHEP_2-02-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[{"id":19820,"code":"99hnc01","discount":"1436000","discount_tax":"0","meta_data":[{"id":195774,"key":"coupon_data","value":{"id":31591,"code":"99hnc01","amount":"100","status":"publish","date_created":{"date":"2023-08-26 13:23:50.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-08-28 04:56:56.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"percent","description":"coupon 99k > Học Như Chơi 1 năm","usage_count":20,"individual_use":false,"product_ids":[16994,29471,14538],"excluded_product_ids":[],"usage_limit":0,"usage_limit_per_user":0,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"","email_restrictions":[],"virtual":false,"meta_data":[{"id":1051905,"key":"_cf_filter","value":""},{"id":1051906,"key":"_cf_filter_text_data","value":""},{"id":1051919,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":1051920,"key":"sc_restrict_to_new_user","value":"no"},{"id":1051921,"key":"auto_generate_coupon","value":"no"},{"id":1051922,"key":"coupon_title_prefix","value":""},{"id":1051923,"key":"coupon_title_suffix","value":""},{"id":1051924,"key":"sc_coupon_validity","value":""},{"id":1051925,"key":"validity_suffix","value":"days"},{"id":1051926,"key":"sc_is_visible_storewide","value":"no"},{"id":1051927,"key":"sc_disable_email_restriction","value":"no"},{"id":1051928,"key":"is_pick_price_of_product","value":"no"},{"id":1051929,"key":"wc_sc_add_product_details","value":[]},{"id":1051930,"key":"wc_sc_max_discount","value":""},{"id":1051931,"key":"wc_sc_expiry_time","value":""},{"id":1051932,"key":"wc_sc_auto_apply_coupon","value":"no"},{"id":1051933,"key":"sa_cbl_billing_locations","value":[]},{"id":1051934,"key":"wc_sc_payment_method_ids","value":[]},{"id":1051935,"key":"wc_sc_shipping_method_ids","value":[]},{"id":1051936,"key":"wc_sc_user_role_ids","value":[]},{"id":1051937,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":1051938,"key":"wc_sc_product_attribute_ids","value":""},{"id":1051939,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":1051940,"key":"wc_sc_taxonomy_restrictions","value":[]},{"id":1051941,"key":"wc_sc_excluded_customer_email","value":[]},{"id":1051942,"key":"wc_coupon_message","value":""},{"id":1051943,"key":"wc_email_message","value":"no"},{"id":1051944,"key":"wc_sc_product_quantity_restrictions","value":{"type":"cart","values":{"cart":{"min":"","max":""},"product":{"14538":{"min":"","max":""},"16994":{"min":"","max":""},"29471":{"min":"","max":""}},"product_category":[]},"condition":"any"}},{"id":1051945,"key":"_cf_filter","value":""},{"id":1051946,"key":"_cf_filter_text_data","value":""}]},"display_key":"coupon_data","display_value":{"id":31591,"code":"99hnc01","amount":"100","status":"publish","date_created":{"date":"2023-08-26 13:23:50.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-08-28 04:56:56.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"percent","description":"coupon 99k > Học Như Chơi 1 năm","usage_count":20,"individual_use":false,"product_ids":[16994,29471,14538],"excluded_product_ids":[],"usage_limit":0,"usage_limit_per_user":0,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"","email_restrictions":[],"virtual":false,"meta_data":[{"id":1051905,"key":"_cf_filter","value":""},{"id":1051906,"key":"_cf_filter_text_data","value":""},{"id":1051919,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":1051920,"key":"sc_restrict_to_new_user","value":"no"},{"id":1051921,"key":"auto_generate_coupon","value":"no"},{"id":1051922,"key":"coupon_title_prefix","value":""},{"id":1051923,"key":"coupon_title_suffix","value":""},{"id":1051924,"key":"sc_coupon_validity","value":""},{"id":1051925,"key":"validity_suffix","value":"days"},{"id":1051926,"key":"sc_is_visible_storewide","value":"no"},{"id":1051927,"key":"sc_disable_email_restriction","value":"no"},{"id":1051928,"key":"is_pick_price_of_product","value":"no"},{"id":1051929,"key":"wc_sc_add_product_details","value":[]},{"id":1051930,"key":"wc_sc_max_discount","value":""},{"id":1051931,"key":"wc_sc_expiry_time","value":""},{"id":1051932,"key":"wc_sc_auto_apply_coupon","value":"no"},{"id":1051933,"key":"sa_cbl_billing_locations","value":[]},{"id":1051934,"key":"wc_sc_payment_method_ids","value":[]},{"id":1051935,"key":"wc_sc_shipping_method_ids","value":[]},{"id":1051936,"key":"wc_sc_user_role_ids","value":[]},{"id":1051937,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":1051938,"key":"wc_sc_product_attribute_ids","value":""},{"id":1051939,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":1051940,"key":"wc_sc_taxonomy_restrictions","value":[]},{"id":1051941,"key":"wc_sc_excluded_customer_email","value":[]},{"id":1051942,"key":"wc_coupon_message","value":""},{"id":1051943,"key":"wc_email_message","value":"no"},{"id":1051944,"key":"wc_sc_product_quantity_restrictions","value":{"type":"cart","values":{"cart":{"min":"","max":""},"product":{"14538":{"min":"","max":""},"16994":{"min":"","max":""},"29471":{"min":"","max":""}},"product_category":[]},"condition":"any"}},{"id":1051945,"key":"_cf_filter","value":""},{"id":1051946,"key":"_cf_filter_text_data","value":""}]}}]}],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31991/?pay_for_order=true&key=wc_order_GkPIIcb2ywo23","is_editable":false,"needs_payment":true,"needs_processing":true,"date_created_gmt":"2023-08-30T12:41:18","date_modified_gmt":"2023-08-30T12:41:19","date_completed_gmt":null,"date_paid_gmt":"2023-08-30T12:41:19","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31991"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}]}},"pairedItem":{"item":0}}],"NocoDB":[{"json":{"Id":1,"page":"Nguyễn Phùng Phong","CreatedAt":"2023-08-18 11:01:03+00:00","UpdatedAt":"2023-08-18 11:02:29+00:00","pageid":"267860490322486","botid":"613b2d63e82fb23b1a1a949b","bottoken":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYxM2IyZDYzZTgyZmIyM2IxYTFhOTQ5YiIsIm5hbWUiOiJUw6JtIFRyw60gTOG7sWMgLSBDb3B5IiwiaWF0IjoxNjMxMjY4MTk1LCJleHAiOjE5NDY2MjgxOTV9.44WRJetqqp_V7IfEshUi41qzXXEQU47N4n9a5XUVGqQ"},"pairedItem":{"item":0}}],"HTTP Request3":[{"json":{"set_attributes":{"order_id":"31991","order_key":"wc_order_GkPIIcb2ywo23","item_id":"14538 - 29200 - 29471 - 16994 - 14538 - ","item_array":[14538,29200,29471,16994,14538],"product":"* GHI CHÉP THÔNG MINH -  THUỘC BÀI TẠI LỚP x 1 * Combo HỌC NHƯ CHƠI 1 NĂM x 1 * BÌNH NƯỚC HITACAMP x 1 * 5 PHÚT THUỘC BÀI 1 NĂM x 1 *  x 1 ","order_total":"967000","order_total_discount":"1337000","coupon":"99hnc01","order_status":"processing","first_name":"Xử Test","last_name":"","order_email":"nguyenngocxu594@gmail.com","order_phone":"0909477729","messid":"4501448519887732","note":"","order_url":"https://hitacamp.vn/membership-zone/view-order/31991/","order_detail_url":" - ?key=wc_order_GkPIIcb2ywo23","sub_detail":" - ","zoom_id":" - ","zoom_reg_id":"","ref_id":"R_","ref_name":"","nguon":"KHT2687302"}},"pairedItem":{"item":0}}]},"versionId":"ab8c6481-54f2-47df-9894-f8aaf4dc6c6a","triggerCount":1,"tags":[]}