gctm 99k -hnc - chi tiết đơn-491.json
{"createdAt":"2023-08-26T09:03:18.358Z","updatedAt":"2023-08-26T15:52:26.000Z","id":"491","name":"GCTM 99k |HNC > Chi tiết đơn","active":true,"nodes":[{"parameters":{"respondWith":"text","responseBody":"=<meta http-equiv=\"refresh\" content=\"0; url=https://hitacamp.vn/chi-tiet/thank-you-page/?order_id={{ $json.set_attributes.order_id }}&key={{ $json.set_attributes.order_key }}\">","options":{}},"id":"51579619-9627-4134-902e-e315d16d2168","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[780,260]},{"parameters":{"resource":"order","operation":"create","additionalFields":{"customerId":"={{ $('Create Customer').item.json.set_attributes.customer_id }}"},"billingUi":{"billingValues":{"firstName":"={{ $('Webhook1').item.json.query.name }}","lastName":"","company":"","address_1":"","address_2":"","city":"","postcode":"","country":"","email":"={{ $('Webhook1').item.json.query.email }}","phone":"={{ $('Webhook1').item.json.query.phone }}"}},"couponLinesUi":{"couponLinesValues":[{"code":"={{ $json.coupon }}","metadataUi":{}}]},"feeLinesUi":{},"lineItemsUi":{"lineItemsValues":[{"name":"={{ $json.name }}","productId":"={{ $('Webhook1').item.json.query.product }}","variationId":0,"quantity":1,"taxClass":"","subtotal":"","total":"={{ $json.saleprice }}","metadataUi":{}}]},"metadataUi":{"metadataValues":[{"key":"messid","value":"={{ $('Webhook1').item.json.query.messid }}"},{"key":"pageid","value":"={{ $('Webhook1').item.json.query.pageid }}"}]},"shippingUi":{},"shippingLinesUi":{}},"id":"fca82116-10f2-4d7c-adda-dc50cb81801c","name":"Create Order","type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[420,640],"credentials":{"wooCommerceApi":{"id":"81","name":"HitaCamp.vn"}}},{"parameters":{"resource":"order","operation":"update","orderId":"={{ $json.set_attributes.order_id }}","updateFields":{"status":"on-hold"},"billingUi":{},"couponLinesUi":{},"feeLinesUi":{},"lineItemsUi":{},"metadataUi":{},"shippingUi":{},"shippingLinesUi":{}},"id":"60024976-9cf0-473b-b733-02b0be69e64a","name":"Update status","type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[780,100],"credentials":{"wooCommerceApi":{"id":"81","name":"HitaCamp.vn"}}},{"parameters":{"method":"POST","url":"=https://api.smax.bot/bots/{{ $json[\"botid\"] }}/users/{{ $('Webhook1').item.json[\"query\"][\"messid\"] }}/send?bot_token={{ $json[\"bottoken\"] }}&block_name=ComboOnline-ConfirmOrder&messaging_tag=\"POST_PURCHASE_UPDATE\"","sendQuery":true,"queryParameters":{"parameters":[{"name":"order_id","value":"={{ $('HTTP Request').item.json.set_attributes.order_id }}"},{"name":"product","value":"={{ $('NocoDB1').item.json.name }}"},{"name":"order_total","value":"={{ $('HTTP Request').item.json.set_attributes.order_total }}"},{"name":"order_phone","value":"={{ $('Webhook1').item.json.query.phone }}"},{"name":"order_key","value":"={{ $('HTTP Request').item.json.set_attributes.order_key }}"}]},"options":{}},"id":"7ad35e8c-383f-42b5-a120-96b14ce4305b","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1040,420]},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"p_2pveriyaytwhp1","table":"md_1rkfsmdjfp6ocp","limit":1,"options":{"where":"=(pageid,eq,{{ $('Webhook1').first().json.query.pageid }})"}},"id":"40a9df17-8642-49b3-9286-96b0d267770d","name":"NocoDB","type":"n8n-nodes-base.nocoDb","typeVersion":2,"position":[860,420],"credentials":{"nocoDbApiToken":{"id":"118","name":"NocoDB Token account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"p_2pveriyaytwhp1","table":"md_ynlmbd2zmsq0oo","limit":1,"options":{"where":"=(productid,eq,{{ $('Webhook1').item.json.query.product }})"}},"id":"77b1f7ae-885a-437a-b7ca-659cbdde7935","name":"NocoDB1","type":"n8n-nodes-base.nocoDb","typeVersion":2,"position":[660,420],"credentials":{"nocoDbApiToken":{"id":"118","name":"NocoDB Token account"}}},{"parameters":{"url":"=https://hitacamp.vn/wp-json/woo_smaxbot/create_user?secret=6688","sendQuery":true,"queryParameters":{"parameters":[{"name":"name","value":"={{ $json.query.name }}"},{"name":"email","value":"={{ $json.query.email }}"},{"name":"messid","value":"={{ $json.query.messid }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"15fcb157-7b70-436a-b88f-4cc998480256","name":"Create Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[200,640]},{"parameters":{"path":"chtm-hnc","responseMode":"responseNode","options":{}},"id":"dab60acc-206f-4096-80d1-82e6ee69cf1d","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,260],"webhookId":"2602d74a-630b-4687-87d9-09cc09f70c3c"},{"parameters":{"url":"=https://hitacamp.vn/wp-json/woo_smaxbot/create_order?secret=6688&email={{ $('Webhook1').item.json.query.email }}&phone={{ $('Webhook1').item.json.query.phone }}&product={{ $('Webhook1').item.json.query.product }}&coupon={{ $json.query.coupon }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"name","value":"={{ $('Webhook1').item.json.query.name }}"}]},"options":{}},"id":"7818fb8c-655a-4fe9-90e0-cb2ea6e1b52e","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,260],"continueOnFail":true}],"connections":{"NocoDB":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"NocoDB1":{"main":[[{"node":"NocoDB","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update status","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0},{"node":"NocoDB1","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"NocoDB1":[{"json":{"Id":2,"name":"Combo HỌC NHƯ CHƠI 1 NĂM, GHI CHÉP THÔNG MINH THUỘC BÀI TẠI LỚP","CreatedAt":"2023-08-18 11:35:39+00:00","UpdatedAt":"2023-08-18 11:44:26+00:00","productid":"14538,29200","img":null,"price":null,"saleprice":"967000","coupon":"99hnc01"},"pairedItem":{"item":0}}],"Webhook1":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br","accept-language":"vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX18tE3PyKuDWRWbU30tCyZxRaT78vww9ZPQ%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2Ba9XjKZBGwnvZqV5qVLBFO3JeSj1raisE%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVjOTI4YTJlLTE2NjgtNGMzMS1hYTE1LTM1NzM0Yzc0YTM3NiIsImVtYWlsIjoibWFya2V0aW5nLmhpdGFib3RAZ21haWwuY29tIiwicGFzc3dvcmQiOiJhMjM2NjUwM2ZlZmRhYmE2ZTc5MjBlODBiNjY4MThmMWQyMDc1MzVjNmM5YjE0NzRkN2Q4M2JjMWEyMTBiMDY2IiwiaWF0IjoxNjkyODgyNTA4LCJleHAiOjE2OTM0ODczMDh9._aqlmrqv8RTjBlk08cbecPUkksWq-ANygNDQ7lAwW_U; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX183u3A9m88i6pbY6gE%2FjNGDeGmjT%2FWR4D9Obt98MkEEofk06h4qLP08VnN%2Bkkjc9i7qdd5Wwj%2BcyA%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BT%2FrutyZJcesUoFLinBxu%2BhJ1J%2FXX%2FlbYCWO8kjtTzqxgIB%2FEN7FMRzNl6vkIh8qnCsxvbiZGOeQOJcyGQw43SP7mJrRoKOSuKLXllZXUcoUqP6wOK%2BACKZqL%2FAcUb%2BPg91jUoYh4ZqrTCYTRNx7CiO8Bv%2Bk9SKOQ%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FLyLPPUZL8HYhQVtw419%2F2y9ApOXYn0pnnYclgxtVdid%2F1tAicGnhJdgkpqAUsBJTXmM8msIuIJUKvYBlYXYlKhOuZUAtOS9DVeduEDsYz%2Fck%2FDg8oDjG5yc439q%2FSzWnZBXCzjfAkaUCjVtUaG7e2b3SOpfc8xKI%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24active_feature_flags%22%3A%5B%22013_distribution_test%22%2C%22011_ask_AI%22%2C%22012_signup_cta_wording%22%2C%22009_choosing_trial_plan%22%2C%22006_cloud_opt_in%22%2C%22010_relevant_usecase%22%2C%22schema-view%22%5D%2C%22%24enabled_feature_flags%22%3A%7B%22013_distribution_test%22%3A%22control%22%2C%22011_ask_AI%22%3A%22gpt3%22%2C%22012_signup_cta_wording%22%3A%22variant%22%2C%22009_choosing_trial_plan%22%3A%22control%22%2C%22004_checklist%22%3Afalse%2C%22008_template_variants%22%3Afalse%2C%22006_cloud_opt_in%22%3A%22control%22%2C%22010_relevant_usecase%22%3A%22control%22%2C%22schema-view%22%3Atrue%7D%2C%22%24feature_flag_payloads%22%3A%7B%7D%2C%22distinct_id%22%3A%2227aa83c869ce4a3f3ec500cb507c7dced95c55f203adf9520d55d5b14f4c89e0%23a9d5e59a-61c5-4f40-b704-118425df6e63%22%2C%22%24device_id%22%3A%22018a21d6-167e-735e-bb88-4adda9eb3e2e%22%2C%22%24user_state%22%3A%22identified%22%2C%22%24user_id%22%3A%2227aa83c869ce4a3f3ec500cb507c7dced95c55f203adf9520d55d5b14f4c89e0%23a9d5e59a-61c5-4f40-b704-118425df6e63%22%2C%22%24stored_person_properties%22%3A%7B%22instance_id%22%3A%2227aa83c869ce4a3f3ec500cb507c7dced95c55f203adf9520d55d5b14f4c89e0%22%2C%22created_at_timestamp%22%3A1690993668695%7D%2C%22%24sesid%22%3A%5B1693060005928%2C%22018a321b-fa57-7372-8d5f-f14b036d444a%22%2C1693057808983%5D%2C%22%24session_recording_enabled_server_side%22%3Afalse%2C%22%24autocapture_disabled_server_side%22%3Afalse%7D; rl_session=RudderEncrypt%3AU2FsdGVkX186hMekQzNvo7qVkoQTkyifW30Lkvk6uBin%2F2zGNh%2B1UYUAFKDMOZ5NK%2F0zEHTcFQvYcjdBDYqu328zy%2FJq37zhA9TUzzs9O2DhxGyiggPXOoa5HRL%2BhMo5OH0jDHsh%2FdXHtqQzJ5a0qQ%3D%3D","sec-ch-ua":"\"Chromium\";v=\"116\", \"Not)A;Brand\";v=\"24\", \"Google Chrome\";v=\"116\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"116.110.41.251","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"116.110.41.251"},"params":{},"query":{"name":"Xử","phone":"0909477729","email":"nguyenngocxu594@gmail.com","product":"14538,29200","coupon":"gctmtbtl","pageid":"267860490322486","messid":"4501448519887732"},"body":{}},"pairedItem":{"item":0}}],"HTTP Request":[{"json":{"set_attributes":{"messid":"","order_id":"31609","order_key":"wc_order_nx3aB73NgdeUX","order_total":"967000","order_total_discount":"269000","order_status":"processing","first_name":"Xử","last_name":"","order_email":"nguyenngocxu594@gmail.com","order_phone":"0909477729","order_url":"https://hitacamp.vn/membership-zone/view-order/31609/","ref_id":"","ref_name":"","nguon":"","note":""}},"pairedItem":{"item":0}}],"NocoDB":[{"json":{"Id":1,"page":"Nguyễn Phùng Phong","CreatedAt":"2023-08-18 11:01:03+00:00","UpdatedAt":"2023-08-18 11:02:29+00:00","pageid":"267860490322486","botid":"613b2d63e82fb23b1a1a949b","bottoken":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYxM2IyZDYzZTgyZmIyM2IxYTFhOTQ5YiIsIm5hbWUiOiJUw6JtIFRyw60gTOG7sWMgLSBDb3B5IiwiaWF0IjoxNjMxMjY4MTk1LCJleHAiOjE5NDY2MjgxOTV9.44WRJetqqp_V7IfEshUi41qzXXEQU47N4n9a5XUVGqQ"},"pairedItem":{"item":0}}]},"versionId":"95baf872-5f60-43a1-9f2e-054ac914db78","triggerCount":1,"tags":[]}