get key 5ptb mon-194.json
{"createdAt":"2023-07-19T04:16:12.501Z","updatedAt":"2023-07-19T04:16:12.501Z","id":"194","name":"Get Key 5PTB Mon","active":false,"nodes":[{"parameters":{"url":"=https://api.quanchatbot.com/5ptb/get-code-mon.php?class={{ $json.body.class }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"d1655ede-d3ce-49dc-a007-f3db6be8176e","name":"Get Active Code","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-240,940],"retryOnFail":true},{"parameters":{"httpMethod":"POST","path":"get-key-5ptb","options":{}},"id":"5ba78794-6f5c-4089-8321-4059e3cc8ac0","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-460,940],"webhookId":"3a0d455b-cc09-4642-b3e7-6b93192ccf00","alwaysOutputData":false},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.activeCode }}","operation":"isNotEmpty"}]}},"id":"66b41de0-6e49-4992-8559-f051d4f26c59","name":"IF Have Code","type":"n8n-nodes-base.if","typeVersion":1,"position":[-20,940],"continueOnFail":true},{"parameters":{"fromEmail":"cskh5@hitacamp.vn","toEmail":"={{ $node.Webhook.json.body.order_email }}","subject":"=Gửi bạn {{ $node.Webhook.json.body.full_name }} mã kích hoạt 5PTB môn {{ $node['Get Active Code'].json.productName }}","text":"=Chào bạn {{ $node.Webhook.json.body.full_name }},\n\nCảm ơn bạn đã hoàn thành đơn hàng HT{{ $node.Webhook.json.body.order_id }}.\nGửi bạn mã code kích hoạt môn {{ $node['Get Active Code'].json.productName }} trên ứng dụng 5 PHÚT THUỘC BÀI\n\n- Mã kích hoạt:  {{ $node['Get Active Code'].json.activeCode }}\n----------------\n- Hướng dẫn cài đặt ứng dụng 5PTB:\n- Hướng dẫn dùng mã kích hoạt môn học: \n- Hướng dẫn các tính năng 5PTB:","options":{"replyTo":"cskh@hitacamp.vn"}},"id":"befadc35-6d93-489a-aacd-27dcd74a4661","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[160,720],"credentials":{"smtp":{"id":"10","name":"SMTP cskh5@hitacamp.vn"}},"disabled":true},{"parameters":{"method":"POST","url":"https://5ptb.vn/wp-json/autonami/v1/webhook/?bwfan_autonami_webhook_id=23&bwfan_autonami_webhook_key=f167acba81d3c856239ed85d0cc2ac62","sendBody":true,"bodyParameters":{"parameters":[{"name":"monhoc","value":"={{ $json.productName }}"},{"name":"makichoat","value":"={{ $json.activeCode }}"},{"name":"order_id","value":"={{ $node.Webhook.json.body.order_id }}"},{"name":"order_key","value":"={{ $node.Webhook.json.body.order_key }}"},{"name":"full_name","value":"={{ $node.Webhook.json.body.full_name }}"},{"name":"order_email","value":"={{ $node.Webhook.json.body.order_email }}"},{"name":"order_phone","value":"={{ $node.Webhook.json.body.order_phone }}"}]},"options":{}},"id":"6196801d-c54f-44ba-9e28-431201c6c2cd","name":"Gui mail FunnelKit","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[280,860],"retryOnFail":true,"continueOnFail":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ZyK5MRh2ZcLv1XABtnzSGePopbzAwGvxOlG6VuUOXf4","mode":"list","cachedResultName":"Log - Active Key 5PTB 99k","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZyK5MRh2ZcLv1XABtnzSGePopbzAwGvxOlG6VuUOXf4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZyK5MRh2ZcLv1XABtnzSGePopbzAwGvxOlG6VuUOXf4/edit#gid=0"},"fieldsUi":{"fieldValues":[{"fieldId":"Date","fieldValue":"={{ $now.setZone('Asia/Ho_chi_minh').toFormat('yyyy-MM-dd HH:mm:ss') }}"},{"fieldId":"Order ID","fieldValue":"={{ $node.Webhook.json.body.order_id }}"},{"fieldId":"Code 5PTB","fieldValue":"={{ $json.activeCode }}"},{"fieldId":"Name","fieldValue":"={{ $node.Webhook.json.body.full_name }}"},{"fieldId":"Phone","fieldValue":"={{ $node.Webhook.json.body.order_phone }}"},{"fieldId":"Email","fieldValue":"={{ $node.Webhook.json.body.order_email }}"},{"fieldId":"MessID","fieldValue":"={{ $node.Webhook.json.body.messid }}"}]},"options":{}},"id":"e0c70a43-3c14-44bb-a35f-0a1666b5b8a2","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[360,1040],"credentials":{"googleSheetsOAuth2Api":{"id":"2","name":"Google Sheets lehongquan@gmail.com"}}},{"parameters":{"method":"POST","url":"https://chatapi.viber.com/pa/post","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"auth_token\":\"5115ba0980351cde-9d055a8983e4a79-50efec3164ee05c\",\n\"from\": \"v9Yd/w+PRP5A22ZgNN1wqQ==\",\n\"type\": \"text\",\n\"text\": \"✅Có mã code 5PTB môn {{ $json[\"productName\"] }} *{{ $json.activeCode }}*:\\n- Order ID: *{{ $node.Webhook.json.body.order_id }}*\\n- Họ tên: {{ $node.Webhook.json.body.full_name }}\\n- Điện thoại: {{ $node.Webhook.json.body.order_phone }}\\n- Email: {{ $node.Webhook.json.body.order_email }}\\n- Thời gian: {{ $now.setZone('Asia/Ho_chi_minh').toFormat('yyyy-MM-dd HH:mm:ss') }}\\n------------------\\n- Mess ID: {{ $node.Webhook.json.body.messid }}\\n-Chi tiết đơn hàng theo Phone: https://hitacamp.vn/chi-tiet-don-hang-theo-dien-thoai/?phone={{ $node.Webhook.json.body.order_phone }}\\n- Chi tiết đơn hàng theo Email: https://hitacamp.vn/chi-tiet-don-hang-theo-email/?mail={{ $node.Webhook.json.body.order_email }}\\n- SmaxChat: https://smax.chat/pages/267860490322486/conversation?tid=th_{{ $node.Webhook.json.body.messid }}\"\n}","options":{}},"id":"cb9affb7-1f3f-4970-a873-886b92c98339","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[240,1200],"retryOnFail":true,"continueOnFail":true}],"connections":{"Get Active Code":{"main":[[{"node":"IF Have Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get Active Code","type":"main","index":0}]]},"IF Have Code":{"main":[[{"node":"Send Email","type":"main","index":0},{"node":"Gui mail FunnelKit","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}],[{"node":"Get Active Code","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8.quanchatbot.com","user-agent":"axios/0.19.2","content-length":"170","accept":"application/json, text/plain, */*","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"34.87.3.106","x-forwarded-host":"n8.quanchatbot.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"cc3a1a76fa48","x-real-ip":"34.87.3.106","accept-encoding":"gzip"},"params":{},"query":{},"body":{"order_id":"21164","order_key":"wc_order_QrN3qBlWc2s9C","full_name":"Quân Test","order_email":"lehongquan@gmail.com","order_phone":"0985767138","messid":"3385630971486789","class":"4|142"}},"pairedItem":{"item":0}}],"Get Active Code":[{"json":{"orderCode":"HD2305-0126","productName":"Toán lớp 1","activeCode":"776DBD28110","serialNumber":"W000007815"},"pairedItem":{"item":0}}],"Google Sheets":[{"json":{"orderCode":"HD2305-0126","productName":"Toán lớp 1","activeCode":"776DBD28110","serialNumber":"W000007815"},"pairedItem":{"item":0}}]},"versionId":"36df1247-6221-4d51-afbc-ee8ff6a9952c","triggerCount":0,"tags":[]}