ghi nhận ck sepay vào base-561.json
{"createdAt":"2023-10-12T07:16:47.946Z","updatedAt":"2023-10-12T08:34:43.000Z","id":"561","name":"Ghi nhận CK Sepay vào Base","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"b5db2223-636d-417f-9b1b-fe4bd0e8206f","options":{}},"id":"63f15b34-06df-4d50-95a7-e29844e5821b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[620,280],"webhookId":"b5db2223-636d-417f-9b1b-fe4bd0e8206f"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"bodyParameters":{"parameters":[{"name":"app_id","value":"cli_a473f1bdfb38100a"},{"name":"app_secret","value":"sdMUBkuLWk0hvNV5mXMwR3UQyKGuNn57"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"a329512f-b948-4d78-b925-742dc409393c","name":"tenantAccess","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[840,280]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/TSFHbueczasqfdsmOKpu6Piesse/tables/tblx88s90ylfvguN/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"tenantAccess\"].json[\"body\"][\"tenant_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"Date\": \"{{ $('Webhook').item.json['body']['data'][0]['when'] }}\",\n    \"Name\": \"{{ $('Webhook').item.json['body']['data'][0]['corresponsiveName'] }}\",\n    \"Description\": \"{{ $('Webhook').item.json['body']['data'][0]['description'] }}\",\n    \"Amount\": \"{{ $('Webhook').item.json['body']['data'][0]['amount'] }}\",\n    \"ID\": \"{{ $('Webhook').item.json['body']['data'][0]['tid'] }}\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"48a1d4fb-c7af-4fbc-a3cd-cf3f18dd4a57","name":"Add record","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1060,280]}],"connections":{"Webhook":{"main":[[{"node":"tenantAccess","type":"main","index":0}]]},"tenantAccess":{"main":[[{"node":"Add record","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"4e97b6d2-a605-46c4-8c7c-e1123d6579aa","triggerCount":1,"tags":[]}