ghi nhận ck sepay vào base-561.json
{"createdAt":"2023-10-12T07:16:47.946Z","updatedAt":"2023-10-16T15:42:10.000Z","id":"561","name":"Ghi nhận CK Sepay vào Base","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"bodyParameters":{"parameters":[{"name":"app_id","value":"cli_a473f1bdfb38100a"},{"name":"app_secret","value":"sdMUBkuLWk0hvNV5mXMwR3UQyKGuNn57"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"a329512f-b948-4d78-b925-742dc409393c","name":"tenantAccess","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[840,280]},{"parameters":{"httpMethod":"POST","path":"b5db2223-636d-417f-9b1b-fe4bd0e8206f-VCB","options":{}},"id":"63f15b34-06df-4d50-95a7-e29844e5821b","name":"Vietcombank - Sepay","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[620,280],"webhookId":"b5db2223-636d-417f-9b1b-fe4bd0e8206f"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"bodyParameters":{"parameters":[{"name":"app_id","value":"cli_a473f1bdfb38100a"},{"name":"app_secret","value":"sdMUBkuLWk0hvNV5mXMwR3UQyKGuNn57"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"c1a7b8f6-44d0-49ad-8f2b-035388ac203e","name":"tenantAccess1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[840,480]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/TSFHbueczasqfdsmOKpu6Piesse/tables/tblHPxuVIfSMMy8D/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"tenantAccess1\"].json[\"body\"][\"tenant_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"id\": \"{{ $('BIDV 3151035063 - Sepay').item.json[\"body\"][\"id\"] }}\",\n    \"transactionDate\": \"{{$('BIDV 3151035063 - Sepay').item.json[\"body\"][\"transactionDate\"]}}\",\n    \"gateway\": \"{{$('BIDV 3151035063 - Sepay').item.json[\"body\"][\"gateway\"]}}\",\n    \"accountNumber\": \"{{$('BIDV 3151035063 - Sepay').item.json[\"body\"][\"accountNumber\"]}}\",\n    \"transferAmount\": \"{{$('BIDV 3151035063 - Sepay').item.json[\"body\"][\"transferAmount\"]}}\",\n    \"referenceCode\": \"{{$('BIDV 3151035063 - Sepay').item.json[\"body\"][\"referenceCode\"]}}\",\n    \"content\": \"{{ $('BIDV 3151035063 - Sepay').item.json[\"body\"][\"content\"] }}\",\n    \"transferType\": \"{{$('BIDV 3151035063 - Sepay').item.json[\"body\"][\"transferType\"]}}\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"b95cd976-5367-4b54-b604-ed9777f922f5","name":"Add record1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1060,480]},{"parameters":{"httpMethod":"POST","path":"b5db2223-636d-417f-9b1b-fe4bd0e8206f-BIDV1","options":{}},"id":"a5df4573-0cbc-46fd-a699-edd5bbf299c7","name":"BIDV 3151035063 - Sepay","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[620,480],"webhookId":"b5db2223-636d-417f-9b1b-fe4bd0e8206f"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"bodyParameters":{"parameters":[{"name":"app_id","value":"cli_a473f1bdfb38100a"},{"name":"app_secret","value":"sdMUBkuLWk0hvNV5mXMwR3UQyKGuNn57"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"c122afb1-6c57-43aa-ba0c-5a06eba96dd3","name":"tenantAccess2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[840,680]},{"parameters":{"httpMethod":"POST","path":"b5db2223-636d-417f-9b1b-fe4bd0e8206f-BIDV2","options":{}},"id":"84049f6f-0f79-4012-8da1-0f56935c9b7c","name":"BIDV 3150877095 - Sepay","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[620,680],"webhookId":"d4c3599f-f95e-4888-8ba9-e0765d79039e"},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/TSFHbueczasqfdsmOKpu6Piesse/tables/tblHPxuVIfSMMy8D/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$node[\"tenantAccess2\"].json[\"body\"][\"tenant_access_token\"]}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"id\": \"{{ $('BIDV 3150877095 - Sepay').item.json[\"body\"][\"id\"] }}\",\n    \"transactionDate\": \"{{$('BIDV 3150877095 - Sepay').item.json[\"body\"][\"transactionDate\"]}}\",\n    \"gateway\": \"{{$('BIDV 3150877095 - Sepay').item.json[\"body\"][\"gateway\"]}}\",\n    \"accountNumber\": \"{{$('BIDV 3150877095 - Sepay').item.json[\"body\"][\"accountNumber\"]}}\",\n    \"transferAmount\": \"{{$('BIDV 3150877095 - Sepay').item.json[\"body\"][\"transferAmount\"]}}\",\n    \"referenceCode\": \"{{$('BIDV 3150877095 - Sepay').item.json[\"body\"][\"referenceCode\"]}}\",\n    \"content\": \"{{ $('BIDV 3150877095 - Sepay').item.json[\"body\"][\"content\"] }}\",\n    \"transferType\": \"{{$('BIDV 3150877095 - Sepay').item.json[\"body\"][\"transferType\"]}}\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"e4e7bc21-cded-4625-9ace-d4c0b6c8eb52","name":"Add record2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1060,680]},{"parameters":{"httpMethod":"POST","path":"b5db2223-636d-417f-9b1b-fe4bd0e8206f-MB","options":{}},"id":"30404822-7fe5-4bb0-8869-978284cb00a1","name":"MB - SEPAY","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[620,880],"webhookId":"55fb6271-801c-4972-8de3-db9652a56db2"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"bodyParameters":{"parameters":[{"name":"app_id","value":"cli_a473f1bdfb38100a"},{"name":"app_secret","value":"sdMUBkuLWk0hvNV5mXMwR3UQyKGuNn57"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"f79ef5f4-a3c7-4af6-977e-a807b27438fa","name":"tenantAccess3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[840,880]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/TSFHbueczasqfdsmOKpu6Piesse/tables/tblHPxuVIfSMMy8D/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"tenantAccess3\"].json[\"body\"][\"tenant_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"id\": \"{{ $('MB - SEPAY').item.json[\"body\"][\"id\"] }}\",\n    \"transactionDate\": \"{{$('MB - SEPAY').item.json[\"body\"][\"transactionDate\"]}}\",\n    \"gateway\": \"{{$('MB - SEPAY').item.json[\"body\"][\"gateway\"]}}\",\n    \"accountNumber\": \"{{$('MB - SEPAY').item.json[\"body\"][\"accountNumber\"]}}\",\n    \"transferAmount\": \"{{$('MB - SEPAY').item.json[\"body\"][\"transferAmount\"]}}\",\n    \"referenceCode\": \"{{$('MB - SEPAY').item.json[\"body\"][\"referenceCode\"]}}\",\n    \"content\": \"{{ $('MB - SEPAY').item.json[\"body\"][\"content\"] }}\",\n    \"transferType\": \"{{$('MB - SEPAY').item.json[\"body\"][\"transferType\"]}}\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"8aa61463-2e20-4ef1-a10f-e73d49650533","name":"Add record3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1060,880]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/TSFHbueczasqfdsmOKpu6Piesse/tables/tblHPxuVIfSMMy8D/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"tenantAccess\"].json[\"body\"][\"tenant_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"id\": \"{{ $('Vietcombank - Sepay').item.json[\"body\"][\"id\"] }}\",\n    \"transactionDate\": \"{{$('Vietcombank - Sepay').item.json[\"body\"][\"transactionDate\"]}}\",\n    \"gateway\": \"{{$('Vietcombank - Sepay').item.json[\"body\"][\"gateway\"]}}\",\n    \"accountNumber\": \"{{$('Vietcombank - Sepay').item.json[\"body\"][\"accountNumber\"]}}\",\n    \"transferAmount\": \"{{$('Vietcombank - Sepay').item.json[\"body\"][\"transferAmount\"]}}\",\n    \"referenceCode\": \"{{$('Vietcombank - Sepay').item.json[\"body\"][\"referenceCode\"]}}\",\n    \"content\": \"{{ $('Vietcombank - Sepay').item.json[\"body\"][\"content\"] }}\",\n    \"transferType\": \"{{$('Vietcombank - Sepay').item.json[\"body\"][\"transferType\"]}}\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"fd5e4f80-3909-43fc-a963-e793cffc3356","name":"Add record","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1060,280]},{"parameters":{"url":"https://open.larksuite.com/open-apis/wiki/v2/spaces/get_node","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"G2XawPvTJi6sg9kN4oWueCyQsTc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"tenantAccess\"].json[\"body\"][\"tenant_access_token\"] }}"}]},"options":{"queryParameterArrays":"repeat","response":{"response":{"fullResponse":true}}}},"id":"75ce34a6-1d96-4516-8e32-bbb1060d124c","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1380,180]}],"connections":{"tenantAccess":{"main":[[{"node":"Add record","type":"main","index":0}]]},"Vietcombank - Sepay":{"main":[[{"node":"tenantAccess","type":"main","index":0}]]},"tenantAccess1":{"main":[[{"node":"Add record1","type":"main","index":0}]]},"BIDV 3151035063 - Sepay":{"main":[[{"node":"tenantAccess1","type":"main","index":0}]]},"BIDV 3150877095 - Sepay":{"main":[[{"node":"tenantAccess2","type":"main","index":0}]]},"tenantAccess2":{"main":[[{"node":"Add record2","type":"main","index":0}]]},"MB - SEPAY":{"main":[[{"node":"tenantAccess3","type":"main","index":0}]]},"tenantAccess3":{"main":[[{"node":"Add record3","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"a6c27ef0-d0ae-4fbc-8f82-327f8598b6d4","triggerCount":4,"tags":[]}