gmail to base-471.json
{"createdAt":"2023-08-11T04:54:10.559Z","updatedAt":"2023-08-15T21:54:24.000Z","id":"471","name":"Gmail to Base","active":true,"nodes":[{"parameters":{"jsCode":"// Lấy nội dung văn bản đầu vào từ n8n\nconst inbut = $(\"Gmail\").first().json;\nconst inbutText = inbut.text;\nconst inputText = inbut.html;\n// Sử dụng biểu thức chính quy để trích xuất các thông tin\nconst nameMatch = inputText.match(/<div style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;\">([^<]*)<\\/div>/);\nconst amountMatch = inputText.match(/<div style=\"font-size: 28px;line-height: 32px;color: #050505; padding-top: 2px; font-weight: 600;\" class=\"mb_inl\">([^<]*)<\\/div>/);\nconst currencyMatch = inputText.match(/\\(([^)]*)\\)<\\/div><\\/td>/);\nconst adIdMatch = inputText.match(/txid=([^&\"]+)/);\nconst adIdLink = inputText.match(/<a href=\"([^\"]*)/)\nconst dateRangeMatch = inputText.match(/<div style=\"font-size: 13px;line-height: 16px;color: #050505;\" class=\"mb_inl\">([^<]*)/);\nconst invoiceReasonMatch = inbutText.match(/Lý do lập hóa đơn: ([^₫]*)./);\nconst productTypeMatch = inbutText.match(/Loại sản phẩm: ([^Lý]*)./);\nconst paymentMethodMatch = inbutText.match(/PHƯƠNG THỨC THANH TOÁN: ([^Số]*)./);\nconst referenceNumberMatch = inbutText.match(/Số tham chiếu: ([^ Chiến]*)/);\nconst invoiceNumberMatch = inputText.match(/Số hóa đơn: ([^<]*)/);\nconst customerMatch = inputText.match(/Khách hàng: ([^<]*)/);\nconst addressMatch = inputText.match(/Địa chỉ: ([^<]*)/);\n// Lập trình thêm các biểu thức chính quy khác để trích xuất các thông tin còn lại\n\n// Trích xuất thông tin từ các kết quả khớp\nconst accountName = nameMatch && nameMatch[1];\nconst amount1 = amountMatch && amountMatch[1];\n//Đổi tiền thành số\nconst amountString = amount1;\nconst amountWithoutCurrency = amountString.replace(/[^\\d-]/g, \"\");\nconst amount = Math.floor(parseFloat(amountWithoutCurrency));\nconst currency = currencyMatch && currencyMatch[1].trim();\n//tiếp tục\nconst adId = adIdMatch && adIdMatch[1];\nconst adURL = adIdLink && adIdLink[1];\nconst dateRange = dateRangeMatch && dateRangeMatch[1];\nconst invoiceReason = invoiceReasonMatch && invoiceReasonMatch[1];\nconst productType = productTypeMatch && productTypeMatch[1];\nconst paymentMethod = paymentMethodMatch && paymentMethodMatch[1];\nconst referenceNumber = referenceNumberMatch && referenceNumberMatch[1];\nconst invoiceNumber = invoiceNumberMatch && invoiceNumberMatch[1];\nconst customer = customerMatch && customerMatch[1];\nconst address = addressMatch && addressMatch[1];\n// Lập trình thêm các biến để lưu trữ các thông tin còn lại\n\n// Tạo đối tượng JSON để chứa tất cả các thông tin trích xuất\nconst fields = {\n  \"TenTaiKhoanQC\": accountName,\n  \"SoTien\": amount,\n  \"Currency\": currency,\n  \"Idgiaodich\": {\"link\": adURL,\n          \"text\": adId},\n  \"KhoangNgay\": dateRange,\n  \"LyDoLapHoaDon\": invoiceReason,\n  \"LoaiSanPham\": productType,\n  \"PhuongThucThanhToan\": paymentMethod,\n  \"SoThamChieu\": referenceNumber,\n  // Lập trình thêm các thông tin còn lại vào đây\n};\n\n// Trả về đối tượng JSON chứa tất cả thông tin trích xuất\nconst records = [];\nrecords.push({ fields });\nlet result = { json: { records } };\nreturn result;\n"},"id":"1c5a3f16-250d-4351-b4d7-297e43cbcbd9","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[1480,240]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread","sender":"advertise-noreply@support.facebook.com"},"options":{}},"id":"8657bc9f-fbf1-48a0-b331-8f0e407c71cd","name":"Gmail","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[1080,400],"alwaysOutputData":true,"credentials":{"gmailOAuth2":{"id":"114","name":"Gmail account 3"}}},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal","sendBody":true,"bodyParameters":{"parameters":[{"name":"app_id","value":"cli_a45d02c7fb21d02f"},{"name":"app_secret","value":"bXVZGZ3GaZnqeQmJ8qs92flFvGVbEHSV"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"87558c80-01ef-455a-95ec-1e39c37bdcc7","name":"Lấy Tenant","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1700,240]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/PdU8bQkDDaqzZsssYJBlSHhPgLd/tables/tbl0QWieh4ScWg7p/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Lấy Tenant').item.json[\"body\"][\"tenant_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($node[\"Code\"].json[\"records\"]) }}}\n","options":{"response":{"response":{"fullResponse":true}}}},"id":"54c4c5db-59fb-48ba-8e11-6b8daead235a","name":"Bắn Base","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1900,240]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.subject }}","operation":"contains","value2":"Biên lai"}]}},"id":"6e5a9286-ac0f-4c9b-a3e0-9db5da5464ae","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1300,400]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal","sendBody":true,"bodyParameters":{"parameters":[{"name":"app_id","value":"cli_a45d02c7fb21d02f"},{"name":"app_secret","value":"bXVZGZ3GaZnqeQmJ8qs92flFvGVbEHSV"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"b8883560-96e3-41ad-801d-4ffd5c605b85","name":"Lấy Tenant1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1700,560]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/PdU8bQkDDaqzZsssYJBlSHhPgLd/tables/tbl0QWieh4ScWg7p/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Lấy Tenant').item.json[\"body\"][\"tenant_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($node[\"CodeE\"].json[\"records\"]) }}}\n","options":{"response":{"response":{"fullResponse":true}}}},"id":"25393be6-b68c-4984-b8fe-1ea0cdbdf4fa","name":"Bắn Base1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1900,560]},{"parameters":{"jsCode":"// Lấy nội dung văn bản đầu vào từ n8n\nconst inbut = $(\"Gmail\").first().json;\nconst inbutText = inbut.text;\nconst inputText = inbut.html;\n// Sử dụng biểu thức chính quy để trích xuất các thông tin\nconst nameMatch = inputText.match(/<div style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;\">([^<]*)<\\/div>/);\nconst amountMatch = inputText.match(/<div style=\"font-size: 28px;line-height: 32px;color: #050505; padding-top: 2px; font-weight: 600;\" class=\"mb_inl\">([^<]*)<\\/div>/);\nconst currencyMatch = inputText.match(/\\(([^)]*)\\)<\\/div><\\/td>/);\nconst adIdMatch = inputText.match(/txid=([^&\"]+)/);\nconst adIdLink = inputText.match(/<a href=\"([^\"]*)/)\nconst dateRangeMatch = inputText.match(/<div style=\"font-size: 13px;line-height: 16px;color: #050505;\" class=\"mb_inl\">([^<]*)/);\nconst invoiceReasonMatch = inbutText.match(/Billing reason: ([^.<]*)./);\nconst productTypeMatch = inbutText.match(/Product type: ([^Billing]*)./);\nconst paymentMethodMatch = inbutText.match(/Payment method: ([^Reference]*)./);\nconst referenceNumberMatch = inbutText.match(/Reference number: ([^ </p]*)/);\nconst invoiceNumberMatch = inputText.match(/Số hóa đơn: ([^<]*)/);\nconst customerMatch = inputText.match(/Khách hàng: ([^<]*)/);\nconst addressMatch = inputText.match(/Địa chỉ: ([^<]*)/);\n// Lập trình thêm các biểu thức chính quy khác để trích xuất các thông tin còn lại\n\n// Trích xuất thông tin từ các kết quả khớp\nconst accountName = nameMatch && nameMatch[1];\nconst amount1 = amountMatch && amountMatch[1];\n//Đổi tiền thành số\nconst amountString = amount1;\nconst amountWithoutCurrency = amountString.replace(/[^\\d-]/g, \"\");\nconst amount = Math.floor(parseFloat(amountWithoutCurrency));\nconst currency = currencyMatch && currencyMatch[1].trim();\n//tiếp tục\nconst adId = adIdMatch && adIdMatch[1];\nconst adURL = adIdLink && adIdLink[1];\nconst dateRange = dateRangeMatch && dateRangeMatch[1];\nconst invoiceReason = invoiceReasonMatch && invoiceReasonMatch[1];\nconst productType = productTypeMatch && productTypeMatch[1];\nconst paymentMethod = paymentMethodMatch && paymentMethodMatch[1];\nconst referenceNumber = referenceNumberMatch && referenceNumberMatch[1];\nconst invoiceNumber = invoiceNumberMatch && invoiceNumberMatch[1];\nconst customer = customerMatch && customerMatch[1];\nconst address = addressMatch && addressMatch[1];\n// Lập trình thêm các biến để lưu trữ các thông tin còn lại\n\n// Tạo đối tượng JSON để chứa tất cả các thông tin trích xuất\nconst fields = {\n  \"TenTaiKhoanQC\": accountName,\n  \"SoTien\": amount,\n  \"Currency\": currency,\n  \"Idgiaodich\": {\"link\": adURL,\n          \"text\": adId},\n  \"KhoangNgay\": dateRange,\n  \"LyDoLapHoaDon\": invoiceReason,\n  \"LoaiSanPham\": productType,\n  \"PhuongThucThanhToan\": paymentMethod,\n  \"SoThamChieu\": referenceNumber,\n  // Lập trình thêm các thông tin còn lại vào đây\n};\n\n// Trả về đối tượng JSON chứa tất cả thông tin trích xuất\nconst records = [];\nrecords.push({ fields });\nlet result = { json: { records } };\nreturn result;\n"},"id":"2a8ae737-807a-41aa-af64-4f4b52a1289c","name":"CodeE","type":"n8n-nodes-base.code","typeVersion":1,"position":[1480,560]}],"connections":{"Gmail":{"main":[[{"node":"IF","type":"main","index":0}]]},"Code":{"main":[[{"node":"Lấy Tenant","type":"main","index":0}]]},"Lấy Tenant":{"main":[[{"node":"Bắn Base","type":"main","index":0}]]},"IF":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"CodeE","type":"main","index":0}]]},"Lấy Tenant1":{"main":[[{"node":"Bắn Base1","type":"main","index":0}]]},"CodeE":{"main":[[{"node":"Lấy Tenant1","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Gmail":{"possibleDuplicates":["189fb30e9183b764"],"lastTimeChecked":1692136422}},"pinData":{"Gmail":[{"json":{"id":"189eb175d022ba89","threadId":"189e886830bdd298","labelIds":["UNREAD","CATEGORY_UPDATES","INBOX"],"sizeEstimate":32428,"headers":{"delivered-to":"Delivered-To: thongbao@notiez.net","received":"Received: from 69-171-232-131.mail-mail.facebook.com (69-171-232-131.mail-mail.facebook.com. [69.171.232.131])\r\n        by mx.google.com with ESMTPS id e7-20020ac85987000000b00403fbb9a8a5si3906086qte.269.2023.08.12.11.52.04\r\n        for <thongbao@notiez.net>\r\n        (version=TLS1_3 cipher=TLS_AES_256_GCM_SHA384 bits=256/256);\r\n        Sat, 12 Aug 2023 11:52:04 -0700 (PDT)","x-google-smtp-source":"X-Google-Smtp-Source: AGHT+IEJX9k2feCjGS8CwpmfgptRlRgy4wXgqpORn6itApdKyNLG2nj09D3hWyHw/3lazVykMzaZ","x-received":"X-Received: by 2002:a05:620a:29d4:b0:767:1e66:5511 with SMTP id s20-20020a05620a29d400b007671e665511mr10091630qkp.38.1691866324404;\r\n        Sat, 12 Aug 2023 11:52:04 -0700 (PDT)","arc-seal":"ARC-Seal: i=1; a=rsa-sha256; t=1691866324; cv=none;\r\n        d=google.com; s=arc-20160816;\r\n        b=HGoj6OSSB250IVyy4ytAKyrsITP3Fu9m3A/xkw/mtZ6iloiBfLME57OLacyZ4iyFQK\r\n         j6G4cmT+YTSi0lgU9pNg/at3v/hECZ/0j/2Oxm4uGhd9Tw2Ms/PHgcFuPL9E9BcO05mx\r\n         6l+4hM6jGJjsG0fMV9/FO6nJhGeUx4GRP/XoY/h/U529Nh5niYtoeIF7jr1sNCKOJrls\r\n         Q6QndkCii4wEWTSTRlGpBRpazWFbnp52uuEjy2lxaCCwt/nZlnZdkfbBBMPkpXo98MDG\r\n         nTStRc8JEMONNoW49lfR4eA5tjluAUIafdo9vwrV/3VXWVkIrefJcagLAMxVd3RvlQT7\r\n         9bKA==","arc-message-signature":"ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20160816;\r\n        h=message-id:mime-version:feedback-id:list-unsubscribe:errors-to\r\n         :reply-to:from:subject:to:date:dkim-signature;\r\n        bh=9+nsvJLI91ZinBncfxa6u2llwbvLIFXdQX0llUQXPRI=;\r\n        fh=32iMPaV92hepHBb7Z+UwIZ1q0fDmEpWsI3CscD5sEfs=;\r\n        b=wF+p7xYr90nArymRXVcgXP+qcwtpID600/s7KOrhXMpf0Ej82Z3ogYsl0C0KZMK8wl\r\n         AAvtWYWo9m877hMrHebQDovc5Ro2D1t7M7ejbn3/gbD/14JE5YFlrRn0F8r/ugl7oAuz\r\n         y2xIDExlNScBbY6HbLEbc3pJEKnAifxoodO9XhLp68Pcs9DzHfV1I2rJ0AUuingaVNNt\r\n         cEBLf6CcuYstU40YFtAH96J49YHTKD9R/8mOZj0SkRi/iBVrmDmBIamuo0X3Ytoc9n6v\r\n         9VdeOwN8PlPKOlNauy55fioC3FOqGiTg+0tj8/M9evUPmf7/sJ53ucqnAt+61+BIK/rp\r\n         lD1w==","arc-authentication-results":"ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@support.facebook.com header.s=s1024-2013-q3 header.b=Iyg5I2+j;\r\n       spf=pass (google.com: domain of advertise-noreply@support.facebook.com designates 69.171.232.131 as permitted sender) smtp.mailfrom=advertise-noreply@support.facebook.com;\r\n       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=support.facebook.com","return-path":"Return-Path: advertise-noreply@support.facebook.com","received-spf":"Received-SPF: pass (google.com: domain of advertise-noreply@support.facebook.com designates 69.171.232.131 as permitted sender) client-ip=69.171.232.131;","authentication-results":"Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@support.facebook.com header.s=s1024-2013-q3 header.b=Iyg5I2+j;\r\n       spf=pass (google.com: domain of advertise-noreply@support.facebook.com designates 69.171.232.131 as permitted sender) smtp.mailfrom=advertise-noreply@support.facebook.com;\r\n       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=support.facebook.com","dkim-signature":"DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/simple; d=support.facebook.com;\r\n\ts=s1024-2013-q3; t=1691866311;\r\n\tbh=9+nsvJLI91ZinBncfxa6u2llwbvLIFXdQX0llUQXPRI=;\r\n\th=Date:To:Subject:From:MIME-Version:Content-Type;\r\n\tb=Iyg5I2+jeY9TTguu79AyyPTNKmliqaXkrzixi2E30y5pVDxRcM0UwhJVTgcwEnzhr\r\n\t /z2bX5zoPWRZuUhs71o9MiKBxxEGZSf7A9mI9C4KWwK1zS/ZIlzFvgWoH3N+A9xE9z\r\n\t mP5izN93YcoN7XvxTBw9Fltgv3gyptfdUI/zyGXI=","x-facebook":"X-Facebook: from 2401:db00:275c:5d2b:face:0:287:0 ([MTI3LjAuMC4x]) \r\n\tby thrift.internalfb.com with HTTPS (ZuckMail);","date":"Date: Sat, 12 Aug 2023 11:51:51 -0700","to":"To: Jhay Padilla Stamaria <thongbao@notiez.net>","subject":"Subject: Your Meta ads receipt (Account ID: 864295931620402)","x-priority":"X-Priority: 3","x-mailer":"X-Mailer: ZuckMail [version 1.00]","from":"From: \"Meta for Business\" <advertise-noreply@support.facebook.com>","reply-to":"Reply-to: noreply <noreply@facebookmail.com>","errors-to":"Errors-To: advertise-noreply@support.facebook.com","x-facebook-notify":"X-Facebook-Notify: aymt_billing_transaction_tip:aymt_billing_transaction_tip; mailid=U1U602be0858dbfaG5af5f640e687G602be51eedeccG7b8","list-unsubscribe":"List-Unsubscribe: <https://facebook.com/aymt/unsubscribe/?c=8717741464962997&n=6414208620323484092&t=6046181175492956>","feedback-id":"Feedback-ID: 0:aymt_billing_transaction_tip:Facebook","x-facebook-priority":"X-FACEBOOK-PRIORITY: 0","x-auto-response-suppress":"X-Auto-Response-Suppress: All","mime-version":"MIME-Version: 1.0","content-type":"Content-Type: multipart/alternative;\r\n\tboundary=\"b1_2a7949bcc81810446e371c37026f82a6\"","message-id":"Message-ID: <4c740b38-3941-11ee-8e21-dddce12e229f@support.facebook.com>"},"html":"<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional //EN\"><html><head><title>Facebook</title><meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" /><style nonce=\"ps3Mb6o4\">@media all and (max-width: 480px){*[class].ib_t{min-width:100% !important}*[class].ib_row{display:block !important}*[class].ib_ext{display:block !important;padding:10px 0 5px 0;vertical-align:top !important;width:100% !important}*[class].ib_img,*[class].ib_mid{vertical-align:top !important}*[class].mb_blk{display:block !important;padding-bottom:10px;width:100% !important}*[class].mb_hide{display:none !important}*[class].mb_inl{display:inline !important}*[class].d_mb_flex{display:block !important}}.d_mb_show{display:none}.d_mb_flex{display:flex}@media only screen and (max-device-width: 480px){.d_mb_hide{display:none !important}.d_mb_show{display:block !important}.d_mb_flex{display:block !important}}.mb_text h1,.mb_text h2,.mb_text h3,.mb_text h4,.mb_text h5,.mb_text h6{line-height:normal}.mb_work_text h1{font-size:18px;line-height:normal;margin-top:4px}.mb_work_text h2,.mb_work_text h3{font-size:16px;line-height:normal;margin-top:4px}.mb_work_text h4,.mb_work_text h5,.mb_work_text h6{font-size:14px;line-height:normal}.mb_work_text a{color:#1270e9}.mb_work_text p{margin-top:4px}</style></head><body style=\"margin:0;padding:0;\" dir=\"ltr\" bgcolor=\"#F8F8F8\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\" id=\"email_table\" style=\"border-collapse:collapse;\"><tr><td id=\"email_content\" style=\"font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#F8F8F8;\"><table border=\"0\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr style=\"\"><td height=\"20\" style=\"line-height:20px;\" colspan=\"3\">&nbsp;</td></tr><tr><td height=\"1\" colspan=\"3\" style=\"line-height:1px;\"><span style=\"color:#FFFFFF;font-size:1px;opacity:0;\"></span></td></tr><tr><td width=\"15\" style=\"display:block;width:15px;\">&nbsp;&nbsp;&nbsp;</td><td style=\"\"><table border=\"0\" width=\"\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;margin-left:auto;margin-right:auto;\"><tr style=\"\"><td height=\"15\" style=\"line-height:15px;\" colspan=\"3\">&nbsp;</td></tr><tr><td width=\"100%\" style=\"\"><a href=\"https://www.facebook.com/ads/billing_email/email_actions/?act=864295931620402&amp;txid=6415476311899663-13084382&amp;tx_type=3&amp;email_action=view_billing_table\" style=\"color:#1877f2;text-decoration:none;font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:19px;line-height:32px;\"><div style=\"margin-left:auto;margin-right:auto;display:flex;\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td colspan=\"1\" style=\"\"><img width=\"80\" src=\"https://facebook.com/images/audience_network/meta-logo.png\" height=\"16\" style=\"border:0;\" /></td></tr></table></div></a></td></tr></table></td><td width=\"15\" style=\"display:block;width:15px;\">&nbsp;&nbsp;&nbsp;</td></tr><tr><td width=\"15\" style=\"display:block;width:15px;\">&nbsp;&nbsp;&nbsp;</td><td style=\"\"><table border=\"0\" width=\"\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;margin-left:auto;margin-right:auto;\"><tr style=\"\"><td height=\"28\" style=\"line-height:28px;\">&nbsp;</td></tr><tr><td style=\"\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;background:#FFFFFF;margin-left:auto;margin-right:auto;padding:16px;width:500px;\"><tr><td align=\"center\" style=\"font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;background:#FFFFFF;margin-left:auto;margin-right:auto;padding:16px;width:500px;padding-bottom:12px;\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td style=\"vertical-align:top;\"><div><div style=\"color:#65676B;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;\">Receipt for:</div><div style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;\">NLM T08 T4904 TTN20 (864295931620402)</div></div></td><td style=\"vertical-align:top;\"><div><div style=\"color: #65676B; font-size: 12 px; text-align: right;\">Transaction ID:</div><div style=\"font-size: 12 px; text-align: right;\"><a href=\"https://www.facebook.com/ads/billing_email/email_actions/?act=864295931620402&amp;txid=6415476311899663-13084382&amp;tx_type=3&amp;email_action=view_transaction_detail\" style=\"color:#1763CF;text-decoration:none;\">6415476311899663-13084382</a></div></div></td></tr><tr style=\"border-bottom:solid 1px #e5e5e5;\"><td height=\"10\" style=\"line-height:10px;\">&nbsp;</td></tr><tr><td colspan=\"2\" style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:18px;padding-top:24px;\">Payment summary</td></tr><tr><td class=\"mb_blk\" style=\"padding-top:12px;padding-right:24px;vertical-align:top;margin-right:auto;\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td style=\"color:#65676B;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;\">Amount billed</td></tr><tr><td style=\"\"><div style=\"font-size: 28px;line-height: 32px;color: #050505; padding-top: 2px; font-weight: 600;\" class=\"mb_inl\">£5.00 GBP</div></td></tr></table></td><td class=\"mb_blk\" style=\"padding-top:12px;vertical-align:top;\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td style=\"color:#65676B;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;\">Date range</td></tr><tr><td style=\"\"><div style=\"font-size: 13px;line-height: 16px;color: #050505;\" class=\"mb_inl\">Aug 12, 2023, 12:00 AM - Aug 12, 2023, 11:51 AM</div></td></tr></table></td></tr><tr><td class=\"mb_blk\" style=\"padding-top:12px;padding-right:24px;vertical-align:top;margin-right:auto;\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td style=\"color:#65676B;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;\">Billing reason</td></tr><tr><td style=\"\"><div style=\"font-size: 13px;line-height: 16px;color: #050505;\" class=\"mb_inl\">You&#039;re being billed because you reached your £5.00 payment threshold.</div></td></tr></table></td><td class=\"mb_blk\" style=\"padding-top:12px;vertical-align:top;\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td style=\"color:#65676B;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;\">Product type</td></tr><tr><td style=\"\"><div style=\"font-size: 13px;line-height: 16px;color: #050505;\" class=\"mb_inl\">Meta ads</div></td></tr></table></td></tr><tr><td class=\"mb_blk\" style=\"padding-top:12px;padding-right:24px;vertical-align:top;margin-right:auto;\"></td><td class=\"mb_blk\" style=\"padding-top:12px;vertical-align:top;\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td style=\"color:#65676B;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;\">Payment method</td></tr><tr><td style=\"\"><div style=\"font-size: 13px;line-height: 16px;color: #050505;\" class=\"mb_inl\">Visa · 4904</div></td></tr></table></td></tr><tr><td style=\"\"></td><td class=\"mb_blk\" colspan=\"1\" style=\"padding-top:12px;vertical-align:top;\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td style=\"color:#65676B;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;\">Reference number<img title=\"You can use the reference number to find this charge on your credit card statement.\" src=\"https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/WlqL9POXtQt.png\" style=\"border:0;margin-left:4px;vertical-align:middle;width:12px;height:12px;\" /></td></tr><tr><td style=\"\"><div style=\"color:#141823;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;font-weight:bold;\" class=\"mb_inl\">V42VGS3RH2</div></td></tr></table></td></tr></table></td></tr><tr><td align=\"center\" style=\"font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;background:#FFFFFF;margin-left:auto;margin-right:auto;padding:16px;width:500px;padding-top:12px;padding-bottom:12px;\"><table border=\"0\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td style=\"\"><table border=\"0\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;border-bottom:solid 1px #e5e5e5;border-top:solid 1px #e5e5e5;\"><tr><td style=\"color:#65676B;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:16px;width:226px;padding-top:8px;padding-bottom:8px;padding-right:16px;vertical-align:middle;\">Campaign</td><td style=\"color:#65676B;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;width:105px;padding-right:16px;line-height:16px;text-align:left;\">Results</td><td style=\"color:#65676B;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;width:105px;text-align:right;line-height:16px;\">Amount</td></tr></table></td></tr><tr><td style=\"padding-bottom:16px;\"><table border=\"0\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td width=\"213px\" style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;line-height:16px;padding-top:16px;padding-right:16px;vertical-align:middle;\">New Sales Campaign</td><td width=\"105px\" style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;padding-top:16px;\"><div>651</div><div style=\"color:#050505;font-size:12px;line-height:16px;min-width:105px;\">Số lần hiển thị</div></td><td width=\"105px\" style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;text-align:right;\">£5.00</td></tr></table></td></tr><tr><td style=\"\"></td></tr></table></td></tr><tr><td align=\"center\" style=\"font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;background:#FFFFFF;margin-left:auto;margin-right:auto;padding:16px;width:500px;padding-top:12px;\"><table border=\"0\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td style=\"\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"></table></td></tr><tr><td style=\"\"><table border=\"0\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td style=\"font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;line-height:16px;color:#050505;padding-top:16px;width:218px;\">Total</td><td class=\"ib_row\" style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:15px;font-weight:bold;text-align:right;vertical-align:middle;padding-top:16px;width:218px;\">£5.00</td></tr></table></td></tr></table></td></tr></table></td></tr><tr style=\"\"><td height=\"28\" style=\"line-height:28px;\">&nbsp;</td></tr><tr><td style=\"\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;background:#FFFFFF;margin-left:auto;margin-right:auto;padding:16px;width:500px;\"><tr><td style=\"font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;background:#FFFFFF;margin-left:auto;margin-right:auto;padding:16px;width:500px;padding-bottom:12px;\"><table border=\"0\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:18px;\">Detailed report</td></tr><tr class=\"mb_hide\"><tr style=\"\"><td height=\"14\" style=\"line-height:14px;\">&nbsp;</td></tr></tr><tr><td style=\"\"><table border=\"0\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;border-bottom:solid 1px #e5e5e5;border-top:solid 1px #e5e5e5;\"><tr><td style=\"color:#65676B;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;line-height:16px;width:226px;padding-top:8px;padding-bottom:8px;padding-right:16px;vertical-align:middle;\">Campaign</td><td style=\"color:#65676B;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;width:105px;padding-right:16px;line-height:16px;text-align:left;\">Results</td><td style=\"color:#65676B;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:12px;width:105px;text-align:right;line-height:16px;\">Amount</td></tr></table></td></tr><tr><td style=\"\"><table border=\"0\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td class=\"mb_blk\" style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;font-weight:bold;line-height:16px;padding-top:16px;padding-right:16px;vertical-align:middle;\">New Sales Campaign</td></tr><tr><td style=\"padding-bottom:16px;\"><table border=\"0\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td class=\"ib_row\" style=\"color:#141823;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;width:226px;padding-right:16px;padding-top:8px;\">1108 bsy</td><td style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;padding-top:16px;\"><div>651</div><div style=\"color:#050505;font-size:12px;line-height:16px;min-width:105px;\">Số lần hiển thị</div></td><td style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;text-align:right;\">£1.86</td></tr><tr><td class=\"ib_row\" style=\"color:#141823;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;width:226px;padding-right:16px;padding-top:8px;\">1208 bsy - Copy</td><td style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;padding-top:16px;\"><div>651</div><div style=\"color:#050505;font-size:12px;line-height:16px;min-width:105px;\">Số lần hiển thị</div></td><td style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;text-align:right;\">£0.70</td></tr><tr><td class=\"ib_row\" style=\"color:#141823;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;width:226px;padding-right:16px;padding-top:8px;\">1208 bsy - Copy</td><td style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;padding-top:16px;\"><div>651</div><div style=\"color:#050505;font-size:12px;line-height:16px;min-width:105px;\">Số lần hiển thị</div></td><td style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;text-align:right;\">£0.83</td></tr><tr><td class=\"ib_row\" style=\"color:#141823;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;width:226px;padding-right:16px;padding-top:8px;\">1208 bsy - Copy</td><td style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;padding-top:16px;\"><div>651</div><div style=\"color:#050505;font-size:12px;line-height:16px;min-width:105px;\">Số lần hiển thị</div></td><td style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;text-align:right;\">£0.75</td></tr><tr><td class=\"ib_row\" style=\"color:#141823;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;width:226px;padding-right:16px;padding-top:8px;\">1208 bsy - Copy</td><td style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;padding-top:16px;\"><div>651</div><div style=\"color:#050505;font-size:12px;line-height:16px;min-width:105px;\">Số lần hiển thị</div></td><td style=\"color:#050505;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;text-align:right;\">£0.86</td></tr></table></td></tr></table></td></tr></table></td></tr><tr><td style=\"font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;background:#FFFFFF;margin-left:auto;margin-right:auto;padding:16px;width:500px;padding-top:12px;\"><table border=\"0\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td width=\"218px\" style=\"\"><div style=\"float:right;\"><a href=\"https://www.facebook.com/ads/billing_email/email_actions/?act=864295931620402&amp;txid=6415476311899663-13084382&amp;tx_type=3&amp;email_action=view_transaction_detail\" style=\"color:#1b74e4;text-decoration:none;\"><table border=\"0\" width=\"160px\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td align=\"end\" valign=\"center\" style=\"background:#1B74E4;border-radius:6px;font-weight:500;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:15px;justify-content:center;width:160px;height:36px;align-items:center;text-align:center;white-space:nowrap;\"><a href=\"https://www.facebook.com/ads/billing_email/email_actions/?act=864295931620402&amp;txid=6415476311899663-13084382&amp;tx_type=3&amp;email_action=view_transaction_detail\" style=\"color:#1b74e4;text-decoration:none;\"><span style=\"font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;vertical-align:center;font-size:15px;line-height:20px;color:#FFFFFF;\">See full receipt</span></a></td></tr></table></a></div></td><td width=\"8\" class=\"mb_hide\" style=\"\"></td><td width=\"218px\" style=\"\"><a href=\"https://www.facebook.com/ads/billing_email/email_actions/?act=864295931620402&amp;txid=6415476311899663-13084382&amp;tx_type=3&amp;email_action=manage_ads\" style=\"color:#1b74e4;text-decoration:none;\"><table border=\"0\" width=\"160px\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><td style=\"background:#E4E6EB;border-radius:6px;font-weight:500;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:15px;justify-content:center;width:160px;height:36px;align-items:center;text-align:center;white-space:nowrap;\"><a href=\"https://www.facebook.com/ads/billing_email/email_actions/?act=864295931620402&amp;txid=6415476311899663-13084382&amp;tx_type=3&amp;email_action=manage_ads\" style=\"color:#1b74e4;text-decoration:none;\"><span style=\"font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;vertical-align:center;font-size:15px;line-height:20px;color:#050505;\">Manage your ads</span></a></td></tr></table></a></td></tr></table></td></tr></table></td></tr><tr style=\"\"><td height=\"28\" style=\"line-height:28px;\">&nbsp;</td></tr><tr><td style=\"\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;background:#FFFFFF;margin-left:auto;margin-right:auto;padding:16px;width:500px;\"><tr><td style=\"font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;background:#FFFFFF;margin-left:auto;margin-right:auto;padding:16px;width:500px;\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;\"><tr><div style=\"color:#141823;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;display:block;\"><img style=\"border:0;vertical-align:top;padding:0 8px 0 0;\" src=\"https://static.xx.fbcdn.net/rsrc.php/v3/yR/r/cd77wzgbEDf.png\" />You&#039;ll receive your next bill when your ad costs reach £5.00 or on your monthly bill date, whichever comes first.; </div></tr></table></td></tr></table></td></tr><tr style=\"\"><td height=\"28\" style=\"line-height:28px;\">&nbsp;</td></tr><tr><td style=\"\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;background:#FFFFFF;margin-left:auto;margin-right:auto;padding:16px;width:500px;\"><tr><td style=\"font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;background:#FFFFFF;margin-left:auto;margin-right:auto;padding:16px;width:500px;\"><table border=\"0\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse;display:flex;\"><tr><td style=\"\"><img style=\"border:0;padding-right:8px;\" src=\"https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/pnBCz-BQLWn.png\" /><td style=\"color:#141823;font-family:SF Pro Text, Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:13px;display:block;\">You’re now being billed by Meta Platforms Ireland Limited, formerly Facebook Ireland Limited.</td></td></tr></table></td></tr></table></td></tr><tr style=\"\"><td height=\"28\" style=\"line-height:28px;\">&nbsp;</td></tr></table></td><td width=\"15\" style=\"display:block;width:15px;\">&nbsp;&nbsp;&nbsp;</td></tr><tr><td width=\"15\" style=\"display:block;width:15px;\">&nbsp;&nbsp;&nbsp;</td><td style=\"\"><table border=\"0\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" align=\"left\" style=\"border-collapse:collapse;\"><tr style=\"border-top:solid 1px #e5e5e5;\"><td height=\"19\" style=\"line-height:19px;\">&nbsp;</td></tr><tr><td style=\"font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:11px;color:#aaaaaa;line-height:16px;\">This is an automated message. Please do not reply. If you have questions about ads, you can <a href=\"https://www.facebook.com/business/resources/\" style=\"color:#1b74e4;text-decoration:none;\">get help</a>. You can also manage your <a href=\"https://www.facebook.com/ads/billing_email/email_actions/?act=864295931620402&amp;txid=6415476311899663-13084382&amp;tx_type=3&amp;email_action=manage_settings\" style=\"color:#1b74e4;text-decoration:none;\">email notification settings</a> for this ad account.<br />Meta Platforms, Inc., Attention: Community Support, 1 Facebook Way, Menlo Park, CA 94025</td></tr></table></td><td width=\"15\" style=\"display:block;width:15px;\">&nbsp;&nbsp;&nbsp;</td></tr><tr style=\"\"><td height=\"20\" style=\"line-height:20px;\" colspan=\"3\">&nbsp;</td></tr></table><span style=\"\"><img src=\"https://facebook.com/aymt/aa/?e=%7B%22c%22%3A%22f%3Dd6l1pce6zlf1%22%2C%22t%22%3A%22fz2j46zj%3Ds0s4y%22%2C%22n%22%3A%22z0cos69f6a2jasfy%22%7D\" style=\"border:0;width:1px;height:1px;\" /></span></td></tr></table></body></html>\n\n\n","text":"Hi Jhay,\n\nPayment summaryAmount billed: £5.00 GBP Date range: Aug 12, 2023, 12:00 AM - Aug 12, 2023, 11:51 AM Product type: Meta ads Billing reason: You're being billed because you reached your £5.00 payment threshold. Payment method: Visa · 4904 Reference number: V42VGS3RH2 \n\nCampaign: New Sales CampaignResults: 651 (Số lần hiển thị) Amount: £5.00\n\nTAX: TOTAL: £5.00 GBP\n\nDetailed report CampaignResultsAmountNew Sales Campaign1108 bsy651Số lần hiển thị£1.861208 bsy - Copy651Số lần hiển thị£0.701208 bsy - Copy651Số lần hiển thị£0.831208 bsy - Copy651Số lần hiển thị£0.751208 bsy - Copy651Số lần hiển thị£0.86\n\nTransaction ID: 6415476311899663-13084382\n\nSee full receipt[https://www.facebook.com/ads/billing_email/email_actions/?act=864295931620402&txid=6415476311899663-13084382&tx_type=3&email_action=view_transaction_detail] \n\nManage your ads[https://www.facebook.com/ads/billing_email/email_actions/?act=864295931620402&txid=6415476311899663-13084382&tx_type=3&email_action=manage_ads] \n\nYou’re now being billed by Meta Platforms Ireland Limited, formerly Facebook Ireland Limited.\n\nThanks,\nThe Facebook team\n\n\n\n========================================\nThis message was sent to thongbao@notiez.net. If you don't want to receive these emails from Meta in the future, please follow the link below to unsubscribe.\nhttps://facebook.com/aymt/unsubscribe/?c=8717741464962997&n=6414208620323484092&t=6046181175492956\nMeta Platforms, Inc., Attention: Community Support, 1 Facebook Way, Menlo Park, CA 94025\n\n","textAsHtml":"<p>Hi Jhay,</p><p>Payment summaryAmount billed: &pound;5.00&nbsp;GBP Date range: Aug 12, 2023, 12:00 AM - Aug 12, 2023, 11:51 AM Product type: Meta ads Billing reason: You&apos;re being billed because you reached your &pound;5.00 payment threshold. Payment method: Visa&nbsp;&middot;&nbsp;4904 Reference number: V42VGS3RH2</p><p>Campaign: New Sales CampaignResults: 651 (S&#x1ED1; l&#x1EA7;n hi&#x1EC3;n th&#x1ECB;) Amount: &pound;5.00</p><p>TAX: TOTAL: &pound;5.00&nbsp;GBP</p><p>Detailed report&nbsp;CampaignResultsAmountNew Sales Campaign1108 bsy651S&#x1ED1; l&#x1EA7;n hi&#x1EC3;n th&#x1ECB;&pound;1.861208 bsy - Copy651S&#x1ED1; l&#x1EA7;n hi&#x1EC3;n th&#x1ECB;&pound;0.701208 bsy - Copy651S&#x1ED1; l&#x1EA7;n hi&#x1EC3;n th&#x1ECB;&pound;0.831208 bsy - Copy651S&#x1ED1; l&#x1EA7;n hi&#x1EC3;n th&#x1ECB;&pound;0.751208 bsy - Copy651S&#x1ED1; l&#x1EA7;n hi&#x1EC3;n th&#x1ECB;&pound;0.86</p><p>Transaction ID: 6415476311899663-13084382</p><p>See full receipt[<a href=\"https://www.facebook.com/ads/billing_email/email_actions/?act=864295931620402&txid=6415476311899663-13084382&tx_type=3&email_action=view_transaction_detail\">https://www.facebook.com/ads/billing_email/email_actions/?act=864295931620402&txid=6415476311899663-13084382&tx_type=3&email_action=view_transaction_detail</a>]</p><p>Manage your ads[<a href=\"https://www.facebook.com/ads/billing_email/email_actions/?act=864295931620402&txid=6415476311899663-13084382&tx_type=3&email_action=manage_ads\">https://www.facebook.com/ads/billing_email/email_actions/?act=864295931620402&txid=6415476311899663-13084382&tx_type=3&email_action=manage_ads</a>]</p><p>You&rsquo;re now being billed by Meta Platforms Ireland Limited, formerly Facebook Ireland Limited.</p><p>Thanks,<br/>The Facebook team</p><p>========================================<br/>This message was sent to <a href=\"mailto:thongbao@notiez.net\">thongbao@notiez.net</a>. If you don&apos;t want to receive these emails from Meta in the future, please follow the link below to unsubscribe.<br/><a href=\"https://facebook.com/aymt/unsubscribe/?c=8717741464962997&n=6414208620323484092&t=6046181175492956\">https://facebook.com/aymt/unsubscribe/?c=8717741464962997&n=6414208620323484092&t=6046181175492956</a><br/>Meta Platforms, Inc., Attention: Community Support, 1 Facebook Way, Menlo Park, CA 94025</p>","subject":"Your Meta ads receipt (Account ID: 864295931620402)","date":"2023-08-12T18:51:51.000Z","to":{"value":[{"address":"thongbao@notiez.net","name":"Jhay Padilla Stamaria"}],"html":"<span class=\"mp_address_group\"><span class=\"mp_address_name\">Jhay Padilla Stamaria</span> &lt;<a href=\"mailto:thongbao@notiez.net\" class=\"mp_address_email\">thongbao@notiez.net</a>&gt;</span>","text":"Jhay Padilla Stamaria <thongbao@notiez.net>"},"from":{"value":[{"address":"advertise-noreply@support.facebook.com","name":"Meta for Business"}],"html":"<span class=\"mp_address_group\"><span class=\"mp_address_name\">Meta for Business</span> &lt;<a href=\"mailto:advertise-noreply@support.facebook.com\" class=\"mp_address_email\">advertise-noreply@support.facebook.com</a>&gt;</span>","text":"Meta for Business <advertise-noreply@support.facebook.com>"},"messageId":"<4c740b38-3941-11ee-8e21-dddce12e229f@support.facebook.com>","replyTo":{"value":[{"address":"noreply@facebookmail.com","name":"noreply"}],"html":"<span class=\"mp_address_group\"><span class=\"mp_address_name\">noreply</span> &lt;<a href=\"mailto:noreply@facebookmail.com\" class=\"mp_address_email\">noreply@facebookmail.com</a>&gt;</span>","text":"noreply <noreply@facebookmail.com>"}},"pairedItem":{"item":0}}]},"versionId":"3161dd00-12bd-497a-aaa9-073f115ee634","triggerCount":1,"tags":[]}