google to base-527.json
{"createdAt":"2023-09-13T01:50:55.817Z","updatedAt":"2023-09-20T08:48:54.000Z","id":"527","name":"Google to Base","active":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":12}]}},"name":"Cron","type":"n8n-nodes-base.cron","position":[-960,760],"typeVersion":1,"id":"81926d47-7700-43b4-9d2a-a47404c54923"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1riqLG5Dtk5SVdKxLDDZ-F5hy9yOgduFP9blbIitrqik","mode":"id"},"sheetName":{"__rl":true,"value":1150801244,"mode":"list","cachedResultName":"Facebook Ads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1riqLG5Dtk5SVdKxLDDZ-F5hy9yOgduFP9blbIitrqik/edit#gid=1150801244"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A:M"}}}},"id":"a8b03575-b13d-4fd6-b0a0-30df3ba41a9e","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-760,760],"credentials":{"googleApi":{"id":"119","name":"Google Service Account account"}}},{"parameters":{"values":{"string":[{"name":"appId","value":"cli_a4728c89b9b89010"},{"name":"appSecret","value":"VPxBThYjNh7CuRxNnXWQoGXCZmz7NWuP"},{"name":"baseId","value":"AYlRbXuWzaoThTsHtjult88dgMe"},{"name":"tableId","value":"tblzB4H147PIJmd1"}]},"options":{}},"id":"21606c22-aa8b-4ad9-a015-e933180bef72","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[-320,760]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"={ \"app_id\" : \"{{ $('Set').item.json[\"appId\"] }}\", \"app_secret\" : \"{{ $('Set').item.json[\"appSecret\"] }}\"  }","options":{}},"id":"afbe6288-1e4d-4060-a980-aff9d00b2907","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[100,740],"alwaysOutputData":false,"executeOnce":true},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $('Set').item.json[\"baseId\"] }}/tables/{{ $('Set').item.json[\"tableId\"] }}/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \n \"fields\": \n{ \n\"DateCV\" : \"{{ $('Split In Batches').item.json[\"Date\"] }}\",\n\"Campaign Name\" : \"{{ $('Split In Batches').item.json[\"Campaign Name\"] }}\",\n\"Spend\" : {{ $('Split In Batches').item.json[\"Spend\"] }},\n\"Mess\" : {{ $('Split In Batches').item.json[\"New Messaging Conversations\"] }}\n}\n}","options":{}},"id":"7c07cac0-4ce5-4a06-b0a1-fa5d99a4fd79","name":"Add base","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[300,740],"alwaysOutputData":false,"notesInFlow":false},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"d9aaf8a7-637a-4ab5-aa25-7054e90a1f1a","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-100,760]}],"connections":{"Cron":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Add base","type":"main","index":0}]]},"Add base":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"0bb85c88-e026-4ec0-8a0f-74caeea72720","triggerCount":1,"tags":[]}