google to base-527.json
{"createdAt":"2023-09-13T01:50:55.817Z","updatedAt":"2023-11-04T07:03:09.000Z","id":"527","name":"Google to Base","active":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":3}]}},"name":"Cron","type":"n8n-nodes-base.cron","position":[-960,760],"typeVersion":1,"id":"81926d47-7700-43b4-9d2a-a47404c54923"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1lCSWwCCAzaRjHpBcuDK4EDFQb8DtrgabX3ZnjPsmp98","mode":"id"},"sheetName":{"__rl":true,"value":1687896489,"mode":"list","cachedResultName":"Facebook Ads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lCSWwCCAzaRjHpBcuDK4EDFQb8DtrgabX3ZnjPsmp98/edit#gid=1687896489"},"options":{}},"id":"a8b03575-b13d-4fd6-b0a0-30df3ba41a9e","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-340,760],"credentials":{"googleApi":{"id":"119","name":"Google Service Account account"}}},{"parameters":{"values":{"string":[{"name":"appId","value":"cli_a4728c89b9b89010"},{"name":"appSecret","value":"VPxBThYjNh7CuRxNnXWQoGXCZmz7NWuP"},{"name":"baseId","value":"Jqwzb3KdSaP6Szsm5k4lTybogLe"},{"name":"tableId","value":"tbluOICcEjsiDwj6"}]},"options":{}},"id":"21606c22-aa8b-4ad9-a015-e933180bef72","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[-700,760]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"={ \"app_id\" : \"{{ $('Set').first().json[\"appId\"] }}\", \"app_secret\" : \"{{ $('Set').first().json[\"appSecret\"] }}\"  }","options":{}},"id":"afbe6288-1e4d-4060-a980-aff9d00b2907","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[80,760],"alwaysOutputData":false,"executeOnce":true},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $('Set').first().json[\"baseId\"] }}/tables/{{ $('Set').first().json[\"tableId\"] }}/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Code').item.json }}","options":{}},"id":"7c07cac0-4ce5-4a06-b0a1-fa5d99a4fd79","name":"Add base","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[260,760],"alwaysOutputData":false,"notesInFlow":false},{"parameters":{"jsCode":"var data = []\nfor (const item of $input.all()) {\n  data.push({fields : item.json}) \n}\n\nreturn {  \"records\" :  data  }"},"id":"2e1443d5-5f13-4617-9406-00b0f1b22f29","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[-100,760]}],"connections":{"Cron":{"main":[[{"node":"Set","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Code","type":"main","index":0}]]},"Set":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Add base","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"d34cef9f-f030-4b54-9cd6-3219de041737","triggerCount":1,"tags":[]}