gr_its_nhan tin-466.json
{"createdAt":"2023-08-09T15:35:18.667Z","updatedAt":"2023-08-09T22:20:27.000Z","id":"466","name":"GR_ITS_NHAN TIN","active":true,"nodes":[{"parameters":{"authentication":"basicAuth","httpMethod":"POST","path":"grnhantin","options":{}},"id":"e4a638b8-705e-435a-b018-1a1b4ffdfcda","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[560,220],"webhookId":"4eaf2da1-6afa-4270-8992-14a2acdca69c","credentials":{"httpBasicAuth":{"id":"99","name":"GSKK"}}},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"={ \"app_id\" : \"{{ $('setData').item.json[\"appId\"] }}\",\n \"app_secret\" : \"{{ $('setData').item.json[\"appSecret\"] }}\" } ","options":{}},"id":"42b0e02a-5328-40a1-9588-d1fd783765d7","name":"app_token","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[940,220]},{"parameters":{"values":{"string":[{"name":"appId","value":"cli_a459df5dd6b8500a"},{"name":"appSecret","value":"TTFD16iqQU0Psui0fewGVg2q2bcWIFBt"}]},"options":{}},"id":"46369d94-05cf-4e4d-ac28-bfae03fbc605","name":"setData","type":"n8n-nodes-base.set","typeVersion":2,"position":[700,220]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/AWm3bqwpvaGbCxszQXWue30fsne/tables/tblzPeEZ79pcecO1/records\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\" : {\"Ma_NV\":\"{{ $('Webhook').item.json.body.Ma_NV }}\",\n\"Ho_Ten\":\"{{ $('Webhook').item.json.body['Ho_ten'] }}\",\n\"Du_An\":\"{{ $('Webhook').item.json.body['Du_an'] }}\",\n\"Seri\":\" {{ $('Webhook').item.json.body['Seri_may'] }}\",\n\"Email\":\"{{ $('setData').item.json.body.Email }}\",\n\"DAlink\":\"{{ $('setData').item.json.body.DAlink }}\",\n\"ĐT\" : \"{{ $('Webhook').item.json.body.DT }}\"}}","options":{}},"id":"7b6c3402-ac30-44f0-8312-bce8d0a689d2","name":"Update record","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1160,220]},{"parameters":{"fromEmail":"ITS <its@co.grgr.vn>","toEmail":"={{ $('setData').item.json.body.Email }}","subject":"=GRGR | {{ $('setData').item.json.body.subemail }}","emailFormat":"html","html":"=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      background-color: #73B4FF; /* Màu nền */\n      font-family: Arial, sans-serif; /* Font chữ */\n      color: #ffffff; /* Màu chữ */\n    }\n    .container {\n      max-width: 600px;\n      margin: 0 auto;\n      padding: 20px;\n      text-align: center;\n    }\n    h1 {\n      font-size: 24px;\n      color: #ffffff;\n      margin-top: 0;\n    }\n    p {\n      font-size: 16px;\n      color: #ffffff;\n    }\n    .logo {\n      display: block;\n      margin-bottom: 20px;\n    }\n    .button-container {\n      display: flex;\n      justify-content: center;\n      align-items: center;\n    }\n    .button {\n      display: inline-block;\n      background-color:#FFFFFF;\n      color: #000000;\n      padding: 10px 20px;\n      margin-top: 20px;\n      text-decoration: None;\n      border-radius: 4px;\n    }\n    .contact-info {\n      font-size: 14px;\n      margin-top: 20px;\n    }\n    .contact-info a {\n      color: #ffffff;\n      text-decoration: underline;\n    }\n  </style>\n</head>\n<body>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n    <tr>\n      <td align=\"center\" valign=\"top\">\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"00\">\n          <tr>\n            <td align=\"center\" bgcolor=\"275D8C\" style=\"padding: 10px;\">\n              <img src=\"http://grgr.vn/Content/img/Logo.png\" alt=\"Logo\" class=\"logo\" width=\"200\" height=\"100\">\n              <h1>XÁC NHẬN</h1>\n            </td>\n          </tr>\n          <tr>\n            <td bgcolor=\"#275D8C\" style=\"padding: 20px;\">\n              <p>CHÚNG TÔI ĐÃ NHẬN TIN  <br>và sẽ phản hồi trong vòng 24h</p>\n              \n              <div class=\"button-container\">\n                <a href=\"linkts\" class=\"button\">THANK YOU! </a>\n\n              </div>\n              \n              <div class=\"contact-info\">\n                <p>Phòng IT</p>\n                <p>Hotline: 0938 12 78 12</p>\n              </div>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>","options":{"ccEmail":"its@co.grgr.vn"}},"id":"ce038c4c-88c0-401f-bd3d-e5b43943eeb1","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1380,220],"credentials":{"smtp":{"id":"56","name":"SMTP account 6"}}}],"connections":{"Webhook":{"main":[[{"node":"setData","type":"main","index":0}]]},"app_token":{"main":[[{"node":"Update record","type":"main","index":0}]]},"setData":{"main":[[{"node":"app_token","type":"main","index":0}]]},"Update record":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"8006c429-7ae7-4ebd-98a4-37ad9863251e","triggerCount":1,"tags":[{"createdAt":"2023-08-09T10:15:29.236Z","updatedAt":"2023-08-09T10:15:29.236Z","id":"35","name":"GRGR_ITS"}]}