grgr_its_nhap_cap_doi-465.json
{"createdAt":"2023-08-09T10:15:38.472Z","updatedAt":"2023-08-10T02:26:38.000Z","id":"465","name":"GRGR_ITS_Nhap_Cap_Doi","active":true,"nodes":[{"parameters":{"authentication":"basicAuth","httpMethod":"POST","path":"GRNK","options":{}},"id":"be3f9265-5d88-4b1c-b0b0-4e25e3656697","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,220],"webhookId":"6464da6c-6bf7-4826-a70b-3a8692b9a0c2","credentials":{"httpBasicAuth":{"id":"99","name":"GSKK"}}},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"={ \"app_id\" : \"{{ $('setData').item.json[\"appId\"] }}\",\n \"app_secret\" : \"{{ $('setData').item.json[\"appSecret\"] }}\" } ","options":{}},"id":"3f593065-9f8b-4d38-ad39-12abbd52a6ef","name":"app_token","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[960,220]},{"parameters":{"values":{"string":[{"name":"appId","value":"cli_a459df5dd6b8500a"},{"name":"appSecret","value":"TTFD16iqQU0Psui0fewGVg2q2bcWIFBt"}]},"options":{}},"id":"59f821d2-77ce-464d-a5de-f130bb11613b","name":"setData","type":"n8n-nodes-base.set","typeVersion":2,"position":[820,220]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/AWm3bqwpvaGbCxszQXWue30fsne/tables/tbl2LjuqhtUy33XA/records\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\" : {\"Ma_NV\":\"{{ $('Webhook').item.json.body.Ma_NV }}\",\n\"Ho_Ten\":\"{{ $('Webhook').item.json.body['Ho_ten'] }}\",\n\"Du_An\":\"{{ $('Webhook').item.json.body['Du_an'] }}\",\n\"Seri\":\" {{ $('Webhook').item.json.body['Seri_may'] }}\",\n\"Email\":\"{{ $('setData').item.json.body.Email }}\",\n\"DAlink\":\"{{ $('setData').item.json.body.DAlink }}\",\n\"ĐT\" : \"{{ $('Webhook').item.json.body.DT }}\"}}","options":{}},"id":"39f0ec0e-1407-4be9-a8f6-d2944a77f014","name":"Update record","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1140,220]},{"parameters":{"fromEmail":"ITS<bienban@co.grgr.vn>","toEmail":"={{ $('setData').item.json.body.Email }}","subject":"=GS | {{ $('setData').item.json.body.subemail }}","emailFormat":"html","html":"=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      background-color: #73B4FF; /* Màu nền */\n      font-family: Arial, sans-serif; /* Font chữ */\n      color: #ffffff; /* Màu chữ */\n    }\n    .container {\n      max-width: 600px;\n      margin: 0 auto;\n      padding: 20px;\n      text-align: center;\n    }\n    h1 {\n      font-size: 24px;\n      color: #ffffff;\n      margin-top: 0;\n    }\n    p {\n      font-size: 16px;\n      color: #ffffff;\n    }\n    .logo {\n      display: block;\n      margin-bottom: 20px;\n    }\n    .button-container {\n      display: flex;\n      justify-content: center;\n      align-items: center;\n    }\n    .button {\n      display: inline-block;\n      background-color:#FFFFFF;\n      color: #000000;\n      padding: 10px 20px;\n      margin-top: 20px;\n      text-decoration: None;\n      border-radius: 4px;\n    }\n    .contact-info {\n      font-size: 14px;\n      margin-top: 20px;\n    }\n    .contact-info a {\n      color: #ffffff;\n      text-decoration: underline;\n    }\n  </style>\n</head>\n<body>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n    <tr>\n      <td align=\"center\" valign=\"top\">\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"00\">\n          <tr>\n            <td align=\"center\" bgcolor=\"236DCF\" style=\"padding: 10px;\">\n              <img src=\"http://grgr.vn/Content/img/Logo.png\" alt=\"Logo\" class=\"logo\" width=\"200\" height=\"100\">\n              <h1>THÔNG BÁO</h1>\n            </td>\n          </tr>\n          <tr>\n            <td bgcolor=\"#1200B8\" style=\"padding: 20px;\">\n              <p>BẠN ĐÃ NHẬN MÁY:</p>\n              \n              <div class=\"button-container\">\n                <a href=\"linkts\" class=\"button\">Seri No.:  {{ $json.data.record.fields.Seri }} </a>\n\n              </div>\n              \n              <div class=\"contact-info\">\n                <p>Phòng IT</p>\n                <p>Hotline: 0938 12 78 12</p>\n              </div>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>","options":{"ccEmail":"bienban@co.grgr.vn"}},"id":"3a7b000a-07c5-49ce-87f3-8ce0ab23ed2c","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1300,220],"credentials":{"smtp":{"id":"56","name":"SMTP account 6"}}},{"parameters":{"amount":30,"unit":"seconds"},"id":"99cf223d-c040-44ad-992f-e437e61165b3","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[700,60],"webhookId":"9ae0d685-56f3-49ab-838e-f60c1b920b23"},{"parameters":{"conditions":{"string":[{"value1":"={{$('Webhook').item.json.body.DAlink}}","value2":"Kiemke_may"}]}},"id":"3b30a965-b459-48a4-999f-efd8475541c0","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[460,80]}],"connections":{"Webhook":{"main":[[{"node":"IF","type":"main","index":0}]]},"app_token":{"main":[[{"node":"Update record","type":"main","index":0}]]},"setData":{"main":[[{"node":"app_token","type":"main","index":0}]]},"Update record":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"IF":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"setData","type":"main","index":0}]]},"Wait":{"main":[[{"node":"setData","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"682cdded-2005-49aa-8fef-a8abdedd316f","triggerCount":1,"tags":[{"createdAt":"2023-08-09T10:15:29.236Z","updatedAt":"2023-08-09T10:15:29.236Z","id":"35","name":"GRGR_ITS"}]}