hr_talo04 - update -working confirm- after confirming the link button on the email interview has pass-131.json
{"createdAt":"2023-06-13T17:40:53.410Z","updatedAt":"2023-06-13T17:59:33.000Z","id":"131","name":"HR_Talo04 - Update \"Working Confirm\" after confirming the link button on the email Interview has PASS","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"{   \"app_id\": \"cli_a4c3e66985f8900a\",   \"app_secret\": \"ZLlDbTSOFGmX37k65jikZfsqEb2VF7jy\" }","options":{}},"id":"4c681da4-76c6-4269-aa62-573a44e7ae4a","name":"Lark Tenant","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[480,400]},{"parameters":{"path":"working-confirm","options":{"responseData":"Thank you for confirming the working star time. Please arrive for the fist working day!"}},"id":"4a6e7180-0cc8-44ef-a77c-2b017774e184","name":"Webhook (when click link confirm interview)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[260,400],"webhookId":"6cb69a29-5c4f-490e-b05c-a94af51c2513"},{"parameters":{"method":"PUT","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/RyEhb4l5IaBHUhsGS1aucjzjsAh/tables/tbllRKm8U4LMQE6j/records/{{$('Webhook (when click link confirm interview)').item.json.query.recordID}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\": {\"Working Confirm\":\"Yes\"}}","options":{}},"id":"cb979bf1-8c1a-4bb3-b483-821559231cc3","name":"Update record (field \"Working Confirm\")","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[700,400]}],"connections":{"Lark Tenant":{"main":[[{"node":"Update record (field \"Working Confirm\")","type":"main","index":0}]]},"Webhook (when click link confirm interview)":{"main":[[{"node":"Lark Tenant","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"0201ab6a-a0d3-4233-91a8-6eafa50675f4","triggerCount":1,"tags":[{"createdAt":"2023-06-12T18:12:08.363Z","updatedAt":"2023-06-12T18:12:08.363Z","id":"19","name":"HR"}]}