hr_talo02 - update -interview confirm- after confirming the link button on the email - ok-120.json
{"createdAt":"2023-06-09T18:33:56.761Z","updatedAt":"2023-06-12T18:12:09.000Z","id":"120","name":"HR_Talo02 - Update \"Interview Confirm\" after confirming the link button on the email - OK","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"{   \"app_id\": \"cli_a4c3e66985f8900a\",   \"app_secret\": \"ZLlDbTSOFGmX37k65jikZfsqEb2VF7jy\" }","options":{}},"id":"6e84a56f-e43f-41cc-b073-739410347bcb","name":"Lark Tenant","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[480,400]},{"parameters":{"path":"interview-confirm","options":{"responseData":"Thank you for confirming the interview schedule. Please arrive for the interview on time."}},"id":"a0e9c213-e979-48c4-8bb5-691bd80d9bc7","name":"Webhook (when click link confirm interview)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[260,400],"webhookId":"9669169e-54e5-4ef1-85df-c6fc6036961a"},{"parameters":{"method":"PUT","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/RyEhb4l5IaBHUhsGS1aucjzjsAh/tables/tbllRKm8U4LMQE6j/records/{{$('Webhook (when click link confirm interview)').item.json.query.RecordID}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\": {\"Interview Confirm\":\"Yes\"}}","options":{}},"id":"c968a28f-e29d-4223-87c6-08cd88be1567","name":"Update record (field \"Interview confirm\")","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[700,400]}],"connections":{"Lark Tenant":{"main":[[{"node":"Update record (field \"Interview confirm\")","type":"main","index":0}]]},"Webhook (when click link confirm interview)":{"main":[[{"node":"Lark Tenant","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"9543141f-84ef-4916-947b-b615751668cc","triggerCount":1,"tags":[{"createdAt":"2023-06-12T18:12:08.363Z","updatedAt":"2023-06-12T18:12:08.363Z","id":"19","name":"HR"}]}