hr_talo05 create new user larksuite (lark bị lỗi ko làm được)-130.json
{"createdAt":"2023-06-13T11:38:06.902Z","updatedAt":"2023-06-13T17:39:00.000Z","id":"130","name":"HR_Talo05 Create new user Larksuite (Lark bị lỗi ko làm được)","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"create-user","options":{}},"id":"04f016f4-92a1-496b-8d24-89dad55f0dbb","name":"Get user info","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[580,320],"webhookId":"05d4a245-11a0-4799-a9e4-31616e1dde08"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"{   \"app_id\": \"cli_a4c3e66985f8900a\",   \"app_secret\": \"ZLlDbTSOFGmX37k65jikZfsqEb2VF7jy\" }","options":{}},"id":"07e8d87f-5af9-4beb-b270-52ac2cc4ec64","name":"Lark Tenant","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[780,320]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/contact/v3/users","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"name\": \"John\",\n    \"en_name\": \"San Zhang\",\n    \"nickname\": \"Alex Zhang\",\n    \"email\": \"zhangsan1@gmail.com\",\n    \"mobile\": \"+41446681800\",\n    \"gender\": 1,\n    \"employee_type\": 1,\n    \"department_ids\": [\n        \"7217372441436225542\"\n    ],\n    \"leader_user_id\": \"921ee7e2\",\n    \"city\": \"HCM\",\n    \"country\": \"VN\"\n}","options":{}},"id":"1b8df576-af0a-42eb-ad4b-e9202e6ab023","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[980,320]}],"connections":{"Get user info":{"main":[[{"node":"Lark Tenant","type":"main","index":0}]]},"Lark Tenant":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"a0109b04-fcb3-4a10-8661-82ffa490a455","triggerCount":0,"tags":[]}