hỏi tiền 39-223.json
{"createdAt":"2023-07-23T17:04:03.699Z","updatedAt":"2023-07-23T19:24:59.000Z","id":"223","name":"hỏi tiền 39","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"39-hoi-tien","responseMode":"responseNode","options":{"rawBody":true}},"id":"5cd358a3-e66e-4ef4-a130-198a1e7ef940","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[820,420],"webhookId":"25d7dd84-c0a1-42d3-bcb5-874829ea04d3","alwaysOutputData":false},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"{   \"app_id\": \"cli_a438be409938d02f\",   \"app_secret\": \"JQVHt8heUABfGlVUDbqRLgBc45DHbBOe\" }","options":{}},"id":"1528b2ad-1eb0-4816-8f2a-4b08d26d51a3","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1040,420]},{"parameters":{"url":"https://open.larksuite.com/open-apis/bitable/v1/apps/SPqfbutsYaKiFrsBIY9lwnaRgag/tables/tblQmskZJ3NI6KRV/records/rec6gUtGKK","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"tenant_access_token\"] }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"5d536898-b10b-4ba4-9d36-81ef641d748b","name":"Lấy số tiền","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1260,420]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/im/v1/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"receive_id_type","value":"chat_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('HTTP Request').item.json[\"tenant_access_token\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={\"text\":\"Báo cáo đại ca, trong hôm nay tổng em nhận số tiền: {{ $json[\"Today\"] }} đ\"}"},{"name":"msg_type","value":"text"},{"name":"receive_id","value":"oc_17c5813e5ca810e29817bcdb09b3c30a"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"31b2ab47-3318-4292-858b-810bbdea95a0","name":"Bắn chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1920,420]},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"Today","value":"={{ $json.body.data.record.fields['hôm nay'] }}"}]},"options":{}},"id":"0f455ee6-a60e-4798-a08b-029ec94fab0e","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[1480,420]}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Lấy số tiền","type":"main","index":0}]]},"Lấy số tiền":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Bắn chat","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Make/production","content-length":"21","content-type":"application/json","traceparent":"00-00000000000000005997b461ff7d62a6-5997b461ff7d62a6-00","tracestate":"dd=t.dm:1;s:0","x-datadog-parent-id":"6455826923850130086","x-datadog-sampling-priority":"0","x-datadog-trace-id":"6455826923850130086","x-forwarded-for":"34.254.1.9","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"34.254.1.9","accept-encoding":"gzip"},"params":{},"query":{},"body":{"text":"@_user_1 $"}}}]},"versionId":"e62b5e88-9cc2-4c10-b524-e220fa9c559b","triggerCount":1,"tags":[]}