lấy thông tin đơn hitacamp-vn-488.json
{"createdAt":"2023-08-25T02:10:04.556Z","updatedAt":"2023-08-25T09:44:38.000Z","id":"488","name":"Lấy thông tin đơn hitacamp.vn","active":true,"nodes":[{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"p_qdh0kr1uq4ot64","table":"md_zz5topep4ihcke","options":{"where":"(check,blank)"}},"id":"535e007d-5c57-468b-88a2-35555418789f","name":"NocoDB","type":"n8n-nodes-base.nocoDb","typeVersion":2,"position":[980,560],"credentials":{"nocoDbApiToken":{"id":"118","name":"NocoDB Token account"}}},{"parameters":{"resource":"order","operation":"get","orderId":"={{ $json.order_id }}"},"id":"b7ff4e80-d5ec-4f94-9368-68f65500b897","name":"WooCommerce","type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[1200,560],"credentials":{"wooCommerceApi":{"id":"81","name":"HitaCamp.vn"}}},{"parameters":{"path":"get-info-order","options":{}},"id":"50ea25ac-f057-4184-87eb-fd94d25da26a","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[760,560],"webhookId":"b28e7476-d2d7-4c00-8d76-49c2ea96d9e8"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"p_qdh0kr1uq4ot64","table":"md_zz5topep4ihcke","id":"={{ $('NocoDB').item.json.Id }}","fieldsUi":{"fieldValues":[{"fieldName":"date create","fieldValue":"={{ $json.date_created }}"},{"fieldName":"name","fieldValue":"={{ $json.billing.first_name }}"},{"fieldName":"phone","fieldValue":"={{ $json.billing.phone }}"},{"fieldName":"email","fieldValue":"={{ $json.billing.email }}"},{"fieldName":"grade","fieldValue":"={{ $json.line_items[0].name }}"},{"fieldName":"diachi","fieldValue":"={{ $json.billing.address_1 }}"},{"fieldName":"check","fieldValue":"ok"}]}},"id":"8f43c551-6358-461f-844b-dddf5bd0b80a","name":"NocoDB1","type":"n8n-nodes-base.nocoDb","typeVersion":2,"position":[1420,560],"credentials":{"nocoDbApiToken":{"id":"118","name":"NocoDB Token account"}}}],"connections":{"NocoDB":{"main":[[{"node":"WooCommerce","type":"main","index":0}]]},"WooCommerce":{"main":[[{"node":"NocoDB1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"NocoDB","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br","accept-language":"vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX18tE3PyKuDWRWbU30tCyZxRaT78vww9ZPQ%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2Ba9XjKZBGwnvZqV5qVLBFO3JeSj1raisE%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVjOTI4YTJlLTE2NjgtNGMzMS1hYTE1LTM1NzM0Yzc0YTM3NiIsImVtYWlsIjoibWFya2V0aW5nLmhpdGFib3RAZ21haWwuY29tIiwicGFzc3dvcmQiOiJhMjM2NjUwM2ZlZmRhYmE2ZTc5MjBlODBiNjY4MThmMWQyMDc1MzVjNmM5YjE0NzRkN2Q4M2JjMWEyMTBiMDY2IiwiaWF0IjoxNjkyODgyNTA4LCJleHAiOjE2OTM0ODczMDh9._aqlmrqv8RTjBlk08cbecPUkksWq-ANygNDQ7lAwW_U; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18tffo3K5uogX0CA255K3yIqf44DuBMz0CXt0KixZSd0cVJnBmKkd1Eqt4VdxH6pU%2BcIGx0p3qxyg%3D%3D; rl_group_id=RudderEncrypt%3AU2FsdGVkX1%2FMDBcUzhOAwxkqH5sSw2fsYjXrbA3w4DY%3D; rl_group_trait=RudderEncrypt%3AU2FsdGVkX1%2B8aaufT%2Bp%2FmY00dutOWqDv%2FOxWw0inBr4%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19FUv%2BNnMQO%2FTxWEi39Qi0f3xWrAJ3BUw69eU%2FFkFJQ9VVmxS8Nn5BHWfRjiqOWEIe4WBIu8W9Rh9mfM%2FS31OxISdAgntLx3CPFa0Syyf10KtiLYx%2BHVdSdix8s72qAe15lKhDOWs%2FU1uhduRYkZ9Z9lntMtq%2Foj%2Bc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FB1Ph4n4uNUjJyTR2Hymr%2BDyNdrxXto5JfndaIZD5A%2B6BiovRFllcmsMmHno6t%2BwletxlHK0dzE886FI7UVXM%2FsClrYT7AP628ltTohU%2Bw%2FV5zEmYWY3%2BzsgJgpOqM%2BBaFZRCZQg%2FtFBwcejSSLeAmnFUQ5uEwmGg%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24active_feature_flags%22%3A%5B%22013_distribution_test%22%2C%22011_ask_AI%22%2C%22012_signup_cta_wording%22%2C%22009_choosing_trial_plan%22%2C%22006_cloud_opt_in%22%2C%22010_relevant_usecase%22%2C%22schema-view%22%5D%2C%22%24enabled_feature_flags%22%3A%7B%22013_distribution_test%22%3A%22variant%22%2C%22011_ask_AI%22%3A%22gpt3%22%2C%22012_signup_cta_wording%22%3A%22variant%22%2C%22009_choosing_trial_plan%22%3A%22control%22%2C%22004_checklist%22%3Afalse%2C%22008_template_variants%22%3Afalse%2C%22006_cloud_opt_in%22%3A%22control%22%2C%22010_relevant_usecase%22%3A%22control%22%2C%22schema-view%22%3Atrue%7D%2C%22%24feature_flag_payloads%22%3A%7B%7D%2C%22distinct_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%235c928a2e-1668-4c31-aa15-35734c74a376%22%2C%22%24device_id%22%3A%22018a21d6-167e-735e-bb88-4adda9eb3e2e%22%2C%22%24user_state%22%3A%22identified%22%2C%22%24user_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%235c928a2e-1668-4c31-aa15-35734c74a376%22%2C%22%24stored_person_properties%22%3A%7B%22instance_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%22%2C%22created_at_timestamp%22%3A1689569970679%7D%2C%22%24sesid%22%3A%5B1692955436288%2C%22018a2c00-16b9-7655-9b68-72d6a05c8426%22%2C1692955317945%5D%2C%22%24session_recording_enabled_server_side%22%3Afalse%2C%22%24autocapture_disabled_server_side%22%3Afalse%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2By8Eltu1r%2BgNcZeCYSu7U%2FHElpaxCjUFaBizPcaMHX6V5xfrstqt6NSRy7tyCXcPJmFecdh3mhwXAyTAzID0aDPiGMs4OGd1iO0rprGVjXm1z1OGM%2FKTXHBCL7Ny2th%2F0%2FfgCxalBwAg%3D%3D","if-none-match":"W/\"22-6OS7cK0FzqnV2NeDHdOSGS1bVUs\"","sec-ch-ua":"\"Chromium\";v=\"116\", \"Not)A;Brand\";v=\"24\", \"Google Chrome\";v=\"116\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"14.241.231.236","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"14.241.231.236"},"params":{},"query":{},"body":{}},"pairedItem":{"item":0}}],"NocoDB":[{"json":{"Id":31,"order_id":"31161","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":32,"order_id":"31255","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":33,"order_id":"31253","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":34,"order_id":"31241","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":35,"order_id":"31229","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":36,"order_id":"31213","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":37,"order_id":"31151","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":38,"order_id":"31145","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":39,"order_id":"31143","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":40,"order_id":"31138","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":41,"order_id":"30991","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":42,"order_id":"31278","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":43,"order_id":"31250","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":44,"order_id":"31268","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":45,"order_id":"31435","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":46,"order_id":"31381","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":47,"order_id":"31301","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":48,"order_id":"31299","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}},{"json":{"Id":49,"order_id":"31290","CreatedAt":"2023-08-25 04:23:56+00:00","UpdatedAt":"2023-08-25 04:43:28+00:00","name":null,"phone":null,"email":null,"date create":null,"grade":null,"diachi":null,"check":null},"pairedItem":{"item":0}}],"WooCommerce":[{"json":{"id":31161,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-20T15:41:34","date_modified":"2023-08-23T10:58:09","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"7521000","total_tax":"0","customer_id":48453,"order_key":"wc_order_rX1vsFUa7K27h","billing":{"first_name":"Đinh Thuỵ Ngoc Huyen Tram","last_name":"","company":"","address_1":"Duong so 1 kcn le minh binh chanh tphcm","address_2":"","city":"","state":"","postcode":"","country":"VN","email":"tinthong9@gmail.com","phone":"0916949119"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"2402:9d80:347:d56f:88f1:a673:3a12:7355","customer_user_agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.6 Mobile/15E148 Safari/604.1","created_via":"checkout","customer_note":"","date_completed":"2023-08-20T15:42:11","date_paid":"2023-08-20T15:41:38","cart_hash":"31564c07af05b50e8834bd12a7e72bc2","number":"31161","meta_data":[{"id":1038047,"key":"is_vat_exempt","value":"no"},{"id":1038048,"key":"marketing_status","value":"1"},{"id":1038050,"key":"wvw_currency_rate","value":"1"},{"id":1038051,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1038053,"key":"_bwfan_v2_wc_new_order","value":"3"},{"id":1038055,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1038056,"key":"_woofunnel_cid","value":"127039"},{"id":1038057,"key":"_bwfan_order_total_base","value":"7521000"},{"id":1038058,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"7521000"},{"id":1038059,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"7521000"},{"id":1038065,"key":"order_key","value":"wc_order_rX1vsFUa7K27h"},{"id":1038066,"key":"ref_id","value":"R_0906418268"},{"id":1038067,"key":"lws_woovip_pro_membership_done","value":"2023-08-20T08:42:15+00:00"},{"id":1038068,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-20T08:42:16+00:00"},{"id":1038069,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-20T08:42:16+00:00"},{"id":1038104,"key":"_wfob_stats_ids","value":[]},{"id":1038106,"key":"_wfocu_thankyou_visited","value":"yes"},{"id":1038116,"key":"_woofunnel_custid","value":"127039"},{"id":1043038,"key":"_cf_filter","value":""},{"id":1043039,"key":"_cf_filter_text_data","value":""}],"line_items":[{"id":19014,"name":"5PTB môn Toán – Lớp 3 (1 năm)","product_id":21124,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187603,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21134","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_3_TOAN-scaled.jpeg"},"parent_name":null},{"id":19015,"name":"5 PHÚT THUỘC BÀI 1 NĂM","product_id":16994,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"868000","subtotal_tax":"0","total":"868000","total_tax":"0","taxes":[],"meta_data":[{"id":187613,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":868000,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null},{"id":19016,"name":"5PTB môn Toán - Lớp 1 (1 năm)","product_id":21107,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187623,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21136","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_1_TIENGANH-scaled.jpeg"},"parent_name":null},{"id":19017,"name":"5PTB môn Toán – Lớp 2 (1 năm)","product_id":21121,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187633,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21135","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_2_TOAN-scaled.jpeg"},"parent_name":null},{"id":19018,"name":"5PTB môn Toán – Lớp 4 (1 năm)","product_id":21126,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187643,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21133","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_4_TOAN-scaled.jpeg"},"parent_name":null},{"id":19019,"name":"5PTB môn Toán – Lớp 5 (1 năm)","product_id":21128,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187653,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21132","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_5_TOAN-scaled.jpeg"},"parent_name":null},{"id":19020,"name":"5PTB môn Toán – Lớp 6 (1 năm)","product_id":21281,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187663,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21287","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_6_TOAN-scaled.jpeg"},"parent_name":null},{"id":19021,"name":"5PTB môn Toán – Lớp 7 (1 năm)","product_id":21296,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187673,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21286","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_7_TOAN-scaled.jpeg"},"parent_name":null},{"id":19022,"name":"5PTB môn Toán – Lớp 8 (Đại số, 1 năm)","product_id":21299,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187683,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21292","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_8_DAISO-scaled.jpeg"},"parent_name":null},{"id":19023,"name":"5PTB môn Toán – Lớp 8 (Hình học, 1 năm)","product_id":21302,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187693,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21284","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_8_HINHHOC-scaled.jpeg"},"parent_name":null},{"id":19024,"name":"5PTB môn Toán – Lớp 9 (Đại số, 1 năm)","product_id":21304,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187703,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21291","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_9_DAISO-scaled.jpeg"},"parent_name":null},{"id":19025,"name":"5PTB môn Toán – Lớp 9 (Hình học, 1 năm)","product_id":21323,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187713,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21283","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_9_HINHHOC-scaled.jpeg"},"parent_name":null},{"id":19026,"name":"5PTB môn Toán – Lớp 11 (Đại số, 1 năm)","product_id":21332,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187723,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21289","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_11_DAISO-scaled.jpeg"},"parent_name":null},{"id":19027,"name":"5PTB môn Toán – Lớp 11 (Hình học, 1 năm)","product_id":21334,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187733,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21294","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_11_HINHHOC-scaled.jpeg"},"parent_name":null},{"id":19028,"name":"5PTB môn Toán – Lớp 12 (Đại số, 1 năm)","product_id":21336,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187743,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21288","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_12_DAISO-scaled.jpeg"},"parent_name":null},{"id":19029,"name":"5PTB môn Toán – Lớp 12 (Hình học, 1 năm)","product_id":21339,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187753,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21293","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_12_HINHHOC-scaled.jpeg"},"parent_name":null},{"id":19030,"name":"5 PHÚT THUỘC BÀI 12 NĂM","product_id":16998,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"5168000","subtotal_tax":"0","total":"5168000","total_tax":"0","taxes":[],"meta_data":[{"id":187763,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":5168000,"image":{"id":"17127","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31161/?pay_for_order=true&key=wc_order_rX1vsFUa7K27h","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-20T08:41:34","date_modified_gmt":"2023-08-23T03:58:09","date_completed_gmt":"2023-08-20T08:42:11","date_paid_gmt":"2023-08-20T08:41:38","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31161"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/48453"}]}},"pairedItem":{"item":0}},{"json":{"id":31255,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-22T23:38:17","date_modified":"2023-08-22T23:38:29","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49701,"order_key":"wc_order_6e4DNzVypwUoB","billing":{"first_name":"Phạm Sỹ Nam","last_name":"","company":"","address_1":"163/14/4 Tô Hiến Thành, P13, Q 10, HCM","address_2":"","city":"","state":"","postcode":"","country":"","email":"psnam@sgu.edu.vn","phone":"0915111419"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"2402:800:6341:4f59:2c76:40c7:e999:348","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-22T23:38:29","date_paid":"2023-08-22T23:38:17","cart_hash":"88eee2e34acf507a5774f9a7155d1292","number":"31255","meta_data":[{"id":1042710,"key":"is_vat_exempt","value":"no"},{"id":1042711,"key":"marketing_status","value":"1"},{"id":1042713,"key":"wvw_currency_rate","value":"1"},{"id":1042714,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1042716,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1042718,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1042719,"key":"_woofunnel_cid","value":"53985"},{"id":1042720,"key":"_bwfan_order_total_base","value":"6752000"},{"id":1042721,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"6752000"},{"id":1042722,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"6752000"},{"id":1042725,"key":"order_key","value":"wc_order_6e4DNzVypwUoB"},{"id":1042726,"key":"ref_id","value":"R_0868287880"},{"id":1042729,"key":"lws_woovip_pro_membership_done","value":"2023-08-22T16:38:30+00:00"},{"id":1042730,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-22T16:38:30+00:00"},{"id":1042731,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-22T16:38:30+00:00"},{"id":1042733,"key":"_woofunnel_custid","value":"53985"},{"id":1042734,"key":"_wfob_stats_ids","value":[]},{"id":1042735,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19228,"name":"5 PHÚT THUỘC BÀI 12 NĂM","product_id":16998,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"5168000","subtotal_tax":"0","total":"5168000","total_tax":"0","taxes":[],"meta_data":[{"id":190041,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":5168000,"image":{"id":"17127","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-scaled.jpg"},"parent_name":null},{"id":19229,"name":"5PTB môn Toán - Lớp 1 (1 năm)","product_id":21107,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190051,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21136","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_1_TIENGANH-scaled.jpeg"},"parent_name":null},{"id":19230,"name":"5PTB môn Toán – Lớp 2 (1 năm)","product_id":21121,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190061,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21135","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_2_TOAN-scaled.jpeg"},"parent_name":null},{"id":19231,"name":"5PTB môn Toán – Lớp 3 (1 năm)","product_id":21124,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190071,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21134","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_3_TOAN-scaled.jpeg"},"parent_name":null},{"id":19232,"name":"5PTB môn Toán – Lớp 4 (1 năm)","product_id":21126,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190081,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21133","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_4_TOAN-scaled.jpeg"},"parent_name":null},{"id":19233,"name":"5PTB môn Toán – Lớp 5 (1 năm)","product_id":21128,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190091,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21132","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_5_TOAN-scaled.jpeg"},"parent_name":null},{"id":19234,"name":"5PTB môn Toán – Lớp 6 (1 năm)","product_id":21281,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190101,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21287","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_6_TOAN-scaled.jpeg"},"parent_name":null},{"id":19235,"name":"5PTB môn Toán – Lớp 7 (1 năm)","product_id":21296,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190111,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21286","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_7_TOAN-scaled.jpeg"},"parent_name":null},{"id":19236,"name":"5PTB môn Toán – Lớp 8 (Đại số, 1 năm)","product_id":21299,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190121,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21292","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_8_DAISO-scaled.jpeg"},"parent_name":null},{"id":19237,"name":"5PTB môn Toán – Lớp 8 (Hình học, 1 năm)","product_id":21302,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190131,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21284","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_8_HINHHOC-scaled.jpeg"},"parent_name":null},{"id":19238,"name":"5PTB môn Toán – Lớp 9 (Đại số, 1 năm)","product_id":21304,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190141,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21291","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_9_DAISO-scaled.jpeg"},"parent_name":null},{"id":19239,"name":"5PTB môn Toán – Lớp 9 (Hình học, 1 năm)","product_id":21323,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190151,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21283","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_9_HINHHOC-scaled.jpeg"},"parent_name":null},{"id":19240,"name":"5PTB môn Toán – Lớp 10 (1 năm)","product_id":21325,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190161,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21285","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_10_TOAN-scaled.jpeg"},"parent_name":null},{"id":19241,"name":"5PTB môn Toán – Lớp 11 (Đại số, 1 năm)","product_id":21332,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190171,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21289","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_11_DAISO-scaled.jpeg"},"parent_name":null},{"id":19242,"name":"5PTB môn Toán – Lớp 11 (Hình học, 1 năm)","product_id":21334,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190181,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21294","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_11_HINHHOC-scaled.jpeg"},"parent_name":null},{"id":19243,"name":"5PTB môn Toán – Lớp 12 (Đại số, 1 năm)","product_id":21336,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190191,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21288","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_12_DAISO-scaled.jpeg"},"parent_name":null},{"id":19244,"name":"5PTB môn Toán – Lớp 12 (Hình học, 1 năm)","product_id":21339,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":190201,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21293","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_12_HINHHOC-scaled.jpeg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31255/?pay_for_order=true&key=wc_order_6e4DNzVypwUoB","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-22T16:38:17","date_modified_gmt":"2023-08-22T16:38:29","date_completed_gmt":"2023-08-22T16:38:29","date_paid_gmt":"2023-08-22T16:38:17","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31255"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49701"}]}},"pairedItem":{"item":1}},{"json":{"id":31253,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-22T21:32:05","date_modified":"2023-08-22T21:32:15","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49008,"order_key":"wc_order_tWNxV6HMKRZ04","billing":{"first_name":"CHÂU THỊ HỒNG HẠNH","last_name":"","company":"","address_1":"211 TÂN SƠN, P15, TÂN BÌNH, TP.HCM","address_2":"","city":"","state":"","postcode":"","country":"","email":"hanh.chau0111@gmail.com","phone":"0908889204"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"171.252.154.22","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-22T21:32:15","date_paid":"2023-08-22T21:32:05","cart_hash":"34f81feea3af1e1fc0ec24bc06904916","number":"31253","meta_data":[{"id":1042581,"key":"is_vat_exempt","value":"no"},{"id":1042582,"key":"marketing_status","value":"1"},{"id":1042584,"key":"wvw_currency_rate","value":"1"},{"id":1042585,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1042587,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1042589,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1042590,"key":"_woofunnel_cid","value":"75204"},{"id":1042591,"key":"_bwfan_order_total_base","value":"5168000"},{"id":1042592,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"5168000"},{"id":1042593,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"5168000"},{"id":1042596,"key":"order_key","value":"wc_order_tWNxV6HMKRZ04"},{"id":1042597,"key":"ref_id","value":"R_0902953273"},{"id":1042600,"key":"lws_woovip_pro_membership_done","value":"2023-08-22T14:32:16+00:00"},{"id":1042601,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-22T14:32:16+00:00"},{"id":1042602,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-22T14:32:16+00:00"},{"id":1042604,"key":"_woofunnel_custid","value":"75204"},{"id":1042605,"key":"_wfob_stats_ids","value":[]},{"id":1042606,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19225,"name":"5 PHÚT THUỘC BÀI 12 NĂM","product_id":16998,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"5168000","subtotal_tax":"0","total":"5168000","total_tax":"0","taxes":[],"meta_data":[{"id":190013,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":5168000,"image":{"id":"17127","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31253/?pay_for_order=true&key=wc_order_tWNxV6HMKRZ04","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-22T14:32:05","date_modified_gmt":"2023-08-22T14:32:15","date_completed_gmt":"2023-08-22T14:32:15","date_paid_gmt":"2023-08-22T14:32:05","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31253"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49008"}]}},"pairedItem":{"item":2}},{"json":{"id":31241,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-22T16:34:25","date_modified":"2023-08-22T16:34:35","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49602,"order_key":"wc_order_cYfcfgJeuB6LS","billing":{"first_name":"NguyễnThị","last_name":"","company":"","address_1":"75/18 Nguyễn Sỹ Sách, Phường 15, Quận Tân Bình, TPHCM","address_2":"","city":"","state":"","postcode":"","country":"","email":"uyenntt@pathway.edu.vn","phone":"0986855605"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"14.169.94.72","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36 Edg/115.0.1901.203","created_via":"checkout","customer_note":"","date_completed":"2023-08-22T16:34:35","date_paid":"2023-08-22T16:34:26","cart_hash":"d7c628300893fc09030e0f797e56ace8","number":"31241","meta_data":[{"id":1042004,"key":"is_vat_exempt","value":"no"},{"id":1042005,"key":"marketing_status","value":"1"},{"id":1042007,"key":"wvw_currency_rate","value":"1"},{"id":1042008,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1042010,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1042012,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1042013,"key":"_woofunnel_cid","value":"53310"},{"id":1042014,"key":"_bwfan_order_total_base","value":"5168000"},{"id":1042015,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"5168000"},{"id":1042016,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"5168000"},{"id":1042019,"key":"order_key","value":"wc_order_cYfcfgJeuB6LS"},{"id":1042020,"key":"ref_id","value":"R_0902953273"},{"id":1042023,"key":"lws_woovip_pro_membership_done","value":"2023-08-22T09:34:37+00:00"},{"id":1042024,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-22T09:34:37+00:00"},{"id":1042025,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-22T09:34:37+00:00"},{"id":1042027,"key":"_woofunnel_custid","value":"53310"},{"id":1042028,"key":"_wfob_stats_ids","value":[]},{"id":1042029,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19208,"name":"5 PHÚT THUỘC BÀI 12 NĂM","product_id":16998,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"5168000","subtotal_tax":"0","total":"5168000","total_tax":"0","taxes":[],"meta_data":[{"id":189851,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":5168000,"image":{"id":"17127","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31241/?pay_for_order=true&key=wc_order_cYfcfgJeuB6LS","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-22T09:34:25","date_modified_gmt":"2023-08-22T09:34:35","date_completed_gmt":"2023-08-22T09:34:35","date_paid_gmt":"2023-08-22T09:34:26","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31241"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49602"}]}},"pairedItem":{"item":3}},{"json":{"id":31229,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-22T09:09:06","date_modified":"2023-08-22T09:09:15","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49203,"order_key":"wc_order_unRNdUDfYotLj","billing":{"first_name":"Nguyễn Hường Đăng Khoa","last_name":"","company":"","address_1":"87 thôn 1 xã Yang Reh","address_2":"","city":"","state":"","postcode":"","country":"","email":"Huongvinhquyen@gmail.com","phone":"0348340624"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"14.191.125.121","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-22T09:09:15","date_paid":"2023-08-22T09:09:06","cart_hash":"fcfd8cb018a034be31036e7e0aded4d3","number":"31229","meta_data":[{"id":1041327,"key":"is_vat_exempt","value":"no"},{"id":1041328,"key":"marketing_status","value":"1"},{"id":1041330,"key":"wvw_currency_rate","value":"1"},{"id":1041331,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1041333,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1041335,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1041336,"key":"_woofunnel_cid","value":"75467"},{"id":1041337,"key":"_bwfan_order_total_base","value":"5168000"},{"id":1041338,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"5168000"},{"id":1041339,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"5168000"},{"id":1041342,"key":"order_key","value":"wc_order_unRNdUDfYotLj"},{"id":1041343,"key":"ref_id","value":"R_0902953273"},{"id":1041346,"key":"lws_woovip_pro_membership_done","value":"2023-08-22T02:09:17+00:00"},{"id":1041347,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-22T02:09:17+00:00"},{"id":1041348,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-22T02:09:17+00:00"},{"id":1041350,"key":"_woofunnel_custid","value":"75467"},{"id":1041351,"key":"_wfob_stats_ids","value":[]},{"id":1041352,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19148,"name":"5 PHÚT THUỘC BÀI 12 NĂM","product_id":16998,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"5168000","subtotal_tax":"0","total":"5168000","total_tax":"0","taxes":[],"meta_data":[{"id":189283,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":5168000,"image":{"id":"17127","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31229/?pay_for_order=true&key=wc_order_unRNdUDfYotLj","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-22T02:09:06","date_modified_gmt":"2023-08-22T02:09:15","date_completed_gmt":"2023-08-22T02:09:15","date_paid_gmt":"2023-08-22T02:09:06","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31229"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49203"}]}},"pairedItem":{"item":4}},{"json":{"id":31213,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-21T20:31:03","date_modified":"2023-08-21T20:31:14","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49691,"order_key":"wc_order_bfaH3xFrUjJ8n","billing":{"first_name":"Phạm Huyền Trang","last_name":"","company":"","address_1":"40 - D13, khu dân cư Thiên Lý, phường Phước Long B, thành phố Thủ Đức, thành phố Hồ Chí Minh","address_2":"","city":"","state":"","postcode":"","country":"","email":"asuradialik34b@gmail.com","phone":"0989298041"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"125.235.238.204","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-21T20:31:14","date_paid":"2023-08-21T20:31:03","cart_hash":"fcfd8cb018a034be31036e7e0aded4d3","number":"31213","meta_data":[{"id":1040486,"key":"is_vat_exempt","value":"no"},{"id":1040487,"key":"marketing_status","value":"1"},{"id":1040489,"key":"wvw_currency_rate","value":"1"},{"id":1040490,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1040492,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1040494,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1040495,"key":"_woofunnel_cid","value":"10485"},{"id":1040496,"key":"_bwfan_order_total_base","value":"5168000"},{"id":1040497,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"5168000"},{"id":1040498,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"5168000"},{"id":1040501,"key":"order_key","value":"wc_order_bfaH3xFrUjJ8n"},{"id":1040502,"key":"ref_id","value":"R_"},{"id":1040505,"key":"lws_woovip_pro_membership_done","value":"2023-08-21T13:31:15+00:00"},{"id":1040506,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-21T13:31:15+00:00"},{"id":1040507,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-21T13:31:15+00:00"},{"id":1040509,"key":"_woofunnel_custid","value":"10485"},{"id":1040510,"key":"_wfob_stats_ids","value":[]},{"id":1040511,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19126,"name":"5 PHÚT THUỘC BÀI 12 NĂM","product_id":16998,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"5168000","subtotal_tax":"0","total":"5168000","total_tax":"0","taxes":[],"meta_data":[{"id":189071,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":5168000,"image":{"id":"17127","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31213/?pay_for_order=true&key=wc_order_bfaH3xFrUjJ8n","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-21T13:31:03","date_modified_gmt":"2023-08-21T13:31:14","date_completed_gmt":"2023-08-21T13:31:14","date_paid_gmt":"2023-08-21T13:31:03","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31213"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49691"}]}},"pairedItem":{"item":5}},{"json":{"id":31151,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-20T15:39:03","date_modified":"2023-08-20T15:39:21","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":50030,"order_key":"wc_order_QE1pToNAKmtRQ","billing":{"first_name":"Bùi Thị Ánh Nguyệt","last_name":"","company":"","address_1":"Đông hà, Quảng Trị","address_2":"","city":"","state":"","postcode":"","country":"","email":"nguyetbta@bidv.com.vn","phone":"0905241666"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"113.185.74.74","customer_user_agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 16_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.2 Mobile/15E148 Safari/604.1","created_via":"checkout","customer_note":"","date_completed":"2023-08-20T15:39:21","date_paid":"2023-08-20T15:39:04","cart_hash":"d7c628300893fc09030e0f797e56ace8","number":"31151","meta_data":[{"id":1037532,"key":"is_vat_exempt","value":"no"},{"id":1037533,"key":"marketing_status","value":"1"},{"id":1037535,"key":"wvw_currency_rate","value":"1"},{"id":1037536,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1037540,"key":"_bwfan_v2_wc_new_order","value":"3"},{"id":1037542,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1037543,"key":"_woofunnel_cid","value":"92660"},{"id":1037544,"key":"_bwfan_order_total_base","value":"5168000"},{"id":1037545,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"5168000"},{"id":1037546,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"5168000"},{"id":1037574,"key":"lws_woovip_pro_membership_done","value":"2023-08-20T08:39:23+00:00"},{"id":1037576,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-20T08:39:23+00:00"},{"id":1037577,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-20T08:39:23+00:00"},{"id":1037605,"key":"_wfob_stats_ids","value":[]},{"id":1037606,"key":"_wfocu_thankyou_visited","value":"yes"},{"id":1037607,"key":"order_key","value":"wc_order_QE1pToNAKmtRQ"},{"id":1037608,"key":"ref_id","value":"R_"}],"line_items":[{"id":19004,"name":"5 PHÚT THUỘC BÀI 12 NĂM","product_id":16998,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"5168000","subtotal_tax":"0","total":"5168000","total_tax":"0","taxes":[],"meta_data":[{"id":187501,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":5168000,"image":{"id":"17127","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31151/?pay_for_order=true&key=wc_order_QE1pToNAKmtRQ","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-20T08:39:03","date_modified_gmt":"2023-08-20T08:39:21","date_completed_gmt":"2023-08-20T08:39:21","date_paid_gmt":"2023-08-20T08:39:04","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31151"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/50030"}]}},"pairedItem":{"item":6}},{"json":{"id":31145,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.1","prices_include_tax":false,"date_created":"2023-08-20T15:34:35","date_modified":"2023-08-20T15:35:03","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":47696,"order_key":"wc_order_zCNJrYemc89Dm","billing":{"first_name":"Lê Hoàng Long","last_name":"","company":"","address_1":"Long Thạnh Mỹ Vinhome Quận 9","address_2":"","city":"","state":"","postcode":"","country":"","email":"wrafftplort@gmail.com","phone":"0833616094"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"2401:d800:f224:ebea:b82b:c92b:623e:3fb5","customer_user_agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.6 Mobile/15E148 Safari/604.1","created_via":"checkout","customer_note":"","date_completed":"2023-08-20T15:35:03","date_paid":"2023-08-20T15:34:36","cart_hash":"0f4bac9dc488cac0ac6494d730014ed3","number":"31145","meta_data":[{"id":1037216,"key":"is_vat_exempt","value":"no"},{"id":1037217,"key":"marketing_status","value":"1"},{"id":1037219,"key":"wvw_currency_rate","value":"1"},{"id":1037220,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1037222,"key":"_bwfan_v2_wc_new_order","value":"3"},{"id":1037224,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1037225,"key":"_woofunnel_cid","value":"126513"},{"id":1037226,"key":"_bwfan_order_total_base","value":"5267000"},{"id":1037227,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"5267000"},{"id":1037228,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"5267000"},{"id":1037282,"key":"lws_woovip_pro_membership_done","value":"2023-08-20T08:35:06+00:00"},{"id":1037283,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-20T08:35:06+00:00"},{"id":1037285,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-20T08:35:06+00:00"},{"id":1037289,"key":"order_key","value":"wc_order_zCNJrYemc89Dm"},{"id":1037293,"key":"ref_id","value":"R_"},{"id":1037294,"key":"messid","value":"6397435600319122"},{"id":1037295,"key":"nguon","value":"HitaBot"},{"id":1037296,"key":"_wfob_stats_ids","value":[]},{"id":1037297,"key":"_wfocu_thankyou_visited","value":"yes"},{"id":1037299,"key":"_woofunnel_custid","value":"126513"}],"line_items":[{"id":18997,"name":"5PTB môn Toán – Lớp 12 (Đại số, 1 năm)","product_id":21336,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":187429,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21288","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_12_DAISO-scaled.jpeg"},"parent_name":null},{"id":18998,"name":"5 PHÚT THUỘC BÀI 12 NĂM","product_id":16998,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"5168000","subtotal_tax":"0","total":"5168000","total_tax":"0","taxes":[],"meta_data":[{"id":187439,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":5168000,"image":{"id":"17127","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31145/?pay_for_order=true&key=wc_order_zCNJrYemc89Dm","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-20T08:34:35","date_modified_gmt":"2023-08-20T08:35:03","date_completed_gmt":"2023-08-20T08:35:03","date_paid_gmt":"2023-08-20T08:34:36","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31145"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/47696"}]}},"pairedItem":{"item":7}},{"json":{"id":31143,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-20T15:32:46","date_modified":"2023-08-20T15:33:15","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":50034,"order_key":"wc_order_lmKqC0Jdl4J03","billing":{"first_name":"Huỳnh văn sang","last_name":"","company":"","address_1":"Diên Khánh, Khánh hoà","address_2":"","city":"","state":"","postcode":"","country":"","email":"sangpsvn@gmail.com","phone":"0983009887"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"113.164.80.195","customer_user_agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/116.0.5845.103 Mobile/15E148 Safari/604.1","created_via":"checkout","customer_note":"","date_completed":"2023-08-20T15:33:15","date_paid":"2023-08-20T15:32:48","cart_hash":"e1d6c729b5964a5e134b1955c0601f28","number":"31143","meta_data":[{"id":1037085,"key":"is_vat_exempt","value":"no"},{"id":1037086,"key":"marketing_status","value":"1"},{"id":1037088,"key":"wvw_currency_rate","value":"1"},{"id":1037089,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1037091,"key":"_bwfan_v2_wc_new_order","value":"3"},{"id":1037093,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1037094,"key":"_woofunnel_cid","value":"129227"},{"id":1037095,"key":"_bwfan_order_total_base","value":"5168000"},{"id":1037096,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"5168000"},{"id":1037097,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"5168000"},{"id":1037100,"key":"lws_woovirtualwallet_gemsconverters_cost","value":"8745000"},{"id":1037125,"key":"lws_woovip_pro_membership_done","value":"2023-08-20T08:33:20+00:00"},{"id":1037126,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-20T08:33:20+00:00"},{"id":1037127,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-20T08:33:20+00:00"},{"id":1037129,"key":"order_key","value":"wc_order_lmKqC0Jdl4J03"},{"id":1037130,"key":"_wfob_stats_ids","value":[]},{"id":1037131,"key":"_wfocu_thankyou_visited","value":"yes"},{"id":1037132,"key":"ref_id","value":"R_"},{"id":1037133,"key":"_woofunnel_custid","value":"129227"}],"line_items":[{"id":18979,"name":"5 PHÚT THUỘC BÀI 12 NĂM","product_id":16998,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"5168000","subtotal_tax":"0","total":"5168000","total_tax":"0","taxes":[],"meta_data":[{"id":187217,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":5168000,"image":{"id":"17127","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-scaled.jpg"},"parent_name":null},{"id":18980,"name":"💎Combo Phụ huynh Thông thái","product_id":20145,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187227,"key":"_lws_gems_price","value":"468000","display_key":"_lws_gems_price","display_value":"468000"},{"id":187228,"key":"_lws_gems_total","value":"468000","display_key":"💎 paid","display_value":"468000"},{"id":187229,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"18012","src":"https://hitacamp.vn/wp-content/uploads/2023/04/COMBO-PHTT.jpeg"},"parent_name":null},{"id":18981,"name":"💎Combo 14 Khoá học Online dành cho Gia đình","product_id":21722,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187239,"key":"_lws_gems_price","value":"2868000","display_key":"_lws_gems_price","display_value":"2868000"},{"id":187240,"key":"_lws_gems_total","value":"2868000","display_key":"💎 paid","display_value":"2868000"},{"id":187241,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"16934","src":"https://hitacamp.vn/wp-content/uploads/2023/04/TTL_14KHOAHOC.jpg"},"parent_name":null},{"id":18982,"name":"💎Combo Dạy Con không khó","product_id":21724,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187251,"key":"_lws_gems_price","value":"368000","display_key":"_lws_gems_price","display_value":"368000"},{"id":187252,"key":"_lws_gems_total","value":"368000","display_key":"💎 paid","display_value":"368000"},{"id":187253,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"17640","src":"https://hitacamp.vn/wp-content/uploads/2023/04/NPP_DAYCONKHONGKHO.jpg"},"parent_name":null},{"id":18983,"name":"💎Combo Vui học thông minh","product_id":21726,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187263,"key":"_lws_gems_price","value":"1468000","display_key":"_lws_gems_price","display_value":"1468000"},{"id":187264,"key":"_lws_gems_total","value":"1468000","display_key":"💎 paid","display_value":"1468000"},{"id":187265,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"20008","src":"https://hitacamp.vn/wp-content/uploads/2023/05/HITABOT_COMBO_VHTM-1-2.png"},"parent_name":null},{"id":18984,"name":"💎11 Bài tập giúp Con bạn được yêu quý","product_id":21731,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187275,"key":"_lws_gems_price","value":"368000","display_key":"_lws_gems_price","display_value":"368000"},{"id":187276,"key":"_lws_gems_total","value":"368000","display_key":"💎 paid","display_value":"368000"},{"id":187277,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"19929","src":"https://hitacamp.vn/wp-content/uploads/2023/04/11-bai-tap-_-16x9-2.jpg"},"parent_name":null},{"id":18985,"name":"💎Kích hoạt Tài năng Con trẻ","product_id":21733,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187287,"key":"_lws_gems_price","value":"368000","display_key":"_lws_gems_price","display_value":"368000"},{"id":187288,"key":"_lws_gems_total","value":"368000","display_key":"💎 paid","display_value":"368000"},{"id":187289,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"14536","src":"https://hitacamp.vn/wp-content/uploads/2023/04/KICH-HOAT-_-16x9-1.jpg"},"parent_name":null},{"id":18986,"name":"💎Ghi chép Thông minh - Thuộc bài tại lớp","product_id":21735,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187299,"key":"_lws_gems_price","value":"368000","display_key":"_lws_gems_price","display_value":"368000"},{"id":187300,"key":"_lws_gems_total","value":"368000","display_key":"💎 paid","display_value":"368000"},{"id":187301,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"14539","src":"https://hitacamp.vn/wp-content/uploads/2023/04/GHI-CHEP_2-02-scaled.jpg"},"parent_name":null},{"id":18987,"name":"💎Học Siêu Trí Nhớ cùng Kỷ Lục Gia Thế giới","product_id":21737,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187311,"key":"_lws_gems_price","value":"489000","display_key":"_lws_gems_price","display_value":"489000"},{"id":187312,"key":"_lws_gems_total","value":"489000","display_key":"💎 paid","display_value":"489000"},{"id":187313,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"14543","src":"https://hitacamp.vn/wp-content/uploads/2023/04/HOC-STN_-16x9-1.jpg"},"parent_name":null},{"id":18988,"name":"💎Bí quyết giúp Con Tự tin toả sáng","product_id":21742,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187323,"key":"_lws_gems_price","value":"198000","display_key":"_lws_gems_price","display_value":"198000"},{"id":187324,"key":"_lws_gems_total","value":"198000","display_key":"💎 paid","display_value":"198000"},{"id":187325,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"14554","src":"https://hitacamp.vn/wp-content/uploads/2023/04/NPP_BIQUYET_16X9.jpg"},"parent_name":null},{"id":18989,"name":"💎Giúp Con không mê Game","product_id":21745,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187335,"key":"_lws_gems_price","value":"100000","display_key":"_lws_gems_price","display_value":"100000"},{"id":187336,"key":"_lws_gems_total","value":"100000","display_key":"💎 paid","display_value":"100000"},{"id":187337,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"14564","src":"https://hitacamp.vn/wp-content/uploads/2023/04/ttl_GCKMG_16X9.jpg"},"parent_name":null},{"id":18990,"name":"💎Giúp Con Không Nói Dối","product_id":21747,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187347,"key":"_lws_gems_price","value":"100000","display_key":"_lws_gems_price","display_value":"100000"},{"id":187348,"key":"_lws_gems_total","value":"100000","display_key":"💎 paid","display_value":"100000"},{"id":187349,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"14568","src":"https://hitacamp.vn/wp-content/uploads/2023/04/ttl_noidoi_16x9.jpg"},"parent_name":null},{"id":18991,"name":"💎Tối ưu Năng lực Não bộ","product_id":21749,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187359,"key":"_lws_gems_price","value":"289000","display_key":"_lws_gems_price","display_value":"289000"},{"id":187360,"key":"_lws_gems_total","value":"289000","display_key":"💎 paid","display_value":"289000"},{"id":187361,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"14586","src":"https://hitacamp.vn/wp-content/uploads/2023/04/YWGswoxTpOgxhLZyAyNQ_5PTB_THUMBNAIL-20.webp"},"parent_name":null},{"id":18992,"name":"💎Kích hoạt Thiên tài Sáng tạo","product_id":21751,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187371,"key":"_lws_gems_price","value":"468000","display_key":"_lws_gems_price","display_value":"468000"},{"id":187372,"key":"_lws_gems_total","value":"468000","display_key":"💎 paid","display_value":"468000"},{"id":187373,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"14590","src":"https://hitacamp.vn/wp-content/uploads/2023/04/NPP_KHOAHOC_KHTTST.jpg"},"parent_name":null},{"id":18993,"name":"💎\bBản đồ Đào tạo Hiền Tài","product_id":21753,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187383,"key":"_lws_gems_price","value":"268000","display_key":"_lws_gems_price","display_value":"268000"},{"id":187384,"key":"_lws_gems_total","value":"268000","display_key":"💎 paid","display_value":"268000"},{"id":187385,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"14593","src":"https://hitacamp.vn/wp-content/uploads/2023/04/DyhD9NekSe2RkFOa3Ht1_NPP_BDDTHT_16X9.webp"},"parent_name":null},{"id":18994,"name":"💎Cha Mẹ học - Con thành tài","product_id":21755,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187395,"key":"_lws_gems_price","value":"289000","display_key":"_lws_gems_price","display_value":"289000"},{"id":187396,"key":"_lws_gems_total","value":"289000","display_key":"💎 paid","display_value":"289000"},{"id":187397,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"16601","src":"https://hitacamp.vn/wp-content/uploads/2023/04/NPP_CMHCTT_16X9.jpg"},"parent_name":null},{"id":18995,"name":"💎Giải mã Siêu Trí Tuệ Việt Nam","product_id":21756,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":187407,"key":"_lws_gems_price","value":"268000","display_key":"_lws_gems_price","display_value":"268000"},{"id":187408,"key":"_lws_gems_total","value":"268000","display_key":"💎 paid","display_value":"268000"},{"id":187409,"key":"_lws_wvw_extra_mode","value":"gems","display_key":"_lws_wvw_extra_mode","display_value":"gems"}],"sku":"","price":0,"image":{"id":"16919","src":"https://hitacamp.vn/wp-content/uploads/2023/04/GIAI-MA-STT_16X9-02-1-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31143/?pay_for_order=true&key=wc_order_lmKqC0Jdl4J03","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-20T08:32:46","date_modified_gmt":"2023-08-20T08:33:15","date_completed_gmt":"2023-08-20T08:33:15","date_paid_gmt":"2023-08-20T08:32:48","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31143"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/50034"}]}},"pairedItem":{"item":8}},{"json":{"id":31138,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-20T15:26:14","date_modified":"2023-08-20T15:26:40","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":48656,"order_key":"wc_order_EK8Gmq1nFwMnw","billing":{"first_name":"Trần thị Mai","last_name":"","company":"","address_1":"627. Tô 5 tân an .tân phú. Đồng phú. Bình Phước","address_2":"","city":"","state":"","postcode":"","country":"","email":"phuongmaitp1988@gmail.com","phone":"0988945308"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"113.164.80.195","customer_user_agent":"Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Mobile Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-20T15:26:40","date_paid":"2023-08-20T15:26:15","cart_hash":"d7c628300893fc09030e0f797e56ace8","number":"31138","meta_data":[{"id":1036836,"key":"is_vat_exempt","value":"no"},{"id":1036837,"key":"marketing_status","value":"1"},{"id":1036839,"key":"wvw_currency_rate","value":"1"},{"id":1036840,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1036842,"key":"_bwfan_v2_wc_new_order","value":"3"},{"id":1036844,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1036845,"key":"_woofunnel_cid","value":"128691"},{"id":1036846,"key":"_bwfan_order_total_base","value":"5168000"},{"id":1036847,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"5168000"},{"id":1036848,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"5168000"},{"id":1036853,"key":"lws_woovip_pro_membership_done","value":"2023-08-20T08:26:42+00:00"},{"id":1036854,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-20T08:26:42+00:00"},{"id":1036855,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-20T08:26:42+00:00"},{"id":1036857,"key":"order_key","value":"wc_order_EK8Gmq1nFwMnw"},{"id":1036858,"key":"ref_id","value":"R_0906348254"},{"id":1036859,"key":"_wfob_stats_ids","value":[]},{"id":1036860,"key":"_wfocu_thankyou_visited","value":"yes"},{"id":1036861,"key":"_woofunnel_custid","value":"128691"}],"line_items":[{"id":18971,"name":"5 PHÚT THUỘC BÀI 12 NĂM","product_id":16998,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"5168000","subtotal_tax":"0","total":"5168000","total_tax":"0","taxes":[],"meta_data":[{"id":187135,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":5168000,"image":{"id":"17127","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31138/?pay_for_order=true&key=wc_order_EK8Gmq1nFwMnw","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-20T08:26:14","date_modified_gmt":"2023-08-20T08:26:40","date_completed_gmt":"2023-08-20T08:26:40","date_paid_gmt":"2023-08-20T08:26:15","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31138"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/48656"}]}},"pairedItem":{"item":9}},{"json":{"id":30991,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.1","prices_include_tax":false,"date_created":"2023-08-19T16:26:38","date_modified":"2023-08-19T16:26:49","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49919,"order_key":"wc_order_ukBEjrsWXQAou","billing":{"first_name":"Trương Thị Hải Yến","last_name":"","company":"","address_1":"72A Y Nuê- Thành phố Buôn Ma Thuột","address_2":"","city":"","state":"","postcode":"","country":"","email":"tthyen.c1ledinhching.dlk@moet.edu.vn","phone":"0935661268"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"Ví HITA","transaction_id":"","customer_ip_address":"2001:ee1:df0b:a140:e14d:448a:8bef:4733","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-19T16:26:49","date_paid":"2023-08-19T16:26:39","cart_hash":"9669d824d2f88f11e0196cd6d932b413","number":"30991","meta_data":[{"id":1030227,"key":"is_vat_exempt","value":"no"},{"id":1030228,"key":"marketing_status","value":"1"},{"id":1030230,"key":"wvw_currency_rate","value":"1"},{"id":1030231,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1030233,"key":"_bwfan_v2_wc_new_order","value":"3"},{"id":1030235,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1030236,"key":"_woofunnel_cid","value":"12350"},{"id":1030237,"key":"_bwfan_order_total_base","value":"9948000"},{"id":1030238,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"9948000"},{"id":1030239,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"9948000"},{"id":1030242,"key":"order_key","value":"wc_order_ukBEjrsWXQAou"},{"id":1030243,"key":"ref_id","value":"R_"},{"id":1030246,"key":"lws_woovip_pro_membership_done","value":"2023-08-19T09:26:50+00:00"},{"id":1030247,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-19T09:26:50+00:00"},{"id":1030248,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-19T09:26:50+00:00"},{"id":1030250,"key":"_woofunnel_custid","value":"12350"},{"id":1030251,"key":"_wfob_stats_ids","value":[]},{"id":1030252,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":18812,"name":"5 PHÚT THUỘC BÀI 12 NĂM","product_id":16998,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"5168000","subtotal_tax":"0","total":"5168000","total_tax":"0","taxes":[],"meta_data":[{"id":184829,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":5168000,"image":{"id":"17127","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-scaled.jpg"},"parent_name":null},{"id":18813,"name":"5PTB môn Toán – Lớp 2 (1 năm)","product_id":21121,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":184839,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21135","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_2_TOAN-scaled.jpeg"},"parent_name":null},{"id":18814,"name":"5PTB môn Toán – Lớp 3 (1 năm)","product_id":21124,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":184849,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21134","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_3_TOAN-scaled.jpeg"},"parent_name":null},{"id":18815,"name":"5PTB môn Toán – Lớp 4 (1 năm)","product_id":21126,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":184859,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21133","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_4_TOAN-scaled.jpeg"},"parent_name":null},{"id":18816,"name":"5PTB môn Toán – Lớp 5 (1 năm)","product_id":21128,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":184869,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21132","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_5_TOAN-scaled.jpeg"},"parent_name":null},{"id":18817,"name":"5PTB môn Toán – Lớp 8 (Đại số, 1 năm)","product_id":21299,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":184879,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21292","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_8_DAISO-scaled.jpeg"},"parent_name":null},{"id":18818,"name":"5PTB môn Toán – Lớp 12 (Hình học, 1 năm)","product_id":21339,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":184889,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21293","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_12_HINHHOC-scaled.jpeg"},"parent_name":null},{"id":18819,"name":"Combo HỌC NHƯ CHƠI 1 NĂM","product_id":29200,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"868000","subtotal_tax":"0","total":"868000","total_tax":"0","taxes":[],"meta_data":[{"id":184899,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":868000,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null},{"id":18820,"name":"COMBO PHỤ HUYNH THÔNG THÁI","product_id":14748,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"450000","subtotal_tax":"0","total":"450000","total_tax":"0","taxes":[],"meta_data":[{"id":184909,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"},{"id":184910,"key":"_fkcart_upsell","value":"yes","display_key":"_fkcart_upsell","display_value":"yes"}],"sku":"","price":450000,"image":{"id":"15482","src":"https://hitacamp.vn/wp-content/uploads/2023/04/NPP_CMHT_QTANG_2.jpg"},"parent_name":null},{"id":18821,"name":"Hita Camp Online gói 1 năm","product_id":1737,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"2868000","subtotal_tax":"0","total":"2868000","total_tax":"0","taxes":[],"meta_data":[{"id":184920,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"},{"id":184921,"key":"_fkcart_upsell","value":"yes","display_key":"_fkcart_upsell","display_value":"yes"}],"sku":"","price":2868000,"image":{"id":"1738","src":"https://hitacamp.vn/wp-content/uploads/2023/02/hitacamppng-1673072007918.png"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/30991/?pay_for_order=true&key=wc_order_ukBEjrsWXQAou","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-19T09:26:38","date_modified_gmt":"2023-08-19T09:26:49","date_completed_gmt":"2023-08-19T09:26:49","date_paid_gmt":"2023-08-19T09:26:39","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/30991"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49919"}]}},"pairedItem":{"item":10}},{"json":{"id":31278,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-23T17:50:48","date_modified":"2023-08-23T17:50:58","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49114,"order_key":"wc_order_O2WzJto4fey4M","billing":{"first_name":"Vũ Quang Minh","last_name":"","company":"","address_1":"Đào Xá -Vĩnh Xá - Kim Động - Hưng Yên","address_2":"","city":"","state":"","postcode":"","country":"","email":"thuyanh2110@gmail.com","phone":"0986185123"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"14.166.54.198","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-23T17:50:58","date_paid":"2023-08-23T17:50:49","cart_hash":"d7c628300893fc09030e0f797e56ace8","number":"31278","meta_data":[{"id":1043841,"key":"is_vat_exempt","value":"no"},{"id":1043842,"key":"marketing_status","value":"1"},{"id":1043844,"key":"wvw_currency_rate","value":"1"},{"id":1043845,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1043847,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1043849,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1043850,"key":"_woofunnel_cid","value":"129124"},{"id":1043851,"key":"_bwfan_order_total_base","value":"5168000"},{"id":1043852,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"5168000"},{"id":1043853,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"5168000"},{"id":1043856,"key":"order_key","value":"wc_order_O2WzJto4fey4M"},{"id":1043857,"key":"ref_id","value":"R_0985767138"},{"id":1043860,"key":"lws_woovip_pro_membership_done","value":"2023-08-23T10:51:00+00:00"},{"id":1043861,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-23T10:51:00+00:00"},{"id":1043862,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-23T10:51:00+00:00"},{"id":1043864,"key":"_woofunnel_custid","value":"129124"},{"id":1043865,"key":"_wfob_stats_ids","value":[]},{"id":1043866,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19271,"name":"5 PHÚT THUỘC BÀI 12 NĂM","product_id":16998,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"5168000","subtotal_tax":"0","total":"5168000","total_tax":"0","taxes":[],"meta_data":[{"id":190516,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":5168000,"image":{"id":"17127","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31278/?pay_for_order=true&key=wc_order_O2WzJto4fey4M","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-23T10:50:48","date_modified_gmt":"2023-08-23T10:50:58","date_completed_gmt":"2023-08-23T10:50:58","date_paid_gmt":"2023-08-23T10:50:49","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31278"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49114"}]}},"pairedItem":{"item":11}},{"json":{"id":31250,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-22T20:16:53","date_modified":"2023-08-23T16:07:55","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"868000","total_tax":"0","customer_id":0,"order_key":"wc_order_Xzaw7gEVnvoWr","billing":{"first_name":"Nguyen Thi Tu Quyen","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","email":"quyennguyen.2018ld@gmail.com","phone":"+84848252029"},"shipping":{"first_name":"Nguyen Thi Tu Quyen","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","phone":"+84848252029"},"payment_method":"bacs","payment_method_title":"Chuyển khoản ngân hàng","transaction_id":"","customer_ip_address":"2405:4803:c893:7ad0:2dab:5dc4:c79a:b016","customer_user_agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 LightSpeed [FBAN/MessengerLiteForiOS;FBAV/422.0.0.19.104;FBBV/504881069;FBDV/iPhone12,1;FBMD/iPhone;FBSN/iOS;FBSV/16.6;FBSS/2;FBCR/;FBID/phone;FBLC/vi;FBOP/0]","created_via":"checkout","customer_note":"","date_completed":"2023-08-23T16:07:55","date_paid":"2023-08-23T16:07:55","cart_hash":"a074d573dbbb1fb1d31aedf79e7152bb","number":"31250","meta_data":[{"id":1042418,"key":"is_vat_exempt","value":"no"},{"id":1042419,"key":"marketing_status","value":"1"},{"id":1042421,"key":"wvw_currency_rate","value":"1"},{"id":1042422,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1042426,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1042427,"key":"_woofunnel_cid","value":"104374"},{"id":1042428,"key":"_wfacp_post_id","value":"29211"},{"id":1042429,"key":"_wfacp_source","value":"https://hitacamp.vn/dang-ky/dang-ky-combo-hoc-nhu-choi/"},{"id":1042430,"key":"_wfacp_timezone","value":"Asia/Saigon"},{"id":1042431,"key":"messid","value":"4606304249466733"},{"id":1042432,"key":"diachi","value":"21a toà nhà Vpmilk phường Tân Phú Q7 TpHCM"},{"id":1042433,"key":"nguon","value":"[wf_get_url_parameter key='nguon']"},{"id":1042434,"key":"pageid","value":"267860490322486"},{"id":1042435,"key":"_bwfan_order_total_base","value":"868000"},{"id":1042437,"key":"order_key","value":"wc_order_Xzaw7gEVnvoWr"},{"id":1042438,"key":"ref_id","value":"R_0985767138"},{"id":1042441,"key":"_wfocu_thankyou_visited","value":"yes"},{"id":1043399,"key":"lws_woovip_pro_membership_done","value":"2023-08-23T16:07:56+07:00"},{"id":1043400,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-23T16:07:56+07:00"},{"id":1043401,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-23T16:07:56+07:00"},{"id":1043402,"key":"_wfob_stats_ids","value":[]},{"id":1043404,"key":"_woofunnel_custid","value":"104374"}],"line_items":[{"id":19218,"name":"Combo HỌC NHƯ CHƠI 1 NĂM","product_id":29200,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"868000","subtotal_tax":"0","total":"868000","total_tax":"0","taxes":[],"meta_data":[{"id":189948,"key":"_wfacp_product","value":"1","display_key":"_wfacp_product","display_value":"1"},{"id":189949,"key":"_wfacp_product_key","value":"wfacp_64d4938cf38e4","display_key":"_wfacp_product_key","display_value":"wfacp_64d4938cf38e4"},{"id":189950,"key":"_wfacp_options","value":{"title":"Combo HỌC NHƯ CHƠI 1 NĂM","discount_type":"percent_discount_sale","discount_amount":"0","discount_price":"0","quantity":1,"type":"simple","id":"29200","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"","whats_included":"","enable_delete":"false","old_title":"Combo HỌC NHƯ CHƠI 1 NĂM","product_id":"29200","whats_include_heading":"Combo HỌC NHƯ CHƠI 1 NĂM","item_key":"wfacp_64d4938cf38e4"},"display_key":"_wfacp_options","display_value":{"title":"Combo HỌC NHƯ CHƠI 1 NĂM","discount_type":"percent_discount_sale","discount_amount":"0","discount_price":"0","quantity":1,"type":"simple","id":"29200","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"","whats_included":"","enable_delete":"false","old_title":"Combo HỌC NHƯ CHƠI 1 NĂM","product_id":"29200","whats_include_heading":"Combo HỌC NHƯ CHƠI 1 NĂM","item_key":"wfacp_64d4938cf38e4"}},{"id":189951,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":868000,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null},{"id":19219,"name":"5 PHÚT THUỘC BÀI 1 NĂM","product_id":16994,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":189961,"key":"_wc_sc_product_source","value":"hnc01","display_key":"_wc_sc_product_source","display_value":"hnc01"},{"id":189962,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":0,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null},{"id":19220,"name":"BÌNH NƯỚC HITACAMP","product_id":29471,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"0","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":189972,"key":"_wc_sc_product_source","value":"hnc01","display_key":"_wc_sc_product_source","display_value":"hnc01"},{"id":189973,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":0,"image":{"id":"","src":""},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[{"id":19221,"code":"hnc01","discount":"0","discount_tax":"0","meta_data":[{"id":189976,"key":"coupon_data","value":{"id":29207,"code":"hnc01","amount":"0","status":"publish","date_created":{"date":"2023-08-10 07:17:20.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-08-18 13:24:31.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"fixed_cart","description":"coupon quà tặng combo Học Như Chơi 1 năm","usage_count":3,"individual_use":true,"product_ids":[29200],"excluded_product_ids":[],"usage_limit":0,"usage_limit_per_user":0,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"868000","email_restrictions":[],"virtual":false,"meta_data":[{"id":969670,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":969684,"key":"sc_restrict_to_new_user","value":"no"},{"id":969685,"key":"auto_generate_coupon","value":"no"},{"id":969686,"key":"coupon_title_prefix","value":""},{"id":969687,"key":"coupon_title_suffix","value":""},{"id":969688,"key":"sc_coupon_validity","value":""},{"id":969689,"key":"validity_suffix","value":"days"},{"id":969690,"key":"sc_is_visible_storewide","value":"no"},{"id":969691,"key":"sc_disable_email_restriction","value":"no"},{"id":969692,"key":"is_pick_price_of_product","value":"no"},{"id":969693,"key":"wc_sc_add_product_details","value":[{"product_id":"16994","quantity":"1","discount_amount":"100","discount_type":"percent"},{"product_id":"29471","quantity":"1","discount_amount":"100","discount_type":"percent"}]},{"id":969694,"key":"wc_sc_max_discount","value":""},{"id":969695,"key":"wc_sc_expiry_time","value":""},{"id":969696,"key":"wc_sc_auto_apply_coupon","value":"yes"},{"id":969697,"key":"sa_cbl_billing_locations","value":[]},{"id":969698,"key":"wc_sc_payment_method_ids","value":[]},{"id":969699,"key":"wc_sc_shipping_method_ids","value":[]},{"id":969700,"key":"wc_sc_user_role_ids","value":[]},{"id":969701,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":969702,"key":"wc_sc_product_attribute_ids","value":""},{"id":969703,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":969704,"key":"wc_sc_taxonomy_restrictions","value":[]},{"id":969705,"key":"wc_sc_excluded_customer_email","value":[]},{"id":969706,"key":"wc_coupon_message","value":""},{"id":969707,"key":"wc_email_message","value":"no"},{"id":969708,"key":"wc_sc_product_quantity_restrictions","value":{"type":"cart","values":{"cart":{"min":"","max":""},"product":{"29200":{"min":"","max":""}},"product_category":[]},"condition":"any"}},{"id":986065,"key":"_cf_filter","value":""},{"id":986066,"key":"_cf_filter_text_data","value":""}]},"display_key":"coupon_data","display_value":{"id":29207,"code":"hnc01","amount":"0","status":"publish","date_created":{"date":"2023-08-10 07:17:20.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-08-18 13:24:31.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"fixed_cart","description":"coupon quà tặng combo Học Như Chơi 1 năm","usage_count":3,"individual_use":true,"product_ids":[29200],"excluded_product_ids":[],"usage_limit":0,"usage_limit_per_user":0,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"868000","email_restrictions":[],"virtual":false,"meta_data":[{"id":969670,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":969684,"key":"sc_restrict_to_new_user","value":"no"},{"id":969685,"key":"auto_generate_coupon","value":"no"},{"id":969686,"key":"coupon_title_prefix","value":""},{"id":969687,"key":"coupon_title_suffix","value":""},{"id":969688,"key":"sc_coupon_validity","value":""},{"id":969689,"key":"validity_suffix","value":"days"},{"id":969690,"key":"sc_is_visible_storewide","value":"no"},{"id":969691,"key":"sc_disable_email_restriction","value":"no"},{"id":969692,"key":"is_pick_price_of_product","value":"no"},{"id":969693,"key":"wc_sc_add_product_details","value":[{"product_id":"16994","quantity":"1","discount_amount":"100","discount_type":"percent"},{"product_id":"29471","quantity":"1","discount_amount":"100","discount_type":"percent"}]},{"id":969694,"key":"wc_sc_max_discount","value":""},{"id":969695,"key":"wc_sc_expiry_time","value":""},{"id":969696,"key":"wc_sc_auto_apply_coupon","value":"yes"},{"id":969697,"key":"sa_cbl_billing_locations","value":[]},{"id":969698,"key":"wc_sc_payment_method_ids","value":[]},{"id":969699,"key":"wc_sc_shipping_method_ids","value":[]},{"id":969700,"key":"wc_sc_user_role_ids","value":[]},{"id":969701,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":969702,"key":"wc_sc_product_attribute_ids","value":""},{"id":969703,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":969704,"key":"wc_sc_taxonomy_restrictions","value":[]},{"id":969705,"key":"wc_sc_excluded_customer_email","value":[]},{"id":969706,"key":"wc_coupon_message","value":""},{"id":969707,"key":"wc_email_message","value":"no"},{"id":969708,"key":"wc_sc_product_quantity_restrictions","value":{"type":"cart","values":{"cart":{"min":"","max":""},"product":{"29200":{"min":"","max":""}},"product_category":[]},"condition":"any"}},{"id":986065,"key":"_cf_filter","value":""},{"id":986066,"key":"_cf_filter_text_data","value":""}]}}]}],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31250/?pay_for_order=true&key=wc_order_Xzaw7gEVnvoWr","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-22T13:16:53","date_modified_gmt":"2023-08-23T09:07:55","date_completed_gmt":"2023-08-23T09:07:55","date_paid_gmt":"2023-08-23T09:07:55","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31250"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}]}},"pairedItem":{"item":12}},{"json":{"id":31268,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-23T15:02:57","date_modified":"2023-08-23T15:03:08","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49204,"order_key":"wc_order_1Gbq5su3yQyvZ","billing":{"first_name":"HỨA THỊ NGỌC NHỜ","last_name":"","company":"","address_1":"3/33 Nguyễn Thái Sơn, phường 3, Gò Vấp, TPHCM","address_2":"","city":"","state":"","postcode":"","country":"","email":"nhohua95@gmail.com","phone":"0963220908"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"42.116.19.76","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"Đi vào hẻm 189 Bạch Đằng (Gần công viên Gia Định). Chỉ giao vào cuối tuần","date_completed":"2023-08-23T15:03:08","date_paid":"2023-08-23T15:02:57","cart_hash":"fcfd8cb018a034be31036e7e0aded4d3","number":"31268","meta_data":[{"id":1043316,"key":"is_vat_exempt","value":"no"},{"id":1043317,"key":"marketing_status","value":"1"},{"id":1043319,"key":"wvw_currency_rate","value":"1"},{"id":1043320,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1043322,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1043324,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1043325,"key":"_woofunnel_cid","value":"12242"},{"id":1043326,"key":"_bwfan_order_total_base","value":"5168000"},{"id":1043327,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"5168000"},{"id":1043328,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"5168000"},{"id":1043331,"key":"order_key","value":"wc_order_1Gbq5su3yQyvZ"},{"id":1043332,"key":"ref_id","value":"R_"},{"id":1043335,"key":"lws_woovip_pro_membership_done","value":"2023-08-23T08:03:09+00:00"},{"id":1043336,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-23T08:03:09+00:00"},{"id":1043337,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-23T08:03:09+00:00"},{"id":1043339,"key":"_woofunnel_custid","value":"12242"},{"id":1043340,"key":"_wfob_stats_ids","value":[]},{"id":1043341,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19259,"name":"5 PHÚT THUỘC BÀI 12 NĂM","product_id":16998,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"5168000","subtotal_tax":"0","total":"5168000","total_tax":"0","taxes":[],"meta_data":[{"id":190367,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":5168000,"image":{"id":"17127","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31268/?pay_for_order=true&key=wc_order_1Gbq5su3yQyvZ","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-23T08:02:57","date_modified_gmt":"2023-08-23T08:03:08","date_completed_gmt":"2023-08-23T08:03:08","date_paid_gmt":"2023-08-23T08:02:57","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31268"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49204"}]}},"pairedItem":{"item":13}},{"json":{"id":31435,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-24T19:32:58","date_modified":"2023-08-24T19:33:08","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49947,"order_key":"wc_order_in6ugy6pvYmWY","billing":{"first_name":"Phạm Võ Thùy Anh","last_name":"","company":"","address_1":"Vinh Long","address_2":"","city":"","state":"","postcode":"","country":"","email":"suongvo20061984@gmail.com","phone":"0706783546"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"2001:ee0:5725:9020:cca3:f4a3:4fa3:e618","customer_user_agent":"Mozilla/5.0 (Linux; Android 8.1.0; SM-G610F Build/M1AJQ;) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/115.0.5790.168 Mobile Safari/537.36 Zalo android/12100701 ZaloTheme/light ZaloLanguage/vi","created_via":"checkout","customer_note":"","date_completed":"2023-08-24T19:33:08","date_paid":"2023-08-24T19:32:59","cart_hash":"5d43b555f373bc7b9f631de181a5209a","number":"31435","meta_data":[{"id":1047160,"key":"is_vat_exempt","value":"no"},{"id":1047161,"key":"marketing_status","value":"1"},{"id":1047163,"key":"wvw_currency_rate","value":"1"},{"id":1047164,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1047166,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1047168,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1047169,"key":"_woofunnel_cid","value":"23208"},{"id":1047170,"key":"_bwfan_order_total_base","value":"868000"},{"id":1047171,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"868000"},{"id":1047172,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"868000"},{"id":1047175,"key":"order_key","value":"wc_order_in6ugy6pvYmWY"},{"id":1047176,"key":"ref_id","value":"R_0939106434"},{"id":1047179,"key":"lws_woovip_pro_membership_done","value":"2023-08-24T12:33:09+00:00"},{"id":1047180,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-24T12:33:09+00:00"},{"id":1047181,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-24T12:33:09+00:00"},{"id":1047183,"key":"_woofunnel_custid","value":"23208"},{"id":1047184,"key":"_wfob_stats_ids","value":[]},{"id":1047185,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19336,"name":"5 PHÚT THUỘC BÀI 1 NĂM","product_id":16994,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"868000","subtotal_tax":"0","total":"868000","total_tax":"0","taxes":[],"meta_data":[{"id":191148,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":868000,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31435/?pay_for_order=true&key=wc_order_in6ugy6pvYmWY","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-24T12:32:58","date_modified_gmt":"2023-08-24T12:33:08","date_completed_gmt":"2023-08-24T12:33:08","date_paid_gmt":"2023-08-24T12:32:59","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31435"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49947"}]}},"pairedItem":{"item":14}},{"json":{"id":31381,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-24T16:53:40","date_modified":"2023-08-24T16:53:50","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49169,"order_key":"wc_order_Z6JajB1FyWtIv","billing":{"first_name":"Hồ Thị Vân Khánh","last_name":"","company":"","address_1":"Trường Tiểu học Dĩ An, Phường Dĩ An, TP Dĩ An, Bình Dương","address_2":"","city":"","state":"","postcode":"","country":"","email":"vankhanh135@gmail.com","phone":"0963626343"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"14.234.36.117","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-24T16:53:50","date_paid":"2023-08-24T16:53:40","cart_hash":"5d43b555f373bc7b9f631de181a5209a","number":"31381","meta_data":[{"id":1046248,"key":"is_vat_exempt","value":"no"},{"id":1046249,"key":"marketing_status","value":"1"},{"id":1046251,"key":"wvw_currency_rate","value":"1"},{"id":1046252,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1046254,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1046256,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1046257,"key":"_woofunnel_cid","value":"75405"},{"id":1046258,"key":"_bwfan_order_total_base","value":"868000"},{"id":1046259,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"868000"},{"id":1046260,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"868000"},{"id":1046263,"key":"order_key","value":"wc_order_Z6JajB1FyWtIv"},{"id":1046264,"key":"ref_id","value":"R_0985767138"},{"id":1046267,"key":"lws_woovip_pro_membership_done","value":"2023-08-24T09:53:51+00:00"},{"id":1046268,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-24T09:53:51+00:00"},{"id":1046269,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-24T09:53:51+00:00"},{"id":1046271,"key":"_woofunnel_custid","value":"75405"},{"id":1046272,"key":"_wfob_stats_ids","value":[]},{"id":1046273,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19323,"name":"5 PHÚT THUỘC BÀI 1 NĂM","product_id":16994,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"868000","subtotal_tax":"0","total":"868000","total_tax":"0","taxes":[],"meta_data":[{"id":191011,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":868000,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31381/?pay_for_order=true&key=wc_order_Z6JajB1FyWtIv","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-24T09:53:40","date_modified_gmt":"2023-08-24T09:53:50","date_completed_gmt":"2023-08-24T09:53:50","date_paid_gmt":"2023-08-24T09:53:40","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31381"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49169"}]}},"pairedItem":{"item":15}},{"json":{"id":31301,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-24T13:38:39","date_modified":"2023-08-24T13:38:50","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49803,"order_key":"wc_order_4JQhscxhDRmHB","billing":{"first_name":"Trần Kim Thư","last_name":"","company":"","address_1":"Mang Thit","address_2":"","city":"","state":"","postcode":"","country":"","email":"knthu591@gmail.com","phone":"0982233287"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"2001:ee0:5713:7970:dc42:a618:6bbf:f8a2","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-24T13:38:50","date_paid":"2023-08-24T13:38:40","cart_hash":"e886cf0674ced50e52d6345fdeb10f23","number":"31301","meta_data":[{"id":1045117,"key":"is_vat_exempt","value":"no"},{"id":1045118,"key":"marketing_status","value":"1"},{"id":1045120,"key":"wvw_currency_rate","value":"1"},{"id":1045121,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1045123,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1045125,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1045126,"key":"_woofunnel_cid","value":"76423"},{"id":1045127,"key":"_bwfan_order_total_base","value":"2468000"},{"id":1045128,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"2468000"},{"id":1045129,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"2468000"},{"id":1045132,"key":"order_key","value":"wc_order_4JQhscxhDRmHB"},{"id":1045133,"key":"ref_id","value":"R_0985767138"},{"id":1045136,"key":"lws_woovip_pro_membership_done","value":"2023-08-24T06:38:51+00:00"},{"id":1045137,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-24T06:38:51+00:00"},{"id":1045138,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-24T06:38:51+00:00"},{"id":1045140,"key":"_woofunnel_custid","value":"76423"},{"id":1045141,"key":"_wfob_stats_ids","value":[]},{"id":1045142,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19311,"name":"5 PHÚT THUỘC BÀI 5 NĂM","product_id":16996,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"2468000","subtotal_tax":"0","total":"2468000","total_tax":"0","taxes":[],"meta_data":[{"id":190909,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":2468000,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31301/?pay_for_order=true&key=wc_order_4JQhscxhDRmHB","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-24T06:38:39","date_modified_gmt":"2023-08-24T06:38:50","date_completed_gmt":"2023-08-24T06:38:50","date_paid_gmt":"2023-08-24T06:38:40","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31301"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49803"}]}},"pairedItem":{"item":16}},{"json":{"id":31299,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-24T12:31:20","date_modified":"2023-08-24T12:31:31","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49803,"order_key":"wc_order_C9IbLlCRILwUG","billing":{"first_name":"Nguyễn Tường Uyên","last_name":"","company":"","address_1":"Trường THCS Thị Trấn Cái Nhum","address_2":"","city":"","state":"","postcode":"","country":"","email":"tuoguyen24@gmail.com","phone":"0338142128"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"2001:ee0:5713:7970:dc42:a618:6bbf:f8a2","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-24T12:31:31","date_paid":"2023-08-24T12:31:21","cart_hash":"e886cf0674ced50e52d6345fdeb10f23","number":"31299","meta_data":[{"id":1045008,"key":"is_vat_exempt","value":"no"},{"id":1045009,"key":"marketing_status","value":"1"},{"id":1045011,"key":"wvw_currency_rate","value":"1"},{"id":1045012,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1045014,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1045016,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1045017,"key":"_woofunnel_cid","value":"76423"},{"id":1045018,"key":"_bwfan_order_total_base","value":"2468000"},{"id":1045019,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"2468000"},{"id":1045020,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"2468000"},{"id":1045023,"key":"order_key","value":"wc_order_C9IbLlCRILwUG"},{"id":1045024,"key":"ref_id","value":"R_"},{"id":1045027,"key":"lws_woovip_pro_membership_done","value":"2023-08-24T05:31:32+00:00"},{"id":1045028,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-24T05:31:32+00:00"},{"id":1045029,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-24T05:31:32+00:00"},{"id":1045031,"key":"_woofunnel_custid","value":"76423"},{"id":1045032,"key":"_wfob_stats_ids","value":[]},{"id":1045033,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19308,"name":"5 PHÚT THUỘC BÀI 5 NĂM","product_id":16996,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"2468000","subtotal_tax":"0","total":"2468000","total_tax":"0","taxes":[],"meta_data":[{"id":190879,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":2468000,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31299/?pay_for_order=true&key=wc_order_C9IbLlCRILwUG","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-24T05:31:20","date_modified_gmt":"2023-08-24T05:31:31","date_completed_gmt":"2023-08-24T05:31:31","date_paid_gmt":"2023-08-24T05:31:21","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31299"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49803"}]}},"pairedItem":{"item":17}},{"json":{"id":31290,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-24T08:17:58","date_modified":"2023-08-24T08:18:09","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49957,"order_key":"wc_order_3Q7x75mCIWrE9","billing":{"first_name":"Nguyễn Thanh Tú","last_name":"","company":"","address_1":"Trường THPT Lộc Thái","address_2":"","city":"","state":"","postcode":"","country":"","email":"vuduchieuth@gmail.com","phone":"0984347311"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"2402:800:6345:ba6f:300b:3f64:1b91:ce71","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-24T08:18:09","date_paid":"2023-08-24T08:17:58","cart_hash":"5d43b555f373bc7b9f631de181a5209a","number":"31290","meta_data":[{"id":1044593,"key":"is_vat_exempt","value":"no"},{"id":1044594,"key":"marketing_status","value":"1"},{"id":1044596,"key":"wvw_currency_rate","value":"1"},{"id":1044597,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1044599,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1044601,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1044602,"key":"_woofunnel_cid","value":"27221"},{"id":1044603,"key":"_bwfan_order_total_base","value":"868000"},{"id":1044604,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"868000"},{"id":1044605,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"868000"},{"id":1044608,"key":"order_key","value":"wc_order_3Q7x75mCIWrE9"},{"id":1044609,"key":"ref_id","value":"R_0902953273"},{"id":1044612,"key":"lws_woovip_pro_membership_done","value":"2023-08-24T01:18:10+00:00"},{"id":1044613,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-24T01:18:10+00:00"},{"id":1044614,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-24T01:18:10+00:00"},{"id":1044616,"key":"_woofunnel_custid","value":"27221"},{"id":1044617,"key":"_wfob_stats_ids","value":[]},{"id":1044618,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19293,"name":"5 PHÚT THUỘC BÀI 1 NĂM","product_id":16994,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"868000","subtotal_tax":"0","total":"868000","total_tax":"0","taxes":[],"meta_data":[{"id":190724,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":868000,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31290/?pay_for_order=true&key=wc_order_3Q7x75mCIWrE9","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-24T01:17:58","date_modified_gmt":"2023-08-24T01:18:09","date_completed_gmt":"2023-08-24T01:18:09","date_paid_gmt":"2023-08-24T01:17:58","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31290"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49957"}]}},"pairedItem":{"item":18}}]},"versionId":"c12c000e-db71-4c73-aaba-949992264596","triggerCount":1,"tags":[]}