money-saigon39-noti-172.json
{"createdAt":"2023-07-15T02:06:43.952Z","updatedAt":"2023-07-19T07:01:21.000Z","id":"172","name":"Money-SaiGon39-Noti","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"saigon39-mnin","options":{}},"id":"2fd2da7d-0320-4c98-be2d-d1c0b7ba7308","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[820,420],"webhookId":"17ae85b2-4402-489c-b2c9-5bad9de39b5f"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"{   \"app_id\": \"cli_a438be409938d02f\",   \"app_secret\": \"JQVHt8heUABfGlVUDbqRLgBc45DHbBOe\" }","options":{}},"id":"d7d8e3f1-4227-426e-b8f2-e2af7e516280","name":"Tenant","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1040,420]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/im/v1/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"receive_id_type","value":"chat_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Tenant').item.json[\"tenant_access_token\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={\"config\":{\"wide_screen_mode\":true},\"elements\":[{\"tag\":\"div\",\"text\":{\"content\":\"**Ngân hàng**: ACB\\n**Số tiền**: {{ $json[\"amount\"] }} \\n\\n**Nội dung**: {{ $('Webhook').item.json[\"body\"][\"content\"] }} \\n\",\"tag\":\"lark_md\"}}],\"header\":{\"template\":\"turquoise\",\"title\":{\"content\":\"[Tiền Vào] Khách chuyển khoản !!! \",\"tag\":\"plain_text\"}}} \n"},{"name":"msg_type","value":"interactive"},{"name":"receive_id","value":"oc_17c5813e5ca810e29817bcdb09b3c30a"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"b09f6f98-c86a-43ac-a4e3-e666019eb32b","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1480,420]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/SPqfbutsYaKiFrsBIY9lwnaRgag/tables/tblXPUE9251er0Qz/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Tenant').item.json[\"tenant_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"records\": [\n    {\n      \"fields\": {\n        \"Nội dung\":\"{{ $('Webhook').item.json[\"body\"][\"content\"] }}\",\n        \"Số tiền\":{{ $('Webhook').item.json[\"body\"][\"amount\"] }}\n      }\n    }\n  ]\n}","options":{}},"id":"05eea8d0-cf7c-4418-afe9-62e4a9a5a8fd","name":"Bắn Base","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1700,420]},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst data = $(\"Webhook\").first().json;\n\nconst amount = data.body.amount;\nconst amount2 = Math.floor(amount).toLocaleString(\"vi-VN\") + \" VND\";\n\nreturn {\n  json: {\n    amount: amount2,\n  },\n};"},"id":"3cf528bc-17ba-49f1-81ac-f176aa27c048","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[1260,420]}],"connections":{"Webhook":{"main":[[{"node":"Tenant","type":"main","index":0}]]},"Tenant":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Bắn Base","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"c01b5e9c-bbb2-4b6e-a893-6e96173a6424","triggerCount":1,"tags":[]}