my workflow 11-107.json
{"createdAt":"2023-05-28T15:16:19.723Z","updatedAt":"2023-10-17T18:48:12.000Z","id":"107","name":"My workflow 11","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"7a363e75-c3e3-4ff7-98da-ae327c0365ed","options":{}},"id":"f4002084-65bd-4a47-922d-753191cc01c2","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[840,460],"webhookId":"7a363e75-c3e3-4ff7-98da-ae327c0365ed"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/Vjikb3AkUaksGzseJLbuqwBesMg/tables/tblnotJtbHhuoFWK/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Lay-Tenant-Access\"].json[\"body\"][\"tenant_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"fields\":{\"address\":\"{{ $node[\"Webhook\"].json[\"body\"][\"address\"] }}\",\"link\":\"{{ $node[\"Webhook\"].json[\"body\"][\"link\"] }} \",\"name\":\"{{ $node[\"Webhook\"].json[\"body\"][\"name\"] }}\",\"phone\":\"{{ $node[\"Webhook\"].json[\"body\"][\"phone\"] }}\"}}","options":{"response":{"response":{"fullResponse":true}}}},"id":"f2d3ae66-76b7-4822-b592-545882395837","name":"BanVaoBase","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1280,480]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal","sendBody":true,"bodyParameters":{"parameters":[{"name":"app_id","value":"cli_a4f9c9053d38d00a"},{"name":"app_secret","value":"TXPLOre84u85udS53VHiycMZl8B18NS1"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"54b2ca6f-60d8-4be9-9c3d-33dbe1c1828f","name":"Lay-Tenant-Access","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1060,460]}],"connections":{"Webhook":{"main":[[{"node":"Lay-Tenant-Access","type":"main","index":0}]]},"Lay-Tenant-Access":{"main":[[{"node":"BanVaoBase","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"a3206aa3-7f4a-42aa-837f-35696c55be7d","triggerCount":1,"tags":[]}