my workflow 30-453.json
{"createdAt":"2023-08-04T09:15:30.523Z","updatedAt":"2023-08-04T11:38:59.000Z","id":"453","name":"My workflow 30","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"14dc400a-680d-4ad1-928d-7faf3125c2dc","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[780,420]},{"parameters":{"content":"Mỗi tối lúc 18h, sẽ gửi thông báo ","height":80,"width":150},"id":"df322a3b-7ceb-49a3-9dd6-7b7330736029","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[760,300],"disabled":true},{"parameters":{"url":"https://api.smax.pro/gettoken?bizCode=lark_smax","options":{}},"id":"1fde7506-ce30-4997-8aea-7265b467dd85","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1220,420]},{"parameters":{"content":"Lấy dữ liệu đúng ngày cần gửi","height":80,"width":249},"id":"2acfd111-e24b-498d-9a47-64d3efb1c27a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1020,300]},{"parameters":{"conditions":{"dateTime":[{"value1":"={{ $json.timestamp }}","operation":"before","value2":"2023-08-13T17:00:00.000Z"}]}},"id":"73977fba-9d8a-4be4-8238-2aba925cdc3a","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":1,"position":[1000,420]},{"parameters":{"url":"={{encodeURI(`https://open.larksuite.com/open-apis/bitable/v1/apps/HyEybYz22aqO9nsTK74lacD6gFe/tables/tbllmnx7tKmRSN1i/records?filter=NOT(CurrentValue.[Thời gian kích hoạt] = \"\")`)}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"ab2d959e-401c-4fda-a9ef-d4c4c2629bc7","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1440,420],"credentials":{"oAuth2Api":{"id":"105","name":"Lark Smax"},"httpHeaderAuth":{"id":"106","name":"Header Auth account 4"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.data.items[0].fields[\"Thời gian kích hoạt\"] }}","value2":"={{ $json.data.items[1].fields[\"Thời gian kích hoạt\"] }}"}]}},"id":"39024955-ceac-454c-bd23-d98e127cd4d8","name":"Filter1","type":"n8n-nodes-base.filter","typeVersion":1,"position":[1880,420]},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data.items[0].fields.Avatar"}]},"options":{}},"id":"7f03ec84-7314-427e-98f6-07da00c5ebf9","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1660,420]},{"parameters":{"conditions":{"number":[{}]},"combineOperation":"any"},"id":"2f679a8e-62e2-458f-bd9e-5f6aea592ca3","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[2100,420]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"f4dbef4e-055c-409c-a505-253264fa1ae9","triggerCount":1,"tags":[]}