my workflow 42-547.json
{"createdAt":"2023-09-26T13:18:15.484Z","updatedAt":"2023-09-26T13:22:26.000Z","id":"547","name":"My workflow 42","active":false,"nodes":[{"parameters":{},"id":"96d42b5a-df47-4170-b429-bc895ef52571","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[580,300]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"apiHost","value":"https://asia.hevodata.com/api/public/v2.0"},{"name":"accessKey","value":"60H7WULVP3"},{"name":"secretKey","value":"JIGzmd1G79nvgt1SLe8a"},{"name":"base64Key","value":"NjBIN1dVTFZQMzpKSUd6bWQxRzc5bnZndDFTTGU4YQ=="}]},"options":{}},"id":"07d34eee-18c8-4bbc-a503-2d2147d97361","name":"Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[800,300]},{"parameters":{"url":"={{ $('Config').item.json.apiHost }}/pipelines/1/position","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"=authorization","value":"=Basic {{ $('Config').item.json.base64Key }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"config\": {\"mode\": \"full_load\"} }","options":{"response":{"response":{"fullResponse":true}}}},"id":"fa8edaf7-aed1-4ed7-9cdc-301bbb114d4f","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1280,300]},{"parameters":{"authentication":"serviceAccount","projectId":{"__rl":true,"value":"hevo-mw-5walvm2mya","mode":"list","cachedResultName":"hevo-mw-5walvm2mya","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=hevo-mw-5walvm2mya"},"sqlQuery":"SELECT * FROM `hevo-mw-5walvm2mya`.`hevo_mw_ds`.`vnp_data_purchaseorder`;","options":{"defaultDataset":"hevo_mw_ds","maxResults":1000}},"id":"f357076d-484b-410d-884e-c4d5c113bcc4","name":"Google BigQuery","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[1020,300],"credentials":{"googleApi":{"id":"133","name":"Hevo BigQuery Auth"}}}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Config","type":"main","index":0}]]},"Config":{"main":[[{"node":"Google BigQuery","type":"main","index":0}]]},"Google BigQuery":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"7c33fa1f-a610-4cc0-b554-4cd44287f9f4","triggerCount":0,"tags":[]}