my workflow 34-479.json
{"createdAt":"2023-08-21T03:27:36.818Z","updatedAt":"2023-08-21T06:41:00.000Z","id":"479","name":"My workflow 34","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"1988s","options":{}},"id":"6d0ea1a9-d8f1-463a-84d1-94204d730be7","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1480,1080],"webhookId":"b459d9da-c462-43e0-880c-12b8d6304763"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  let elements = [];\n\n  elements.push({\n    tag: 'div',\n    fields: [\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Ngân hàng**: ${data.bankName.toUpperCase()}`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số tài khoản**: ${data.receiverAccount}`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số dư thay đổi:** ${data.transactionType.type} ${data.transactionAmount.amountText} VND`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Nội dung:** ${data.transactionMessage}`,\n        },\n      },\n    ],\n  });\n\n  // Append transaction ID if exist\n  if (data.transactionId) {\n    elements[0].fields.push({\n      is_short: false,\n      text: {\n        tag: 'lark_md',\n        content: `**Mã giao dịch:** ${data.transactionId}`,\n      },\n    });\n  }\n\n  // Append received time\n  elements[0].fields.push({\n    is_short: false,\n    text: {\n      tag: 'lark_md',\n      content: `**Thời gian nhận:** ${data.receivedTime.text}`,\n    },\n  });\n\n  // Kiểm tra enableBalance nếu true thì thêm phần tử \"Số dư tạm tính\" vào mảng fields\n  if ($input.item.json.enableBalance) {\n    const balanceIndex = elements[0].fields.findIndex((field) =>\n      field?.text?.content?.includes('Số dư thay đổi')\n    );\n    if (balanceIndex !== -1) {\n      elements[0].fields.splice(balanceIndex + 1, 0, {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số dư tạm tính**: ${data.balance.amountText} VND`,\n        },\n      });\n    }\n  }\n\n  // create message card\n  let result = {\n    msg_type: 'interactive',\n    card: {\n      config: {\n        wide_screen_mode: true,\n      },\n      header: {\n        template: data.larkMessConfig?.cardColor ?? 'blue',\n        title: {\n          content: `${data.bankName.toUpperCase()}-${data.receiverAccount} (${\n            data.transactionType.type\n          }) ${data.transactionAmount.amountText}VND`,\n          tag: 'plain_text',\n        },\n      },\n      elements,\n    },\n  };\n\n  return {\n    json: {\n      isSend: true,\n      data: result,\n      customBotURL: $input.item.json.customBotURL,\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"aef6d2c3-9d4b-4d74-a676-35f9bb4dc093","name":"Convert to Lark Message Card","type":"n8n-nodes-base.code","typeVersion":1,"position":[840,1080]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"={ \"app_id\" : \"{{ $input.item.json[\"appId\"] }}\", \"app_secret\" : \"{{ $input.item.json[\"appSecret\"] }}\" }","options":{}},"id":"4d85a282-eb29-4a23-a987-fac557ed2093","name":"Get Lark tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-240,820]},{"parameters":{"method":"POST","url":"={{ $input.item.json.customBotURL }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.item.json.data)}}","options":{}},"id":"8ac0fae2-98be-432d-830e-9b7881d72561","name":"[Lark] Send noti to group chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1220,940]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  // Convert to Lark Base format\n  const records = [\n    {\n      fields: {\n        ID: data.bankName + '-' + data.receiverAccount,\n        Bank: data.bankName.toUpperCase(),\n        Account: data.receiverAccount,\n        'Transaction Type': data.transactionType.typeText,\n        Debit:\n          data.transactionType.type === '-'\n            ? data.transactionAmount.amount\n            : undefined,\n        Credit:\n          data.transactionType.type === '+'\n            ? data.transactionAmount.amount\n            : undefined,\n        'Transaction ID': data.transactionId,\n        'Transaction Message': data.transactionMessage,\n        'Original Message': data.originalMessage,\n        'Transaction Time': data.transactionTime.timestamp,\n        'Time received': data.receivedTime.timestamp,\n      },\n    },\n  ];\n\n  // Kiểm tra enableBalance nếu true thì thêm phần tử \"Balance\" vào mảng fields\n  if ($input.item.json.enableBalance) {\n    records[0].fields = {\n      ...records[0].fields,\n      Balance: data.balance.amount,\n    };\n  }\n\n  return {\n    json: {\n      isSend: true,\n      records,\n      configs: {\n        baseId: $input.item.json.baseId,\n        tableId: $input.item.json.tableId,\n      },\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"634a2d19-235b-4018-9bd2-a3ed679ae69c","name":"Convert to Lark Base format","type":"n8n-nodes-base.code","typeVersion":1,"position":[800,720]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $json[\"configs\"][\"baseId\"] }}/tables/{{  $json[\"configs\"][\"tableId\"]}}/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get Lark tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($json[\"records\"]) }}}","options":{}},"id":"312ced62-2afe-4611-b7ca-75397494b4e0","name":"[SMS Log] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1180,640]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isBankSupport }}","value2":true}]}},"id":"db7438c6-b9fe-40b9-bd72-4b2dcd7044a5","name":"ifBankSupport","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1060,1080]},{"parameters":{"method":"POST","url":"https://vn1.n8n.vn/webhook/kdigi-bank-bot-process-data","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.first().json.body) }}","options":{}},"id":"e575dc0d-ec51-4e7f-a87b-7fc9db9ee675","name":"getBankData","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1280,1080]},{"parameters":{},"id":"b6d2cf48-c8ae-4b0f-ac7a-f31b9ff516f2","name":"Start Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-860,1060]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  let message = [];\n\n  message.push(\n    `<b>${data.bankName.toUpperCase()}-${data.receiverAccount} (${\n      data.transactionType.type\n    }) ${data.transactionAmount.amountText}VND</b>\\n`,\n    `<b>Ngân hàng:</b> ${data.bankName.toUpperCase()}`,\n    `<b>Số tài khoản:</b> ${data.receiverAccount}`,\n    `<b>Số dư thay đổi:</b> ${data.transactionType.type} ${data.transactionAmount.amountText} VND`\n  );\n\n  // Add balance\n  if ($input.item.json.enableBalance) {\n    message.push(`<b>Số dư tạm tính:</b> ${data.balance.amountText} VND`);\n  }\n\n  message.push(`<b>Nội dung:</b>\\n ${data.transactionMessage}`);\n\n  // Check transaction ID\n  if (data.transactionId) {\n    message.push(`<b>Mã giao dịch:</b> ${data.transactionId}`);\n  }\n\n  message.push(`<b>Thời gian nhận:</b> ${data.receivedTime.text}`);\n\n  return {\n    json: {\n      isSend: true,\n      botToken: $input.item.json.botToken,\n      payload: {\n        chat_id: $input.item.json.chatId,\n        parse_mode: 'HTML',\n        text: message.join('\\n'),\n      },\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"2c9af17c-40be-4e20-9edf-c3edee5eb984","name":"Create Telegram Message","type":"n8n-nodes-base.code","typeVersion":1,"position":[200,1680]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $input.item.json.botToken }}/sendMessage ","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.item.json.payload) }}","options":{}},"id":"c8ee2e84-8d98-49f7-9175-224df96ce12a","name":"Send to Telegram chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[660,1600]},{"parameters":{"values":{"string":[{"name":"appId","value":"cli_a33cd37530b8900a"},{"name":"appSecret","value":"qNz8YxoCCZoGm9Nlm2bOrcUriJsJtHHD"}]},"options":{}},"id":"00fbd993-3725-417a-b956-66ae8b3533ce","name":"Set Lark Configs","type":"n8n-nodes-base.set","typeVersion":2,"position":[-420,820]},{"parameters":{"values":{"string":[{"name":"customBotURL","value":"https://open.larksuite.com/open-apis/bot/v2/hook/d22754fc-b756-461b-9aaf-c9aefc3f735f"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP","value":true},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"ae5e698a-6d3d-4db0-9874-eb3f6f69d810","name":"Set Lark Mess Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[200,960]},{"parameters":{"values":{"string":[{"name":"baseId","value":"KpM3bxEasaXfv3sxYZel77aFgAg"},{"name":"tableId","value":"tblZtWqfOza9vt3M"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP","value":true},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"8544e6d6-5cea-445b-84eb-b100892b4ae4","name":"Set Lark Base Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[200,560]},{"parameters":{},"id":"3bcd83b5-0369-410e-bcda-f63da9b39b88","name":"Start Lark Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-580,820]},{"parameters":{},"id":"ae84dd00-cc77-4f23-a460-548affcb17f6","name":"Start Lark Base","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-20,680]},{"parameters":{},"id":"25d15757-aeb6-4abc-a9bd-38327d3e91c0","name":"Start Lark Mess","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-20,1040]},{"parameters":{},"id":"8e55928f-26b0-40df-a46e-637a6dbe9e0d","name":"Start Telegram Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-600,1600]},{"parameters":{"values":{"string":[{"name":"botToken","value":"6644598587:AAGfmUI8K0Hx6I7-jnKqw19Pd2adl6B3Ds4"},{"name":"chatId","value":"-1001958985351"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP","value":true},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"be5f06f8-85e1-4fec-9299-b54b79748d67","name":"Set Telegram Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[-400,1480]},{"parameters":{},"id":"c2e3c2f3-9296-44c9-930d-266756825c4a","name":"Start Lark Base Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[420,660]},{"parameters":{},"id":"010a36dc-7f1e-49c0-b6b2-b89ed5a808db","name":"Start Lark Mess Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[420,1020]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\n// create message card\nlet result = {\n  msg_type: 'text',\n  content: {\n    text: `Từ: ${smsContent.from}\\n${smsContent.text.toString()}`,\n  },\n};\n\nreturn {\n  json: {\n    data: result,\n    customBotURL: $input.item.json.customBotURL,\n  },\n};\n"},"id":"f19664c8-4d02-4118-825e-40086b56e637","name":"Convert to Message Card for OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[840,920]},{"parameters":{},"id":"f6ea8168-0166-4958-a29d-aa7830b4c711","name":"Start Telegram Mess Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-200,1600]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\nlet message = [];\n\nmessage.push(\n  `<b>${smsContent.from.toUpperCase()}</b>\\n`,\n  `${smsContent.text.toString()}`\n);\n\nreturn {\n  json: {\n    botToken: $input.item.json.botToken,\n    payload: {\n      chat_id: $input.item.json.chatId,\n      parse_mode: 'HTML',\n      text: message.join('\\n'),\n    },\n  },\n};\n"},"id":"d3bdae27-fd0d-4d05-9453-ab3356409495","name":"Create Telegram Message for OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[200,1520]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"1af971bf-ba2b-4228-b234-9f02cce6f0c0","name":"ifSend","type":"n8n-nodes-base.if","typeVersion":1,"position":[1040,1080]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"be856fcf-b8c5-4745-9d12-ae35fd68e2d2","name":"ifSend1","type":"n8n-nodes-base.if","typeVersion":1,"position":[980,720]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"878ddec7-8f67-4aa5-9bb6-b83ee5e3bd70","name":"ifSend2","type":"n8n-nodes-base.if","typeVersion":1,"position":[420,1680]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\n  // Convert to Lark Base format\n  const records = [\n    {\n      fields: {\n        ID: smsContent.from,\n        Bank: smsContent.from,\n        'Transaction Type': 'OTP',\n        'Transaction Message': smsContent.text.toString(),\n        'Original Message': smsContent.text.toString(),\n        'Time received': smsContent.sentStamp,\n      },\n    },\n  ];\n\n  return {\n    json: {\n      records,\n      configs: {\n        baseId: $input.item.json.baseId,\n        tableId: $input.item.json.tableId,\n      },\n    },\n  };\n"},"id":"31756d5a-0b19-421e-933d-41dac8309989","name":"Convert to Lark Base format OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[800,480]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"897a0e24-8701-46a9-a055-2c2a1042d7ed","name":"ifOTPLarkBase","type":"n8n-nodes-base.if","typeVersion":1,"position":[600,660]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"6e3889ec-2a90-449b-9f82-f585a8203c8e","name":"ifOTPLarkMess","type":"n8n-nodes-base.if","typeVersion":1,"position":[580,1020]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"87749d67-ba3c-45d9-9353-9a5fb92ed2ee","name":"ifOTPTelegram","type":"n8n-nodes-base.if","typeVersion":1,"position":[-20,1600]},{"parameters":{"values":{"string":[{"name":"baseId","value":"KpM3bxEasaXfv3sxYZel77aFgAg"},{"name":"tableId","value":"tblZtWqfOza9vt3M"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP","value":true},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"205f6a48-2ee8-4ec0-afe8-2a7a45a89134","name":"Set Lark Base Config1","type":"n8n-nodes-base.set","typeVersion":2,"position":[200,700]}],"connections":{"Webhook":{"main":[[{"node":"getBankData","type":"main","index":0}]]},"Convert to Lark Message Card":{"main":[[{"node":"ifSend","type":"main","index":0}]]},"Get Lark tenant access token":{"main":[[{"node":"Start Lark Base","type":"main","index":0},{"node":"Start Lark Mess","type":"main","index":0}]]},"Convert to Lark Base format":{"main":[[{"node":"ifSend1","type":"main","index":0}]]},"ifBankSupport":{"main":[[{"node":"Start Actions","type":"main","index":0}]]},"getBankData":{"main":[[{"node":"ifBankSupport","type":"main","index":0}]]},"Create Telegram Message":{"main":[[{"node":"ifSend2","type":"main","index":0}]]},"Set Lark Configs":{"main":[[{"node":"Get Lark tenant access token","type":"main","index":0}]]},"Set Lark Mess Config":{"main":[[{"node":"Start Lark Mess Actions","type":"main","index":0}]]},"Set Lark Base Config":{"main":[[{"node":"Start Lark Base Actions","type":"main","index":0}]]},"Start Lark Actions":{"main":[[{"node":"Set Lark Configs","type":"main","index":0}]]},"Start Lark Base":{"main":[[{"node":"Set Lark Base Config","type":"main","index":0},{"node":"Set Lark Base Config1","type":"main","index":0}]]},"Start Lark Mess":{"main":[[{"node":"Set Lark Mess Config","type":"main","index":0}]]},"Start Telegram Actions":{"main":[[{"node":"Set Telegram Config","type":"main","index":0}]]},"Set Telegram Config":{"main":[[{"node":"Start Telegram Mess Actions","type":"main","index":0}]]},"Start Lark Base Actions":{"main":[[{"node":"ifOTPLarkBase","type":"main","index":0}]]},"Start Lark Mess Actions":{"main":[[{"node":"ifOTPLarkMess","type":"main","index":0}]]},"Convert to Message Card for OTP":{"main":[[{"node":"[Lark] Send noti to group chat","type":"main","index":0}]]},"Start Telegram Mess Actions":{"main":[[{"node":"ifOTPTelegram","type":"main","index":0}]]},"Create Telegram Message for OTP":{"main":[[{"node":"Send to Telegram chat","type":"main","index":0}]]},"ifSend":{"main":[[{"node":"[Lark] Send noti to group chat","type":"main","index":0}]]},"ifSend1":{"main":[[{"node":"[SMS Log] Add records to Bitable","type":"main","index":0}]]},"ifSend2":{"main":[[{"node":"Send to Telegram chat","type":"main","index":0}]]},"Convert to Lark Base format OTP":{"main":[[{"node":"[SMS Log] Add records to Bitable","type":"main","index":0}]]},"ifOTPLarkBase":{"main":[[{"node":"Convert to Lark Base format OTP","type":"main","index":0}],[{"node":"Convert to Lark Base format","type":"main","index":0}]]},"ifOTPLarkMess":{"main":[[{"node":"Convert to Message Card for OTP","type":"main","index":0}],[{"node":"Convert to Lark Message Card","type":"main","index":0}]]},"ifOTPTelegram":{"main":[[{"node":"Create Telegram Message for OTP","type":"main","index":0}],[{"node":"Create Telegram Message","type":"main","index":0}]]},"Start Actions":{"main":[[{"node":"Start Lark Actions","type":"main","index":0},{"node":"Start Telegram Actions","type":"main","index":0}]]},"Set Lark Base Config1":{"main":[[{"node":"Start Lark Base Actions","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"38c3b4df-4671-43a3-90bc-1fbb876b38b4","triggerCount":1,"tags":[]}