my workflow 36-487.json
{"createdAt":"2023-08-24T13:14:22.890Z","updatedAt":"2023-08-24T14:53:19.000Z","id":"487","name":"My workflow 36","active":true,"nodes":[{"parameters":{"path":"5ptb1nam","responseMode":"responseNode","options":{}},"id":"27edea2e-a535-4fda-8f62-77087087eecf","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[660,480],"webhookId":"47376c07-19dc-46e0-a514-739985fe2ef9"},{"parameters":{"resource":"order","operation":"create","additionalFields":{},"billingUi":{"billingValues":{"firstName":"={{ $('Webhook').item.json.query.name }}","lastName":"","company":"","address_1":"","address_2":"","city":"","postcode":"","country":"","email":"={{ $('Webhook').item.json.query.email }}","phone":"={{ $('Webhook').item.json.query.phone }}"}},"couponLinesUi":{},"feeLinesUi":{},"lineItemsUi":{"lineItemsValues":[{"name":" 5 PHÚT THUỘC BÀI 1 NĂM","productId":16994,"variationId":0,"quantity":1,"taxClass":"","subtotal":"","total":"868000","metadataUi":{}}]},"metadataUi":{},"shippingUi":{},"shippingLinesUi":{}},"id":"9552bad9-0bf5-4b9c-8c4e-95d4f3426ef9","name":"WooCommerce","type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[1340,300],"credentials":{"wooCommerceApi":{"id":"81","name":"HitaCamp.vn"}}},{"parameters":{"respondWith":"text","responseBody":"=<meta http-equiv=\"refresh\" content=\"0; url=https://hitacamp.vn/chi-tiet/thank-you-page/?order_id={{ $json.id }}&key={{ $json.order_key }}\">","options":{}},"id":"ec17b6f2-22d6-43d2-be65-745f9a8e9961","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1560,640]},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","projectId":"p_qdh0kr1uq4ot64","table":"md_asiuysqyn4l397","fieldsUi":{"fieldValues":[{"fieldName":"name","fieldValue":"={{ $json.billing.first_name }}"},{"fieldName":"email","fieldValue":"={{ $json.billing.email }}"},{"fieldName":"phone","fieldValue":"={{ $json.billing.phone }}"},{"fieldName":"product","fieldValue":"5 PHÚT THUỘC BÀI 1 năm"},{"fieldName":"total","fieldValue":"={{ $json.line_items[0].total }}"},{"fieldName":"soluong","fieldValue":"={{ $json.line_items[0].quantity }}"},{"fieldName":"order_id","fieldValue":"={{ $json.id }}"}]}},"id":"45b32810-b0d4-4313-a269-0fb0abcc39dc","name":"NocoDB1","type":"n8n-nodes-base.nocoDb","typeVersion":2,"position":[1560,300],"credentials":{"nocoDbApiToken":{"id":"118","name":"NocoDB Token account"}}},{"parameters":{"method":"POST","url":"=https://api.quanchatbot.com/tamtriluc/add-customer.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"fullName","value":"={{ $json.query.name }}"},{"name":"phone","value":"={{ $json.query.phone }}"},{"name":"email","value":"={{ $json.query.email }}"},{"name":"ref_Code","value":"KHT2457872"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"bb0abc91-6f7a-4b96-9939-04b5bc218d3c","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[880,480],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.query.product }}","value2":"1taikhoan"}]}},"id":"5575d4a1-04af-4076-b57f-7c61ad9ae806","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1100,320]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.query.product }}","value2":"2taikhoan"}]}},"id":"1d42edd8-cfdd-4f1e-a58b-89b018e05ecb","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[1100,480]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.query.product }}","value2":"3taikhoan"}]}},"id":"b3ca82a0-c61a-450c-9207-ef095d4206af","name":"IF2","type":"n8n-nodes-base.if","typeVersion":1,"position":[1100,660]},{"parameters":{"resource":"order","operation":"create","additionalFields":{},"billingUi":{"billingValues":{"firstName":"={{ $('Webhook').item.json.query.name }}","lastName":"","company":"","address_1":"","address_2":"","city":"","postcode":"","country":"","email":"={{ $('Webhook').item.json.query.email }}","phone":"={{ $('Webhook').item.json.query.phone }}"}},"couponLinesUi":{},"feeLinesUi":{},"lineItemsUi":{"lineItemsValues":[{"name":" 5 PHÚT THUỘC BÀI 1 NĂM","productId":16994,"variationId":0,"quantity":2,"taxClass":"","subtotal":"","total":"1336000","metadataUi":{}}]},"metadataUi":{},"shippingUi":{},"shippingLinesUi":{}},"id":"1d18e83c-80a5-44b5-b710-36255d8fd646","name":"WooCommerce1","type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[1340,460],"credentials":{"wooCommerceApi":{"id":"81","name":"HitaCamp.vn"}}},{"parameters":{"resource":"order","operation":"create","additionalFields":{},"billingUi":{"billingValues":{"firstName":"={{ $('Webhook').item.json.query.name }}","lastName":"","company":"","address_1":"","address_2":"","city":"","postcode":"","country":"","email":"={{ $('Webhook').item.json.query.email }}","phone":"={{ $('Webhook').item.json.query.phone }}"}},"couponLinesUi":{},"feeLinesUi":{},"lineItemsUi":{"lineItemsValues":[{"name":" 5 PHÚT THUỘC BÀI 1 NĂM","productId":16994,"variationId":0,"quantity":3,"taxClass":"","subtotal":"","total":"1095000","metadataUi":{}}]},"metadataUi":{},"shippingUi":{},"shippingLinesUi":{}},"id":"f1b54b00-708e-4445-8f8d-24472af8b35e","name":"WooCommerce2","type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[1340,640],"credentials":{"wooCommerceApi":{"id":"81","name":"HitaCamp.vn"}}},{"parameters":{"method":"POST","url":"https://chatapi.viber.com/pa/post","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"auth_token\":\"50974b6f593227d9-7d731e250b2ef5f1-5acd3075e1e5ab8c\", \n    \"from\": \"5CPNb0hMF7cStaK1LMjCBg==\", \n    \"type\": \"text\", \n    \"text\": \"• Thời gian: {{$json[\"date_created\"]}}\\n❤️ĐƠN HÀNG TRẠNG THÁI MỚI: *{{$json[\"status\"]}}*\\n•\\n\\n------------------------------\\n✅Sản phẩm: 5 PHÚT THUỘC BÀI 1 NĂM ({{$('Webhook').first().json[\"query\"][\"product\"]}})\\n• Thành tiền: *{{$json[\"total\"]}}đ*\\n------------------------------\\n• Họ tên: {{$json[\"billing\"][\"first_name\"]}}\\n• Điện thoại: {{$json[\"billing\"][\"phone\"]}}\\n• Email: {{$json[\"billing\"][\"email\"]}}\\n------------------------------\\n• Mã đơn hàng: {{$json[\"id\"]}} - {{$json[\"order_key\"]}}\\n• Chi tiết đơn hàng: https://hitacamp.vn/chi-tiet/thank-you-page/?key={{$json[\"order_key\"]}}&order_id={{$json[\"id\"]}}\\n• Chi tiết đơn hàng theo Phone: https://hitacamp.vn/chi-tiet-don-hang-theo-dien-thoai/?phone={{$json[\"billing\"][\"phone\"]}}\" \n}","options":{}},"id":"57d41382-2a99-4819-a8f0-6944ec1d3764","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1560,460],"continueOnFail":true}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"IF","type":"main","index":0},{"node":"IF1","type":"main","index":0},{"node":"IF2","type":"main","index":0}]]},"IF":{"main":[[{"node":"WooCommerce","type":"main","index":0}]]},"IF2":{"main":[[{"node":"WooCommerce2","type":"main","index":0}]]},"IF1":{"main":[[{"node":"WooCommerce1","type":"main","index":0}]]},"WooCommerce":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"NocoDB1","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0}]]},"WooCommerce1":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"NocoDB1","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0}]]},"WooCommerce2":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"NocoDB1","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP Request":{"main":[[]]}},"settings":{},"staticData":null,"pinData":{"HTTP Request2":[{"json":{"data":"{\n\t\t\"error\":\"Đã có dữ liệu\",\n\t\t\"data\":{\n\t\t\t\"code\": \"KHT2625213\"\n}\n}"},"pairedItem":{"item":0}}],"WooCommerce":[{"json":{"id":31443,"parent_id":0,"status":"pending","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-24T21:10:38","date_modified":"2023-08-24T21:10:38","discount_total":"-868000","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"868000","total_tax":"0","customer_id":0,"order_key":"wc_order_5Bz8Y4twphGaX","billing":{"first_name":"Xử","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","email":"nguyenngocxu594@gmail.com","phone":"0909477729"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"","payment_method_title":"","transaction_id":"","customer_ip_address":"","customer_user_agent":"","created_via":"rest-api","customer_note":"","date_completed":null,"date_paid":null,"cart_hash":"","number":"31443","meta_data":[{"id":1047545,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1047546,"key":"_bwfan_v2_wc_product_purchased","value":"1"}],"line_items":[{"id":19340,"name":" 5 PHÚT THUỘC BÀI 1 NĂM","product_id":16994,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"868000","subtotal_tax":"0","total":"868000","total_tax":"0","taxes":[],"meta_data":[{"id":191211,"key":"Zoom ID","value":"","display_key":"Zoom ID","display_value":""},{"id":191212,"key":"Zoom Passcode","value":"","display_key":"Zoom Passcode","display_value":""},{"id":191213,"key":"Zoom Date","value":"","display_key":"Zoom Date","display_value":""},{"id":191214,"key":"Ref link for Order Completed","value":"","display_key":"Ref link for Order Completed","display_value":""},{"id":191215,"key":"Content button Ref","value":"","display_key":"Content button Ref","display_value":""},{"id":191216,"key":"Order detail URL","value":"https://hitacamp.vn/chi-tiet/chi-tiet-dang-ky-5-phut-thuoc-bai","display_key":"Order detail URL","display_value":"https://hitacamp.vn/chi-tiet/chi-tiet-dang-ky-5-phut-thuoc-bai"},{"id":191217,"key":"learning_type","value":"5ptb","display_key":"learning_type","display_value":"5ptb"},{"id":191218,"key":"learning_id","value":"","display_key":"learning_id","display_value":""},{"id":191219,"key":"sale_order_id","value":"","display_key":"sale_order_id","display_value":""}],"sku":"","price":868000,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31443/?pay_for_order=true&key=wc_order_5Bz8Y4twphGaX","is_editable":true,"needs_payment":true,"needs_processing":true,"date_created_gmt":"2023-08-24T14:10:38","date_modified_gmt":"2023-08-24T14:10:38","date_completed_gmt":null,"date_paid_gmt":null,"store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31443"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}]}},"pairedItem":{"item":0}}],"WooCommerce2":[{"json":{"id":31443,"parent_id":0,"status":"pending","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-24T21:10:38","date_modified":"2023-08-24T21:10:38","discount_total":"-868000","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"868000","total_tax":"0","customer_id":0,"order_key":"wc_order_5Bz8Y4twphGaX","billing":{"first_name":"Xử","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","email":"nguyenngocxu594@gmail.com","phone":"0909477729"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"","payment_method_title":"","transaction_id":"","customer_ip_address":"","customer_user_agent":"","created_via":"rest-api","customer_note":"","date_completed":null,"date_paid":null,"cart_hash":"","number":"31443","meta_data":[{"id":1047545,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1047546,"key":"_bwfan_v2_wc_product_purchased","value":"1"}],"line_items":[{"id":19340,"name":" 5 PHÚT THUỘC BÀI 1 NĂM","product_id":16994,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"868000","subtotal_tax":"0","total":"868000","total_tax":"0","taxes":[],"meta_data":[{"id":191211,"key":"Zoom ID","value":"","display_key":"Zoom ID","display_value":""},{"id":191212,"key":"Zoom Passcode","value":"","display_key":"Zoom Passcode","display_value":""},{"id":191213,"key":"Zoom Date","value":"","display_key":"Zoom Date","display_value":""},{"id":191214,"key":"Ref link for Order Completed","value":"","display_key":"Ref link for Order Completed","display_value":""},{"id":191215,"key":"Content button Ref","value":"","display_key":"Content button Ref","display_value":""},{"id":191216,"key":"Order detail URL","value":"https://hitacamp.vn/chi-tiet/chi-tiet-dang-ky-5-phut-thuoc-bai","display_key":"Order detail URL","display_value":"https://hitacamp.vn/chi-tiet/chi-tiet-dang-ky-5-phut-thuoc-bai"},{"id":191217,"key":"learning_type","value":"5ptb","display_key":"learning_type","display_value":"5ptb"},{"id":191218,"key":"learning_id","value":"","display_key":"learning_id","display_value":""},{"id":191219,"key":"sale_order_id","value":"","display_key":"sale_order_id","display_value":""}],"sku":"","price":868000,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31443/?pay_for_order=true&key=wc_order_5Bz8Y4twphGaX","is_editable":true,"needs_payment":true,"needs_processing":true,"date_created_gmt":"2023-08-24T14:10:38","date_modified_gmt":"2023-08-24T14:10:38","date_completed_gmt":null,"date_paid_gmt":null,"store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31443"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}]}}}],"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br","accept-language":"vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX18tE3PyKuDWRWbU30tCyZxRaT78vww9ZPQ%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2Ba9XjKZBGwnvZqV5qVLBFO3JeSj1raisE%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVjOTI4YTJlLTE2NjgtNGMzMS1hYTE1LTM1NzM0Yzc0YTM3NiIsImVtYWlsIjoibWFya2V0aW5nLmhpdGFib3RAZ21haWwuY29tIiwicGFzc3dvcmQiOiJhMjM2NjUwM2ZlZmRhYmE2ZTc5MjBlODBiNjY4MThmMWQyMDc1MzVjNmM5YjE0NzRkN2Q4M2JjMWEyMTBiMDY2IiwiaWF0IjoxNjkyODgyNTA4LCJleHAiOjE2OTM0ODczMDh9._aqlmrqv8RTjBlk08cbecPUkksWq-ANygNDQ7lAwW_U; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19jcgDZrPmKga7D%2FzwKedSWFk1YPt3RhzlXyOcujk45MrMKlaH11QAAtA%2Fgr3TvbSZUkCiDAsL4lQ%3D%3D; rl_group_id=RudderEncrypt%3AU2FsdGVkX19XS6xBYO3ugMH8SFPi2mf6YgAijaNDaCo%3D; rl_group_trait=RudderEncrypt%3AU2FsdGVkX1%2BvtKIuPDZIDFGxg0RA8dUHESMmcAFMIGs%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19NtF0RROCyHJlXfvBiMht2psS55Iu1Cjzbmot2gfb03%2Fg5OzksfoVuEImuNCwGu9Lj6hPgPyyh3itr%2BR%2BQNbeS40%2FJSoL5roGnpeUvtKVIJxoaG4FQGclWHRsOsx78xKhIFqBiArWT2Z2u4XeaxUzApiDFxdvDXQk%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2BTOlQAKz5dmQh%2BeuNaEZmK7tR2LHZfFqgNBi%2Bi0%2FGKp%2B2iGgpERMfihqJU9Za03SKVsGjhmsTPKpm9vNtDByQfWRyXXn7kgK%2B2ljX9KNEG7P4V5rH%2BSHjAxTFU9plS4GfjDjPkXcRZa978PkGwxZCxmm0Ey6kx8KA%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24active_feature_flags%22%3A%5B%22013_distribution_test%22%2C%22011_ask_AI%22%2C%22012_signup_cta_wording%22%2C%22009_choosing_trial_plan%22%2C%22006_cloud_opt_in%22%2C%22010_relevant_usecase%22%2C%22schema-view%22%5D%2C%22%24enabled_feature_flags%22%3A%7B%22013_distribution_test%22%3A%22variant%22%2C%22011_ask_AI%22%3A%22gpt3%22%2C%22012_signup_cta_wording%22%3A%22variant%22%2C%22009_choosing_trial_plan%22%3A%22control%22%2C%22004_checklist%22%3Afalse%2C%22008_template_variants%22%3Afalse%2C%22006_cloud_opt_in%22%3A%22control%22%2C%22010_relevant_usecase%22%3A%22control%22%2C%22schema-view%22%3Atrue%7D%2C%22%24feature_flag_payloads%22%3A%7B%7D%2C%22distinct_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%235c928a2e-1668-4c31-aa15-35734c74a376%22%2C%22%24device_id%22%3A%22018a21d6-167e-735e-bb88-4adda9eb3e2e%22%2C%22%24user_state%22%3A%22identified%22%2C%22%24user_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%235c928a2e-1668-4c31-aa15-35734c74a376%22%2C%22%24stored_person_properties%22%3A%7B%22instance_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%22%2C%22created_at_timestamp%22%3A1689569970679%7D%2C%22%24sesid%22%3A%5B1692885060376%2C%22018a27a9-1b4a-715a-8af7-5e2d862cb2b9%22%2C1692882508618%5D%2C%22%24session_recording_enabled_server_side%22%3Afalse%2C%22%24autocapture_disabled_server_side%22%3Afalse%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19NY8%2BSuIqO42xJLvxom%2BRjvMuasV7bMcX3YkDVdWVEdHkZt3J2nm%2Fl%2Fz0JQUymZPDCg9YGtXWSz5J7zITX9Z51sRkxNbh0VkonatxemklRCJBqvkA%2FgC1kUOS%2BwKePu5gXjRGgsIkz2w%3D%3D","sec-ch-ua":"\"Chromium\";v=\"116\", \"Not)A;Brand\";v=\"24\", \"Google Chrome\";v=\"116\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"14.241.231.236","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"14.241.231.236"},"params":{},"query":{"name":"Xử","phone":"0909477729","email":"nguyenngocxu594@gmail.com","product":"2taikhoan"},"body":{}}}],"HTTP Request":[{"json":{"status":0,"status_message":"ok","message_token":5875504594123386000,"chat_hostname":"SN-CHAT-12_"},"pairedItem":{"item":0}}]},"versionId":"8ad34f49-0496-468a-a1f7-55e0d5b6d93b","triggerCount":1,"tags":[]}