nhận mail-10.json
{"createdAt":"2023-01-13T06:02:50.170Z","updatedAt":"2023-01-13T06:37:22.000Z","id":"10","name":"Nhận mail","active":false,"nodes":[{"parameters":{"options":{"customEmailConfig":"[\"UNSEEN\"]"}},"id":"e53ad97f-a062-443e-b692-001dfaec0b08","name":"Email Trigger (IMAP)","type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[1100,580],"credentials":{"imap":{"id":"9","name":"IMAP account: no-reply@kdigi.app"}}},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/basusgEO8Qxw77dRoJyBvuPPh8e/tables/tbl8JGY8bvtfZFE6/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n     \"content\": \"Khôi\",\n  }\n}","options":{}},"id":"62412b7f-fd8b-421d-b309-0ae8e8db0396","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1540,580]},{"parameters":{"documentId":{"__rl":true,"value":"1RDBBTEXxrC07DE8hjVFYrhIzz5h9BHhojcFhgZDOBxU","mode":"list","cachedResultName":"Lark Connector Token","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDBBTEXxrC07DE8hjVFYrhIzz5h9BHhojcFhgZDOBxU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Kdigivn","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDBBTEXxrC07DE8hjVFYrhIzz5h9BHhojcFhgZDOBxU/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"key","lookupValue":"lark_key"}]},"options":{}},"id":"15b07782-4553-47af-9ff0-47cfea3c79ee","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[1320,580],"credentials":{"googleSheetsOAuth2Api":{"id":"3","name":"Google Sheets lekhoi456@gmail.com"}}}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Email Trigger (IMAP)":[{"json":{"textHtml":"<div id=\"editor_version_1.23.1_etm1E7TG\" style=\"word-break:break-word;\"><div data-zone-id=\"0\" data-line-index=\"0\" data-line=\"true\" style=\"margin-top: 4px; margin-bottom: 4px; line-height: 1.6;\"><div style=\"font-size: 14px;\">Tôi là Khôi\r\n</div></div></div>","textPlain":"Tôi là Khôi","metadata":{"authentication-results":"lms; spf=softfail (client-ip:209.127.231.40) smtp.mailfrom=khoilq@kdigi.vn; dkim=pass header.i=@kdigi-vn.20200929.dkim.larksuite.com; dmarc=none","delivered-to":"no-reply@kdigi.app","x-lms-client-ip":"209.127.231.40","x-lms-mail-from":"khoilq@kdigi.vn","received-spf":"softfail (lms verify) identity=mailfrom; client-ip=209.127.231.40; helo=t04.bc.larksuite.com; envelope-from=khoilq@kdigi.vn; receiver=<UNKNOWN>;","dkim-signature":"v=1; a=rsa-sha256; q=dns/txt; c=relaxed/relaxed; s=s1; d=kdigi-vn.20200929.dkim.larksuite.com; t=1673590047;  h=from:subject:mime-version:from:date:message-id:subject:to:cc: reply-to:content-type:mime-version:in-reply-to:message-id; bh=a2wwNwqv4Vtl24UhutzC+4vtthNWTA5Y6pH8rRjzfa8=; b=nvprF980lHkvaJOSjyabP44yteu1ovQsOI9D7emyC6udMYiveoxX08PdqLbPswaeJBp6NW fbVTEpnLdonIOuWZ+2YgzOPSsjnC4vhkg7ep4smwDmYYqO45o5tY08begcztAPExaL2edC lN/Bm9hdLOpOGDx1klLvMYpTMh07ZSKBz/hLC3ZBvQ0mX51G9GC0WtnVd0PBFIDHMRaORU Sx/Cp3Q1Rt9FoJxZM6DyHdS6EPcpSL7ireKtzp36LYSwLkTKn7mG/pdOeDBkc6V1OpttNf fKGGJVDSKo0fzuUJum0h41UtYoc5Vj58zPYCIpAty77voth7AYitbUqHpP5tXg==","mime-version":"1.0","x-lms-return-path":"<lba+163c0f515+4fd278+kdigi.app+khoilq@kdigi.vn>","message-id":"<02eacd2b4f9400228ed59f9395eb5c327d5b4452.73ea0f1e.18ea.4437.841a.6acce79b3357@larksuite.com>","content-type":"multipart/alternative; boundary=aef08b5c0f3fd30c0807fe34121074ae298affea065ac613085543d2ed76"},"subject":"Xin chào","from":"\"Le Quoc Khoi\" <khoilq@kdigi.vn>","to":"\"No-Reply KDIGI.App\" <no-reply@kdigi.app>","date":"Fri, 13 Jan 2023 06:07:17 +0000"}}],"Google Sheets":[{"json":{"row_number":2,"key":"lark_key","access_token":"u-055Rl0VHN8iWbArKuTpEHRR1ibIhhhS9VOw055sw2I5A","expires_in":6900,"refresh_token":"ur-1xXIqOUyB9PEaqvWiua_YvR1gbehhhYxUyw0k4ow2I0w","refresh_expires_in":2591700}}]},"versionId":"ab37b2e9-ec5d-4389-b1d2-e02f02fc3fe3","triggerCount":0,"tags":[{"createdAt":"2023-01-13T06:02:40.778Z","updatedAt":"2023-01-13T06:02:40.778Z","id":"3","name":"Test Khoá học"}]}