noti qua vqmm webinar 07-23-207.json
{"createdAt":"2023-07-19T23:52:02.690Z","updatedAt":"2023-07-20T03:17:08.000Z","id":"207","name":"Noti Qua VQMM Webinar 07.23","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"vqmm-webinar-0723","options":{}},"id":"c806cbc3-3b56-404a-bf33-896c4feecdc1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[820,400],"webhookId":"947ff5c8-2a03-4329-9551-359274aa87b3"},{"parameters":{"url":"=https://hitacamp.vn/wp-content/plugins/listeruption2/inc/points.php?id=3&lead={{ $json.body.userId.split(\"-\")[0] }}&token=cggqcdct","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"168a8011-e06f-4b2b-a12b-260ca0bfe403","name":"Get info Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1040,400]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.gift_name }}","operation":"contains","value2":"Thẻ cào"}]}},"id":"ed923d1e-2089-4b37-bce0-9a06552c8997","name":"Thẻ cào","type":"n8n-nodes-base.if","typeVersion":1,"position":[1260,240]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.gift_name }}","operation":"contains","value2":"Combo 14"}]}},"id":"5e5ff639-22af-48d8-8c31-2f7ddd678563","name":"Combo 14","type":"n8n-nodes-base.if","typeVersion":1,"position":[1260,400]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.gift_name }}","operation":"contains","value2":"webinar"}]}},"id":"12e8907b-734e-4387-9468-169e630985f2","name":"webinar","type":"n8n-nodes-base.if","typeVersion":1,"position":[1260,560]},{"parameters":{"method":"POST","url":"https://app.n8n.vn/webhook/thinkific","sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"HV"},{"name":"last_name","value":"={{ $('Get info Lead').first().json.hoten }}"},{"name":"email","value":"={{ $('Get info Lead').first().json.mail }}"},{"name":"phone","value":"={{ $('Get info Lead').first().json.dienthoai }}"},{"name":"password","value":"TG2023@TTL"},{"name":"type","value":"bundle"},{"name":"learning_id","value":"113803"}]},"options":{}},"id":"d63c520d-8754-4b07-a2b9-4c6616bc47d4","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1500,380]},{"parameters":{"chatId":"-832099157","text":"=🎁Có lượt quay nhận quà Webinar 07.23:\n ├ Lead_id: {{ $json.lead_id }}\n ├ Họ tên: {{ $json.hoten }}\n ├ Điện thoại: {{ $json.dienthoai }}\n ├ Email: {{ $json.mail }}\n ├ Quà tặng: {{ $('Webhook').item.json.body.gift_name }}\n └ Thời gian: {{ $('Webhook').item.json.body.gift_at.toDate().format('yyyy-MM-dd HH:mm:ss') }}","additionalFields":{}},"id":"21c30bd1-9950-4b30-84c9-c4fdba5bff62","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1260,720],"credentials":{"telegramApi":{"id":"87","name":"hita_5ptb_bot"}}}],"connections":{"Webhook":{"main":[[{"node":"Get info Lead","type":"main","index":0}]]},"Get info Lead":{"main":[[{"node":"Thẻ cào","type":"main","index":0},{"node":"Combo 14","type":"main","index":0},{"node":"webinar","type":"main","index":0},{"node":"Telegram","type":"main","index":0}]]},"Combo 14":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"axios/0.19.2","content-length":"173","accept":"application/json, text/plain, */*","content-type":"application/json","x-forwarded-for":"34.87.3.106","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"34.87.3.106","accept-encoding":"gzip"},"params":{},"query":{},"body":{"gift_name":"Thẻ cào 50k","gift_at":"2023-07-20T01:10:42.193Z","gift_received":"true","gift_id":"5f9fdd23bf17bc6c1869aa81","userId":"18-0985767138-lehongquan@gmail.com"}},"pairedItem":{"item":0}}]},"versionId":"7ec88d2f-a586-4cb8-b802-df8a0c56dc70","triggerCount":1,"tags":[]}