open vqmm 07-23-208.json
{"createdAt":"2023-07-20T00:31:04.752Z","updatedAt":"2023-07-24T09:05:10.000Z","id":"208","name":"Open VQMM 07.23","active":true,"nodes":[{"parameters":{"path":"nhan-luot-vqmm-0723","responseMode":"responseNode","options":{}},"id":"66d727e2-0255-435c-bbf0-74c2369f4b3d","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,400],"webhookId":"fe8cdabf-17e0-41f3-b0df-03e79b22119c"},{"parameters":{"respondWith":"text","responseBody":"=<!doctype html>\n<html lang=\"en\">\n  <head>\n    <!-- Required meta tags -->\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n    <!-- Bootstrap CSS -->\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3\" crossorigin=\"anonymous\">\n\n    <title>Vòng quay may mắn</title>\n<meta http-equiv=\"Refresh\" content=\"0; url='https://elm.botplus.asia/64b65dd970f9cf178eeb5367?userId={{ $('HTTP Request1').first().json[\"lead_id\"] }}-{{ $('HTTP Request1').first().json[\"dienthoai\"] }}-{{ $('HTTP Request1').first().json[\"mail\"] }}'\" />\n  </head>\n  <body>\n    <h1>Đang mở Vòng quay may mắn, xin hãy đợi...</h1>\n\n    <!-- Optional JavaScript; choose one of the two! -->\n\n    <!-- Option 1: Bootstrap Bundle with Popper -->\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p\" crossorigin=\"anonymous\"></script>\n\n    <!-- Option 2: Separate Popper and Bootstrap JS -->\n    <!--\n    <script src=\"https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js\" integrity=\"sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js\" integrity=\"sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13\" crossorigin=\"anonymous\"></script>\n    -->\n  </body>\n</html>","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=UTF-8"}]}}},"id":"19a9b153-3c59-410a-aace-94b9ab77de4b","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1420,260]},{"parameters":{"method":"POST","url":"https://public.botplus.io/table/64b87f64080dd017aa90575b?secret=5555","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"findRow\": {\n    \"lead\": \"{{ $('Webhook').item.json[\"query\"][\"lead_id\"] }}\"\n  },\n  \"response\": true\n}","options":{}},"id":"507929a5-d3f5-4630-b34d-5020b9e4306b","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[680,280],"notesInFlow":false,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"url":"=https://hitacamp.vn/wp-content/plugins/listeruption2/inc/points.php?id={{ $json.query.camp }}&lead={{ $json.query.lead_id }}&token=cggqcdct","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"bdc69d90-594b-4e49-a658-53af1f3b9de8","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[360,400]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.mail }}","operation":"isNotEmpty"}],"number":[{"value1":"={{ $json.points }}","operation":"largerEqual","value2":10}]}},"id":"fbd236ce-6706-429e-a39d-115674695c53","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[500,400]},{"parameters":{"respondWith":"text","responseBody":"=<!doctype html>\n<html lang=\"en\">\n  <head>\n    <!-- Required meta tags -->\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n    <!-- Bootstrap CSS -->\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3\" crossorigin=\"anonymous\">\n\n    <title>Hello, world!</title>\n  </head>\n  <body>\n    <h1>Không tìm thấy dữ liệu của bạn, hoặc bạn chưa đủ điểm để nhận lượt chơi!</h1>\n\n    <!-- Optional JavaScript; choose one of the two! -->\n\n    <!-- Option 1: Bootstrap Bundle with Popper -->\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p\" crossorigin=\"anonymous\"></script>\n\n    <!-- Option 2: Separate Popper and Bootstrap JS -->\n    <!--\n    <script src=\"https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js\" integrity=\"sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js\" integrity=\"sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13\" crossorigin=\"anonymous\"></script>\n    -->\n  </body>\n</html>","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=UTF-8"}]}}},"id":"8ebcbf33-aa93-4f78-aa8c-abd263757645","name":"Not found Lead_id","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[680,580]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.row.lead }}","operation":"isNotEmpty"}]}},"id":"b6dbbb5b-dea6-4f10-ac99-1eff05637150","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[860,280]},{"parameters":{"method":"POST","url":"https://public.botplus.io/table/64b87f64080dd017aa90575b?secret=5555","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"newRow\": {\n    \"lead\": \"{{ $('Webhook').first().json[\"query\"][\"lead_id\"] }}\",\n\"time\": \"{{ $now.format(\"yyyy-MM-dd hh:mm:ss\") }}\"\n  },\n  \"response\": true\n}","options":{}},"id":"808a14c4-6ba6-47ba-a5f8-2c23db565708","name":"Luu Table","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1020,460]},{"parameters":{"method":"POST","url":"=https://elm.botplus.asia/64b65dd970f9cf178eeb5367?secret=5555&userId={{ $('HTTP Request1').first().json[\"lead_id\"] }}-{{ $('HTTP Request1').first().json[\"dienthoai\"] }}-{{ $('HTTP Request1').first().json[\"mail\"] }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"turnNumber","value":"3"},{"name":"userName","value":"={{ $('HTTP Request1').first().json[\"hoten\"] }}"}]},"options":{}},"id":"a66ecec2-f75d-470a-af2e-0286eaafe616","name":"Them luot quay","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1220,460]}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Not found Lead_id","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"IF1","type":"main","index":0}]]},"IF1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Luu Table","type":"main","index":0}]]},"Luu Table":{"main":[[{"node":"Them luot quay","type":"main","index":0}]]},"Them luot quay":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br","accept-language":"en-US,en;q=0.9,vi-VN;q=0.8,vi;q=0.7","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2Bk6e6eVyykz1shSZQXSorERbwRAL2yEAk%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2Bg1ISQy3CW5tYMaHSVMpMPs1YkdWl6DUk%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVjOTI4YTJlLTE2NjgtNGMzMS1hYTE1LTM1NzM0Yzc0YTM3NiIsImVtYWlsIjoibWFya2V0aW5nLmhpdGFib3RAZ21haWwuY29tIiwicGFzc3dvcmQiOiJhMjM2NjUwM2ZlZmRhYmE2ZTc5MjBlODBiNjY4MThmMWQyMDc1MzVjNmM5YjE0NzRkN2Q4M2JjMWEyMTBiMDY2IiwiaWF0IjoxNjg5NTg1MDkyLCJleHAiOjE2OTAxODk4OTJ9.uC-cGVtXoWz4dUEojrEIk-M8ZLUv9bThB19OVfZj9NI; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2FKmww8ayBrHCX1TjJIhsuBN6%2FtrckN1bEVXz28tsP0LB%2F%2BdTY8IUSXE8lQRP0hOsa%2FciKHASsejQ%3D%3D; rl_group_id=RudderEncrypt%3AU2FsdGVkX1%2B5PaJSRDoZvMzjFHQbC6NCp4ELdRrPAe0%3D; rl_group_trait=RudderEncrypt%3AU2FsdGVkX1%2Bl0uygmOvlpdLxvdmsPYJtfHHhkrX36iY%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19VyjXQzC%2FHrS1WdN%2FAgi37XBRpZeDdLlWetEkibYM%2F6FSa4ufEkrKk9wzh%2Bc5RQ4ndijqvFsD73dq1sYucKxYgwmM%2F5LaxfbIn9ZiYAaWpqDbv7bolNHltheHVWlDtOM0hiFUYxRTadWCUxgdjKJxsKGRgYy8WOFM%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19e0939UqxCKKjbw5ifT6h6PUIdiXWgQTQGioSkz9fpERD2YvKbO9z0vb8M57nJ6jWkGiBNECz%2FoLMM6rV9V11rrKBAmLj36imDxiX393dtoR4S%2F9VBC5tyxZqD74YGOHwDTViQ9eKMsp%2BN5jAcklaO3r0ZemX%2BRfU%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24active_feature_flags%22%3A%5B%22007_user_motivation%22%2C%22schema-view%22%5D%2C%22%24enabled_feature_flags%22%3A%7B%22007_user_motivation%22%3A%22variant%22%2C%22004_checklist%22%3Afalse%2C%22003_auto_insert_action%22%3Afalse%2C%22schema-view%22%3Atrue%7D%2C%22%24feature_flag_payloads%22%3A%7B%7D%2C%22distinct_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%235c928a2e-1668-4c31-aa15-35734c74a376%22%2C%22%24device_id%22%3A%22189631e73ac98410d0-04e37328f28ed4-26031d51-1fa400-189631e73ac98410d0%22%2C%22%24user_state%22%3A%22identified%22%2C%22%24user_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%235c928a2e-1668-4c31-aa15-35734c74a376%22%2C%22%24stored_person_properties%22%3A%7B%22instance_id%22%3A%2264a38b9b44838d7f40e62a857615246be15ea55c65a4232ba8f3a75cd176b811%22%2C%22created_at_timestamp%22%3A1689569970679%7D%2C%22%24sesid%22%3A%5B1689812433309%2C%221897091281215b8ca8-05077b77e34f04-26031d51-1fa400-1897091281215b9090%22%2C1689810708498%5D%2C%22%24session_recording_enabled_server_side%22%3Afalse%2C%22%24autocapture_disabled_server_side%22%3Afalse%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FBW5KJvKZ%2Fw8nq0PKbXK3Uh44ytOktUZmnVdxvXjisWIg6cnRhL6y5tqUJHXW2vSBx%2FbTGEGp0BUkcFP1zz68o4PK8yLIJqJuoKTOtpKc95%2B%2FIEfClKkPD5H%2F7sXH4e693ciu8Cs%2BJAg%3D%3D","sec-ch-ua":"\"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"114\", \"Google Chrome\";v=\"114\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"115.73.222.88","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"115.73.222.88"},"params":{},"query":{"lead_id":"18","camp":"3"},"body":{}},"pairedItem":{"item":0}}],"HTTP Request1":[{"json":{"campaign":"3","hoten":"Lê Hồng Quân","mail":"lehongquan@gmail.com","date":"July 18, 2023","dienthoai":"0985767138","messid":"","city":"","state":"N/A","address":"N/A","IP":"bfa68a6d375419c1aad66ab82e42adc6","ref_id":"","lead_id":"18","ref_code":"c18Le","points":"2","views":"49"},"pairedItem":{"item":0}}]},"versionId":"73227312-fb4f-4633-a28e-405be9463a04","triggerCount":1,"tags":[]}