otp_pl-534.json
{"createdAt":"2023-09-17T15:41:21.735Z","updatedAt":"2023-09-17T16:14:07.000Z","id":"534","name":"OTP_PL","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"OTP","options":{}},"id":"03a4f1b4-4ec7-4f97-b14d-65fe987a9988","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-20,220],"webhookId":"2ed5813b-2718-413b-83f4-d7011fc60ec7"},{"parameters":{"fromEmail":"Sys <cs@grgr.vn>","toEmail":"={{ $json.query.Email }}","subject":"={{ $json.query.otp }} | Mã OTP của bạn","emailFormat":"html","html":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      background-color: #21618C; /* Màu nền */\n      font-family: Arial, sans-serif; /* Font chữ */\n      color: #ffffff; /* Màu chữ */\n    }\n    .container {\n      max-width: 200px;\n      margin: 0 auto;\n      padding: 20px;\n      text-align: center;\n    }\n    h1 {\n      font-size: 24px;\n      color: #ffffff;\n      margin-top: 0;\n    }\n    p {\n      font-size: 16px;\n      color: #ffffff;\n    }\n    .logo {\n      display: block;\n      margin-bottom: 20px;\n    }\n    .button-container {\n      display: flex;\n      justify-content: center;\n      align-items: center;\n    }\n    .button {\n      display: inline-block;\n      background-color:#FFFFFF;\n      color: #000000;\n      padding: 10px 20px;\n      margin-top: 20px;\n      text-decoration: None;\n      border-radius: 4px;\n    }\n    .contact-info {\n      font-size: 14px;\n      margin-top: 20px;\n    }\n    .contact-info a {\n      color: #ffffff;\n      text-decoration: underline;\n    }\n  </style>\n</head>\n<body>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n    <tr>\n      <td align=\"center\" valign=\"top\">\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"150\">\n          <tr>\n            <td align=\"center\" bgcolor=\"#21618C\" style=\"padding: 20px;\">\n              <img src=\"http://grgr.vn/Content/img/Logo.png\" alt=\"Logo\" class=\"logo\" width=\"200\" height=\"100\">\n              <h1>OTP CÓ HIỆU LỰC TRONG 10 PHÚT!</h1>\n            </td>\n          </tr>\n        \n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>","options":{}},"id":"324d9cdf-d26a-44da-b84e-b0c9dd39b287","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[140,240],"credentials":{"smtp":{"id":"56","name":"SMTP account 6"}}},{"parameters":{"amount":"={{ $('Webhook').item.json.query.min }}","unit":"minutes"},"id":"5293d168-00a2-42d8-a935-7a757f452898","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[280,240],"webhookId":"bbfc8307-9754-4116-bb81-f7f6e7be67c7"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal/","sendQuery":true,"specifyQuery":"json","jsonQuery":"{ \"app_id\" : \"cli_a459df5dd6b8500a\",  \"app_secret\" : \"TTFD16iqQU0Psui0fewGVg2q2bcWIFBt\" } ","options":{}},"id":"c64b54ef-5f16-4d5b-ba58-80426b0c6539","name":"AppToken","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[440,240]},{"parameters":{"method":"PUT","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/O8bfbil7eaz58esKiRPuu4YDsVg/tables/tblTwec3u9Obidv7/records/{{ $('Webhook').item.json.query.rcID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"fields\" : {\"OTP\":\"\"}}","options":{}},"id":"47f245b9-074c-47ad-b738-624aea4e4b38","name":"Expired","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[620,140]}],"connections":{"Webhook":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"AppToken","type":"main","index":0}]]},"AppToken":{"main":[[{"node":"Expired","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"c22221f1-ce3c-49f4-a7e9-fdaa1a285c30","triggerCount":1,"tags":[{"createdAt":"2023-09-17T15:41:18.704Z","updatedAt":"2023-09-17T15:41:18.704Z","id":"40","name":"GRGR_CONGLUONG"}]}