pass google sheets into base-520.json
{"createdAt":"2023-09-10T10:25:00.275Z","updatedAt":"2023-09-11T16:50:20.000Z","id":"520","name":"pass Google Sheets into Base","active":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"mode":"everyWeek","hour":5}]}},"name":"Cron","type":"n8n-nodes-base.cron","position":[420,240],"typeVersion":1,"id":"d1dcc7ea-7d2d-4a2e-8519-98f4aa32a47a"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1riqLG5Dtk5SVdKxLDDZ-F5hy9yOgduFP9blbIitrqik","mode":"id"},"sheetName":{"__rl":true,"value":1150801244,"mode":"list","cachedResultName":"Facebook Ads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1riqLG5Dtk5SVdKxLDDZ-F5hy9yOgduFP9blbIitrqik/edit#gid=1150801244"},"options":{}},"id":"225ebb83-f1f1-40d6-9d57-628c24d24140","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[620,240],"credentials":{"googleApi":{"id":"119","name":"Google Service Account account"}}},{"parameters":{"values":{"string":[{"name":"appId","value":"cli_a4728c89b9b89010"},{"name":"appSecret","value":"VPxBThYjNh7CuRxNnXWQoGXCZmz7NWuP"},{"name":"baseId","value":"AYlRbXuWzaoThTsHtjult88dgMe"},{"name":"tableId","value":"tblzB4H147PIJmd1"}]},"options":{}},"id":"acf689e0-b2dd-4e37-ae33-8f87693ca40f","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[820,240]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"={ \"app_id\" : \"{{ $('Set').item.json[\"appId\"] }}\", \"app_secret\" : \"{{ $('Set').item.json[\"appSecret\"] }}\"  }","options":{}},"id":"d8ab644a-e1d7-4ceb-b6ed-260852aff85f","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1220,240],"alwaysOutputData":false,"executeOnce":true},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $('Set').item.json[\"baseId\"] }}/tables/{{ $('Set').item.json[\"tableId\"] }}/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.app_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\":  {{ $('Code').item.json }}\n}\n","options":{}},"id":"11d2c07f-f9c2-452e-9859-6eb22ccb7470","name":"Add base","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1400,240],"alwaysOutputData":false,"notesInFlow":false},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"id":"b4873cc3-209c-417c-86c1-ba013b827ebd","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[1000,240]}],"connections":{"Cron":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Add base","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"98438ae6-d733-4b7d-b18e-f5477efa8273","triggerCount":0,"tags":[]}