pl_nvxacnhan-473.json
{"createdAt":"2023-08-11T09:55:10.861Z","updatedAt":"2023-09-16T13:18:55.000Z","id":"473","name":"PL_NVxacnhan","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"xnpl","options":{"responseData":"Cảm ơn Bạn đã phản hồi. Vui lòng đóng cửa sổ này!!"}},"id":"a3aaf4ce-f913-479f-b9d6-18160a0e1ec5","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[380,240],"webhookId":"a784c8ad-66ea-4006-916c-ebd5c7c56eb6"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"={ \"app_id\" : \"cli_a459df5dd6b8500a\",\n \"app_secret\" : \"TTFD16iqQU0Psui0fewGVg2q2bcWIFBt\" } ","options":{}},"id":"1889895e-fcad-423f-a556-3e084fb15911","name":"app_token","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[540,240]},{"parameters":{"dataType":"string","value1":"={{ $('Webhook').item.json.query.loai }}","rules":{"rules":[{"value2":"PL"},{"value2":"PH","output":3}]}},"id":"7000f346-db30-4fdf-ab9f-64dc8108aa62","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[740,240]},{"parameters":{"method":"PUT","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/O8bfbil7eaz58esKiRPuu4YDsVg/tables/tblLbMgH0N0x4iiO/records/{{ $('Webhook').item.json.query.recordID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"fields\" : {\"NV_XACNHAN\":\"OK\"}}","options":{}},"id":"f4acc1b1-ce45-4bcf-858f-cb7361794729","name":"NVXACNHAN","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[940,160]},{"parameters":{"method":"PUT","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/O8bfbil7eaz58esKiRPuu4YDsVg/tables/tblvye7bK29vFokz/records/{{ $('Webhook').item.json.query.recordID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"fields\" : {\"CHỐT\":\"OK\"}}","options":{}},"id":"1e516fad-fa14-4efb-a533-a6e5e80b40da","name":"NVOKREPLY","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[940,300]}],"connections":{"Webhook":{"main":[[{"node":"app_token","type":"main","index":0}]]},"app_token":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"NVXACNHAN","type":"main","index":0}],[],[],[{"node":"NVOKREPLY","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"e758d7de-ed97-46f5-8602-57947cba64e9","triggerCount":1,"tags":[{"createdAt":"2023-08-11T08:45:57.223Z","updatedAt":"2023-08-11T08:45:57.223Z","id":"37","name":"SOC-CH"}]}