postmall cronjob-468.json
{"createdAt":"2023-08-10T06:43:31.632Z","updatedAt":"2023-08-10T09:39:13.000Z","id":"468","name":"PostMall Cronjob","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"id":"e096520f-9718-4cdc-aef3-ba5a987a080f","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[940,560]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.statusCode }}","operation":"equal","value2":200},{"value1":"={{ $json.body.code }}","operation":"equal","value2":200}],"string":[{"value1":"={{ $json.body.result }}","operation":"isNotEmpty"}]}},"id":"b7b15116-25db-4052-add8-47a9b1d87847","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1400,480]},{"parameters":{"fieldToSplitOut":"body.result","options":{"destinationFieldName":"data"}},"id":"008c1c44-9cae-4f6f-8c64-ecb4399d9a05","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1660,460]},{"parameters":{"method":"POST","url":"https://postmart.com.vn/api/common/queue","sendHeaders":true,"headerParameters":{"parameters":[{"name":"pm-access-code","value":"5d1eea8c5821bf111104f23f4c7298f1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.data }}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}}}},"id":"88315e52-77c5-44ac-ba6e-e56c3452df1d","name":"Approve Once Queue","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2000,340],"retryOnFail":true},{"parameters":{"chatId":"-548413896","text":"=PostMall-N8N-Queue-{{ $json.statusCode }}:\n{{ JSON.stringify($json.body) }}","additionalFields":{}},"id":"de65ca0a-4d4b-4f51-a1f2-d591201d8679","name":"Alert Error Approve","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2460,420],"credentials":{"telegramApi":{"id":"85","name":"Telegram account"}}},{"parameters":{"chatId":"-548413896","text":"=PostMall-N8N-Queue:\n{{ $json.message }}","additionalFields":{}},"id":"c388141d-3ba7-4729-9c3d-3a1ca3d344b2","name":"Alert Error Get List","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1660,680],"credentials":{"telegramApi":{"id":"85","name":"Telegram account"}}},{"parameters":{"url":"https://postmart.com.vn/api/common/queue","sendHeaders":true,"headerParameters":{"parameters":[{"name":"pm-access-code","value":"5d1eea8c5821bf111104f23f4c7298f1"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}}}},"id":"75d44985-a41a-486f-96e9-d8d9726a2326","name":"Get List Queue","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1180,560]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.statusCode }}","operation":"notEqual","value2":200},{"value1":"={{ $json.body.code }}","operation":"notEqual","value2":200}]},"combineOperation":"any"},"id":"1a406d34-d0f9-4d28-9e0f-bfa0f1d7a51f","name":"Api Error","type":"n8n-nodes-base.if","typeVersion":1,"position":[1400,660]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.statusCode }}","operation":"equal","value2":200},{"value1":"={{ $json.body.code }}","operation":"equal","value2":200}]}},"id":"f0d3efca-910e-436a-a810-1e5cf7677b6d","name":"Check API Error","type":"n8n-nodes-base.if","typeVersion":1,"position":[2220,340]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get List Queue","type":"main","index":0}]]},"IF":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Approve Once Queue","type":"main","index":0}]]},"Approve Once Queue":{"main":[[{"node":"Check API Error","type":"main","index":0}]]},"Get List Queue":{"main":[[{"node":"IF","type":"main","index":0},{"node":"Api Error","type":"main","index":0}]]},"Api Error":{"main":[[{"node":"Alert Error Get List","type":"main","index":0}]]},"Check API Error":{"main":[[],[{"node":"Alert Error Approve","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{"Approve Once Queue":[{"json":{"body":{"code":200,"message":"success","result":"updateGoodsPromotionPriceByGoodsCommonId - 6350","requestMethod":""},"headers":{"date":"Thu, 10 Aug 2023 09:27:00 GMT","content-type":"text/html; charset=UTF-8","transfer-encoding":"chunked","connection":"close","x-powered-by":"PHP/7.4.33","access-control-allow-origin":"*","access-control-allow-headers":"*","access-control-allow-methods":"GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS","x-frame-options":"SAMEORIGIN","x-content-type-options":"nosniff","cf-cache-status":"DYNAMIC","report-to":"{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=fzI5SPvvg0kPNl%2FLcQDt0Fn6cKKQcFsd7uPDtISAqQHaff%2BhAlFE3vAJQmpBm%2BdpaGSUolKSKONfX9cTK0rl39CPmYQVjEaUpYNsNV4garcGwh5U19IyZfogEuAr8wlwfhI%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}","nel":"{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}","server":"cloudflare","cf-ray":"7f4733523a65e6c2-HKG","alt-svc":"h3=\":443\"; ma=86400"},"statusCode":200,"statusMessage":"OK"},"pairedItem":{"item":0}}]},"versionId":"13c3e11c-d37b-424d-bfc2-5d9dd2cb3a44","triggerCount":1,"tags":[]}