push data lên lark base-460.json
{"createdAt":"2023-08-07T05:49:51.983Z","updatedAt":"2023-08-07T06:27:36.000Z","id":"460","name":"Push data lên Lark Base","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"push-to-larkbase222","options":{}},"id":"06e91f24-5b3d-457f-b5b8-97e82f6fdcf4","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[900,120],"webhookId":"cb9e82ad-b20f-4e6b-81a6-e4395e13acc5"},{"parameters":{"values":{"string":[{"name":"app_id","value":"APP ID CUA BAN"},{"name":"app_secret","value":"APP SECRET CUA BAN"},{"name":"baseId","value":"LyZKb3bTvaglHqsvbitlH8dXgth"},{"name":"tableId","value":"tblQyxN6NxhdYCjl"}]},"options":{}},"id":"1f7872fa-84ae-461f-9561-e150488dabfb","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[1100,120]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"app_id\" : \"{{ $('Set').params[\"values\"][\"string\"][0][\"value\"] }}\",\n\"app_secret\" : \"{{ $('Set').params[\"values\"][\"string\"][1][\"value\"] }}\" \n}","options":{}},"id":"b15b981a-1032-4ef1-a9f3-e8747b2d769b","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1320,120]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $('Set').params[\"values\"][\"string\"][2][\"value\"] }}/tables/{{ $('Set').params[\"values\"][\"string\"][3][\"value\"] }}/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"fields\": {\n\"name\" : \"{{ $('Webhook').item.json[\"body\"][\"name\"] }}\",\n\"email\" : \"{{ $('Webhook').item.json[\"body\"][\"email\"] }}\",\n\"phone\" : \"{{ $('Webhook').item.json[\"body\"][\"phone\"] }}\"\n}\n}\n","options":{}},"id":"0567465f-a7da-402d-bfb7-1408013f50e0","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1540,120]}],"connections":{"Webhook":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"b861f594-4a60-40c8-b1ce-906f1ea1d9cb","triggerCount":0,"tags":[]}