quatang cmh-ctt-204.json
{"createdAt":"2023-07-19T07:30:23.109Z","updatedAt":"2023-09-15T04:25:39.000Z","id":"204","name":"QuaTang CMH-CTT","active":true,"nodes":[{"parameters":{"path":"cmh-ctt","responseMode":"responseNode","options":{"rawBody":false}},"id":"dfe97925-e784-4c69-9379-c8721c167da5","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[600,460],"webhookId":"c29826ca-a8fb-4f1f-9e08-718a3b7ee38c"},{"parameters":{"method":"POST","url":"https://app.n8n.vn/webhook/thinkific","sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"HV"},{"name":"last_name","value":"={{ $json.hoten }}"},{"name":"email","value":"={{ $json.mail }}"},{"name":"phone","value":"={{ $json.dienthoai }}"},{"name":"type","value":"course"},{"name":"learning_id","value":"2238939"}]},"options":{}},"id":"5aaad3f0-7cf6-4edf-9a82-ade0c1a35631","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1300,460]},{"parameters":{"url":"=https://hitacamp.vn/wp-content/plugins/listeruption2/inc/points.php?id={{ $json.query.camp }}&lead={{ $json.query.lead_id }}&token=cggqcdct","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"bb4ffb38-5a64-46ff-b5a0-de0034f89731","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[840,460]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.mail }}","operation":"isNotEmpty"}]}},"id":"b7ef3f08-10ed-4f6f-8acb-e78726f40459","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1080,460]},{"parameters":{"respondWith":"text","responseBody":"=<style>|\t@media screen and (max-width:480px) {\t\t.main-table {\t\t\twidth: 300px !important; margin: 0 auto;\t\t}\t}</style><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #f3f3f3; font-family: Arial, Helvetica, sans-serif;\" width=\"100%\">\t<tbody>\t\t<tr>\t\t\t<td align=\"center\">\t\t\t\t<table cellpadding=\"0\" cellspacing=\"0\" class=\"main-table\" style=\"margin: 25px auto; background:#ffffff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 1px 1px 0 #eaeaea; -webkit-box-shadow: 1px 1px 0 #eaeaea; box-shadow: 1px 1px 0 #eaeaea; width: 500px;\">\t\t\t\t\t<tbody>\t\t\t\t\t\t<tr style=\"border: 0;\">\t\t\t\t\t\t\t<td style=\"padding: 20px; border-top-left-radius: 3px; border-top-right-radius: 3px; text-align: left; border: 0px; background-color: rgb(21, 169, 241);\"><a href=\"https://edu.hitacamp.vn\" style=\"border: none; text-decoration: none; font-size: 22px;\" target=\"_blank\"><span style=\"font-size: 18px;\">&nbsp;<strong><span style=\"color: rgb(255, 255, 255);\">HITA LEARNING</span>&nbsp;</strong></span></a><span style=\"font-size: 18px;\">&zwnj;</span></td>\t\t\t\t\t\t</tr>\t\t\t\t\t\t<tr style=\"border: 0;\">\t\t\t\t\t\t\t<td style=\"padding: 20px; background: #fff; border: 0;\">\t\t\t\t\t\t\t\t<h1><span style=\"font-family: Arial, Helvetica, sans-serif; font-size: 18px;\">Xin ch&agrave;o bạn,</span></h1>\t\t\t\t\t\t\t\t<p><span style=\"font-family: Arial, Helvetica, sans-serif; font-size: 18px;\">Ch&uacute;c mừng Bạn đ&atilde; đã nhận được Kho&aacute; học online <strong>CHA MẸ HỌC - CON THÀNH TÀI</strong>.</span></p>\t\t\t\t\t\t\t\t<p><span style=\"font-family: Arial, Helvetica, sans-serif; font-size: 18px;\">Ngay b&acirc;y giờ, bạn h&atilde;y truy cập kho&aacute; học để đ&oacute;n nhận những b&agrave;i học, kinh nghiệm th&uacute; vị v&agrave; gi&aacute; trị từ Thầy Nguyễn Ph&ugrave;ng Phong nh&eacute;!</span><span style=\"font-size: 18px;\"><br></span></p>\t\t\t\t\t\t\t</td>\t\t\t\t\t\t</tr>\t\t\t\t\t\t<tr style=\"border: 0;\">\t\t\t\t\t\t\t<td style=\"padding: 20px; background: #fff; border: 0;\">\t\t\t\t\t\t\t\t<div class=\"fr-view\">\t\t\t\t\t\t\t\t\t<div class=\"fr-view\" style=\"margin-bottom: 24px;\">\t\t\t\t\t\t\t\t\t\t<p><span style=\"font-size: 24px;\"><a href=\"https://edu.hitacamp.vn/courses/cha-me-hoc-con-thanh-tai\" rel=\"noopener noreferrer\" target=\"_blank\">Bắt đầu ngay th&ocirc;i!</a></span></p>\t\t\t\t\t\t\t\t\t</div>\t\t\t\t\t\t\t\t\t<p>------------------------------</p>\t\t\t\t\t\t\t\t\t<style type=\"text/css\" id=\"isPasted\">\t\t\t\t\t\t\t\t\t\tp.p1 {\t\t\t\t\t\t\t\t\t\t\tmargin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Helvetica Neue'\t\t\t\t\t\t\t\t\t\t}\t\t\t\t\t\t\t\t\t</style>\t\t\t\t\t\t\t\t\t<style type=\"text/css\" id=\"isPasted\">\t\t\t\t\t\t\t\t\t\tp.p1 {\t\t\t\t\t\t\t\t\t\t\tmargin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Helvetica Neue'\t\t\t\t\t\t\t\t\t\t}\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tp.p2 {\t\t\t\t\t\t\t\t\t\t\tmargin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Helvetica Neue'; min-height: 14.0px\t\t\t\t\t\t\t\t\t\t}\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tspan.s1 {\t\t\t\t\t\t\t\t\t\t\tfont: 13.0px 'Helvetica Neue'\t\t\t\t\t\t\t\t\t\t}\t\t\t\t\t\t\t\t\t</style>\t\t\t\t\t\t\t\t\t<p><strong>URL đăng nhập</strong>: <a href=\"https://edu.hitacamp.vn/users/sign_in\" rel=\"noopener noreferrer\" target=\"_blank\">https://edu.hitacamp.vn/users/sign_in</a></p>\t\t\t\t\t\t\t\t\t<p><strong>Email</strong>: {{ $json[\"mail\"] }}</p>\t\t\t\t\t\t\t\t\t<p><strong>Mật khẩu mặc định</strong>: TG2023@TTL&nbsp;</p>\t\t\t\t\t\t\t\t\t<p>(Nếu bạn kh&ocirc;ng đăng nhập được với mật khẩu n&agrave;y, h&atilde;y d&ugrave;ng t&iacute;nh năng qu&ecirc;n mật khẩu: <a href=\"https://edu.hitacamp.vn/users/password/new\" rel=\"noopener noreferrer\" target=\"_blank\">https://edu.hitacamp.vn/users/password/new</a></p>\t\t\t\t\t\t\t\t\t</td>\t\t\t\t\t\t</tr>\t\t\t\t\t</tbody>\t\t\t\t</table>\t\t\t</td>\t\t</tr>\t</tbody></table>","options":{}},"id":"c0892616-4624-48b5-b0e4-d9b919e1bfcc","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1320,260]}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"508"},"staticData":null,"pinData":{},"versionId":"6e364c30-02f3-4b2c-b139-2e6593bc0c7c","triggerCount":1,"tags":[]}