send mail-9.json
{"createdAt":"2023-01-13T05:18:23.356Z","updatedAt":"2023-01-13T07:26:11.000Z","id":"9","name":"Send mail","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"dang-ky-khoa-hoc","options":{"responseData":""}},"id":"a6e79e2a-f6c7-4847-b98d-bef11bd95bda","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[1100,580],"webhookId":"08bdd76a-2bce-4731-b19b-085574a8a047"},{"parameters":{"fromEmail":"no-reply@kdigi.app","toEmail":"={{ $json[\"body\"][\"email\"] }}","bccEmail":"khoilq@kdigi.vn","subject":"Chúng tôi đã nhận được yêu cầu của bạn","html":"=Xin chào {{ $json[\"body\"][\"name\"] }},\n<br>\n<br>\nChúng tôi vừa nhận được yêu cầu đăng ký khoá học <b>{{ $json[\"body\"][\"course\"] }}</b> của bạn.\n<br>\nChúng tôi sẽ liên hệ với bạn qua số điện thoại <b>{{ $json[\"body\"][\"phone\"] }}</b> trong vòng 30 phút tới.\n<br>\n<br>\nRegards!","options":{}},"id":"cc12a5e7-07f5-4bfc-8dca-7a7cf022a125","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[1320,480],"credentials":{"smtp":{"id":"8","name":"SMTP account"}}},{"parameters":{"method":"POST","url":"https://hook.us1.make.com/dwjyo54isy34uha5ght48m5q23ey34bi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json[\"body\"][\"name\"] }}"},{"name":"phone","value":"={{ $json[\"body\"][\"phone\"] }}"},{"name":"course","value":"={{ $json[\"body\"][\"course\"] }}"}]},"options":{}},"id":"6944d72f-5c21-45dd-ae8d-175106822864","name":"Send SMS on Make","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1320,680]}],"connections":{"Webhook":{"main":[[{"node":"Send Email","type":"main","index":0},{"node":"Send SMS on Make","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"77ed5e29-087c-4d63-833c-21d6ab4c578a","triggerCount":1,"tags":[{"createdAt":"2023-01-13T06:02:40.778Z","updatedAt":"2023-01-13T06:02:40.778Z","id":"3","name":"Test Khoá học"}]}