send-email-sự-kiện-13.json
{"createdAt":"2023-01-17T12:42:38.715Z","updatedAt":"2023-01-17T16:21:48.000Z","id":"13","name":"Send email sự kiện","active":true,"nodes":[{"parameters":{"fromEmail":"KDIGI <no-reply@kdigi.app>","toEmail":"={{ $json[\"body\"][\"email\"] }}","bccEmail":"automation@kdigi.app","subject":"=Chúc mừng bạn đã đăng ký tham gia thành công sự kiện {{ $json[\"body\"][\"event\"] }}","html":"=Xin chào {{ $node[\"Nhận data từ Bitable Form\"].json[\"body\"][\"name\"] }},\n<br><br>\nChúng tôi xác nhận rằng bạn đã đăng ký tham gia sự kiện {{ $node[\"Nhận data từ Bitable Form\"].json[\"body\"][\"event\"] }} của chúng tôi được tổ chức vào {{ $node[\"Nhận data từ Bitable Form\"].json[\"body\"][\"start_date\"] }} đến {{ $node[\"Nhận data từ Bitable Form\"].json[\"body\"][\"end_date\"] }}.\n<br><br>\nĐây là link check-in khi đến sự kiện: <a href=\"http://{{ $node[\"Nhận data từ Bitable Form\"].json[\"body\"][\"link_checkin\"] }}\">Check-in {{ $node[\"Nhận data từ Bitable Form\"].json[\"body\"][\"event\"] }}</a>\n<br><br>\nKDIGI\nRegards!","options":{}},"id":"bd7baa30-1410-47c6-86e5-d3626d53488e","name":"Gửi email cho khách","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[1060,500],"credentials":{"smtp":{"id":"8","name":"SMTP account: no-reply@kdigi.app"}}},{"parameters":{"httpMethod":"POST","path":"su-kien-tmdt","options":{}},"id":"27a8c91d-5f74-483f-b68a-aa4bd19272e1","name":"Nhận data từ Bitable Form","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[840,500],"webhookId":"5a8216e4-a5ef-40d3-af5a-b2005e3909ae"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"response\"] }}","operation":"contains","value2":"250"}]}},"id":"6dda34de-7c31-4d7f-af08-d342cc9026da","name":"Nếu không có lỗi gửi email","type":"n8n-nodes-base.if","typeVersion":1,"position":[1280,500]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bot/v2/hook/f41f1a16-10e7-4d9e-af0b-65b53376d37c","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"msg_type\": \"interactive\",\n    \"card\": {\n        \"config\": {\n                \"wide_screen_mode\": true,\n                \"enable_forward\": true\n        },\n        \"elements\": [{\n                \"tag\": \"div\",\n                \"text\": {\n                        \"content\": \"Email: **{{ $node[\"Nhận data từ Bitable Form\"].json[\"body\"][\"email\"] }}**\\n\" ,\n                        \"tag\": \"lark_md\"\n                }\n        }],\n        \"header\": {\n                \"title\": {\n                        \"content\": \"Không thể gửi email đến khách\",\n                        \"tag\": \"plain_text\"\n                }\n        }\n    }\n}","options":{}},"id":"568438c8-45c9-4767-80d4-b2deb1f2b8cf","name":"Gửi lỗi về Lark Bot","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1480,660]},{"parameters":{"method":"POST","url":"https://hook.us1.make.com/tojkhh2brg2phuru8qwslo9r5bwasx3y","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"event","value":"={{ $json[\"body\"][\"event\"] }}"},{"name":"=name","value":"={{ $json[\"body\"][\"name\"] }}"},{"name":"phone","value":"={{ $json[\"body\"][\"phone\"] }}"},{"name":"email","value":"={{ $json[\"body\"][\"email\"] }}"},{"name":"start_date","value":"={{ $json[\"body\"][\"start_date\"] }}"},{"name":"end_date","value":"={{ $json[\"body\"][\"end_date\"] }}"},{"name":"link_checkin","value":"={{ $json[\"body\"][\"link_checkin\"] }}"},{"name":"event_id","value":"={{ $json[\"body\"][\"event_id\"] }}"}]},"options":{}},"id":"1f8add79-8316-44aa-aaba-48a59c2933d9","name":"MAKE: Thêm khách vào sự kiện","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1060,280]}],"connections":{"Gửi email cho khách":{"main":[[{"node":"Nếu không có lỗi gửi email","type":"main","index":0}]]},"Nhận data từ Bitable Form":{"main":[[{"node":"Gửi email cho khách","type":"main","index":0},{"node":"MAKE: Thêm khách vào sự kiện","type":"main","index":0}]]},"Nếu không có lỗi gửi email":{"main":[[{"node":"Gửi lỗi về Lark Bot","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Nhận data từ Bitable Form":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Go-http-client/2.0","content-length":"1155","accept-encoding":"gzip","content-type":"multipart/form-data; boundary=b1973e1e07b01c388d11aa03bf2e22311e138721b47d48bb548adc6be366","x-forwarded-for":"3.211.55.69","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"af4013275608","x-real-ip":"3.211.55.69","x-tt-logid":"02167396254081200000000000000000000ffffadd013cd8e750c"},"params":{},"query":{},"body":{"event":"Bùng nổ TMĐT 2023","name":"Khôi","phone":"0333111868","email":"kdigiseo@gmail.com","start_date":"2023/01/18 08:30","end_date":"2023/01/18 17:30","link_checkin":"t.ly/check-in-tmdt-2023","event_id":"NDI3Z2syNTc1MDU5NG52cmYwbThpbnRkbHQgbGVraG9pNDU2QG0"}}}]},"versionId":"13fe1195-3690-4fb3-a1c1-cbd8a3fcbaa1","triggerCount":1,"tags":[{"createdAt":"2023-01-05T09:55:57.214Z","updatedAt":"2023-01-05T09:55:57.214Z","id":"1","name":"Lark"},{"createdAt":"2023-01-15T09:33:57.136Z","updatedAt":"2023-01-15T09:33:57.136Z","id":"4","name":"Demo Ms. Quyên"}]}