send error - zalozns-45.json
{"createdAt":"2023-03-07T14:28:00.274Z","updatedAt":"2023-03-07T14:29:56.000Z","id":"45","name":"Send error - zalozns","active":false,"nodes":[{"parameters":{},"id":"7017b82a-f841-463c-8c31-06c71a1a6964","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[900,320]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.execution.id }}","operation":"equal","value2":43}]}},"id":"3107dcd1-529e-4e9f-9b11-de61f3808bf7","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1140,320]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bot/v2/hook/3a6b855e-fb8f-42ce-b137-c14b44655625","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"msg_type\": \"text\",\n    \"content\": {\n        \"text\": \"Có lỗi khi gửi. Vui lòng kiểm tra!\"\n    }\n}","options":{}},"id":"e7bf34ed-2491-4c8b-b5d3-13e1e4ff011c","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1360,300]}],"connections":{"Error Trigger":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"14986bb4-f12a-40c1-a66d-6c25bf627f6c","triggerCount":0,"tags":[{"createdAt":"2023-02-10T04:34:16.814Z","updatedAt":"2023-02-10T04:34:16.814Z","id":"9","name":"ncmk"}]}