sent zalo oa i-514.json
{"createdAt":"2023-09-07T09:35:46.994Z","updatedAt":"2023-09-07T11:01:06.000Z","id":"514","name":"Sent Zalo OA I","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"incavietnam-sent-zalozns-6888999","options":{}},"id":"b5019dcd-7d07-4ac9-b8e0-aa9c7eb0e247","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[660,380],"webhookId":"38ca1bb1-b7d5-4dce-9985-0a8ef4281060"},{"parameters":{"values":{"string":[{"name":"appId","value":"cli_a46e3eaca778d02f"},{"name":"appSecret","value":"2dSXSUasrMpwWnAxIRgJxb4lShbwVjVX"},{"name":"record_id","value":"recwsKfNGD"},{"name":"baseId","value":"As9UbYsJLaap5TsW3THlvfQNgfg"},{"name":"tableId","value":"tblYriRLlJbXneQB"}]},"options":{"dotNotation":true}},"id":"56e7229d-eae0-4caa-9f86-25cac90b5383","name":"Set send ZNS","type":"n8n-nodes-base.set","typeVersion":2,"position":[880,380]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"app_id\" : \"{{ $('Set send ZNS').item.json[\"appId\"] }}\",\n\"app_secret\" : \"{{ $('Set send ZNS').item.json[\"appSecret\"] }}\" \n}","options":{}},"id":"3a096353-e106-4f3e-ba6d-3ce2569611d2","name":"get_access_token_lark_send_ZNS","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1060,380]},{"parameters":{"method":"POST","url":"https://business.openapi.zalo.me/message/template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access_token","value":"={{ $('get_access_token_zns2').item.json[\"data\"][\"items\"][0][\"fields\"][\"access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"phone\":\"84{{ $('Webhook').item.json[\"query\"][\"phone_zns\"] }}\",\n\"template_id\":\"246675\",\n\"template_data\":\n{\n\"phone\":\"{{$('Webhook').item.json[\"query\"][\"phone_kh\"]}}\",\n\"sotien\":{{$('Webhook').item.json[\"query\"][\"money\"]}},\n\"order_id\":\"{{$('Webhook').item.json[\"query\"][\"order_id\"]}}\",\n\"product\":\"{{$('Webhook').item.json[\"query\"][\"product\"]}}\",\n\"name\":\"{{$('Webhook').item.json[\"query\"][\"name_kh\"]}}\"\n},\n\"tracking_id\":\"{{phone}}\"\n}","options":{}},"id":"1c7c3ba6-ebf4-48f9-87a5-1757ebbb5738","name":"Send_ZNS","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1480,380],"disabled":true},{"parameters":{"url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $('Set send ZNS').item.json[\"baseId\"] }}/tables/{{ $('Set send ZNS').item.json[\"tableId\"] }}/records?filter=CurrentValue.[record_id] = \"{{ $('Set send ZNS').item.json[\"record_id\"] }}\"","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('get_access_token_lark_send_ZNS').item.json[\"app_access_token\"] }}"}]},"options":{}},"id":"ccffabf9-c586-4171-b658-8399974b37c6","name":"get_access_token_zns2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1260,380]},{"parameters":{"method":"POST","url":"https://business.openapi.zalo.me/message/template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access_token","value":"={{ $('get_access_token_zns2').item.json[\"data\"][\"items\"][0][\"fields\"][\"access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"phone\":\"84{{$('Webhook').item.json[\"query\"][\"phone_kh\"]}}\",\n\"template_id\":\"281436\",\n\"template_data\":\n{\n\"date\":\"{{$('Webhook').item.json[\"query\"][\"date_kh\"]}}\",\n\"so_dien_thoai\":\"{{$('Webhook').item.json[\"query\"][\"phone_zns\"]}}\",\n\"price\":\"{{$('Webhook').item.json[\"query\"][\"money\"]}}\",\n\"name\":\"{{$('Webhook').item.json[\"query\"][\"name_kh\"]}}\",\n\"payment\":\"{{$('Webhook').item.json[\"query\"][\"payment\"]}}\",\n\"ngay_dk\":\"{{$('Webhook').item.json[\"query\"][\"date_kh\"]}}\",\n\"order_id\":\"{{$('Webhook').item.json[\"query\"][\"order_id\"]}}\"\n},\n\"tracking_id\":\"{{$('Webhook').item.json[\"query\"][\"order_id\"]}}\"\n}","options":{}},"id":"fb8fc786-6b19-467a-96ce-3465f9b41daa","name":"Send_ZNS1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1480,580]}],"connections":{"Webhook":{"main":[[{"node":"Set send ZNS","type":"main","index":0}]]},"Set send ZNS":{"main":[[{"node":"get_access_token_lark_send_ZNS","type":"main","index":0}]]},"get_access_token_lark_send_ZNS":{"main":[[{"node":"get_access_token_zns2","type":"main","index":0}]]},"get_access_token_zns2":{"main":[[{"node":"Send_ZNS","type":"main","index":0},{"node":"Send_ZNS1","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Set send ZNS":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Go-http-client/2.0","content-length":"0","accept-encoding":"gzip","x-forwarded-for":"18.140.170.196","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"18.140.170.196","x-tt-env":"prod","x-tt-logid":"02169408425697000000000000000000000ffff8bcf6d3c9f9011"},"params":{},"query":{"date_kh":"2023/09/07","event":"send_zns","money":"1200000","name_kh":"Vũ Trực","order_id":"recbGbm9DJ","payment":"Giao hàng tận nơi","phone_kh":"902119777","phone_zns":"902119777","product":"CN100 Pro"},"body":{},"appId":"cli_a46e3eaca778d02f","appSecret":"2dSXSUasrMpwWnAxIRgJxb4lShbwVjVX","record_id":"recwsKfNGD","baseId":"As9UbYsJLaap5TsW3THlvfQNgfg","tableId":"tblYriRLlJbXneQB"},"pairedItem":{"item":0}}],"get_access_token_lark_send_ZNS":[{"json":{"app_access_token":"t-g20697aSVUF7H4FDFRTVPA3YZO6H4RCXPL4C7GUP","code":0,"expire":6975,"msg":"ok","tenant_access_token":"t-g20697aSVUF7H4FDFRTVPA3YZO6H4RCXPL4C7GUP"},"pairedItem":{"item":0}}],"get_access_token_zns2":[{"json":{"code":0,"data":{"has_more":false,"items":[{"fields":{"access_token":"FnQcRFdr5pGw7ADk__OMDp8KfctmuNDPMsh2Q_RTTqTlTf5-oCmYLb5na4_9-6XBL5IPRElYMdrtSeydrUG-BdKIrI_hh1WiAWtF3uIXDYz50iOE_Rrm74mFmYsBiW8CF0Jt8Q6GE38mB84zyerpE5OYW2VFaJOJOYQ5DlgjCYry8yD-swWGVnSZq5_KYZC162BK9Do01JbXOyyWyVDy4ZL2ZHwWnaeF0tJvFhN1EHqZRjuaa-9j05zkfYN3_aKwVtszOkRdU4nhKOf3rU5HV5SAiI3sXbi8JmkoCkc2VGOk1fi8hejW1Me_WmBzgNiVH3cU6PsNPZ42AxWLXg9f6JCDWJEZjJa2CG3I6gliAa9jH_JRWMl_unKn","record_id":"recwsKfNGD","refresh_token":"RPF0wx10a6ifnQxDa2EeQ46swiAY8D93BRdtzRipZLnNqCZj_LltFccAovka5eX2LRQFqVCLgLbyf-Joc46dI3FCdBkY5QiEJRhehwmeupmFXiIMcGIgSMQYg9UCTyvnS_cpWFKCf3iRdDFeZ3lrO0-CkihgRSvfKf7gkhP3sgUMkuamGXjATttvNSdBVm44LlvImkuGVWKyc5VLpqqC0pAzL_3RCGLgFv8ig5acqFA9JDyUlNS"},"id":"recwsKfNGD","record_id":"recwsKfNGD"}],"page_token":"recwsKfNGD","total":1},"msg":"success"},"pairedItem":{"item":0}}]},"versionId":"5632d0ec-eede-4ce3-a9a5-bb81bb6dd1d6","triggerCount":1,"tags":[]}