set up lark auth-136.json
{"createdAt":"2023-06-19T06:55:36.939Z","updatedAt":"2023-06-19T07:21:55.000Z","id":"136","name":"Set up Lark auth","active":false,"nodes":[{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"={ \"app_id\" : \"{{ $('Set Lark auth data').item.json[\"appId\"] }}\", \"app_secret\" : \"{{ $('Set Lark auth data').item.json[\"appSecret\"] }}\" }","options":{}},"id":"3751f13d-eb83-49db-8a8f-1b3ba1dd15c1","name":"Get Lark tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1140,440]},{"parameters":{},"id":"a3cfaec1-e54e-496e-8db5-dbc04041b438","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[760,440]},{"parameters":{"values":{"string":[{"name":"appId","value":"cli_a36a65082eb85009"},{"name":"appSecret","value":"n6EEtyICEiK2IoQGXLAFtedQTGY0Z5Sk"}]},"options":{}},"id":"60e3b0cc-d38a-4f38-a043-47caccae88d7","name":"Set Lark auth data","type":"n8n-nodes-base.set","typeVersion":1,"position":[960,440]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set Lark auth data","type":"main","index":0}]]},"Set Lark auth data":{"main":[[{"node":"Get Lark tenant access token","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Set Lark auth data":[{"json":{"appId":"cli_a36a65082eb85009","appSecret":"n6EEtyICEiK2IoQGXLAFtedQTGY0Z5Sk"},"pairedItem":{"item":0}}]},"versionId":"3a2d0113-33cd-4442-a264-208e463ab2dd","triggerCount":0,"tags":[{"createdAt":"2023-04-13T09:24:58.649Z","updatedAt":"2023-06-13T07:54:39.069Z","id":"14","name":"Template"}]}