sms bank nptb-225.json
{"createdAt":"2023-07-25T04:47:47.383Z","updatedAt":"2023-07-25T11:06:19.000Z","id":"225","name":"SMS Bank NPTB","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"nptb-webinar","options":{}},"id":"46da23be-d266-4427-bf6e-c69d4c063d04","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[820,400],"webhookId":"bdba9a38-1977-4c7b-8763-e738f8198a96"},{"parameters":{"method":"POST","url":"https://api.smax.bot/public/bots/613b2d63e82fb23b1a1a949b/send?api_id=64bfa31cdbb1536cc5f4a674&block_id=64bf8bc9ff0c4d089bda864d&access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYxM2IyZDYzZTgyZmIyM2IxYTFhOTQ5YiIsIm5hbWUiOiJUw6JtIFRyw60gTOG7sWMgLSBDb3B5IiwiaWF0IjoxNjMxMjY4MTk1LCJleHAiOjE5NDY2MjgxOTV9.44WRJetqqp_V7IfEshUi41qzXXEQU47N4n9a5XUVGqQ","sendBody":true,"bodyParameters":{"parameters":[{"name":"customer_email","value":"=test{{Math.floor(Math.random()*999)}}@tamtriluc.com"},{"name":"=message","value":"={{ $('Webhook').first().json.query.message }}"},{"name":"key","value":"NPTB"}]},"options":{}},"id":"2c73edab-bff7-47f4-bc80-304a910ba12d","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1300,320]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query.message }}","operation":"contains","value2":"NPTB"}]}},"id":"ec9bd9c7-8489-435a-aeaa-c8f9016e84d3","name":"IF NPTB","type":"n8n-nodes-base.if","typeVersion":1,"position":[1040,340]},{"parameters":{"method":"POST","url":"https://api.smax.bot/public/bots/613b2d63e82fb23b1a1a949b/send?api_id=64bfa31cdbb1536cc5f4a674&block_id=64bf8bc9ff0c4d089bda864d&access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYxM2IyZDYzZTgyZmIyM2IxYTFhOTQ5YiIsIm5hbWUiOiJUw6JtIFRyw60gTOG7sWMgLSBDb3B5IiwiaWF0IjoxNjMxMjY4MTk1LCJleHAiOjE5NDY2MjgxOTV9.44WRJetqqp_V7IfEshUi41qzXXEQU47N4n9a5XUVGqQ","sendBody":true,"bodyParameters":{"parameters":[{"name":"customer_email","value":"=test{{Math.floor(Math.random()*999)}}@tamtriluc.com"},{"name":"=message","value":"={{ $('Webhook').first().json.query.message }}"},{"name":"key","value":"DHCC"}]},"options":{}},"id":"a49d97a3-a974-44b3-9128-b9e4e0d4a2b4","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1300,520]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query.message }}","operation":"contains","value2":"DHCC"}]}},"id":"e425fc39-3aed-4006-bc71-c928ffb71538","name":"IF DHCC","type":"n8n-nodes-base.if","typeVersion":1,"position":[1040,520]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query.message }}","operation":"contains","value2":"TKTD"}]}},"id":"6209a89a-314f-4b87-a624-d6c0b0db5ae2","name":"IF TKTD","type":"n8n-nodes-base.if","typeVersion":1,"position":[1040,680]},{"parameters":{"method":"POST","url":"https://api.smax.bot/public/bots/613b2d63e82fb23b1a1a949b/send?api_id=64bfa31cdbb1536cc5f4a674&block_id=64bf8bc9ff0c4d089bda864d&access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYxM2IyZDYzZTgyZmIyM2IxYTFhOTQ5YiIsIm5hbWUiOiJUw6JtIFRyw60gTOG7sWMgLSBDb3B5IiwiaWF0IjoxNjMxMjY4MTk1LCJleHAiOjE5NDY2MjgxOTV9.44WRJetqqp_V7IfEshUi41qzXXEQU47N4n9a5XUVGqQ","sendBody":true,"bodyParameters":{"parameters":[{"name":"customer_email","value":"=test{{Math.floor(Math.random()*999)}}@tamtriluc.com"},{"name":"=message","value":"={{ $('Webhook').first().json.query.message }}"},{"name":"key","value":"TKTD"}]},"options":{}},"id":"bffda1c2-7587-4e27-ac36-65d573c577b2","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1300,700]},{"parameters":{"method":"POST","url":"https://api.smax.bot/public/bots/613b2d63e82fb23b1a1a949b/send?api_id=64bfa31cdbb1536cc5f4a674&block_id=64bf8bc9ff0c4d089bda864d&access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYxM2IyZDYzZTgyZmIyM2IxYTFhOTQ5YiIsIm5hbWUiOiJUw6JtIFRyw60gTOG7sWMgLSBDb3B5IiwiaWF0IjoxNjMxMjY4MTk1LCJleHAiOjE5NDY2MjgxOTV9.44WRJetqqp_V7IfEshUi41qzXXEQU47N4n9a5XUVGqQ","sendBody":true,"bodyParameters":{"parameters":[{"name":"customer_email","value":"=test{{Math.floor(Math.random()*999)}}@tamtriluc.com"},{"name":"=message","value":"={{ $('Webhook').first().json.query.message }}"},{"name":"key","value":"not"}]},"options":{}},"id":"adb74ed2-713e-4b01-8f92-7fdf7292c40f","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1300,880]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query.message }}","operation":"notContains","value2":"TKTD"},{"value1":"={{ $json.query.message }}","operation":"notContains","value2":"NPTB"},{"value1":"={{ $json.query.message }}","operation":"notContains","value2":"DHCC"}]}},"id":"3c6f5da9-bf41-4a5f-988f-9fc8833e8a07","name":"IF not","type":"n8n-nodes-base.if","typeVersion":1,"position":[1040,880]}],"connections":{"Webhook":{"main":[[{"node":"IF NPTB","type":"main","index":0},{"node":"IF DHCC","type":"main","index":0},{"node":"IF TKTD","type":"main","index":0},{"node":"IF not","type":"main","index":0}]]},"IF NPTB":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"IF DHCC":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"IF TKTD":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"IF not":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","content-length":"0","accept":"*/*","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"103.130.216.65","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"103.130.216.65","accept-encoding":"gzip"},"params":{},"query":{"number":"Momo","message":"ACB: TK xxxxx-VND- + 5,168,000 luc 09:11 25/07/2023. So du 391,244,058. GD: MBVCB.3911323759.021536.NPTB 0907141461.CT tu 0181000558962 AAAA toi"},"body":{}},"pairedItem":{"item":0}}]},"versionId":"ecc04fb8-02e5-4959-bcf4-1e3ef6558182","triggerCount":1,"tags":[]}