tao customer tu coupon cggqvđct-0723-195.json
{"createdAt":"2023-07-19T04:16:39.906Z","updatedAt":"2023-07-19T04:20:04.000Z","id":"195","name":"Tao Customer tu Coupon CGGQVĐCT.0723","active":false,"nodes":[{"parameters":{"event":"order.updated"},"id":"03c138a0-d1b7-4578-971c-d4fd0f6a827c","name":"WooCommerce Trigger","type":"n8n-nodes-base.wooCommerceTrigger","typeVersion":1,"position":[-260,620],"webhookId":"5a2d9fab-bf42-400c-a2fb-1befc1a7bb76","credentials":{"wooCommerceApi":{"id":"81","name":"HitaCamp.vn"}}},{"parameters":{"amount":15,"unit":"minutes"},"id":"ce8998dd-aafa-459f-8850-6e599408c586","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[300,240],"webhookId":"7cf31eb5-39f7-4bad-8f99-b49dc5c0d74e","disabled":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.data.listData[0].code }}","operation":"isEmpty"}]}},"id":"70e3ea1d-bbcc-45f6-89a2-9dbae926e795","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[320,400],"disabled":true},{"parameters":{"url":"=https://api.tamtriluc.com/api/vi-VN/Customer/GetAllByPhone?phone={{ $json.coupon_lines[0].code.slice(-9) }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"28c47bd5-f4ff-4a6b-864e-f4e89064ae4a","name":"API GetByPhone","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-100,300],"credentials":{"httpHeaderAuth":{"id":"19","name":"api.tamtriluc.com"}},"disabled":true},{"parameters":{"url":"=https://api.tamtriluc.com/api/vi-VN/Customer/GetAllByPhone?phone={{ $json.billing.phone }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"6a227476-bc81-4a29-90b3-c1adef917ac5","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[80,320],"credentials":{"httpHeaderAuth":{"id":"19","name":"api.tamtriluc.com"}},"disabled":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.coupon_lines[0].code.slice(0,3) }}","operation":"contains","value2":"bni"},{"value1":"={{ $json.coupon_lines[0].code.slice(0,3) }}","operation":"contains","value2":"vit"},{"value1":"={{ $json.coupon_lines[0].code.slice(0,3) }}","operation":"contains","value2":"nkn"}]},"combineOperation":"any"},"id":"073ff508-33d9-4410-8ca9-48ca4c466b8d","name":"IF Coupon BNI","type":"n8n-nodes-base.if","typeVersion":1,"position":[-20,560]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.coupon_lines[0].code.slice(0,2) }}","operation":"contains","value2":"cg"}]}},"id":"f1063735-db69-4125-bf18-74d86fe03ffb","name":"IF Coupn CG","type":"n8n-nodes-base.if","typeVersion":1,"position":[-20,760]},{"parameters":{"method":"POST","url":"=https://api.quanchatbot.com/tamtriluc/add-customer.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"fullName","value":"={{ $json[\"billing\"][\"first_name\"] }}"},{"name":"phone","value":"={{  $json[\"billing\"][\"phone\"]}}"},{"name":"email","value":"={{ $json[\"billing\"][\"email\"]}}"},{"name":"ref_Code","value":"KHT2457872"}]},"options":{}},"id":"1f3bebba-c690-4ba7-92e9-479e119e93c1","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[260,580]},{"parameters":{"url":"=https://hitacamp.vn/wp-json/woo_smaxbot/get_order?secret=6688&order_id={{ $('WooCommerce Trigger').first().json[\"id\"] }}","options":{}},"id":"253cca9e-591d-43db-bea9-2e28cd8dfc5a","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[880,520],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://api.quanchatbot.com/tamtriluc/add-customer.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"fullName","value":"={{ $('IF Coupn CG').item.json[\"billing\"][\"first_name\"] }}"},{"name":"phone","value":"={{  $('IF Coupn CG').item.json[\"billing\"][\"phone\"]}}"},{"name":"email","value":"={{ $('IF Coupn CG').item.json[\"billing\"][\"email\"]}}"},{"name":"ref_Code","value":"={{ $json.row.code }}"}]},"options":{}},"id":"be0c4713-7985-41f8-a410-a1977d609c0d","name":"HTTP Request5","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[660,740],"continueOnFail":true},{"parameters":{"method":"POST","url":"https://public.botplus.io/table/64af8d807c96a5179c681236?secret=1234","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"findRow\": {\n    \"coupon\": \"{{ $('WooCommerce Trigger').first().json[\"coupon_lines\"][0][\"code\"].toUpperCase() }}\\r\"\n  },\n  \"response\": true\n}","options":{}},"id":"90793b3a-1522-48c5-8014-140a2377f45c","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[220,760],"continueOnFail":true},{"parameters":{"method":"POST","url":"https://public.botplus.io/table/64af8d807c96a5179c681236?secret=1234","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"findRow\": {\n    \"coupon\": \"{{ $('WooCommerce Trigger').first().json[\"coupon_lines\"][0][\"code\"].toUpperCase() }}\"\n  },\n  \"response\": true\n}","options":{}},"id":"b06a601a-1946-4323-99db-f896cdb238d5","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[220,920],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.row.code }}","operation":"isNotEmpty"}]}},"id":"7deb69d6-7405-4d12-9b92-ce15e050819f","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[400,920]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.row.code }}","operation":"isNotEmpty"}]}},"id":"1276c229-d9dc-4b60-b035-fc55ae622c5d","name":"IF2","type":"n8n-nodes-base.if","typeVersion":1,"position":[400,760]}],"connections":{"WooCommerce Trigger":{"main":[[{"node":"IF Coupon BNI","type":"main","index":0},{"node":"IF Coupn CG","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF Coupn CG":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"HTTP Request3","type":"main","index":0}]]},"IF Coupon BNI":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"IF2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"IF1","type":"main","index":0}]]},"IF1":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"IF2":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"WooCommerce Trigger":[{"json":{"id":24613,"parent_id":0,"status":"completed","currency":"VND","version":"7.8.0","prices_include_tax":false,"date_created":"2023-07-13T12:03:47","date_modified":"2023-07-13T12:03:57","discount_total":"99000","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":33,"order_key":"wc_order_R9Qi4JDP2OCg4","billing":{"first_name":"Xử Test","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","email":"nguyenngocxu594@gmail.com","phone":"0909477729"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","phone":"0909477729"},"payment_method":"","payment_method_title":"","transaction_id":"","customer_ip_address":"14.241.253.8","customer_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-07-13T12:03:57","date_paid":"2023-07-13T12:03:48","cart_hash":"f31d8e780d9faa3be1aec711756b2208","number":"24613","meta_data":[{"id":753490,"key":"is_vat_exempt","value":"no"},{"id":753491,"key":"marketing_status","value":"1"},{"id":753493,"key":"wvw_currency_rate","value":"1"},{"id":753494,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":753497,"key":"_woofunnel_cid","value":"36"},{"id":753498,"key":"_wfacp_post_id","value":"24328"},{"id":753499,"key":"_wfacp_source","value":"https://hitacamp.vn/dang-ky/chuyen-gia-giai-quyet-van-de-con-tre/"},{"id":753500,"key":"_wfacp_timezone","value":"Asia/Saigon"},{"id":753501,"key":"messid","value":"4501448519887732"},{"id":753502,"key":"nguon","value":"LDP"},{"id":753503,"key":"_bwfan_order_total_base","value":"0"},{"id":753507,"key":"_woofunnel_custid","value":"36"},{"id":753508,"key":"order_key","value":"wc_order_R9Qi4JDP2OCg4"},{"id":753509,"key":"ref_id","value":"R_"},{"id":753512,"key":"lws_woovip_pro_membership_done","value":"2023-07-13T05:03:58+00:00"},{"id":753513,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-07-13T05:03:58+00:00"},{"id":753514,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-07-13T05:03:58+00:00"},{"id":753515,"key":"_wfob_stats_ids","value":[]},{"id":753516,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":12549,"name":"Chuyên gia giải quyết vấn đề con trẻ","product_id":24336,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":108808,"key":"_wfacp_product","value":"1","display_key":"_wfacp_product","display_value":"1"},{"id":108809,"key":"_wfacp_product_key","value":"wfacp_64acda0ede98d","display_key":"_wfacp_product_key","display_value":"wfacp_64acda0ede98d"},{"id":108810,"key":"_wfacp_options","value":{"title":"Chuyên gia giải quyết vấn đề con trẻ","discount_type":"fixed_discount_reg","discount_amount":"87000","discount_price":"0","quantity":1,"type":"simple","id":"24336","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"","whats_included":"","enable_delete":"false","old_title":"Chuyên gia giải quyết vấn đề con trẻ","product_id":"24336","whats_include_heading":"Chuyên gia giải quyết vấn đề con trẻ","item_key":"wfacp_64acda0ede98d"},"display_key":"_wfacp_options","display_value":{"title":"Chuyên gia giải quyết vấn đề con trẻ","discount_type":"fixed_discount_reg","discount_amount":"87000","discount_price":"0","quantity":1,"type":"simple","id":"24336","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"","whats_included":"","enable_delete":"false","old_title":"Chuyên gia giải quyết vấn đề con trẻ","product_id":"24336","whats_include_heading":"Chuyên gia giải quyết vấn đề con trẻ","item_key":"wfacp_64acda0ede98d"}},{"id":108811,"key":"_wfacp_item_discount","value":{"VND":{"regular_price":"186000","sale_price":99000}},"display_key":"_wfacp_item_discount","display_value":{"VND":{"regular_price":"186000","sale_price":99000}}},{"id":108812,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":0,"image":{"id":"24422","src":"https://hitacamp.vn/wp-content/uploads/2023/07/NPP_HUYENGIA_KV-1.jpeg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[{"id":12550,"code":"cg985767138","discount":"99000","discount_tax":"0","meta_data":[{"id":108815,"key":"coupon_data","value":{"id":24610,"code":"cg985767138","amount":"100","status":"publish","date_created":{"date":"2023-07-13 04:56:48.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-07-13 04:56:48.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"percent","description":"","usage_count":2,"individual_use":true,"product_ids":[24336],"excluded_product_ids":[],"usage_limit":20,"usage_limit_per_user":0,"limit_usage_to_x_items":1,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"","email_restrictions":[],"virtual":false,"meta_data":[{"id":753311,"key":"sc_coupon_validity","value":""},{"id":753312,"key":"validity_suffix","value":"days"},{"id":753313,"key":"auto_generate_coupon","value":""},{"id":753314,"key":"coupon_title_prefix","value":""},{"id":753315,"key":"coupon_title_suffix","value":""},{"id":753316,"key":"is_pick_price_of_product","value":"no"},{"id":753317,"key":"sc_disable_email_restriction","value":"no"},{"id":753318,"key":"sc_is_visible_storewide","value":"no"},{"id":753319,"key":"sc_restrict_to_new_user","value":""},{"id":753320,"key":"wc_sc_max_discount","value":""},{"id":753321,"key":"wc_sc_auto_apply_coupon","value":""},{"id":753322,"key":"wc_sc_add_product_details","value":""},{"id":753323,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":753324,"key":"sa_cbl_billing_locations","value":[]},{"id":753325,"key":"sa_cbl_shipping_locations","value":[]},{"id":753326,"key":"wc_sc_payment_method_ids","value":[]},{"id":753327,"key":"wc_sc_shipping_method_ids","value":[]},{"id":753328,"key":"wc_sc_user_role_ids","value":[]},{"id":753329,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":753330,"key":"wc_sc_product_attribute_ids","value":""},{"id":753331,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":753332,"key":"wc_sc_excluded_customer_email","value":[]},{"id":753333,"key":"wc_coupon_message","value":""},{"id":753334,"key":"wc_email_message","value":"no"},{"id":753335,"key":"wc_sc_expiry_time","value":""},{"id":753460,"key":"_coupon_held_1689228227_HYCCP4","value":""}]},"display_key":"coupon_data","display_value":{"id":24610,"code":"cg985767138","amount":"100","status":"publish","date_created":{"date":"2023-07-13 04:56:48.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-07-13 04:56:48.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"percent","description":"","usage_count":2,"individual_use":true,"product_ids":[24336],"excluded_product_ids":[],"usage_limit":20,"usage_limit_per_user":0,"limit_usage_to_x_items":1,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"","email_restrictions":[],"virtual":false,"meta_data":[{"id":753311,"key":"sc_coupon_validity","value":""},{"id":753312,"key":"validity_suffix","value":"days"},{"id":753313,"key":"auto_generate_coupon","value":""},{"id":753314,"key":"coupon_title_prefix","value":""},{"id":753315,"key":"coupon_title_suffix","value":""},{"id":753316,"key":"is_pick_price_of_product","value":"no"},{"id":753317,"key":"sc_disable_email_restriction","value":"no"},{"id":753318,"key":"sc_is_visible_storewide","value":"no"},{"id":753319,"key":"sc_restrict_to_new_user","value":""},{"id":753320,"key":"wc_sc_max_discount","value":""},{"id":753321,"key":"wc_sc_auto_apply_coupon","value":""},{"id":753322,"key":"wc_sc_add_product_details","value":""},{"id":753323,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":753324,"key":"sa_cbl_billing_locations","value":[]},{"id":753325,"key":"sa_cbl_shipping_locations","value":[]},{"id":753326,"key":"wc_sc_payment_method_ids","value":[]},{"id":753327,"key":"wc_sc_shipping_method_ids","value":[]},{"id":753328,"key":"wc_sc_user_role_ids","value":[]},{"id":753329,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":753330,"key":"wc_sc_product_attribute_ids","value":""},{"id":753331,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":753332,"key":"wc_sc_excluded_customer_email","value":[]},{"id":753333,"key":"wc_coupon_message","value":""},{"id":753334,"key":"wc_email_message","value":"no"},{"id":753335,"key":"wc_sc_expiry_time","value":""},{"id":753460,"key":"_coupon_held_1689228227_HYCCP4","value":""}]}}]}],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/24613/?pay_for_order=true&key=wc_order_R9Qi4JDP2OCg4","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-07-13T05:03:47","date_modified_gmt":"2023-07-13T05:03:57","date_completed_gmt":"2023-07-13T05:03:57","date_paid_gmt":"2023-07-13T05:03:48","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/24613"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/33"}]}},"pairedItem":{"item":0}}],"HTTP Request3":[{"json":{"version":"v2","set_attributes":{"coupon":"CG985767138","name":"Lê Hồng Quân","phone":"0985767138","mail":"lehongquan@gmail.com","code":"KHT2687302"},"row":{"code":"KHT2687302","mail":"lehongquan@gmail.com","name":"Lê Hồng Quân","phone":"0985767138","coupon":"CG985767138","rowId":588}},"pairedItem":{"item":0}}]},"versionId":"f4be3026-ccdc-45ea-a9aa-69551800dd18","triggerCount":0,"tags":[]}