template- get data from bitable - delete all-64.json
{"createdAt":"2023-04-13T09:26:38.465Z","updatedAt":"2023-06-19T07:16:33.000Z","id":"64","name":"Template, get data from Bitable & delete all","active":false,"nodes":[{"parameters":{"url":"https://open.larksuite.com/open-apis/bitable/v1/apps/:bitableId/tables/:tableId/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get Lark tenant access token\"].json.tenant_access_token }}"}]},"options":{}},"id":"af3e9460-6c4f-49ed-bdbb-f382fb715ecc","name":"Get all records","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1120,500]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.data.items?.length }}","operation":"larger"}]}},"id":"db8d0caa-6085-4f93-87af-ef63393fa22e","name":"Found record","type":"n8n-nodes-base.if","typeVersion":1,"position":[1340,500]},{"parameters":{"jsCode":"let input = $('Get all records').first().json.data.items;\nlet records=[]\nif (input){\nrecords   = input.map((record) => {\n  return record.record_id\n})\n}\n\n\nreturn {json: {records}};"},"id":"3386913a-f06c-4b86-b3e5-fe95f09bcb53","name":"Get record id","type":"n8n-nodes-base.code","typeVersion":1,"position":[1580,480]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/:bitableId/tables/:tableId/records/batch_delete","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get Lark tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($node[\"Get record id\"].json.records) }} }","options":{}},"id":"2bcc5dc8-6032-41b7-bc7f-c5a46758a2ce","name":"Delete records","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1780,480]}],"connections":{"Get all records":{"main":[[{"node":"Found record","type":"main","index":0}]]},"Found record":{"main":[[{"node":"Get record id","type":"main","index":0}]]},"Get record id":{"main":[[{"node":"Delete records","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"13acc009-6297-40fc-b527-52a69f4e455b","triggerCount":0,"tags":[{"createdAt":"2023-04-13T09:24:58.649Z","updatedAt":"2023-06-13T07:54:39.069Z","id":"14","name":"Template"}]}