test-approval-41.json
{"createdAt":"2023-03-03T15:30:10.908Z","updatedAt":"2023-03-04T03:30:33.000Z","id":"41","name":"Test Approval","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"ncmk-test-approval","options":{}},"id":"a92027ca-15d0-436f-ba1e-5bcb584b5c5e","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[840,520],"webhookId":"c4883d48-c2dc-4a6c-8863-f130813df13f"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/basusKDT1IASI9v2xdYd0u1c6Zd/tables/tblp0Z3LRV8RTR4h/records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"get_tenant_access_token\"].json[\"tenant_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"fields\": {\n        \"request_number\": \"{{ $node[\"Webhook\"].json[\"body\"][\"request_number\"] }}\",\n        \"approval_name\": \"{{ $node[\"Webhook\"].json[\"body\"][\"approval_name\"] }}\",\n        \"type\": \"{{ $node[\"Webhook\"].json[\"body\"][\"type\"] }}\",\n        \"user_id\": \"{{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}\",\n        \"department\": [\n            \"{{ $node[\"Webhook\"].json[\"body\"][\"department\"] }}\"\n        ],\n        \"status\": \"{{ $node[\"Webhook\"].json[\"body\"][\"status\"] }}\",\n        \"start_time\": 1580486400000,\n        \"end_time\": 1580486500000,\n        \n        \"short_answer\": \"{{ $node[\"Webhook\"].json[\"body\"][\"short_answer\"] }}\",\n        \"paragraph\": \"{{ $node[\"Webhook\"].json[\"body\"][\"paragraph\"] }}\",\n        \"description\": \"{{ $node[\"Webhook\"].json[\"body\"][\"description\"] }}\",\n        \"number\": 1,\n        \"amount\": 100,\n        \"single_select\": \"{{ $node[\"Webhook\"].json[\"body\"][\"single_select\"] }}\",\n        \"checkbox\": [\n            \"X\",\n            \"Z\"\n        ],\n        \"date\": 1580486400000,\n        \"date_start_time\": 1580486400000,\n        \"date_end_time\": 1580486400000,\n        \"date_duration\": 2,\n        \"contacts\": [\n          {\n            \"id\": \"ou_1aef8a42bf9a438e5189f715bab87736\"\n          }\n        ]\n    }\n}","options":{}},"id":"1915e584-a192-4fe1-b16b-0aa44cfd801f","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1500,540]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"bodyParameters":{"parameters":[{"name":"app_id","value":"cli_a32b3e8f78b8d00a"},{"name":"app_secret","value":"zhC23rEIttxawmct2aXFjeHiZpqTAyIG"}]},"options":{}},"id":"d2251ca3-f3e5-4402-9e3b-f4c2a9f1c033","name":"get_tenant_access_token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1060,520]}],"connections":{"Webhook":{"main":[[{"node":"get_tenant_access_token","type":"main","index":0}]]},"get_tenant_access_token":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Go-http-client/2.0","content-length":"522","accept-encoding":"gzip","content-type":"application/json","x-forwarded-for":"3.211.55.69","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"af4013275608","x-lark-flow-accesskey":"lark_action_message_va","x-lark-flow-nonce":"ffa678f5649a0da5","x-lark-flow-signature":"d3547611438568a9a899038795b20f77dabaea2acca50d8ee967ab4ebc4626ba","x-real-ip":"3.211.55.69"},"params":{},"query":{},"body":{"end_time":"-","date_duration":"2","approval_name":"Test to Bitable","department":"Phòng Giảp pháp Công nghệ","start_time":"2023-03-04 02:31","paragraph":"Paragraph","description":"","number":"1","formular":"1000000","single_select":"A","type":"Pending","request_number":"202303040004","short_answer":"Shortname","date_start_time":"Mar 17 2023","user_name":"Lê Quốc Khôi","user_id":"7133088781992771589","amount":"1000000","date_end_time":"Mar 18 2023","status":"Pending","checkbox":"X,Z","date":"Mar 07 2023"}}}]},"versionId":"f193cc03-1733-46c3-a4bd-bcbb548cba98","triggerCount":1,"tags":[]}