test file excel ve base-569.json
{"createdAt":"2023-11-10T03:40:21.812Z","updatedAt":"2023-11-11T18:47:36.000Z","id":"569","name":"Test file excel ve Base","active":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{"downloadAttachments":true}},"id":"39e1b94b-b2a3-4be1-9a13-408a8f04ba94","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[260,360],"credentials":{"gmailOAuth2":{"id":"47","name":"Gmail account Hoai"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"from\"][\"value\"][0][\"address\"] }}","operation":"contains","value2":"long2000x1@gmail.com"}]}},"id":"f8403f30-c0b6-45a0-924b-0d3b2583f6a0","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[480,360]},{"parameters":{"fileName":"={{ $('IF').item.binary.attachment_0.fileName }}","parentId":"5E00F87B95E5BBEF!173528","binaryData":true,"binaryPropertyName":"attachment_0"},"id":"2ee833c5-3ad9-44e7-a520-5e2c0a5bf8b7","name":"Microsoft OneDrive","type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[740,260],"credentials":{"microsoftOneDriveOAuth2Api":{"id":"45","name":"Microsoft Drive account Long"}}},{"parameters":{"filters":{"fields":"="}},"id":"11d9a546-075b-4885-bc52-cb56021b6844","name":"Microsoft Excel 365","type":"n8n-nodes-base.microsoftExcel","typeVersion":2,"position":[1160,480],"credentials":{"microsoftExcelOAuth2Api":{"id":"137","name":"Microsoft Excel account 2"}}},{"parameters":{"resource":"folder","folderId":"5E00F87B95E5BBEF!173528"},"id":"340394c0-533b-436f-ab80-6e10a570c911","name":"Microsoft OneDrive1","type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[940,240],"credentials":{"microsoftOneDriveOAuth2Api":{"id":"45","name":"Microsoft Drive account Long"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Microsoft OneDrive","type":"main","index":0}]]},"Microsoft OneDrive":{"main":[[{"node":"Microsoft OneDrive1","type":"main","index":0}]]},"Microsoft Excel 365":{"main":[[]]},"Microsoft OneDrive1":{"main":[[{"node":"Microsoft Excel 365","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Gmail Trigger":{"possibleDuplicates":["18bbfb5918d01cc7"],"lastTimeChecked":1699728426}},"pinData":{},"versionId":"9801acf3-1a94-4304-b2f1-c28fc3c44267","triggerCount":1,"tags":[]}