test haravan nè-219.json
{"createdAt":"2023-07-22T06:29:08.242Z","updatedAt":"2023-10-17T18:46:57.000Z","id":"219","name":"Test haravan nè","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"giaybom-haravan","options":{}},"id":"9032c08a-b1aa-44af-8f7c-8f780314f216","name":"NhanInfo","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[820,380],"webhookId":"78a11c7a-b6e4-4dfd-a91c-82be627c2360"},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"{   \"app_id\": \"cli_a4313e90bd789010\",   \"app_secret\": \"PlJYMhhxGkiR2pCKWzzCKb4r8o8SQl8z\" }","options":{}},"id":"83432de2-f859-4ac9-b97a-54b180277804","name":"Tenant","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1040,380]},{"parameters":{"method":"POST","url":"https://open-sg.larksuite.com/anycross/trigger/callback/ZmYxN2QyMDc4ZTZiZTFiODRkMDJmZmFkNjEzYzcyYzQw","sendBody":true,"contentType":"raw","body":"={{ $('NhanInfo').item.json[\"body\"] }}","options":{}},"id":"eb1d676b-d5a3-4b16-8711-14227b4ccde2","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1260,380]}],"connections":{"NhanInfo":{"main":[[{"node":"Tenant","type":"main","index":0}]]},"Tenant":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"NhanInfo":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Haravan-Flow","content-length":"308","content-type":"text/plain; charset=utf-8","traceparent":"00-f74c6fd69782184f6c7681bb1ddca9d4-c99ab2976c69638e-01","x-forwarded-for":"210.245.125.84","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"210.245.125.84","accept-encoding":"gzip"},"params":{},"query":{},"body":"{\"locationId\":1138348,\n\"orderId\":\"1476094031\",\n\"orderlocationid\":1138348,\n\"closedAt\":\"\",\n\"totalPrice\":\"269000\",\n\"name\":\"N******g \",\n\"phone\":\"\",\n\"discountCodes\":\"[\"GIAYBS227\"]\",\n\"CustomerId\":\"1050631614\",\n\"channelName\":\"shopee\",\n\"locationName\":\"Kho Online\",\n\"note\":\"\",\n\"paidAt\":\"2023-07-22T07:42:38.7820000\"\n}"}}]},"versionId":"f2c2e133-cc65-4b2c-843e-25eefabd0dd4","triggerCount":1,"tags":[]}