thông báo email tuyển dụng-12.json
{"createdAt":"2023-01-15T09:33:37.401Z","updatedAt":"2023-09-22T02:30:40.000Z","id":"12","name":"Thông báo email Tuyển dụng","active":true,"nodes":[{"parameters":{"downloadAttachments":true,"options":{"customEmailConfig":"[\"UNSEEN\"]"}},"id":"fa3efd89-15e2-4e47-b55f-57b4d63530e1","name":"Email Trigger (IMAP)","type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[840,500],"credentials":{"imap":{"id":"11","name":"IMAP: tuyendung@kdigi.vn"}}},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bot/v2/hook/797fd581-415c-410d-9a59-bbab67d45456","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"msg_type\": \"interactive\",\n    \"card\": {\n        \"config\": {\n                \"wide_screen_mode\": true,\n                \"enable_forward\": true\n        },\n        \"elements\": [{\n                \"tag\": \"div\",\n                \"text\": {\n                        \"content\": \"Từ: **{{ $node[\"Email Trigger (IMAP)\"].json[\"from\"] }}**\\nTiêu đề: **{{ $node[\"Email Trigger (IMAP)\"].json[\"subject\"] }}**\\n\" ,\n                        \"tag\": \"lark_md\"\n                }\n        }],\n        \"header\": {\n                \"title\": {\n                        \"content\": \"Đã nhận được một hồ sơ ứng tuyển mới\",\n                        \"tag\": \"plain_text\"\n                }\n        }\n    }\n}","options":{}},"id":"2c9c0eae-7666-49ef-ad0f-fb0594134eec","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1300,480]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"subject\"] }}","operation":"contains","value2":"Apply"}]}},"id":"e67de8d2-227a-4923-8a34-71e77615043a","name":"Subject cointains \"Apply\"","type":"n8n-nodes-base.if","typeVersion":1,"position":[1060,500]}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"Subject cointains \"Apply\"","type":"main","index":0}]]},"Subject cointains \"Apply\"":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Email Trigger (IMAP)":{"lastMessageUid":70}},"pinData":{"Email Trigger (IMAP)":[{"json":{"textHtml":"<div dir=\"ltr\"><div class=\"gmail_default\" style=\"font-family:tahoma,sans-serif;font-size:small;color:#000000\">Dear Quý công ty,</div><div class=\"gmail_default\" style=\"font-family:tahoma,sans-serif;font-size:small;color:#000000\"><br></div><div class=\"gmail_default\" style=\"font-family:tahoma,sans-serif;font-size:small;color:#000000\">[Đây là phần nội dung mà ứng viên gửi]</div><div><br></div><div><div class=\"gmail_default\" style=\"font-family:tahoma,sans-serif;font-size:small;color:rgb(0,0,0)\">Regards!</div><br></div>-- <br><div dir=\"ltr\" class=\"gmail_signature\" data-smartmail=\"gmail_signature\"><div dir=\"ltr\"><div dir=\"ltr\"><div dir=\"ltr\"><div dir=\"ltr\"><div dir=\"ltr\"><div dir=\"ltr\"><div style=\"margin:0px;padding:0px;border:0px;font-stretch:inherit;line-height:inherit;vertical-align:baseline;color:rgb(0,0,0)\"><div style=\"margin:0px;padding:0px;border:0px;font-stretch:inherit;line-height:inherit;vertical-align:baseline\"><span style=\"color:inherit;font-style:inherit;font-family:arial,sans-serif\"><b><span style=\"font-size:x-small;font-family:tahoma,sans-serif\"></span>Le Quoc Khoi (Mr.)</b></span><br></div><div style=\"margin:0px;padding:0px;border:0px;font-stretch:inherit;line-height:inherit;vertical-align:baseline\"><div style=\"margin:0px;padding:0px;border:0px;font-style:inherit;font-variant:inherit;font-weight:inherit;font-stretch:inherit;line-height:inherit;vertical-align:baseline;color:inherit\"><font face=\"arial, sans-serif\">DevOps Engineer</font></div></div><div style=\"margin:0px;padding:0px;border:0px;font-stretch:inherit;line-height:inherit;vertical-align:baseline\"><font face=\"arial, sans-serif\"><span style=\"margin:0px;padding:0px;border:0px;font-style:inherit;font-variant:inherit;font-weight:inherit;font-stretch:inherit;line-height:inherit;vertical-align:baseline;color:inherit\"></span><span style=\"margin:0px;padding:0px;border:0px;font-style:inherit;font-variant:inherit;font-weight:inherit;font-stretch:inherit;line-height:inherit;vertical-align:baseline;color:inherit\">Tel: <a href=\"http://+84333111868\" target=\"_blank\">+84333111868</a></span><br></font></div><font face=\"arial, sans-serif\"><span style=\"margin:0px;padding:0px;border:0px;font-stretch:inherit;line-height:inherit;vertical-align:baseline;color:rgb(50,49,48)\"></span><span style=\"color:rgb(50,49,48)\"></span></font><div style=\"margin:0px;padding:0px;border:0px;font-stretch:inherit;line-height:inherit;vertical-align:baseline\"><font face=\"arial, sans-serif\"><span style=\"margin:0px;padding:0px;border:0px;font-style:inherit;font-variant:inherit;font-weight:inherit;font-stretch:inherit;line-height:inherit;vertical-align:baseline;color:inherit\">Website: <span style=\"font-family:tahoma,sans-serif\"><a href=\"http://khoi.com.vn\" target=\"_blank\">khoi.com.vn</a></span></span></font></div></div><div style=\"margin:0px;padding:0px;border:0px;font-stretch:inherit;line-height:inherit;vertical-align:baseline;color:rgb(0,0,0)\"><p style=\"margin:0px;color:rgb(34,34,34)\"><font face=\"arial, sans-serif\" size=\"1\"><b><span style=\"margin:0px;padding:0px;border:0px;font-style:inherit;font-variant:inherit;font-weight:inherit;font-stretch:inherit;line-height:inherit;vertical-align:baseline;color:black;background-image:initial;background-position:initial;background-repeat:initial\">Disclaimer, limitation of liability, and copyright</span></b><span style=\"margin:0px;padding:0px;border:0px;font-style:inherit;font-variant:inherit;font-weight:inherit;font-stretch:inherit;line-height:inherit;vertical-align:baseline;color:rgb(31,73,125)\"><u></u><u></u></span></font></p><p style=\"margin:0px;color:rgb(34,34,34)\"><span style=\"margin:0px;padding:0px;border:0px;font-variant:inherit;font-weight:inherit;font-stretch:inherit;line-height:inherit;vertical-align:baseline;color:black;background-image:initial;background-position:initial;background-repeat:initial\"><font face=\"arial, sans-serif\" size=\"1\"><i>This message and any files transmitted with it are intended only for the persons to whom it is addressed and may be legally privileged and/or confidential. If you are not the addressee or have received this message in error, you may not disclose, copy, distribute, take action on, or omit action based on the contents thereof. If you are not the addressee or have received this message in error please destroy it and notify the sender immediately. Any unauthorized use or disclosure is prohibited and may be unlawful.</i></font></span></p></div></div><div dir=\"ltr\"><span></span><span></span></div></div></div></div></div></div></div></div>\r\n","textPlain":"Dear Quý công ty,\r\n\r\n[Đây là phần nội dung mà ứng viên gửi]\r\n\r\nRegards!\r\n\r\n-- \r\n*Le Quoc Khoi (Mr.)*\r\nDevOps Engineer\r\nTel: +84333111868\r\nWebsite: khoi.com.vn\r\n\r\n*Disclaimer, limitation of liability, and copyright*\r\n\r\n*This message and any files transmitted with it are intended only for the\r\npersons to whom it is addressed and may be legally privileged and/or\r\nconfidential. If you are not the addressee or have received this message in\r\nerror, you may not disclose, copy, distribute, take action on, or omit\r\naction based on the contents thereof. If you are not the addressee or have\r\nreceived this message in error please destroy it and notify the sender\r\nimmediately. Any unauthorized use or disclosure is prohibited and may be\r\nunlawful.*\r\n","metadata":{"authentication-results":"lms; spf=pass (client-ip:209.85.222.180) smtp.mailfrom=lekhoi456@gmail.com; dkim=pass header.i=@gmail.com; dmarc=pass (p=none sp=quarantine dis=none) header.from=gmail.com","x-fangmail-anti-spam-filtered":"true","x-fangmail-miltered":"at n100-022-169 with ID 63C3C469.000 by FangMail milter!","x-lms-egress-gw":"EgressFangMail","x-fangmail-gw-spam-type":"0","x-fangmail-envelope":"1673774185/4NvqK54KFSzRXcl0/63C3C469.000/209.85.222.180/mail-qk1-f180.google.com/localhost/<lekhoi456@gmail.com>","x-fangmail-mid-qid":"63C3C469.000/4NvqK54KFSzRXcl0","delivered-to":"tuyendung@kdigi.vn","x-lms-client-ip":"209.85.222.180","x-lms-mail-from":"lekhoi456@gmail.com","received-spf":"pass (lms verify) identity=mailfrom; client-ip=209.85.222.180; helo=mail-qk1-f180.google.com; envelope-from=lekhoi456@gmail.com; receiver=<UNKNOWN>;","received":"by mail-qk1-f180.google.com with SMTP id pe2so12927470qkn.1        for <tuyendung@kdigi.vn>; Sun, 15 Jan 2023 01:16:24 -0800 (PST)","dkim-signature":"v=1; a=rsa-sha256; c=relaxed/relaxed;        d=gmail.com; s=20210112;        h=to:subject:message-id:date:from:mime-version:from:to:cc:subject         :date:message-id:reply-to;        bh=sPAJeqSIhcw6qA1llvAsHoQYNvZYyunL5Sm33m4b5cs=;        b=QvLUibseOPATqt4jdycJvRXaQ+fiDSThWtOdV+W8jBuQpqUQEef+ixiIGOfVCbPIlA         rNy6CLa/wp1QHS/fYGRkeOdnDQL80+thBrQCGLQ1l+FguUXxASWQya18UMb92eGsakCt         cgkXN1x87L9kS3K61IjQ5cD1OW5v/9v40RWsAd6ZiGSlcQzoFJ3866GzwIncTpO124pD         M2lGI5Tgvy7TGfONSVVx0qLf+1LP7uISibmZbMp0Z/y6FIpLB5ZoZdJ6MvGUSzZnOhzZ         0Tf1ybU+Vl70ymAFRwbLhfEATdn2FtpvZQQSYYXN5fZjQUXWZcew7szElFrxoyIgFeca         PPdg==","x-google-dkim-signature":"v=1; a=rsa-sha256; c=relaxed/relaxed;        d=1e100.net; s=20210112;        h=to:subject:message-id:date:from:mime-version:x-gm-message-state         :from:to:cc:subject:date:message-id:reply-to;        bh=sPAJeqSIhcw6qA1llvAsHoQYNvZYyunL5Sm33m4b5cs=;        b=hK6n+NdsG2tQKlNEgVJOWDGdUE7Mo2BV9/rVUYyDxonUGNE0RGSGjG4724wDf1fxZP         xCOe6E1iY4iJ9RVlWdgPYyGFXm4E2lO13ZktgJQDVHUG73BNz2DH0W6LqhdJzJR+BuiM         ozEScQ5fUOO0kCzb2pPAGsrzx5Db12vqyC1KMHmVQo4sg2fm1Z18d1zBfEqH9qMpsY4w         N6ETwYAI3LK5BU2Hi+cDEgOj6EpSDeQD8SmCfGiKkF2C3YUriSgP5/JN35gQqpbg3GPU         28quyVS+f05sSQcmdonWXqm+wQJFw2FsaGssjtBsOCtoKaOnNgu05mNkhU0fNHTIKG73         hJMQ==","x-gm-message-state":"AFqh2krMtvNE2AhNFxLoFrYCmEsEXpUzMHi0Vswmui2DHUldsNCXlflf\tDNfawJ/cEZAfhQ1mzZTh4p4Y8MiL/hcx1YmVLBQUkPZC8m8BJ4QB","x-google-smtp-source":"AMrXdXvS2pDLMTotyfTqFT5HZ3K7abK3pSm+3qH3P23Iw89og/T5Rbfi3df7v3qeHhMRzNloAVWRh1ZelX9LD/OloU8=","x-received":"by 2002:a37:746:0:b0:706:4e95:1ecc with SMTP id 67-20020a370746000000b007064e951eccmr115992qkh.189.1673774183674; Sun, 15 Jan 2023 01:16:23 -0800 (PST)","mime-version":"1.0","message-id":"<CALsvCd0+YDzZs82w00dysVVUcGrrpF+rejAptoSjq9SbQ47FQg@mail.gmail.com>","content-type":"multipart/mixed; boundary=\"000000000000a73d2d05f249eb8f\"","x-lms-gw-filter":"true"},"subject":"[Apply] Ứng tuyển vị trí Senior DevOps","from":"Le Khoi <lekhoi456@gmail.com>","to":"tuyendung@kdigi.vn","date":"Sun, 15 Jan 2023 16:16:12 +0700"}}]},"versionId":"2f459ba2-63bf-4e3a-85e5-da834ff7adf1","triggerCount":1,"tags":[{"createdAt":"2023-01-05T09:55:57.214Z","updatedAt":"2023-01-05T09:55:57.214Z","id":"1","name":"Lark"},{"createdAt":"2023-01-15T09:33:57.136Z","updatedAt":"2023-01-15T09:33:57.136Z","id":"4","name":"Demo Ms. Quyên"}]}