tmhn - báo tiền - n8n 200723 copy-224.json
{"createdAt":"2023-07-24T17:04:51.553Z","updatedAt":"2023-07-24T17:09:42.000Z","id":"224","name":"TMHN - Báo Tiền - N8N 200723 copy","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"tmhn-khac-baotien","options":{}},"id":"81ec55a2-ddf0-4c7d-974d-9c39eb2cfb50","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1980,880],"webhookId":"ce158a66-5c38-48eb-b550-a91152982572"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  let elements = [];\n\n  elements.push({\n    tag: 'div',\n    fields: [\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Ngân hàng**: ${data.bankName.toUpperCase()}`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số tài khoản**: ${data.receiverAccount}`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số dư thay đổi:** ${data.transactionType.type} ${data.transactionAmount.amountText} VND`,\n        },\n      },\n      {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Nội dung:** ${data.transactionMessage}`,\n        },\n      },\n    ],\n  });\n\n  // Append transaction ID if exist\n  if (data.transactionId) {\n    elements[0].fields.push({\n      is_short: false,\n      text: {\n        tag: 'lark_md',\n        content: `**Mã giao dịch:** ${data.transactionId}`,\n      },\n    });\n  }\n\n  // Append received time\n  elements[0].fields.push({\n    is_short: false,\n    text: {\n      tag: 'lark_md',\n      content: `**Thời gian nhận:** ${data.receivedTime.text}`,\n    },\n  });\n\n  // Kiểm tra enableBalance nếu true thì thêm phần tử \"Số dư tạm tính\" vào mảng fields\n  if ($input.item.json.enableBalance) {\n    const balanceIndex = elements[0].fields.findIndex((field) =>\n      field?.text?.content?.includes('Số dư thay đổi')\n    );\n    if (balanceIndex !== -1) {\n      elements[0].fields.splice(balanceIndex + 1, 0, {\n        is_short: false,\n        text: {\n          tag: 'lark_md',\n          content: `**Số dư tạm tính**: ${data.balance.amountText} VND`,\n        },\n      });\n    }\n  }\n\n  // create message card\n  let result = {\n    msg_type: 'interactive',\n    card: {\n      config: {\n        wide_screen_mode: true,\n      },\n      header: {\n        template: data.larkMessConfig?.cardColor ?? 'blue',\n        title: {\n          content: `${data.bankName.toUpperCase()}-${data.receiverAccount} (${\n            data.transactionType.type\n          }) ${data.transactionAmount.amountText}VND`,\n          tag: 'plain_text',\n        },\n      },\n      elements,\n    },\n  };\n\n  return {\n    json: {\n      isSend: true,\n      data: result,\n      customBotURL: $input.item.json.customBotURL,\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"e7d44a39-9800-4125-aad7-501dfe8603c6","name":"Convert to Lark Message Card","type":"n8n-nodes-base.code","typeVersion":1,"position":[320,920]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/auth/v3/tenant_access_token/internal/","sendBody":true,"specifyBody":"json","jsonBody":"={ \"app_id\" : \"{{ $input.item.json[\"appId\"] }}\", \"app_secret\" : \"{{ $input.item.json[\"appSecret\"] }}\" }","options":{}},"id":"1a873923-adfa-4a9c-83a4-f3c88982f4b8","name":"Get Lark tenant access token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-740,620]},{"parameters":{"method":"POST","url":"={{ $input.item.json.customBotURL }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.item.json.data)}}","options":{}},"id":"0f9e9f43-646b-4618-b4dc-f781325a2208","name":"[Lark] Send noti to group chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[740,780]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  // Convert to Lark Base format\n  const records = [\n    {\n      fields: {\n        ID: data.bankName + '-' + data.receiverAccount,\n        Bank: data.bankName.toUpperCase(),\n        Account: data.receiverAccount,\n        'Transaction Type': data.transactionType.typeText,\n        Debit:\n          data.transactionType.type === '+'\n            ? data.transactionAmount.amount\n            : undefined,\n        Credit:\n          data.transactionType.type === '-'\n            ? data.transactionAmount.amount\n            : undefined,\n        'Transaction ID': data.transactionId,\n        'Transaction Message': data.transactionMessage,\n        'Original Message': data.originalMessage,\n        'Time received': data.receivedTime.timestamp,\n      },\n    },\n  ];\n\n  // Kiểm tra enableBalance nếu true thì thêm phần tử \"Balance\" vào mảng fields\n  if ($input.item.json.enableBalance) {\n    records[0].fields = {\n      ...records[0].fields,\n      Balance: data.balance.amount,\n    };\n  }\n\n  return {\n    json: {\n      isSend: true,\n      records,\n      configs: {\n        baseId: $input.item.json.baseId,\n        tableId: $input.item.json.tableId,\n      },\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"541ed3d8-f7c1-4959-88ce-ef45c69120e0","name":"Convert to Lark Base format","type":"n8n-nodes-base.code","typeVersion":1,"position":[300,520]},{"parameters":{"method":"POST","url":"=https://open.larksuite.com/open-apis/bitable/v1/apps/{{ $json[\"configs\"][\"baseId\"] }}/tables/{{  $json[\"configs\"][\"tableId\"]}}/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Get Lark tenant access token\"].json.tenant_access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":{{ JSON.stringify($json[\"records\"]) }}}","options":{}},"id":"66a1121b-c5d3-48f3-ab8b-3e963b987d41","name":"[SMS Log] Add records to Bitable","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[720,460]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isBankSupport }}","value2":true}]}},"id":"aad0c198-74bd-4097-b192-0095162b9757","name":"ifBankSupport","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1560,880]},{"parameters":{"method":"POST","url":"https://app.n8n.vn/webhook/kdigi-bank-bot-process-data","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.first().json.body) }}","options":{}},"id":"fafa0a8b-963c-43bb-bb84-f94d1ef1a104","name":"getBankData","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1780,880]},{"parameters":{},"id":"d83bd380-2a6d-47ab-af70-dcf7b39fe672","name":"Start Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1360,860]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"if (\n  ($('getBankData').item.json.result.transactionType.type === '-' &&\n    $input.item.json.enableOutgoing) ||\n  ($('getBankData').item.json.result.transactionType.type === '+' &&\n    $input.item.json.enableIncoming)\n) {\n  const data = $('getBankData').first().json.result;\n\n  let message = [];\n\n  message.push(\n    `<b>${data.bankName.toUpperCase()}-${data.receiverAccount} (${\n      data.transactionType.type\n    }) ${data.transactionAmount.amountText}VND</b>\\n`,\n    `<b>Ngân hàng:</b> ${data.bankName.toUpperCase()}`,\n    `<b>Số tài khoản:</b> ${data.receiverAccount}`,\n    `<b>Số dư thay đổi:</b> ${data.transactionType.type} ${data.transactionAmount.amountText} VND`\n  );\n\n  // Add balance\n  if ($input.item.json.enableBalance) {\n    message.push(`<b>Số dư tạm tính:</b> ${data.balance.amountText} VND`);\n  }\n\n  message.push(`<b>Nội dung:</b>\\n ${data.transactionMessage}`);\n\n  // Check transaction ID\n  if (data.transactionId) {\n    message.push(`<b>Mã giao dịch:</b> ${data.transactionId}`);\n  }\n\n  message.push(`<b>Thời gian nhận:</b> ${data.receivedTime.text}`);\n\n  return {\n    json: {\n      isSend: true,\n      botToken: $input.item.json.botToken,\n      payload: {\n        chat_id: $input.item.json.chatId,\n        parse_mode: 'HTML',\n        text: message.join('\\n'),\n      },\n    },\n  };\n}\n\nreturn {\n  json: {\n    isSend: false,\n  },\n};\n"},"id":"2e0422d4-20c4-4e9b-8c2b-1531847dda9b","name":"Create Telegram Message","type":"n8n-nodes-base.code","typeVersion":1,"position":[-300,1700]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $input.item.json.botToken }}/sendMessage ","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.item.json.payload) }}","options":{}},"id":"7e55354b-370f-4f33-b485-9ec9a8199233","name":"Send to Telegram chat","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[160,1620]},{"parameters":{"values":{"string":[{"name":"appId","value":"cli_a433ff4a74f89009"},{"name":"appSecret","value":"LL8RUtLIixRrw3t5qLUkwcdBhbgOWpIr"}]},"options":{}},"id":"035aea27-e0dc-42d2-96ca-70de3f0cb887","name":"Set Lark Configs","type":"n8n-nodes-base.set","typeVersion":2,"position":[-920,620]},{"parameters":{"values":{"string":[{"name":"customBotURL","value":"https://open.larksuite.com/open-apis/bot/v2/hook/7e5bdd69-bf24-4ac7-8735-e200d7a5d3fb"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP","value":true},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"6c3df85c-f0df-4059-86f8-1eb09907dddc","name":"Set Lark Mess Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[-320,880]},{"parameters":{"values":{"string":[{"name":"baseId","value":"LIx9b5n6wazCqns1euGuCOthsyh"},{"name":"tableId","value":"tblp9NOY84tf0znP"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP","value":true},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"e6abeb8e-bf63-4a17-aec0-53fd9a23cd78","name":"Set Lark Base Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[-300,480]},{"parameters":{},"id":"a31a6f4f-b3b8-4054-9e8d-6fc1144b1170","name":"Start Lark Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1080,620]},{"parameters":{},"id":"8609570e-ee8e-41f5-9203-c35d1de4ac4c","name":"Start Lark Base","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-520,480]},{"parameters":{},"id":"f732886a-0dd8-49f1-86e2-35921ee44f54","name":"Start Lark Mess","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-540,880]},{"parameters":{},"id":"6fd51954-65ca-4f40-8978-b2a62ad2cf44","name":"Start Telegram Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1080,1620]},{"parameters":{"values":{"string":[{"name":"botToken","value":"set-bot-token"},{"name":"chatId","value":"set-chat-id"}],"boolean":[{"name":"enableBalance","value":true},{"name":"enableOTP","value":true},{"name":"enableOutgoing","value":true},{"name":"enableIncoming","value":true}]},"options":{}},"id":"1b30c1a1-8933-461f-83e3-50f0065b01ec","name":"Set Telegram Config","type":"n8n-nodes-base.set","typeVersion":2,"position":[-900,1620]},{"parameters":{},"id":"fdf90ba0-6a0d-4293-ac40-70c5ceb41c57","name":"Start Lark Base Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-80,460]},{"parameters":{},"id":"63eedca8-bb36-454b-bb5d-bca2e2d20dbd","name":"Start Lark Mess Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-100,860]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\n// create message card\nlet result = {\n  msg_type: 'text',\n  content: {\n    text: `Từ: ${smsContent.from}\\n${smsContent.text.toString()}`,\n  },\n};\n\nreturn {\n  json: {\n    data: result,\n    customBotURL: $input.item.json.customBotURL,\n  },\n};\n"},"id":"769e1441-7ac1-4950-830f-c51e0a7c8a42","name":"Convert to Message Card for OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[320,760]},{"parameters":{},"id":"0d04dec2-8695-4a98-b3d0-c958c0301ab1","name":"Start Telegram Mess Actions","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-700,1620]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\nlet message = [];\n\nmessage.push(\n  `<b>${smsContent.from.toUpperCase()}</b>\\n`,\n  `${smsContent.text.toString()}`\n);\n\nreturn {\n  json: {\n    botToken: $input.item.json.botToken,\n    payload: {\n      chat_id: $input.item.json.chatId,\n      parse_mode: 'HTML',\n      text: message.join('\\n'),\n    },\n  },\n};\n"},"id":"6ed5d26b-5a81-4ae3-91fc-4ca985915d2b","name":"Create Telegram Message for OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[-180,1480]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"4ae9a662-0530-4273-a533-66ff456ec5e1","name":"ifSend","type":"n8n-nodes-base.if","typeVersion":1,"position":[520,920]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"052167ac-d7db-4217-9c54-72ebc426774b","name":"ifSend1","type":"n8n-nodes-base.if","typeVersion":1,"position":[480,520]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.item.json.isSend }}","value2":true}]}},"id":"e0b29467-5575-4ac2-a0e6-41bebda40a51","name":"ifSend2","type":"n8n-nodes-base.if","typeVersion":1,"position":[-80,1700]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\n  // Convert to Lark Base format\n  const records = [\n    {\n      fields: {\n        ID: smsContent.from,\n        Bank: smsContent.from,\n        'Transaction Type': 'OTP',\n        'Transaction Message': smsContent.text.toString(),\n        'Original Message': smsContent.text.toString(),\n        'Time received': smsContent.sentStamp,\n      },\n    },\n  ];\n\n  return {\n    json: {\n      records,\n      configs: {\n        baseId: $input.item.json.baseId,\n        tableId: $input.item.json.tableId,\n      },\n    },\n  };\n"},"id":"de04c343-b79e-48af-aba0-4290d85c4886","name":"Convert to Lark Base format OTP","type":"n8n-nodes-base.code","typeVersion":1,"position":[300,280]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"a00bd9a4-61ad-436f-8673-7bdc58343c1b","name":"ifOTPLarkBase","type":"n8n-nodes-base.if","typeVersion":1,"position":[100,460]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"66aa7265-4f90-43d6-95ed-cff2a98c890c","name":"ifOTPLarkMess","type":"n8n-nodes-base.if","typeVersion":1,"position":[60,860]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Webhook').item.json.body.text }}","operation":"contains","value2":"OTP"}],"boolean":[{"value1":"={{ $input.item.json.enableOTP }}","value2":true}]}},"id":"f3ee23b6-0364-4a91-b367-e7a7923a42dd","name":"ifOTPTelegram","type":"n8n-nodes-base.if","typeVersion":1,"position":[-520,1620]},{"parameters":{"values":{"string":[{"name":"customBotURL","value":"https://open.larksuite.com/open-apis/bot/v2/hook/27387efd-c40b-44c1-9872-6983f4f687c9"}]},"options":{}},"id":"eb8d822e-f225-4f18-8da5-8bdaf9098c5e","name":"Set Lark Mess Config1","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1080,1180]},{"parameters":{"method":"POST","url":"={{ $input.item.json.customBotURL }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($input.item.json.data)}}","options":{}},"id":"a931be24-f042-44a9-ad64-a639b99d6376","name":"[Lark] Send noti to group chat1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-660,1180]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const smsContent = $('Webhook').first().json.body;\n\n// create message card\nlet result = {\n  msg_type: 'text',\n  content: {\n    text: `Từ: ${smsContent.from}\\nNội dung: \\n${smsContent.text.toString()}`,\n  },\n};\n\nreturn {\n  json: {\n    data: result,\n    customBotURL: $input.item.json.customBotURL,\n  },\n};\n"},"id":"7912d3fb-534a-45c9-b45c-612125997341","name":"Convert to Message Card","type":"n8n-nodes-base.code","typeVersion":1,"position":[-880,1180]}],"connections":{"Webhook":{"main":[[{"node":"getBankData","type":"main","index":0}]]},"Convert to Lark Message Card":{"main":[[{"node":"ifSend","type":"main","index":0}]]},"Get Lark tenant access token":{"main":[[{"node":"Start Lark Base","type":"main","index":0},{"node":"Start Lark Mess","type":"main","index":0}]]},"Convert to Lark Base format":{"main":[[{"node":"ifSend1","type":"main","index":0}]]},"ifBankSupport":{"main":[[{"node":"Start Actions","type":"main","index":0}],[{"node":"Set Lark Mess Config1","type":"main","index":0}]]},"getBankData":{"main":[[{"node":"ifBankSupport","type":"main","index":0}]]},"Create Telegram Message":{"main":[[{"node":"ifSend2","type":"main","index":0}]]},"Set Lark Configs":{"main":[[{"node":"Get Lark tenant access token","type":"main","index":0}]]},"Set Lark Mess Config":{"main":[[{"node":"Start Lark Mess Actions","type":"main","index":0}]]},"Set Lark Base Config":{"main":[[{"node":"Start Lark Base Actions","type":"main","index":0}]]},"Start Lark Actions":{"main":[[{"node":"Set Lark Configs","type":"main","index":0}]]},"Start Lark Base":{"main":[[{"node":"Set Lark Base Config","type":"main","index":0}]]},"Start Lark Mess":{"main":[[{"node":"Set Lark Mess Config","type":"main","index":0}]]},"Start Telegram Actions":{"main":[[{"node":"Set Telegram Config","type":"main","index":0}]]},"Set Telegram Config":{"main":[[{"node":"Start Telegram Mess Actions","type":"main","index":0}]]},"Start Lark Base Actions":{"main":[[{"node":"ifOTPLarkBase","type":"main","index":0}]]},"Start Lark Mess Actions":{"main":[[{"node":"ifOTPLarkMess","type":"main","index":0}]]},"Convert to Message Card for OTP":{"main":[[{"node":"[Lark] Send noti to group chat","type":"main","index":0}]]},"Start Telegram Mess Actions":{"main":[[{"node":"ifOTPTelegram","type":"main","index":0}]]},"Create Telegram Message for OTP":{"main":[[{"node":"Send to Telegram chat","type":"main","index":0}]]},"ifSend":{"main":[[{"node":"[Lark] Send noti to group chat","type":"main","index":0}]]},"ifSend1":{"main":[[{"node":"[SMS Log] Add records to Bitable","type":"main","index":0}]]},"ifSend2":{"main":[[{"node":"Send to Telegram chat","type":"main","index":0}]]},"Convert to Lark Base format OTP":{"main":[[{"node":"[SMS Log] Add records to Bitable","type":"main","index":0}]]},"ifOTPLarkBase":{"main":[[{"node":"Convert to Lark Base format OTP","type":"main","index":0}],[{"node":"Convert to Lark Base format","type":"main","index":0}]]},"ifOTPLarkMess":{"main":[[{"node":"Convert to Message Card for OTP","type":"main","index":0}],[{"node":"Convert to Lark Message Card","type":"main","index":0}]]},"ifOTPTelegram":{"main":[[{"node":"Create Telegram Message for OTP","type":"main","index":0}],[{"node":"Create Telegram Message","type":"main","index":0}]]},"Set Lark Mess Config1":{"main":[[{"node":"Convert to Message Card","type":"main","index":0}]]},"Start Actions":{"main":[[{"node":"Start Lark Actions","type":"main","index":0}]]},"Convert to Message Card":{"main":[[{"node":"[Lark] Send noti to group chat1","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"SMS Forwarder App","transfer-encoding":"chunked","accept-encoding":"gzip","content-type":"application/json; charset=utf-8","x-forwarded-for":"171.224.177.18","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"171.224.177.18"},"params":{},"query":{},"body":{"from":"ABBank","text":"TK268xxx0922 tai BIDV +400,000,000VND vao 10:48 21/07/2023. So du:412,040,620VND. ND: TKThe :2207201008449, tai Agribank. hx tra xn3 -CTLNHIDI000005159896347-11","sentStamp":1689912578000,"receivedStamp":1689912580093,"sim":"sim2"}}}]},"versionId":"f6416368-9be8-4ec9-be52-5ede9b065921","triggerCount":1,"tags":[]}