update order hitacamp - nocodb-492.json
{"createdAt":"2023-08-28T10:42:32.316Z","updatedAt":"2023-08-28T14:04:01.000Z","id":"492","name":"Update Order Hitacamp > NocoDB","active":false,"nodes":[{"parameters":{},"id":"2ac4bd8a-79c3-44c7-bf2e-7f89a823e3ab","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1120,460]},{"parameters":{"resource":"order","operation":"get","orderId":"={{ $json.OrderID }}"},"id":"7356f43b-c161-42f2-8846-2b687e796042","name":"WooCommerce","type":"n8n-nodes-base.wooCommerce","typeVersion":1,"position":[1580,460],"alwaysOutputData":true,"credentials":{"wooCommerceApi":{"id":"81","name":"HitaCamp.vn"}},"continueOnFail":true},{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":5}]}},"id":"69c38212-0ca0-4e76-b1fb-2ff931bde85f","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[1120,660]},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"p_qdh0kr1uq4ot64","table":"md_m5sn02zw0fvm0u","limit":1,"options":{"where":"(Update,blank)"}},"id":"e814cccd-e154-4542-9106-3402dc004a4d","name":"NocoDB1","type":"n8n-nodes-base.nocoDb","typeVersion":2,"position":[1380,580],"credentials":{"nocoDbApiToken":{"id":"118","name":"NocoDB Token account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"p_qdh0kr1uq4ot64","table":"md_m5sn02zw0fvm0u","id":"={{ $('NocoDB1').first().json.Id }}","fieldsUi":{"fieldValues":[{"fieldName":"MessID","fieldValue":"={{ $json.set_attributes.messid }}"},{"fieldName":"Name","fieldValue":"={{ $json.set_attributes.first_name }}"},{"fieldName":"Email","fieldValue":"={{ $json.set_attributes.order_email }}"},{"fieldName":"Phone","fieldValue":"={{ $json.set_attributes.order_phone }}"},{"fieldName":"OrderID","fieldValue":"={{ $json.set_attributes.order_id }}"},{"fieldName":"OrderKey","fieldValue":"={{ $json.set_attributes.order_key }}"},{"fieldName":"Item","fieldValue":"={{ $json.set_attributes.item_id }}"},{"fieldName":"ItemName","fieldValue":"={{ $json.set_attributes.product }}"},{"fieldName":"Total","fieldValue":"={{ $json.set_attributes.order_total }}"},{"fieldName":"Status","fieldValue":"={{ $json.set_attributes.order_status }}"},{"fieldName":"Coupon","fieldValue":"={{ $json.set_attributes.coupon }}"},{"fieldName":"RefID","fieldValue":"={{ $json.set_attributes.ref_id }}"},{"fieldName":"SmaxChat","fieldValue":"=https://smax.chat/pages/267860490322486/conversation?tid=th_{{ $json.set_attributes.messid }}"},{"fieldName":"Nguon","fieldValue":"={{ $json.set_attributes.nguon }}"},{"fieldName":"Update","fieldValue":"ok"}]}},"id":"abd58e96-b69c-4345-8bde-505d1db6ce69","name":"NocoDB","type":"n8n-nodes-base.nocoDb","typeVersion":2,"position":[1760,700],"credentials":{"nocoDbApiToken":{"id":"118","name":"NocoDB Token account"}}},{"parameters":{"url":"https://hitacamp.vn/wp-json/woo_smaxbot/get_order?secret=6688","sendQuery":true,"queryParameters":{"parameters":[{"name":"order_id","value":"={{ $json.OrderID }}"}]},"options":{}},"id":"079c418f-121d-485e-af5f-3c67cf9ca254","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1580,700],"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"p_qdh0kr1uq4ot64","table":"md_m5sn02zw0fvm0u","id":"={{ $('NocoDB1').first().json.Id }}","fieldsUi":{"fieldValues":[{"fieldName":"Date","fieldValue":"={{ $json.date_created }}"},{"fieldName":"Diachi","fieldValue":"={{ $json.billing.address_1 }}"}]}},"id":"4c885aef-9a59-41d1-8533-781c9ff09e99","name":"NocoDB2","type":"n8n-nodes-base.nocoDb","typeVersion":2,"position":[1760,460],"credentials":{"nocoDbApiToken":{"id":"118","name":"NocoDB Token account"}}}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"NocoDB1","type":"main","index":0}]]},"WooCommerce":{"main":[[{"node":"NocoDB2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"NocoDB1","type":"main","index":0}]]},"NocoDB1":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"WooCommerce","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"NocoDB","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{"WooCommerce":[{"json":{"id":31711,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-28T19:17:28","date_modified":"2023-08-28T19:17:38","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49160,"order_key":"wc_order_tOesp8hWssZFc","billing":{"first_name":"Hoàng Thúy Vân","last_name":"","company":"","address_1":"125/6 Lê Duẩn- Hạp Thịnh- Tô Hạp- Khánh Sơn - Khánh Hòa","address_2":"","city":"","state":"","postcode":"","country":"","email":"Hoangthuyvanksk@gmail.com","phone":"0969700655"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"113.166.244.42","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-28T19:17:38","date_paid":"2023-08-28T19:17:28","cart_hash":"87f442e4002b0c8c79597c1cf93adce5","number":"31711","meta_data":[{"id":1056156,"key":"is_vat_exempt","value":"no"},{"id":1056157,"key":"marketing_status","value":"1"},{"id":1056159,"key":"wvw_currency_rate","value":"1"},{"id":1056160,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1056162,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1056164,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1056165,"key":"_woofunnel_cid","value":"75459"},{"id":1056166,"key":"_bwfan_order_total_base","value":"99000"},{"id":1056167,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"99000"},{"id":1056168,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"99000"},{"id":1056171,"key":"order_key","value":"wc_order_tOesp8hWssZFc"},{"id":1056172,"key":"ref_id","value":"R_0985767138"},{"id":1056175,"key":"lws_woovip_pro_membership_done","value":"2023-08-28T12:17:39+00:00"},{"id":1056176,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-28T12:17:39+00:00"},{"id":1056177,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-28T12:17:39+00:00"},{"id":1056179,"key":"_woofunnel_custid","value":"75459"},{"id":1056180,"key":"_wfob_stats_ids","value":[]},{"id":1056181,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19610,"name":"5PTB môn Toán – Lớp 2 (1 năm)","product_id":21121,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":193898,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21135","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_2_TOAN-scaled.jpeg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31711/?pay_for_order=true&key=wc_order_tOesp8hWssZFc","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-28T12:17:28","date_modified_gmt":"2023-08-28T12:17:38","date_completed_gmt":"2023-08-28T12:17:38","date_paid_gmt":"2023-08-28T12:17:28","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31711"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49160"}]}},"pairedItem":{"item":0}},{"json":{"id":31709,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-28T16:56:46","date_modified":"2023-08-28T17:03:03","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"468001","total_tax":"0","customer_id":0,"order_key":"wc_order_UJY51rQk1306k","billing":{"first_name":"Dào Văn Sơn","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","email":"daovansonbtbh@gmail.com","phone":"0918997998"},"shipping":{"first_name":"Dào Văn Sơn","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","phone":"0918997998"},"payment_method":"bacs","payment_method_title":"Chuyển khoản ngân hàng","transaction_id":"","customer_ip_address":"113.161.86.40","customer_user_agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 LightSpeed [FBAN/MessengerLiteForiOS;FBAV/423.0.0.29.108;FBBV/508124234;FBDV/iPhone13,4;FBMD/iPhone;FBSN/iOS;FBSV/16.6;FBSS/3;FBCR/;FBID/phone;FBLC/vi;FBOP/0]","created_via":"checkout","customer_note":"","date_completed":"2023-08-28T17:03:03","date_paid":"2023-08-28T17:03:03","cart_hash":"fd6f8a3e334a71edc893340b5f805d2b","number":"31709","meta_data":[{"id":1056086,"key":"is_vat_exempt","value":"no"},{"id":1056087,"key":"marketing_status","value":"1"},{"id":1056089,"key":"wvw_currency_rate","value":"1"},{"id":1056090,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1056092,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1056094,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1056095,"key":"_woofunnel_cid","value":"130026"},{"id":1056096,"key":"_wfacp_post_id","value":"20467"},{"id":1056097,"key":"_wfacp_source","value":"https://hitacamp.vn/dang-ky/qua-tang-giup-con-khong-me-game/"},{"id":1056098,"key":"_wfacp_timezone","value":"Asia/Saigon"},{"id":1056099,"key":"messid","value":"6598995670146286"},{"id":1056100,"key":"nguon","value":"[wf_get_url_parameter key='nguon']"},{"id":1056101,"key":"ref_id","value":"R_0985767138"},{"id":1056102,"key":"pageid","value":"267860490322486"},{"id":1056103,"key":"_bwfan_order_total_base","value":"468001"},{"id":1056104,"key":"_wfocu_funnel_id","value":"20469"},{"id":1056105,"key":"_wfocu_funnel_key","value":"6d0a1302ed4aeb267dccbc10bc52e67b"},{"id":1056106,"key":"_wfocu_version","value":"3.6.1"},{"id":1056108,"key":"_wfocu_schedule_status","value":{"order_status":"processing","source_status":"on-hold","time":1693216606}},{"id":1056109,"key":"order_key","value":"wc_order_UJY51rQk1306k"},{"id":1056110,"key":"_wfocu_upsell_amount","value":"468000"},{"id":1056111,"key":"_wfocu_upsell_amount_currency","value":"468000"},{"id":1056114,"key":"_wfocu_thankyou_visited","value":"yes"},{"id":1056120,"key":"lws_woovip_pro_membership_done","value":"2023-08-28T17:03:04+07:00"},{"id":1056121,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-28T17:03:04+07:00"},{"id":1056122,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-28T17:03:04+07:00"},{"id":1056123,"key":"_wfob_stats_ids","value":[]},{"id":1056125,"key":"_woofunnel_custid","value":"130026"}],"line_items":[{"id":19608,"name":"GIÚP CON KHÔNG MÊ GAME","product_id":14563,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"1","subtotal_tax":"0","total":"1","total_tax":"0","taxes":[],"meta_data":[{"id":193874,"key":"_wfacp_product","value":"1","display_key":"_wfacp_product","display_value":"1"},{"id":193875,"key":"_wfacp_product_key","value":"wfacp_6465af5413580","display_key":"_wfacp_product_key","display_value":"wfacp_6465af5413580"},{"id":193876,"key":"_wfacp_options","value":{"title":"GIÚP CON KHÔNG MÊ GAME","discount_type":"fixed_discount_reg","discount_amount":"167999","discount_price":"0","quantity":1,"type":"simple","id":"14563","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"","whats_included":"","enable_delete":"false","old_title":"GIÚP CON KHÔNG MÊ GAME","product_id":"14563","whats_include_heading":"GIÚP CON KHÔNG MÊ GAME","item_key":"wfacp_6465af5413580"},"display_key":"_wfacp_options","display_value":{"title":"GIÚP CON KHÔNG MÊ GAME","discount_type":"fixed_discount_reg","discount_amount":"167999","discount_price":"0","quantity":1,"type":"simple","id":"14563","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"","whats_included":"","enable_delete":"false","old_title":"GIÚP CON KHÔNG MÊ GAME","product_id":"14563","whats_include_heading":"GIÚP CON KHÔNG MÊ GAME","item_key":"wfacp_6465af5413580"}},{"id":193877,"key":"_wfacp_item_discount","value":{"VND":{"regular_price":"168000","sale_price":1}},"display_key":"_wfacp_item_discount","display_value":{"VND":{"regular_price":"168000","sale_price":1}}},{"id":193878,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":1,"image":{"id":"14564","src":"https://hitacamp.vn/wp-content/uploads/2023/04/ttl_GCKMG_16X9.jpg"},"parent_name":null},{"id":19609,"name":"COMBO PHỤ HUYNH THÔNG THÁI","product_id":14748,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"468000","subtotal_tax":"0","total":"468000","total_tax":"0","taxes":[],"meta_data":[{"id":193888,"key":"_upstroke_purchase","value":"yes","display_key":"_upstroke_purchase","display_value":"yes"}],"sku":"","price":468000,"image":{"id":"15482","src":"https://hitacamp.vn/wp-content/uploads/2023/04/NPP_CMHT_QTANG_2.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31709/?pay_for_order=true&key=wc_order_UJY51rQk1306k","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-28T09:56:46","date_modified_gmt":"2023-08-28T10:03:03","date_completed_gmt":"2023-08-28T10:03:03","date_paid_gmt":"2023-08-28T10:03:03","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31709"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}]}},"pairedItem":{"item":0}},{"json":{"id":31708,"parent_id":0,"status":"processing","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-28T16:47:15","date_modified":"2023-08-28T16:54:04","discount_total":"1","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"468000","total_tax":"0","customer_id":0,"order_key":"wc_order_hziZTUv9tzQqa","billing":{"first_name":"Huỳnh Thị Cẩm Tú","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","email":"huynhthicamtu14092002@gmail.com","phone":"0362300007"},"shipping":{"first_name":"Huỳnh Thị Cẩm Tú","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","phone":"0362300007"},"payment_method":"bacs","payment_method_title":"Chuyển khoản ngân hàng","transaction_id":"","customer_ip_address":"42.112.227.112","customer_user_agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 15_7_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 LightSpeed [FBAN/MessengerLiteForiOS;FBAV/423.0.0.29.108;FBBV/508124234;FBDV/iPhone8,1;FBMD/iPhone;FBSN/iOS;FBSV/15.7.3;FBSS/2;FBCR/;FBID/phone;FBLC/vi;FBOP/0]","created_via":"checkout","customer_note":"","date_completed":null,"date_paid":"2023-08-28T16:54:04","cart_hash":"930437dce0c8e7853695f70af2988c4c","number":"31708","meta_data":[{"id":1056023,"key":"is_vat_exempt","value":"no"},{"id":1056024,"key":"marketing_status","value":"1"},{"id":1056025,"key":"_wfob_report_data","value":[]},{"id":1056026,"key":"wvw_currency_rate","value":"1"},{"id":1056027,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1056028,"key":"_wfacp_report_data","value":{"wfacp_total":"1","funnel_id":"13"}},{"id":1056029,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1056031,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1056032,"key":"_woofunnel_cid","value":"130024"},{"id":1056033,"key":"_wfacp_post_id","value":"17660"},{"id":1056034,"key":"_wfacp_source","value":"https://hitacamp.vn/dang-ky/free-gift-giup-con-tu-tin/"},{"id":1056035,"key":"_wfacp_timezone","value":"Asia/Saigon"},{"id":1056036,"key":"messid","value":"3852093511579716"},{"id":1056037,"key":"nguon","value":"[wf_get_url_parameter key=\\'nguon\\']"},{"id":1056038,"key":"ref_id","value":"R_0386692131"},{"id":1056039,"key":"pageid","value":"267860490322486"},{"id":1056040,"key":"_bwfan_order_total_base","value":"468001"},{"id":1056041,"key":"_wfocu_funnel_id","value":"17662"},{"id":1056042,"key":"_wfocu_funnel_key","value":"f57d36cd2d83d6b73396bc743751fbd4"},{"id":1056043,"key":"_wfocu_version","value":"3.6.1"},{"id":1056045,"key":"_wfocu_schedule_status","value":{"order_status":"processing","source_status":"on-hold","time":1693216035}},{"id":1056046,"key":"order_key","value":"wc_order_hziZTUv9tzQqa"},{"id":1056047,"key":"_wfocu_upsell_amount","value":"468000"},{"id":1056048,"key":"_wfocu_upsell_amount_currency","value":"468000"},{"id":1056049,"key":"_wfacp_report_needs_normalization","value":"yes"},{"id":1056050,"key":"_wfob_report_needs_normalization","value":"yes"},{"id":1056051,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19605,"name":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","product_id":14552,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"1","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":193847,"key":"_wfacp_product","value":"1","display_key":"_wfacp_product","display_value":"1"},{"id":193848,"key":"_wfacp_product_key","value":"wfacp_64466c97cb4d4","display_key":"_wfacp_product_key","display_value":"wfacp_64466c97cb4d4"},{"id":193849,"key":"_wfacp_options","value":{"title":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","discount_type":"fixed_discount_reg","discount_amount":"317999","discount_price":"0","quantity":1,"type":"simple","id":"14552","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"Tặng miễn phí","whats_included":"","enable_delete":"false","old_title":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","product_id":"14552","whats_include_heading":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","item_key":"wfacp_64466c97cb4d4"},"display_key":"_wfacp_options","display_value":{"title":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","discount_type":"fixed_discount_reg","discount_amount":"317999","discount_price":"0","quantity":1,"type":"simple","id":"14552","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"Tặng miễn phí","whats_included":"","enable_delete":"false","old_title":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","product_id":"14552","whats_include_heading":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","item_key":"wfacp_64466c97cb4d4"}},{"id":193850,"key":"_wfacp_item_discount","value":{"VND":{"regular_price":"318000","sale_price":1}},"display_key":"_wfacp_item_discount","display_value":{"VND":{"regular_price":"318000","sale_price":1}}},{"id":193851,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":0,"image":{"id":"14554","src":"https://hitacamp.vn/wp-content/uploads/2023/04/NPP_BIQUYET_16X9.jpg"},"parent_name":null},{"id":19606,"name":"COMBO PHỤ HUYNH THÔNG THÁI","product_id":14748,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"468000","subtotal_tax":"0","total":"468000","total_tax":"0","taxes":[],"meta_data":[{"id":193861,"key":"_upstroke_purchase","value":"yes","display_key":"_upstroke_purchase","display_value":"yes"}],"sku":"","price":468000,"image":{"id":"15482","src":"https://hitacamp.vn/wp-content/uploads/2023/04/NPP_CMHT_QTANG_2.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[{"id":19607,"code":"tutin0d","discount":"1","discount_tax":"0","meta_data":[{"id":193864,"key":"coupon_data","value":{"id":18013,"code":"tutin0d","amount":"100","status":"publish","date_created":{"date":"2023-04-27 11:26:28.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-04-27 11:26:28.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"percent","description":"","usage_count":2131,"individual_use":false,"product_ids":[14552],"excluded_product_ids":[],"usage_limit":0,"usage_limit_per_user":0,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"","email_restrictions":[],"virtual":false,"meta_data":[{"id":507877,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":507897,"key":"sc_restrict_to_new_user","value":"no"},{"id":507898,"key":"auto_generate_coupon","value":"no"},{"id":507899,"key":"coupon_title_prefix","value":""},{"id":507900,"key":"coupon_title_suffix","value":""},{"id":507901,"key":"sc_coupon_validity","value":""},{"id":507902,"key":"validity_suffix","value":"days"},{"id":507903,"key":"sc_is_visible_storewide","value":"no"},{"id":507904,"key":"sc_disable_email_restriction","value":"no"},{"id":507905,"key":"is_pick_price_of_product","value":"no"},{"id":507906,"key":"wc_sc_add_product_details","value":[]},{"id":507907,"key":"wc_sc_max_discount","value":""},{"id":507908,"key":"wc_sc_expiry_time","value":""},{"id":507909,"key":"wc_sc_auto_apply_coupon","value":"no"},{"id":507910,"key":"sa_cbl_billing_locations","value":[]},{"id":507911,"key":"wc_sc_payment_method_ids","value":[]},{"id":507912,"key":"wc_sc_shipping_method_ids","value":[]},{"id":507913,"key":"wc_sc_user_role_ids","value":[]},{"id":507914,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":507915,"key":"wc_sc_product_attribute_ids","value":""},{"id":507916,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":507917,"key":"wc_sc_taxonomy_restrictions","value":[]},{"id":507918,"key":"wc_sc_excluded_customer_email","value":[]},{"id":507919,"key":"wc_coupon_message","value":""},{"id":507920,"key":"wc_email_message","value":"no"},{"id":507921,"key":"wc_sc_product_quantity_restrictions","value":{"type":"cart","values":{"cart":{"min":"","max":""},"product":{"14552":{"min":"","max":""}},"product_category":[]},"condition":"any"}}]},"display_key":"coupon_data","display_value":{"id":18013,"code":"tutin0d","amount":"100","status":"publish","date_created":{"date":"2023-04-27 11:26:28.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-04-27 11:26:28.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"percent","description":"","usage_count":2131,"individual_use":false,"product_ids":[14552],"excluded_product_ids":[],"usage_limit":0,"usage_limit_per_user":0,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"","email_restrictions":[],"virtual":false,"meta_data":[{"id":507877,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":507897,"key":"sc_restrict_to_new_user","value":"no"},{"id":507898,"key":"auto_generate_coupon","value":"no"},{"id":507899,"key":"coupon_title_prefix","value":""},{"id":507900,"key":"coupon_title_suffix","value":""},{"id":507901,"key":"sc_coupon_validity","value":""},{"id":507902,"key":"validity_suffix","value":"days"},{"id":507903,"key":"sc_is_visible_storewide","value":"no"},{"id":507904,"key":"sc_disable_email_restriction","value":"no"},{"id":507905,"key":"is_pick_price_of_product","value":"no"},{"id":507906,"key":"wc_sc_add_product_details","value":[]},{"id":507907,"key":"wc_sc_max_discount","value":""},{"id":507908,"key":"wc_sc_expiry_time","value":""},{"id":507909,"key":"wc_sc_auto_apply_coupon","value":"no"},{"id":507910,"key":"sa_cbl_billing_locations","value":[]},{"id":507911,"key":"wc_sc_payment_method_ids","value":[]},{"id":507912,"key":"wc_sc_shipping_method_ids","value":[]},{"id":507913,"key":"wc_sc_user_role_ids","value":[]},{"id":507914,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":507915,"key":"wc_sc_product_attribute_ids","value":""},{"id":507916,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":507917,"key":"wc_sc_taxonomy_restrictions","value":[]},{"id":507918,"key":"wc_sc_excluded_customer_email","value":[]},{"id":507919,"key":"wc_coupon_message","value":""},{"id":507920,"key":"wc_email_message","value":"no"},{"id":507921,"key":"wc_sc_product_quantity_restrictions","value":{"type":"cart","values":{"cart":{"min":"","max":""},"product":{"14552":{"min":"","max":""}},"product_category":[]},"condition":"any"}}]}}]}],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31708/?pay_for_order=true&key=wc_order_hziZTUv9tzQqa","is_editable":false,"needs_payment":true,"needs_processing":true,"date_created_gmt":"2023-08-28T09:47:15","date_modified_gmt":"2023-08-28T09:54:04","date_completed_gmt":null,"date_paid_gmt":"2023-08-28T09:54:04","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31708"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}]}},"pairedItem":{"item":0}},{"json":{"id":31698,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-28T15:45:39","date_modified":"2023-08-28T15:53:09","discount_total":"1","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":0,"order_key":"wc_order_HhyuijCm5VnJA","billing":{"first_name":"Vũ Thị Mỹ","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","email":"vuthimy78@gmail.com","phone":"0983125904"},"shipping":{"first_name":"Vũ Thị Mỹ","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","phone":"0983125904"},"payment_method":"bacs","payment_method_title":"Chuyển khoản ngân hàng","transaction_id":"","customer_ip_address":"2405:4802:4556:1810:4d0:c449:2666:f0b3","customer_user_agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 LightSpeed [FBAN/MessengerLiteForiOS;FBAV/423.0.0.29.108;FBBV/508124234;FBDV/iPhone11,8;FBMD/iPhone;FBSN/iOS;FBSV/16.6;FBSS/2;FBCR/;FBID/phone;FBLC/vi;FBOP/0]","created_via":"checkout","customer_note":"","date_completed":"2023-08-28T15:53:09","date_paid":"2023-08-28T15:53:09","cart_hash":"e9422ae3593848be387d0c48a660d4bd","number":"31698","meta_data":[{"id":1055796,"key":"is_vat_exempt","value":"no"},{"id":1055797,"key":"marketing_status","value":"1"},{"id":1055799,"key":"wvw_currency_rate","value":"1"},{"id":1055800,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1055802,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1055804,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1055805,"key":"_woofunnel_cid","value":"130015"},{"id":1055806,"key":"_wfacp_post_id","value":"20467"},{"id":1055807,"key":"_wfacp_source","value":"https://hitacamp.vn/dang-ky/qua-tang-giup-con-khong-me-game/"},{"id":1055808,"key":"_wfacp_timezone","value":"Asia/Saigon"},{"id":1055809,"key":"messid","value":"4538520589496147"},{"id":1055810,"key":"nguon","value":"[wf_get_url_parameter key='nguon']"},{"id":1055811,"key":"ref_id","value":"R_0985767138"},{"id":1055812,"key":"pageid","value":"267860490322486"},{"id":1055813,"key":"_bwfan_order_total_base","value":"1"},{"id":1055814,"key":"_wfocu_funnel_id","value":"20469"},{"id":1055815,"key":"_wfocu_funnel_key","value":"fc465c75fd0454cb51c26a327762db75"},{"id":1055816,"key":"_wfocu_version","value":"3.6.1"},{"id":1055818,"key":"_wfocu_schedule_status","value":{"order_status":"processing","source_status":"on-hold","time":1693212339}},{"id":1055819,"key":"order_key","value":"wc_order_HhyuijCm5VnJA"},{"id":1055852,"key":"_wfocu_thankyou_visited","value":"yes"},{"id":1055857,"key":"lws_woovip_pro_membership_done","value":"2023-08-28T08:53:10+00:00"},{"id":1055858,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-28T08:53:10+00:00"},{"id":1055859,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-28T08:53:10+00:00"},{"id":1055860,"key":"_wfob_stats_ids","value":[]},{"id":1055862,"key":"_woofunnel_custid","value":"130015"}],"line_items":[{"id":19603,"name":"GIÚP CON KHÔNG MÊ GAME","product_id":14563,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"1","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":193830,"key":"_wfacp_product","value":"1","display_key":"_wfacp_product","display_value":"1"},{"id":193831,"key":"_wfacp_product_key","value":"wfacp_6465af5413580","display_key":"_wfacp_product_key","display_value":"wfacp_6465af5413580"},{"id":193832,"key":"_wfacp_options","value":{"title":"GIÚP CON KHÔNG MÊ GAME","discount_type":"fixed_discount_reg","discount_amount":"167999","discount_price":"0","quantity":1,"type":"simple","id":"14563","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"","whats_included":"","enable_delete":"false","old_title":"GIÚP CON KHÔNG MÊ GAME","product_id":"14563","whats_include_heading":"GIÚP CON KHÔNG MÊ GAME","item_key":"wfacp_6465af5413580"},"display_key":"_wfacp_options","display_value":{"title":"GIÚP CON KHÔNG MÊ GAME","discount_type":"fixed_discount_reg","discount_amount":"167999","discount_price":"0","quantity":1,"type":"simple","id":"14563","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"","whats_included":"","enable_delete":"false","old_title":"GIÚP CON KHÔNG MÊ GAME","product_id":"14563","whats_include_heading":"GIÚP CON KHÔNG MÊ GAME","item_key":"wfacp_6465af5413580"}},{"id":193833,"key":"_wfacp_item_discount","value":{"VND":{"regular_price":"168000","sale_price":1}},"display_key":"_wfacp_item_discount","display_value":{"VND":{"regular_price":"168000","sale_price":1}}},{"id":193834,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":0,"image":{"id":"14564","src":"https://hitacamp.vn/wp-content/uploads/2023/04/ttl_GCKMG_16X9.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[{"id":19604,"code":"megame0d","discount":"1","discount_tax":"0","meta_data":[{"id":193837,"key":"coupon_data","value":{"id":20464,"code":"megame0d","amount":"100","status":"publish","date_created":{"date":"2023-05-18 04:45:21.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-05-18 04:45:21.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"percent","description":"","usage_count":815,"individual_use":false,"product_ids":[14563],"excluded_product_ids":[],"usage_limit":0,"usage_limit_per_user":0,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"","email_restrictions":[],"virtual":false,"meta_data":[{"id":598981,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":598995,"key":"sc_restrict_to_new_user","value":"no"},{"id":598996,"key":"auto_generate_coupon","value":"no"},{"id":598997,"key":"coupon_title_prefix","value":""},{"id":598998,"key":"coupon_title_suffix","value":""},{"id":598999,"key":"sc_coupon_validity","value":""},{"id":599000,"key":"validity_suffix","value":"days"},{"id":599001,"key":"sc_is_visible_storewide","value":"no"},{"id":599002,"key":"sc_disable_email_restriction","value":"no"},{"id":599003,"key":"is_pick_price_of_product","value":"no"},{"id":599004,"key":"wc_sc_add_product_details","value":[]},{"id":599005,"key":"wc_sc_max_discount","value":""},{"id":599006,"key":"wc_sc_expiry_time","value":""},{"id":599007,"key":"wc_sc_auto_apply_coupon","value":"no"},{"id":599008,"key":"sa_cbl_billing_locations","value":[]},{"id":599009,"key":"wc_sc_payment_method_ids","value":[]},{"id":599010,"key":"wc_sc_shipping_method_ids","value":[]},{"id":599011,"key":"wc_sc_user_role_ids","value":[]},{"id":599012,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":599013,"key":"wc_sc_product_attribute_ids","value":""},{"id":599014,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":599015,"key":"wc_sc_taxonomy_restrictions","value":[]},{"id":599016,"key":"wc_sc_excluded_customer_email","value":[]},{"id":599017,"key":"wc_coupon_message","value":""},{"id":599018,"key":"wc_email_message","value":"no"},{"id":599019,"key":"wc_sc_product_quantity_restrictions","value":{"type":"cart","values":{"cart":{"min":"","max":""},"product":{"14563":{"min":"","max":""}},"product_category":[]},"condition":"any"}}]},"display_key":"coupon_data","display_value":{"id":20464,"code":"megame0d","amount":"100","status":"publish","date_created":{"date":"2023-05-18 04:45:21.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-05-18 04:45:21.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"percent","description":"","usage_count":815,"individual_use":false,"product_ids":[14563],"excluded_product_ids":[],"usage_limit":0,"usage_limit_per_user":0,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"","email_restrictions":[],"virtual":false,"meta_data":[{"id":598981,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":598995,"key":"sc_restrict_to_new_user","value":"no"},{"id":598996,"key":"auto_generate_coupon","value":"no"},{"id":598997,"key":"coupon_title_prefix","value":""},{"id":598998,"key":"coupon_title_suffix","value":""},{"id":598999,"key":"sc_coupon_validity","value":""},{"id":599000,"key":"validity_suffix","value":"days"},{"id":599001,"key":"sc_is_visible_storewide","value":"no"},{"id":599002,"key":"sc_disable_email_restriction","value":"no"},{"id":599003,"key":"is_pick_price_of_product","value":"no"},{"id":599004,"key":"wc_sc_add_product_details","value":[]},{"id":599005,"key":"wc_sc_max_discount","value":""},{"id":599006,"key":"wc_sc_expiry_time","value":""},{"id":599007,"key":"wc_sc_auto_apply_coupon","value":"no"},{"id":599008,"key":"sa_cbl_billing_locations","value":[]},{"id":599009,"key":"wc_sc_payment_method_ids","value":[]},{"id":599010,"key":"wc_sc_shipping_method_ids","value":[]},{"id":599011,"key":"wc_sc_user_role_ids","value":[]},{"id":599012,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":599013,"key":"wc_sc_product_attribute_ids","value":""},{"id":599014,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":599015,"key":"wc_sc_taxonomy_restrictions","value":[]},{"id":599016,"key":"wc_sc_excluded_customer_email","value":[]},{"id":599017,"key":"wc_coupon_message","value":""},{"id":599018,"key":"wc_email_message","value":"no"},{"id":599019,"key":"wc_sc_product_quantity_restrictions","value":{"type":"cart","values":{"cart":{"min":"","max":""},"product":{"14563":{"min":"","max":""}},"product_category":[]},"condition":"any"}}]}}]}],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31698/?pay_for_order=true&key=wc_order_HhyuijCm5VnJA","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-28T08:45:39","date_modified_gmt":"2023-08-28T08:53:09","date_completed_gmt":"2023-08-28T08:53:09","date_paid_gmt":"2023-08-28T08:53:09","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31698"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}]}},"pairedItem":{"item":0}},{"json":{"id":31688,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-28T15:18:40","date_modified":"2023-08-28T15:18:50","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49217,"order_key":"wc_order_DqoAShnTlXbWS","billing":{"first_name":"Đinh Hà Thái Nguyên","last_name":"","company":"","address_1":"Thái nguyên","address_2":"","city":"","state":"","postcode":"","country":"","email":"hamaianh28614@gmail.com","phone":"0981594336"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"115.79.90.47","customer_user_agent":"Mozilla/5.0 (Linux; Android 12; SM-A115F) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Mobile Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-28T15:18:50","date_paid":"2023-08-28T15:18:40","cart_hash":"5d43b555f373bc7b9f631de181a5209a","number":"31688","meta_data":[{"id":1055634,"key":"is_vat_exempt","value":"no"},{"id":1055635,"key":"marketing_status","value":"1"},{"id":1055637,"key":"wvw_currency_rate","value":"1"},{"id":1055638,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1055640,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1055642,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1055643,"key":"_woofunnel_cid","value":"75520"},{"id":1055644,"key":"_bwfan_order_total_base","value":"868000"},{"id":1055645,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"868000"},{"id":1055646,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"868000"},{"id":1055649,"key":"order_key","value":"wc_order_DqoAShnTlXbWS"},{"id":1055650,"key":"ref_id","value":"R_"},{"id":1055653,"key":"lmfwc_order_complete","value":"1"},{"id":1055654,"key":"lws_woovip_pro_membership_done","value":"2023-08-28T08:18:52+00:00"},{"id":1055655,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-28T08:18:52+00:00"},{"id":1055656,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-28T08:18:52+00:00"},{"id":1055658,"key":"_woofunnel_custid","value":"75520"},{"id":1055659,"key":"_wfob_stats_ids","value":[]},{"id":1055660,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19596,"name":"5 PHÚT THUỘC BÀI 1 NĂM","product_id":16994,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"868000","subtotal_tax":"0","total":"868000","total_tax":"0","taxes":[],"meta_data":[{"id":193763,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":868000,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31688/?pay_for_order=true&key=wc_order_DqoAShnTlXbWS","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-28T08:18:40","date_modified_gmt":"2023-08-28T08:18:50","date_completed_gmt":"2023-08-28T08:18:50","date_paid_gmt":"2023-08-28T08:18:40","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31688"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49217"}]}},"pairedItem":{"item":0}},{"json":{"id":31684,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-28T14:53:29","date_modified":"2023-08-28T14:53:40","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":44645,"order_key":"wc_order_ZxlfwswiYi9mG","billing":{"first_name":"Lê Thị Hường","last_name":"","company":"","address_1":"sn 397 đường sài thị thị trấn khoái châu - hưng yên","address_2":"","city":"","state":"","postcode":"","country":"","email":"huongkiendt@gmail.com","phone":"0963689499"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"1.55.216.117","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-28T14:53:40","date_paid":"2023-08-28T14:53:29","cart_hash":"208a1a6eba052ad08b8b3fdcf6c7a3dd","number":"31684","meta_data":[{"id":1055446,"key":"is_vat_exempt","value":"no"},{"id":1055447,"key":"marketing_status","value":"1"},{"id":1055449,"key":"wvw_currency_rate","value":"1"},{"id":1055450,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1055452,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1055454,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1055455,"key":"_woofunnel_cid","value":"12289"},{"id":1055456,"key":"_bwfan_order_total_base","value":"99000"},{"id":1055457,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"99000"},{"id":1055458,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"99000"},{"id":1055461,"key":"order_key","value":"wc_order_ZxlfwswiYi9mG"},{"id":1055462,"key":"ref_id","value":"R_0902953273"},{"id":1055465,"key":"lws_woovip_pro_membership_done","value":"2023-08-28T07:53:41+00:00"},{"id":1055466,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-28T07:53:41+00:00"},{"id":1055467,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-28T07:53:41+00:00"},{"id":1055469,"key":"_woofunnel_custid","value":"12289"},{"id":1055470,"key":"_wfob_stats_ids","value":[]},{"id":1055471,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19577,"name":"5PTB môn Toán – Lớp 11 (Đại số, 1 năm)","product_id":21332,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":193582,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21289","src":"https://hitacamp.vn/wp-content/uploads/2023/06/BAN-HANG_11_DAISO-scaled.jpeg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31684/?pay_for_order=true&key=wc_order_ZxlfwswiYi9mG","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-28T07:53:29","date_modified_gmt":"2023-08-28T07:53:40","date_completed_gmt":"2023-08-28T07:53:40","date_paid_gmt":"2023-08-28T07:53:29","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31684"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/44645"}]}},"pairedItem":{"item":0}},{"json":{"id":31678,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-28T14:02:32","date_modified":"2023-08-28T14:02:45","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":1,"order_key":"wc_order_qSdnBUFus0wDw","billing":{"first_name":"Lê Trọng Lý","last_name":"","company":"","address_1":"107 ABC","address_2":"","city":"","state":"","postcode":"","country":"","email":"letrongly0103@gmail.com","phone":"0866088804"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"14.241.231.236","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-28T14:02:45","date_paid":"2023-08-28T14:02:33","cart_hash":"fe3b99518e72f0cd1fb8d0fa0cb3e3b6","number":"31678","meta_data":[{"id":1055151,"key":"is_vat_exempt","value":"no"},{"id":1055152,"key":"marketing_status","value":"1"},{"id":1055154,"key":"wvw_currency_rate","value":"1"},{"id":1055155,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1055157,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1055159,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1055160,"key":"_woofunnel_cid","value":"1"},{"id":1055161,"key":"_bwfan_order_total_base","value":"8504000"},{"id":1055162,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"8504000"},{"id":1055163,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"8504000"},{"id":1055166,"key":"order_key","value":"wc_order_qSdnBUFus0wDw"},{"id":1055167,"key":"ref_id","value":"R_0985767138"},{"id":1055168,"key":"messid","value":"4426636730750440"},{"id":1055169,"key":"nguon","value":"KHT2687302"},{"id":1055172,"key":"lmfwc_order_complete","value":"1"},{"id":1055173,"key":"lws_woovip_pro_membership_done","value":"2023-08-28T07:02:46+00:00"},{"id":1055174,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-28T07:02:46+00:00"},{"id":1055175,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-28T07:02:46+00:00"},{"id":1055177,"key":"_woofunnel_custid","value":"1"},{"id":1055178,"key":"_wfob_stats_ids","value":[]},{"id":1055179,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19563,"name":"5 PHÚT THUỘC BÀI 1 NĂM","product_id":16994,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"868000","subtotal_tax":"0","total":"868000","total_tax":"0","taxes":[],"meta_data":[{"id":193429,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"},{"id":193430,"key":"Zoom ID","value":"","display_key":"Zoom ID","display_value":""},{"id":193431,"key":"Zoom Passcode","value":"","display_key":"Zoom Passcode","display_value":""},{"id":193432,"key":"Zoom Date","value":"","display_key":"Zoom Date","display_value":""},{"id":193433,"key":"Ref link for Order Completed","value":"","display_key":"Ref link for Order Completed","display_value":""},{"id":193434,"key":"Content button Ref","value":"","display_key":"Content button Ref","display_value":""},{"id":193435,"key":"Order detail URL","value":"https://hitacamp.vn/chi-tiet/chi-tiet-dang-ky-5-phut-thuoc-bai","display_key":"Order detail URL","display_value":"https://hitacamp.vn/chi-tiet/chi-tiet-dang-ky-5-phut-thuoc-bai"},{"id":193436,"key":"learning_type","value":"5ptb","display_key":"learning_type","display_value":"5ptb"},{"id":193437,"key":"learning_id","value":"","display_key":"learning_id","display_value":""},{"id":193438,"key":"sale_order_id","value":"","display_key":"sale_order_id","display_value":""}],"sku":"","price":868000,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null},{"id":19564,"name":"5 PHÚT THUỘC BÀI 12 NĂM","product_id":16998,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"5168000","subtotal_tax":"0","total":"5168000","total_tax":"0","taxes":[],"meta_data":[{"id":193448,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"},{"id":193449,"key":"Zoom ID","value":"","display_key":"Zoom ID","display_value":""},{"id":193450,"key":"Zoom Passcode","value":"","display_key":"Zoom Passcode","display_value":""},{"id":193451,"key":"Zoom Date","value":"","display_key":"Zoom Date","display_value":""},{"id":193452,"key":"Ref link for Order Completed","value":"","display_key":"Ref link for Order Completed","display_value":""},{"id":193453,"key":"Content button Ref","value":"","display_key":"Content button Ref","display_value":""},{"id":193454,"key":"Order detail URL","value":"https://hitacamp.vn/chi-tiet/chi-tiet-dang-ky-5-phut-thuoc-bai","display_key":"Order detail URL","display_value":"https://hitacamp.vn/chi-tiet/chi-tiet-dang-ky-5-phut-thuoc-bai"},{"id":193455,"key":"learning_type","value":"5ptb","display_key":"learning_type","display_value":"5ptb"},{"id":193456,"key":"learning_id","value":"","display_key":"learning_id","display_value":""},{"id":193457,"key":"sale_order_id","value":"","display_key":"sale_order_id","display_value":""}],"sku":"","price":5168000,"image":{"id":"17127","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-scaled.jpg"},"parent_name":null},{"id":19565,"name":"5 PHÚT THUỘC BÀI 5 NĂM","product_id":16996,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"2468000","subtotal_tax":"0","total":"2468000","total_tax":"0","taxes":[],"meta_data":[{"id":193467,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"},{"id":193468,"key":"Zoom ID","value":"","display_key":"Zoom ID","display_value":""},{"id":193469,"key":"Zoom Passcode","value":"","display_key":"Zoom Passcode","display_value":""},{"id":193470,"key":"Zoom Date","value":"","display_key":"Zoom Date","display_value":""},{"id":193471,"key":"Ref link for Order Completed","value":"","display_key":"Ref link for Order Completed","display_value":""},{"id":193472,"key":"Content button Ref","value":"","display_key":"Content button Ref","display_value":""},{"id":193473,"key":"Order detail URL","value":"https://hitacamp.vn/chi-tiet/chi-tiet-dang-ky-5-phut-thuoc-bai","display_key":"Order detail URL","display_value":"https://hitacamp.vn/chi-tiet/chi-tiet-dang-ky-5-phut-thuoc-bai"},{"id":193474,"key":"learning_type","value":"5ptb","display_key":"learning_type","display_value":"5ptb"},{"id":193475,"key":"learning_id","value":"","display_key":"learning_id","display_value":""},{"id":193476,"key":"sale_order_id","value":"","display_key":"sale_order_id","display_value":""}],"sku":"","price":2468000,"image":{"id":"17128","src":"https://hitacamp.vn/wp-content/uploads/2023/04/5PTB_THUMBNAIL-14-1-scaled.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31678/?pay_for_order=true&key=wc_order_qSdnBUFus0wDw","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-28T07:02:32","date_modified_gmt":"2023-08-28T07:02:45","date_completed_gmt":"2023-08-28T07:02:45","date_paid_gmt":"2023-08-28T07:02:33","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31678"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/1"}]}},"pairedItem":{"item":0}},{"json":{"id":31677,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-28T13:43:18","date_modified":"2023-08-28T13:50:09","discount_total":"1","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":0,"order_key":"wc_order_mAd16jyIO5275","billing":{"first_name":"Hồng Xuân","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","email":"doxuan.83@gmail.com","phone":"0905270906"},"shipping":{"first_name":"Hồng Xuân","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","phone":"0905270906"},"payment_method":"bacs","payment_method_title":"Chuyển khoản ngân hàng","transaction_id":"","customer_ip_address":"2001:ee1:db03:b000:f00b:f581:90f2:cefe","customer_user_agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 LightSpeed [FBAN/MessengerLiteForiOS;FBAV/423.0.0.29.108;FBBV/508124234;FBDV/iPhone10,6;FBMD/iPhone;FBSN/iOS;FBSV/16.6;FBSS/3;FBCR/;FBID/phone;FBLC/vi;FBOP/0]","created_via":"checkout","customer_note":"","date_completed":"2023-08-28T13:50:09","date_paid":"2023-08-28T13:50:09","cart_hash":"6c96f09b9be171a43d78b340e6981b51","number":"31677","meta_data":[{"id":1055087,"key":"is_vat_exempt","value":"no"},{"id":1055088,"key":"marketing_status","value":"1"},{"id":1055090,"key":"wvw_currency_rate","value":"1"},{"id":1055091,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1055093,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1055095,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1055096,"key":"_woofunnel_cid","value":"129994"},{"id":1055097,"key":"_wfacp_post_id","value":"17660"},{"id":1055098,"key":"_wfacp_source","value":"https://hitacamp.vn/dang-ky/free-gift-giup-con-tu-tin/"},{"id":1055099,"key":"_wfacp_timezone","value":"Asia/Saigon"},{"id":1055100,"key":"messid","value":"6598475890217609"},{"id":1055101,"key":"nguon","value":"KHT2248201"},{"id":1055102,"key":"ref_id","value":"R_"},{"id":1055103,"key":"pageid","value":"267860490322486"},{"id":1055104,"key":"_bwfan_order_total_base","value":"1"},{"id":1055105,"key":"_wfocu_funnel_id","value":"17662"},{"id":1055106,"key":"_wfocu_funnel_key","value":"d432c0fe12be4d505502980af2bd85ac"},{"id":1055107,"key":"_wfocu_version","value":"3.6.1"},{"id":1055109,"key":"_wfocu_schedule_status","value":{"order_status":"processing","source_status":"on-hold","time":1693204998}},{"id":1055110,"key":"order_key","value":"wc_order_mAd16jyIO5275"},{"id":1055115,"key":"lws_woovip_pro_membership_done","value":"2023-08-28T06:50:10+00:00"},{"id":1055116,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-28T06:50:10+00:00"},{"id":1055117,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-28T06:50:10+00:00"},{"id":1055119,"key":"_woofunnel_custid","value":"129994"},{"id":1055121,"key":"_wfob_stats_ids","value":[]},{"id":1055122,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19561,"name":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","product_id":14552,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"1","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":193412,"key":"_wfacp_product","value":"1","display_key":"_wfacp_product","display_value":"1"},{"id":193413,"key":"_wfacp_product_key","value":"wfacp_64466c97cb4d4","display_key":"_wfacp_product_key","display_value":"wfacp_64466c97cb4d4"},{"id":193414,"key":"_wfacp_options","value":{"title":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","discount_type":"fixed_discount_reg","discount_amount":"317999","discount_price":"0","quantity":1,"type":"simple","id":"14552","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"Tặng miễn phí","whats_included":"","enable_delete":"false","old_title":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","product_id":"14552","whats_include_heading":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","item_key":"wfacp_64466c97cb4d4"},"display_key":"_wfacp_options","display_value":{"title":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","discount_type":"fixed_discount_reg","discount_amount":"317999","discount_price":"0","quantity":1,"type":"simple","id":"14552","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"Tặng miễn phí","whats_included":"","enable_delete":"false","old_title":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","product_id":"14552","whats_include_heading":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","item_key":"wfacp_64466c97cb4d4"}},{"id":193415,"key":"_wfacp_item_discount","value":{"VND":{"regular_price":"318000","sale_price":1}},"display_key":"_wfacp_item_discount","display_value":{"VND":{"regular_price":"318000","sale_price":1}}},{"id":193416,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":0,"image":{"id":"14554","src":"https://hitacamp.vn/wp-content/uploads/2023/04/NPP_BIQUYET_16X9.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[{"id":19562,"code":"tutin0d","discount":"1","discount_tax":"0","meta_data":[{"id":193419,"key":"coupon_data","value":{"id":18013,"code":"tutin0d","amount":"100","status":"publish","date_created":{"date":"2023-04-27 11:26:28.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-04-27 11:26:28.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"percent","description":"","usage_count":2130,"individual_use":false,"product_ids":[14552],"excluded_product_ids":[],"usage_limit":0,"usage_limit_per_user":0,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"","email_restrictions":[],"virtual":false,"meta_data":[{"id":507877,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":507897,"key":"sc_restrict_to_new_user","value":"no"},{"id":507898,"key":"auto_generate_coupon","value":"no"},{"id":507899,"key":"coupon_title_prefix","value":""},{"id":507900,"key":"coupon_title_suffix","value":""},{"id":507901,"key":"sc_coupon_validity","value":""},{"id":507902,"key":"validity_suffix","value":"days"},{"id":507903,"key":"sc_is_visible_storewide","value":"no"},{"id":507904,"key":"sc_disable_email_restriction","value":"no"},{"id":507905,"key":"is_pick_price_of_product","value":"no"},{"id":507906,"key":"wc_sc_add_product_details","value":[]},{"id":507907,"key":"wc_sc_max_discount","value":""},{"id":507908,"key":"wc_sc_expiry_time","value":""},{"id":507909,"key":"wc_sc_auto_apply_coupon","value":"no"},{"id":507910,"key":"sa_cbl_billing_locations","value":[]},{"id":507911,"key":"wc_sc_payment_method_ids","value":[]},{"id":507912,"key":"wc_sc_shipping_method_ids","value":[]},{"id":507913,"key":"wc_sc_user_role_ids","value":[]},{"id":507914,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":507915,"key":"wc_sc_product_attribute_ids","value":""},{"id":507916,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":507917,"key":"wc_sc_taxonomy_restrictions","value":[]},{"id":507918,"key":"wc_sc_excluded_customer_email","value":[]},{"id":507919,"key":"wc_coupon_message","value":""},{"id":507920,"key":"wc_email_message","value":"no"},{"id":507921,"key":"wc_sc_product_quantity_restrictions","value":{"type":"cart","values":{"cart":{"min":"","max":""},"product":{"14552":{"min":"","max":""}},"product_category":[]},"condition":"any"}}]},"display_key":"coupon_data","display_value":{"id":18013,"code":"tutin0d","amount":"100","status":"publish","date_created":{"date":"2023-04-27 11:26:28.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-04-27 11:26:28.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"percent","description":"","usage_count":2130,"individual_use":false,"product_ids":[14552],"excluded_product_ids":[],"usage_limit":0,"usage_limit_per_user":0,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"","email_restrictions":[],"virtual":false,"meta_data":[{"id":507877,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":507897,"key":"sc_restrict_to_new_user","value":"no"},{"id":507898,"key":"auto_generate_coupon","value":"no"},{"id":507899,"key":"coupon_title_prefix","value":""},{"id":507900,"key":"coupon_title_suffix","value":""},{"id":507901,"key":"sc_coupon_validity","value":""},{"id":507902,"key":"validity_suffix","value":"days"},{"id":507903,"key":"sc_is_visible_storewide","value":"no"},{"id":507904,"key":"sc_disable_email_restriction","value":"no"},{"id":507905,"key":"is_pick_price_of_product","value":"no"},{"id":507906,"key":"wc_sc_add_product_details","value":[]},{"id":507907,"key":"wc_sc_max_discount","value":""},{"id":507908,"key":"wc_sc_expiry_time","value":""},{"id":507909,"key":"wc_sc_auto_apply_coupon","value":"no"},{"id":507910,"key":"sa_cbl_billing_locations","value":[]},{"id":507911,"key":"wc_sc_payment_method_ids","value":[]},{"id":507912,"key":"wc_sc_shipping_method_ids","value":[]},{"id":507913,"key":"wc_sc_user_role_ids","value":[]},{"id":507914,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":507915,"key":"wc_sc_product_attribute_ids","value":""},{"id":507916,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":507917,"key":"wc_sc_taxonomy_restrictions","value":[]},{"id":507918,"key":"wc_sc_excluded_customer_email","value":[]},{"id":507919,"key":"wc_coupon_message","value":""},{"id":507920,"key":"wc_email_message","value":"no"},{"id":507921,"key":"wc_sc_product_quantity_restrictions","value":{"type":"cart","values":{"cart":{"min":"","max":""},"product":{"14552":{"min":"","max":""}},"product_category":[]},"condition":"any"}}]}}]}],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31677/?pay_for_order=true&key=wc_order_mAd16jyIO5275","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-28T06:43:18","date_modified_gmt":"2023-08-28T06:50:09","date_completed_gmt":"2023-08-28T06:50:09","date_paid_gmt":"2023-08-28T06:50:09","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31677"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}]}},"pairedItem":{"item":0}},{"json":{"id":31676,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-28T13:18:30","date_modified":"2023-08-28T13:18:41","discount_total":"0","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"0","total_tax":"0","customer_id":49222,"order_key":"wc_order_FZy2lKsHY6w53","billing":{"first_name":"Lê Minh Đức","last_name":"","company":"","address_1":"Tòng Bạt - Ba Vì - Hà Nội","address_2":"","city":"","state":"","postcode":"","country":"","email":"ducthcstongbat@gmail.com","phone":"0976699568"},"shipping":{"first_name":"","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"","phone":""},"payment_method":"lws_woovirtualwallet_gateway","payment_method_title":"💰Membership HITA","transaction_id":"","customer_ip_address":"58.187.67.66","customer_user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-08-28T13:18:41","date_paid":"2023-08-28T13:18:31","cart_hash":"95078fd718340e20d98e108e421b9153","number":"31676","meta_data":[{"id":1055030,"key":"is_vat_exempt","value":"no"},{"id":1055031,"key":"marketing_status","value":"1"},{"id":1055033,"key":"wvw_currency_rate","value":"1"},{"id":1055034,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1055036,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1055038,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1055039,"key":"_woofunnel_cid","value":"75528"},{"id":1055040,"key":"_bwfan_order_total_base","value":"99000"},{"id":1055041,"key":"_lws_woovirtualwallet_discount_payment_contribution","value":"99000"},{"id":1055042,"key":"_lws_woovirtualwallet_discount_payment_amount","value":"99000"},{"id":1055045,"key":"order_key","value":"wc_order_FZy2lKsHY6w53"},{"id":1055046,"key":"ref_id","value":"R_0985767138"},{"id":1055049,"key":"lws_woovip_pro_membership_done","value":"2023-08-28T06:18:42+00:00"},{"id":1055050,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-28T06:18:42+00:00"},{"id":1055051,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-28T06:18:42+00:00"},{"id":1055053,"key":"_woofunnel_custid","value":"75528"},{"id":1055054,"key":"_wfob_stats_ids","value":[]},{"id":1055055,"key":"_wfocu_thankyou_visited","value":"yes"}],"line_items":[{"id":19560,"name":"5PTB môn Toán – Lớp 5 (1 năm)","product_id":21128,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"99000","subtotal_tax":"0","total":"99000","total_tax":"0","taxes":[],"meta_data":[{"id":193402,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":99000,"image":{"id":"21132","src":"https://hitacamp.vn/wp-content/uploads/2023/05/BAN-HANG_5_TOAN-scaled.jpeg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31676/?pay_for_order=true&key=wc_order_FZy2lKsHY6w53","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-28T06:18:30","date_modified_gmt":"2023-08-28T06:18:41","date_completed_gmt":"2023-08-28T06:18:41","date_paid_gmt":"2023-08-28T06:18:31","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31676"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/49222"}]}},"pairedItem":{"item":0}},{"json":{"id":31675,"parent_id":0,"status":"completed","currency":"VND","version":"8.0.2","prices_include_tax":false,"date_created":"2023-08-28T13:02:50","date_modified":"2023-08-28T14:57:40","discount_total":"1","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"468000","total_tax":"0","customer_id":0,"order_key":"wc_order_SmkDxbl0XpZjt","billing":{"first_name":"Trương thị hương lan","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","email":"truongthihuonglan3086@gmail.com","phone":"0931823086"},"shipping":{"first_name":"Trương thị hương lan","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","phone":"0931823086"},"payment_method":"bacs","payment_method_title":"Chuyển khoản ngân hàng","transaction_id":"","customer_ip_address":"42.117.16.226","customer_user_agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 LightSpeed [FBAN/MessengerLiteForiOS;FBAV/423.0.0.29.108;FBBV/508124234;FBDV/iPhone14,3;FBMD/iPhone;FBSN/iOS;FBSV/16.6;FBSS/3;FBCR/;FBID/phone;FBLC/vi;FBOP/0]","created_via":"checkout","customer_note":"","date_completed":"2023-08-28T14:57:40","date_paid":"2023-08-28T13:10:09","cart_hash":"aa2d49ebd54624766c33257fd4e6c83e","number":"31675","meta_data":[{"id":1054970,"key":"is_vat_exempt","value":"no"},{"id":1054971,"key":"marketing_status","value":"1"},{"id":1054973,"key":"wvw_currency_rate","value":"1"},{"id":1054974,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":1054976,"key":"_bwfan_v2_wc_new_order","value":"1"},{"id":1054978,"key":"thwcfe_ship_to_billing","value":"1"},{"id":1054979,"key":"_woofunnel_cid","value":"130012"},{"id":1054980,"key":"_wfacp_post_id","value":"17660"},{"id":1054981,"key":"_wfacp_source","value":"https://hitacamp.vn/dang-ky/free-gift-giup-con-tu-tin/"},{"id":1054982,"key":"_wfacp_timezone","value":"Asia/Saigon"},{"id":1054983,"key":"messid","value":"4232548123466496"},{"id":1054984,"key":"nguon","value":"[wf_get_url_parameter key=\\'nguon\\']"},{"id":1054985,"key":"ref_id","value":"R_0985767138"},{"id":1054986,"key":"pageid","value":"267860490322486"},{"id":1054987,"key":"_bwfan_order_total_base","value":"468001"},{"id":1054988,"key":"_wfocu_funnel_id","value":"17662"},{"id":1054989,"key":"_wfocu_funnel_key","value":"e93af29d2a5e4ff8dfe8f6992d0232ae"},{"id":1054990,"key":"_wfocu_version","value":"3.6.1"},{"id":1054992,"key":"_wfocu_schedule_status","value":{"order_status":"processing","source_status":"on-hold","time":1693202570}},{"id":1054993,"key":"order_key","value":"wc_order_SmkDxbl0XpZjt"},{"id":1054994,"key":"_wfocu_upsell_amount","value":"468000"},{"id":1054995,"key":"_wfocu_upsell_amount_currency","value":"468000"},{"id":1054998,"key":"_wfocu_thankyou_visited","value":"yes"},{"id":1055182,"key":"_cf_filter","value":""},{"id":1055183,"key":"_cf_filter_text_data","value":""},{"id":1055475,"key":"lws_woovip_pro_membership_done","value":"2023-08-28T07:57:41+00:00"},{"id":1055476,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-08-28T07:57:41+00:00"},{"id":1055477,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-08-28T07:57:41+00:00"},{"id":1055478,"key":"_wfob_stats_ids","value":[]},{"id":1055480,"key":"_woofunnel_custid","value":"0"}],"line_items":[{"id":19557,"name":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","product_id":14552,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"1","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":193375,"key":"_wfacp_product","value":"1","display_key":"_wfacp_product","display_value":"1"},{"id":193376,"key":"_wfacp_product_key","value":"wfacp_64466c97cb4d4","display_key":"_wfacp_product_key","display_value":"wfacp_64466c97cb4d4"},{"id":193377,"key":"_wfacp_options","value":{"title":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","discount_type":"fixed_discount_reg","discount_amount":"317999","discount_price":"0","quantity":1,"type":"simple","id":"14552","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"Tặng miễn phí","whats_included":"","enable_delete":"false","old_title":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","product_id":"14552","whats_include_heading":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","item_key":"wfacp_64466c97cb4d4"},"display_key":"_wfacp_options","display_value":{"title":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","discount_type":"fixed_discount_reg","discount_amount":"317999","discount_price":"0","quantity":1,"type":"simple","id":"14552","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"Tặng miễn phí","whats_included":"","enable_delete":"false","old_title":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","product_id":"14552","whats_include_heading":"BÍ QUYẾT GIÚP CON TỰ TIN TỎA SÁNG","item_key":"wfacp_64466c97cb4d4"}},{"id":193378,"key":"_wfacp_item_discount","value":{"VND":{"regular_price":"318000","sale_price":1}},"display_key":"_wfacp_item_discount","display_value":{"VND":{"regular_price":"318000","sale_price":1}}},{"id":193379,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":0,"image":{"id":"14554","src":"https://hitacamp.vn/wp-content/uploads/2023/04/NPP_BIQUYET_16X9.jpg"},"parent_name":null},{"id":19558,"name":"COMBO PHỤ HUYNH THÔNG THÁI","product_id":14748,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"468000","subtotal_tax":"0","total":"468000","total_tax":"0","taxes":[],"meta_data":[{"id":193389,"key":"_upstroke_purchase","value":"yes","display_key":"_upstroke_purchase","display_value":"yes"}],"sku":"","price":468000,"image":{"id":"15482","src":"https://hitacamp.vn/wp-content/uploads/2023/04/NPP_CMHT_QTANG_2.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[{"id":19559,"code":"tutin0d","discount":"1","discount_tax":"0","meta_data":[{"id":193392,"key":"coupon_data","value":{"id":18013,"code":"tutin0d","amount":"100","status":"publish","date_created":{"date":"2023-04-27 11:26:28.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-04-27 11:26:28.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"percent","description":"","usage_count":2129,"individual_use":false,"product_ids":[14552],"excluded_product_ids":[],"usage_limit":0,"usage_limit_per_user":0,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"","email_restrictions":[],"virtual":false,"meta_data":[{"id":507877,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":507897,"key":"sc_restrict_to_new_user","value":"no"},{"id":507898,"key":"auto_generate_coupon","value":"no"},{"id":507899,"key":"coupon_title_prefix","value":""},{"id":507900,"key":"coupon_title_suffix","value":""},{"id":507901,"key":"sc_coupon_validity","value":""},{"id":507902,"key":"validity_suffix","value":"days"},{"id":507903,"key":"sc_is_visible_storewide","value":"no"},{"id":507904,"key":"sc_disable_email_restriction","value":"no"},{"id":507905,"key":"is_pick_price_of_product","value":"no"},{"id":507906,"key":"wc_sc_add_product_details","value":[]},{"id":507907,"key":"wc_sc_max_discount","value":""},{"id":507908,"key":"wc_sc_expiry_time","value":""},{"id":507909,"key":"wc_sc_auto_apply_coupon","value":"no"},{"id":507910,"key":"sa_cbl_billing_locations","value":[]},{"id":507911,"key":"wc_sc_payment_method_ids","value":[]},{"id":507912,"key":"wc_sc_shipping_method_ids","value":[]},{"id":507913,"key":"wc_sc_user_role_ids","value":[]},{"id":507914,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":507915,"key":"wc_sc_product_attribute_ids","value":""},{"id":507916,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":507917,"key":"wc_sc_taxonomy_restrictions","value":[]},{"id":507918,"key":"wc_sc_excluded_customer_email","value":[]},{"id":507919,"key":"wc_coupon_message","value":""},{"id":507920,"key":"wc_email_message","value":"no"},{"id":507921,"key":"wc_sc_product_quantity_restrictions","value":{"type":"cart","values":{"cart":{"min":"","max":""},"product":{"14552":{"min":"","max":""}},"product_category":[]},"condition":"any"}}]},"display_key":"coupon_data","display_value":{"id":18013,"code":"tutin0d","amount":"100","status":"publish","date_created":{"date":"2023-04-27 11:26:28.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-04-27 11:26:28.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"percent","description":"","usage_count":2129,"individual_use":false,"product_ids":[14552],"excluded_product_ids":[],"usage_limit":0,"usage_limit_per_user":0,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"","email_restrictions":[],"virtual":false,"meta_data":[{"id":507877,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":507897,"key":"sc_restrict_to_new_user","value":"no"},{"id":507898,"key":"auto_generate_coupon","value":"no"},{"id":507899,"key":"coupon_title_prefix","value":""},{"id":507900,"key":"coupon_title_suffix","value":""},{"id":507901,"key":"sc_coupon_validity","value":""},{"id":507902,"key":"validity_suffix","value":"days"},{"id":507903,"key":"sc_is_visible_storewide","value":"no"},{"id":507904,"key":"sc_disable_email_restriction","value":"no"},{"id":507905,"key":"is_pick_price_of_product","value":"no"},{"id":507906,"key":"wc_sc_add_product_details","value":[]},{"id":507907,"key":"wc_sc_max_discount","value":""},{"id":507908,"key":"wc_sc_expiry_time","value":""},{"id":507909,"key":"wc_sc_auto_apply_coupon","value":"no"},{"id":507910,"key":"sa_cbl_billing_locations","value":[]},{"id":507911,"key":"wc_sc_payment_method_ids","value":[]},{"id":507912,"key":"wc_sc_shipping_method_ids","value":[]},{"id":507913,"key":"wc_sc_user_role_ids","value":[]},{"id":507914,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":507915,"key":"wc_sc_product_attribute_ids","value":""},{"id":507916,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":507917,"key":"wc_sc_taxonomy_restrictions","value":[]},{"id":507918,"key":"wc_sc_excluded_customer_email","value":[]},{"id":507919,"key":"wc_coupon_message","value":""},{"id":507920,"key":"wc_email_message","value":"no"},{"id":507921,"key":"wc_sc_product_quantity_restrictions","value":{"type":"cart","values":{"cart":{"min":"","max":""},"product":{"14552":{"min":"","max":""}},"product_category":[]},"condition":"any"}}]}}]}],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/31675/?pay_for_order=true&key=wc_order_SmkDxbl0XpZjt","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-08-28T06:02:50","date_modified_gmt":"2023-08-28T07:57:40","date_completed_gmt":"2023-08-28T07:57:40","date_paid_gmt":"2023-08-28T06:10:09","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/31675"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}]}},"pairedItem":{"item":0}}],"HTTP Request":[{"json":{"set_attributes":{"order_id":"31188","order_key":"wc_order_6APjVYAgEoRlE","item_id":"29200 - 16994 - 29471 - ","item_array":[29200,16994,29471],"product":"* Combo HỌC NHƯ CHƠI 1 NĂM x 1 * 5 PHÚT THUỘC BÀI 1 NĂM x 1 * BÌNH NƯỚC HITACAMP x 1 ","order_total":"868000","order_total_discount":"0","coupon":"hnc01","order_status":"on-hold","first_name":"Bùi Phạm Kim Yến","last_name":"","order_email":"phamcuc110581@gmail.com","order_phone":"0706925306","messid":"2612064682152233","note":"","order_url":"https://hitacamp.vn/membership-zone/view-order/31188/","order_detail_url":" - ?key=wc_order_6APjVYAgEoRlE","sub_detail":" - ","zoom_id":" - ","zoom_reg_id":"","ref_id":"R_0985767138","ref_name":"","nguon":""}},"pairedItem":{"item":0}}],"NocoDB1":[{"json":{"Id":2,"Date":null,"CreatedAt":"2023-08-28 13:33:14+00:00","UpdatedAt":"2023-08-28 13:36:46+00:00","MessID":null,"Name":null,"Phone":null,"Email":null,"OrderID":"31036","OrderKey":null,"Item":null,"ItemName":null,"Total":null,"Status":null,"Coupon":null,"RefID":null,"SmaxChat":null,"Nguon":null,"Diachi":null,"Update":null},"pairedItem":{"item":0}},{"json":{"Id":3,"Date":null,"CreatedAt":"2023-08-28 13:33:14+00:00","UpdatedAt":"2023-08-28 13:33:14+00:00","MessID":null,"Name":null,"Phone":null,"Email":null,"OrderID":"31028","OrderKey":null,"Item":null,"ItemName":null,"Total":null,"Status":null,"Coupon":null,"RefID":null,"SmaxChat":null,"Nguon":null,"Diachi":null,"Update":null},"pairedItem":{"item":0}},{"json":{"Id":4,"Date":null,"CreatedAt":"2023-08-28 13:33:14+00:00","UpdatedAt":"2023-08-28 13:33:14+00:00","MessID":null,"Name":null,"Phone":null,"Email":null,"OrderID":"31029","OrderKey":null,"Item":null,"ItemName":null,"Total":null,"Status":null,"Coupon":null,"RefID":null,"SmaxChat":null,"Nguon":null,"Diachi":null,"Update":null},"pairedItem":{"item":0}},{"json":{"Id":5,"Date":null,"CreatedAt":"2023-08-28 13:33:14+00:00","UpdatedAt":"2023-08-28 13:33:14+00:00","MessID":null,"Name":null,"Phone":null,"Email":null,"OrderID":"31030","OrderKey":null,"Item":null,"ItemName":null,"Total":null,"Status":null,"Coupon":null,"RefID":null,"SmaxChat":null,"Nguon":null,"Diachi":null,"Update":null},"pairedItem":{"item":0}},{"json":{"Id":6,"Date":null,"CreatedAt":"2023-08-28 13:33:14+00:00","UpdatedAt":"2023-08-28 13:33:14+00:00","MessID":null,"Name":null,"Phone":null,"Email":null,"OrderID":"31031","OrderKey":null,"Item":null,"ItemName":null,"Total":null,"Status":null,"Coupon":null,"RefID":null,"SmaxChat":null,"Nguon":null,"Diachi":null,"Update":null},"pairedItem":{"item":0}},{"json":{"Id":7,"Date":null,"CreatedAt":"2023-08-28 13:33:14+00:00","UpdatedAt":"2023-08-28 13:33:14+00:00","MessID":null,"Name":null,"Phone":null,"Email":null,"OrderID":"31032","OrderKey":null,"Item":null,"ItemName":null,"Total":null,"Status":null,"Coupon":null,"RefID":null,"SmaxChat":null,"Nguon":null,"Diachi":null,"Update":null},"pairedItem":{"item":0}},{"json":{"Id":8,"Date":null,"CreatedAt":"2023-08-28 13:33:14+00:00","UpdatedAt":"2023-08-28 13:33:14+00:00","MessID":null,"Name":null,"Phone":null,"Email":null,"OrderID":"31033","OrderKey":null,"Item":null,"ItemName":null,"Total":null,"Status":null,"Coupon":null,"RefID":null,"SmaxChat":null,"Nguon":null,"Diachi":null,"Update":null},"pairedItem":{"item":0}},{"json":{"Id":9,"Date":null,"CreatedAt":"2023-08-28 13:33:14+00:00","UpdatedAt":"2023-08-28 13:33:14+00:00","MessID":null,"Name":null,"Phone":null,"Email":null,"OrderID":"31034","OrderKey":null,"Item":null,"ItemName":null,"Total":null,"Status":null,"Coupon":null,"RefID":null,"SmaxChat":null,"Nguon":null,"Diachi":null,"Update":null},"pairedItem":{"item":0}},{"json":{"Id":10,"Date":null,"CreatedAt":"2023-08-28 13:33:14+00:00","UpdatedAt":"2023-08-28 13:33:14+00:00","MessID":null,"Name":null,"Phone":null,"Email":null,"OrderID":"31035","OrderKey":null,"Item":null,"ItemName":null,"Total":null,"Status":null,"Coupon":null,"RefID":null,"SmaxChat":null,"Nguon":null,"Diachi":null,"Update":null},"pairedItem":{"item":0}},{"json":{"Id":11,"Date":null,"CreatedAt":"2023-08-28 13:33:14+00:00","UpdatedAt":"2023-08-28 13:33:14+00:00","MessID":null,"Name":null,"Phone":null,"Email":null,"OrderID":"31036","OrderKey":null,"Item":null,"ItemName":null,"Total":null,"Status":null,"Coupon":null,"RefID":null,"SmaxChat":null,"Nguon":null,"Diachi":null,"Update":null},"pairedItem":{"item":0}}]},"versionId":"e7a16c0b-14dd-4c2c-b98e-748ec0ca5e37","triggerCount":1,"tags":[]}