viral cmh-ctt 0723-206.json
{"createdAt":"2023-07-19T11:15:06.627Z","updatedAt":"2023-08-19T17:05:14.000Z","id":"206","name":"Viral CMH-CTT 0723","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"viral-cmh-ctt-0723","options":{}},"id":"da9bc163-a3cb-4a95-86bb-5bf3c08de476","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[480,420],"webhookId":"d57b1210-7bd7-43c8-8a0f-e1fb5f339314"},{"parameters":{"url":"=https://hitacamp.vn/wp-content/plugins/listeruption2/inc/points.php?id={{ $json.body.campaign }}&lead={{ $json.body.ref_id }}&token=cggqcdct","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"adf3ac1a-d6dd-4fa7-9ca4-81e0265bcc5e","name":"Get Info Ref","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[700,540],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://app.n8n.vn/webhook/thinkific","sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"HV"},{"name":"last_name","value":"={{ $json.body.name }}"},{"name":"email","value":"={{ $json.body.email }}"},{"name":"phone","value":"={{ $json.body.phone }}"},{"name":"type","value":"course"},{"name":"learning_id","value":"2238939"}]},"options":{}},"id":"08304083-fd86-4333-8a08-07d4cd95ae73","name":"Enroll Thinkific","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[700,240],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://api.quanchatbot.com/tamtriluc/add-customer.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"fullName","value":"={{ $json.hoten }}"},{"name":"phone","value":"={{ $json.dienthoai }}"},{"name":"email","value":"={{ $json.mail }}"},{"name":"ref_Code","value":"=KHT2687302"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"ee68a4ca-77d3-41d7-ba26-541654e5a67b","name":"Get Code Ref","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[900,660],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://api.quanchatbot.com/tamtriluc/add-customer.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"fullName","value":"={{ $('Webhook').item.json.body.name }}"},{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"email","value":"={{ $('Webhook').item.json.body.email }}"},{"name":"ref_Code","value":"={{ $json.data.code }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"9e96ffac-3824-429f-bbec-44fff2dbf3f8","name":"Create New Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1120,660],"continueOnFail":true},{"parameters":{"fromEmail":"cskh5@hitacamp.vn","toEmail":"={{ $json.mail }}","subject":"=Chúc mừng bạn {{ $json.hoten }} vừa giới thiệu được 1 người nhận quà","text":"=Bạn vừa giới thiệu được 1 người tham gia nhận quà Bộ video CHA MẸ HỌC - CON THÀNH TÀI\n- Họ tên người nhận:  {{ $('Webhook').item.json.body.name }}\n- Số điện thoại:  {{ $('Webhook').item.json.body.phone }}\n- Email:  {{ $('Webhook').item.json.body.email }}\n---------------\nSố điểm hiện tại của bạn là: {{ $json.points }} điểm.\n---------------\n {{ $json.content }}\n----------\nLink chia sẻ của bạn: https://hitacamp.vn/viral-game-summer-2023/?c{{ $json[\"lead_id\"] }}Le","options":{}},"id":"54051125-cc32-4fa2-a6ae-2d8794ed8c42","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1580,180],"credentials":{"smtp":{"id":"116","name":"cskh5@hitacamp.vn"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.points }}","value2":6}]}},"id":"2ffeb382-9d0e-4fbb-9cd4-707f1c89271a","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[920,340]},{"parameters":{"values":{"string":[{"name":"content","value":"Hãy tiếp tục chia sẻ để đủ 6 điểm và mở khoá bộ quà tặng Combo Phụ huynh thông thái Combo PHỤ HUYNH THÔNG THÁI (1.468.000đ)"}]},"options":{}},"id":"1e93ac9f-03cb-4ee5-a684-8abb88d2d6e1","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[1140,180]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.points }}","value2":"6"}]}},"id":"8b896d8e-fba7-4ebb-8f3a-c61acaa7e931","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[1140,380]},{"parameters":{"values":{"string":[{"name":"content","value":"Chúc mừng bạn đã đủ 6 điểm và mở khoá được bộ quà tặng Combo Phụ huynh thông thái Combo PHỤ HUYNH THÔNG THÁI (1.468.000đ)"}]},"options":{}},"id":"e52d544a-4aff-41a8-97bc-97b3549d35b0","name":"Set2","type":"n8n-nodes-base.set","typeVersion":2,"position":[1320,360]},{"parameters":{"method":"POST","url":"=https://app.n8n.vn/webhook/thinkific","sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"HV"},{"name":"last_name","value":"={{ $json.hoten }}"},{"name":"email","value":"={{ $json.mail }}"},{"name":"phone","value":"={{ $json.dienthoai }}"},{"name":"type","value":"bundle"},{"name":"learning_id","value":"114378"}]},"options":{}},"id":"e4424e73-098c-4bf3-9395-f7d3c487baef","name":"Enroll Thinkific1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1520,380],"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"content","value":"Hãy tiếp tục chia sẻ giá trị này đến với nhiều phụ huynh hơn, và có cơ hội nhận thêm những quà tặng mới sẽ được cập nhật vào kho quà tặng trong thời gian sắp tới."}]},"options":{}},"id":"59e38ed2-16df-492d-9953-75b4697f0b67","name":"Set3","type":"n8n-nodes-base.set","typeVersion":2,"position":[1340,580]}],"connections":{"Webhook":{"main":[[{"node":"Get Info Ref","type":"main","index":0},{"node":"Enroll Thinkific","type":"main","index":0}]]},"Get Info Ref":{"main":[[{"node":"Get Code Ref","type":"main","index":0},{"node":"IF","type":"main","index":0}]]},"Get Code Ref":{"main":[[{"node":"Create New Customer","type":"main","index":0}]]},"IF":{"main":[[{"node":"Set1","type":"main","index":0}],[{"node":"IF1","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"IF1":{"main":[[{"node":"Set2","type":"main","index":0}],[{"node":"Set3","type":"main","index":0}]]},"Set2":{"main":[[{"node":"Send Email","type":"main","index":0},{"node":"Enroll Thinkific1","type":"main","index":0}]]},"Set3":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36","content-length":"101","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br","accept-language":"en-US,en;q=0.9","cache-control":"max-age=0","content-type":"application/x-www-form-urlencoded","origin":"https://hitacamp.vn","referer":"https://hitacamp.vn/","sec-ch-ua":"\"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"114\", \"Google Chrome\";v=\"114\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"iframe","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"115.79.199.39","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"115.79.199.39"},"params":{},"query":{},"body":{"name":"Quân Chatbot","email":"quanchatbot@gmail.com","phone":"0866088807","campaign":"3","lead_id":"19","ref_id":"18"}},"pairedItem":{"item":0}}],"Get Code Ref":[{"json":{"error":"Đã có dữ liệu","data":{"code":"KHT2687302"}},"pairedItem":{"item":0}}],"Get Info Ref":[{"json":{"campaign":"3","hoten":"Lê Hồng Quân","mail":"lehongquan@gmail.com","date":"July 18, 2023","dienthoai":"0985767138","messid":"","city":"","state":"N/A","address":"N/A","IP":"bfa68a6d375419c1aad66ab82e42adc6","ref_id":"","lead_id":"18","ref_code":"c18Le","points":"6","views":"79"}}]},"versionId":"09e3f2e6-a1a5-4ca3-80a9-ecf43fa59a60","triggerCount":1,"tags":[]}