viral cmh-ctt 0723-206.json
{"createdAt":"2023-07-19T11:15:06.627Z","updatedAt":"2023-09-09T18:01:02.000Z","id":"206","name":"Viral CMH-CTT 0723","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"viral-cmh-ctt-0723","options":{}},"id":"da9bc163-a3cb-4a95-86bb-5bf3c08de476","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[480,420],"webhookId":"d57b1210-7bd7-43c8-8a0f-e1fb5f339314"},{"parameters":{"url":"=https://hitacamp.vn/wp-content/plugins/listeruption2/inc/points.php?id={{ $json.body.campaign }}&lead={{ $json.body.ref_id }}&token=cggqcdct","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"adf3ac1a-d6dd-4fa7-9ca4-81e0265bcc5e","name":"Get Info Ref","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[680,540],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://app.n8n.vn/webhook/thinkific","sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"HV"},{"name":"last_name","value":"={{ $json.body.name }}"},{"name":"email","value":"={{ $json.body.email }}"},{"name":"phone","value":"={{ $json.body.phone }}"},{"name":"type","value":"course"},{"name":"learning_id","value":"2238939"}]},"options":{}},"id":"08304083-fd86-4333-8a08-07d4cd95ae73","name":"Enroll Thinkific","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[700,320],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://api.quanchatbot.com/tamtriluc/add-customer.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"fullName","value":"={{ $json.hoten }}"},{"name":"phone","value":"={{ $json.dienthoai }}"},{"name":"email","value":"={{ $json.mail }}"},{"name":"ref_Code","value":"=KHT2687302"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"ee68a4ca-77d3-41d7-ba26-541654e5a67b","name":"Get Code Ref","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[860,680],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://api.quanchatbot.com/tamtriluc/add-customer.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"fullName","value":"={{ $('Webhook').item.json.body.name }}"},{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"email","value":"={{ $('Webhook').item.json.body.email }}"},{"name":"ref_Code","value":"={{ $json.data.code }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"9e96ffac-3824-429f-bbec-44fff2dbf3f8","name":"Create New Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1060,700],"continueOnFail":true},{"parameters":{"fromEmail":"Tâm Trí Lực <cskh5@hitacamp.vn>","toEmail":"={{ $json.mail }}","subject":"=Chúc mừng bạn {{ $json.hoten }} vừa giới thiệu được 1 người nhận quà","text":"=Bạn vừa giới thiệu được 1 người tham gia nhận quà Bộ video CHA MẸ HỌC - CON THÀNH TÀI\n- Họ tên người nhận:  {{ $('Webhook').item.json.body.name }}\n- Số điện thoại:  {{ $('Webhook').item.json.body.phone }}\n- Email:  {{ $('Webhook').item.json.body.email }}\n---------------\nSố điểm hiện tại của bạn là: {{ $json.points }} điểm.\n---------------\n {{ $json.content }}\n----------\nLink chia sẻ của bạn: https://hitacamp.vn/viral-game-summer-2023/?c{{ $json[\"lead_id\"] }}Le\n\nÀ, bạn nhớ tải app HitaFun và đăng ký tài khoản trùng với số điện thoại {{ $('Get Info Ref').item.json[\"dienthoai\"] }} của bạn để nhận thông báo tức thời khi giới thiệu được 1 bạn mới nhé!\n\niOS: https://apps.apple.com/us/app/hitafun/id6447607019\nAndroid: https://play.google.com/store/apps/details?id=com.hitawallet.tamtriluc&pli=1\n-----------\nNếu người được bạn giới thiệu có phát sinh đơn hàng tại Tâm Trí Lực, bạn còn nhận được hoa hồng thông báo qua HitaFun nữa nè!","options":{"replyTo":"cskh@tamtriluc.com"}},"id":"54051125-cc32-4fa2-a6ae-2d8794ed8c42","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1580,180],"credentials":{"smtp":{"id":"116","name":"cskh5@hitacamp.vn"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.points }}","value2":6}]}},"id":"2ffeb382-9d0e-4fbb-9cd4-707f1c89271a","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[920,340]},{"parameters":{"values":{"string":[{"name":"content","value":"Hãy tiếp tục chia sẻ để mở khoá các phần quà tiếp theo nhé!"}]},"options":{}},"id":"1e93ac9f-03cb-4ee5-a684-8abb88d2d6e1","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[1140,180]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.points }}","value2":"6"}]}},"id":"8b896d8e-fba7-4ebb-8f3a-c61acaa7e931","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[1140,380]},{"parameters":{"values":{"string":[{"name":"content","value":"Chúc mừng bạn đã đủ 6 điểm và mở khoá được bộ quà tặng Combo Phụ huynh thông thái Combo PHỤ HUYNH THÔNG THÁI (1.468.000đ)"}]},"options":{}},"id":"e52d544a-4aff-41a8-97bc-97b3549d35b0","name":"Set2","type":"n8n-nodes-base.set","typeVersion":2,"position":[1320,360]},{"parameters":{"method":"POST","url":"=https://app.n8n.vn/webhook/thinkific","sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"HV"},{"name":"last_name","value":"={{ $json.hoten }}"},{"name":"email","value":"={{ $json.mail }}"},{"name":"phone","value":"={{ $json.dienthoai }}"},{"name":"type","value":"bundle"},{"name":"learning_id","value":"114378"}]},"options":{}},"id":"e4424e73-098c-4bf3-9395-f7d3c487baef","name":"Enroll Thinkific1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1520,380],"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"content","value":"Hãy tiếp tục chia sẻ giá trị này đến với nhiều phụ huynh hơn, và có cơ hội nhận thêm những quà tặng mới sẽ được cập nhật vào kho quà tặng trong thời gian sắp tới."}]},"options":{}},"id":"59e38ed2-16df-492d-9953-75b4697f0b67","name":"Set3","type":"n8n-nodes-base.set","typeVersion":2,"position":[1340,580]},{"parameters":{"method":"POST","url":"https://apipro.5phutthuocbai.com/api/MstNotificationsPhone/push","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"listUserPhone\": [\n    \"{{ $('Get Info Ref').item.json[\"dienthoai\"] }}\"\n  ],\n  \"image\": \"https://i.imgur.com/5xpY3xi.jpg\",\n  \"date\": \"{{ new Date().toISOString() }}\", \n  \"description\": \"Bạn vừa có một bạn mới nhận quà thành công, nhưng đây là khách hàng cũ của Tâm Trí Lực: {{ $('Webhook').item.json.body.name }} - {{ $('Webhook').item.json.body.phone }} - {{ $('Webhook').item.json.body.email }}. Số điểm hiện tại của bạn là: {{ $('Get Info Ref').item.json[\"points\"] }} điểm. Hãy tiếp tục gửi link cho những bạn mới nhận quà để mở khoá các phần thưởng khác nhé: <a href='https://hitacamp.vn/viral-game-summer-2023/?{{ $('Get Info Ref').item.json[\"ref_code\"] }}'>https://hitacamp.vn/viral-game-summer-2023/?{{ $('Get Info Ref').item.json[\"ref_code\"] }}</a>\",\n  \"name\": \"Thật tuyệt vời, chúc mừng bạn!\",\n  \"summary\": \"Summary\",\n  \"title\": \"Bạn vừa giới thiệu được thành viên nhận quà mới!\",\n  \"type\": \"Transfer\"\n} ","options":{}},"id":"18575495-8c17-4913-9c6a-c4a3d390f74e","name":"NotiHitaFun","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1560,680],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error }}","value2":"Đã có dữ liệu"}]}},"id":"5a9d693a-0b99-4f03-b5c4-c0d6343784f0","name":"IF2","type":"n8n-nodes-base.if","typeVersion":1,"position":[1280,740]},{"parameters":{"method":"POST","url":"https://apipro.5phutthuocbai.com/api/MstNotificationsPhone/push","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"listUserPhone\": [\n    \"{{ $('Get Info Ref').item.json[\"dienthoai\"] }}\"\n  ],\n  \"image\": \"https://i.imgur.com/5xpY3xi.jpg\",\n  \"date\": \"{{ new Date().toISOString() }}\", \n  \"description\": \"Bạn vừa có một bạn mới nhận quà thành công và thuộc nguồn vĩnh viễn của bạn: {{ $('Webhook').item.json.body.name }} - {{ $('Webhook').item.json.body.phone }} - {{ $('Webhook').item.json.body.email }}. Số điểm hiện tại của bạn là: {{ $('Get Info Ref').item.json[\"points\"] }} điểm. Hãy tiếp tục gửi link cho những bạn mới nhận quà để mở khoá các phần thưởng khác nhé: <a href='https://hitacamp.vn/viral-game-summer-2023/?{{ $('Get Info Ref').item.json[\"ref_code\"] }}'>https://hitacamp.vn/viral-game-summer-2023/?{{ $('Get Info Ref').item.json[\"ref_code\"] }}</a>\",\n  \"name\": \"Thật tuyệt vời, chúc mừng bạn!\",\n  \"summary\": \"Summary\",\n  \"title\": \"Bạn vừa giới thiệu được thành viên nhận quà mới!\",\n  \"type\": \"Transfer\"\n} ","options":{}},"id":"fd40d3bd-3902-4c22-9639-f4f088509c34","name":"NotiHitaFun1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1580,900],"continueOnFail":true},{"parameters":{"fromEmail":"Tâm Trí Lực <cskh5@hitacamp.vn>","toEmail":"={{ $json.body.email }}","subject":"=Chúc mừng bạn {{ $json.name }} đã nhận được quà tặng từ thầy Nguyễn Phùng Phong","text":"=Bạn vừa đăng ký thành công nhận quà Bộ video CHA MẸ HỌC - CON THÀNH TÀI\n- Họ tên người nhận:  {{ $json.body.name }}\n- Số điện thoại:  {{ $json.body.phone }}\n- Email:  {{ $json.body.email }}\n---------------\nBạn hãy tiếp tục chia sẻ quà tặng này đến nhiều người bạn khác của mình để tích điểm và mở thêm nhiều phần quà khác nữa!\n\nLink chia sẻ của bạn: https://hitacamp.vn/viral-game-summer-2023/?c{{ $json.body.lead_id }}Le\n---------------\nÀ, bạn nhớ tải app HitaFun và đăng ký tài khoản trùng với số điện thoại {{ $json.body.phone }} của bạn để nhận thông báo tức thời khi giới thiệu được 1 bạn mới nhé!\n\niOS: https://apps.apple.com/us/app/hitafun/id6447607019\nAndroid: https://play.google.com/store/apps/details?id=com.hitawallet.tamtriluc&pli=1\n-----------\nNếu người được bạn giới thiệu có phát sinh đơn hàng tại Tâm Trí Lực, bạn còn nhận được hoa hồng thông báo qua HitaFun nữa nè!","options":{"replyTo":"cskh@tamtriluc.com"}},"id":"9ad423c5-199e-4787-990f-0abe51ecab36","name":"Send Email1","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[680,120],"credentials":{"smtp":{"id":"116","name":"cskh5@hitacamp.vn"}},"continueOnFail":true}],"connections":{"Webhook":{"main":[[{"node":"Get Info Ref","type":"main","index":0},{"node":"Enroll Thinkific","type":"main","index":0},{"node":"Send Email1","type":"main","index":0}]]},"Get Info Ref":{"main":[[{"node":"Get Code Ref","type":"main","index":0},{"node":"IF","type":"main","index":0}]]},"Get Code Ref":{"main":[[{"node":"Create New Customer","type":"main","index":0}]]},"IF":{"main":[[{"node":"Set1","type":"main","index":0}],[{"node":"IF1","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"IF1":{"main":[[{"node":"Set2","type":"main","index":0}],[{"node":"Set3","type":"main","index":0}]]},"Set2":{"main":[[{"node":"Send Email","type":"main","index":0},{"node":"Enroll Thinkific1","type":"main","index":0}]]},"Set3":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Create New Customer":{"main":[[{"node":"IF2","type":"main","index":0}]]},"IF2":{"main":[[{"node":"NotiHitaFun","type":"main","index":0}],[{"node":"NotiHitaFun1","type":"main","index":0}]]}},"settings":{"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"508"},"staticData":null,"pinData":{"Get Code Ref":[{"json":{"error":"Đã có dữ liệu","data":{"code":"KHT2687302"}},"pairedItem":{"item":0}}],"Get Info Ref":[{"json":{"campaign":"3","hoten":"Lê Hồng Quân","mail":"lehongquan@gmail.com","date":"July 18, 2023","dienthoai":"0985767138","messid":"","city":"","state":"N/A","address":"N/A","IP":"bfa68a6d375419c1aad66ab82e42adc6","ref_id":"","lead_id":"18","ref_code":"c18Le","points":"6","views":"79"}}]},"versionId":"7d80c032-422a-4263-a22a-5abc1132fd01","triggerCount":1,"tags":[]}