viral cmh-ctt 0723-206.json
{"createdAt":"2023-07-19T11:15:06.627Z","updatedAt":"2023-07-19T12:07:56.000Z","id":"206","name":"Viral CMH-CTT 0723","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"viral-cmh-ctt-0723","options":{}},"id":"da9bc163-a3cb-4a95-86bb-5bf3c08de476","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[480,420],"webhookId":"d57b1210-7bd7-43c8-8a0f-e1fb5f339314"},{"parameters":{"url":"=https://hitacamp.vn/wp-content/plugins/listeruption2/inc/points.php?id={{ $json.body.campaign }}&lead={{ $json.body.ref_id }}&token=cggqcdct","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"adf3ac1a-d6dd-4fa7-9ca4-81e0265bcc5e","name":"Get Info Ref","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[700,540]},{"parameters":{"method":"POST","url":"=https://app.n8n.vn/webhook/thinkific","sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"HV"},{"name":"last_name","value":"={{ $json.body.name }}"},{"name":"email","value":"={{ $json.body.email }}"},{"name":"phone","value":"={{ $json.body.phone }}"},{"name":"type","value":"course"},{"name":"learning_id","value":"2238939"}]},"options":{}},"id":"08304083-fd86-4333-8a08-07d4cd95ae73","name":"Enroll Thinkific","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[700,240],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://api.quanchatbot.com/tamtriluc/add-customer.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"fullName","value":"={{ $json.hoten }}"},{"name":"phone","value":"={{ $json.dienthoai }}"},{"name":"email","value":"={{ $json.mail }}"},{"name":"ref_Code","value":"=KHT2687302"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"ee68a4ca-77d3-41d7-ba26-541654e5a67b","name":"Get Code Ref","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[920,540],"continueOnFail":true},{"parameters":{"method":"POST","url":"=https://api.quanchatbot.com/tamtriluc/add-customer.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"fullName","value":"={{ $('Webhook').item.json.body.name }}"},{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"email","value":"={{ $('Webhook').item.json.body.email }}"},{"name":"ref_Code","value":"={{ $json.data.code }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"9e96ffac-3824-429f-bbec-44fff2dbf3f8","name":"Create New Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1100,540]},{"parameters":{"url":"https://api.quanchatbot.com/tamtriluc/add-customer.php?fullName=Test&phone=0999999996&email=test@email.com","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"da583008-95f0-46cf-94e7-bc8ea9aa3087","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[920,360],"disabled":true},{"parameters":{"values":{"string":[{"value":"={{ $json.data.code }}"}]},"options":{}},"id":"f08333f1-f074-4f54-8f08-f3379d938680","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[1140,360],"disabled":true}],"connections":{"Webhook":{"main":[[{"node":"Get Info Ref","type":"main","index":0},{"node":"Enroll Thinkific","type":"main","index":0}]]},"Get Info Ref":{"main":[[{"node":"Get Code Ref","type":"main","index":0}]]},"Get Code Ref":{"main":[[{"node":"Create New Customer","type":"main","index":0}]]},"HTTP Request":{"main":[[]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36","content-length":"101","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br","accept-language":"en-US,en;q=0.9","cache-control":"max-age=0","content-type":"application/x-www-form-urlencoded","origin":"https://hitacamp.vn","referer":"https://hitacamp.vn/","sec-ch-ua":"\"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"114\", \"Google Chrome\";v=\"114\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"iframe","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"115.79.199.39","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"115.79.199.39"},"params":{},"query":{},"body":{"name":"Quân Chatbot","email":"quanchatbot@gmail.com","phone":"0866088807","campaign":"3","lead_id":"19","ref_id":"18"}},"pairedItem":{"item":0}}],"Get Info Ref":[{"json":{"campaign":"3","hoten":"Lê Hồng Quân","mail":"lehongquan@gmail.com","date":"July 18, 2023","dienthoai":"0985767138","messid":"","city":"","state":"N/A","address":"N/A","IP":"bfa68a6d375419c1aad66ab82e42adc6","ref_id":"","lead_id":"18","ref_code":"c18Le","points":"2","views":"42"},"pairedItem":{"item":0}}]},"versionId":"2b6ae5e3-8255-4d08-9824-f9b38b7d40d0","triggerCount":1,"tags":[]}