webhook myvnp--499.json
{"createdAt":"2023-08-30T04:46:21.788Z","updatedAt":"2023-08-30T05:09:02.000Z","id":"499","name":"Webhook MyVNP+","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"myvnpost/journey","responseMode":"responseNode","options":{"ignoreBots":true}},"id":"2969c872-fa32-44ef-958c-b097345620f2","name":"MyVNP+","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[720,580],"webhookId":"acbb2b87-451a-41e7-bee8-111abcde7f5a"},{"parameters":{"fieldToSplitOut":"body.data","options":{"destinationFieldName":"data"}},"id":"0f8055af-8f73-452f-b6af-43a46ff9dc2d","name":"Split Item Data","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[940,580]},{"parameters":{"method":"POST","url":"https://postmart.com.vn/apis/v1/webhook/myvnpost","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.data }}","options":{"batching":{"batch":{"batchSize":1,"batchInterval":2000}},"response":{"response":{"fullResponse":true}}}},"id":"4dceeeab-4fb8-4daf-8ce3-d346b71b4159","name":"PostMart","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1160,580]}],"connections":{"MyVNP+":{"main":[[{"node":"Split Item Data","type":"main","index":0}]]},"Split Item Data":{"main":[[{"node":"PostMart","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"MyVNP+":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"PostmanRuntime/7.32.3","content-length":"4760","accept":"*/*","accept-encoding":"gzip, deflate, br","content-type":"application/json","postman-token":"8163aea4-8e6c-42e2-9f51-eb223fe8e1f8","x-forwarded-for":"222.252.27.175","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"222.252.27.175"},"params":{},"query":{},"body":{"data":[{"orderHdrId":"c50c7b4e2c8f43f1a2727c9cb7c6980f","originalId":"c50c7b4e2c8f43f1a2727c9cb7c6980f","itemCode":"EV615200693VN","originalItemCode":"EV615200693VN","status":"2","statusTime":"2023-08-30 07:36:41","saleOrderCode":"600022301","senderCode":"T002260312","senderContractNumber":"POSTMART","senderName":"Trịnh Xuân Tiến","senderPhone":"+84978558925","senderEmail":null,"senderAddress":"Xóm 5, Vĩnh Lộc, Vĩnh Lộc, Thanh Hóa","senderProvinceCode":"40","senderDistrictCode":"4110","senderCommuneCode":"41106","senderPostcode":"41106","receiverCode":null,"receiverName":"Lê Văn Thuận","receiverContractNumber":null,"receiverAddress":"thôn xuân Giai , Vĩnh Tiến, Vĩnh LộcThanh Hóa","receiverProvinceCode":"40","receiverDistrictCode":"4110","receiverCommCode":"41112","receiverPostcode":"41112","receiverPhone":"+84945420789","receiverEmail":null,"serviceCode":"ETN031","totalFee":"12776","mainFee":"12776","vasFee":"0","codAmount":"2051040","weight":"1200","length":null,"width":null,"height":null,"dimWeight":"0","priceWeight":"1200","deliveryInstruction":" ","contentNote":"Hạt sen khô  Gói 1 kg","sendType":"1","deliveryTime":"N","deliveryRequire":null,"undeliverableReason":null,"deliveryReceiver":null,"orgCodeAccept":"446700","updatedDate":"2023-08-30 07:47:28","acceptedDate":null,"paymentStatus":"0"},{"orderHdrId":"a91436ea7642495eb5afbf072534503d","originalId":"a91436ea7642495eb5afbf072534503d","itemCode":"EV615452710VN","originalItemCode":"EV615452710VN","status":"9","statusTime":"2023-08-30 07:36:19","saleOrderCode":"600022201","senderCode":"T002260312","senderContractNumber":"POSTMART","senderName":"Trịnh Xuân Tiến","senderPhone":"+84978558925","senderEmail":null,"senderAddress":"Xóm 5, Vĩnh Phúc, Vĩnh Lộc, Thanh Hóa","senderProvinceCode":"40","senderDistrictCode":"4110","senderCommuneCode":"41107","senderPostcode":"41107","receiverCode":null,"receiverName":"Lê Văn Thuận","receiverContractNumber":null,"receiverAddress":"thôn xuân Giai xã Vĩnh Tiến, huyện Vĩnh Lộc tỉnh Thanh Hóa, Vĩnh Tiến, Vĩnh LộcThanh Hóa","receiverProvinceCode":"40","receiverDistrictCode":"4110","receiverCommCode":"41112","receiverPostcode":"41112","receiverPhone":"+84945420789","receiverEmail":null,"serviceCode":"ETN031","totalFee":"12776","mainFee":"12776","vasFee":"0","codAmount":"2051040","weight":"1200","length":null,"width":null,"height":null,"dimWeight":"0","priceWeight":"1200","deliveryInstruction":" ","contentNote":"Hạt sen khô  Gói 1 kg","sendType":"1","deliveryTime":"N","deliveryRequire":null,"undeliverableReason":null,"deliveryReceiver":null,"orgCodeAccept":"446700","updatedDate":"2023-08-30 07:47:29","acceptedDate":null,"paymentStatus":"0"}],"sendDate":"2023-08-30T07:47:44","signature":"dQHFz64wzu9kg+i3MbobMscOBuTv0FNwYcWEUA2sjxq+G95KBCLRMbIh/yVSPTOAp4xEJakoJPzvNT7u5MDzw2HCfmmUwt82ogw21FCBuxtrGlw5pNlW5lrM+HoLYVooQSPkg6bqNHXQn793S0MrUwPMs6ViUC9U4Sono7RwyVTIVgxN+j21oiAsw6WdcQ3PT2aSNPbQzqy3IOqZTkWFhk1YmlU88abUytqisW0nzYcja8WOnwxlkoq2NOrGeO1St14uqpGQ7QgxZQwnWSBmDhKVmeGi7qJ/lrUstoC1qanFArddtc7haNYRSlxFtk6qXn/GLQO3LS6MALbo/UjkDw=="}},"pairedItem":{"item":0}}],"Split Item Data":[{"json":{"data":{"orderHdrId":"c50c7b4e2c8f43f1a2727c9cb7c6980f","originalId":"c50c7b4e2c8f43f1a2727c9cb7c6980f","itemCode":"EV615200693VN","originalItemCode":"EV615200693VN","status":"2","statusTime":"2023-08-30 07:36:41","saleOrderCode":"600022301","senderCode":"T002260312","senderContractNumber":"POSTMART","senderName":"Trịnh Xuân Tiến","senderPhone":"+84978558925","senderEmail":null,"senderAddress":"Xóm 5, Vĩnh Lộc, Vĩnh Lộc, Thanh Hóa","senderProvinceCode":"40","senderDistrictCode":"4110","senderCommuneCode":"41106","senderPostcode":"41106","receiverCode":null,"receiverName":"Lê Văn Thuận","receiverContractNumber":null,"receiverAddress":"thôn xuân Giai , Vĩnh Tiến, Vĩnh LộcThanh Hóa","receiverProvinceCode":"40","receiverDistrictCode":"4110","receiverCommCode":"41112","receiverPostcode":"41112","receiverPhone":"+84945420789","receiverEmail":null,"serviceCode":"ETN031","totalFee":"12776","mainFee":"12776","vasFee":"0","codAmount":"2051040","weight":"1200","length":null,"width":null,"height":null,"dimWeight":"0","priceWeight":"1200","deliveryInstruction":" ","contentNote":"Hạt sen khô  Gói 1 kg","sendType":"1","deliveryTime":"N","deliveryRequire":null,"undeliverableReason":null,"deliveryReceiver":null,"orgCodeAccept":"446700","updatedDate":"2023-08-30 07:47:28","acceptedDate":null,"paymentStatus":"0"}},"pairedItem":{"item":0}},{"json":{"data":{"orderHdrId":"a91436ea7642495eb5afbf072534503d","originalId":"a91436ea7642495eb5afbf072534503d","itemCode":"EV615452710VN","originalItemCode":"EV615452710VN","status":"9","statusTime":"2023-08-30 07:36:19","saleOrderCode":"600022201","senderCode":"T002260312","senderContractNumber":"POSTMART","senderName":"Trịnh Xuân Tiến","senderPhone":"+84978558925","senderEmail":null,"senderAddress":"Xóm 5, Vĩnh Phúc, Vĩnh Lộc, Thanh Hóa","senderProvinceCode":"40","senderDistrictCode":"4110","senderCommuneCode":"41107","senderPostcode":"41107","receiverCode":null,"receiverName":"Lê Văn Thuận","receiverContractNumber":null,"receiverAddress":"thôn xuân Giai xã Vĩnh Tiến, huyện Vĩnh Lộc tỉnh Thanh Hóa, Vĩnh Tiến, Vĩnh LộcThanh Hóa","receiverProvinceCode":"40","receiverDistrictCode":"4110","receiverCommCode":"41112","receiverPostcode":"41112","receiverPhone":"+84945420789","receiverEmail":null,"serviceCode":"ETN031","totalFee":"12776","mainFee":"12776","vasFee":"0","codAmount":"2051040","weight":"1200","length":null,"width":null,"height":null,"dimWeight":"0","priceWeight":"1200","deliveryInstruction":" ","contentNote":"Hạt sen khô  Gói 1 kg","sendType":"1","deliveryTime":"N","deliveryRequire":null,"undeliverableReason":null,"deliveryReceiver":null,"orgCodeAccept":"446700","updatedDate":"2023-08-30 07:47:29","acceptedDate":null,"paymentStatus":"0"}},"pairedItem":{"item":0}}]},"versionId":"0d671c8e-2808-4683-b7f1-b39430bdf110","triggerCount":0,"tags":[]}