webhook khách hàng-528.json
{"createdAt":"2023-09-13T01:51:15.320Z","updatedAt":"2023-09-23T01:55:35.000Z","id":"528","name":"WebHook Khách hàng","active":false,"nodes":[{"parameters":{},"id":"b58a6265-6c24-4592-9317-22c3c90a6ad4","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[840,480]},{"parameters":{"url":"https://api.grab.com/food/merchant/v3/orders/53040997-C4LWAKADCP62C6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authority","value":"api.grab.com"},{"name":"accept","value":"application/json"},{"name":"accept-language","value":"en"},{"name":"authorization","value":"eyJhbGciOiJSUzI1NiIsImtpZCI6Il9kZWZhdWx0IiwidHlwIjoiSldUIn0.eyJhdWQiOiJNRVhVU0VSUyIsImVzaSI6ImFkUGI1MHFaOFNjcWNrcVhSRlFiaVAyU1pRMWJOSkM3VmtBNHhFUXIyUlM0bnQ3ZHdWVDVMRHV3aStIQzJRPT0iLCJleHAiOjIyMzUzOTYxMTgsImlhdCI6MTY5NTM5NjExNSwianRpIjoiMWI2ODUwYWUtZDI3MC00MGEyLWJiZDYtNDY1MTY0NWZmM2ZjIiwibG1lIjoiTkFUSVZFIiwibmFtZSI6IiIsInN1YiI6ImRkZmM4YzIwLWQwMzEtNDRjNS1iN2NiLWEzMWVlZjM1OTc1YSJ9.ZWm3jU8cOOFJ2c8GEQD_PmAsjscaPS5WHe8cRyRzdJrDMwu6JF3RJNMXj91PM-khZYXohirO6jJK187mWTGubcA4njTJ5V-e8YTvP1QCqTBaNomRl8ricg_POdpOzmO8RFbvm6-10XXoV_sSsMygo7HWSd7yrfBE4laqK4b3FkWYzZ2u3VUYQ2tSqdkDGr0hOeclIME8DkU7C-JLu2HcBGl8OReyXa1_VmHvMWPvN6E4gTyN69SFkNWZXdoxZbce3xvKNNzOXSp9k1sqz9tLEu3gcb26Ho1OgwpaLLb__XJr7MbpDRk1asHdy-7c5igbxQ6uaWhY-iGKSNcmHy9BMA"},{"name":"merchantid","value":"5-C24YJFK2GXM1LJ"},{"name":"origin","value":"https://merchant.grab.com"},{"name":"referer","value":"https://merchant.grab.com/"},{"name":"requestsource","value":"troyPortal"},{"name":"sec-ch-ua","value":"\"Chromium\";v=\"116\", \"Not)A;Brand\";v=\"24\", \"Google Chrome\";v=\"116\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"macOS\""},{"name":"sec-fetch-dest","value":"empty"},{"name":"sec-fetch-mode","value":"cors"},{"name":"sec-fetch-site","value":"same-site"},{"name":"user-agent","value":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"}]},"options":{}},"id":"98472df4-c6fa-4f4f-8d11-1a017b78e065","name":"Grab HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1060,480]},{"parameters":{"values":{"string":[{"name":"=product","value":"={{ $json[\"order\"][\"itemInfo\"][\"items\"] }}"}]},"options":{}},"id":"9457c613-d7ef-40bb-b2d2-29e68f1846ba","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[1240,480]},{"parameters":{"batchSize":1,"options":{}},"id":"fe719c63-e386-4e23-bb6a-410dab0c7802","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1460,480]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Grab HTTP","type":"main","index":0}]]},"Grab HTTP":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"a9bba613-cf8f-4d62-92be-dd61dd728ff1","triggerCount":1,"tags":[]}