webhook myvnp--499.json
{"createdAt":"2023-08-30T04:46:21.788Z","updatedAt":"2023-10-24T04:47:07.000Z","id":"499","name":"Webhook MyVNP+","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"myvnpost/journey","options":{}},"id":"2969c872-fa32-44ef-958c-b097345620f2","name":"MyVNP+","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[720,580],"webhookId":"acbb2b87-451a-41e7-bee8-111abcde7f5a"},{"parameters":{"fieldToSplitOut":"body.data","options":{"destinationFieldName":"data"}},"id":"0f8055af-8f73-452f-b6af-43a46ff9dc2d","name":"Split Item Data","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1060,580]},{"parameters":{"method":"POST","url":"https://postmart.com.vn/apis/v1/webhook/myvnpost","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.data }}","options":{"response":{"response":{"fullResponse":true}}}},"id":"4dceeeab-4fb8-4daf-8ce3-d346b71b4159","name":"PostMart","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1560,560],"retryOnFail":true,"waitBetweenTries":5000,"maxTries":5},{"parameters":{"batchSize":1,"options":{}},"id":"8b1cc9a0-4293-40cc-9fc9-29aba1c0b5f6","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1320,580]},{"parameters":{"chatId":"=-548413896","text":"=MyVNP+\nLại bắn đơn {{ $('MyVNP+').item.json.body.sendDate }}","additionalFields":{}},"id":"36bf6029-287d-46d0-984f-3ba458edd5fe","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1060,800],"credentials":{"telegramApi":{"id":"85","name":"Telegram account"}},"disabled":true}],"connections":{"MyVNP+":{"main":[[{"node":"Split Item Data","type":"main","index":0},{"node":"Telegram","type":"main","index":0}]]},"Split Item Data":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"PostMart","type":"main","index":0}]]},"PostMart":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"f41ea87d-4413-4724-b641-a23ca6a4532f","triggerCount":1,"tags":[]}