wiki-test-huy-l-m--84.json
{"createdAt":"2023-04-27T02:06:49.551Z","updatedAt":"2023-04-28T01:35:00.000Z","id":"84","name":"wiki - test (Huy làm)","active":false,"nodes":[{"parameters":{},"id":"dd59dbc9-0fe2-4e61-99ef-02567539e83e","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[880,440],"disabled":true},{"parameters":{"resource":"spreadsheet","options":{}},"id":"d309736c-32d3-4be2-9547-e03932da656b","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[1100,440],"credentials":{"googleSheetsOAuth2Api":{"id":"35","name":"Google Sheets ngothaikhang@gmail.com"}},"disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"18EUJ28peNa8if24MWU_Xo4TdVRhzr580XGFMrgZSC_I","mode":"list","cachedResultName":"ThongTinLienHe","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18EUJ28peNa8if24MWU_Xo4TdVRhzr580XGFMrgZSC_I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2014722475,"mode":"list","cachedResultName":"Câu trả lời biểu mẫu 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18EUJ28peNa8if24MWU_Xo4TdVRhzr580XGFMrgZSC_I/edit#gid=2014722475"},"event":"rowAdded","options":{}},"id":"b7e5e50d-327d-4b8f-a14b-a63146ef33b6","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[980,200],"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"38","name":"Google Sheets Trigger account"}}},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"{   \"app_id\": \"cli_a4c3e66985f8900a\",   \"app_secret\": \"ZLlDbTSOFGmX37k65jikZfsqEb2VF7jy\" }","options":{}},"id":"4bb8257e-2214-4425-a0cf-b23293e681ac","name":"Lark_tenant","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1200,200]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/ARcGbz0BFacQmvsul7puvr34s1c/tables/tbl3PJDos4rFO52t/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"records\":[{\"fields\":{\"Lead_NAME\":\"{{ $node[\"Google Sheets Trigger\"].json[\"Tên\"] }}\",\"SDT\":\"{{ $node[\"Google Sheets Trigger\"].json[\"Số điện thoại\"] }}\",\"Email\":\"{{ $node[\"Google Sheets Trigger\"].json[\"Địa chỉ email\"] }}\"}}]}","options":{}},"id":"306875c8-03cc-4006-919c-a1873f301ef6","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1420,200]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Lark_tenant","type":"main","index":0}]]},"Lark_tenant":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"0b74b5d7-d3f4-4bbb-a828-84b696711a2f","triggerCount":0,"tags":[]}