wiwi - khang bổ sung-86.json
{"createdAt":"2023-04-28T01:23:55.689Z","updatedAt":"2023-04-28T15:01:40.000Z","id":"86","name":"wiwi - Khang bổ sung","active":false,"nodes":[{"parameters":{},"id":"bb37b1d3-c38d-407c-921e-6658288f81e5","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[880,440],"disabled":true},{"parameters":{"resource":"spreadsheet","options":{}},"id":"949ea22b-c9f8-4584-9ad1-2c1de953ce6d","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[1100,440],"credentials":{"googleSheetsOAuth2Api":{"id":"35","name":"Google Sheets ngothaikhang@gmail.com"}},"disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"18EUJ28peNa8if24MWU_Xo4TdVRhzr580XGFMrgZSC_I","mode":"list","cachedResultName":"ThongTinLienHe","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18EUJ28peNa8if24MWU_Xo4TdVRhzr580XGFMrgZSC_I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2014722475,"mode":"list","cachedResultName":"Câu trả lời biểu mẫu 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18EUJ28peNa8if24MWU_Xo4TdVRhzr580XGFMrgZSC_I/edit#gid=2014722475"},"event":"rowAdded","options":{}},"id":"5ce1de56-482e-40ec-ae18-d03002ab1aa0","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[880,200],"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"38","name":"Google Sheets Trigger account"}}},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/bitable/v1/apps/ARcGbz0BFacQmvsul7puvr34s1c/tables/tbl3PJDos4rFO52t/records/batch_create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json[\"app_access_token\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\":[{\"fields\":{\"Lead_NAME\":\"{{ $node[\"Google Sheets Trigger\"].json[\"Tên\"] }}\",\"SDT\":\"{{ $node[\"Google Sheets Trigger\"].json[\"Số điện thoại\"] }}\",\"Email\":\"{{ $node[\"Google Sheets Trigger\"].json[\"Địa chỉ email\"] }}\",\"Dangkylampublisher\":\"{{ $node[\"Google Sheets Trigger\"].json[\"Đăng ký Publisher\"] }}\" }}]}","options":{}},"id":"f2e63738-5d9a-4970-97ab-8df63279a476","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1340,200]},{"parameters":{"method":"POST","url":"https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal","sendBody":true,"specifyBody":"json","jsonBody":"{   \"app_id\": \"cli_a4c3e66985f8900a\",   \"app_secret\": \"ZLlDbTSOFGmX37k65jikZfsqEb2VF7jy\" }","options":{}},"id":"8c9004d8-56a0-4bca-8f71-e1731b5604fd","name":"(http) Lark_tenant","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1100,200]},{"parameters":{"options":{}},"id":"37431dfc-c5e5-4e34-a562-031167a49355","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1320,440],"disabled":true}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"(http) Lark_tenant","type":"main","index":0}]]},"(http) Lark_tenant":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Google Sheets Trigger":{"documentId":"18EUJ28peNa8if24MWU_Xo4TdVRhzr580XGFMrgZSC_I","sheetId":2014722475,"lastIndexChecked":2}},"pinData":{},"versionId":"1298aa59-8925-4059-a2cb-cb12a307a876","triggerCount":1,"tags":[]}