woo thinkific-196.json
{"createdAt":"2023-07-19T04:20:22.166Z","updatedAt":"2023-07-19T04:20:22.166Z","id":"196","name":"Woo Thinkific","active":false,"nodes":[{"parameters":{"event":"order.updated"},"id":"4f11ecba-4ae7-430a-a542-218034a5e9ea","name":"WooCommerce Trigger","type":"n8n-nodes-base.wooCommerceTrigger","typeVersion":1,"position":[-780,640],"webhookId":"198a1f16-18f4-4a81-b65e-05c0f9e70db8","alwaysOutputData":false,"credentials":{"wooCommerceApi":{"id":"81","name":"HitaCamp.vn"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status }}","value2":"completed"}]}},"id":"a8d56d8d-9a81-4432-92a2-e3ec4d8216e1","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-560,640]},{"parameters":{"url":"=https://hitacamp.vn/wp-json/woo_smaxbot/get_order?secret=6688&order_id={{ $json.id }}","options":{}},"id":"c21270ab-6598-4d6b-9f21-f845ab95de9a","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-360,640],"retryOnFail":true,"continueOnFail":true},{"parameters":{"fieldToSplitOut":"set_attributes.item_array","include":"selectedOtherFields","fieldsToInclude":{"fields":[{"fieldName":"set_attributes.first_name"},{"fieldName":"set_attributes.order_email"},{"fieldName":"set_attributes.order_phone"},{"fieldName":"set_attributes.messid"},{"fieldName":"set_attributes.order_id"},{"fieldName":"set_attributes.order_key"}]},"options":{}},"id":"f1a9ef0a-6a02-4335-bea0-f8d7bb96dc80","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":2,"position":[-160,640]},{"parameters":{"method":"POST","url":"https://n8.quanchatbot.com/webhook/thinkific","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"first_name\": \"HV\",\n  \"last_name\": \"{{ $node[\"Item Lists\"].json[\"set_attributes.first_name\"] }}\",\n  \"email\": \"{{ $node[\"Item Lists\"].json[\"set_attributes.order_email\"] }}\",\n\"phone\": \"{{ $node[\"Item Lists\"].json[\"set_attributes.order_phone\"] }}\",\n\"messid\": \"{{ $node[\"Item Lists\"].json[\"set_attributes.messid\"] }}\",\n  \"password\": \"TG2023@TTL\",\n\"type\":\"{{ $json[\"set_attributes\"][\"learning_type\"] }}\",\n\"learning_id\":{{ $json[\"set_attributes\"][\"learning_id\"] }}\n}\n","options":{}},"id":"43b3c9a3-a94f-4885-825a-843af766e55c","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[740,640],"continueOnFail":true},{"parameters":{"url":"=https://hitacamp.vn/wp-json/woo_smaxbot/info_product?secret=6688&product_id={{ $json['set_attributes.item_array'] }}","options":{}},"id":"87aa0745-63fa-49b5-978f-b2d05ebb7ac8","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[40,640],"retryOnFail":true,"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.set_attributes.learning_type }}","operation":"isNotEmpty"},{"value1":"={{ $json.set_attributes.learning_id }}","operation":"isNotEmpty"}]}},"id":"785cfba5-8d2d-4f06-9039-0bb5f229cb1a","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[220,640]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"12460VAZX-Qpt_agGBn7J0EVpsW050Mp7FN2aFZlA8Vc","mode":"list","cachedResultName":"Data Đơn hàng Hitacamp.vn","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12460VAZX-Qpt_agGBn7J0EVpsW050Mp7FN2aFZlA8Vc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12460VAZX-Qpt_agGBn7J0EVpsW050Mp7FN2aFZlA8Vc/edit#gid=0"},"columnToMatchOn":"OrderID","valueToMatchOn":"={{ $json.set_attributes.order_id }}","fieldsUi":{"values":[{"column":"Date","fieldValue":"={{ $node['WooCommerce Trigger'].json.date_created }}"},{"column":"Name","fieldValue":"={{ $json.set_attributes.first_name }}  {{ $json.set_attributes.last_name }}"},{"column":"Phone","fieldValue":"={{ $json.set_attributes.order_phone }}"},{"column":"Email","fieldValue":"={{ $json.set_attributes.order_email }}"},{"column":"OrderKey","fieldValue":"={{ $json.set_attributes.order_key }}"},{"column":"Total","fieldValue":"={{ $json.set_attributes.order_total }}"},{"column":"Status","fieldValue":"={{ $json.set_attributes.order_status }}"},{"column":"Item","fieldValue":"={{ $json.set_attributes.item_id }}"},{"column":"MessID","fieldValue":"={{ $json.set_attributes.messid }}"},{"column":"RefID","fieldValue":"={{ $json.set_attributes.ref_id }}"},{"column":"SmaxChat","fieldValue":"=https://smax.chat/pages/267860490322486/conversation?tid=th_{{ $json.set_attributes.messid }}"},{"column":"OrderByPhone","fieldValue":"=https://hitacamp.vn/chi-tiet-don-hang-theo-dien-thoai/?phone={{ $json.set_attributes.order_phone }}"},{"column":"OrderByEmail","fieldValue":"=https://hitacamp.vn/chi-tiet-don-hang-theo-email/?mail={{ $json.set_attributes.order_email }}"},{"column":"OrderByMessID","fieldValue":"=https://hitacamp.vn/lich-su-don-hang/?messid={{ $json.set_attributes.messid }}"},{"column":"Nguon","fieldValue":"={{ $json.set_attributes.nguon }}"},{"column":"Note","fieldValue":"={{ $json.set_attributes.note }}"},{"column":"Coupon","fieldValue":"={{ $json.set_attributes.order_total_discount }}"}]},"options":{}},"id":"d35e46cb-7319-4d12-8e34-2b1a6a7f0543","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[-340,820],"notesInFlow":false,"credentials":{"googleSheetsOAuth2Api":{"id":"2","name":"Google Sheets lehongquan@gmail.com"}},"continueOnFail":true},{"parameters":{"url":"=https://hitacamp.vn/wp-json/woo_smaxbot/get_order?secret=6688&order_id={{ $json.id }}","options":{}},"id":"2c18881c-e4f2-41d0-b29f-1ed1d4d0c595","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-560,820],"retryOnFail":true,"continueOnFail":true},{"parameters":{"url":"=https://api.quanchatbot.com/tamtriluc/add-customer.php?fullName={{ $node[\"HTTP Request3\"].json[\"set_attributes\"][\"first_name\"] }}&phone={{ $node[\"HTTP Request3\"].json[\"set_attributes\"][\"order_phone\"] }}&email={{ $node[\"HTTP Request3\"].json[\"set_attributes\"][\"order_email\"] }}&ref_Code=KHT2687302","options":{}},"id":"35f2837a-bc13-427d-a7e7-471dcb0e0694","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[160,860],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.set_attributes.nguon }}","operation":"isEmpty"}]}},"id":"416683c9-99af-49d1-b85d-93151734c1e8","name":"IF2","type":"n8n-nodes-base.if","typeVersion":1,"position":[-340,1000]},{"parameters":{"url":"=https://api.quanchatbot.com/tamtriluc/add-customer.php?fullName={{ $node[\"HTTP Request3\"].json[\"set_attributes\"][\"first_name\"] }}&phone={{ $node[\"HTTP Request3\"].json[\"set_attributes\"][\"order_phone\"] }}&email={{ $node[\"HTTP Request3\"].json[\"set_attributes\"][\"order_email\"] }}&ref_Code={{ $node[\"HTTP Request3\"].json[\"set_attributes\"][\"nguon\"] }}","options":{}},"id":"a9b2febd-28c4-4895-90ea-baf979b00a73","name":"HTTP Request5","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[140,1060],"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['HTTP Request3'].json.set_attributes.nguon }}","operation":"contains","value2":"KH"}]}},"id":"91cf2a6d-9e81-4706-8281-4da13aef459f","name":"IF3","type":"n8n-nodes-base.if","typeVersion":1,"position":[-80,1060]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.set_attributes.learning_type }}","operation":"contains","value2":"course"},{"value1":"={{ $json.set_attributes.learning_type }}","operation":"contains","value2":"bundle"}]},"combineOperation":"any"},"id":"a11ab1ef-eddd-451a-a2fa-04a27feacd5b","name":"IF Course/Bundle","type":"n8n-nodes-base.if","typeVersion":1,"position":[400,620]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.set_attributes.learning_type }}","value2":"5ptb"}]},"combineOperation":"any"},"id":"20aac9fd-8e5f-4284-8748-bc9e1f4bf7ba","name":"IF 5ptb","type":"n8n-nodes-base.if","typeVersion":1,"position":[540,920]},{"parameters":{"method":"POST","url":"https://n8.quanchatbot.com/webhook/get-key-5ptb","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"order_id","value":"={{ $node[\"Item Lists\"].json[\"set_attributes.order_id\"] }}"},{"name":"order_key","value":"={{ $node[\"Item Lists\"].json[\"set_attributes.order_key\"] }}"},{"name":"full_name","value":"={{ $node[\"Item Lists\"].json[\"set_attributes.first_name\"] }}"},{"name":"order_email","value":"={{ $node[\"Item Lists\"].json[\"set_attributes.order_email\"] }}"},{"name":"order_phone","value":"={{ $node[\"Item Lists\"].json[\"set_attributes.order_phone\"] }}"},{"name":"messid","value":"={{ $node[\"Item Lists\"].json[\"set_attributes.messid\"] }}"},{"name":"class","value":"={{ $json[\"set_attributes\"][\"learning_id\"] }}"}]},"options":{}},"id":"5bb5f7b7-150b-4c4e-8599-3d3f4bc9397a","name":"Key 5PTB  theo môn","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[720,920],"continueOnFail":true},{"parameters":{"method":"POST","url":"https://api.tamtriluc.com/api/vi-VN/Order/AddShare","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9lbWFpbGFkZHJlc3MiOiI4MyIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL2dpdmVubmFtZSI6IkFkbWluIiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvc2lkIjoiODMiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoibGVob25ncXVhbiIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL21vYmlsZXBob25lIjoiODMiLCJleHAiOjE3MTc5MjgxNzAsImlzcyI6Imh0dHBzOi8vc2lldXRyaW5ob2hvY2R1b25nLmNvbSIsImF1ZCI6Imh0dHBzOi8vc2lldXRyaW5ob2hvY2R1b25nLmNvbSJ9.fEcG5ssHtwWgi-vKJkbyheEMVxZBV4uHR2WPupS9hDw"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"salePhone\": \"0985767138\",\n  \"acceptedPhone\": \"0985767138\",\n  \"note\": \"Auto\",\n  \"totalAmount\": {{ $node[\"WooCommerce Trigger\"].json[\"total\"] }},\n  \"fullName\": \"{{ $node[\"Item Lists\"].json[\"set_attributes.first_name\"] }}\",\n  \"email\": \"{{ $node[\"Item Lists\"].json[\"set_attributes.order_email\"] }}\",\n  \"phone\": \"{{ $node[\"Item Lists\"].json[\"set_attributes.order_phone\"] }}\",\n  \"address\": \"\",\n  \"payTypeCode\": \"100\",\n\"orderCodeHitaBot\":\"{{ $node[\"WooCommerce Trigger\"].json[\"id\"] }}\",\n  \"orderDetail\": [\n    {\n      \"productId\": 333,\n      \"quantity\": 1\n    }\n  ]\n}","options":{}},"id":"ea715e72-dc29-45f5-9430-a81df9a1dac9","name":"HTTP Request6","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[940,480],"disabled":true},{"parameters":{"method":"POST","url":"https://api.tamtriluc.com/api/vi-VN/Order/AddShare","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9lbWFpbGFkZHJlc3MiOiI4MyIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL2dpdmVubmFtZSI6IkFkbWluIiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvc2lkIjoiODMiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoibGVob25ncXVhbiIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL21vYmlsZXBob25lIjoiODMiLCJleHAiOjE3MTc5MjgxNzAsImlzcyI6Imh0dHBzOi8vc2lldXRyaW5ob2hvY2R1b25nLmNvbSIsImF1ZCI6Imh0dHBzOi8vc2lldXRyaW5ob2hvY2R1b25nLmNvbSJ9.fEcG5ssHtwWgi-vKJkbyheEMVxZBV4uHR2WPupS9hDw"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"salePhone\": \"0985767138\",\n  \"acceptedPhone\": \"0985767138\",\n  \"note\": \"Auto\",\n  \"totalAmount\": {{ $node[\"WooCommerce Trigger\"].json[\"total\"] }},\n  \"fullName\": \"{{ $node[\"Item Lists\"].json[\"set_attributes.first_name\"] }}\",\n  \"email\": \"{{ $node[\"Item Lists\"].json[\"set_attributes.order_email\"] }}\",\n  \"phone\": \"{{ $node[\"Item Lists\"].json[\"set_attributes.order_phone\"] }}\",\n  \"address\": \"\",\n  \"payTypeCode\": \"100\",\n\"orderCodeHitaBot\":\"{{ $node[\"WooCommerce Trigger\"].json[\"id\"] }}\",\n  \"orderDetail\": [\n    {\n      \"productId\": 333,\n      \"quantity\": 1\n    }\n  ]\n}","options":{}},"id":"3799bf4e-e6af-4553-9977-6b7a3931a309","name":"HTTP Request7","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[860,200],"disabled":true,"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.set_attributes.learning_type }}","value2":"bundle"},{"value1":"={{ $json.set_attributes.learning_id }}","value2":"114378"}]}},"id":"0659bb25-d9a9-4624-bc57-997af9b8725c","name":"IF Bundle Combo PHTT","type":"n8n-nodes-base.if","typeVersion":1,"position":[620,360],"disabled":true,"continueOnFail":true}],"connections":{"WooCommerce Trigger":{"main":[[{"node":"IF","type":"main","index":0},{"node":"HTTP Request3","type":"main","index":0}]]},"IF":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"IF1","type":"main","index":0}]]},"IF1":{"main":[[{"node":"IF Course/Bundle","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Google Sheets","type":"main","index":0},{"node":"IF2","type":"main","index":0}]]},"IF2":{"main":[[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"IF3","type":"main","index":0}]]},"IF3":{"main":[[{"node":"HTTP Request5","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}]]},"IF Course/Bundle":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"IF Bundle Combo PHTT","type":"main","index":0}],[{"node":"IF 5ptb","type":"main","index":0}]]},"IF 5ptb":{"main":[[{"node":"Key 5PTB  theo môn","type":"main","index":0}]]},"IF Bundle Combo PHTT":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"WooCommerce Trigger":[{"json":{"id":22072,"parent_id":0,"status":"completed","currency":"VND","version":"7.7.1","prices_include_tax":false,"date_created":"2023-06-09T14:25:28","date_modified":"2023-06-09T17:45:44","discount_total":"1","discount_tax":"0","shipping_total":"0","shipping_tax":"0","cart_tax":"0","total":"468000","total_tax":"0","customer_id":33,"order_key":"wc_order_fUpoGndlRh3Hh","billing":{"first_name":"Xử Test","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","email":"nguyenngocxu594@gmail.com","phone":"0909477729"},"shipping":{"first_name":"Xử Test","last_name":"","company":"","address_1":"","address_2":"","city":"","state":"","postcode":"","country":"VN","phone":"0909477729"},"payment_method":"bacs","payment_method_title":"Chuyển khoản ngân hàng","transaction_id":"","customer_ip_address":"115.79.199.39","customer_user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36","created_via":"checkout","customer_note":"","date_completed":"2023-06-09T17:45:44","date_paid":"2023-06-09T14:38:13","cart_hash":"328a0eff3b53f9a4f2477e404e25dc58","number":"22072","meta_data":[{"id":656455,"key":"is_vat_exempt","value":"no"},{"id":656456,"key":"marketing_status","value":"1"},{"id":656458,"key":"wvw_currency_rate","value":"1"},{"id":656459,"key":"wvw_price_format","value":{"ex_tax_label":false,"currency":"VND","decimal_separator":",","thousand_separator":".","decimals":0,"price_format":"%2$s&nbsp;%1$s"}},{"id":656462,"key":"_woofunnel_cid","value":"36"},{"id":656463,"key":"_wfacp_post_id","value":"20467"},{"id":656464,"key":"_wfacp_source","value":"https://hitacamp.vn/dang-ky/qua-tang-giup-con-khong-me-game/"},{"id":656465,"key":"_wfacp_timezone","value":""},{"id":656466,"key":"messid","value":"4501448519887732"},{"id":656467,"key":"nguon","value":""},{"id":656468,"key":"ref_id","value":"R_"},{"id":656469,"key":"_bwfan_order_total_base","value":"468000"},{"id":656470,"key":"_wfocu_funnel_id","value":"20469"},{"id":656471,"key":"_wfocu_funnel_key","value":"0a5f8aa1c88af6e620809d9f7615eb88"},{"id":656472,"key":"_wfocu_version","value":"3.6.0"},{"id":656474,"key":"_wfocu_schedule_status","value":{"order_status":"processing","source_status":"on-hold","time":1686295528}},{"id":656475,"key":"order_key","value":"wc_order_fUpoGndlRh3Hh"},{"id":656478,"key":"_wfocu_upsell_amount","value":"468000"},{"id":656479,"key":"_wfocu_upsell_amount_currency","value":"468000"},{"id":656483,"key":"_wfocu_thankyou_visited","value":"yes"},{"id":656551,"key":"_wfob_stats_ids","value":[]},{"id":656552,"key":"_woofunnel_custid","value":"36"},{"id":656678,"key":"_bwf_customer_refunded","value":"468000"},{"id":657221,"key":"lws_woovip_pro_membership_done","value":"2023-06-09T10:45:47+00:00"},{"id":657222,"key":"lws_woovirtualwallet_add_amount_done","value":"2023-06-09T10:45:47+00:00"},{"id":657223,"key":"lws_woovirtualwallet_add_gems_done","value":"2023-06-09T10:45:47+00:00"}],"line_items":[{"id":10077,"name":"GIÚP CON KHÔNG MÊ GAME","product_id":14563,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"1","subtotal_tax":"0","total":"0","total_tax":"0","taxes":[],"meta_data":[{"id":86424,"key":"_wfacp_product","value":"1","display_key":"_wfacp_product","display_value":"1"},{"id":86425,"key":"_wfacp_product_key","value":"wfacp_6465af5413580","display_key":"_wfacp_product_key","display_value":"wfacp_6465af5413580"},{"id":86426,"key":"_wfacp_options","value":{"title":"GIÚP CON KHÔNG MÊ GAME","discount_type":"fixed_discount_reg","discount_amount":"167999","discount_price":"0","quantity":1,"type":"simple","id":"14563","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"","whats_included":"","enable_delete":"false","old_title":"GIÚP CON KHÔNG MÊ GAME","product_id":"14563","whats_include_heading":"GIÚP CON KHÔNG MÊ GAME","item_key":"wfacp_6465af5413580"},"display_key":"_wfacp_options","display_value":{"title":"GIÚP CON KHÔNG MÊ GAME","discount_type":"fixed_discount_reg","discount_amount":"167999","discount_price":"0","quantity":1,"type":"simple","id":"14563","parent_product_id":"0","stock":"true","is_sold_individually":"false","is_default":true,"org_quantity":1,"you_save_text":"","whats_included":"","enable_delete":"false","old_title":"GIÚP CON KHÔNG MÊ GAME","product_id":"14563","whats_include_heading":"GIÚP CON KHÔNG MÊ GAME","item_key":"wfacp_6465af5413580"}},{"id":86427,"key":"_wfacp_item_discount","value":{"VND":{"regular_price":"168000","sale_price":1}},"display_key":"_wfacp_item_discount","display_value":{"VND":{"regular_price":"168000","sale_price":1}}},{"id":86428,"key":"_lws_wvw_extra_mode","value":"wallet","display_key":"_lws_wvw_extra_mode","display_value":"wallet"}],"sku":"","price":0,"image":{"id":"14564","src":"https://hitacamp.vn/wp-content/uploads/2023/04/ttl_GCKMG_16X9.jpg"},"parent_name":null},{"id":10079,"name":"COMBO PHỤ HUYNH THÔNG THÁI","product_id":14748,"variation_id":0,"quantity":1,"tax_class":"","subtotal":"468000","subtotal_tax":"0","total":"468000","total_tax":"0","taxes":[],"meta_data":[{"id":86441,"key":"_upstroke_purchase","value":"yes","display_key":"_upstroke_purchase","display_value":"yes"}],"sku":"","price":468000,"image":{"id":"15482","src":"https://hitacamp.vn/wp-content/uploads/2023/04/NPP_CMHT_QTANG_2.jpg"},"parent_name":null}],"tax_lines":[],"shipping_lines":[],"fee_lines":[],"coupon_lines":[{"id":10078,"code":"megame0d","discount":"1","discount_tax":"0","meta_data":[{"id":86431,"key":"coupon_data","value":{"id":20464,"code":"megame0d","amount":"100","status":"publish","date_created":{"date":"2023-05-18 04:45:21.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-05-18 04:45:21.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"percent","description":"","usage_count":496,"individual_use":false,"product_ids":[14563],"excluded_product_ids":[],"usage_limit":0,"usage_limit_per_user":0,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"","email_restrictions":[],"virtual":false,"meta_data":[{"id":598981,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":598995,"key":"sc_restrict_to_new_user","value":"no"},{"id":598996,"key":"auto_generate_coupon","value":"no"},{"id":598997,"key":"coupon_title_prefix","value":""},{"id":598998,"key":"coupon_title_suffix","value":""},{"id":598999,"key":"sc_coupon_validity","value":""},{"id":599000,"key":"validity_suffix","value":"days"},{"id":599001,"key":"sc_is_visible_storewide","value":"no"},{"id":599002,"key":"sc_disable_email_restriction","value":"no"},{"id":599003,"key":"is_pick_price_of_product","value":"no"},{"id":599004,"key":"wc_sc_add_product_details","value":[]},{"id":599005,"key":"wc_sc_max_discount","value":""},{"id":599006,"key":"wc_sc_expiry_time","value":""},{"id":599007,"key":"wc_sc_auto_apply_coupon","value":"no"},{"id":599008,"key":"sa_cbl_billing_locations","value":[]},{"id":599009,"key":"wc_sc_payment_method_ids","value":[]},{"id":599010,"key":"wc_sc_shipping_method_ids","value":[]},{"id":599011,"key":"wc_sc_user_role_ids","value":[]},{"id":599012,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":599013,"key":"wc_sc_product_attribute_ids","value":""},{"id":599014,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":599015,"key":"wc_sc_taxonomy_restrictions","value":[]},{"id":599016,"key":"wc_sc_excluded_customer_email","value":[]},{"id":599017,"key":"wc_coupon_message","value":""},{"id":599018,"key":"wc_email_message","value":"no"},{"id":599019,"key":"wc_sc_product_quantity_restrictions","value":{"type":"cart","values":{"cart":{"min":"","max":""},"product":{"14563":{"min":"","max":""}},"product_category":[]},"condition":"any"}}]},"display_key":"coupon_data","display_value":{"id":20464,"code":"megame0d","amount":"100","status":"publish","date_created":{"date":"2023-05-18 04:45:21.000000","timezone_type":1,"timezone":"+00:00"},"date_modified":{"date":"2023-05-18 04:45:21.000000","timezone_type":1,"timezone":"+00:00"},"date_expires":null,"discount_type":"percent","description":"","usage_count":496,"individual_use":false,"product_ids":[14563],"excluded_product_ids":[],"usage_limit":0,"usage_limit_per_user":0,"limit_usage_to_x_items":null,"free_shipping":false,"product_categories":[],"excluded_product_categories":[],"exclude_sale_items":false,"minimum_amount":"","maximum_amount":"","email_restrictions":[],"virtual":false,"meta_data":[{"id":598981,"key":"sa_cbl_locations_lookup_in","value":{"address":"billing"}},{"id":598995,"key":"sc_restrict_to_new_user","value":"no"},{"id":598996,"key":"auto_generate_coupon","value":"no"},{"id":598997,"key":"coupon_title_prefix","value":""},{"id":598998,"key":"coupon_title_suffix","value":""},{"id":598999,"key":"sc_coupon_validity","value":""},{"id":599000,"key":"validity_suffix","value":"days"},{"id":599001,"key":"sc_is_visible_storewide","value":"no"},{"id":599002,"key":"sc_disable_email_restriction","value":"no"},{"id":599003,"key":"is_pick_price_of_product","value":"no"},{"id":599004,"key":"wc_sc_add_product_details","value":[]},{"id":599005,"key":"wc_sc_max_discount","value":""},{"id":599006,"key":"wc_sc_expiry_time","value":""},{"id":599007,"key":"wc_sc_auto_apply_coupon","value":"no"},{"id":599008,"key":"sa_cbl_billing_locations","value":[]},{"id":599009,"key":"wc_sc_payment_method_ids","value":[]},{"id":599010,"key":"wc_sc_shipping_method_ids","value":[]},{"id":599011,"key":"wc_sc_user_role_ids","value":[]},{"id":599012,"key":"wc_sc_exclude_user_role_ids","value":[]},{"id":599013,"key":"wc_sc_product_attribute_ids","value":""},{"id":599014,"key":"wc_sc_exclude_product_attribute_ids","value":""},{"id":599015,"key":"wc_sc_taxonomy_restrictions","value":[]},{"id":599016,"key":"wc_sc_excluded_customer_email","value":[]},{"id":599017,"key":"wc_coupon_message","value":""},{"id":599018,"key":"wc_email_message","value":"no"},{"id":599019,"key":"wc_sc_product_quantity_restrictions","value":{"type":"cart","values":{"cart":{"min":"","max":""},"product":{"14563":{"min":"","max":""}},"product_category":[]},"condition":"any"}}]}}]}],"refunds":[],"payment_url":"https://hitacamp.vn/checkout/order-pay/22072/?pay_for_order=true&key=wc_order_fUpoGndlRh3Hh","is_editable":false,"needs_payment":false,"needs_processing":true,"date_created_gmt":"2023-06-09T07:25:28","date_modified_gmt":"2023-06-09T10:45:44","date_completed_gmt":"2023-06-09T10:45:44","date_paid_gmt":"2023-06-09T07:38:13","store_credit_used":0,"currency_symbol":"₫","_links":{"self":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders/22072"}],"collection":[{"href":"https://hitacamp.vn/wp-json/wc/v3/orders"}],"customer":[{"href":"https://hitacamp.vn/wp-json/wc/v3/customers/33"}]}},"pairedItem":{"item":0}}]},"versionId":"9551524d-9a19-4ebf-885a-4fe7d2e856f7","triggerCount":0,"tags":[]}