zalozns ncmk get access token from refresh token-44.json
{"createdAt":"2023-03-07T12:06:44.816Z","updatedAt":"2023-09-01T08:26:49.000Z","id":"44","name":"zalozns NCMK get access token from refresh token","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://oauth.zaloapp.com/v4/oa/access_token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"secret_key","value":"SL5w2Q2CO9pDY5UIWPmy"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"refresh_token","value":"={{ $json.fields.refresh_token }}"},{"name":"app_id","value":"4407756291557198333"},{"name":"grant_type","value":"refresh_token"}]},"options":{}},"id":"2142f330-f306-4a2a-a505-e5be40f25fd6","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1320,520]},{"parameters":{"application":{"__rl":true,"value":"appg7xGBQYqUYbJAr","mode":"id"},"table":{"__rl":true,"value":"tblWAtHbJemABDvCG","mode":"id"},"id":"recqr9eRsaI69jq2D"},"id":"2a079137-20e2-4216-af2f-4da3223342f2","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":1,"position":[1160,520],"credentials":{"airtableApi":{"id":"20","name":"Airtable: lekhoi456@gmail.com"}}},{"parameters":{"operation":"update","application":{"__rl":true,"value":"appg7xGBQYqUYbJAr","mode":"id"},"table":{"__rl":true,"value":"tblWAtHbJemABDvCG","mode":"id"},"id":"recqr9eRsaI69jq2D","options":{}},"id":"ce566e3f-24ae-42f6-a387-874616641d02","name":"Airtable1","type":"n8n-nodes-base.airtable","typeVersion":1,"position":[1640,520],"credentials":{"airtableApi":{"id":"20","name":"Airtable: lekhoi456@gmail.com"}}},{"parameters":{"jsCode":"let data = $('HTTP Request').first().json.data\nlet result = JSON.parse(data)\nreturn result\n"},"id":"8b9ca8dd-459c-4924-98eb-a01f1e7da85c","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[1480,520]},{"parameters":{"rule":{"interval":[{"triggerAtHour":20}]}},"id":"75c6e8b0-b0b0-404e-9399-955fd1aa1367","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[1000,520]},{"parameters":{},"id":"cf3491a5-3c6c-4d7d-8c48-87715da440e2","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1000,360]}],"connections":{"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"Airtable1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Airtable","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"efe260ec-9a2e-4811-8f45-d272641fffae","triggerCount":1,"tags":[{"createdAt":"2023-02-10T04:34:16.814Z","updatedAt":"2023-02-10T04:34:16.814Z","id":"9","name":"ncmk"}]}