đón hook tiktokshop-483.json
{"createdAt":"2023-08-22T20:48:21.862Z","updatedAt":"2023-08-22T21:07:44.000Z","id":"483","name":"Đón Hook tiktokshop","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"e1088c2d-4c6e-4e37-b387-5158fa53713a","responseMode":"responseNode","options":{}},"id":"ea2f9641-159c-46d3-a73e-e45ca41b1add","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[880,400],"webhookId":"e1088c2d-4c6e-4e37-b387-5158fa53713a"},{"parameters":{"action":"hmac","type":"SHA256","value":"={{ $json.query.result }}","secret":"7228ace3d7d0dd5396e7a2d912bee822521432da"},"id":"1fdec5e1-7c67-4cfb-b64c-43bb427b7dd7","name":"Crypto","type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1100,400]},{"parameters":{"respondWith":"json","responseBody":"={\"sign\":\"{{ $json.data }}\"}","options":{}},"id":"9dd75a60-1d18-48a9-a2e7-66caba4cf394","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1320,400]}],"connections":{"Webhook":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"app.n8n.vn","user-agent":"Go-http-client/2.0","content-length":"0","accept-encoding":"gzip","x-forwarded-for":"130.44.215.169","x-forwarded-host":"app.n8n.vn","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2605f992776","x-real-ip":"130.44.215.169"},"params":{},"query":{"result":"7228ace3d7d0dd5396e7a2d912bee822521432da/api/orders/detail/queryapp_key69nefebhc3looshop_cipherROW_i5P0gAAAAAD_Iu8ISx1Dan10dc7jvuClshop_id7494918425528404519timestamp1692738357version2023057228ace3d7d0dd5396e7a2d912bee822521432da"},"body":{}}}]},"versionId":"578632c7-87b8-4da3-93e2-98241675f433","triggerCount":1,"tags":[]}